#tblTotales th{
    text-align: center;
}

#trFirstHeader th {
    border: 1px solid black;
    vertical-align: middle;
}

#trSecondHeader th{
    border-top: 1px solid;
    border-bottom: 1px solid;
}