@{
    ViewBag.Title = "Contratos";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' />

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">CONTRATOS</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Fase</span>
                <select class="form-control" id="cboFiltroFase" style="width: 100%; height: 33.99px"></select>
            </div>
        </div>
        <div class="col-sm-8 pull-right">
            <button type="button" class="btn btn-success" id="btnFiltroBuscar">Buscar</button>
            <button type="button" class="btn btn-primary" id="btnFiltroNuevoUser">Nuevo</button>
            <!-- <button type="button" class="btn btn-primary" id="btnFiltroLimpiar">Limpiar</button> -->
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tblContratos" class="table table-hover compact" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>

<!-- MODALES -->

<!-- MODAL NUEVA DURACION -->
<div id='mdlDuracion' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Añadir Tipo Duracion</h1>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Nombre</span>
                            <input type ="text" class="form-control" id="txtDuracionNombre">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Duracion</span>
                            <select class="form-control" id="cboDuracionPeriodo" style="width: 100%; height: 33.99px">
                                <option value="0">Dias</option>
                                <option value="1">Meses</option>
                                <option value="2">Años</option>
                                <option value="3">Indefinido</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Cantidad</span>
                            <input type ="number" class="form-control" id="txtDuracionCantidad">
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' data-dismiss='modal' class='btn btn-success' id="btnDuracionAñadir"><i class='fa fa-save'></i>&nbsp;Añadir</button>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL NUEVA DURACION -->

<!-- END: MODALES -->

<!-- JS -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Reclutamientos/CatContratos.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>