@{
    ViewBag.Title = "Relacion de registros patronales";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <!-- PUESTOS -->
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2>AJUSTES (ADITIVA/DEDUCTIVA)</h2>
                </div>
                <div class="panel-body">
                    <!-- FILTROS -->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">CC</span>
                                <select class="form-control" id="cboFiltroCC"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Puesto</span>
                                <select style="width: 100%;" name="" id="cboFiltroPuesto" class="form-control"></select>
                            </div>
                        </div>
                        <div class="pull-right marginRight">
                            <!-- <button type="button" class="btn btn-primary" id="btnFiltroExportar">Exportar</button> -->
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar">Buscar</button>
                            <button type="button" class="btn btn-success" id="btnFiltroAñadir" title="Añadir puesto a la plantilla">Añadir</button>
                            <button type="button" class="btn btn-success" id="btnEditar">Guardar</button>
                        </div>
                    </div>
                    <!-- END: FILTROS -->
                </div>
                <div class="row" style="text-align: center">
                    <b>
                        <h4>Numero de cambios <span id="titleMovimientos">0</span></h4>
                    </b>
                </div>
                <!-- LISTADO DE PUESTOS -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tblPuestos" class="table table-hover compact" style="width:100%;"></table>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table id="tblPuestoDetalle" class="table table-hover compact" style="width:100%;"></table>
                        </div>
                    </div>
                </div>
                <!-- END: LISTADO DE PUESTOS -->
            </div>
        </div>
    </div>
    <!-- END: SOLICITUDES -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODALES -->

<!-- MODAL CC -->
<div id='mdlCC' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>CCs: <span id="spanCCRegPatTitle"></span></h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <table id="tblPuestoss" class="table table-hover table-sm table-bordered compact" style="width:100%;"></table>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CC -->

<!-- MODAL ADD PUESTO -->
<div id='mdlAddPuesto' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Añadir categoria similar: <span id="spanAddPuestoNombre"></span><br><span id="spanAddPuestoCC"></span></h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Puesto</span>
                            <select class="form-control" id="cboAddPuesto" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-success' id="btnAddPuesto"><i class="far fa-edit"></i>&nbsp;Añadir</button>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL ADD PUESTO -->

<!-- END: MODALES -->

<!-- JS -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Reclutamientos/CatCategorias.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>