@{
    var empresa = (int)ViewBag.Empresa;
    
    ViewBag.Title = "Gestión solicitudes";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/GestionSolicitudes.css' rel='stylesheet' />

@if (empresa == 6) {
    <input id="txtEmpresa" style="display: none;" value="6">;
}else if (empresa == 3){
    <input id="txtEmpresa" style="display: none;" value="3">;
}

<div class="row">
    <div class="col-sm-12">
        <h3 class="mt5 mb5">GESTIÓN DE SOLICITUDES</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label>CC</label>
                <select class="form-control" id="cboFiltroCC" style="width: 100%; height: 33.99px"></select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Puesto</label>
                <select class="form-control" id="cboFiltroPuesto" style="width: 100%; height: 33.99px"></select>
            </div>
        </div>

        <div class="col-sm-3 mt25">
            <input type="checkbox" id="chkFiltroAutorizada" data-toggle="toggle" data-on="Autorizada"
                   data-off="Rechazada" data-onstyle="success" data-offstyle="danger" data-width="100" checked="checked">
            <button type="button" class="btn btn-success" id="btnFiltroBuscar">Buscar</button>
            <button type="button" class="btn btn-primary" id="btnFiltroLimpiar">Limpiar</button>
        </div>
    </div>
</div>

<div class="contenedor mt10">
    <div class="row">
        <div class="col-sm-12">
            @* <div class="table-responsive"> *@
            <table id="tblRH_REC_GestionSolicitudes" class="table table-hover table-sm table-bordered compact" style="width:100%;"></table>
            @* </div> *@
        </div>
    </div>
</div>

<!-- CREAR/EDITAR SOLICITUD -->
<div id='mdlCrearEditarSolicitud' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Detalles solicitud</h1>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="checkbox" id="chkCrearEditarPuesto" class="classChkCrearEditarPuesto" data-toggle="toggle" data-on="Puesto nuevo" 
                                    data-off="Puesto existente" data-onstyle="success" data-offstyle="default" checked="checked" data-width="150">
                    </div>
                </div><br>
                <div class='row'>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon">CC</span>
                            <select class="form-control" id="cboCrearEditarCC" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div id="divCboCrearEditarPuesto">
                            <div class="input-group">   
                                <span class="input-group-addon">Puesto</span>
                                <select class="form-control" id="cboCrearEditarPuesto" style="width: 100%; height: 33.99px"></select>
                            </div>
                        </div>
                        <div id="divTxtCrearEditarPuesto">
                            <div class="input-group">   
                                <span class="input-group-addon">Puesto</span>
                                <input type="text" id="txtCrearEditarPuesto" class="form-control">
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class='row'>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon">Motivo</span>
                            <select class="form-control" id="cboCrearEditarMotivo" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon">Sexo</span>
                            <select class="form-control" id="cboCrearEditarSexo" style="width: 100%; height: 33.99px">
                                <option value="">Indistinto</option>
                                <option value="F">Femenino</option>
                                <option value="M">Masculino</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class='row'>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon">Rango edad</span>
                            <input type="text" class="form-control inputRangoEdad no-margin-right" id="txtCrearEditarInicioEdad" />
                            <input type="text" class="form-control inputRangoEdad no-margin-left" id="txtCrearEditarFinEdad" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon">Escolaridad</span>
                            <select class="form-control" id="cboCrearEditarEscolaridad" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">País</span>
                            <select class="form-control" id="cboCrearEditarPais" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">@(empresa == 6 ? "Departamento" : "Estado")<</span>
                            <select class="form-control" id="cboCrearEditarEstado" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">@(empresa == 6 ? "Provinicia" : "Municipio")</span>
                            <select class="form-control" id="cboCrearEditarMunicipio" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Años experiencia</span>
                            <input type="text" class="form-control" id="txtCrearEditarAniosExp" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Cantidad de vacantes</span>
                            <input type="text" class="form-control" id="txtCrearEditarCantVacantes" />
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class='fieldset-custm'>
                            <legend class='legend-custm'>&nbsp;Conocimientos generales&nbsp;</legend>
                            <textarea type="text" class="inputTextArea" id="txtCrearEditarConocimientosGen" rows="5"></textarea>
                        </fieldset>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class='fieldset-custm'>
                            <legend class='legend-custm'>&nbsp;Experiencia especializada&nbsp;</legend>
                            <textarea type="text" class="inputTextArea" id="txtCrearEditarExpEspecializada" rows="5"></textarea>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cerrar</button>  
            </div>
        </div>
    </div>
</div>
<!-- END: CREAR/EDITAR SOLICITUD -->

<!-- CREAR RECHAZO -->
<div id='mdlMotivoRechazo' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Motivo del rechazo</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class="col-lg-12">
                        <textarea type="text" class="inputTextArea" id="txtMotivoRechazoSolicitud" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cerrar</button>  
            </div>
        </div>
    </div>
</div>
<!-- END: CREAR RECHAZO -->

<!-- JS -->
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Reclutamientos/GestionSolicitudes.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>