@{
    ViewBag.Title = "Plataformas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/css/RecursosHumanos/Reclutamientos/Plataformas.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <br><br>
    <!-- PANEL PLATAFORMAS -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>PLATAFORMAS</h2></div>

                <!-- FILTROS -->
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" id="btnFiltroBuscar">Buscar</button>
                            <button type="button" class="btn btn-success" id="btnShowMdlCEPlataforma">Nuevo</button>
                        </div>
                    </div>
                </div>
                <!-- END: FILTROS -->

                <!-- LISTADO DE PLATAFORMAS -->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblRH_REC_CatPlataformas" class="table table-hover table-sm table-bordered compact" style="width: 100%;"></table>
                    </div>
                </div>
                <!-- END: LISTADO DE PLATAFORMAS -->
            </div>
        </div>
    </div>
    <!-- END: PANEL PLATAFORMAS -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- CREAR/EDITAR PLATAFORMAS -->
<div id='mdlCEPlataformas' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i><span id="lblTitleCEPlataforma"></span></h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">*Plataforma</span>
                            <input type="text" id="txtCEPlataforma" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-success" id="btnCEPlataforma"><span id="lblTitleBtnCEPlataforma"></span></button>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-sleft'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: CREAR/EDITAR PLATAFORMAS -->

<!-- SCRIPT -->
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Reclutamientos/Plataformas.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>