@{
    ViewBag.Title = "Relacion de registros patronales";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <!-- SOLICITUDES -->
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2>RELACION DE FASES</h2>
                </div>
                <div class="panel-body">
                    <!-- FILTROS -->
                    <div class="row">
                        <!-- <div class="col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">CC</span>
                                <select class="form-control" id="cboFiltroCC" style="width: 100%; height: 33.99px"></select>
                            </div>
                        </div> -->
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Fase</span>
                                <select class="form-control" id="cboFiltroFase" style="width: 100%; height: 33.99px"></select>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" id="btnFiltroBuscar">Buscar</button>
                            <button type="button" class="btn btn-primary" id="btnFiltroNuevoUser">Nuevo</button>
                            <!-- <button type="button" class="btn btn-primary" id="btnFiltroLimpiar">Limpiar</button> -->
                        </div>
                    </div>
                    <!-- END: FILTROS -->
                </div>
                <!-- LISTADO DE SOLICITUDES -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tblRH_REC_FasesUsuarios" class="table table-hover compact" style="width:100%;"></table>
                        </div>
                    </div>
                </div>
                <!-- END: LISTADO DE SOLICITUDES -->
            </div>
        </div>
    </div>
    <!-- END: SOLICITUDES -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODALES -->

<!-- MODAL CC -->
<div id='mdlUser' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Añadir Usuario</h1>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Fase</span>
                            <select class="form-control" id="cboUserFase" style="width: 100%; height: 33.99px"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-sm-5">
						<div class="input-group marginBottom">   
							<span class="input-group-addon">Num. Empleado</span>
							<input type ="text" class="form-control" id="txtUserNumero">
						</div>
					</div> -->
                    <div class="col-sm-12">
						<div class="input-group marginBottom">   
							<span class="input-group-addon">Empleado</span>
                            <input type ="text" class="form-control" id="txtUserNombre">
						</div>
					</div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' data-dismiss='modal' class='btn btn-success' id="btnUserAñadir"><i class='fa fa-save'></i>&nbsp;Añadir</button>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CC -->

<!-- END: MODALES -->

<!-- JS -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Reclutamientos/RelFases.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>