@{
    ViewBag.Title = "Reporte de seguimiento de candidatos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/RecursosHumanos/Reclutamientos/ReporteSegCandidatos.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <br><br>
    <!-- PANEL REPORTE SEG CANDIDATOS -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>REPORTE SEGUIMIENTO DE CANDIDATOS</h2></div>

                <!-- FILTROS -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">CC</span>
                                <select id="cboFiltroCC" class="form-control"></select>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar" title="Obtener seguimiento de candidatos.">Buscar</button>
                        </div>
                    </div>
                </div>
                <!-- END: FILTROS -->

                <!-- LISTADO DE CANDIDATOS -->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblReporteSegCandidatos" class="table table-hover table-sm table-bordered compact" style="width:100%;"></table>
                    </div>
                </div>
                <!-- END: LISTADO DE CANDIDATOS -->
            </div>
        </div>
    </div>
    <!-- END: PANEL REPORTE SEG CANDIDATOS -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- VISTA PARA CRYSTAL REPORT -->
@Html.Partial("reportViewerView", false)

<!-- SCRIPT -->
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Reclutamientos/ReporteSegCandidatos.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/moment-with-locales.js"></script>

<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>