@{
    ViewBag.Title = "Traspaso";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Administrativo/ControlInterno/RepTraspaso.js"></script>
<div class="container-fluid">
    <div class="row form-group">
        <h1>Reporte de traspaso</h1>
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm"></legend>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label>CC Destino:</label>
                        <select class="form-control" id="cboCC" value=""></select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Orden Traspaso:</label>
                        <input type="text" class="form-control" id="txtFolio" value="" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Almacen Destino:</label>
                        <input type="text" class="form-control" id="txtAlmacen" value="" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="fechaIni">Fecha Inicio:</label>
                        <input type="text" id="fechaIni" value="@(new DateTime(DateTime.Now.Year, 1, 1).ToShortDateString())" class="form-control" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="fechaFin">Fecha Fin:</label>
                        <input type="text" id="fechaFin" value="@DateTime.Now.ToShortDateString()" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pull-right">
                        <div class="col-lg-2 col-xs-4 col-sm-4 col-md-4">
                            <button class="btn btn-success form-control" id="btnBuscarTraspaso">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                        <div class="col-lg-2 col-xs-4 col-sm-4 col-md-4">
                            <button class="btn btn-success form-control" id="btnReporteAbierto" value="35">
                                <span class="glyphicon glyphicon-file"></span> Reporte Mov Abierto
                            </button>
                            
                        </div>
                        <div class="col-lg-2 col-xs-4 col-sm-4 col-md-4">
                            <button class="btn btn-success form-control" id="btnReporteCerrado" value="36">
                                <span class="glyphicon glyphicon-file"></span> Reporte Mov Cerrado
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Movimientos abiertos</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="divMovAbiertosTabla" class="table table-condensed table-hover table-striped text-center">
                            <thead class="bg-table-header">
                                <tr>
                                    <th data-column-id="mov52" data-align="center" data-header-align="center">NÚMERO</th>
                                    <th data-column-id="folio" data-align="center" data-header-align="center">ORDEN TRASPASO</th>
                                    <th data-column-id="almacen_origen" data-align="center" data-header-align="center">ALMACEN ORIGEN</th>
                                    <th data-column-id="almacen_destino" data-align="center" data-header-align="center">ALMACEN DESTINO</th>
                                    <th data-column-id="strfecha" data-align="center" data-header-align="center">FECHA</th>
                                    <th data-column-id="cc" data-align="center" data-header-align="center">CC</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Movimientos cerrados</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="divMovCerradosTabla" class="table table-condensed table-hover table-striped text-center">
                            <thead class="bg-table-header">
                                <tr>
                                    <th data-column-id="numero52" data-align="center" data-header-align="center">NÚMERO SALIDA</th>
                                    <th data-column-id="numero2" data-align="center" data-header-align="center">NÚMERO ENTRADA</th>
                                    <th data-column-id="folio" data-align="center" data-header-align="center">ORDEN TRASPASO</th>
                                    <th data-column-id="almacen_destino" data-align="center" data-header-align="center">ALMACEN DESTINO</th>
                                    <th data-column-id="strfecha_salida" data-align="center" data-header-align="center">FECHA SALIDA</th>
                                    <th data-column-id="strfecha_entrada" data-align="center" data-header-align="center">FECHA ENTRADA</th>
                                    <th data-column-id="cc" data-align="center" data-header-align="center">CC</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    @Html.Partial("reportViewerView", false)
</div>

