.container-fluid {
    margin-top: 45px;
}

.panel-default {
    margin-bottom: 0px;
    border: 0px;
    box-shadow: 4px 3px 10px grey;
    border: 1px solid rgb(237, 125, 49);
}

.panel-heading {
    background: linear-gradient(40deg, rgb(237, 125, 49), rgb(197, 90, 17)) !important;
    border-color: rgb(237, 125, 49);
    color: white !important;
    border-bottom: 0px;
    padding: 1px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 0px 4px 4px 0px !important;
    /* height: 34px !important; */
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}

#btnFiltroBuscar,
#btnFiltroNuevo,
#btnFiltroExportar {
    background-color: rgb(237, 125, 49);
    border: 0px;
}

#btnFiltroBuscar {
    margin-right: 5px;
}

.dataTables_scrollHead {
    background-color: #404040;
    color: white;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    /* appearance: none; */
    /* -webkit-appearance: none; */
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.marginBottom {
    margin-bottom: 1%;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.modal-header {
    background: linear-gradient(40deg, #ed7c31af, #ed7d31) !important;
    color: white;
}

.modal-lg {
    width: 1250px !important;
}

.modal-lgDocumentos {
    width: 800px !important;
}

.modal-lgUniformes {
    width: 800px !important;
}

.tblTotalizador tr td {
    padding: 10px !important;
    font-weight: bold;
    width: 200px;
    text-align: center;
    /* border: 2px !important; */
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.fc-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* height: 120px; */

}

.fc-title {
    display: flex;
    font-weight: bold;
    font-size: 12px;
    color: black;
    /* justify-content: center; */
}

.calendar-header {
    display: none;
}

/* .fc-content::after {
    content: "fit-content";
} */

.month-container {
    border: 1px;
    border-style: solid;
}

.month-container thead tr:nth-child(1) {
    background: linear-gradient(40deg, #ed7c31af, #ed7d31) !important;

}

.month-container thead tr:nth-child(2) {
    background: lightgrey !important;

}