.panel-title {
    color: white;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: rgba(240, 98, 3, 0.89);
    border-color: rgba(240, 98, 3, 0.89);
}

.input-group-addon,#inputFechaInicio, #inputFechaFinal {
    font-size: 12px;
}

.totalizador:first-child 
{ 
    border: 1px solid #ccc !important;
    padding: 0;   
    background-color: black;
    color: white; 
}

div.porcentajes
{ 
    border: 1px solid black !important;
    font-size: 14px;
    text-align: center;
    background-color: white !important;
    border-radius: 0;
    font-weight: bold;
    padding: 4px;
}

.panel-primary {
    border: 0px;
}

input.porcentajes
{ 
    border: 1px solid black !important;
    font-size: 14px;
    text-align: center;
    background-color: white !important;
    border-radius: 0;
    font-weight: bold;
    padding: 2px;
}

.tabla th 
{
    background-color: rgba(240, 98, 3, 0.89);
    color:white;
    text-align: center;
}

.tabla tr
{
    line-height: 15pt;
    text-align: center;
    color: #555;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    border-color: rgba(240, 98, 3, 0.89);
    background-color: rgba(240, 98, 3, 0.89);
    border-radius: 23px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.porcentajesGrupo {
    width: 120px;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: rgba(240, 98, 3, 0.89);
    border-color: rgba(240, 98, 3, 0.89);
    background-color: none;
    border-radius: 23px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}


.btnConsulta {
    border-radius:23px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size:10px;
}

.fieldset-custm {
    border-color: rgba(240, 98, 3, 0.89) !important;    
    line-height: 10px;
}

a {
    text-align:center;
}

.btnConsulta:hover, .btnConsulta:focus
{
    color: lightgray;
}

.input-group-addon > input
{
    text-align: center;
    background-color: white !important;
}

input[type="text"][disabled] {
    background-color: white !important;
}


#tblTendenciasImplementadas thead tr,
#tblTendenciasImplementadas thead tr {
    color: #fff;
    background-color: black;
}

#tblTendenciasImplementadas td:nth-child(1) {
    font-size : 14px;
    font-weight: bold;
    text-align:right;
}

#tblTendenciasImplementadas tr:last-child { font-weight: bold; border-color:black; }

.panel-primary {
    border-color: rgba(240, 98, 3, 0.89);
}

a {
    color: rgba(240, 98, 3, 0.89);
    text-decoration: none;
}

.panel-heading {
    background: linear-gradient(40deg, rgb(237, 125, 49), rgb(197, 90, 17)) !important;
    border-color: rgb(237, 125, 49) !important;
    color: white;
}

.panel-default>.panel-heading {
    color: white;

}

.btn-success {
    background-color: rgb(237, 125, 49) !important;
    color: white;
}


Contiene todo el sistema de tabs .tabsNav {
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 150%;
    width: 400px;
    height: 300px;
}

/*Las pestañas: cabecera inputs y labels*/
.tabsNav .tab {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tabsNav .tab input {
    display: none;
}

.tabsNav .tab label {
    display: inline-block;
    position: relative;
    top: 1px;
    z-index: 1000;
    width: var(--ancTab);
    text-align: center;
    text-decoration: none;
    color: var(--desv);
    border: 1px solid var(--desv);
    border-bottom: none;
    cursor: pointer
}

/*Etiquetas de pestañas individuales*/
.tabsNav .tab:nth-of-type(1) label {
    left: 0;
}

.tabsNav .tab:nth-of-type(2) label {
    left: var(--ancTab);
}

.tabsNav .tab:nth-of-type(3) label {
    left: calc(2 * var(--ancTab));
}

/*Las pestañas contenido dentro de los tabs*/
.tabsNav .tab div {
    position: relative;
    box-sizing: border-box;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fondo);
    border: 1px solid var(--borde);
    padding: 30px;
    text-align: justify;
    box-shadow: 3px 3px 10px 1px #d3d3d3d4;
}

/*Etiquetas pulsadas*/
.tabsNav .tab input:checked+label {
    color: black;
    border: 1px solid var(--borde);
    background: var(--fondo);
    border-bottom: 1px solid var(--fondo);
}

/*tab visibles*/
.tabsNav .tab input:checked~div {
    display: block;
}