.panel-title {
    color: white;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: rgba(240, 98, 3, 0.89);
    border-color: rgba(240, 98, 3, 0.89);
}

.panel-primary {
    border-color: rgba(240, 98, 3, 0.89);
}

a {
    color: rgba(240, 98, 3, 0.89);
    text-decoration: none;
}

.panel-heading {
    background: linear-gradient(40deg, rgb(237, 125, 49), rgb(197, 90, 17)) !important;
    border-color: rgb(237, 125, 49) !important;
    color: white;
}

.panel-default>.panel-heading {
    color: white;

}

.btn-success {
    background-color: rgb(237, 125, 49) !important;
    color: white;
}

.btnConsulta {
    border-radius:23px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size:10px;
}

.btnConsulta:hover, .btnConsulta:focus
{
    color: lightgray;
}

.panel-primary {
    border: 0px;
}

.tabla th 
{
    background-color: black;
    color:white;
    text-align: center;
}

.tabla tr
{
    line-height: 15pt;
    text-align: center;
    color: #555;
}

/* .form-control-btn {
    background-color: rgb(237, 125, 49) !important;
    color: white;
    border-color: rgb(237, 125, 49);

} */