.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 0px 4px 4px 0px !important;
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}


#btnBuscar {
    margin-right: 10px;
    background-color: #e67b24;
}

.table-responsive {
    background-color: #e67b24;
    color: black;
}

button {
    font-family: inherit;
    font-size: x-large;
    border-radius: 10px;
    line-height: 1.5;

}

.botonNaranja {
    background-color: rgb(237, 125, 49) !important;
    color: white !important;
}

.botonNaranja:hover {
    background-color: rgb(216, 99, 19) !important;
    color: white !important;
}

.cuadroAuditoriaDetalle {
    font-size: 11px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cuadroVacio {
    border: 1px dashed #ccc;
    border-radius: 7px;
    margin-top: 10px;
}

#SeguimientoEstatus input[type="file"] {
    display: none;
}

#SeguimientoEstatus .labelArchivo {
    font-weight: normal;
    vertical-align: middle;
    width: 200px;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 0px;
}

.radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive.btn-success {
    color: #398439;
}

.radioBtn .notActive.btn-danger {
    color: #d43f3a;
}

.radioBtn .notActive.btn-success:active {
    color: #fff;
}

.radioBtn .notActive.btn-danger:active {
    color: #fff;
}