.container-fluid {
    margin-top: 45px;
}

.panel-default {
    margin-bottom: 0px;
    border: 0px;
    box-shadow: 4px 3px 10px grey;
    border: 1px solid rgb(237, 125, 49);
}

.panel-heading {
    background: linear-gradient(40deg, rgb(237, 125, 49), rgb(197, 90, 17)) !important;
    border-color: rgb(237, 125, 49);
    color: white !important;
    border-bottom: 0px;
    padding: 1px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 0px 4px 4px 0px !important;
    /* height: 34px !important; */
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}

.btnNaranja {
    background-color: rgb(237, 125, 49);
    border: 0px;
}

#btnFiltroBuscar {
    margin-right: 5px;
}

.dataTables_scrollHead {
    background-color: #404040;
    color: white;
}

li.active,
li.active a {
    background-color: #404040 !important;
    color: white !important;
    font-weight: bold !important;
}

li.active a {
    border: 0px !important;
}

li.active {
    border-top: 2px solid rgb(237, 125, 49) !important;
    border-right: 2px solid rgb(237, 125, 49) !important;
    border-left: 2px solid rgb(237, 125, 49) !important;
}

.tab-pane.active {
    border: 1px solid rgb(237, 125, 49);
    box-shadow: 4px 3px 10px grey;
}

#tab_auditores {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.modal-header {
    height: 34px !important;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(40deg, rgb(237, 125, 49), rgb(197, 90, 17)) !important;
    color: white;
}

.modal-header h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
}

.ui-menu {
    z-index: 1051;
}