@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Fontfaces CSS-->
<!-- Fontfaces CSS-->
<link href="~/Scripts/js/Principal/Home/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

<!-- Vendor CSS-->
<link href="~/Scripts/js/Principal/Home/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
<link href="~/Scripts/js/Principal/Home/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="~/Scripts/js/Principal/Home/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/Scripts/js/Principal/Home/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/Content/style/css/Principal/Home/theme.css" rel="stylesheet" media="all">

<style>
    .imagenMaquinaria {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .col-centered {
        float: none;
        margin: 0 auto;
        min-width: 300px;
    }

    .notification {
        color: black;
        padding: 0;
        position: relative;
        display: inline-block;
        border-radius: 10px;
    }

    .statistic__item .zmdi-notifications-active {
        position: relative;
        display: inline-block;
        color: black;
        animation: none;
    }

    .statistic__item:hover .zmdi-notifications-active {
        -webkit-animation: ring 4s .7s ease-in-out infinite;
        -webkit-transform-origin: 50% 4px;
        -moz-animation: ring 4s .7s ease-in-out infinite;
        -moz-transform-origin: 50% 4px;
        animation: ring 4s .7s ease-in-out infinite;
        transform-origin: 50% 4px;
    }

    #contenidoTabla {
        background-image: -moz-linear-gradient(90deg, #e06831 0%, #f49542 100%);
        background-image: -webkit-linear-gradient(90deg, #e06831 0%, #f49542 100%);
        background-image: -ms-linear-gradient(90deg, #e06831 0%, #f49542 100%);
    }

    #contenido {
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden;
    }

    .panel-heading {
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-image: -moz-linear-gradient(90deg, #e06831 0%, #f49542 100%);
        background-image: -webkit-linear-gradient(90deg, #e06831 0%, #f49542 100%);
        background-image: -ms-linear-gradient(90deg, #e06831 0%, #f49542 100%);
    }

        .panel-heading .title-2 {
            color: white;
        }
</style>
<style>
    @@-webkit-keyframes ring {
        0% {
            -webkit-transform: rotateZ(0);
        }

        1% {
            -webkit-transform: rotateZ(30deg);
        }

        3% {
            -webkit-transform: rotateZ(-28deg);
        }

        5% {
            -webkit-transform: rotateZ(34deg);
        }

        7% {
            -webkit-transform: rotateZ(-32deg);
        }

        9% {
            -webkit-transform: rotateZ(30deg);
        }

        11% {
            -webkit-transform: rotateZ(-28deg);
        }

        13% {
            -webkit-transform: rotateZ(26deg);
        }

        15% {
            -webkit-transform: rotateZ(-24deg);
        }

        17% {
            -webkit-transform: rotateZ(22deg);
        }

        19% {
            -webkit-transform: rotateZ(-20deg);
        }

        21% {
            -webkit-transform: rotateZ(18deg);
        }

        23% {
            -webkit-transform: rotateZ(-16deg);
        }

        25% {
            -webkit-transform: rotateZ(14deg);
        }

        27% {
            -webkit-transform: rotateZ(-12deg);
        }

        29% {
            -webkit-transform: rotateZ(10deg);
        }

        31% {
            -webkit-transform: rotateZ(-8deg);
        }

        33% {
            -webkit-transform: rotateZ(6deg);
        }

        35% {
            -webkit-transform: rotateZ(-4deg);
        }

        37% {
            -webkit-transform: rotateZ(2deg);
        }

        39% {
            -webkit-transform: rotateZ(-1deg);
        }

        41% {
            -webkit-transform: rotateZ(1deg);
        }

        43% {
            -webkit-transform: rotateZ(0);
        }

        100% {
            -webkit-transform: rotateZ(0);
        }
    }

    @@-moz-keyframes ring {
        0% {
            -moz-transform: rotate(0);
        }

        1% {
            -moz-transform: rotate(30deg);
        }

        3% {
            -moz-transform: rotate(-28deg);
        }

        5% {
            -moz-transform: rotate(34deg);
        }

        7% {
            -moz-transform: rotate(-32deg);
        }

        9% {
            -moz-transform: rotate(30deg);
        }

        11% {
            -moz-transform: rotate(-28deg);
        }

        13% {
            -moz-transform: rotate(26deg);
        }

        15% {
            -moz-transform: rotate(-24deg);
        }

        17% {
            -moz-transform: rotate(22deg);
        }

        19% {
            -moz-transform: rotate(-20deg);
        }

        21% {
            -moz-transform: rotate(18deg);
        }

        23% {
            -moz-transform: rotate(-16deg);
        }

        25% {
            -moz-transform: rotate(14deg);
        }

        27% {
            -moz-transform: rotate(-12deg);
        }

        29% {
            -moz-transform: rotate(10deg);
        }

        31% {
            -moz-transform: rotate(-8deg);
        }

        33% {
            -moz-transform: rotate(6deg);
        }

        35% {
            -moz-transform: rotate(-4deg);
        }

        37% {
            -moz-transform: rotate(2deg);
        }

        39% {
            -moz-transform: rotate(-1deg);
        }

        41% {
            -moz-transform: rotate(1deg);
        }

        43% {
            -moz-transform: rotate(0);
        }

        100% {
            -moz-transform: rotate(0);
        }
    }

    @@keyframes ring {
        0% {
            -moz-transform: rotate(0);
        }

        1% {
            transform: rotate(30deg);
        }

        3% {
            transform: rotate(-28deg);
        }

        5% {
            transform: rotate(34deg);
        }

        7% {
            transform: rotate(-32deg);
        }

        9% {
            transform: rotate(30deg);
        }

        11% {
            transform: rotate(-28deg);
        }

        13% {
            transform: rotate(26deg);
        }

        15% {
            transform: rotate(-24deg);
        }

        17% {
            transform: rotate(22deg);
        }

        19% {
            transform: rotate(-20deg);
        }

        21% {
            transform: rotate(18deg);
        }

        23% {
            transform: rotate(-16deg);
        }

        25% {
            transform: rotate(14deg);
        }

        27% {
            transform: rotate(-12deg);
        }

        29% {
            transform: rotate(10deg);
        }

        31% {
            transform: rotate(-8deg);
        }

        33% {
            transform: rotate(6deg);
        }

        35% {
            transform: rotate(-4deg);
        }

        37% {
            transform: rotate(2deg);
        }

        39% {
            transform: rotate(-1deg);
        }

        41% {
            transform: rotate(1deg);
        }

        43% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(0);
        }
    }
</style>

<center>
    <header class="header-desktop3 d-none d-lg-block" style="width:1072px;">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__navbar">
                    <ul class="list-unstyled collapse" style="text-align:center">
                        <li class="has-sub">
                            <a href="~/Home/Index/?id=1">
                                <img class="imagenMaquinaria" src="~/Content/img/Iconos_Sistemas/Generales/Mesa_Analisis.png" width="30" height="30" />
                            </a>
                        <li class="has-sub">
                            <a href="#">
                                <i class="far fa-file-alt"></i>Documentos Pagar
                                <span class="bot-line"></span>
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href=# id="bntDocumentosXPagar">
                                        <i class="zmdi zmdi-notifications"></i> Notificaciones
                                        <span class="badge" id="badgeDocumentosPagar">0</span>
                                    </a>
                                </li>
                                <li>
                                    <a href=# id="btnEstadisticasDocumentosPagar" style="pointer-events:none; cursor:default;"><i class="zmdi zmdi-chart"></i> Estadísticas</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</center>
<!-- Vendor JS       -->
<script src="~/Scripts/js/Principal/Home/vendor/slick/slick.min.js"></script>
<script src="~/Scripts/js/Principal/Home/vendor/wow/wow.min.js"></script>
<script src="~/Scripts/js/Principal/Home/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/Scripts/js/Principal/Home/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/Scripts/js/Principal/Home/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/Scripts/js/Principal/Home/vendor/select2/select2.min.js"></script>