@{
    ViewBag.Title = "Dashboard";
}
<style>
    .col-centered:hover {
        cursor: pointer;
    }
</style>

<body>
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        @Html.Partial("_LayoutDashboard")
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7" id="contenedor">
            <!-- WELCOME-->
            @*<section class="welcome p-t-10">
                <div class="container">
                <div class="row">
                <div class="col-md-12">
                <h1 class="title-4">
                Bienvenido
                <span>@Base.getUsuario().nombre</span>
                </h1>
                <hr class="line-seprate">
                </div>
                </div>
                </div>
                </section>*@
            <!-- END WELCOME-->
            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="row" style="text-align:center">
                            <div class="col-md-6 col-lg-3 col-centered" style="display:inline-block; cursor: pointer;">
                                <div class=" statistic__item statistic__item--green" id="LicenciasContenedor">
                                    <i class="zmdi zmdi-notifications-active" style="font-size:30px"></i>
                                    <button class="notification">
                                        <span class="textobotonnotificaciones" style="font-size:30px; padding:0" id="notificacionesLicencias"></span>
                                    </button>
                                    <br />
                                    <span class="desc">Licencias</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-car"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-centered" style="display:inline-block">
                                <div class="statistic__item statistic__item--orange" id="PolizasContenedor">
                                    <button class="notification" style="padding:10px">
                                        <i class="zmdi zmdi-notifications-active" style="font-size:30px"></i>
                                        <span class="textobotonnotificaciones" style="font-size:30px" id="notificacionesPolizas"></span>
                                    </button>
                                    <br />
                                    <span class="desc">Polizas</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-centered" style="display:inline-block">
                                <div class="statistic__item statistic__item--blue" id="DisponibilidadContenedor">
                                    <button class="notification" style="padding:10px">
                                        <i class="zmdi zmdi-notifications-active" style="font-size:30px"></i>
                                        <span class="textobotonnotificaciones" style="font-size:30px" id="notificacionesDisponibilidad"></span>
                                    </button>
                                    <br />
                                    <span class="desc">Disponibilidad</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-check-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align:center">
                            <div class="col-md-6 col-lg-3 col-centered" style="display:inline-block">
                                <div class="statistic__item statistic__item--red" id="RendimientoContenedor">
                                    <button class="notification" style="padding:10px">
                                        <i class="zmdi zmdi-notifications-active" style="font-size:30px"></i>
                                        <span class="textobotonnotificaciones" style="font-size:30px" id="notificacionesRendimiento"></span>
                                    </button>
                                    <br />
                                    <span class="desc">Rendimiento</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-gas-station"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-centered" style="display:inline-block">
                                <div class="statistic__item statistic__item--yellow" id="RecepcionContenedor">
                                    <button class="notification" style="padding:10px">
                                        <i class="zmdi zmdi-notifications-active" style="font-size:30px"></i>
                                        <span class="textobotonnotificaciones" style="font-size:30px" id="notificacionesRecepcion"></span>
                                    </button>
                                    <br />
                                    <span class="desc">Controles de Recepción</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-format-valign-bottom"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-centered" style="display:inline-block; cursor: pointer;">
                                <div class=" statistic__item statistic__item--green" id="CursoManejoContenedor">
                                    <i class="zmdi zmdi-notifications-active" style="font-size:30px"></i>
                                    <button class="notification">
                                        <span class="textobotonnotificaciones" style="font-size:30px; padding:0" id="notificacionesCursoManejo"></span>
                                    </button>
                                    <br />
                                    <span class="desc">Vigencia Curso</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-car"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->
        </div>
    </div>
</body>
