@{
    ViewBag.Title = "Licencias";
}

<script src="~/Scripts/js/Principal/Home/Polizas/Polizas.js"></script>

<br />
<div style="text-align:center">
    <h1>Alertas Pólizas Vencidas</h1>
</div>
<div class="table100 ver6 m-b-110">
    <table class="animated pulse table-responsive-data2 table-striped table-bordered" id="contenido">
        <thead>
            <tr id="contenidoTabla">
                <th data-column-id="maquinaNoEconomico" data-formatter="maquinaNoEconomico">Económico</th>
                <th data-column-id="maquina" data-formatter="maquina">Descripción</th>
                <th data-column-id="nombEmpleado" data-formatter="nombEmpleado">Nombre del resguardante</th>
                <th data-column-id="Obra" data-formatter="Obra">Obra</th>
                <th data-column-id="fecha" data-formatter="fecha">Fecha vencimiento Póliza</th>
                <th data-column-id="diasVencimientoPoliza" data-formatter="diasVencimiento" data-type="numeric">Días vencimiento</th>
                <th data-column-id="Placas" data-formatter="Placas">Placas</th>  
                @*<th data-column-id="ModificarPoliza" data-formatter="ModificarPoliza">Modificar Poliza</th>*@
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="modal fade" id="modalEditPoliza" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="text-center">
                        EDICION DE POLIZA.
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <label>Fecha Actualizada:</label>
                                <input type="text" id="modalEditFecha" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-success" id="btnGuardarEditPoliza">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
