@{
    ViewBag.Title = "RecepcionProveedor";
}

<script src="~/Scripts/js/Principal/Home/Recepcion/RecepcionProveedor.js"></script>
<script src="~/Scripts/js/Principal/Home/js/bootstrap-tooltip.js"></script>

<style>
    .VerControlCalidad + .tooltip > .tooltip-inner {
        background-color: #f4aa5f; 
        color: black; 
        font-weight: bold;
        font-size: 14px;
    }
</style>

<br />
<div style="text-align:center">
    <h1>Alertas Recepción TMC/Proveedor</h1>
</div>

<div class="table100 ver6 m-b-110">
    <div class="col-lg-3">
        Tipo de Documento
        <select class="form-control tipoRecepcion">
            <option value=1>Recepción Maquinaria</option>
            <option value=2>Recepción TMC/Proveedor</option>
        </select>
    </div>
    <table class="animated pulse table-responsive-data2 table-striped table-bordered" id="contenido">
        <thead>
            <tr id="contenidoTabla">
                <th data-column-id="Folio" data-type="numeric">Solicitud</th>
                <th data-column-id="nomb" data-formatter="nomb">Económico</th>
                <th data-column-id="CCOrigen" data-formatter="CCOrigen">Obra origen</th>
                <th data-column-id="CCName" data-formatter="CCNombre">Obra destino</th>
                <th data-column-id="fechaFormato" data-formatter="fechaFormato">Fecha de envío</th>
                <th data-column-id="VerControlCalidad" data-formatter="VerControlCalidad" data-searchable="false" data-sortable="false">Control de Recepción</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

