@{
    ViewBag.Title = "Rendimiento";
}

<script src="~/Scripts/js/Principal/Home/Rendimiento/Rendimiento.js"></script>

<br />
<div style="text-align:center">
    <h1>Alertas Rendimiento</h1>
</div>
<div class="table100 ver6 m-b-110">
    <table class="table-responsive-data2 table-striped table-bordered" id="contenido">
        <thead>
            <tr id="contenidoTabla">
                <th data-column-id="economico">Económico</th>
                <th data-column-id="modelo">Modelo</th>
                <th data-column-id="cc">Obra</th>
                <th data-column-id="rendimientofinal" data-type="numeric" data-formatter="rendimiento">Rendimiento</th>
                <th data-column-id="fecha" data-type="numeric" >fecha</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

