@{
    ViewBag.Title = "Autorizaciones";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Maquinaria/Movimientos/Autorizacion.js"></script>


<div class="addPadding">
    <div id="divPendientesAutorizacion" class="container">
        <div class="text-center form-group">
            <h3> Lista de Solicitudes pendientes por Autorizar</h3>
        </div>
        <table id="grid-basic" class="table table-condensed table-hover table-striped text-center">
            <thead class="bg-table-header">
                <tr>
                    <th data-column-id="folio">Folio Solicitud</th>
                    <th data-column-id="cc">Centro de Costos</th>
                    <th data-column-id ="solicita">Solicita</th>
                    <th data-column-id="commands" data-formatter="commands" ></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00001</td>
                    <td>00000</td>
                    <td>admin</td>
                    <td>
                        <button type="button" class="btn btn-info  verSol">
                            <span class="glyphicon glyphicon-eye-open"></span> Ver Solicitud
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>00002</td>
                    <td>00001</td>
                    <td>admin</td>
                    <td>
                        <button type="button" class="btn btn-info verSol">
                            <span class="glyphicon glyphicon-eye-open"></span> Ver Solicitud
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="divAutorizaciones" class="row hidden">
        <div class="text-center form-group">
            <h3>Detalle de Autorización</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <label>
                        Folio:
                    </label>
                    <label id="txtFolio">
                        
                    </label>
                </div>
            </div>
            <div class="row">
                <table id="grid-basic1" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="cc">Centro Costos</th>
                            <th data-column-id="tipoMaquinaria">Tipo Maquinaria</th>
                            <th data-column-id="grupoMaquinaria">Grupo Maquinaria</th>
                            <th data-column-id="">Modelo</th>
                            <th data-column-id="capacidad">Capacidad</th>
                            <th data-column-id="cantidad">Cantidad</th>
                            <th data-column-id="descripcion">Descripción</th>
                            <th data-column-id="meses">Meses</th>
                            <th data-column-id="horas">Horas</th>
                            <th data-column-id="fechaobra">Fecha en Obra</th>
                            <th data-column-id="prioridad">Prioridad</th>
                            @*<th data-column-id="encierro">Tipo Encierro</th>*@
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>148</td>
                            <td>EQUIPO MAYOR</td>
                            <td>CAMION FUERA DE CARRETERA</td>
                            <td>777F</td>
                            <td>1000</td>
                            <td>1</td>
                            <td>Ejemplo</td>
                            <td>1</td>
                            <td>20000</td>
                            <td>10-10-2016</td>
                            <td>Programada</td>
                            @*<td>C</td>*@
                          
                        </tr>
                        <tr>
                            <td>148</td>
                            <td>EQUIPO MAYOR</td>
                            <td>CAMION FUERA DE CARRETERA</td>
                            <td>777F</td>
                            <td>1000</td>
                            <td>1</td>
                            <td>Ejemplo</td>
                            <td>10</td>
                            <td>20000</td>
                            <td>10-10-2016</td>
                            <td>Programada</td>
                            @*<td>C</td>*@
                          
                        </tr>
                        <tr>
                            <td>148</td>
                            <td>EQUIPO MAYOR</td>
                            <td>CAMION FUERA DE CARRETERA</td>
                            <td>777F</td>
                            <td>1000</td>
                            <td>1</td>
                            <td>Ejemplo</td>
                            <td>6</td>
                            <td>20000</td>
                            <td>10-10-2016</td>
                            <td>Programada</td>
                            @*<td>C</td>*@
                          
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row ">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Autorizadores:</legend>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><label id="lblElaboro"></label></div>
                            <div class="panel-body">Quien Elaboro</div>
                            <div class="panel-footer panel-footer-Pendiente">Autorizado</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><label id="Gerente"></label></div>
                            <div class="panel-body">Gerente de Obra</div>
                            <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><label id="Director"></label></div>
                            <div class="panel-body">Director División</div>
                            <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><label id="AltaDireccion"></label></div>
                            <div class="panel-body">Alta Dirección</div>
                            <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-lg-12 form-group">
                        <button type="button" class="btn btn-info margin-top pull-right" id="btnAplicarFiltros">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>
                    </div>
                </div>
             </div>
        </div>
    </div>

</div>