
@{
    ViewBag.Title = "Catal";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Maquinaria/Catalogo/ModeloMaquina.js"></script>
<div class="row">
    <h2 class="text-center">Cátalogo Modelos Equipo</h2>
</div>
<div class="row form-group">
    <div class="col-lg-10">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>Conjunto:</label>
                <select class="form-control" id="slGrupoMaquina<">
                    <option value="0">Seleccione:</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Descripción:</label>
                <input class="form-control" id="txtDescripcion" type="text" />
            </div>
            <div class="col-lg-2">
                <label>Estatus:</label>
                <select class="form-control">
                    <option>Activo</option>
                    <option>Cerrado</option>
                </select>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </fieldset>
    </div>
    <div class="col-lg-2 text-center">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Modelo:</legend>
            <button type="button" class="btn btn-success margin-top" id="btnNuevo">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </button>
        </fieldset>
    </div>

</div>

<div class="row form-group">
    <div class="col-lg-12" id="divFilstroBusqueda">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <table id="Table" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="descrp" data-align="center" data-header-align="center">Descripción</th>
                        <th data-column-id="estatus" data-align="center" data-header-align="center">Estatus</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
    </div>
</div>



<div class="modal fade" id="modalAltaMarcaEquipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Alta Modelo Equipo</h3>
                </div>
            </div>
            <div class="modal-body text-center modal-content-tamaño">
                <div class="container">
                    <form id="frmModeloEquipo">
                        <div class="row">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">Datos Tipo Maquinaria:</legend>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group text-left">
                                    <label>Descripción0:</label>
                                    <input class="form-control" id="txtModaldescripcion" />
                                </div>
                            </fieldset>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 form-group">
                            <div>
                                <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalGuardar" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>