#tblAuth, #tblAuth thead tr th {
    border-right: .07em solid !important;
    border-top: .07em solid !important;
}

#tblAuth, #tblAuth thead tr th:nth-child(0) {
    border-left: .1em solid !important;
}

.tblPanel {
    font-weight: bold;
}

.tblPanel td {
    border: none;
}

.tblPanel td:empty::after {
    content: "\00a0";
}

.tblPanel {
    overflow-y: auto;
    height: 100px;
}

.StyleIframe {
    overflow-y: auto;
    height: 100px;
}

.StyleIframe .tblPanel thead th {
    position: sticky;
    top: 0;
}