/*SECCIONES*/
.panel-default {
    border: 1px solid rgb(229, 137, 96) !important;
}

.panel-heading {
    background-color: rgb(229, 137, 96) !important;
    color: white !important;
}

#panelBody, #panelAnual {
    height: 148px;
}

#tablaAnual tbody tr td {
    border: 1px solid black;
    border-collapse: collapse;
}

/*CATEGORIAS DE TIEMPOS*/
#seccionTiempos {
    border: 1px solid black;
}
#seccionTiempos div {
    height: 80px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.catTiempos {
    display: flex;
    justify-content: center;
}
.textTiempos {
    align-self: center;
}
.textInfo, .textInfo2 {
    border: 1px solid #808080;
    color: black;
    padding: 5px 10px;
}
.textInfo {
    background-color: white;
}
.textInfo2 {
    background-color: yellow;
}