@{
ViewBag.Title = "Entradas";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/OrdenCompra/Autorizar.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<h2 class="text-center">Entradas Traspasos</h2>

<fieldset id="fieldsetOrigen" class="fieldset-custm">
    <legend id="legendOrigen" class="legend-custm">Filtros</legend>

    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Almacén Origen</span>
            <select id="selectAlmacenOrigen" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">CC Origen</span>
            <select id="selectCentroCostoOrigen" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Almacén Destino</span>
            <select id="selectAlmacenDestino" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">CC Destino</span>
            <select id="selectCentroCostoDestino" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft mrgTop">
        <div class="input-group">
            <span class="input-group-addon">Folio Traspaso</span>
            <input id="inputFolioTraspaso" class="form-control">
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft mrgTop">
        <button id="btnBuscar" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
        <button id="btnModalReporte" class="btn btn-default"><i class="fa fa-print"></i></button>
    </div>
</fieldset>

<fieldset id="fieldsetEntradas" class="fieldset-custm">
    <legend class="legend-custm">Entradas</legend>

    <div class="col-md-12 col-lg-12 noPadLeft noPadRight">
        <div class="input-group pull-right col-md-2 col-lg-2" style="margin-bottom: 5px;">
            <button id="btnGuardarEntradas" class="btn btn-success pull-right"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>

    <div class="table-responsive col-md-12 col-lg-12 noPadLeft noPadRight">
        <table id="tblEntradas" class="table table-fixed table-bordered marginBottom5" width="100%"></table>
    </div>
</fieldset>

<div class="modal fade" id="mdlUbicacionDetalle" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Ubicación </label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive col-md-12 col-lg-12 noPadLeft noPadRight">
                        <button id="btnAgregarUbicacion" type="button" class="btn btn-sm btn-primary mrgTop mrgBottom"><i class="fa fa-plus"></i></button>
                        <button id="btnQuitarUbicacion" type="button" class="btn btn-sm btn-danger mrgTop mrgBottom"><i class="fa fa-minus"></i></button>

                        <table id="tblUbicacion" class="table table-fixed table-bordered marginBottom5" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-lg-12 noPadLeft noPadRight" style="margin-top: 5px;">
                    <button id="btnGuardarUbicacion" class="btn btn-primary"><i class="fa fa-save"></i> Capturar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlHistorialInsumo" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Historial Insumo </label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive col-md-12 col-lg-12 noPadLeft noPadRight">
                        <table id="tblHistorialInsumo" class="table table-fixed table-bordered marginBottom5" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlCatalogoUbicaciones" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Catálogo Ubicaciones </label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive col-md-12 col-lg-12 noPadLeft noPadRight">
                        <table id="tblCatalogoUbicaciones" class="table table-fixed table-bordered marginBottom5" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlVerReporte" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Imprimible </label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Almacén</span>
                            <select id="selectAlmacenReporte" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 noPadLeft">
                        <div class="input-group">
                            <span class="input-group-addon">Número</span>
                            <input id="inputNumeroReporte" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnImprimible" class="btn btn-primary"><i class="fa fa-eye"></i> Ver Imprimible</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/Requisicion/Entradas.js"></script>

@Html.Partial("reportViewerView", false)