@{
    ViewBag.Title = "OrigenStock";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/OrdenCompra/Autorizar.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/Requisicion/salidaConsumo.css" rel="stylesheet" />


<h2 class="text-center">Origen por stock</h2>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros</legend>
    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Centro Costo:</span>
            <select id="selCCOS" class="form-control select2"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Almacen:</span>
            <select id="selAlmacenOS" class="form-control select2"></select>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 noPadLeft">
        <label>Justificación</label>
        <textarea id="txtJustificacionOS" class="form-control"></textarea>
    </div>
    

</fieldset>

<fieldset class="fieldset-custm">
    <legend class="legend-custm"><i class="fa fa-table"></i>Insumos</legend>
    <button id="btnAddRenlonOS" type="button" class="btn btn-primary marginBottom5"><i class="fa fa-plus"></i></button>
    <button id="btnRemRenlonOS" type="button" class="btn btn-danger marginBottom5"><i class="fa fa-minus"></i></button>
    <div class="table-responsive col-md-12 col-lg-12 noPadLeft noPadRight">
        <table id="tblInsumosOS" class="table table-fixed table-bordered marginBottom5" style="width:100%">
            <thead class="advice">
                <tr>
                    <th>Partida</th>
                    <th>Insumo</th>
                    <th width="20%">Descripción</th>
                    <th>Existencia</th>
                    <th>Area-Cuenta</th>
                    <th>Referencia</th>
                    <th>Cantidad</th>
                    <th>Por comprar</th>
                    <th>Exc presupuesto</th>
                    <th>Observaciones</th>
                    <th width="7.2%">Estatus</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-12 col-lg-12 noPadLeft noPadRight">
        <div class="input-group pull-right col-md-2 col-lg-2">
            <span class="input-group-addon">Cantidad Total</span>
            <input type="text" id="inputCantidadTotalOS" class="form-control" readonly />
        </div>
    </div>
</fieldset>

@*<div class="modal fade" id="mdlExistenciaDetalle" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3><label id="labelModal"> Salida por consumo </label></h3>
                </div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="btnGuardarSalidaConsumo" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-save" style="font-size: medium;"></span> Guardar</button>
            </div>
        </div>
    </div>
</div>*@


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/Requisicion/origenStock.js"></script>
