@{
    ViewBag.Title = "Captura";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";

    var baseController = new SIGOPLAN.Controllers.BaseController();
    var esPeru = baseController.getEmpresaID();
    var tituloDescripcion = (bool)ViewBag.tipoRequisicion ? "Requisición de Servicio" : "Requisición de Compra";
}

<input id="inputEmpresaActual" class="hide" value=@baseController.getEmpresaID()>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/Requisicion/Captura.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<style>
    .modal-bg {
        background-color: #007bff !important;
        color: white;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3 class="mb5">@tituloDescripcion</h3>
    </div>

    <div class="col-xs-12 col-sm-6 pull-right mt15 mb5">
        <button id="btnImprimir" class="btn btn-primary pull-right">
            <i class="fa fa-print"></i> IMPRIMIR
        </button>

        <button id="btnLimpiar" type="button" class="btn btn-default pull-right mr5">
            <i class="fa fa-eraser"></i> LIMPIAR
        </button>

        <button id="btnGuardar" type="button" class="btn btn-success pull-right mr5">
            <i class="fa fa-save"></i> GUARDAR
        </button>
    </div>

    <div class="col-xs-12 col-sm-12 pull-left">
        <label id="labelCompras"></label>
    </div>
</div>

<div class="contenedor mb5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb5">
            <div class="form-group">
                <label for="selCC">Centro Costo</label>
                <select id="selCC" class="form-control valAddInsumo select2"></select>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb5">
            <div class="form-group">
                <label for="txtNum">Número Req.</label>
                <input type="text" id="txtNum" class="form-control valAddInsumo" />
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 mb5">
            <div class="form-group">
                <label for="selOT">OT</label>
                <select id="selOT" class="form-control select2"></select>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mb5">
            <button id="btnVerOT" type="button" class="btn btn-success">
                <i class="fa fa-eye"></i> VER OT
            </button>

            <button id="btnBorrarRequisicion" class="btn btn-default" disabled>
                <i class="fa fa-trash-alt"></i>
            </button>
        </div>

        <div id="divOrigenFolio" style="display: none;">
            <div class="col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="selectTipoFolio">Origen</label>
                    <select id="selectTipoFolio" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="txtFolio"">Folio</label>
                    <select id="txtFolio" class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2" style="display: none;">
            <div class="form-group">
                <button id="btnBuscarOrigen" type="button" class="btn btn-primary">
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>
        </div>
    </div>
</div>

@*<div class="contenedor mb5">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 mb5">
            <div class="input-group">
                <span class="input-group-addon">Centro Costo</span>
                <select id="selCC" class="form-control valAddInsumo select2"></select>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb5">
            <div class="input-group">
                <span class="input-group-addon">Número Req.</span>
                <input type="text" id="txtNum" class="form-control valAddInsumo" />
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 mb5">
            <div class="input-group">
                <span class="input-group-addon">OT</span>
                <select id="selOT" class="form-control select2"></select>
            </div>
        </div>

        <div class="col-lg-1 col-md-3 col-sm-3 col-xs-12 mb5">
            <button id="btnVerOT" type="button" class="btn btn-success">
                <i class="fa fa-eye"></i> VER OT
            </button>
        </div>

        <div class="col-lg-1 col-md-3 col-sm-3 col-xs-12 mb5">
            <button id="btnBorrarRequisicion" class="btn btn-default" disabled>
                <i class="fa fa-trash-alt"></i>
            </button>
        </div>

        <div id="divOrigenFolio" style="display: none;">
            <div class="col-md-3 col-lg-3 noPadLeft">
                <div class="input-group">
                    <span class="input-group-addon">Origen</span>
                    <select id="selectTipoFolio" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 noPadLeft">
                <div class="input-group">
                    <span class="input-group-addon">Folio</span>
                    <select id="txtFolio" class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 noPadLeft noPadRight" style="display: none;">
            <div class="input-group">
                <button id="btnBuscarOrigen" type="button" class="btn btn-primary">
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>
        </div>
    </div>
</div>*@

<div class="col-md-6 col-lg6 noPadLeft noPadRight" align="left">
    <button id="spanEstatus" type="button" class="btn btn-default hidden"></button>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Datos</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-md-2 col-lg-2 mb5">
            <div class="form-group">
                <label for="dtFecha">Fecha</label>
                <input type="text" id="dtFecha" class="form-control" readonly />
            </div>
        </div>

        <div class="col-md-3 col-lg-3 mb5">
            <div class="form-group">
                <label for="selLab">Entrega.</label>
                <select id="selLab" class="form-control valAddInsumo"></select>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 mb5">
            <div class="form-group">
                <label for="selTipoReq">Tipo</label>
                <select id="selTipoReq" class="form-control valAddInsumo"></select>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 mb5">
            <div class="form-group" style="display: none;">
                <label for="txtEstatus">Estatus Autorización</label>
                <input type="text" id="txtEstatus" class="form-control valAddInsumo" readonly />
            </div>

            <div class="form-group">
                <label for="labelEstatusCompra">&nbsp;</label>
                <fieldset id="fieldsetEstatusCompra"
                class="fieldset-custm"
                style="border-radius: 0px !important;
                text-align: center;
                height: 34px;">
                    <label id="labelEstatusCompra" style="font-size: 24px; display: none;"></label>
                </fieldset>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 mb5" style="display: none;">
            <div class="form-group">
                <label>TMC</label>
                <div id="divTMCswitch" class="radioBtn btn-group">
                    <a class="btn btn-primary active" data-toggle="radTmc" data-title="false">
                        <i class="fa fa-times"></i>
                    </a>

                    <a class="btn btn-primary notActive" data-toggle="radTmc" data-title="true">
                        <i class="fa fa-check"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 mb5" style="display: none;">
            <div class="form-group">
                <label for="selectComprador">Comprador</label>
                <select id="selectComprador" class="form-control"></select>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 mb5">
            <div class="form-group">
                <label for="txtComentarios">Comentarios</label>
                <input type="text" maxlength="50" id="txtComentarios" class="form-control" />
            </div>
        </div>

        <div class="col-md-6 col-lg-6 mb5">
            <div class="form-group">
                <label for="txtModficacion">Modificación</label>
                <input type="text" id="txtModificacion" class="form-control" readonly />
            </div>
        </div>

        <div class="col-md-6 col-lg-6 mb5">
            <div class="form-group">
                <label for="txtSolicito">Solicitó</label>
                <input type="text" id="txtSolicito" class="form-control valAddInsumo" readonly />
            </div>
        </div>

        <div class="col-md-6 col-lg-6 mb5" style="display: none;">
            <div class="form-group">
                <label for="selAutorizo">Autorizó</label>
                <select id="selAutorizo" class="form-control "></select>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 mb5">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="txtEmpNum">Empleado Autorización</label>
                        <input type="text" id="txtEmpNum" class="form-control" readonly />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div class="form-group">
                        <label for="txtEmpNom">&nbsp;</label>
                        <span class="form-control" id="txtEmpNom" readonly></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 mb5">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="txtUsuNum">Usuario Modifica</label>
                        <input type="text" id="txtUsuNum" class="form-control" readonly />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div class="form-group">
                        <label for="txtUsuNom">&nbsp;</label>
                        <span class="form-control" id="txtUsuNom" readonly></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 mb5">
            <div class="form-group">
                <label for="inputUsuario">Usuario</label>
                <input id="inputUsuario" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-lg-6 mb5">
            <div class="form-group">
                <label for="inputUso">Uso</label>
                <input id="inputUso" class="form-control">
            </div>
        </div>

        <div class="col-md-6 mb5" style="display: none;">
            <div class="form-group">
                <label for="selectProveedor">Proveedor</label>
                <select id="selectProveedor" class="form-control select2"></select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Insumos</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12">
            <button id="btnAddRenglon" type="button" class="btn btn-link btn-blue mb5">
                <i class="fa fa-plus"></i>
            </button>

            <button id="btnRemRenglon" type="button" class="btn btn-link btn-red mb5">
                <i class="fa fa-minus"></i>
            </button>

            <button id="btnInfoEnter" class="btn btn-link btn-gray mb5">
                <i class="fa fa-question"></i>
            </button>

            <div class="table-responsive">
                <table id="tblInsumos" class="table table-fixed table-bordered marginBottom5" style="width:100%;">
                    <thead class="advice bg-table-header">
                        <tr>
                            <th width="50px">Partida</th>
                            <th width="90px">Clave</th>
                            <th>Producto/Servicio</th>
                            <th width="150px">Area</th>
                            <th width="150px">Detalle</th>
                            <th width="100px">Existencia</th>
                            <th width="90px">Unidad</th>
                            <th width="100px">Cantidad</th>
                            <th width="50px">Estatus</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-xs-12 mt5">
                    <div class="input-group pull-right col-md-3">
                        <span class="input-group-addon">Cantidad Total</span>
                        <input type="text" id="inputCantidadTotal" class="form-control text-center" readonly />
                    </div>
                </div>
            </div>

            <label>Descripción de la partida</label>
            <textarea id="txtDescPartida" class="form-control" rows="5" disabled></textarea>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlFoliosDisponibles" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Folios Disponibles</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblFoliosDisponibles" class="table table-fixed table-bordered marginBottom5" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlEstatusObservaciones" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg" style="overflow-y: initial !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="col-md-3">
                    <h4 class="modal-title" style="font-weight:bold;">Comentarios</h4>
                </div>
            </div>
            <div class="modal-body" style="height: 300px;overflow-y: auto;width: 100%;">
                <div class="scroll-wrap">
                    <div class="row">
                        <div class="tab-pane active" id="timeline">
                            <ul class="timeline timeline-inverse" id="ulComentarios"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="padding-left:30px;margin-bottom:5px;">
                    <textarea class="form-control" id="txtObservaciones" title="Introducir comentario" style="height:100px; width:97%;" placeholder="Escribe un comentario"></textarea>
                </div>

                <div class="row" style="padding-right:30px;">
                    <button type="button" id="btnAddComentario" class="btn btn-primary" style="font-weight:bold;font-size:large;">Agregar</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" style="font-weight:bold;font-size:large;">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdlObservaciones" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg" style="overflow-y: initial !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="col-md-3">
                    <h4 class="modal-title" style="font-weight:bold;">Observaciones</h4>
                </div>
            </div>
            <div class="modal-body" style="height: 300px;overflow-y: auto;width: 100%;">
                <div class="scroll-wrap">
                    <div class="row">
                        <div class="tab-pane active" id="timeline">
                            <ul class="timeline timeline-inverse" id="ulObservaciones"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="padding-left:30px;margin-bottom:5px;">
                    <textarea class="form-control" id="txtObservaciones" title="Introducir comentario" style="height:100px; width:97%;" placeholder="Escribe un comentario"></textarea>
                </div>
                <div class="row" style="padding-left:30px;">
                    <div class="form-group">
                        <input type="file" id="fupAdjunto" style="width:300px;">
                    </div>
                </div>
                <div class="row" style="padding-right:30px;">
                    <button type="button" id="btnAddObservacion" class="btn btn-primary" style="font-weight:bold;font-size:large;">Agregar</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" style="font-weight:bold;font-size:large;">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlExistenciaDetalle" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Existencias </label></h3>
                </div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="dialogConfirmarBorrado" title="Borrar Requisición" style="display: none; text-align: center;">
    ¿Desea borrar la requisición?
</div>

<div class="modal fade" id="modalConsultaInsumos">
    <div class="modal-content">
        <div class="modal-header modal-bg">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="text-center">
                <h3><label></label></h3>
            </div>
        </div>
        <div class="modal-body">
            @Html.Partial("_consultaInsumos")
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTabulador" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="tituloModalTabulador">Tabulador</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tablaTabulador" class="table compact" style="width: 100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="botonTabuladorAgregarPartidas" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-arrow-down"></i>&nbsp;Agregar Partidas</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalOT" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="tituloModalTabulador">Orden de Trabajo - <span id="otFolio"></span></label></h3>
                </div>
            </div>
            <div class="modal-body">
                <!-- Formulario deshabilitado -->
                <form>
                    <div class="row">
                        <!-- Columna izquierda -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="otFolioDetalle">Folio</label>
                                <input type="text" class="form-control" id="otFolioDetalle" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otTipo">Tipo</label>
                                <input type="text" class="form-control" id="otTipo" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otDescripcion">Descripción</label>
                                <textarea class="form-control" id="otDescripcion" rows="3" disabled></textarea>
                            </div>
                            <div class="form-group">
                                <label for="otEquipo">Equipo</label>
                                <input type="text" class="form-control" id="otEquipo" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otModelo">Modelo</label>
                                <input type="text" class="form-control" id="otModelo" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otCentroCosto">Centro de Costo</label>
                                <input type="text" class="form-control" id="otCentroCosto" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otRazonSocial">Razón Social</label>
                                <input type="text" class="form-control" id="otRazonSocial" disabled>
                            </div>
                        </div>
                        <!-- Columna derecha -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="otSupervisor">Supervisor</label>
                                <input type="text" class="form-control" id="otSupervisor" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otCliente">Cliente</label>
                                <input type="text" class="form-control" id="otCliente" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otUbicacion">Ubicación</label>
                                <input type="text" class="form-control" id="otUbicacion" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otUrgente">Urgente</label>
                                <input type="text" class="form-control" id="otUrgente" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otFechaInicio">Fecha de Inicio</label>
                                <input type="text" class="form-control" id="otFechaInicio" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otNoEconomico">No. Económico</label>
                                <input type="text" class="form-control" id="otNoEconomico" disabled>
                            </div>
                            <div class="form-group">
                                <label for="otEstadoFlujo">Estado del Flujo</label>
                                <input type="text" class="form-control" id="otEstadoFlujo" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Puedes agregar botones adicionales si es necesario -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/Requisicion/Captura_5.js"></script>


@Html.Partial("_mdlUsuarioEnkontrol")
@Html.Partial("reportViewerView", false)