table.verticalDisplay thead {
    float: left;
}

table.verticalDisplay thead th {
    display: block;
}

table.verticalDisplay tbody {
    float: right;
}

table.verticalDisplay tbody td {
    display: block;
}

.asd {
    padding-right: 10px;
    border: 1px solid #3F4;
    display: inline-block;
}