.icono-menu {
    font-size: 20px;
    padding-right: 5px;
}

.boton-menu {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-weight: bold;
    text-align: left;
    white-space: normal;
}

.boton-porcentaje {
    color: black !important;
    font-weight: bold;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.ui-widget-header {
    background: #da6a1a;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-mrgRight {
    margin-right: 100px;
}

.errorBorderColorInput {
    border-color: red;
}

.errorFontColor {
    color: red;
}

.boton-estatus {
    color: #000;
    text-align: left;
    font-weight: bold;
    cursor: auto;
    white-space: normal;
}

.boton-estatus-20 {
    background-color: #ff3838;
}

.boton-estatus-40 {
    background-color: #F4B084;
}

.boton-estatus-50 {
    background-color: #ffc000;
}

.boton-estatus-60 {
    background-color: #FFFF00;
}

.boton-estatus-80 {
    background-color: #9bc2e6;
}

.boton-estatus-90 {
    background-color: #4472c4;
}

.boton-estatus-100 {
    background-color: #92d050;
}

table {
    white-space: nowrap;
}

.text-color {
    color: #000;
}

.text-align-center {
    text-align: center;
}

.td-BLRegistrados {
    background-color: #7cb5ec;
}

.td-BLCerrados {
    background-color: #a5a5a5;
}

.td-BLAcumulados {
    background-color: #90ed7d;
}

.lblFechaInicioFinal {
    color: green;
}

#divFiltros {
    margin-left: 240px;
    margin-right: 18px;
}

#divTbl {
    margin-left: 240px;
    margin-right: 18px;
}

/*TABLAS*/
table.dataTable {
    width: 100% !important;
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    border: 0px solid #ffffff !important;
}

table.dataTable thead {
    font-size: 15px;
    background-color: #3556ae;
    color: white;
}

/*MODALES*/
.modal-xl {
    width: 80%;
}

.disenioModal .modal-header {
    color: white;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    border: none;
}

.disenioModal .modal-header .titleHeader {
    font-size: x-large;
    font-weight: bold;
}

.disenioModal .modal-header .modal-title {
    font-weight: bold;
}

.disenioModal .modal-header .modal-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* DISEÑO SELECT2 */
#cboFiltroPeriodo,
.select2-selection__rendered {
    line-height: 31px !important;
}

#cboFiltroPeriodo,
.select2-container .select2-selection--single {
    height: 35px !important;
}

#cboFiltroPeriodo,
.select2-selection__arrow {
    height: 34px !important;
}
/* END: DISEÑO SELECT2 */

#btnGuardar, #btnFiltroBuscar {
    margin-top: 5px;
}