<div id="mdlEditarAgrupacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title"><i class="fa fa-dollar"></i>Actualizar agrupación</h1>
            </div>
            <div class="modal-body">
                <!-- SECCION DE CONTROLES -->
                <div class="seccion">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label class="text-color" for="cboNuevoClaveDepto">Nombre Agrupación: </label>
                                <input id="txtNombreAgrupacionEditar" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label class="text-color" for="cboNuevoCC">Seleccionar CC: </label>
                                <select id="cboEditarCC" class="js-example-basic-multiple" name="states[]" multiple="multiple">
                                </select>
                            </div>
                        </div>
                    </div><br>

                </div>
                <!-- END: SECCION DE CONTROLES -->
            </div>
            <div class="modal-footer">
                <button type='button' class="btn btn-primary" id="btnEditarLimpiar" style="display:none;"><i class="fa fa-brush"></i> Limpiar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Regresar</button>
                <button type="button" id="btnEditarEditar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

