/*Estilos Correguidos*/
@media screen and (max-height: 1080px) and (max-width: 1920px) {
    .StyleIframe {
        height: 585px;
        width: 1229px;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1680px) {
    .StyleIframe {
        height: 605px;
        width: 1229px;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1400px) {

    .StyleIframe {
        height: 605px;
        width: 1229px;
    }
}

@media screen and (max-height: 900px) {

    .StyleIframe {
        height: 465px;
        width: 1229px;
    }
}

@media screen and (max-height: 768px) {
    .StyleIframe {
        height: 400px;
        width: 1229px;
    }
}

.panel {
    margin-bottom: 0px !important;
}

.colorAutoriza {
    background: #298A08;
    color: white;
}

.colorRechaza {
    background: #B40404;
    color: white;
}

.noPadding {
    padding: 0;
}

.verComentario{
    margin: 3px;
}