@{
    ViewBag.Title = "AdministradorReporteFalla";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<h2 class="text-center">Administrador de Reportes de Falla</h2>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <fieldset class="fieldset-custm">
        <legend class="legend-custm">Filtros:</legend>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-3 col-xs-3 col-md-3 col-lg-2 form-group">
                <label>Estatus del reporte:</label>
                <select class="form-control" id="cboEstatusReporte">
                    <option value="0">Por Autorizar</option>
                    <option value="1">Autorizado</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-2">
                <label>Económico:</label>
                <input class="form-control ui-autocomplete-input" id="txtFiltroEconomico" type="text" maxlength="100" autocomplete="off">
            </div>
            <div class="col-xs-3 col-xs-3 col-md-3 col-lg-2 form-group">
                <label>Obra:</label>
                <select class="form-control" id="cboCC"></select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset-custm">
        <legend class="legend-custm">Reportes Falla:</legend>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="gridReportes" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header"></thead>
            </table>
        </div>
    </fieldset>
    <div class="modal fade" id="modalReporteFalla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg" style="width:95%;" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="text-center">
                        <h3><label id="title-modal"></label></h3>
                    </div>
                </div>
                <div class="modal-body text-center modal-content-tamaño">
                    <div class="container-fluid">
                        <fieldset class="fieldset-custm fielset-Filtros" id="fsReporteFalla"></fieldset>
                    </div>
                </div>
                <div class="modal-body text-center modal-content-tamaño">
                    <div class="container-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LISTADO DE ARCHIVOS RELACIONADOS AL REPORTE FALLA -->
<div id='mdlListadoArchivos' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>ARCHIVOS</h1>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="tblM_ReporteFalla_Archivo" class="table table-hover table-bordered compact" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: LISTADO DE ARCHIVOS RELACIONADOS AL REPORTE FALLA -->

<div id="reporteFalla">
    @Html.Partial("reportViewerView")
</div> 
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Maquinaria/Overhaul/AdministradorReporteFallaJS.js"></script>