#menu_click {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding-left: 0px;
}

#menu_click li {
    padding: 8px 12px;
    cursor: pointer;
}

#menu_click li:hover {
    background-color: #DEF;
}