#mdlConcepto .modal-dialog,
#mdlConcepto .modal-dialog .modal-content {
    min-height: calc(100% - 120px);
    min-width: calc(100% - 120px);
}

#mdlConcepto .modal-dialog .modal-body {
    min-height: calc(100% - 120px);
    overflow-y: scroll;
}

#divGuardarPoliza {
    position: fixed;
    top: 6em;
    left: 1em;
 }