#mdlMovPoliza .modal-dialog, #mdlMovPoliza .modal-dialog .modal-content {
    min-height: calc(100% - 120px);
    min-width: calc(100% - 120px);
}

#mdlMovPoliza .modal-dialog .modal-body {
    min-height: calc(100% - 120px);
    overflow-y: scroll;
}

#flsTblAuxCont {
    max-height: 67vh;
    max-width: 99vw;
}

#tblAuxCont {
    border-collapse: collapse;
}

#tblAuxCont thead th {
    background-color: #faf8f8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#tblAuxCont th, #tblAuxCont td {
    font-size: .8em;
    padding: 0em;
}

#tblAuxCont thead th:first-child {
    left: 0;
    z-index: 1;
}

#tblAuxCont tbody tr td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #faf8f8;
}

#tblAuxCont tbody tr td:first-child {
    min-width: 320px;
    vertical-align: middle;
    background-color: #faf8f8;
}

#tblAuxCont tbody td:not(:first-child) {
    overflow: auto !important;
    border-color: #bebebe;
    vertical-align: middle;
    min-width: 5em;
    text-align: right;
}

#tblAuxCont thead th:nth-child(2), #tblAuxCont thead th:nth-child(3), #tblAuxCont thead th:nth-child(4), #tblAuxCont thead th:nth-child(5) {
    border: none;
    border-top: 1px solid #AAAAAA;
}

#tblAuxCont thead th:nth-child(2), #tblAuxCont thead th:nth-child(4) {
    border-left: 1px solid #AAAAAA;
}

#tblAuxCont thead th {
    border: 1px solid #AAAAAA;
    text-align: center;
}

#tblAuxCont thead th:nth-child(4), #tblAuxCont tbody tr td:nth-child(4) {
    padding: 0;
    width: 0;
}

tr.SaldoEncabezado td, tr.Suma td {
    background-color: #aac8e9;
    font-weight: bold;
}

tr.Encabezado td {
    background-color: #faf8f8;
    border-top: 1px solid #000000 !important;
    font-weight: bold;
}

tr p:hover {
    cursor: pointer;
}

.danger {
    color: #ff0000;
}