@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/starrr.css")">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/css/Encuestas/Crear.css")">
<script src="@Url.Content("~/Scripts/starrr.js")" type="text/javascript"></script>
<script src="~/Scripts/js/Encuestas/CrearProveedores.js"></script>

<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Datos Generales de Encuesta:</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Titulo:</span>
                        <input id="txtTitulo" class="form-control" placeholder="Titulo" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Descripción:</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea id="txtDescripcion" class="form-control" placeholder="Descripción"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm" style="font-size: 14px;">Tipo de Encuesta:</legend>
                        <div id="divTipoEncuesta"></div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Agregar Pregunta:</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Pregunta:</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea id="txtPregunta" class="form-control" placeholder="Pregunta"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Tipo de Pregunta:</span>
                        <select class="form-control" id="selectTipoPregunta">
                            <option value="">--Seleccione--</option>
                            <option value="1">Calidad</option>
                            <option value="2">Tiempo</option>
                            <option value="4">Atención</option>
                            <option value="3">Facturación</option>
                            <option value="10">Otro</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Ponderacion:</span>
                        <input id="tbPonderacion" class="form-control" placeholder="Titulo">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <button id="btnAgregar" class="btn btn-default pull-right">Agregar</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Vista Previa de Encuesta:</legend>
            <div class="Preguntas">

            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><button id="btnActualizar" class="btn btn-default pull-right">Guardar</button></div>
</div>
