@{
    ViewBag.Title = "CatalogoDeDiviciones";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<h2 style="text-align:center;">Catalogo De Notificantes</h2>
<link href="~/Content/style/css/Subcontratistas/Evaluacion/CatalogoAltaDeNotificantes.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/select2.css" rel="stylesheet" />






<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/js/SubContratistas/Evaluacion/AltaDeNotificantes.js"></script>