@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@* <link href="~/Content/style/css/ControlObra/controlObra2.css" rel="stylesheet" /> *@
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/style/css/Subcontratistas/AltaEvaluadores.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#cboProyecto').select2();
    });

    $(document).ready(function () {
        $('#cboSubContratista').select2();
    });
</script>

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h2>CATÁLOGO EVALUADORES</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- PANEL FILTROS -->
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class='col-lg-4'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Evaluadores</span>
                                    <select type='text' id='cboFiltroEvaluadores' class='form-control'></select>
                                </div>
                            </div>
                            <div class='col-lg-4'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Proyecto</span>
                                    <select type='text' id='cboProyecto2' class='form-control'></select>
                                </div>
                            </div>
                            <div class='col-lg-4'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Elementos</span>
                                    <select type='text' id='cboElementos' class='form-control'></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button id="btnNuevo" class="btn btn-primary pull-right" data-toggle="modal" data-target="#mdlAgregarEditar" title="Nuevo evaluador."><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
                            <button id="btnBuscar" class="btn btn-primary pull-right" title="Búsqueda de evaluadores."><i class="fa fa-search"></i>&nbsp;Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->

            <!-- BODY -->
            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id='tblTablaEvaluadorxCC' class='table table-hover table-bordered table-striped compact'></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BODY -->
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL NUEVO EVALUADOR -->
<div id='mdlAgregarEditar' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'><i class='fa fa-dollar'></i>Agregar evaluador</h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <label class="">Evaluador</label>
                        <select style="width: 100%;" name="" id="cboSubContratista" class="form-control comboChange"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="text-color" for="cboProyecto">Proyecto</label>
                        <select style="width: 100%;" id="cboProyecto" class="js-example-basic-multiple" name="states[]" multiple="multiple"></select>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="text-color" for="cboElemento">Elementos</label>
                        <select style="width: 100%;" id="cboElemento" class="js-example-basic-multiple" name="states[]" multiple="multiple"></select>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
                <button type="button" class="btn btn-success" id="btnGuardarPreguntarPrimero"><i class='fa fa-save'></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL NUEVO EVALUADOR -->

<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Utilities/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/js/SubContratistas/Evaluacion/AltaEvaluadores.js"></script>