@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    ViewBag.Title = "Gestión Evaluación";
}

<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/style/css/Subcontratistas/GestionFirmas.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h2>EVALUACIÓN DE SUBCONTRATISTAS</h2>
            <h4>GESTIÓN DE FIRMAS</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- PANEL FILTROS -->
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon">Proyecto</div>
                            <select id="comboBoxProyecto" class="form-control"></select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon">Subcontratista</div>
                            <select id="comboBoxSubcontratista" class="form-control"></select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <button id="botonBuscar" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->

            <!-- BODY -->
            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="tablaEvaluaciones" class="table table-hover table-bordered table-striped compact"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BODY -->
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<div id="modalSeguimientoFirmas" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="documento">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3 id="modalSeguimientoFirmasTitulo"></h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tablaSeguimientoFirmas" class="table hover stripe compact nowrap"></table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="seccionParaFirmar" style="display:none;">
    <input type="text" class="form-control" id="inputNombreFirmante" disabled />
    <button class="btn btn-default" id="botonCancelarFirma">Cancelar</button>
    <button class="btn btn-success" id="botonGuardarFirma"><i class="far fa-save"></i> Guardar firma</button>
    <canvas id="canvasFirma"></canvas>
</div>
@Html.Partial("reportViewerView", false)

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/SignaturePaD/signature_pad.js"></script>
<script src="~/Scripts/js/SubContratistas/Evaluacion/Gestion.js"></script>