@{
	Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/style/css/Subcontratistas/UsuariosRelSubcontratistas.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 text-center">
			<br>
			<h2>FIRMANTES SUBCONTRATISTAS</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div id="panelFiltro" class="panel panel-default panel-principal">
				<div class="panel-heading">
					<h4 class="text-center">FILTRO DE BÚSQUEDA</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-5">
							<label>Subcontratista</label>
							<select id="cboFiltroSubcontratistas" class="form-control select2"></select>
						</div>
						<div class="col-lg-7" style="margin-top: 26px;">
							<button type="button" class="btn btn-primary" id="btnFiltroBuscar" title="Realizar búsqueda."><i class="fas fa-search"></i>&nbsp;Buscar</button>
							<button type="button" class="btn btn-primary" id="btnFiltroNuevo" title="Registrar nuevo firmante."><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
						</div><br><br>
					</div>
				</div>
			</div>

			<div class="panel panel-default panel-principal">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<table id="tblCO_ADP_UsuariosFirmantesRelSubcontratistas" class="table table-hover table-bordered compact" width="100%"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL CREAR/EDITAR USUARIO REL SUBCONTRATISTA -->
<div id='mdlCEUsuarioRelSubcontratista' class='modal fade' role='dialog' data-backdrop="static">
	<div class='modal-dialog modal-lg'>
		<div class='modal-content'>
			<div class='modal-header text-center'>
				<h4 class='modal-title'><i class='fa fa-dollar'></i><span id="lblTitleCEUsuarioRelSubcontratista"></span></h4>
			</div>
			<div class='modal-body'>
				<div class="row">
					<div class="col-lg-6">
						<label for="">Subcontratista</label>
						<select id="cboCESubcontratista" class="form-control select2"></select>
					</div>
					<div class="col-lg-6">
						@* <label for="">Contrato</label>
							<select id="cboCEContrato" class="form-control select2"></select> *@
						<label for="">Contrato</label>
						<div id="divContratos">
							<span id="spanCboCEContrato" class="form-control" style="position:absolute;max-width:95%;overflow-x:hidden;">TODOS</span>
							<select id="cboCEContrato" class="form-control" style="position:absolute;max-width:95%;overflow-x:hidden;" name="comboAC" multiple="multiple" style=""></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<label for="">Nombre completo</label>
						<input type="text" id="txtCENombreCompleto" placeholder="Ingresar nombre completo del firmante." class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<label for="">Correo</label>
						<input type="text" id="txtCECorreo" placeholder="Ingresar correo del firmante." class="form-control">
					</div>
				</div>
			</div>
			<div class='modal-footer'>
				<button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
				<button type="button" class="btn btn-success" id="btnCEUsuarioRelSubcontratista"><span id="lblTitleBtnCEUsuarioRelSubcontratista"></span></button>
			</div>
		</div>
	</div>
</div>
<!-- END: MODAL CREAR/EDITAR USUARIO REL SUBCONTRATISTA -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/js/Subcontratistas/Evaluacion/UsuariosRelSubcontratistas.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>