@{
ViewBag.Title = "DeteccionNecesidades";
Layout = "~/Views/Shared/LayoutPage.cshtml";
var privilegioCapacitacion = new SIGOPLAN.Areas.Administrativo.Controllers.Seguridad.CapacitacionController().privilegioCapacitacion();
<!-- Privilegios:
    NoAsignado = 0
    Administrador = 1
    Visor = 2
    ControlDocumentos = 3
    Instructor = 4
-->
}

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; margin-top: 150px;">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <span class="pull-right">
                            <a href="/Administrativo/Capacitacion/CiclosTrabajo" role="button">
                                <img src="/Content/img/Iconos_Capacitacion/CICLOS DE TRABAJO.png" style="width: 250px; height: 250px;">
                                <br />
                                <h2>CICLOS DE TRABAJO</h2>
                            </a>
                        </span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px; padding-right: 0px;">
                        <span>
                            <a href="/Administrativo/Capacitacion/DeteccionesPrimarias" role="button">
                                <img src="/Content/img/Iconos_Capacitacion/DETECCIONES PRIMARIAS.png" style="width: 250px; height: 250px;">
                                <br />
                                <h2>DETECCIONES PRIMARIAS</h2>
                            </a>
                        </span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <span class="pull-left">
                            <a href="/Administrativo/Capacitacion/Recorridos" role="button">
                                <img src="/Content/img/Iconos_Capacitacion/RECORRIDOS.png" style="width: 250px; height: 250px;">
                                <br />
                                <h2>RECORRIDOS</h2>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Administrativo/Seguridad/Capacitacion/DeteccionNecesidades.js"></script>