@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/Seguridad/Capacitacion/FirmasInstructores.css' rel='stylesheet' />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12 text-center'>
            <h2>FIRMAS INSTRUCTORES</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <!-- PANEL FILTROS -->
            <div id='panelFiltro' class='panel panel-default panel-principal'>
                <div class='panel-heading'>
                    <h4 class='text-center'>FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <button class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                                <button class="btn btn-primary" id="btnFiltroNuevo"><i class='fas fa-plus'></i>&nbsp;Nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->
            <!-- BODY -->
            <div id='panelGraficas' class='panel panel-default panel-principal'>
                <div class='panel-heading'></div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class="col-lg-12">
                            <table class="table" id="tblFirmasInstructores"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BODY -->
        </div>
    </div>
</div>
<!-- END: CONTAINER -->

<!-- MODAL CE FIRMA INSTRUCTOR -->
<div id='mdlCEFirmaInstructor' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title text-center'>FIRMA INSTRUCTOR</h4>
            </div>
            <div class='modal-body'>
                <div class="row seccion">
                    <div class='col-lg-8'>
                        <label for='cboCE_Usuario'>Instructor</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <select id='cboCE_Usuario' class='form-control select2'></select>
                        </div>
                    </div>
                    <div class='col-lg-4'>
                        <label for='txtCE_Firma'>Firma</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='file' id='txtCE_Firma' class='form-control'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
                <button type='button' class='btn btn-success' id='btnCE_FirmaInstructor'></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CE FIRMA INSTRUCTOR -->

<!-- JS -->
<script src='~/Scripts/js/Administrativo/Seguridad/Capacitacion/FirmasInstructores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->