@{
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- 
    ViewBag.Title = "AutorizarAsginacionNoEconomico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var Base = new SIGOPLAN.Controllers.BaseController();
 -->


<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<style>
    h3 {
        text-align: center;
    }

    table.dataTable tbody tr td,
    table thead tr th,
    table.dataTable,
    .dataTables_scrollBody {
        /* border: 0px solid #81bd72 !important; */
    }

    table.dataTable thead {
        font-size: 15px;
        background-color: #F86730;
        color: white;
    }

    /*BOOTSTRAP BTN*/
    /* .btn-primary {
        background-color: #7460ee;
        border-color: #7460ee;
    }

        .btn-primary {
            background-color: #624de2 !important;
            border-color: #624de2 !important;
        } */

    /*SELECT2*/
    .select2-container {
        width: 100% !important;
    }

    /* BORDING */
    .seccion {
        padding: 15px 25px 15px 25px;
        margin: 10px 5px;
        background-color: white;
        /*border: 1px solid #ececec;*/
        border-radius: 4px 4px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .my-card {
        position: absolute;
        left: 40%;
        top: -20px;
        border-radius: 50%;
    }

    #txtFechaInicio {
        background-color: #fff;
    }

    .inputs:hover {
        background-color: #F0F6F8;
    }

    .pointer {
        cursor: pointer;
    }
</style>
<script>


</script>
<div class="col-sm-12">
    <div class="center" style="text-align: center;">
        <h3>HORAS-HOMBRE CAPACITACIÓN</h3><br>
    </div>
    <!-- CONTROLES DE FILTRO -->
    <fieldset class="fieldset-custm">
        <legend class="legend-custm"><i class="fas fa-list"></i>Filtros de Busqueda</legend>
        <br>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 mrgTop">
                <div class="input-group">
                    <span class="input-group-addon">Centros Costos</span>
                    <select id="cboProyecto" class="form-control" multiple></select>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">Año</span>
                    <select id="dtAño" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>

            <div class="col-lg-1">
                <button type='button' class="btn btn-primary" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                <!-- <button type='button' class="btn btn-primary" id="btnModal"><i class="fas fa-search"></i> ventanita</button> -->
            </div>
        </div><br />

    </fieldset>
    <br />
    <fieldset class='fieldset-custm'>
        <legend class="legend-custm">HRS-HOMBRE Capacitación</legend>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon" style="color:#FFF;background-color:#404040;height:80px;">Promedio Hrs Capacitación Mensual</span>
                    <input id="HrsCap" class="form-control" style="height:80px;font-size: 40px;" disabled>
                </div>
            </div>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon" style="color:#FFF;background-color:#404040;height:80px;">Promedio Hrs Capacitación Mensual / Hrs Trabajadas
                    </span>
                    <input id="HrsTrab" class="form-control" style="height:80px;font-size: 40px;" disabled>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12 table-responsive table-bordered" style="width: 100%;">
                    <br />
                    <table id="tblHorasHombreCapacitacion" class="table-bordered stripe order-column" style="width: 100%;"></table>
                </div>
            </div>
        </div>
    </fieldset><br><br>
    <div class="col-lg-10">
    </div>
    <div class="col-lg-2">
        <button type='button' class="btn btn-danger" id="btnReporte"><i class="fas fa-download"></i> PDF</button>
        &nbsp;
        <button type='button' class="btn btn-success" id="btnDescargar"><i class="fas fa-download"></i> EXCEL</button>
    </div>

    <br>
    <br> <br>
    <br>

</div>
@Html.Partial("reportViewerView", false)
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src='~/Scripts/sweetalert2@10.js'></script>

<script src="~/Scripts/js/Administrativo/Seguridad/Capacitacion/HorasHombreCapacitacion.js"></script>