    @{
        ViewBag.Title = "Reporte KPI Homologado";
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }


    <div class="row text-center">
        <h3>Reporte KPI Homologado</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Area Cuenta:</label>
            <select class="form-control" id="selBusqCC"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Fecha Inicio:</label>
            <input class="form-control" id="inputFechaInicio" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Fecha Fin:</label>
            <input class="form-control" id="inputFechaFin" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn btn-primary" id="btnBuscar">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>
    </div>
    <div class='row'>
        <fieldset class='fieldset-custm text-center'>
            <legend class='legend-custm'><i class="fa fa-home"></i> Reporte</legend>
            <div id="report" align="middle" marginwidth="0" marginheight="0" hspace="0" vspace="0"
                 frameborder="0" scrolling="no" class="StyleIframe"></div>
        </fieldset>
    </div>


    <script src="~/Scripts/js/Maquinaria/KPI/reporteKPI.js"></script>