#divAdquisicion label {
    margin-left: 0.9em;
    margin-right: 0.9em;
}

#mdlFormCCEquipo .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#mdlFormCCEquipo .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

/* #mdlFormCCEquipo .modal-body {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
} */

#mdlFormCCEquipo.modal.fade.in {
    padding-right: 0 !important;
}