/* GENERAL */
body {
    background-color: whitesmoke;
}

.seccion {
    padding: 15px 25px 15px 25px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 4px 4px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.no-gutter {
    padding: 0px 0px 0px 0px;
    /* BOOTSTRAP COLS - modifica los cols-xx-xx, sin padding para crear las áreas (secciones) */
}

/* END: GENERAL */

/* SELECT2 */
.select2-container {
    min-width: 100% !important;
    width: 100% !important;
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}

/* END: SELECT2 */

/* MODAL */
.modal-header {
    background: linear-gradient(40deg, #e88640, #e88640) !important;
    color: white;
    height: 40px;
    padding: 0px;
}

.modal-header h4 {
    margin-top: 7px;
    margin-bottom: 0px;
    padding: 0px;
}

.modal-lg {
    width: 95% !important;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
    background-color: #f5f5f5;
}

.modal-footer {
    background-color: #f5f5f5;
}

/* END: MODAL */

/* PANEL */
.panel-principal>div.panel-heading {
    background: linear-gradient(40deg, #e88640, #e88640) !important;
    border-color: #e88640;
    color: white;
}

.panel-principal {
    border-color: #e88640;
}

.panel-grafica>div.panel-heading {
    background-color: #e88640;
}

.panel-grafica>div.panel-heading h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#panelFiltro .panel-heading h4,
.panel-principal .panel-heading h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-form-top {
    margin-top: 25px;
}

/* END: PANEL */

/* TABLE */
table.dataTable {
    width: 100% !important;
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    border: 0px solid #ffffff !important;
}

table.dataTable thead {
    font-size: 15px;
    background-color: #e88640;
    color: white;
}

/* END: TABLE */

/* BADGES */
.badge {
    background-color: #e88640;
    font-size: 14px !important;
}

/* END: BADGES */