@{
    ViewBag.Title = "Administración 5s";

    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<style>
    .header {
        height: 200px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="/Administrativo/Vacaciones/Vacaciones">
                <img src="~/Content/img/Iconos_Vacaciones/icono_Vacaciones.png" />
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Administrativo/Vacaciones/Permisos">
                <img src="~/Content/img/Iconos_Vacaciones/icono_Permisos.png" />
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Administrativo/Vacaciones/Retardos">
                <img src="~/Content/img/Iconos_Vacaciones/icono_Justificaciones.png" />
            </a>
        </div>
    </div>
</div>