
@{
    ViewBag.Title = "Periodos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->

<link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/datatables/fixedColumns.bootstrap.css" rel="stylesheet" />
<link href="~/Content/style/datatables/fixedHeader.bootstrap.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="~/Content/style/css/Catalogos/AnexosMaquinariaStyle.css" rel="stylesheet" />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' />


<!-- CONTAINER FLUID -->
<div class="container-fluid">

    <!-- PERIODOS -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>PERIODOS</h2></div>
                <div class="panel-body">
                    <!-- FILTROS -->
                    <div class="row">
                        <div class="col-sm-3">
                            
                        </div>
                        <div class="col-sm-3">
                            
                        </div>
                        <div class="pull-right">
							<div class="col-sm-12 margin-right">
								<!-- <button type="button" class="btn btn-primary" id="btnFiltroBuscar">Buscar</button> -->
                                
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Crear Periodo">
                                    <button type="button" class="btn btn-success marginRight" id="btnFiltroNuevo">Nuevo</button>
                                </span>
								
							</div>
                        </div>
                    </div>
                    <!-- END: FILTROS -->
                </div>
                <!-- PERIODOS -->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblRH_Vacaciones_Periodos" class="table table-hover table-sm table-bordered compact" style="width:100%;"></table>
                    </div>
                </div>
                <!-- END: PERIODOS -->
            </div>
        </div>
    </div>
    <!-- END: BAJAS -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL  -->
<div id='mdlCEPeriodo' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 id = "titleCEPeriodo" class='modal-title'><i class='fa fa-dollar'></i></h1>
            </div>
            <div class='modal-body'>
                <div class="row">
					<div class="col-sm-10">
						<div class="input-group">   
							<span class="input-group-addon">Descripcion</span>
							<input type ="text" class="form-control" id="txtCEPeriodoDesc">
						</div>
					</div>
                    <div class="col-sm-2">
						<input type="checkbox" id="chkCEPeriodoEstado" data-toggle="toggle" data-on="Disponible" 
                            data-off="NO Disponible" data-onstyle="success" data-offstyle="danger" data-width="150" checked="checked">
					</div>
                    
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<div class="input-group">   
							<span class="input-group-addon">Fecha Inicial</span>
							<input type ="date" class="form-control" id="txtCEPeriodoFechaini">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="input-group">   
							<span class="input-group-addon">Fecha Final</span>
							<input type ="date" class="form-control" id="txtCEPeriodoFechafin">
						</div>
					</div>
				</div>
            </div>
            <div class='modal-footer'>
				<button type='button' class='btn btn-primary' data-dismiss='modal' id="btnCEPeriodoActualizar"><i class='fa fa-save'></i>&nbsp;<span id="btnTxtCEPeriodo">Guardar</span></button>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cerrar Ventana"><button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button></span>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL ACTOS -->

<!-- JS -->

<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="~/Scripts/js/Administrativo/RecursosHumanos/Vacaciones/Periodos.js"></script>