@{
    ViewBag.Title = "Saldos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<!-- <link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' /> -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/datatables/fixedColumns.bootstrap.css" rel="stylesheet" />
<link href="~/Content/style/datatables/fixedHeader.bootstrap.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' />

<style>
    .botonRedondo {
        border-radius: 50px;
    }
</style>


<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <!-- BAJAS -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>Reporte de Ausencias</h2></div>
                <div class="panel-body">
                    <!-- FILTROS -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">   
                                <span class="input-group-addon">CC</span>
                                <select class="form-control" id="cboVacacionCC"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group" id="divCECboPermisosingoce">
                                <span class="input-group-addon">Motivo de ausencia</span>
                                <select class="form-control" id="cboFiltroTipoPermiso">
                                    <option value="">--Seleccione--</option>
                                    <!-- <option value="7">Vacaciones</option> -->
                                    <option value="0">Permiso paternidad</option>
                                    <option value="1">Permiso de matrimonio</option>
                                    <option value="2">Permiso sindical</option>
                                    <option value="3">Permiso por fallecimiento</option>
                                    @* <option value="4">Permiso por lactancia</option> *@
                                    <option value="5">Permiso médico</option>
                                    <option value="7">Vacaciones</option>
                                    <option value="8">Permiso SIN goce de sueldo</option>
                                    <option value="9">Permiso de comision de trabajo</option>
                                    <option value="10">Home office</option>
                                    <option value="11">Tiempo x tiempo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>    
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="input-group" id="divCECboPermisosingoce">
                                <span class="input-group-addon">Fecha Inicial</span>
                                <input type="date" id="dateFiltroIni" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group" id="divCECboPermisosingoce">
                                <span class="input-group-addon">Fecha Final</span>
                                <input type="date" id="dateFiltroFin" class="form-control" />
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" id="btnFiltroBuscar">Buscar</button>
                            <button type="button" class="btn btn-primary marginRight" id="btnFiltroExportar">Excel</button>

                        </div>
                    </div>
                    <!-- END: FILTROS -->
                </div>
                <!-- VACAIONES -->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblReporte" class="table table-hover table-sm table-bordered compact" style="width:100%;"></table>
                    </div>
                </div>
                <!-- END: LISTADO DE GESTIÓN SOLICITUDES -->
            </div>
        </div>
    </div>
    <!-- END: BAJAS -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- JS -->
<script src='~/Scripts/select2.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Vacaciones/ReporteDias.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>
