[id^=ui-id] {
    z-index: 8000 !important;
}

div#ui-datepicker-div {
    z-index: 110000 !important;
}

.modal-dialog-cheque {
    position: absolute;
    top: 3%;
    margin: auto 5%;
    width: 90%;
}

.modal-body-Cheque {
    position: relative;
    padding: 32px;
    padding-top: 15px;
}

.color-header {
    background: #2ECC71;
    color: black;
}

.color-table {
    background-color: orange;
}

.disabledInput {
    pointer-events: none;
    background-color: #fff !important;
}

#inputFirmaAutorizada {
    border-right: hidden;
    border-left: hidden;
    border-top: hidden;
    border-bottom-color: black;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: block;
    width: 100%;
}

#inputCheque {
    color: red;
    font-size: large;
}

.setButton {
    cursor: pointer;
    background-color: lightskyblue;
}

#modalCapturaCheques {
 overflow-y: auto;
}