/* .select2-selection--single,
.select2-selection__rendered {
    height: 34px !important;
}

.select2-selection__rendered {
    line-height: 35px !important;
} */

.select2-container {
    width: 100% !important;
}

.mrgTop {
    margin-top: 5px;
}

.mrgBottom {
    margin-bottom: 5px;
}

.spanCustom {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

#tablaCiclosRegistro thead tr,
#tablaCriterios thead tr,
#tablaRevisiones thead tr,
#tablaPropuestasMejora thead tr,
#tablaSeguimientoAcciones thead tr,
#tablaSeguimientoPropuestas thead tr,
#tablaInspeccionesCumplidas thead tr,
#tablaInspeccionesRealizarNuevamente_wrapper thead tr {
    color: #fff;
    background-color: #da6a1a;
}

#tablaPropuestasMejora tbody td {
  vertical-align: middle !important;
}

/* Estilo CheckBox */
label {
	display: inline;
}

.regular-checkbox,
.regular-checkboxdanger {
	display: none;
}

.regular-checkbox + label,
.regular-checkboxdanger + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 11px;
	border-radius: 20px;
	display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  margin-bottom: 0px;
  vertical-align: middle;
}

td .regular-checkbox + label {
	border-radius: 2px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active,
.regular-checkboxdanger + label:active, .regular-checkboxdanger:checked * label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	color: #fff;
	background-color: #449d44;
  border-color: #398439;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkboxdanger:checked + label {
	color: #fff;
	background-color: #d9534f;
  border-color: #d43f3a;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
  color: #fff;
}

.regular-checkboxdanger:checked + label:after {
	content: '\2716';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
  color: #fff;
}

.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* Fin Estilo CheckBox */

.ui-autocomplete {
     z-index: 9999 !important;
}

.select2-dropdown {
	z-index: 9999;
}

/* Estilo "Columna Subir Archivo" */
#tablaSeguimientoAcciones input[type="file"],
#tablaSeguimientoPropuestas input[type="file"] {
    display: none;
}

#tablaSeguimientoAcciones .labelArchivo,
#tablaSeguimientoPropuestas .labelArchivo {
	font-weight: normal;
	vertical-align: middle;
	width: 200px;
	overflow: hidden;
	text-overflow: clip;
	margin-bottom: 0px;
}
/* Fin Estilo "Columna Subir Archivo" */

.seguimientoEvaluado {
	background-color: #eee !important;
}

.nav-item {
	width: 50%;
}

#tablaDetallesCiclos thead tr,
#tablaDetallesAnual_wrapper thead tr,
#tablaDetallesColaboradores_wrapper thead tr {
    color: #fff;
    background-color: #333333;
}

.renglonColaboradorConCiclos {
	background-color: #ccffcc !important;
}

#tablaDetallesCiclos tbody tr td {
	font-size: 30px;
	font-weight: bold;
}

#tablaDetallesAnual_wrapper tbody tr:last-child {
	font-weight: bold;
}

.input-group > .select2-container--bootstrap {
    width: auto !important;
    flex: 1 1 auto !important;
}

#modalRegistroCiclo .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

#tablaRevisiones.dataTable tbody td {
  vertical-align: middle;
}

#tablaInspeccionesRealizarNuevamente_wrapper td,
#tablaInspeccionesRealizarNuevamente_wrapper th {
	font-size: 12px;
}

#tablaCiclosRegistro.dataTable tbody td {
  vertical-align: middle;
}

.select2-selection {
  max-height: 142px;
  overflow: auto;
}

.select2-selection__arrow {
	display: none;
}

#tablaPorcentajes thead tr {
    background-color: rgb(237, 125, 49);
    color: white;
}
#tablaPorcentajes tbody tr {
    background-color: rgb(217, 217, 217);
}

#tablaPorcentajes th,
#tablaPorcentajes td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
}

#tablaPorcentajes {
    font-size: 20px;
}

/* Celda Promedio General */
#tablaPorcentajes > tbody > tr:nth-child(1) > td:nth-child(3) {
    font-size: 40px;
}