div.flexContainer{
    display: flex;
    justify-content: center ;
    align-items: center;
}

div#ui-datepicker-div{
    z-index: 2000 !important;
}

ul[id^=ui-id] {
    z-index: 8000 !important;
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons{
    z-index: 9000 !important;
}

div.modal-dialog.modal-lg{
    width: 90% !important;
}

input#inputArchivoControlAsistencia{
    display: none;
}

.archivoCargado{
    border: 2px #EB8825 solid;
}

table#tablaExamenes thead th:last-child:hover{
    color: black;
}

table#tablaAsistentes thead th:nth-child(5):hover{
    color: black;
}

span.label{
    font-size: 100%;
}

div.checkbox:hover{
    color: #EB8825;
}

div.checkbox>label:hover{
    font-weight: bold;
}