.mrgTop {
    margin-top: 5px;
}

#tablaPorcentajes thead tr {
    background-color: rgb(237, 125, 49);
    color: white;
}
#tablaPorcentajes tbody tr {
    background-color: rgb(217, 217, 217);
}

#tablaPorcentajes th,
#tablaPorcentajes td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
}

#tablaPorcentajes {
    font-size: 20px;
}

/* Celda Promedio General */
#tablaPorcentajes > tbody > tr:nth-child(1) > td:nth-child(3) {
    font-size: 40px;
}

.ui-datepicker-calendar {
	display: none;
}