.dtHeader {
    background-color: #000000;

    font-size: 12px;
    color: white;
}

.rowSeparador td {
    background-color: black;
}

#modalPoliza .modal-lg {
    width: 98% !important;
}
#modalPoliza .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}