@{
    ViewBag.Title = "Taller";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Maquinaria/Catalogo/Taller.js"></script>

<div class="row">
    <h2 class="text-center">Catálogo de Talleres</h2>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>Centro Costos:</label>
                <input class="form-control" id="txtFiltroCentroCostos" type="text" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>Descripción:</label>
                <input class="form-control" id="txtFiltroDescripcion" type="text" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label>Estatus:</label>
                <select class="form-control" id="cboFiltroEstatus">
                    <option value="1">ACTIVO</option>
                    <option value="0">INACTIVO</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar_Taller">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </fieldset>
    </div>
    @*<div class="col-lg-2 text-center">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Taller:</legend>
                <button type="button" class="btn btn-success margin-top" id="btnNuevo">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo
                </button>
            </fieldset>
        </div>*@

</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <table id="grid_Taller" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        @*<th data-column-id="update" data-formatter="update" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Modificar</th>
                    <th data-column-id="delete" data-formatter="delete" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Deshabilitar</th>*@
                        <th data-column-id="cc" data-align="center" data-header-align="center" data-sortable="false">Centro Costos</th>
                        <th data-column-id="des" data-align="center" data-header-align="center" data-sortable="false">Descripcion</th>
                        @*<th data-column-id="estatus" data-align="center" data-header-align="center">Estatus</th>*@
                    </tr>
                </thead>

            </table>

        </fieldset>
    </div>
</div>



<div class="modal fade" id="modaTaller" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="title-modal"></label></h3>
                </div>
            </div>
            <div class="modal-body text-center modal-content-tamaño">
                <div class="container-fluid">
                    <form id="frmTaller">
                        <div class="row">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">Datos taller:</legend>
                                @*<div class="col-lg-3 form-group">
                                    <label>No taller:</label>
                                    <input class="form-control" id="txtModalIdTaller" type="text" value="0001" disabled />
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label>Centro Costos:</label>
                                    <select class="form-control">
                                        <option>Seleccione un CC:</option>
                                        <option>114 Noche Buena:</option>
                                        <option>114 Colorada:</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label>Descripción:</label>
                                    <input class="form-control" id="txtModaldescripcion" />
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label>Localización:</label>
                                    <input class="form-control" id="txtModalLugar" />
                                </div>*@

                            </fieldset>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalGuardar" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

