@{
    ViewBag.Title = "Gestion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Catalogos/GestionMensualCargoNominaCC.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row">
        <h2 class="text-center">Costo Social por Centro de Costo</h2>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <fieldset id="fieldTabsCargosNomina">
                <div class="row">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">Filtros:</legend>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <label>Proyecto: </label>
                            <select class="form-control" id="cboCentroCostos"></select>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <label>Mes: </label>
                            <select class="form-control" id="cboMes"></select>
                        </div>
                  
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <label>Año: </label>
                            <select class="form-control" id="cboAño"></select>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <label>Estatus: </label>
                            <select class="form-control" id="cboStatus">
                                <option value="2">Todos</option>
                                <option value="0">En espera</option>
                                <option value="1">Completo</option>
                            </select>
                        </div>

                        <div class="col-lg-1">
                            <button class="btn btn-info margin-top" id="btnBuscar">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-primary margin-top pull-right" id="btnGuardar">
                        Guardar cambios <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </div>
                </div>

                <div class="row form-group margin-top">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divCargosNomina">
                        <fieldset id="fieldTablaCargosNomina" style="border: 1px solid black;">
                            <div class="container-fluid">
                                <div class="row" id="rowTabla">
                                    <div class="widget">
                                        <div class="widget-header"></div>
                                        <div class="widget-content">
                                            <table class="hover" id="tablaNominaMensual" style="width: 100%;">
                                                <thead></thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </fieldset>

        </div>
    </div>

</div>
@Html.Partial("reportViewerView", false)

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Reporte/GestionMensualCargoNominaCC.js"></script>