@{
    ViewBag.Title = "Catalogo de Notificantes";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/RecursosHumanos/CatNotificantes/CatNotificantes.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">CATALOGO DE NOTIFICANTES</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-sm-12">
            <button id='btnFiltroNuevo' type='button' class='btn btn-success pull-right botonTitulo mt5'><i class='fa fa-plus'></i> Nuevo</button>
            <span class="pull-right">&nbsp;</span>
            <button id='btnFiltroBuscar' type='button' class='btn btn-primary pull-right botonTitulo mt5'><i class='fa fa-search'></i> Buscar</button>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <table id='tblNotificantes' class='display'></table>
</div>

<!-- MODAL CE NOTIFICANTE -->
<div class="modal fade" id="mdlCENotificante" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Notificantes</h4>
            </div>
            <div class="modal-body ajustar-texto">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="cboCEUsuario" class="input-group-addon">Empleado:</label>
                            <select class="form-control select2" id="cboCEUsuario"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id='btnCEAddNotificante' type='button' class='btn btn-success'><i class='fa fa-plus'></i> Nuevo</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="cboCECC" class="input-group-addon">CC:</label>
                            <select class="form-control select2" name="" id="cboCECC"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="cboCEConcepto" class="input-group-addon">Concepto:</label>
                            <select class="form-control select2" name="" id="cboCEConcepto"></select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table id='tblNotificantesDet' class='display compact' style="width:100%;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-success' id="btnCENotificante"><i class='fa fa-save'></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/CatNotificantes/CatNotificantes.js"></script>
<script src='~/Scripts/select2.js'></script>
