<div class="row">
    <div class="col-sm-12 no-gutter">
        <div id="menuPrincipal" class="seccion">
            <div id="menuPeriodos">
                <h2><i class="far fa-calendar-alt"></i></h2>
                <h5>Periodos</h5>
            </div>
            <div id="menuPersonal">
                <h2><i class="fas fa-user-tie"></i></h2>
                <h5>Personal</h5>
            </div>
            <div id="menuConductas">
                <h2><i class="fas fa-list"></i></h2>
                <h5>Conductas</h5>
            </div>
            <div id="menuCuestionarios">
                <h2><i class="fas fa-book"></i></h2>
                <h5>Cuestionarios</h5>
            </div>
            <div id="menuCriterios">
                <h2><i class="fas fa-tasks"></i></h2>
                <h5>Criterios</h5>
            </div>
            <div id="menuRelaciones">
                <h2><i class="fas fa-user-friends"></i></h2>
                <h5>Relaciones</h5>
            </div>
            <div id="menuEvaluaciones">
                <h2><i class="fas fa-window-restore"></i></h2>
                <h5>Evaluaciones</h5>
            </div>
            <div id="menuAvances">
                <h2><i class="fas fa-chart-pie"></i></i></h2>
                <h5>Avances</h5>
            </div>
            <div id="menuReporte360">
                <h2><i class="fas fa-bullseye"></i></h2>
                <h5>Reporte 360</h5>
            </div>
        </div>
    </div>
</div>