@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Evaluacion360/Cuestionarios.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Evaluacion360/General.css' rel='stylesheet' />

<!-- END: CONTAINER -->
<div class='container-fluid'>

    <!-- SECCIÓN MENÚ -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div id="menuPrincipal" class="seccion">
                <div id="menuPeriodos">
                    <h2><i class="far fa-calendar-alt"></i></h2>
                    <h5>Periodos</h5>
                </div>
                <div id="menuPersonal">
                    <h2><i class="fas fa-user-tie"></i></h2>
                    <h5>Personal</h5>
                </div>
                <div id="menuConductas">
                    <h2><i class="fas fa-list"></i></h2>
                    <h5>Conductas</h5>
                </div>
                <div id="menuCuestionarios" class="opcionSeleccionada">
                    <h2><i class="fas fa-book"></i></h2>
                    <h5>Cuestionarios</h5>
                </div>
                <div id="menuCriterios">
                    <h2><i class="fas fa-tasks"></i></h2>
                    <h5>Criterios</h5>
                </div>
                <div id="menuRelaciones">
                    <h2><i class="fas fa-user-friends"></i></h2>
                    <h5>Relaciones</h5>
                </div>
                <div id="menuEvaluaciones">
                    <h2><i class="fas fa-window-restore"></i></h2>
                    <h5>Evaluaciones</h5>
                </div>
                <div id="menuAvances">
                    <h2><i class="fas fa-chart-pie"></i></i></h2>
                    <h5>Avances</h5>
                </div>
                <div id="menuReporte360">
                    <h2><i class="fas fa-bullseye"></i></h2>
                    <h5>Reporte 360</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- END: SECCIÓN MENÚ -->

    <!-- CONTAINER FILTROS -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div class="seccion">
                <fieldset class='fieldset-custm'>
                    <legend class='legend-custm'>Cuestionarios</legend>
                    <div class="row">
                        <div class='pull-right'>
                            <button type='button' class='btn btn-default' id='btnFiltroBuscar' title="Buscar registros."><i class='fas fa-search'></i>&nbsp;Buscar</button>
                            <button type='button' class='btn btn-primary' id='btnFiltroNuevoCuestionario' title="Nuevo registro."><i class='fas fa-plus'></i>&nbsp;Nuevo</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class='col-xs-12'>
                            <table id='tblRH_Eval360_Cuestionarios' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <!-- CONTAINER FILTROS -->

    <!-- CONTAINER CONDUCTAS RELACIONADOS AL CUESTIONARIO -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div class="seccion">
                <fieldset class='fieldset-custm'>
                    <legend class='legend-custm'>Conductas relacionadas al cuestionario</legend>
                    <div class="row">
                        <!-- FILTROS -->
                        <div class="col-lg-4">
                            <label for="cboFiltroConductaRelCuestionario_cboGrupo" class="form-label">Seleccione un grupo:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-network-wired"></i></span>
                                <select type="text" id="cboFiltroConductaRelCuestionario_cboGrupo" class="form-control select2" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="cboFiltroConductaRelCuestionario_Competencia" class="form-label">Seleccione un grupo:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-network-wired"></i></span>
                                <select type="text" id="cboFiltroConductaRelCuestionario_Competencia" class="form-control select2" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class='pull-right'>
                            <button type='button' class='btn btn-default' id='btnFiltroConductaRelCuestionario_Buscar' title="Buscar registros."><i class='fas fa-search'></i>&nbsp;Buscar</button>
                        </div>
                    </div>
                    <br>
                    <!-- END: FILTROS -->

                    <!-- LISTADO DE CONDUCTAS REL CUESTIONARIO -->
                    <div class="row">
                        <div class='col-xs-12'>
                            <table id='tblRH_Eval360_CuestionariosDet' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                        </div>
                    </div>
                    <!-- END: LISTADO DE CONDUCTAS REL CUESTIONARIO -->
                </fieldset>
            </div>
        </div>
    </div>
    <!-- CONTAINER CONDUCTAS RELACIONADOS AL CUESTIONARIO -->

    <!-- CONTAINER CONDUCTAS -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div class="seccion">
                <fieldset class='fieldset-custm'>
                    <legend class='legend-custm'>Conductas disponibles</legend>
                    <!-- FILTROS -->
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="cboFiltroConductas_cboGrupo" class="form-label">Seleccione un grupo:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-network-wired"></i></span>
                                <select type="text" id="cboFiltroConductas_cboGrupo" class="form-control select2" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="cboFiltroConductas_cboCompetencia" class="form-label">Seleccione una competencia:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-network-wired"></i></span>
                                <select type="text" id="cboFiltroConductas_cboCompetencia" class="form-control select2" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class='pull-right'>
                            <button type='button' class='btn btn-default' id='btnFiltroConductaNoRelCuestionario_Buscar' title="Buscar registros."><i class='fas fa-search'></i>&nbsp;Buscar</button>
                            <button type='button' class='btn btn-primary' id='btnFiltroConductas_Guardar' title="Guardar conductas."><i class='fas fa-search'></i>&nbsp;Guardar</button>
                        </div>
                    </div>
                    <br>
                    <!-- END: FILTROS -->

                    <!-- LISTADO DE CONDUCTAS -->
                    <div class="row">
                        <div class='col-xs-12'>
                            <table id='tblRH_Eval360_CatConductas' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                        </div>
                    </div>
                    <!-- END: LISTADO DE CONDUCTAS -->
                </fieldset>
            </div>
        </div>
    </div>
    <!-- CONTAINER CONDUCTAS -->

</div>
<!-- END: CONTAINER -->

<!-- MODAL CREAR/EDITAR CUESTIONARIO -->
<div id='mdlCECuestionario' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'><i class='fa fa-dollar'></i></h4>
            </div>
            <div class='modal-body'>
                <div class="seccion">
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="txtNombreCuestionario">Nombre del cuestionario:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-network-wired"></i></span>
                                <input type="text" id="txtNombreCuestionario" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' data-dismiss='modal'><i class="fas fa-undo-alt"></i>&nbsp;Cerrar</button>
                    <button type='button' class='btn btn-success' id='btnCECuestionario'></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR CUESTIONARIO -->

<!-- SCRIPT -->
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Evaluacion360/Cuestionarios.js"></script>
<script src='~/Scripts/select2.js'></script>