@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Evaluacion360/Evaluaciones.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Evaluacion360/General.css' rel='stylesheet' />

<!-- END: CONTAINER -->
<div class='container-fluid'>

    <!-- SECCIÓN MENÚ -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div id="menuPrincipal" class="seccion">
                <div id="menuPeriodos">
                    <h2><i class="far fa-calendar-alt"></i></h2>
                    <h5>Periodos</h5>
                </div>
                <div id="menuPersonal">
                    <h2><i class="fas fa-user-tie"></i></h2>
                    <h5>Personal</h5>
                </div>
                <div id="menuConductas">
                    <h2><i class="fas fa-list"></i></h2>
                    <h5>Conductas</h5>
                </div>
                <div id="menuCuestionarios">
                    <h2><i class="fas fa-book"></i></h2>
                    <h5>Cuestionarios</h5>
                </div>
                <div id="menuCriterios">
                    <h2><i class="fas fa-tasks"></i></h2>
                    <h5>Criterios</h5>
                </div>
                <div id="menuRelaciones">
                    <h2><i class="fas fa-user-friends"></i></h2>
                    <h5>Relaciones</h5>
                </div>
                <div id="menuEvaluaciones" class="opcionSeleccionada">
                    <h2><i class="fas fa-window-restore"></i></h2>
                    <h5>Evaluaciones</h5>
                </div>
                <div id="menuAvances">
                    <h2><i class="fas fa-chart-pie"></i></i></h2>
                    <h5>Avances</h5>
                </div>
                <div id="menuReporte360">
                    <h2><i class="fas fa-bullseye"></i></h2>
                    <h5>Reporte 360</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- END: SECCIÓN MENÚ -->

    <!-- CONTAINER FILTROS -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <!-- LISTADO DE EVALUACIONES RELACIONADAS AL EVALUADOR -->
            <div class="seccion" id="divListadoEvaluaciones">
                <div class="row">
                    <div class='col-lg-5'>
                    </div>
                    <div class='pull-right'>
                        <button type='button' class='btn btn-default' id='btnFiltroBuscar' title="Buscar registros."><i class='fas fa-search'></i>&nbsp;Buscar</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class='col-xs-12'>
                        <table id='tblRH_Eval360_EvaluacionesEvaluador' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                    </div>
                </div>
            </div>
            <!-- END: LISTADO DE EVALUACIONES RELACIONADAS AL EVALUADOR -->
            <!-- EVALUACION EN PROCESO -->
            <div class="seccion divEvaluacionEnProceso">
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control btn btn-primary" id="btnFiltroListaEvaluados"><i class="fas fa-users"></i>&nbsp;Lista de evaluados</button>
                    </div>
                    <div class="col-lg-5"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="">Evaluando:&nbsp;<span id="evaluacion_lblPersonalEvaluado"></span></label>
                    </div>
                    <div class="col-lg-12">
                        <label for="evaluacion_lblTipoRelacion">Tipo relacion:&nbsp;<span id="evaluacion_lblTipoRelacion"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 center">
                        <label for="">Competencia:&nbsp;<span id="evaluacion_lblCompetencia"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 center">
                        <label for="">Conducta:&nbsp;<span id="evaluacion_lblConducta"></span></label>
                    </div>
                </div>
            </div>
            <!-- END: EVALUACION EN PROCESO -->
            <div class="seccion divEvaluacionEnProceso">
                <div class="row center">
                    <div id="divNombreCriterio"></div>
                </div>
                <div class="row center">
                    <div id="divRadioCriterio"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea id="txtComentarioEvaluacion" class="form-control" rows="5" placeholder="Ingresar comentario. (Opcional)"></textarea>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-lg-12 center">
                        @* <button type='button' class='btn btn-primary' id="evaluacion_btnRegresar">Regresar</button> *@
                        <button type='button' class='btn btn-primary' id="evaluacion_btnSiguiente">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTAINER FILTROS -->

</div>
<!-- END: CONTAINER -->

<!-- SCRIPT -->
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Evaluacion360/Evaluaciones.js'></script>
<script src='~/Scripts/moment-with-locales.js'></script>