@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Evaluacion360/Reporte360.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Evaluacion360/General.css' rel='stylesheet' />
<link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' />
@* <link href='~/Content/style/Highcharts/highcharts.css' rel='stylesheet' /> *@

<!-- END: CONTAINER -->
<div class='container-fluid'>

    <!-- SECCIÓN MENÚ -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div id="menuPrincipal" class="seccion">
                <div id="menuPeriodos">
                    <h2><i class="far fa-calendar-alt"></i></h2>
                    <h5>Periodos</h5>
                </div>
                <div id="menuPersonal">
                    <h2><i class="fas fa-user-tie"></i></h2>
                    <h5>Personal</h5>
                </div>
                <div id="menuConductas">
                    <h2><i class="fas fa-list"></i></h2>
                    <h5>Conductas</h5>
                </div>
                <div id="menuCuestionarios">
                    <h2><i class="fas fa-book"></i></h2>
                    <h5>Cuestionarios</h5>
                </div>
                <div id="menuCriterios">
                    <h2><i class="fas fa-tasks"></i></h2>
                    <h5>Criterios</h5>
                </div>
                <div id="menuRelaciones">
                    <h2><i class="fas fa-user-friends"></i></h2>
                    <h5>Relaciones</h5>
                </div>
                <div id="menuEvaluaciones">
                    <h2><i class="fas fa-window-restore"></i></h2>
                    <h5>Evaluaciones</h5>
                </div>
                <div id="menuAvances">
                    <h2><i class="fas fa-chart-pie"></i></i></h2>
                    <h5>Avances</h5>
                </div>
                <div id="menuReporte360" class="opcionSeleccionada">
                    <h2><i class="fas fa-bullseye"></i></h2>
                    <h5>Reporte 360</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- END: SECCIÓN MENÚ -->

    <!-- CONTAINER FILTROS -->
    <div class="row">
        <div class="col-sm-12 no-gutter">
            <div class="seccion">
                <div class="row">
                    <div class='col-lg-5'>
                        <label for="cboFiltroPeriodo">Seleccione un periodo:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-network-wired"></i></span>
                            <select id="cboFiltroPeriodo" class="form-control select2"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='pull-right'>
                        <button type='button' class='btn btn-default' id='btnFiltroBuscar' title="Buscar registros."><i class='fas fa-search'></i>&nbsp;Buscar</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class='col-xs-12'>
                        <table id='tblReporte360' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTAINER FILTROS -->

</div>
<!-- END: CONTAINER -->

<!-- MODAL LISTADO ESTATUS CUESTIONARIO EVALUADORES -->
<div id='mdlListadoEstatusCuestionarioEvaluadores' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'><i class='fa fa-dollar'></i></h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class='col-xs-12 seccion'>
                        <table id='tblEstatusCuestionarioEvaluadores' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' data-dismiss='modal'><i class="fas fa-undo-alt"></i>&nbsp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR PERSONAL -->

<!-- GRAFICA DE BARRAS POR COMPETENCIAS -->
<div id="graficaBarrasPorCompetencia" style="display:none"></div>

<!-- SCRIPT -->
@Html.Partial("reportViewerView", false)
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Evaluacion360/Reporte360.js'></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>