<!-- Razor -->
@{
    ViewBag.Title = "InsumosPieza";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Barrenacion/CatalogoPieza.css" rel="stylesheet" />


<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Catálogo de insumos por piezas <i class="fas fa-hammer"></i></h2>
</div>

<div class="container margin-top">
    <div class="col-lg-12 form-group">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="input-group">
                    <span class="input-group-addon">Area Cuenta</span>
                    <select name="" id="comboAC" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 form-group">
        <div class="row">
            <!-- Broca -->
            <div class="col-md-3 col-lg-3 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Broca
                            <button tipopieza=1 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsBroca" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanBroca" class="label label-primary">0</span>
                    </div>
                </div>
            </div>

            <!-- Martillo -->
            <div class="col-md-3 col-lg-3 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Martillo
                            <button tipopieza=2 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsMartillo" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanMartillo"
                                                 class="label label-primary">0</span>
                    </div>
                </div>
            </div>

            <!-- Barra -->
            <div class="col-md-3 col-lg-3 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Barra
                            <button tipopieza=3 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsBarra" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanBarra" class="label label-primary">0</span>
                    </div>
                </div>
            </div>
            <!-- Barra Segunda-->
            <div class="col-md-3 col-lg-3 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Barra Segunda
                            <button tipopieza=7 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsBarraSegunda" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanBarraSegunda" class="label label-primary">0</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Culata -->
            <div class="col-md-4 col-lg-4 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Culata
                            <button tipopieza=4 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsCulata" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanCulata" class="label label-primary">0</span>
                    </div>
                </div>
            </div>

            <!-- Portabit -->
            <div class="col-md-4 col-lg-4 text-center hide">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Portabit
                            <button tipopieza=5 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsPortabit" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanPortabit"
                                                 class="label label-primary">0</span>
                    </div>
                </div>
            </div>

            <!-- Cilindro -->
            <div class="col-md-4 col-lg-4 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Cilindro
                            <button tipopieza=6 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsCilindro" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanCilindro"
                                                 class="label label-primary">0</span>
                    </div>
                </div>
            </div>

            <!-- Zanco -->
            <div class="col-md-4 col-lg-4 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Zanco
                            <button tipopieza=8 class="btn btn-primary pull-right">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsZanco" class="list-group">
                        </div>
                    </div>
                    <div class="panel-footer">
                        Insumos asignados: <span id="spanZanco"
                                                 class="label label-primary">0</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal para agregar insumo -->
<div class="modal fade" id="modalNuevoInsumo" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Agregar nuevo insumo a pieza</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">Insumo</span>
                            <input id="inputInsumo" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <div class="input-group">
                            <span class="input-group-addon">Descripción</span>
                            <input id="inputDescripcion" type="text" class="form-control inputDescripcion">
                        </div>
                    </div>
                </div>
                <div class="row" id="divTipoBroca">
                    <div class="col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Tipo de broca</span>
                            <select id="comboTipoBroca" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">
                    <i class="fas fa-times"></i> Cancelar
                </button>
                <button id="botonAgregarInsumo" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar insumo -->
<div class="modal fade" id="modalEliminarInsumo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Eliminar insumo</h3>
                </div>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro que desea eliminar el insumo?
                </p>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">
                    <i class="fas fa-times"></i> No
                </button>
                <button id="botonEliminarInsumo" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Si
                </button>
            </div>
        </div>
    </div>
</div>





<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Barrenacion/CatalogoPieza.js"></script>