<!-- Razor -->
@{
    ViewBag.Title = "ReporteGeneralCapturas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Barrenacion/ReporteCapturaDiaria.css" rel="stylesheet" />


<div class="row text-center titulo">
    <h2>Reporte Estadistico Operadores <i class="fas fa-calendar-day"></i></h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm"><label>Filtros:</label></legend>

    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Area Cuenta</span>
                <select name="" id="comboAC" class="form-control"></select>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon">Operadores:</span>
                <select id="comboOperadores" class="form-control" multiple>
                </select>
            </div>
        </div>
        <div class="col-md-2 col-lg-3 pull-right">
            <div class="col-lg-6">
                <button id="botonBuscar" class="btn btn-primary">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
            <div class="col-lg-6">
                <button id="botonReporteGeneral" class="btn btn-primary pull-right">
                    <i class="fas fa-print"></i> Reporte
                </button>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" style="margin-top: 10px;">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">Fecha inicio</span>
                        <input class="text-center form-control" type="text" id="inputFechaInicio">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">Fecha fin</span>
                        <input class="text-center form-control" type="text" id="inputFechaFin">
                    </div>
                </div>
            </div>
        </div>

    </div>
</fieldset>

<fieldset class="fieldset-custm">
    <legend class="legend-custm"><label>Capturas:</label></legend>
    <div class="col-md-12 col-lg-12">
        <table id="tablaCapturas" class="table table-fixed table-hover table-responsive table-striped">
            <thead class="bg-table-header"></thead>
            <tfoot>
                <tr>
                    <td colspan="3" style="text-align:right;">Promedios:</td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                    <td style="text-align:right;"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</fieldset>

@Html.Partial("reportViewerView", false)

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src="~/Scripts/js/Maquinaria/Barrenacion/ReporteEstadisticoOperadores.js"></script>
