.chBox:hover {
  cursor: pointer;
}

.chBox>input[type=checkbox] {
  display: none;
  size: 5px;
}

.chBox input {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 8px;
  padding: 8px;
  white-space: nowrap;
}

.chBox span.y {
  display: none;
}

.chBox input:checked~span.n {
  display: none;
}

.chBox span.n { 
  background: #bdc0c286;
  display: inline;
  color: #2521219c;
  border-radius: 0.9em;
  margin: 0.2em;
}

.chBox input:checked~span.y {
  background: #4990cecc;
  display: inline;
  border-radius: 0.9em;
  margin: 0.2em;
}

.legend-custm>.chBox input:checked~span.y {
  background: #faae50;
}

.chartWrapper {
  position: relative;
}

.chartWrapper>canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  overflow-x: none;
  position: relative;
  width: 100%;
}

.chartAreaWrapper2 {
  position: relative;
  height: 260px;
}

#divPeriodo {
  height: 255px;
}

#divAlmacen {
  overflow-y: scroll;
  height: 255px;
}

#lblFecha {
  position: absolute;
  top: 70px;
  left: 20px;
}

#btnExportar {
  position: absolute;
  top: 70px;
  right: 10px;
}