@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var idEmpresa = new SIGOPLAN.Controllers.Principal.HomeController();
}
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/Sistema Contable/Cuenta/_conciliacion.css" rel="stylesheet" />
<h2 class="text-center"><i class="fas fas-table"></i> Conciliación de Cuentas</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fas fas-search"></i> Busqueda</legend>
    <div class='col-xs-3 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Principal</span>
            <select id='cboEmpresaPal' class='form-control'></select>
            <input class="hidden" id=idEmpresa value="@idEmpresa.getEmpresaID()"></input>
        </div>
    </div>
    <div class='col-xs-3 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Secundaria</span>
            <select id='cboEmpresaSec' class='form-control'></select>
        </div>
    </div>
    <div class='col-xs-3 col-md-3 col-lg-3'>
        <button id='btnBuscar' type='button' class='btn btn-default'><i class='fa fa-search'></i> Búscar</button>
        <button id='btnGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fas fas-table"></i> Cuentas</legend>
    <div class='table-responsive'>
        <table id='tblCuentas' class='table table-fixed table-striped'>
            <thead class='bg-table-header'></thead>
        </table>
    </div>
</fieldset>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/SistemaContable/Cuenta/_conciliacion.js"></script>
