@{
    ViewBag.Title = "Cátalogo Grupo de Maquinaria";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<link href="~/Content/style/css/Maquinaria/Catalogos/Style-GrupoMaquina.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Catalogo/GrupoMaquina.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Catálogo Grupo de Maquinaria</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Tipo:</label>
            <select class="form-control" id="cboFiltroTipoMaquinaria" title="Seleccione Tipo Maquinaria"></select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Descripción:</label>
            <input class="form-control" id="txtDescripcionGrupoMaquinaria" type="text" />
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label>Estatus:</label>
            <select class="form-control" id="cboEstatusGrupoMaquinaria">
                <option value="1">ACTIVO</option>
                <option value="0">INACTIVO</option>
            </select>
        </div>

        <div class="col-lg-2">
            <button type="button" class="btn btn-info margin-top" id="btnBuscar_GrupoMaquinaria">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>

            <button type="button" class="btn btn-success margin-top" id="btnNuevo_GrupoMaquinaria">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </button>
        </div>
    </div>
</div>

<div class="contenedor mt10">
    <div class="row">
        <div class="col-lg-12">
            <table id="grid_GrupoMaquinaria" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="update" data-formatter="update" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Modificar</th>
                        <th data-column-id="delete" data-formatter="delete" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Deshabilitar</th>
                        <th data-column-id="id" data-align="center" data-header-align="center">id</th>
                        <th data-column-id="tipo" data-align="center" data-header-align="center">Tipo</th>
                        <th data-column-id="descripcion" data-align="center" data-header-align="center">Descripción</th>
                        <th data-column-id="estatus" data-align="center" data-header-align="center">Estatus</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAltaGrupoMaquina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="title-modal"></label></h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid">
                    <form id="frmGrupoMaquinaria">
                        <div class="row">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">Datos Grupo Maquinaria:</legend>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left">
                                    <label>Tipo:</label>
                                    <select class="form-control" id="cboModalTipoMaquinaria" title="Seleccionar Tipo Maquina"></select>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-left">
                                    <label>Nombre Corto:</label>
                                    <input class="form-control" type="text" id="txtModalPrefijo" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left form-group">
                                    <label>Descripción:</label>
                                    <input class="form-control" id="txtModaldescripcionGrupoMaquinaria" />
                                </div>
                              
                                <div class="col-sm-3  col-lg-3 form-group">
                                    <label>Dn:</label>
                                    <input type="checkbox" id="inputDN" class="" />
                                </div>
                                <div class="col-sm-3  col-lg-3 form-group">
                                    <label>SOS:</label>
                                    <input type="checkbox" id="inputSOS" class="" />
                                </div>
                                <div class="col-sm-3  col-lg-3 form-group">
                                    <label>Bitacora:</label>
                                    <input type="checkbox"  id="inputBitacora" class="" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group text-left">
                                    <label>Estatus:</label>
                                    <select class="form-control" id="cboModalEstatusGrupoMaquinaria">
                                        <option value="1">ACTIVO</option>
                                        <option value="0">INACTIVO</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 form-group">
                            <div>
                                <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar_GrupoMaquinaria">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalCancelar_GrupoMaquinaria" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

