<!-- SECCIÓN MENÚ -->
<div id="menuPrincipal">
    <div id="menuLineaNegocios" style="display:none">
        <h2><i class="fas fa-tasks"></i></h2>
        <h5>Linea de <br>negocios</h5>
    </div>
    <div id="menuPuestos" style="display:none">
        <h2><i class="fas fa-tags"></i></h2>
        <h5>Catálogo de <br>puestos</h5>
    </div>
    <div id="menuTabuladores" style="display:none">
        <h2><i class="fas fa-list-ul"></i></h2>
        <h5>Asignación de <br>tabuladores</h5>
    </div>
    <div id="menuGestionTabuladores" style="display:none">
        <h2><i class="fas fa-users-cog"></i></h2>
        <h5>Gestión de <br>tabuladores</h5>
    </div>
    <div id="menuPlantillasPersonal" style="display:none">
        <h2><i class="fas fa-users"></i></h2>
        <h5>Plantilla de <br>personal</h5>
    </div>
    <div id="menuGestionPlantillasPersonal" style="display:none">
        <h2><i class="fas fa-users-cog"></i></h2>
        <h5>Gestión de <br>plantillas</h5>
    </div>
    <div id="menuModificacion" style="display:none">
        <h2><i class="fas fa-tasks"></i></h2>
        <h5>Modificación <br>tabuladores</h5>
    </div>
    <div id="menuGestionModificacion" style="display:none">
        <h2><i class="fas fa-users-cog"></i></h2>
        <h5>Gestión de <br>modificación</h5>
    </div>
    <div id="menuReportes" style="display:none">
        <h2><i class="fas fa-chart-bar"></i></h2>
        <h5>Reporte de <br>tabuladores</h5>
    </div>
    <div id="menuGestionReportes" style="display:none">
        <h2><i class="fas fa-chart-bar"></i></h2>
        <h5>Gestión de <br>reportes</h5>
    </div>
</div>
<!-- END: SECCIÓN MENÚ -->