@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/General.css' rel='stylesheet' />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class='container-fluid'>
    <div class="row">
        <div class="col-sm-12 seccion">
            @Html.Partial("_MenuTabuladores")
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12 text-center'>
            <h2>GESTIÓN</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <!-- PANEL FILTROS -->
            <div id='panelFiltro' class='panel panel-default panel-principal'>
                <div class='panel-heading'>
                    <h4 class='text-center'>FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-lg-5'>
                            <label for='cboFiltroCC'>CC</label>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                <select id='cboFiltroCC' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-2'>
                            <label for='cboFiltroVistaAutorizacion'>Vista autorización</label>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                <select id='cboFiltroVistaAutorizacion' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="pull-right">
                                <button class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->

            <!-- BODY -->
            <div id='panelGraficas' class='panel panel-default panel-principal'>
                <div class='panel-heading'></div>
                <div class='panel-body'>
                    <div class="row">
                        <table class="table" id="tblRegistros"></table>
                    </div>
                </div>
            </div>
            <!-- BODY -->
        </div>
    </div>
</div>
<!-- END: CONTAINER -->

<!-- JS -->
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/Gestion.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/_MenuTabuladores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->