@{
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/General.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/GestionModificacion.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<!-- END: CSS -->

<div class="contenedor">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_MenuTabuladores")
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <h3 class="mb5 mt5">GESTIÓN MODIFICACIONES</h3>
    </div>
</div>

<div class="contenedor" id='panelFiltro'>
    <div class='row'>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Estatus modificación</label>
                <select id='cboFiltroGestionEstatus' class='form-control select2'></select>
            </div>
        </div><br>
        <div class="col-lg-2">
            <button class="btn btn-primary" id="btnFiltroBuscar" style="margin-top: 5px;"><i class="fas fa-search"></i>&nbsp;Buscar</button>
        </div>
    </div>
</div>

<div class="contenedor mt20" id='panelGraficas'>
    <div class='row'>
        <div class="col-lg-12">
            <table class="table" id="tblGestionModificacion"></table>
        </div>
    </div>
</div>

<!-- MODAL FIRMAS -->
<div id='mdlFirmas' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table" id="tblFirmas"></table>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL FIRMAS -->

<!-- MODAL COMENTARIO RECHAZO -->
<div id='mdlComentario' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'>COMENTARIO RECHAZO</h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea name="" id="txtComentario" cols="75" rows="10" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL COMENTARIO RECHAZO -->

<!-- MODAL DETALLE TABULADOR | INCREMENTO ANUAL A EMPLEADOS ACTIVOS -->
<div id='mdlModificacion' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title text-center'></h4>
            </div>
            <div class='modal-body'>
                <div class="row seccion">
                    <div class="col-lg-12">
                        <div id="divTabEmpleadosActivos">
                            <table class="table" id="tblTabEmpleadosActivos">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th colspan="4" class="thActual thTextCenter"><span id="lblEmpleadosPrimerTab"></span></th>
                                        <th colspan="4" class="thAnterior thTextCenter"><span id="lblEmpleadosSegundoTab"></span></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Puesto</th>
                                        <th>Tipo nómina</th>
                                        <th>LN</th>
                                        <th>Cat</th>
                                        <th class="thActual">Sueldo base</th>
                                        <th class="thActual">Complemento</th>
                                        <th class="thActual">Nominal</th>
                                        <th class="thActual">Mensual</th>
                                        <th class="thAnterior">Sueldo base</th>
                                        <th class="thAnterior">Complemento</th>
                                        <th class="thAnterior">Nominal</th>
                                        <th class="thAnterior">Mensual</th>
                                        <th>Tipo incremento</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="divTabPuestos">
                            <table class="table" id="tblTabPuestos">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th colspan="4" class="thActual thTextCenter">Actual</th>
                                        <th colspan="4" class="thAnterior thTextCenter">Anterior</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Puesto</th>
                                        <th>Tipo nómina</th>
                                        <th>Esquema de pago</th>
                                        <th>LN</th>
                                        <th>Cat</th>
                                        <th class="thActual">Sueldo base</th>
                                        <th class="thActual">Complemento</th>
                                        <th class="thActual">Nominal</th>
                                        <th class="thActual">Mensual</th>
                                        <th class="thAnterior">Sueldo base</th>
                                        <th class="thAnterior">Complemento</th>
                                        <th class="thAnterior">Nominal</th>
                                        <th class="thAnterior">Mensual</th>
                                        <th>Tipo incremento</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL DETALLE TABULADOR -->

@Html.Partial("reportViewerView", false)

<!-- JS -->
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/GestionModificacion.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/_MenuTabuladores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/moment-with-locales.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->