@{
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/General.css' rel='stylesheet' />
<!-- END: CSS -->

<div class="contenedor">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_MenuTabuladores")
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <h3 class="mb5 mt5">GESTIÓN TABULADORES</h3>
    </div>
</div>

<div class="contenedor">
    <div class='row'>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Estatus tabulador</label>
                <select id='cboFiltroGestionEstatus' class='form-control select2'></select>
            </div>
        </div><br>
        <div class="col-lg-2">
            <button class="btn btn-primary mt5" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class='row'>
        <div class="col-lg-12">
            <table class="table" id="tblTabuladores"></table>
        </div>
    </div>
</div>

<!-- MODAL FIRMAS -->
<div id='mdlFirmas' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table" id="tblFirmas"></table>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL FIRMAS -->

<!-- MODAL COMENTARIO RECHAZO -->
<div id='mdlComentario' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'>COMENTARIO RECHAZO</h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea name="" id="txtComentario" cols="75" rows="10" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL COMENTARIO RECHAZO -->

<!-- MODAL DETALLE TABULADOR -->
<div id='mdlTabuladorDetalle' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title text-center'>TABULADOR DETALLE</h4>
            </div>
            <div class='modal-body'>
                <div class="row seccion">
                    <div class="col-lg-12">
                        <table class="table" id="tblTabuladoresDet"></table>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL DETALLE TABULADOR -->

<!-- JS -->
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/GestionTabuladores.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/_MenuTabuladores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->