@{
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/General.css' rel='stylesheet' />
<!-- END: CSS -->

<div class="contenedor">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_MenuTabuladores")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">LINEA DE NEGOCIOS</h3>
    </div>
</div>

<div class="contenedor">
    <div class='row'>
        <div class="col-lg-12">
            @* <button class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button> *@
            <button class="btn btn-primary" id="btnFiltroNuevo"><i class='fas fa-plus'></i>&nbsp;Nuevo</button>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class='row'>
        <div class="col-lg-12">
            <table class="table" id="tblLineaNegocios"></table>
        </div>
    </div>
</div>

<!-- MODAL CREAR/EDITAR LINEA DE NEGOCIO -->
<div id='mdlCELineaNegocio' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class='seccion'>
                    <div class='row'>
                        <div class='col-lg-8'>
                            <label for="txtCE_LineaNegocio">Línea de negocio:</label>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class="fas fa-user-tag"></i></span>
                                <input type='text' id='txtCE_LineaNegocio' class='form-control' autocomplete="off">
                            </div>
                        </div>
                        <div class='col-lg-4'>
                            <label for='txtCE_LineaNegocioAbreviacion'>Abreviación</label>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                <input type='text' id='txtCE_LineaNegocioAbreviacion' class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
                <button type='button' class='btn btn-success' id='btnCELineaNegocio'></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR LINEA DE NEGOCIO -->

<!-- MODAL RELACIONAR CC A LA LINEA DE NEGOCIO -->
<div id='mdlCELineaNegocioRelCC' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class='seccion'>
                    <div class='row'>
                        <div class='col-lg-10'>
                            <label for="cboCE_CC">CC:</label>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class="fas fa-user-tag"></i></span>
                                <select id='cboCE_CC' class='form-control select2' multiple></select>
                            </div>
                        </div><br>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" id="btnCELineaNegocioRelCC"><i class='fas fa-save'></i>&nbsp;Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="seccion">
                    <div class="row">
                        <div class='col-lg-12'>
                            <table class="table" id="tblLineaNegociosRelCC" style="width: 100%"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL RELACIONAR CC A LA LINEA DE NEGOCIO -->

<!-- JS -->
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/LineaNegocio.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/_MenuTabuladores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->