@{
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/General.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/Modificacion.css' rel='stylesheet' />
<!-- END: CSS -->

<div class="contenedor">
    <div class="row">
        <div class="col-sm-12 seccion">
            @Html.Partial("_MenuTabuladores")
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <h3 class="mb5 mt5">MODIFICACIÓN</h3>
    </div>
</div>

<div class="contenedor" id='panelFiltro'>
    <div class='row'>
        <div class='col-lg-3'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Tipo modificación</label>
                <select id='cboFiltroTipoModificacion' class='form-control select2'></select>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Línea de negocio</label>
                <select id='cboFiltroLineaNegocio' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-lg-2'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Fecha registro&nbsp;<i class="fas fa-question-circle" title="Campo no modificable, solo es informativo."></i></label>
                <input type='text' id='txtFiltroFechaRegistro' class='form-control' readonly>
            </div>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary mt25" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
            <button class="btn btn-success mt25" id="btnFiltroCalcular"><i class="fas fa-calculator"></i>&nbsp;Calcular</button>
            <button class="btn btn-success mt25" id="btnFiltroGuardar"><i class='fas fa-save'></i>&nbsp;Guardar</button>
        </div>
    </div>

    <div class="row">
        <div class='col-lg-2'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Área / Departamento</label>
                <select id='cboFiltroAreaDepartamento' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> CC</label>
                <select id='cboFiltroCC' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Puesto</label>
                <select id='cboFiltroPuesto' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-lg-2'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Fecha aplica cambio</label>
                <input type='date' id='txtFiltroFechaAplicaCambio' class='form-control'>
            </div>
        </div>
    </div>
</div>

<div class="contenedor mt20" id='panelGraficas'>
    <div class="row">
        <div class="col-lg-5">
            <table class="table mt25" style="margin-left: 27%; width: 79%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">ESQUEMA ACTUAL</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-lg-5">
            <table class="table mt25" style="margin-left: 14%; width: 86%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">MODIFICACIÓN</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class='col-lg-2'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i></label>
                <input type='text' id='txtPorcentajeGlobal' class='form-control'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="tblTabEmpleadosActivos"></table>
            <table class="table" id="tblTabPuestos"></table>
        </div>
    </div>
</div>

<div class="contenedor mt20" id='panelGraficas'>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>VoBo</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_CapitalHumano1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2" style="width: 35%; text-align: center">Capital humano</td>
                    </tr>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_CapitalHumano2' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: AUTORIZANTE: CAPITAL HUMANO -->
    <!-- AUTORIZANTE: GERENTE / SUBDIRECTOR / DIRECTOR DE ÁREA -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>Autoriza 1</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_GerenteSubdirectorDirector1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2" style="width: 35%; text-align: center">Gerente / Subdirector / Directo de área</td>
                    </tr>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_GerenteSubdirectorDirector2' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: AUTORIZANTE: GERENTE / SUBDIRECTOR / DIRECTOR DE ÁREA -->
    <!-- AUTORIZANTE: DIRECTOR DE LÍNEA DE NEGOCIOS -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>Autoriza 2</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_LineaNegocio1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2" style="width: 35%; text-align: center">Director de línea de negocios</td>
                    </tr>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_LineaNegocio2' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: AUTORIZANTE: DIRECTOR DE LÍNEA DE NEGOCIOS -->
    <!-- AUTORIZANTE: ALTA DIRECCIÓN -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>Autoriza 3</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_AltaDireccion1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2" style="width: 35%; text-align: center">Alta dirección</td>
                    </tr>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_AltaDireccion2' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- JS -->
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/Modificacion.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/_MenuTabuladores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/moment-with-locales.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->