@{
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Tabuladores/General.css' rel='stylesheet' />
<!-- END: CSS -->

<div class="contenedor">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_MenuTabuladores")
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <h3 class="mb5 mt5">PLANTILLA DE PERSONAL</h3>
    </div>
</div>

<div class="contenedor">
    <div class='row'>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> CC</label>
                <select id='cboFiltroCC' class='form-control select2'></select>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Línea de negocio</label>
                <select id='cboFiltroLineaNegocio' class='form-control select2'></select>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='form-group'>
                <label><i class='fas fa-plus' style="height:20px;"></i> Puesto&nbsp;<span id="lblCantPuestosSeleccionados"></span></label>
                @* <span id="spanCboFiltroPuesto" class="form-control" style="position:absolute;max-width:94%;overflow-x:hidden;">--Seleccione--</span> *@
                <select id='cboFiltroPuesto' class='form-control' multiple></select>
            </div>
        </div>

        <div class="col-lg-2">
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Fecha inicio</label>
                <input type='text' id='txtCEFechaInicio' class='form-control' autocomplete="off">
            </div>
        </div>
        <div class="col-lg-2">
            <div class='form-group'>
                <label><i class='fas fa-plus'></i> Fecha fin</label>
                <input type='text' id='txtCEFechaFin' class='form-control' autocomplete="off">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mt25">
                <button class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                <button class="btn btn-success" id="btnFiltroNuevo"><i class='fas fa-save'></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="tblPuestosTabuladores">
                <tfoot>
                    <tr>
                        <th colspan="2"></th>
                        <th>|</th>
                        <th colspan="2" style="text-align: left"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="contenedor mt20" id='panelGraficas'>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>Solicita</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_ResponsableCC' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td style="width: 35%; text-align: center">Responsable del CC</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: AUTORIZANTE: RESPONSABLE DEL CENTRO DE COSTOS -->
    <!-- AUTORIZANTE: CAPITAL HUMANO -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>VoBo</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_CapitalHumano1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td style="width: 35%; text-align: center">Capital humano</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: AUTORIZANTE: CAPITAL HUMANO -->
    <!-- AUTORIZANTE: DIRECTOR DE LÍNEA DE NEGOCIOS -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>Autoriza 1</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_LineaNegocio1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2" style="width: 35%; text-align: center">Director de línea de negocios</td>
                    </tr>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_LineaNegocio2' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: AUTORIZANTE: DIRECTOR DE LÍNEA DE NEGOCIOS -->
    <!-- AUTORIZANTE: ALTA DIRECCIÓN -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <th>Autoriza 2</th>
                <th>Puesto</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_AltaDireccion1' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2" style="width: 35%; text-align: center">Alta dirección</td>
                    </tr>
                    <tr>
                        <td>
                            <div class='col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                                    <select id='cboCE_Autorizante_AltaDireccion2' class='form-control select2'></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL CARGANDO -->
<div id='mdlCargando' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class="row seccion">
                    <div class="col-lg-12">
                        <p>Procesando, favor de no cerrar la ventana.</p>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
            </div>
        </div>
    </div>
</div>
<!-- MODAL CARGANDO -->

@Html.Partial("reportViewerView", false)

<!-- JS -->
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/PlantillaPersonal.js'></script>
<script src='~/Scripts/js/Administrativo/RecursosHumanos/Tabuladores/_MenuTabuladores.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->