
@{
    ViewBag.Title = "MovimientoControles";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Controles Envío/Recepción Calidad</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm"><label id="lblTitulotblEquiposPendientes">Listado de Equipos Pendientes:</label></legend>
                <table id="tblEquiposPendientes" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="Folio" data-width="25%">Folio</th>
                            <th data-column-id="CCNameRecepcion" data-width="25%">Envio Centro Costos</th>
                            <th data-column-id="CCName" data-width="25%">Recepcion Centro Costos</th>
                            <th data-column-id="nomb" data-width="25%">Economico</th>
                            <th data-column-id="Fecha" data-width="25%">Fecha</th>
                            <th data-column-id="VerSolicitud" data-formatter="VerSolicitud" data-sortable="false" data-width="25px">Ver Solicitud</th>
                            <th data-column-id="VerCalidad" data-formatter="VerCalidad" data-sortable="false" data-width="25px">Ver C.Calidad</th>
                            <th data-column-id="verReporte" data-formatter="verReporte" data-sortable="false" data-width="25px">Reporte</th>
                        </tr>
                    </thead>
                </table>
            </fieldset>
        </div>
    </div>
</div>
