@{
    ViewBag.Title = "ReporteStandBY";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Inventario/Style-Autorizacion.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Inventario/ReporteStandByJS.js"></script>

<div class="container-fluid">
    <div class=" row text-center">
        <h3><label>Validación  Conciliación</label></h3>
    </div>
    <div class="row " id="ppal">

        <fieldset class="fieldset-custm">
            <legend class="legend-custm"><label>Filtros:</label></legend>
            <div class="row">
                <div class="col-xs-12 col-xs-12 col-md-4 col-lg-4">
                    <label>Estatus:</label>
                    <select id="cboEstatusFiltro" class="form-control">
                        <option value="0">Pendientes</option>
                        <option value="1">Validados</option>
                    </select>

                </div>
                <div class="col-xs-12 col-xs-12 col-md-4 col-lg-4">
                    <label>Centro Costos:</label>
                    <select id="txtCC" class="form-control"></select>
                </div>
                <div class="col-xs-12 col-xs-12 col-md-4 col-lg-4 hide">
                    <div class="col-lg-6">
                        <label>Fecha Inicio</label>
                        <input type="text" class="form-control" id="tbFechaInicio" />
                    </div>
                    <div class="col-lg-6">
                        <label>Fecha Fin</label>
                        <input type="text" class="form-control" id="tbFechaFin" />
                    </div>
                </div>
            </div>

        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Lista Conciliacion de </legend>
            <table id="tblEquiposStandBy" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="usuario" data-width="15%">Usuario</th>
                        <th data-column-id="Fecha1" data-width="10%">Fecha Inicio</th>
                        <th data-column-id="Fecha2" data-width="10%">Fecha Fin</th>
                        <th data-column-id="Lugar" data-width="15%">Obra</th>
                        <th data-column-id="Valida" data-formatter="btnValida" data-width="5%">Valida</th>
                        <th data-column-id="Reporte" data-formatter="btnReporte" data-width="5%">Ver Reporte</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
    </div>
    <div id="vistaReporte">
        <div class="row">
            <div class="col-lg-12">
                <div class="clsFrame text-center">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm"> <span class="glyphicon glyphicon-home cursorClick" id="BntRegresar"></span>Vista Previa:</legend>
                        <iframe id="report2" align="middle" marginwidth="0"
                                marginheight="0"
                                hspace="0"
                                vspace="0"
                                frameborder="0"
                                scrolling="no" class="StyleIframe"></iframe>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm"> Autorizadores:</legend>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2">

                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><label id="lblElaboro1"></label></div>
                        <div id="btnElaboro" class="panel-body">Elaboro</div>
                        <div class="panel-footer panel-footer-Autoriza">AUTORIZADO</div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><label id="lblElaboro2"></label></div>
                        <div id="btnGerente" class="panel-body">Elaboro</div>
                        <div class="panel-footer panel-footer-Pendiente" id="divGerente"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2">

                </div>
            </fieldset>
        </div>
    </div>
</div>


@Html.Partial("reportViewerView", false)