@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<br />


<div class="container text-center">
    <div class="row">
        <img src="@Url.Content("~/Content/img/logo/logo0.png")">
    </div>
    <hr />
    <div class="row">
        <h1>Bienvenido Al Sistema de Maquinaria</h1>
    </div>
    <div class="row">
        <h2>Administrador</h2>
    </div>
    <hr  class="margin-top-hr"/>
    <div>
        <h3>SIGOPLAN v0.1</h3>
    </div>
</div>