#tblConsumo {
    table-layout: auto;
}

    #tblConsumo td {
        text-align: center;
    }

#tblConsumo, th, td {
    border: 1px solid black;
    text-align: center;
}

    #tblConsumo > tbody > tr > td {
        vertical-align: middle;
    }

    #tblConsumo > tbody > tr > td .btn-default {
     color: black; 
     background-color: white; 
    border-color: #ccc;
}
    select {
    padding: 0px;
    margin: 0px;
    display: inline !important;
}