tr.active{
    -webkit-box-shadow: 0px 0px 4px 1px #e80e0e;
    -moz-box-shadow: 0px 0px 4px 1px #e80e0e;
    box-shadow: 0px 0px 4px 1px #e80e0e;

}
tr.active td{
    background-color: #d12424 !important;
}
.unidad {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
#tblPrecio.dataTable tbody tr {
    background-color: transparent;
}
#tblPrecio tbody input, 
#tblPrecio tbody select,
#tblPrecio tbody .multiselect-native-select{
    font-size: 0.75em;
  }
.radioBtn .notActive {
    color: #3277b3;
    background-color: #fff;
}
a.btn.btn-primary.active {
    background-color: green;
}

#tblPrecio {
  width: 100%;
}

#tblPrecio thead {
  display: block;
  width: calc(100% - 17px);
}

#tblPrecio tbody {
  display: block; 
  max-height: 50vh; 
  overflow-y: scroll;
}

#tblPrecio td {
  border: none;
}

#tblPrecio tbody > tr > td {
    padding: 0.1em;
}