div#divScroll {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding: 10px !important;
    height: 300px !important;
}

button#btnGuardar {
    margin-right: 10px;
}

#fixTotales {
    margin-left: 115px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

/*.row {
    margin-right: -5px !important;
    margin-left: -2px !important;
}*/

.fix-tableGrid {
    max-height: 250px;
    /*height:400px;*/
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label.indicador {
    color: red;
}

span#btnEditPrecio {
    cursor: pointer;
    background: #337ab7;
    color: white;
}

.fix-container {
    padding-left: 15px;
    padding-right: 15px;
}

label#precioTotal {
    margin-left: 40px;
}

label#litrosTotal {
    margin-left: 60px;
}

.removePadding {
    padding: 0 !important;
}

select.form-control.itemPipa {
    padding: 0;
}

table#gridResultado {
    margin-bottom: 5px !important;
}

fieldset.fieldset-custm {
    padding-bottom: 0px;
}


#txtFecha{
    cursor: pointer;
}
