@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="row text-center margin-top">
    <h2>Actividades</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right" id="botonAgregar" style="margin-top: 5px; margin-bottom: 5px;"><i class="fas fa-plus"></i>Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaActividades" class="table table-hover" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalActividad">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Actividad</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputNombre" class="form-label">Nombre:</label>
                        <input type="text" name="inputNombre" id="inputNombre" class="form-control" />
                    </div>
                    <div class="col-sm-8">
                        <label for="inputDescripcion" class="form-label">Descripción:</label>
                        <input type="text" name="inputDescripcion" id="inputDescripcion" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label for="selectArea" class="form-label">Área:</label>
                        <select id="selectArea" class="form-control"></select>
                    </div>
                    <div class="col-sm-4">
                        <label for="selectAreaEvaluadora" class="form-label">Área Evaluadora:</label>
                        <select id="selectAreaEvaluadora" class="form-control"></select>
                    </div>
                    <div class="col-sm-4">
                        <label for="selectClasificacion" class="form-label">Clasificacion:</label>
                        <select id="selectClasificacion" class="form-control"></select>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputPorcentaje" class="form-label">Porcentaje:</label>
                        <input type="text" name="inputPorcentaje" id="inputPorcentaje" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label for="inputDiasCompromiso" class="form-label">Días Compromiso:</label>
                        <input type="text" name="inputDiasCompromiso" id="inputDiasCompromiso" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/SAAP/Actividades.js"></script>