@{
    ViewBag.Title = "RelacionEmpleadoAreaAgrupacion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<style>
    .select2-container {
        width: 100% !important;
        display: block;
    }
</style>

<div class="row text-center margin-top">
    <h2>Relación Empleado-Área-Agrupación</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right" id="botonAgregar" style="margin-top: 5px; margin-bottom: 5px;"><i class="fas fa-plus"></i>Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaRelacion" class="table table-hover" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalRelacion">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Relación Empleado-Área-Agrupación</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="inputClaveEmpleado" class="form-label">Clave Empleado:</label>
                        <input type="number" name="inputClaveEmpleado" id="inputClaveEmpleado" class="form-control" />
                    </div>
                    <div class="col-sm-3 noPadLeft">
                        <label for="inputNombre" class="form-label">Nombre:</label>
                        <input type="text" name="inputNombre" id="inputNombre" class="form-control" disabled>
                    </div>

                    <div class="col-sm-3 noPadLeft">
                        <label for="inputApellidoPaterno" class="form-label">Apellido Paterno:</label>
                        <input type="text" name="inputApellidoPaterno" id="inputApellidoPaterno" class="form-control" disabled>
                    </div>

                    <div class="col-sm-3 noPadLeft">
                        <label for="inputApellidoMaterno" class="form-label">Apellido Materno:</label>
                        <input type="text" name="inputApellidoMaterno" id="inputApellidoMaterno" class="form-control" disabled>
                    </div>

                    <div class="col-sm-3">
                        <label for="selectTipoUsuario" class="form-label">Tipo Usuario:</label>
                        <select id="selectTipoUsuario" class="form-control">
                            <option value="">--Seleccione--</option>
                            <option value="1">CAPTURISTA</option>
                            <option value="2">EVALUADOR</option>
                        </select>
                    </div>

                    <div class="col-sm-5 noPadLeft">
                        <label for="selectCentroCosto" class="form-label">Agrupación:</label>
                        <select id="selectCentroCosto" class="form-control select2"></select>
                    </div>

                    <div class="col-sm-4">
                        <label id="labelArea" for="selectArea" class="form-label">Área:</label>
                        <select id="selectArea" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/SAAP/RelacionEmpleadoAreaAgrupacion.js"></script>