<link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/Poliza/_divBancoMov.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class='fa fa-search'></i> Buscar</legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input id='dpBanMovMin' type='text' class='form-control'/>
            <span class='input-group-btn' style='width:0px;'></span>
            <input id='dpBanMovMax' type='text' class='form-control'/>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'> Cuentas</button>
            </span>
            <select id='selBanMovCta' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'> CC</button>
            </span>
            <select id='selBanMovCc' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'> TM</button>
            </span>
            <select id='selBanMovTm' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 margin-top'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'> TP</button>
                </span>
            <select id='selBanMovTp' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2 margin-top'>
        <div class='input-group'>
            <span class='input-group-addon'>Formato</span>
            <select id='selBanMovFormato' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 margin-top'>
        <button id='btnBanMovBusq' type='button' class='btn btn-primary'><i class='fa fa-search'></i> Buscar</button>
        <button id='btnBanMovRepo' type='button' class='btn btn-primary'><i class='fa fa-print'></i> Reporte</button>
        <button id='btnBanMovXlm' type='button' class='btn btn-success'><i class='fa fa-table'></i> Excel</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class='fa fas-bank'></i> Movimientos Bancos</legend>
    <div class='table-responsive'>
        <table id='tblBancMov' class='table table-fixed table-responsive table-striped'>
            <thead class='bg-table-header'>
                <th>Banco</th>
                <th>Cuenta</th>
                <th>Fecha</th>
                <th>Numero</th>
                <th>TM</th>
                <th>CC</th>
                <th>Descripcion</th>
                <th>Cargo</th>
                <th>Abono</th>
                <th>Estado</th>
                <th>Poliza</th>
                <th>TP</th>
                <th>Linea</th>
            </thead>
        </table>
    </div>
</fieldset>
@Html.Partial("reportViewerView", false)    
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/_divBancoMov.js"></script>