<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/_RelCuentaDivision.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Captura</legend>
    <div class='col-md-2 col-lg-2'>
        <button id='btnGuardarCuentaDivision' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
    </div>
    <div class='col-md-4 col-lg-4'>
        <div class='input-group'>
            <span class='input-group-addon'>Cuenta</span>
            <select id='selCuentaBancaria' class='form-control select2'></select>
        </div>
    </div>
    <div class='col-md-4 col-lg-4'>
        <div class='input-group'>
            <span class='input-group-addon'>División</span>
            <select id='selCcDivsionCuenta' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <label><input type="checkbox" id="chbDivCtaEstado" checked="checked"> Estado</label>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Resultado</legend>
    <div class='table-responsive'>
        <table id='tblCuentaDivision' class='table table-fixed table-responsive table-striped'>
            <thead class='bg-table-header'>
                <tr>
                    <th>Cuenta</th>
                    <th>Descripción</th>
                    <th>Banco</th>
                    <th>División</th>
                    <th>Moneda</th>
                    <th>Cuenta</th>
                    <th>Estádo</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/_RelCuentaDivision.js"></script>