<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    
    @RenderSection("css", required: false)

    <meta name="description" content="Asp.net mvc document viewer free sample code in C# and vb.net. View office documents and pdf files online in asp.net" />
</head>
<body>
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
