
@{
    ViewBag.Title = "CapturaAccidente";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/Seguridad/IndicadoresSeguridad/CapturaAccidente.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<h1 class="text-center">REPORTE DE INVESTIGACIÓN DE ACCIDENTES (RIA).</h1>

<div class="main">

    <div class="container">

        <div class="acc-wizard">

            <div class="panel-group" id="accordion">

                <!-- Datos Generales del Accidente -->
                <div class="panel panel-default active">

                    <div class="panel-heading" id="headingOne">
                        <h3>
                            <a href="#collapseDatosGenerales" data-toggle="collapse" data-parent="#accordion">Datos Generales del Accidente</a>
                        </h3>
                    </div>

                    <div id="collapseDatosGenerales" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <fieldset>

                                <div class="row">

                                    <div class="col-sm-12 col-md-12">

                                        <div class="row">
                                            <div class="col-sm-3 col-md-3">
                                                <label for="tipoAccidente" class="form-label">Tipo Accidente</label>
                                                <select name="tipoAccidente" id="tipoAccidente" class="form-control select2">
                                                    <option value="1"> 1</option>
                                                    <option value="2"> 2</option>
                                                    <option value="3">3</option>
                                                </select>                                        
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="empresa" class="form-label">Empresa</label>
                                                    <input type="text" name="empresa" id="empresa" placeholder="Empresa"/>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="departamento" class="form-label">Departamento</label>
                                                    <input type="text" name="departamento" id="departamento" placeholder="Departamento"/>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="lugarAccidente" class="form-label">Lugar Accidente</label>
                                                    <input type="text" name="lugarAccidente" id="lugarAccidente" placeholder="Lugar Accidente"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>                       
                        </div>
                    </div>

                </div>

                <!-- Persona Implicada en el Accidente -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingTwo">
                        <h3>
                            <a href="#collapsePersonaAccidente" data-toggle="collapse" data-parent="#accordion">Persona Implicada en el Accidente</a>
                        </h3>
                    </div>

                    <div id="collapsePersonaAccidente" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Descripción del Accidente -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingThree">
                        <h3>
                            <a href="#collapseDescripcionAccidente" data-toggle="collapse" data-parent="#accordion">Descripción del Accidente</a>
                        </h3>
                    </div>

                    <div id="collapseDescripcionAccidente" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Evaluación de la perdida si no es corregida -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingFour">
                        <h3>
                            <a href="#collapseEvaluacion" data-toggle="collapse" data-parent="#accordion">Evaluación de la perdida si no es corregida</a>
                        </h3>
                    </div>

                    <div id="collapseEvaluacion" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Grupo de Trabajo para la investigación -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingFive">
                        <h3>
                            <a href="#collapseGrupoTrabajo" data-toggle="collapse" data-parent="#accordion">Grupo de Trabajo para la investigación</a>
                        </h3>
                    </div>

                    <div id="collapseGrupoTrabajo" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Orden Cronologico del Accidente -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingSix">
                        <h3>
                            <a href="#collapseOrdenCronologico" data-toggle="collapse" data-parent="#accordion">Orden Cronologico del Accidente</a>
                        </h3>
                    </div>

                    <div id="collapseOrdenCronologico" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Técnica de Investigación -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingSeven">
                        <h3>
                            <a href="#collapseTecnicaInvestigacion" data-toggle="collapse" data-parent="#accordion">Técnica de Investigación</a>
                        </h3>
                    </div>

                    <div id="collapseTecnicaInvestigacion" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Analisis de Causas -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingEight">
                        <h3>
                            <a href="#collapseAnalisisCausa" data-toggle="collapse" data-parent="#accordion">Analisis de Causas</a>
                        </h3>
                    </div>

                    <div id="collapseAnalisisCausa" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- Medidas de Control -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingNine">
                        <h3>
                            <a href="#collapseMedidasControl" data-toggle="collapse" data-parent="#accordion">Medidas de Control</a>
                        </h3>
                    </div>

                    <div id="collapseMedidasControl" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <!-- EVIDENCIA FOTOGRAFICA -->
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingNine">
                        <h3>
                            <a href="#collapseEvidencia" data-toggle="collapse" data-parent="#accordion">EVIDENCIA FOTOGRAFICA</a>
                        </h3>
                    </div>

                    <div id="collapseEvidencia" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>


                <div class=" text-center">
                    <button class="btn btn-md btn-success">Guardar</button>
                </div>



                
            </div>
        </div>
    </div>
</div>


