<div id="mdlNuevoEmpleado" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title"><i class="fa fa-dollar"></i><span id="lblCrearEditarDepartamento">Nuevo Empleado</span></h1>
            </div>
            <div class="modal-body">
                <!-- SECCION DE CONTROLES -->
              <div class="container-fluid">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#DatosPersonales">Datos Personales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Documentos">Documentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Referencias" style="display: none;">Referencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Personales" >Personales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Puesto">Puesto</a>
                        </li>
                    </ul>
             
                 <div class="tab-content">

                        <div id="DatosPersonales" class="container-fluid tab-pane active">
                            <div class="seccion">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="text-color" for="txtNOEmpleado">Clave Empleado: </label>
                                                <input id="txtNOEmpleado" class="form-control" />
                                            </div>
                                            <div class="col-md-10">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-color" for="cboIdEmpresa">Nombre Empresa: </label>
                                                <select id="cboIdEmpresa" class="form-control"></select>
                                            </div>
                                            <div class="col-md-10">
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-color" for="txtNombreEmpleado">Nombre Empleado: </label>
                                                <input id="txtNombreEmpleado" class="form-control" />
                                            </div>
                                            <div class="col-md-4">
                                                <label class="text-color" for="txtApeidoP">Apellido Paterno: </label>
                                                <input id="txtApeidoP" class="form-control" />
                                            </div>
                                            <div class="col-md-4">
                                                <label class="text-color" for="txtApeidoM">Apellido Materno: </label>
                                                <input id="txtApeidoM" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="text-color" for="txtDomicilio">Domicilio: </label>
                                                <input id="txtDomicilio" class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-color" for="txtColonia">Colonia: </label>
                                                <input id="txtColonia" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-color" for="txtPais">País: </label>
                                                <select id="cboPais" class="form-control"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-color" for="txtEstado">Estado: </label>
                                                <select id="cboEstado" class="form-control"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-color" for="txtCiudad">Ciudad: </label>
                                                <select id="cboCiudad" class="form-control"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="text-color" for="txtCodigoPostal">C.P: </label>
                                                <input id="txtCodigoPostal" class="form-control" />
                                            </div>
                                            <div class="col-md-1">
                                                <label class="text-color" for="txtUMF">UMF: </label>
                                                <input id="txtUMF" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtLugar" >Lugar de nacimiento: </label>
                                                <input id="txtLugar" class="form-control" />
                                            </div>
                                            <div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtEstado" >Estado de nacimiento: </label>
                                                <input id="txtEstadoNacimiento" class="form-control" />
                                            </div>
                                            <div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtFechaDeNac" >Fecha de nacimiento: </label>
                                                <input id="txtFechaDeNac" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div><br>

                            </div>
                        </div>
                        <div id="Documentos" class="container-fluid tab-pane fade">
                            <div class="seccion">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="text-color" for="txtNumeroIMSS">Número de afiliación al imss: </label>
                                            <input id="txtNumeroIMSS" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="text-color" for="txtRFC">RFC: </label>
                                            <input id="txtRFC" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="text-color" for="txtNumeroDeIdentificacion">Número de identificación oficial: </label>
                                            <input id="txtNumeroDeIdentificacion" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="text-color" for="txtCURP">CURP: </label>
                                            <input id="txtCURP" class="form-control" />
                                        </div>

                                    </div>
                                </div><br>
                            </div>
                        </div>
                        <div id="Referencias" class="container-fluid tab-pane fade" style="display: none;">
                            <div class="seccion">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="row">
                                            <div div class="col-md-12" style="display: none;">
                                                <label class="text-color" for="txtNombreCompletoPadre">Nombre del padre: </label>
                                                <input id="txtNombreCompletoPadre" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div div class="col-md-12" style="display: none;">
                                                <label class="text-color" for="txtNombreCompletoMadre">Nombre de la madre: </label>
                                                <input id="txtNombreCompletoMadre" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div div class="col-md-12" style="display: none;">
                                                <label class="text-color" for="txtNombreCompletoEspo">Nombre de esposo(a): </label>
                                                <input id="txtNombreCompletoEspo" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div div class="col-md-6" style="display: none;">
                                                <label class="text-color" for="txtNombreBeneficiario">Beneficiario: </label>
                                                <input id="txtNombreBeneficiario" class="form-control" />
                                            </div>
                                            <div div class="col-md-3" style="display: none;">
                                                <label class="text-color" for="txtParentescoBeneficiario">Parentesco: </label>
                                                <input id="txtParentesco" class="form-control" />
                                            </div>
                                            <div div class="col-md-3" style="display: none;">
                                                <label class="text-color" for="txtFechaDeNacimientoBeneficiario">Fecha de nacimiento: </label>
                                                <input id="txtFechaDeNacimientoBeneficiario" class="form-control" />
                                            </div>
                                        </div>


                                    </div>
                                </div><br>
                            </div>
                        </div>
                        <div id="Personales" class="container-fluid tab-pane fade">
                            <div class="seccion">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="row">
                                            <div div class="col-md-2" style="display: none;">
                                                <label class="text-color" for="txtCalzado">Calzado: </label>
                                                <input id="txtCalzado" class="form-control" />
                                            </div>
                                            <div class="col-md-2" style="display: none;">
                                                <label class="text-color" for="txtTallaCamisa">Talla Camisa: </label>
                                                <input id="txtTallaCamisa" class="form-control" />
                                            </div>
                                            <div class="col-md-2" style="display: none;">
                                                <label class="text-color" for="txtTallaPantalon">Talla Pantalón: </label>
                                                <input id="txtTallaPantalon" class="form-control" />
                                            </div>
                                            <div class="col-md-2" style="display: none;">
                                                <label class="text-color" for="txtHijos">Hijos: </label>
                                                <input id="txtHijos" class="form-control" />
                                            </div>
                                            <div class="col-md-2" style="display: none;">
                                                <label class="text-color" for="txtEdades">Edades: </label>
                                                <input id="txtEdades" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row" >
                                            <div div class="col-md-3" >
                                                <label class="text-color" for="txtTipoSangre">Tipo Sangre: </label>
                                                <input id="txtTipoSangre" class="form-control" />
                                            </div>
                                            <div class="col-md-3" >
                                                <label class="text-color" for="txtAlergias">Alergias: </label>
                                                <input id="txtAlergias" class="form-control" />
                                            </div>
                                            <div class="col-md-3" style="display: none;">
                                                <label class="text-color" for="txtOveroll">Overoll: </label>
                                                <input id="txtOveroll" class="form-control" />
                                            </div>
                                            <div class="col-md-3" style="display: none;">
                                                <label class="text-color" for="txtTelefono">Teléfono: </label>
                                                <input id="txtTelefono" class="form-control" />
                                            </div>


                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtEstadoCivil">Estado Civil: </label>
                                                <input id="txtEstadoCivil" class="form-control" />
                                            </div>
                                            <div div class="col-md-1">
                                            </div>
                                            <div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtTipoVivienda">Tipo vivienda: </label>
                                                <input id="txtTipoVivienda" class="form-control" />
                                            </div>
                                            <div class="col-md-3" style="display: none;">
                                                <label class="text-color" for="txtCelular">Celular: </label>
                                                <input id="txtCelular" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div><br>
                            </div>
                        </div>
                        <div id="Puesto" class="container-fluid tab-pane fade">
                            <div class="seccion">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="row">
                                            <div div class="col-md-12">
                                                <label class="text-color" for="txtPuestoEmpleado">Puesto: </label>
                                                <input id="txtPuestoEmpleado" class="form-control" />
                                            </div>
                                            <div div class="col-md-12" style="display: none;">
                                                <label class="text-color" for="cboCCcc">Centro de costo : </label>
                                                <select id="cboCCcc" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div div class="col-md-8" style="display: none;">
                                                <label class="text-color" for="txtJefeInmediato">Jefe inmediato: </label>
                                                <input id="txtJefeInmediato" class="form-control" />
                                            </div>
                                            <div div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtSueldoBase">Sueldo base: </label>
                                                <input type="number" id="txtSueldoBase" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div div class="col-md-8" style="display: none;">
                                                <label class="text-color" for="txtCantidadConLetra">Cantidad con letra: </label>
                                                <input id="txtCantidadConLetra" class="form-control" />
                                            </div>
                                            <div div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtComplemento">Complemento: </label>
                                                <input type="number" id="txtComplemento" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div div class="col-md-8">
                                            </div>
                                            <div div class="col-md-4" style="display: none;">
                                                <label class="text-color" for="txtTotalSemanal">Total Semanal: </label>
                                                <input type="number" id="txtTotalSemanal" class="form-control" />
                                            </div>
                                        </div>


                                    </div>
                                </div><br>
                            </div>
                        </div>
                 </div>
              </div>
                <!-- END: SECCION DE CONTROLES -->
            </div>
            <div class="modal-footer">
                <button type='button' class="btn btn-primary" id="btnNuevoLimpiar" style="display: none;"><i class="fa fa-brush"></i> Limpiar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Regresar</button>
                <button type="button" id="btnNuevoEmpleados" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

