@{
ViewBag.Title = "Calendario";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Scripts/js/Maquinaria/Mantenimiento/panel/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Scripts/js/Maquinaria/Mantenimiento/panel/fullcalendar.print.min.css" rel='stylesheet' media='print' />

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Calendario</h2>
</div>

<!-- <fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class='col-md-2'>
            <label for="inputMes">Mes:</label>
            <input name="inputMes" id="inputMes" class="form-control date-picker">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonResultados" style="margin-top: 20px;">
                <i class="fas fa-search"></i> Resultados
            </button>
        </div>
    </div>
</fieldset> -->

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm"></legend>
    <div class="row" style='padding-left: 10px; padding-right: 10px;'>
        <div id='calendario' style="margin-top: 5px;"></div>
    </div>
</fieldset>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Objetivos/fullcalendar.js"></script>
<script src="~/Scripts/js/Objetivos/Calendario.js"></script>