@{
ViewBag.Title = "Calendario";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    /* #tablaMetas thead {
        display: none;
    } */

    .mrgTop {
        margin-top: 5px;
    }
</style>

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Escritorio</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="col-md-4">
        <label for="selectProceso">Proceso de Gestión de Metas</label>
        <select id="selectProceso" class="form-control"></select>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend id="legendProceso" class="legend-custm">Proceso</legend>
    <div class="row">
        <div class="col-md-4 mrgTop">
            <button id="botonAgregarMeta" class="btn btn-primary">Agregar Meta</button>
            <div>
                <label>Seguimientos</label>
                <select id="selectSeguimiento" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-8 mrgTop">
            <table id="tablaMetas" class="table table-hover table-fixed table-bordered compact" width="100%" style="margin-top: 30px;"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalAgregarMeta" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label>Crear Meta</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <label for="inputNombreMeta">NOMBRE DE LA META*</label>
                <input id="inputNombreMeta" class="form-control">
                <label for="selectEstrategia">META ESTRATÉGICA DE LA COMPAÑÍA*</label>
                <select id="selectEstrategia" class="form-control"></select>
                <label for="textAreaDescripcionMeta">DESCRIPCIÓN META*</label>
                <textarea id="textAreaDescripcionMeta" class="form-control" rows="3"></textarea>
                <label for="inputPeso">PESO*</label>
                <p>Establezca el peso relativo de la meta para la evaluación total. No olvide que la suma del peso de sus metas tiene que ser 100%.</p>
                <input id="inputPeso" class="form-control" style="width: 15%; display: inline-block;">
                <span>%</span>
                <!-- <label>Semáforo de la meta</label>
                <p></p>
                <input id=""> -->
            </div>
            <div class="modal-footer">
                <button type="button" id="botonGuardarMeta" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Objetivos/Escritorio.js"></script>