@{
    ViewBag.Title = "Autorizantes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/CtrlPptalOficinasCentrales/Autorizantes.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h1>@baseController.getEmpresaNombre()</h1>
            <h2>AUTORIZANTES</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BUSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>CC</label>
                            <select id="cboFiltroCC" class="form-control select2"></select>
                        </div>
                        <div class="pull-right" style="margin-top: 26px;">
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                            <button type="button" class="btn btn-primary marginRight" id="btnNuevo"><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="tblAutorizantes" class="table table-hover table-bordered compact" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL AGREGAR AUTORIZANTES -->
<div id='mdlAutorizantes' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'><i class='fa fa-dollar'></i><span id="lblTitleMdlCEAutorizantes"></span></h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <label>CC</label>
                            <select id="cboCC" class="form-control select2"></select>
                        </div>
                        <div class="col-lg-3">
                            <label>Descripcion</label>
                            <select id="cboDescripcion" class="form-control select2">
                                <option value="">--Seleccione--</option>
                                <option value="1">Encargado CC</option>
                                <option value="2">Jefe CC</option>
                                <option value="3">Autorizante</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <label>Autorizante</label>
                            <select id="cboAutorizante" class="form-control select2"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
                <button type='button' class='btn btn-success' id='btnGuardar'><span id="lblTitleBtnCEAutorizante"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL AGREGAR AUTORIZANTES -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/js/Administrativo/CtrlPptalOficinasCentrales/Autorizantes.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>