@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/CtrlPptalOficinasCentrales/CapturaPptal.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>CAPTURA PPTAL</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                            <button type="button" class="btn btn-primary marginRight" id="btnFiltroNuevoCaptura"><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
                        </div><br><br>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="tblAF_CtrlPptalOfCe_DetCapPptos" class="table table-hover table-bordered compact" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL CREAR/EDITAR DETALLE CAPTURA PPTAL -->
<div id='mdlCEDetCapPptal' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i><span id="lblTitleCEDetCapPptal"></span></h1>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Agrupación</span>
                            <select id="cboAgrupacion" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="input-group-addon">Concepto</span>
                        <select id="cboConcepto" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="input-group-addon">Responsable</span>
                        <select id="cboResponsable" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="input-group-addon">Mes</span>
                        <select id="cboMes" class="form-control"></select>
                    </div>
                    <div class="col-lg-6">
                        <span class="input-group-addon">Importe</span>
                        <input type="text" id="txtImporte" class="form-control">
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
                <button type="button" class="btn btn-success" id="btnCEDetCapPptal"><span id="lblTitleBtnCEDetCapPptal"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR DETALLE CAPTURA PPTAL -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/js/Administrativo/CtrlPptalOficinasCentrales/CapturaPptal.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>