@{
    ViewBag.Title = "Conceptos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/CtrlPptalOficinasCentrales/Conceptos.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h1>@baseController.getEmpresaNombre()</h1>
            <h2 id="titulo">CONCEPTOS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BUSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Año</label>
                            <select id="cboFiltroAnio" class="form-control select2"></select>
                        </div>
                        <div class="col-lg-3">
                            <label>CC</label>
                            <select id="cboFiltroCC" class="form-control select2"></select>
                        </div>
                        <div class="col-sm-3">
                            <label>Agrupación</label>
                            <select id="selectAgrupacion" class="form-control select2"></select>
                        </div>
                        <div class="col-sm-3" style="margin-top: 25px;">
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                            <button type="button" class="btn btn-primary" id="btnFiltroNuevoConcepto"><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="tblAF_CtrlPptalOfCe_Conceptos" class="table table-hover table-bordered compact" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL CREAR/EDITAR CONTROL IMPACTO -->
<div id='mdlCEConcepto' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'><i class='fa fa-dollar'></i><span id="lblTitleCEConcepto"></span></h4>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Año</label>
                        <select id="cboAnio" class="form-control select2" disabled></select>
                    </div>
                    <div class="col-lg-6">
                        <label>CC</label>
                        <select id="cboCC" class="form-control select2" disabled></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Agrupación</label>
                        <select id="selectAgrupacionModal" class="form-control"></select>
                    </div>
                    <div class="col-lg-12">
                        <label>Concepto</label>
                        <input type="text" id="txtConcepto" class="form-control" autocomplete="off" style="display: none;" disabled="disabled" />
                        <select id="cboConcepto" class="form-control select2"></select>
                    </div>
                    <div style="display: none;">
                        <div class="col-lg-3">
                            <label>Insumo</label>
                            <input id="inputInsumo" class="form-control">
                        </div>
                        <div class="col-lg-9">
                            <label>Descripción</label>
                            <input id="inputInsumoDescripcion" class="form-control">
                        </div>
                        <div class="col-lg-1 noPadRight">
                            <label>cta</label>
                            <input id="inputCTA" class="form-control text-center">
                        </div>
                        <div class="col-lg-1 noPadRight">
                            <label>scta</label>
                            <input id="inputSCTA" class="form-control text-center">
                        </div>
                        <div class="col-lg-1 noPadRight">
                            <label>sscta</label>
                            <input id="inputSSCTA" class="form-control text-center">
                        </div>
                        <div class="col-lg-9">
                            <label>Cuenta Contable</label>
                            <input id="inputCuentaDescripcion" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
                <button type="button" class="btn btn-success" id="btnCEConcepto"><span id="lblTitleBtnCEConcepto"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR CAPTURA -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/js/Administrativo/CtrlPptalOficinasCentrales/Conceptos.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>