@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- CSS -->
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/CtrlPptalOficinasCentrales/_General.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- CONTAINER FLUID -->
<div class="container-fluid body">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h1>@baseController.getEmpresaNombre()</h1>
            <h2>ESTIMADO REAL MENSUAL</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <label>Año</label>
                            <select id="cboFiltroAnio" class="form-control select2">
                                <option value="">--Seleccione--</option>
                                <option value="2023">2023</option>
                            </select>
                        </div>
                        <div class="col-lg-2"><br>
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar" title="Realizar búsqueda."><i class="fas fa-search"></i>&nbsp;Buscar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="tblEstimadoRealMensual" class="table table-hover table-bordered compact" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL ACTUALIZAR MENSUALIDAD DEL ESTIMADO REAL MENSUAL -->
<div id='mdlCEEstimadoRealMensual' class='modal fade' role='dialog' data-backdrop="static">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i></h1>
            </div>
            <div class='modal-body'>
                <div class="row">
                    <div class='col-lg-3'>
                        <label for='txtCE_Enero'>Enero</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Enero' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Febrero'>Febrero</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Febrero' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Marzo'>Marzo</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Marzo' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Abril'>Abril</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Abril' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-lg-3'>
                        <label for='txtCE_Mayo'>Mayo</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Mayo' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Junio'>Junio</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Junio' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Julio'>Julio</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Julio' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Agosto'>Agosto</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Agosto' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-lg-3'>
                        <label for='txtCE_Septiembre'>Septiembre</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Septiembre' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Octubre'>Octubre</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Octubre' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Noviembre'>Noviembre</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Noviembre' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label for='txtCE_Diciembre'>Diciembre</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                            <input type='text' id='txtCE_Diciembre' onclick="this.select()" class='form-control tipoMoneda'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
                <button type="button" class="btn btn-success" id="btnCEEstimadoRealMensual"><i class='fas fa-save'></i>&nbsp;Actualizar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR DETALLE CAPTURA PPTAL -->

<!-- SCRIPTS -->
<script src='~/Scripts/select2.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/CtrlPptalOficinasCentrales/EstimadoRealMensual.js"></script>
<!-- END: SCRIPTS -->