@{
    ViewBag.Title = "BajaMaquinaria";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Catalogo/BajaMaquinariaJS.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mt5 mb5">Reporte de Bajas de Maquinaria</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
            <label>Tipo baja:</label>
            <select class="form-control" id="cboTipo"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label>Inicio:</label>
            <input class="form-control" id="dpInicio" type="text" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label>Fin:</label>
            <input class="form-control" id="dpFin" type="text" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
            <button type="button" class="btn btn-info margin-top" id="btnBuscar" style=" margin-left: 10px;">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
            <button type="button" class="btn btn-info margin-top hidden" id="btnImprimir">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </button>
        </div>
    </div>
</div>

<div class="contenedor mt10">
    <div class="row">
        <div class="col-lg-12 ">
            <table id="tblInventario" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="Economico" data-align="center" data-header-align="center" data-sortable="false">No Economico</th>
                        <th data-column-id="Tipo" data-align="center" data-header-align="center" data-sortable="false">Tipo Maquinaria</th>
                        <th data-column-id="Descripcion" data-align="center" data-header-align="center" data-sortable="false">Grupo Maquinaria</th>
                        <th data-column-id="Marca" data-align="center" data-header-align="center" data-sortable="false">Marca</th>
                        <th data-column-id="Modelo" data-align="center" data-header-align="center" data-sortable="false">Modelo Maquina</th>
                        <th data-column-id="NumeroSerie" data-align="center" data-header-align="center" data-sortable="false">Serie</th>
                        <th data-column-id="Anio" data-align="center" data-header-align="center" data-sortable="false">Año</th>
                        <th data-column-id="CentroCostos" data-align="center" data-header-align="center" data-sortable="false">Ubicación</th>
                        <th data-column-id="Redireccion" data-align="center" data-header-align="center" data-sortable="false">Redireccionamiento</th>
                        <th data-column-id="CargoObra" data-align="center" data-header-align="center" data-sortable="false">Con Cargo a la obra</th>
                        <th data-column-id="Motivo" data-align="center" data-header-align="center" data-sortable="false">Motivo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)