@{
    ViewBag.Title = "HistorialAsignacion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row text-center">
        <h2>Historial de Asignación</h2>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros búsqueda:</legend>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label># CC:</label>
                        <select id="cboEconomicos" class=" form-control"></select>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row form-group">
        <fieldset class="fieldset-custm">

            <legend class="legend-custm">Resultados Búsqueda :</legend>
            <table id="tlbHorometrosMayores" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="id" data-align="center" data-header-align="center">Orden</th>
                        <th data-column-id="Centro_Costos" data-formatter="economico" data-align="center" data-header-align="center" data-sortable="false">Centro de Costos</th>
                        <th data-column-id="FechaAsignacion" data-formatter="economico" data-align="center" data-header-align="center" data-sortable="false">Fecha Asignación</th>
                        <th data-column-id="FechaEnvio" data-formatter="economico" data-align="center" data-header-align="center" data-sortable="false">Fecha Envio(Obra Anterior)</th>
                        <th data-column-id="FechaEntrega" data-formatter="horometroActual" data-align="center" data-header-align="center" data-sortable="false">Fecha Recibio</th>
                        <th data-column-id="FechaLiberacion" data-align="center" data-header-align="center" data-sortable="false">Fecha Liberación</th>
                        <th data-column-id="totalHoras" data-formatter="resultado" data-align="center" data-header-align="center" data-sortable="false">Horas Trabajadas</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>
<script src="~/Scripts/js/Maquinaria/Catalogo/Inventario/HistorialAsignacionMaquinariaHJS.js"></script>