.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 15px 0px 0px 0px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    box-shadow: 2px 4px 3px rgba(0,0,0,0.5); 
    text-align:center;
    line-height:0.01em;
    margin-top: 5px;
    margin-right: 5px;
}
.ui-dialog { z-index: 1050 !important; }
.dotAcotacion {
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding-top: 15px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    box-shadow: 2px 4px 3px rgba(0,0,0,0.5); 
    text-align:center;
    line-height:0.01em;
}
.bootgrid-table th:active, .bootgrid-table td { white-space:normal; }
.column-header-anchor  { white-space:normal !important; }
.tabla { overflow-y: auto; height: 500px; }
.tablaCRC { height: 400px !important; }
.tabla th {
    /*font-size: 12px;*/
    position: sticky; top: 0;
    /*background-color: #81bd72 !important;*/
    /*text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;*/
    white-space: nowrap;
    text-align: center;
}
td { vertical-align: middle !important; }    
.bootgrid-footer {
    position: sticky; bottom: 0; border-color:red;
    background-color: #81bd72 !important;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.ui-autocomplete { z-index:2147483647; }
input[type="file"] { display: none; }
.form-group .ckaplica { display: none; }
.form-group .ckaplica + .btn-group > label span:first-child { display: none; }
.form-group .ckaplica + .btn-group > label span:last-child { display: inline-block; }
.form-group .ckaplica:checked + .btn-group > label span:first-child { display: inline-block; }
.form-group .ckaplica:checked + .btn-group > label span:last-child { display: none; }
.divider {
    width:5px;
    height:auto;
    display:inline-block;
}
.input-group-addon { font-weight: bold; }
.bloqueSeparar { margin-bottom: 10px; }
.column-header-anchor { text-align: center; }
.bootgrid-table td { text-align: center; }
.col-centered{
    float: none;
    margin: 0 auto;
}
.wrap { 
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-alta-comp { margin-top: 5px; }
.tablaMediana { overflow-y: auto; height: 400px; }
.tablaChica { overflow-y: auto; height: 250px; }
.tablaChica th {
    font-size: 12px;
    position: sticky; top: 0;
    background-color: #81bd72 !important;
    /*text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;*/
    white-space: nowrap;
}
.tablaMediana th {
    font-size: 12px;
    position: sticky; top: 0;
    background-color: #81bd72 !important;
    /*text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;*/
    white-space: nowrap;
}
.select2-selection--single {
    height: 34px !important;
    border: 1px solid #ccc !important;
    color: #555 !important;
}

.modalFechas, .modalRegresar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25px;
    border-radius: 0;
}

#frmComponentesCRC td {
    padding: 0px;
}

#frmComponentesCRC td:nth-child(1),
#frmComponentesCRC td:nth-child(2),
#frmComponentesCRC td:nth-child(3),
#frmComponentesCRC td:nth-child(5)
/*#frmComponentesCRC td:nth-child(9),*/
/*#frmComponentesCRC td:nth-child(14),*/
/*#frmComponentesCRC td:nth-child(16)*/
 {
    white-space: nowrap !important;
    padding: 1px !important;
}

.bootgrid-table th > .column-header-anchor > .text {
    margin: 0;
}

button.detalles
{
    white-space: normal;
    word-wrap: break-word;
    width: 100px;
}

.bg-table-header {
    position: sticky; top: 0;
    font-size: 14px !important;
    background: rgb(48, 111, 219) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border: none !important;
    color: white;
    background-color: none !important;
}

.bootgrid-footer {
    font-size:14px;
    background: rgb(48, 111, 219) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border: none !important;
    color: white;
}

#grid_DetallesCRC th {
    color: white;
    font-size: 12px;
    padding: 0;
    background-color: rgb(44, 105, 204) !important;
    border: 0;
}

#grid_DetallesCRC.bootgrid-footer {
    font-size:14px;
    background-color: rgb(44, 105, 204) !important;
    border: none !important;
    color: white;
}

#grid_DetallesCRC td {
    border-top: 0.5px solid lightgrey;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0.5px solid lightgrey;
}

.modal-xl {
    width: 80%;
}
.modal-header {
    color: white;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    border: none;
}

.modal-header .titleHeader {
    font-size: x-large;
    font-weight: bold;
}

.modal-header .modal-title {
    font-weight: bold;
}

.modal-header .modal-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

#grid_DetallesCRC button.detalles {
    font-size: 12px !important;
    padding: 0;
}

#grid_ComponentesAlmacen th{
    background-color: rgb(44, 105, 204) !important;
}

.dataTables_info {
    position: sticky;
    bottom: 0;
    font-size: 14px !important;
    background: rgb(48, 111, 219) !important;
    border: none !important;
    color: white !important;
    background-color: none !important;
    width: 100%;
}