.fc-toolbar { text-transform: capitalize; }
.fc-head { text-transform: capitalize; }
td { min-height: 200px !important; }
.fc-day-grid-event > .fc-content { white-space: normal; }
ul {
    list-style-type: none;
    padding: 0;
}
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}
.custom-menu li:hover { background-color: #DEF; }
.bootgrid-table th:active, .bootgrid-table td { white-space:normal; }
.column-header-anchor { white-space:normal !important; }
.tabla {
    overflow-y: auto; 
    height: 500px;
}
.tabla th {
    position: sticky; top: 0;
    background-color: #81bd72 !important;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; 
}
td { vertical-align: middle !important; }    
.tabla .infoBar { position: sticky; top: 0; }
.fc-title { font-size: 18px; }
.fc-event-container { vertical-align: top !important; }
/*.fc-event { line-height:1 !important; }*/
.textoCompEvento { font-size: 11px; line-height:1 !important; }
.textoCompHoras {
    font-size: 11px;
    text-transform: uppercase;
    line-height:1 !important;
}
.eventoHijo { line-height: 1; animation: slide-up 0.4s ease; }
a.eventoHijo span.fc-title { line-height: 0 !important; }
a.eventoHijo span.fc-time { display:none; }
.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding-top: 15px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    box-shadow: 2px 4px 3px rgba(0,0,0,0.5); 
    text-align:center;
    line-height:0.01em;
}
.fc-event-container {
    text-align: center;
}
.fc-time {
    float: left !important
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
