hr { 
    margin: 5px 0 5px 0;
    border-top: 1px solid #aaaaaa;
}
.table > tbody > tr > td { border-top: 1px solid black; }

tfoot {
    position: sticky; bottom: 0; border-color:red;
    background: #81bd72 !important;
    border: 1px solid black;
}

.legend-custm {
    text-align: center;
}

.bootgrid-table th:active, .bootgrid-table td { white-space:normal; }
.column-header-anchor  { white-space:normal !important; }
.tabla { overflow-y: auto; height: 500px; }
.tabla th {
    font-size: 14px;
    position: sticky; top: 0;
    background-color: #81bd72 !important;
    white-space: nowrap;
}
.tabla td {
    vertical-align: middle !important;
}  
.bootgrid-footer {
    position: sticky; bottom: 0; border-color:red;
    background-color: #81bd72 !important;
}

.value-button {
    display:table;
    border: 1px solid #ddd;
    margin: 0px 0px 3px 0px;
    width:15% !important;
    height: 35px;
    text-align: center;
    color: white;
    vertical-align: middle;
    /*padding: 2px 0;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

#decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

#increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

#input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 50% !important;
    /*height: 40px;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.detalles-componente {
    width: 20px;
    height: 20px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 1.42857;
}

td{
    white-space: pre-wrap !important;
}
td.details-control {
    background: url('/Content/img/ico/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/Content/img/ico/details_close.png') no-repeat center center;
}

td.details-control-shown {
    background: url('/Content/img/ico/details_close.png') no-repeat center center;
}
.dataTables_scrollHeadInner {
    width: 100% !important;
}
.dataTables_scrollHeadInner table {
    width: 100% !important;
}
.ui-widget-header {
    /*background: #fff;*/
    border: 0;
    color: black;
    font-weight: normal;
}
.input-group-addon {
    font-weight: bold;
}

div.slider {
    display: none;
}
 
table.dataTable tbody td.no-padding {
    padding: 0;
}

.btn-accion {
    width: 100%
}

.btn-accion-auto {
    width: 100%
}

.dataTables_scrollBody {
    width: 100%;
}
.dataTables_scrollHead {
    width: 100%
}

.bloqueSeparar {
    margin-bottom: 10px;
}

.noPadLeft {
    padding-bottom: 1em;
}

.details-control-shown {
    border-top: 1px solid black;    
    border-radius: 0px;
}
.details-control {    
    border-top: 1px solid black;
    border-radius: 0px;
}

.historialComponente {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    display: table-cell !important;
    border-radius: 0px !important;
}



.btn-accion {
    color: white;
    font-weight:bold;
}

.bg-success{
    background-color:#28b779!important;
    color: white!important;
}
.bg-success:focus, .bg-success:hover {
    background-color: #1f8d5d !important;
    color: white!important;
}

.bg-info {
    background-color:#2255a4!important;
    color: white!important;
}
.bg-info:focus, .bg-info:hover {
    background-color:#193f7a!important;
    color: white!important;
}

.bg-danger {
    background-color:#da542e!important; 
    color: white!important;
}

.bg-danger:focus, .bg-danger:hover {
    background-color:#b54120!important;
    color: white!important;
}

.bg-table-header {
    font-size:15px;
    background: rgb(68,133,51) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border: none !important;
}

.fg-toolbar {
    background-color:transparent;
}

#tblInversion div.DataTables_sort_wrapper {
    color:white !important;
}

.dotAcotacion {
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding-top: 15px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    box-shadow: 2px 4px 3px rgba(0,0,0,0.5); 
    text-align:center;
    line-height:0.01em;
}

.noPadding {
    margin: 0;
    padding: 0;
}

th {
    text-align:center !important;
    background:rgb(44, 105, 204)  !important;
    color: white !important;
}

thead {
    background:rgb(44, 105, 204)  !important;
}
