.bootgrid-table th:active, .bootgrid-table td {
    white-space: normal;
}
.column-header-anchor {
    white-space: normal !important;
}
.bootgrid-table th:active, .bootgrid-table td { white-space:normal; }
.column-header-anchor  { white-space:normal !important; }
.tabla { overflow-y: auto; height: 500px; }
.tabla th {
    font-size: 14px;
    position: sticky; top: 0;
    background-color: #81bd72 !important;
    white-space: nowrap;
}
td { vertical-align: middle !important; }    
.bootgrid-footer {
    position: sticky; bottom: 0; border-color:red;
    background-color: #81bd72 !important;
}
.ui-autocomplete {
    z-index: 2147483647;
}
.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}
.input-group-addon {
    font-weight: bold;
}
.bloqueSeparar {
    margin-bottom: 10px;
}
.boton-reporte {
    margin-left: 5px;
    margin-right: 5px
}
#tblReparaciones td {
    font-size: 11px;
    text-align:center !important;
}
#tblReparaciones th {
    text-align:center !important;
}
#tblTiemposCRC td {
    /*font-size: 11.5px;*/
    text-align:center !important;
}
#tblTiemposCRC th {
    text-align:center !important;
}    
.verticalText 
{           
    font-family: monospace;
    text-align: center;
    border: 1px solid black !important;
}
.select2-selection--single {
    height: 34px !important;
    border: 1px solid #ccc !important;
    color: #555 !important;
}