@media (min-width: 1025px) {
    /*.fondo {
        background-image: url('../img/fondo4.png');
        background-repeat: no-repeat, repeat;
        color: white;
        background-position: center;
        background-size: 100% 100%;
    }*/
    .PanelMenuppal {
         text-align: center; 
         border-radius: 0 0 0 0; 
         /*border: 1px solid;*/ 
         display: block; 
         border-color: #337ab7; 
    }
}
@media (max-width: 767px) {
    .SubSystemsP {
        font-size:4vw !important;
        text-align:center !important;
    }
    .opcionesUsuario {
        top:54px;
    }
    .noMostrarMobile {
        display:none;
    }
    .flexContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .width100{
        width: 100%;
    }
    table.theadFixed thead th{
        /* position: absolute !important;
        top: -9999px !important;
        left: -9999px !important; */
        position:sticky;
        top:0;
        z-index: 10;
        background-color: #FFFFFF;
    }
    #botonAutorizar {
        position: fixed;
        bottom: 10%;
        left: 2%;
    }
    #botonGoTop {
        position: fixed;
        top: 30%;;
        left: 2%;
    }
    div.scrolleable{
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    input[type='checkbox'] {
        -webkit-appearance:none;
        width:30px;
        height:30px;
        background:white;
        border-radius:5px;
        border:2px solid #555;
    }
    input[type='checkbox']:checked {
        background: #abd;
    }
    .noPadding{
        padding: 0;
    }
    #accordion > div:nth-child(2){
        display: none;
    }
    .tamano-icono {
        height: 101px !important;
    }
    #divMenuAcceso a {
        font-size:14px !important;
        text-align:center;
    }
    .clsCerrarSistemas {
        height: 55px;
        width: 100%;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 34px;
        z-index: 99999999;
    }
}
@media (min-width:768px) {
    .opcionesUsuario {
        top:43px;
    }
    .mostrarMobile{
        display:none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .SubSystemsP {
        /*font-size:2rem !important;*/
        text-align:center !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .SubSystemsP {
        font-size:15px !important;
        text-align:center !important;
    }
}
@media (min-width: 1201px) {
    .SubSystemsP {
        /*font-size:2rem !important;*/
        text-align:center !important;
    }
}
@media (max-width: 768px) {
    .cumtomFotter {
        display:none;
    }
}
.opcionesUsuario {
        width:255px;
        position:fixed;
        right:16px;
        display:none;
        z-index:9999;
        border-color:black !important;
        color:black;
    }
.opcionesUsuario .ouHeader{
    color:blanchedalmond;
    font-weight:bold;
    background: linear-gradient(to bottom, #e88640 0%,#e27328 21%,#e26d1f 44%,#e88640 77%,#f9893d 100%);

}
.opcionesUsuario .ouFooter{
    background-color:#3A515A;
}
.opcionesUsuarioIcono {
    width:10px;
}
.opButtons {
    border-color:white !important;

}
.opButtons > a {
    color:white !important;
    text-decoration: none;
}

.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}

.SubSystemsP {
    font-size: 18px;
    margin-bottom: 30px;
}
/*.SubSystemsP span a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}*/

.modal-body-ppal {
    margin-top: 45px;
}

.noMostrarMobile {
    /*margin-top: 20px;*/
}

body {
    /*background-color: white !important;*/
}