#divBotonesFiltro {
    margin-right: 1%;
}

#btnCE_PorcentajeExpediente,
#btnCE_PorcentajeFiniquito,
#btnCE_PorcentajeDocumentoLegal {
    margin-top: 1%;
}

#btnCEArchivoAdjunto {
    margin-top: 13%;
}