#labelBotonBuscar {
    display: block !important;
    color: #fff !important;
}

#divBotonesFiltro {
    margin-right: 1%;
}

.button {
    height: 24px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid red;
}

#btnCE_PorcentajeExpediente,
#btnCE_PorcentajeFiniquito,
#btnCE_PorcentajeDocumentoLegal {
    margin-top: 1%;
}