.input-group-addon {
    font-weight: bold;
}

.custom_field {
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1 !important;
    color: #555 !important;
    font-weight: bold !important;
    padding: 3px 2px !important;
}

.marginRight {
    margin-right: 15px;
}

.marginBottom {
    margin-bottom: 5px;
}

textarea {
    width: 100% !important;
}

/* DISEÑO SELECT2 */
.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

/* DISEÑO SELECT2 */

/* DISEÑO TABLA */
table.dataTable {
    width: 100% !important;
}

table thead {
    font-size: 9px !important;
    /*background-color: lightgray !important;
    color: #000 !important;*/
}

table.dataTable {
    vertical-align: middle;
    font-size: 9px !important;
}

/* LISTADO DE BAJAS */

/* END: LISTADO DE BAJAS */
/* END: DISEÑO TABLA */

/* MODAL */
.modal-header {
    /* background: lightgray !important;
    color: black; */
}

.modal-lg {
    width: 1250px !important;
}

.modal-lgDocumentos {
    width: 800px !important;
}

.modal-lgUniformes {
    width: 800px !important;
}

.inputTextArea {
    width: 100% !important;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.buttonOrange {
    background-color: #D35400 !important;
}

/* END MODAL */