@{
    ViewBag.Title = "Actualizacion de ubicaciones";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Almacen/ActualizacionDeUbicaciones.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Rentabilidad/Externos/bootstrap-toggle.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Filtros</legend>
            <div class="row">
                <div class="col-sm-12 noPadRight">
                    <br>
                    <div class="col-sm-2 mrgTop noPadLeft noPadRight">
                        <div class="input-group">
                            <span class="input-group-addon">Almacén</span>
                            <input id="inputAlmacenNum" class="form-control ">
                        </div>
                    </div>
                    <div class="col-sm-4 mrgTop noPadLeft">
                        <div class="col-sm-11 noPadLeft noPadRight">
                            <input id="inputAlmacenDescripcion" class="form-control" disabled>
                        </div>
                        <div class="col-sm-1 noPadLeft noPadRight">
                            <button class="btn btn-info" data-toggle="modal" data-target="#mdlObtenerAlmacen" id="btnBuscarAlmacen"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="col-sm-2 mrgTop noPadLeft noPadRight">
                        <div class="input-group">
                            <span class="input-group-addon">Insumo</span>
                            <input id="inputInsumo" class="form-control ">
                        </div>
                    </div>
                    <div class="col-sm-4 mrgTop noPadLeft">
                        <div class="col-sm-11 noPadLeft noPadRight">
                            <input id="inputInsumoDescripcion" class="form-control" disabled>
                        </div>
                        <div class="col-sm-1 noPadLeft noPadRight">
                            <button class="btn btn-info" data-toggle="modal" data-target="#mdlObtenerInsumo" id="btnBuscarInsumo"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button id="btnGuardar" class="btn btn-success pull-right marginTop5" disabled><i class="fa fa-save"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-12">
        <fieldset class='fieldset-custm noPadRight'>
            <legend class="legend-custm">Resultados</legend>
            <div class="row col-md-12 noPadRight">
                <table id="tblActualizacion" class="table-bordered compact hover" style="width:100%;"></table>
            </div>
        </fieldset>
    </div>
</div>

<div class="modal fade" id="mdlObtenerInsumo" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Catálogo de Insumos <i class="fas fa-list"></i></h3>
                </div>
            </div>
            <div class="modal-body">
                <table id='tblInsumo' class='table table-bordered compact hover'></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlObtenerAlmacen" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Catálogo de Almacenes <i class="fas fa-list"></i></h3>
                </div>
            </div>
            <div class="modal-body">
                <table id='tblAlmacen' class='table table-bordered compact hover'></table>
            </div>
        </div>
    </div>
</div>

<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src='~/Scripts/sweetalert2@10.js'></script>
<script src="~/Scripts/js/Enkontrol/Almacen/ActualizacionDeUbicaciones.js"></script>
<script src="~/Scripts/js/Maquinaria/Rentabilidad/Externos/bootstrap-toggle.min.js"></script>