
@{
    ViewBag.Title = "AutorizaBajasRH";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Almacen/AutorizaBajasRH.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Autoriza Bajas RH</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <button id="btnGuardar" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 mrgTop">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="mrgTop" style="border: 1px solid black;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="widget">
                                    <div class="widget-header"></div>
                                    <div class="widget-content">
                                        <table id="tblEmpleadosPendientes" class="table-bordered hover" style="width: 100%;"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Almacen/AutorizaBajasRH.js"></script>