@{
ViewBag.Title = "SolicitudTraspaso";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Almacen/SolicitudTraspaso.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Solicitud Traspaso</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <!-- <legend class="legend-custm">Filtros búsqueda:</legend> -->

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-lg-3 mrgTop">
                            <div class="input-group">
                                <span class="input-group-addon">CC Origen</span>
                                <select id="selectCCOrigen" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 mrgTop">
                            <div class="input-group">
                                <span class="input-group-addon">Almacén Origen</span>
                                <select id="selectAlmacenOrigen" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 mrgTop">
                            <div class="input-group">
                                <span class="input-group-addon">CC Destino</span>
                                <select id="selectCCDestino" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 mrgTop">
                            <div class="input-group">
                                <span class="input-group-addon">Almacén Destino</span>
                                <select id="selectAlmacenDestino" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 mrgTop">
                            <div class="input-group">
                                <span class="input-group-addon">Comentarios</span>
                                <textarea id="textAreaComentarios" class="form-control" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-2 mrgTop">
                            <button class="btn btn-primary" id="btnGuardar">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <fieldset class="mrgTop" style="border: 1px solid black;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="widget">
                            <div class="widget-header"></div>
                            <div class="widget-content">
                                <div class="col-md-12 col-lg-12 mrgBottom">
                                    <button id="btnAgregarInsumo" type="button" class="btn btn-primary mrgTop mrgBottom"><i class="fa fa-plus"></i></button>
                                    <button id="btnQuitarInsumo" type="button" class="btn btn-danger mrgTop mrgBottom" disabled><i class="fa fa-minus"></i></button>
                                    <button id="btnCargarMovimiento" class="btn btn-default mrgTop mrgBottom pull-right"><i class="fa fa-list"></i></button>

                                    <table id="tblStock" style="width: 100%;"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlCargarMovimiento" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label>Cargar Movimiento</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-lg-12">
                        <div class="input-group mrgBottom">
                            <span class="input-group-addon">Almacén</span>
                            <select id="selectAlmacenMovimiento" class="form-control"></select>
                        </div>
                        <div class="input-group mrgBottom">
                            <span class="input-group-addon">Tipo Movimiento</span>
                            <select id="selectTipoMovimiento" class="form-control"></select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Número</span>
                            <input id="inputNumeroMovimiento" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAceptarMovimiento" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Almacen/SolicitudTraspaso.js"></script>