@{
    ViewBag.Title = "ValuacionInventarioFisico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@* Estilos *@
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Almacen/ValuacionInventarioFisico.css" rel="stylesheet" />

@* Cuerpo *@
<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Valuación Inventario Físico</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset class="fieldset-custm">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 noPadRight">
                        <div class="col-sm-12 mrgTop noPadLeft noPadRight">
                            <div class="col-sm-9 mrgTop noPadLeft noPadRight">
                                <div class="input-group">
                                    <span class="input-group-addon">CC</span>
                                    <input id="inputCC" class="form-control width10">
                                    <input id="inputCCDesc" class="form-control width90" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrgTop noPadLeft noPadRight">
                            <div class="col-sm-9 mrgTop noPadLeft noPadRight">
                                <div class="input-group">
                                    <span class="input-group-addon">Almacén</span>
                                    <input id="inputAlmacenNum" class="form-control width10">
                                    <input id="inputAlmacenDesc" class="form-control width90" disabled>
                                </div>
                            </div>
                            <div class="col-sm-3 mrgTop">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkSoloConDiferencia">
                                    <label class="form-check-label" for="checkSoloConDiferencia">Solo con diferencia</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 mrgTop noPadLeft noPadRight">
                            <div class="input-group">
                                <span class="input-group-addon">Fecha</span>
                                <input id="inputFecha" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 mrgTop noPadRight">
                            <div class="input-group">
                                <span class="input-group-addon">Insumo Inicio</span>
                                <input id="inputInsumoInicio" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 mrgTop noPadLeft noPadRight">
                            <div class="input-group">
                                <span class="input-group-addon">Insumo Final</span>
                                <input id="inputInsumoFin" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 mrgTop noPadRight">
                            <button id="botonBuscar" class="btn btn-primary"><i class="fa fa-arrow-right"></i>&nbsp;Buscar</button>
                            <button id="botonImprimir" class="btn btn-default" disabled><i class="fa fa-print"></i>&nbsp;Imprimir</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mrgTop">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tablaExistencias" class="table-bordered compact hover" style="width: 100%; display: none;"></table>
                </div>
                <div class="col-sm-12">
                    <div class="mrgTop">
                        <table id="tablaInsumos" class="table-bordered compact hover" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)

@* Scripts *@
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Almacen/ValuacionInventarioFisico.js"></script>