@{
    ViewBag.Title = "Administración 5s";

    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<style>
    .header {
        height: 200px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 text-center">
            <a href="/Administrativo/CincoS/CheckList">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/checkList.png" />
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/Administrativo/CincoS/Usuario">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/usuarios.png" />
            </a>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>