@{
    ViewBag.Title = "ReporteEjecutivo";

    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="/Content/style/css/Style-Reportes.css" rel="stylesheet">
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Capacitacion/CincoS/ReporteEjecutivo.css" rel="stylesheet" />
<br>
<br>
<div id="panelFiltro" class="panel panel-default panel-principal">
    <div class="panel-heading">
        <h4 class="text-center">FILTRO DE BÚSQUEDA</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <div class="input-group-addon">CC:</div>
                    <select id="cboFiltroCC" class="form-control" multiple="multiple"></select>
                </div>
            </div>
            <div class="col-lg-3 margin-top">
                <div class="input-group">
                    <div class="input-group-addon">AREA:</div>
                    <select id="cboFiltroArea" class="form-control" multiple="multiple"></select>
                </div>
            </div>
            <div class="col-lg-3 margin-top">
                <div class="input-group">
                    <div class="input-group-addon">FECHA INICIO:</div>
                    <input id="inputFechaInicio" class="form-control" />
                </div>
            </div>
            <div class="col-lg-3 margin-top">
                <div class="input-group">
                    <div class="input-group-addon">FECHA FINAL:</div>
                    <input id="inputFechaFinal" class="form-control" />
                </div>
            </div>

            <div class="col-lg-3 margin-top">
                <button id="btnBuscar" class="btn btn-success pull-right">
                    <i class="fas fa-search"></i> BUSCAR
                </button>
                <button id="btnImprimir" class="btn btn-default pull-right">
                    <i class="fas fa-print"></i>
                </button>                
            </div>

        </div>
    </div>
</div>

<div class="row no-margin" id="divReporteEjecutivo" style="background-color:white;">
    <div class="row margin-top" style="background-color:white;">
        <div class="col-xs-12 col-md-12" style="background-color:white;">
            <div class="panel-group" style="background-color:white;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseEnProyecto">
                                <i class="fas fa-signal"></i>
                                % 5’S EN PROYECTOS
                            </a>
                            <a id="botonConsultarPorcentajeProyecto" class="btn btn-xs btn-dark pull-right btnConsulta" data-toggle="collapse" href="#collapseEnProyecto" data-elemento=>
                                Consultar
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEnProyecto" class="panel-collapse collapse">
                        <br /> <br />
                        <div id="graficaTendencia"></div>
                        <br /> <br />
                        <div class="col-lg-12">
                            <table id="tabla5sProyecto" class="tabla table-bordered compact hover" style="width: 100%;"> </table>
                        </div>
                        <br /> <br /> <br /> <br />
                        <div class="col-lg-12">
                            <div id="graficaBarra5sProyecto"> </div>
                        </div>
                        <br /> <br />
                        <div class="col-lg-4">
                            <div id="graficaPentagono5sProyecto1"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaPentagono5sProyecto2"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaPentagono5sProyecto3"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaPentagono5sProyecto4"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaPentagono5sProyecto5"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaPentagono5sProyecto6"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row margin-top" style="background-color:white;">
        <div class="col-xs-12 col-md-12" style="background-color:white;">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseTendenciaAnula">
                                <i class="fas fa-signal"></i>
                                TENDENCIA ANULA DE IMPLEMENACIÓN 5’S
                            </a>
                            <a id="botonConsultarTencenciaAnula" class="btn btn-xs btn-dark pull-right btnConsulta" data-toggle="collapse" href="#collapseTendenciaAnula" data-elemento=>
                                Consultar
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTendenciaAnula" class="panel-collapse collapse">
                        <br /> <br />
                        <div class="col-lg-4">
                            <div id="graficaTendenciaProyecto1"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaTendenciaProyecto2"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaTendenciaProyecto3"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaTendenciaProyecto4"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaTendenciaProyecto5"> </div>
                        </div>
                        <div class="col-lg-4">
                            <div id="graficaTendenciaProyecto6"> </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


@Html.Partial("reportViewerView", false)

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Capacitacion/CincoS/ReporteEjecutivo.js"></script>
<script src="~/Scripts/js/Encuestas/highcharts/highcharts.js"></script>
<script src="~/Scripts/js/Encuestas/highcharts/highcharts-more.js"></script>
<script src="~/Scripts/dom-to-image.min.js"></script>