@{
    ViewBag.Title = "MenuReporteEjecutivo";

    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<style>
    .header {
        height: 200px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-3 text-center">
            <a href="/Administrativo/CincoS/Estadisticas">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/icono_estadisticas.png" />
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/Administrativo/CincoS/ReporteEjecutivo">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/icono_reporteEjecutivo.png" />
            </a>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>