@{
    ViewBag.Title = "Auditorías 5s";

    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<style>
    .header {
        height: 200px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="/Administrativo/CincoS/Calendario">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/icono_calendario.png" />
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Administrativo/CincoS/Auditorias5s">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/icono_auditorias5s.png" />
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Administrativo/CincoS/Seguimientos">
                <img src="~/Content/img/Iconos_Capacitacion/CincoS/icono_seguimiento.png" />
            </a>
        </div>
    </div>
</div>