
@{
    ViewBag.Title = "Calendario";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Scripts/js/Maquinaria/Mantenimiento/panel/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Scripts/js/Maquinaria/Mantenimiento/panel/fullcalendar.print.min.css" rel='stylesheet' media='print' />

<script src="~/Scripts/moment.min.js"></script>
@*<script src="~/Scripts/js/Maquinaria/Mantenimiento/panel/fullcalendar.min.js"></script>*@
<script src="~/Scripts/js/Maquinaria/Overhaul/fullcalendar.js"></script>
<script src="~/Scripts/js/Maquinaria/Overhaul/lang-all.js"></script>
@*<script src="~/Scripts/js/Maquinaria/Mantenimiento/panel/locale-all.js"></script>*@
@*<script src="~/Scripts/js/Principal/Home/js/bootstrap-tooltip.js"></script>*@
<script src="~/Scripts/js/Administrativo/ReservacionVehiculo/Calendario.js"></script>

<div class="row">
    <div class="col-md-12">
         <h1 class="text-center">Calendario Solicitudes</h1>
    </div>
</div>
 <br/>

<div class="row">
    <div class="col-md-12">
        <div id='calendar'></div>
    </div>
</div>
 
<div class="modal fade" id="modalSolicitud" role="dialog">
    <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <h3><label> Información de solicitud</label></h3>
                    </div>
                </div>
                <div class="modal-body"> 
                    <div class="row">
                        <div class="col-md-12">
                            <label for="spanUsuario">Usuario</label>
                            <span class="form-control" id="spanUsuario"></select>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <label for="spanMotivo">Motivo</label>
                            <span class="form-control" id="spanMotivo"></select>
                        </div>              
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <label for="inputJustificacion">Justificacion</label>
                            <textarea class="form-control" rows="4" id="inputJustificacion" readonly></textarea>
                        </div>              
                    </div> 

                     <div class="row">
                        <div class="col-md-12">
                            <label for="spanFecha">Fecha y hora salida</label>
                            <span class="form-control" id="spanFecha"></select>
                        </div>              
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <label for="spanFechaEntrega">Fecha y hora Entrega</label>
                            <span class="form-control" id="spanFechaEntrega"></select>
                        </div>              
                    </div> 
                </div>
                <div class="modal-footer">  
                    <a id="btnAutorizar" class="btn btn-primary"> Autorizar </a>    
                    <a id="btnRechazar" class="btn btn-danger"> Rechazar </a>  
                    <a id="btnCancelar" class="btn btn-danger"> Cancelar </a>                                   
                    <a data-dismiss="modal" id="btnCerrarSolicitud" class="btn btn-default"><span class="glyphicon"></span>Cerrar</a>
                </div>
            </div>
     </div> 
</div>