@{
    ViewBag.Title = "Aseguradora";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<script src="~/Scripts/js/Maquinaria/Catalogo/Aseguradora.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Catálogo Aseguradora</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <label>Descripción:</label>
            <input class="form-control" id="txtFiltroDescripcion" type="text" />
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label>Estatus:</label>
            <select class="form-control" id="cboFiltroEstatusAseguradora">
                <option value="1">ACTIVO</option>
                <option value="0">INACTIVO</option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <button type="button" class="btn btn-info margin-top" id="btnBuscar_Aseguradora">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>

            <button type="button" class="btn btn-success margin-top" id="btnNuevo_Aseguradora">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </button>
        </div>
    </div>
</div>

<div class="contenedor mt10">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="grid_Aseguradora" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="update" data-formatter="update" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Modificar</th>
                        <th data-column-id="delete" data-formatter="delete" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Deshabilitar</th>
                        <th data-column-id="id" data-align="center" data-header-align="center" data-sortable="false">Id</th>
                        <th data-column-id="descripcion" data-align="center" data-header-align="center">Descripción</th>
                        <th data-column-id="estatus" data-align="center" data-header-align="center">Estatus</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAseguradora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="title-modal"></label></h3>
                </div>
            </div>
            <div class="modal-body text-center modal-content-tamaño">
                <div class="container-fluid">
                    <form id="frmAseguradora">
                        <div class="row">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">Datos Aseguradoras:</legend>
                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 form-group text-left">
                                    <label>Descripción:</label>
                                    <input class="form-control" type="text" id="txtModaldescripcionAseguradora" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 form-group text-left">
                                    <label>Estatus:</label>
                                    <select class="form-control" id="cboModalEstatusAseguradora">
                                        <option value="1">ACTIVO</option>
                                        <option value="0">INACTIVO</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar_Aseguradora">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalCancelar_Aseguradora" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

