<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>@ViewData["Title"] - Doconut Razor</title>
    <style>
        html, body {
            font-family:Verdana;
            font-size: 12px;
        }
    </style>
    @RenderSection("CSS", required: false)
</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/scripts/jquery.min.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
