.blockUI {
    z-index: 9000 !important;
}

.dataTables_scroll .dataTables_scrollHeadInner table thead tr {
    background-color: #81bd72;
    color: white;
}

.dataTables_scroll .dataTables_scrollHeadInner table thead tr, th {
    text-align: center;
}
