.uploadForm {
    margin-bottom: 10px;
}

table td {
    border-left: 1px solid #b0cee3;
    border-right: 1px solid #b0cee3;
}

div.titulo > h2 {
    margin-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em !important;
}

.webix_modal_box .webix_popup_title {
    color: #666;
    background: #fff;
    font-size: 30px;
    text-shadow: none;
}

span.webix_icon{
    width: 100% !important;
    text-align: center !important;
    margin: 0 !important;
}

.webix_column>div.webix_cell_select,
.webix_column>div.webix_column_select,
.webix_column>div.webix_row_select {
    background: #1E90FF;
}

.webix_tree_item.webix_selected span {
    background: #1E90FF;
}

#botonModalAviso {
    background-color: #1E90FF;
}

#botonModalAviso:hover {
    color: white;
}

#modalAvisoCuerpo {
    font-size: 2rem;
}

#webix-area {
    width: auto;
    height: 500px !important;
    offset-position: auto !important;
    offset-path: none !important;
    offset-distance: 0 !important;
    offset-anchor: auto !important;
    offset-rotate: auto !important;
}

#botonAgregarUsuario{
    width: 20%;
}

#modalAviso{
    z-index: 9999999;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header,.webix_popup_title{
    background-color: #1E90FF !important;
    color: white !important;
}

.thSelected{
    color:#1E90FF;
    font-style: italic;
}

.btn-primary:hover, .webixtype_base:hover, .webix_popup_button div:hover{
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
}

.btnSelected{
    background-color:#1E90FF;
    font-style: italic;
    border-color: #1E90FF !important;
}

input[type="checkbox"] {
    cursor: pointer;
}

a.webix_list_item:hover{
    background-color: lightgray !important;
}

#textoPrevioCarpeta{
    font-size: 2rem;
    margin:0px 0px 0px 0px !important;
}