#tblCuadrilla_wrapper thead > tr > th,
    #tblArea_wrapper thead > tr > th,
    #tblSubArea_wrapper thead > tr > th,
    #tblActividad_wrapper thead > tr > th,
    #tblEquipo_wrapper thead > tr > th,
    #tblUsuario_wrapper thead > tr > th {
        background-color: #81bd72;
        color: #fff;
    }

    #tblCuadrilla_wrapper .ui-widget-header,
    #tblArea_wrapper .ui-widget-header,
    #tblSubArea .ui-widget-header,
    #tblActividad_wrapper .ui-widget-header,
    #tblEquipo_wrapper .ui-widget-header,
    #tblUsuario_wrapper .ui-widget-header {
        background-color: #81bd72;
        color: #fff;
    }

    #tblCuadrilla_wrapper .ui-corner-tl,
    #tblArea_wrapper .ui-corner-tl,
    #tblSubArea_wrapper .ui-corner-tl,
    #tblActividad_wrapper .ui-corner-tl,
    #tblEquipo_wrapper .ui-corner-tl,
    #tblUsuario_wrapper .ui-corner-tl {
        display: none;
    }

    #tblCuadrilla tbody > tr td,
    #tblArea tbody > tr td,
    #tblSubArea tbody > tr td,
    #tblActividad tbody > tr td,
    #tblEquipo tbody > tr td,
    #tblUsuario tbody > tr td {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #dialogNuevaCuadrilla .input-group-addon,
    #dialogEditarCuadrilla .input-group-addon,
    #dialogNuevaArea .input-group-addon,
    #dialogEditarArea .input-group-addon,
    #dialogSubArea .input-group-addon,
    #dialogSubAreaEdit .input-group-addon,
    #dialogNuevaActividad .input-group-addon,
    #dialogEditarActividad .input-group-addon,
    #dialogNuevoEquipo .input-group-addon,
    #dialogEditarEquipo .input-group-addon,
    #dialogNuevoUsuario .input-group-addon,
    #dialogEditarUsuario .input-group-addon {
        background-color: #81bd72;
        color: #fff;
        font-weight: bold;
    }

    .ui-widget-header {
        background: #81bd72;
        border: 0;
        color: #fff;
        font-weight: bold;
    }

    #tblPlanMaestro tbody tr td {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
    }

    #tblPlanMaestro tbody tr .cuadrillaText,
    #tblPlanMaestro tbody tr .periodoText,
    #tblPlanMaestro tbody tr .areaText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }