.ui-widget-header {
    background: #81bd72;
    border: 0;
    color: #fff;
    font-weight: bold;
}

#tblPlanMaestro tbody tr td {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
}

#tblPlanMaestro tbody tr .cuadrillaText,
#tblPlanMaestro tbody tr .periodoText,
#tblPlanMaestro tbody tr .areaText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tblPlanMaestro tbody tr .mes {
    vertical-align: middle;
    font-weight: bold;
    font-size: 22px;
}

#tblPlanMes thead th {
    border-bottom: 2px solid black;
    padding: 0px;
}

#tblPlanMes thead th {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#tblPlanMes thead .diaDomingoLetra,
#tblPlanMes thead .diaDomingoNumero,
#tblPlanMes tbody .diaDomingoCheck {
    background-color: #b0b0b0;
}

#tblPlanMes tbody td {
    border-bottom: 1px solid black;
}

#tblPlanMes tbody td[checked="checked"] {
        background-color: #337ab7;
        color: #fff;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        font-size: 22px;
    }

#tblPlanMaestro .mensual {
    background-color: #d4d4d4;
}

#tblPlanMaestro .bimestral {
    background-color: #d4d4d4;
}

#tblPlanMaestro .trimestral {
    background-color: #d4d4d4;
}

#tblPlanMaestro .semestral {
    background-color: #d4d4d4;
}

#tblPlanMaestro .anual {
    background-color: #d4d4d4;
}

#tblPlanMaestro tbody .mesChecked {
    color: #fff;
    /* background-color: #337ab7; */
}

#tblPlanMaestro tbody .mesChecked:hover {
        color: #fff;
        /* background-color: #286090; 
        cursor: pointer;*/
    }


#tblPlanMaestro thead .mesHeader:hover {
        background-color: #60a64e;
        cursor: pointer;
    }

#tblPlanMaestro thead th {
    border-bottom: 1px solid black;
}

#tblPlanMes tbody .celdaEquipoAreaBody {
    vertical-align: middle;
    padding: 0px 8px;
}

#tblPlanMes tbody .celdaEquipoAreaBody a {
        display: block;
        width: 100%;
        color: black;
    }

#tblPlanMes tbody .celdaEquipoAreaBody:hover {
        text-decoration: none;
        color: #000;
        background-color: #c2e3ff;
    }

#tblPlanMes tbody .celdaEquipoAreaBody:hover a {
            text-decoration: none;
            color: #000;
            background-color: #c2e3ff;
        }

#tblPlanMes tbody .celdaEquipoAreaBody a:focus {
        text-decoration: none;
    }

#tblPlanMes tbody tr .celdaCheckRevision {
    background-color: #5cb85c;
}

#tblPlanMes tbody tr .celdaCheckRevision:hover {
    cursor: pointer;
}

.wrap {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
}
.divpadding{
    padding-left: 0;
}
.noPadding-right{
    padding-right: 0;
}
.noPaddingField{
    padding-left: 1px;
    padding-right: 1px;
}
.noBorder{
    border-top: none !important;
    border-bottom: none !important;
}
.noBorderTop{
    border-top: none !important;
}

#tblEquiposArea tbody tr{
    height: 51px;
}

#tblEquiposArea tr.border_bottom td {
  border-bottom:1pt solid black;
}

.border_table{
     border-bottom:1pt solid black;
}

.border_width{
    border-width: 1px;  
}
.noPadding{
    padding: 0px;
}