#tblReporteActividades thead th {
    vertical-align: middle;
    border: 1px solid black;
    /*padding: 0px;*/
}

#tblReporteActividades tbody td {
    padding: 3px;
    vertical-align: middle;
    font-size: 12px;
}

#tblReporteActividades tbody tr .cuadrillaText,
#tblReporteActividades tbody tr .periodoText,
#tblReporteActividades tbody tr .areaText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tblReporteActividades tbody input {
    border-radius: 0px;
}

.radioBtn .notActive {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#tblReporteActividades tbody input {
    height: 28px;
}

#tblReporteActividades tbody a {
    padding: 3px 6px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .custom-file-upload {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;
}

#divGaleria:empty,
#divGaleriaNueva:empty,
#divGaleriaCua:empty {
    position: relative;
    display: block;
    min-height: 200px;
    background-color: rgb(240,240,240);
    text-align: center;
}

    #divGaleria:empty:before,
    #divGaleriaNueva:empty:before,
    #divGaleriaCua:empty:before {
        content: 'SIN EVIDENCIA';
        position: absolute;
        font-size: 25px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

.mkr_SldItem {
    width: 135px;
    height: auto;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

    .mkr_SldItem .thumbHolder {
        width: 100%;
        height: auto;
        display: table;
        text-align: center;
        vertical-align: middle;
    }

        .mkr_SldItem .thumbHolder span {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

            .mkr_SldItem .thumbHolder span img {
                margin-left: auto;
                margin-right: auto;
            }

/*Reglas AC*/
#tblReporteActividades thead th {
    vertical-align: middle;
    border: 1px solid black;
    /*padding: 0px;*/
}

#tblReporteActividades tbody td {
    padding: 3px;
    vertical-align: middle;
}

#tblReporteActividades tbody input,
#tblReporteActividades tbody .multiselect,
#tblReporteActividades tbody textarea {
    border-radius: 0px;
}

.radioBtn .notActive {
    /*color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;*/
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#tblReporteActividades tbody input {
    height: 28px;
}

#tblReporteActividades tbody ul input[type="checkbox"] {
    height: 13px;
}

#tblReporteActividades tbody a {
    padding: 3px 6px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .custom-file-upload {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;
}
/* image thumbnails */
#mdlEvidencia .modal-body .row,
#mdlEvidenciaCua .modal-body .row {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#mdlImagen .modal-body .row {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

#mdlImagen .modal-dialog {
    width: calc(100% - 350px);
}

#mdlRevisionAC .modal-body,
#mdlRevisionCua .modal-body {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

#mdlRevisionAC .modal-dialog,
#mdlRevisionCua .modal-dialog {
    width: 90%;
}

#divGaleria:empty,
#divGaleriaNueva:empty,
#divGaleriaCua:empty {
    position: relative;
    display: block;
    min-height: 200px;
    background-color: rgb(240,240,240);
    text-align: center;
}

    #divGaleria:empty:before,
    #divGaleriaNueva:empty:before,
    #divGaleriaCua:empty:before {
        content: 'SIN EVIDENCIA';
        position: absolute;
        font-size: 25px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

.mkr_SldItem {
    width: 135px;
    height: auto;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

    .mkr_SldItem .thumbHolder {
        width: 100%;
        height: auto;
        display: table;
        text-align: center;
        vertical-align: middle;
    }

        .mkr_SldItem .thumbHolder span {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

            .mkr_SldItem .thumbHolder span img {
                margin-left: auto;
                margin-right: auto;
            }

#fieldTablaReporteActividades .ui-widget-header {
    background-color: #81bd72;
    color: #fff;
}

#fieldTablaReporteActividades .dataTables_wrapper .ui-corner-tl {
    display: none;
}

#tblReporteActividades_wrapper thead > tr > th {
    background-color: #81bd72;
    color: #fff;
    vertical-align: middle;
    text-align: center;
}

#tblReporteActividades tbody .tdVacio {
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    background-color: #ffe6e6;
    color: red;
}

.circulo[circulotipo="1"] {
    height: 17px;
    width: 17px;
    background-color: limegreen;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #333;
}

.circulo[circulotipo="2"] {
    height: 17px;
    width: 17px;
    background-color: yellow;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #333;
}

.circulo[circulotipo="3"] {
    height: 17px;
    width: 17px;
    background-color: red;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #333;
}

#tblReporteActividades .circulo {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

    #tblReporteActividades .circulo a {
        display: inline-block;
        padding: 0px;
        height: 100%;
        width: 100%;
    }

    #tblReporteActividades .circulo:hover {
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
    }

#tblReporteActividades tbody .dt-center {
    text-align: center;
}

#divGaleria img,
#divGaleriaNueva img,
#divGaleriaReferencias img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

    #divGaleria img:hover,
    #divGaleriaNueva img:hover,
    #divGaleriaReferencias img:hover {
        opacity: 0.5;
        cursor: zoom-in;
    }

#divGaleria .text,
#divGaleriaNueva .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*Reglas AC*/
#tblCondensador thead th,
#tblEvaporador thead th {
    vertical-align: middle;
    border: 1px solid black;
    padding: 0px;
}

#tblCondensador tbody td,
#tblEvaporador tbody td {
    padding: 3px;
    vertical-align: middle;
}

#tblCondensador tbody input,
#tblEvaporador tbody input {
    border-radius: 0px;
}

.radioBtn .notActive {
    /*color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;*/
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#tblCondensador tbody input,
#tblEvaporador tbody input {
    height: 28px;
}

#tblCondensador tbody a,
#tblEvaporador tbody a {
    padding: 3px 6px;
}

#tblRevisionActividades thead th {
    vertical-align: middle;
    border: 1px solid black;
    padding: 0px;
}

#tblRevisionActividades tbody td {
    padding: 3px;
    vertical-align: middle;
    font-size: 12px;
}

#tblRevisionActividades tbody tr .cuadrillaText,
#tblRevisionActividades tbody tr .periodoText,
#tblRevisionActividades tbody tr .areaText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tblRevisionActividades tbody input {
    border-radius: 0px;
}

#tblRevisionActividades tbody input {
    height: 28px;
}

#tblRevisionActividades tbody a {
    padding: 3px 6px;
}

#mdlRevisionAC input:read-only,
#mdlRevisionCua input:read-only,
#mdlRevisionAC textarea:read-only,
#mdlRevisionCua textarea:read-only {
    background-color: white;
    border-radius: 0px;
}

/* Tooltip JQuery con estilo copiado de Bootstrap Tooltip*/
.ui-tooltip, .arrow:after {
    background: black;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-tooltip {
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
    box-shadow: 0 0 3px black;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

    .arrow.top {
        top: -16px;
        bottom: auto;
    }

    .arrow.left {
        left: 20%;
    }

    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }
/*Fin Estilo Tooltip JQuery*/

.long-value-input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#tblSemaforoInfo {
    width: auto;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 11px;
}

    #tblSemaforoInfo thead th {
        vertical-align: middle;
        border: 1px solid black;
        padding: 0px;
        font-size: 9px;
    }

    #tblSemaforoInfo tbody td {
        padding: 3px;
        vertical-align: middle;
        font-size: 9px;
    }

    #tblSemaforoInfo tbody tr .cuadrillaText,
    #tblSemaforoInfo tbody tr .periodoText,
    #tblSemaforoInfo tbody tr .areaText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #tblSemaforoInfo tbody input {
        border-radius: 0px;
    }

.radioBtn .notActive {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#tblSemaforoInfo tbody input {
    height: 28px;
}

#tblSemaforoInfo tbody a {
    padding: 3px 6px;
}

.listaSemaforo {
    min-width: 79px;
    top: -9px;
    left: 130%;
    padding-left: 7px;
}

#tblSemaforoInfo .circulo {
    height: 13px;
    width: 13px;
}

#tblReporteActividades,
#tblReporteActividades tbody td,
#tblReporteActividades tbody td input,
#tblReporteActividades tbody td textarea,
#tblReporteActividades tbody td .btn-group button,
#tblReporteActividades tbody td .btn-group ul,
#tblReporteActividades tbody td .btn-group ul li a {
    font-size: 11px !important;
}

    #tblReporteActividades tbody {
        height: 400px;
        overflow: auto;
    }
.tableFixHead {
  overflow-y: auto;
  height: calc(100vh - 224px);
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background: #81bd72;
  border: 1px solid black;
}

/*max-height: calc(100vh - 224px);*/