 #tblCondensador thead th,
    #tblEvaporador thead th {
        vertical-align: middle;
        border: 1px solid black;
        padding: 0px;
    }

    #tblCondensador tbody td,
    #tblEvaporador tbody td {
        padding: 3px;
        vertical-align: middle;
    }

    #tblCondensador tbody input,
    #tblEvaporador tbody input {
        border-radius: 0px;
    }

    .radioBtn .notActive {
        /*color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;*/
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    #tblCondensador tbody input,
    #tblEvaporador tbody input {
        height: 28px;
    }

    #tblCondensador tbody a,
    #tblEvaporador tbody a {
        padding: 3px 6px;
    }
    .custom-file-upload input[type="file"] {
        display: none;
    }
    .custom-file-upload .custom-file-upload {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;    
}
/* image thumbnails */
#mdlEvidencia .modal-body .row{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
#divGaleria:empty {
    position: relative;
    display: block;
    min-height: 200px;
    background-color: rgb(240,240,240);
    text-align: center;
}

#divGaleria:empty:before {
    content: 'SIN EVIDENCIA';
    position: absolute;
    font-size: 25px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.mkr_SldItem {
    width:135px;
    height:135px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.mkr_SldItem .thumbHolder {
    width: 100%;
    height: 125px;
    display: table;
    text-align:center;
    vertical-align: middle;
}

.mkr_SldItem .thumbHolder span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mkr_SldItem .thumbHolder span img {
    margin-left: auto;
    margin-right: auto;
}