<!-- MODAL CREAR/EDITAR PROYECTO -->
<div id='mdlCE_Proyecto' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class='seccion'>
                    <div class='row'>
                        <div class='col-lg-6'>
                            <label for='txtCE_Proyecto_NombreProyecto'>Nombre del proyecto</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <input type='text' id='txtCE_Proyecto_NombreProyecto' placeholder="Indicar nombre del proyecto." class='form-control'>
                            </div>
                        </div>
                        <div class='col-lg-6' id="div_cboCE_Proyecto_Cliente">
                            <label for='cboCE_Proyecto_Cliente'>Cliente</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Cliente' class='form-control select2'></select>
                                <span class='input-group-addon btn-primary fncChangeCliente'><i class='fas fa-plus'></i></span>
                            </div>
                        </div>
                        <div class='col-lg-6' id="div_txtCE_Proyecto_Cliente" style="display: none">
                            <label for='txtCE_Proyecto_Cliente'>Cliente</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <input type='text' id='txtCE_Proyecto_Cliente' placeholder="Indicar nombre del cliente." class='form-control'>
                                <span class='input-group-addon btn-primary fncChangeCliente'><i class='fas fa-plus'></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-4'>
                            <label for='cboCE_Proyecto_Prioridad'>Prioridad</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Prioridad' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-4'>
                            <label for='cboCE_Proyecto_Division'>Division</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Division' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-4'>
                            <label for='cboCE_Proyecto_Estatus'>Estatus</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Estatus' class='form-control select2'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-6'>
                            <label for='txtCE_Proyecto_Importe'>Importe</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <input type='text' id='txtCE_Proyecto_Importe' placeholder="Indicar el importe." class='form-control'>
                            </div>
                        </div>
                        <div class='col-lg-6'>
                            <label for='txtCE_Proyecto_FechaInicio'>Fecha de inicio</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <input type='date' id='txtCE_Proyecto_FechaInicio' class='form-control'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-3'>
                            <label for='cboCE_Proyecto_Escenario'>Escenario</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Escenario' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-3'>
                            <label for='cboCE_Proyecto_Pais'>Pais</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Pais' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-3'>
                            <label for='cboCE_Proyecto_Estado'>Estado</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Estado' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-3'>
                            <label for='cboCE_Proyecto_Municipio'>Municipio</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Municipio' class='form-control select2'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-9'>
                            <label for='cboCE_Proyecto_Responsable'>Responsable</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Responsable' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-3'>
                            <label for='cboCE_Proyecto_Riesgo'>Riesgo</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Proyecto_Riesgo' class='form-control select2'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-6' id="div_txtCE_Proyecto_Contacto" style="display: none">
                            <label for='txtCE_Proyecto_Contacto'>Contacto</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <input type='text' id='txtCE_Proyecto_Contacto' placeholder="Indicar nombre del contacto." class='form-control'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-12'>
                            <label for='txtCE_Proyecto_DescripcionObra'>Descripcion obra</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <textarea id="txtCE_Proyecto_DescripcionObra" cols="30" rows="7" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
                <button type='button' class='btn btn-success' id="btnCE_Proyecto"></button>
            </div>
        </div>
    </div>
</div>
<!-- END: CREAR/EDITAR PROYECTO -->