<div class="col-lg-2" id="divMenu">
    <fieldset class="fieldset-custm">
        <legend class="legend-custm"><span class="badge">Menu</span></legend>
        <button class="btn btn-block btn-success boton-menu menuSeleccion" id="btnMenu_Proyectos">Dashboard</button>
        @* <button class="btn btn-block btn-success boton-menu menuSeleccion">Satisfacer</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion">Fidelizar</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion">Proyeccion</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion">Reportes</button> *@
        <button class="btn btn-block btn-success boton-menu menuSeleccion" id="btnMenu_Clientes">Clientes</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion" id="btnMenu_ProspectosClientes">Prospectos</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion" id="btnMenu_Canales">Canales</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion" id="btnMenu_TrackingVentas">Tracking ventas</button>
        <button class="btn btn-block btn-success boton-menu menuSeleccion" id="btnMenu_Usuarios">Usuarios</button>
    </fieldset>
</div>