@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/Comercializacion/CRM/General.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12 text-center'>
            <h2>TRACKING VENTAS</h2>
        </div>
    </div>
    <!-- PANEL FILTROS -->
    <div class='row'>
        <div class='col-sm-12'>
            <div id='panelFiltro' class='panel panel-default panel-principal'>
                <div class='panel-heading'>
                    <h4 class='text-center'>FILTROS DE BÚSQUEDA</h4>
                </div>
                <div class='panel-body'>
                    <div class="row">
                        <div class='col-lg-5'>
                            <label for='cboFiltro_TipoFiltro'>Filtro</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboFiltro_TipoFiltro' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class='col-lg-5'>
                            <label for='cboFiltro_Busqueda'>Busqueda</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboFiltro_Busqueda' class='form-control select2'></select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for=''>&nbsp;</label>
                            <div class='input-group'>
                                <button id="btnFiltro_Buscar" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp;Buscar</button>&nbsp;
                                <button id="btnFiltro_Nuevo" class="btn btn-primary"><i class='fas fa-plus'></i>&nbsp;Nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: PANEL FILTROS -->

    <div class='row'>
        <!-- MENU -->
        @Html.Partial("_Menu")
        <!-- END: MENU -->

        <!-- TABLA TRACKING VENTAS -->
        <div class="col-lg-10">
            <fieldset class='fieldset-custm'>
                <legend class="legend-custm"><span class="badge">Tracking ventas</span></legend>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div id='panelFiltro' class='panel-principal'>
                            <div class='panel-heading'></div>
                            <div class='panel-body'>
                                <div class="row">
                                    <table class="table" id="tblTrackingVentas"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- END: TABLA TRACKING VENTAS -->
    </div>
</div>
<!-- END: CONTAINER -->

<!-- VISTAS PARCIALES -->
@Html.Partial("_CrearEditarProyecto");
<!-- END: VISTAS PARCIALES -->

<!-- JS -->
<script src="~/Scripts/js/Administrativo/Comercializacion/CRM/_Menu.js"></script>
<script src="~/Scripts/js/Administrativo/Comercializacion/CRM/TrackingVentas.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src='~/Scripts/moment-with-locales.min.js'></script>
<!-- END: JS -->