@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/Comercializacion/CRM/General.css" rel="stylesheet" />
<link href="~/Content/style/css/Administrativo/Comercializacion/CRM/UsuariosCRM.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class='container-fluid'>
    <!-- TITULO -->
    <div class='row'>
        <div class='col-sm-12 text-center'>
            <h2>USUARIOS</h2>
        </div>
    </div>
    <!-- END: TITULO -->

    <!-- PANEL FILTROS -->
    <div class='row'>
        <div class='col-sm-12'>
            <div id='panelFiltro' class='panel panel-default panel-principal'>
                <div class='panel-heading'>
                    <h4 class='text-center'>FILTROS DE BÚSQUEDA</h4>
                </div>
                <div class='panel-body'>
                    <div class="row">
                        <div class="col-lg-3 pull-right">
                            <label>&nbsp;</label>
                            <div class='input-group'>
                                <button class="btn btn-primary" id="btnFiltro_Buscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>&nbsp;
                                <button class="btn btn-primary" id="btnFiltro_Nuevo"><i class='fas fa-plus'></i>&nbsp;Nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: PANEL FILTROS -->

    <div class='row'>
        <!-- MENU -->
        @Html.Partial("_Menu")
        <!-- END: MENU -->

        <!-- TABLA USUARIOS -->
        <div class="col-lg-10">
            <fieldset class='fieldset-custm'>
                <legend class="legend-custm"><span class="badge">Usuarios</span></legend>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div id='panelFiltro' class='panel-principal'>
                            <div class='panel-heading'></div>
                            <div class='panel-body'>
                                <div class="row">
                                    <table class="table" id="tblUsuariosCRM"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- END: TABLA USUARIOS -->
    </div>
</div>
<!-- CONTAINER -->

<!-- MODAL CREAR USUARIO CRM -->
<div id='mdlCrear_UsuarioCRM' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class='seccion'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <label for='cboCE_UsuarioCRM'>Usuario</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_UsuarioCRM' class='form-control select2'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-12'>
                            <label for='cboCE_Menu'>Menu&nbsp;<span id="lblCantPuestosSeleccionados"></span></label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Menu' class='form-control select2' multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
                <button type='button' class='btn btn-success' id='btnCE_UsuarioCRM'></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR USUARIO CRM -->

<!-- MODAL ACTUALIZAR MENU REL USUARIO CRM -->
<div id='mdlActualizar_UsuarioCRM' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-md'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title'></h4>
            </div>
            <div class='modal-body'>
                <div class='seccion'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <label for='cboCE_UsuarioCRM'>Usuario</label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_UsuarioCRM' class='form-control select2'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-lg-12'>
                            <label for='cboCE_Menu'>Menu&nbsp;<span id="lblCantPuestosSeleccionados"></span></label>
                            <div class='input-group'>
                                <span class='input-group-addon'></span>
                                <select id='cboCE_Menu' class='form-control select2' multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
                <button type='button' class='btn btn-success' id='btnCE_UsuarioCRM'></button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL ACTUALIZAR MENU REL USUARIO CRM -->

<!-- JS -->
<script src="~/Scripts/js/Administrativo/Comercializacion/CRM/_Menu.js"></script>
<script src="~/Scripts/js/Administrativo/Comercializacion/CRM/UsuariosCRM.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->