@{
ViewBag.Title = "CompetenciasOperativas";
Layout = "~/Views/Shared/LayoutPage.cshtml";
var privilegioCapacitacion = new SIGOPLAN.Areas.Administrativo.Controllers.Seguridad.CapacitacionSeguridadController().privilegioCapacitacion();
<!-- Privilegios:
        NoAsignado = 0
        Administrador = 1
        Visor = 2
        ControlDocumentos = 3
        Instructor = 4
    -->
}

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; margin-top: 150px;">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <span class="pull-right">
                            <a href="/Administrativo/Capacitacion/PromedioEvaluaciones" role="button">
                                <img src="/Content/img/Iconos_Capacitacion/PROMEDIO EVALUACIONES.png" style="width: 250px; height: 250px;">
                                <br />
                                <h2>PROMEDIO EVALUACIONES</h2>
                            </a>
                        </span>
                    </div>
                    @if (privilegioCapacitacion != 2 && privilegioCapacitacion != 4) {
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <span>
                            <a href="/Administrativo/Capacitacion/CambiosCategoria" role="button">
                                <img src="/Content/img/Iconos_Capacitacion/CAMBIOS DE CATEGORIA.png" style="width: 250px; height: 250px;">
                                <br />
                                <h2>CAMBIOS DE CATEGORIA</h2>
                            </a>
                        </span>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Administrativo/Seguridad/CapacitacionSeguridad/CompetenciasOperativas.js"></script>