@{
ViewBag.Title = "DeteccionesPrimarias";
Layout = "~/Views/Shared/LayoutPage.cshtml";
var privilegioCapacitacion = new SIGOPLAN.Areas.Administrativo.Controllers.Seguridad.CapacitacionSeguridadController().privilegioCapacitacion();
<!-- Privilegios:
    NoAsignado = 0
    Administrador = 1
    Visor = 2
    ControlDocumentos = 3
    Instructor = 4
-->
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<!-- <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" /> -->
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/CapacitacionSeguridad/DeteccionesPrimarias.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<div class="row" style="margin-top: 33px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="container-fluid">
            <div class="row">
                <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                    <legend class="legend-custm">Datos Generales:</legend>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Centro de Costos</span>
                            <select id="selectCentroCosto" class="form-control" multiple></select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">Área</span>
                            <select id="selectArea" class="form-control" multiple></select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">Fecha</span>
                            <input id="inputFecha" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        @if (privilegioCapacitacion != 2 && privilegioCapacitacion != 3) {
                        <button id="botonNuevoRegistro" class="btn btn-primary pull-right" style="margin-left: 5px;"><i class="fa fa-plus"></i> Nuevo</button>
                        }
                        <button id="botonBuscarDetecciones" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </fieldset>
            </div>

            <div class="row">
                <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                    <legend class="legend-custm">Necesidades Detectadas:</legend>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaDeteccionesPrimarias" class="table compact table-bordered stripe" style="width: 100%"></table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevaDeteccionPrimaria" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <div class="text-center">
                    <h3><label> Nueva Detección Primaria</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-lg-12">
                    <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                        <legend class="legend-custm">Datos Generales:</legend>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon">Centro de Costos</span>
                                <select id="selectCentroCostoNuevo" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">Área</span>
                                <select id="selectAreaNuevo" class="form-control" multiple></select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon">Fecha</span>
                                <input id="inputFechaNuevo" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-12 col-lg-12 mrgTop">
                    <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                        <legend class="legend-custm">Necesidades Detectadas:</legend>
                        <button id="botonAgregarNecesidad" class="btn btn-xs btn-primary" style="margin-bottom: 5px;"><i class="fa fa-plus"></i>&nbsp;Agregar Necesidad</button>
                        <table id="tablaNecesidadesDetectadas" class="table compact table-bordered stripe" width="100%"></table>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="botonGuardarDeteccionPrimaria" class="btn btn-success mrgTop"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/CapacitacionSeguridad/DeteccionesPrimarias.js"></script>