@{
ViewBag.Title = "Captura";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Requerimientos/Estilo.css" rel="stylesheet" />

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Asignación</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Centro de Costo</legend>
    <div class="row">
        <div class="col-md-4 noPadRight">
            <select class="form-control select2" id="selectCentroCosto"></select>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonBuscar">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm">Puntos:</legend>
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" id="botonAgregar"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaPuntos" class="table table-hover table-fixed table-bordered compact" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalAgregarPunto">
    <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Agregar Puntos</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Centro de Costo:</label>
                        <select class="form-control" id="selectCentroCostoAgregar" multiple="multiple"></select>
                    </div>
                    <div class="col-sm-4">
                        <label>Clasificación:</label>
                        <select class="form-control" id="selectClasificacionAgregar" multiple="multiple"></select>
                    </div>
                    <div class="col-sm-4">
                        <label>Fecha Inicio Evaluación:</label>
                        <input type="text" id="inputFechaInicioEvaluacion" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Requerimientos:</label>
                        <select class="form-control" id="selectRequerimiento" multiple="multiple"></select>
                    </div>
                    <div class="col-sm-3">
                        <label>Actividades:</label>
                        <select class="form-control" id="selectActividad" multiple="multiple"></select>
                    </div>
                    <div class="col-sm-3">
                        <label>Condicionantes:</label>
                        <select class="form-control" id="selectCondicionante" multiple="multiple"></select>
                    </div>
                    <div class="col-sm-3">
                        <label>Secciones:</label>
                        <select class="form-control" id="selectSeccion" multiple="multiple"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="modalIndicadores">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Indicadores</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tablaIndicadores" class="table table-hover table-fixed table-bordered compact" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Requerimientos/Asignacion.js"></script>