@{
ViewBag.Title = "Auditoria";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Requerimientos/Estilo.css" rel="stylesheet" />

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Auditoría</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class="col-md-3 noPadRight">
            <label>Centro de Costo:</label>
            <select class="form-control select2" id="selectCentroCosto"></select>
        </div>
        <div class="col-md-2 noPadRight">
            <label>Clasificación:</label>
            <select class="form-control" id="selectClasificacion"></select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonBuscar" style="margin-top: 20px;"><i class="fas fa-search"></i> Buscar</button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm">Capturas:</legend>
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right" id="botonGuardar"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaCapturas" class="table table-hover table-fixed table-bordered compact" width="100%"></table>
        </div>
    </div>
</fieldset>

@Html.Action("_visorGrid")

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Requerimientos/Auditoria.js"></script>