@{
    ViewBag.Title = "CentroCostoDivision";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Requerimientos/Estilo.css" rel="stylesheet" />

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Relación Centro de Costo División</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <!-- <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" id="botonAgregar" class="btn btn-primary pull-right"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaCentroCosto" class="table compact table-hover" width="100%"></table>
        </div>
    </div>
</fieldset>

<!-- Modal crear / editar -->
<div class="modal fade" id="modalRequerimiento" style="padding-right: 0px !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Requerimiento</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">

                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <!-- <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button> -->
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Requerimientos/CentroCostoDivision.js"></script>