@{
ViewBag.Title = "Requerimientos";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Requerimientos/Estilo.css" rel="stylesheet" />

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Requerimientos</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" id="botonCargaMasiva" class="btn btn-default"><i class="fa fa-file-upload"> Carga Masiva</i></button>
            <button type="button" id="botonAgregar" class="btn btn-primary pull-right"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaRequerimientos" class="table table-hover table-fixed table-bordered" width="100%"></table>
        </div>
    </div>
</fieldset>

<!-- Modal crear / editar -->
<div class="modal fade" id="modalRequerimiento" style="padding-right: 0px !important;">
    <div class="modal-dialog modal-lg" style="width: 98%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Requerimiento</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputRequerimiento" class="form-label">Requerimiento:</label>
                        <input type="text" name="inputRequerimiento" id="inputRequerimiento" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label for="selectClasificacion" class="form-label">Clasificación:</label>
                        <select id="selectClasificacion" class="form-control" name="selectClasificacion"></select>
                    </div>
                    <div class="col-sm-7">
                        <label for="inputDescripcion" class="form-label">Título:</label>
                        <input type="text" name="inputDescripcion" id="inputDescripcion" class="form-control" />
                    </div>

                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12 mrgTop">
                        <button id="botonQuitarPunto" type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-minus"></i></button>
                        <button id="botonAgregarPunto" type="button" class="btn btn-sm btn-primary pull-right" style="margin-right: 5px; margin-bottom: 5px;"><i class="fa fa-plus"></i></button>
                        <label for="tablaPuntos" class="form-label">Puntos:</label>
                        <table id="tablaPuntos" class="table table-hover table-fixed table-bordered compact" width="100%"></table>
                        <div class='input-group pull-right mrgTop' style="width: 30%;">
                            <span class='input-group-addon' style="font-weight: bold;">Porcentaje Total</span>
                            <input id="inputPorcentajeTotal" class="form-control text-center" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCargaMasiva">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Carga Masiva</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <input id="inputFileExcel" type="file">
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button id="botonGuardarCargaMasiva" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Requerimientos/Requerimientos.js"></script>