<link href="~/Content/style/css/Administrativo/ControlInterno/Obra/_formObra.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Formulario</legend>
    <div class='col-xs-3 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Clave</span>
            <input type='text' id='txtFormClave' class='form-control'>
        </div>
    </div>
    <div class='col-xs-9 col-md-9 col-lg-9'>
        <div class='input-group'>
            <span class='input-group-addon'>Descripcion</span>
            <input type='text' id='txtFormDescripcion' class='form-control'>
        </div>
    </div>
    <div class='col-xs-6 col-md-6 col-lg-6 margin-top'>
        <div class='input-group'>
            <span class='input-group-addon'>Tipo</span>
            <select id='cboFormTipo' class='form-control'></select>
        </div>
    </div>
    <div class='col-xs-6 col-md-6 col-lg-6 margin-top'>
        <div class='input-group'>
            <span class='input-group-addon'>Arranque</span>
            <input type='text' id='txtFormArranque' class='form-control'>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Estado</legend>
    <div class='col-xs-6 col-md-6 col-lg-6'>
        <div id="divFormEstatus"></div>
    </div>
    <div class='col-xs-6 col-md-6 col-lg-6'>
        <div id="divFormEnkontrol"></div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Autorización</legend>
    <div class='table-responsive'>
        <table id='tblFormAuth' class='table table-fixed table-striped'>
            <thead class='bg-table-header'></thead>
        </table>
    </div>
    <label id="lblFormMotivoRechazo"></label>
</fieldset>
<div class='col-md-2 col-lg-1 margin-top'>
    <button id='btnFormGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
</div>
<script src="~/Scripts/js/Administrativo/ControlInterno/Obra/_formObra.js"></script>