@{
ViewBag.Title = "AltasRH";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/ControlInterno/Obra/Gestion.css" rel="stylesheet" />
<h2 class="text-center"><i class="fas fa-city"></i> Gestión</h2>
<div id="divAccion" class='col-xs-2 col-md-2 col-lg-2'>
    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'>Acción</legend>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#mdlFormObra'>Apertura</button>
                <button id='btnVobo' type='button' class='btn btn-warning botonera hidden'> Vobo</button>
                <button id='btnAuth' type='button' class='btn btn-success botonera hidden'> Autorizar</button>
                <button id='btnEnk' type='button' class='btn btn-default botonera hidden'> Enkontrol</button>
            </span>
        </div>
    </fieldset>
</div>
<div class='col-xs-12 col-md-12 col-lg-12'>
    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'><i class="fa fa-search"></i> Buscar</legend>
        <div class='col-md-2 col-lg-2'>
            <div class='input-group'>
                <span class='input-group-addon'>Tipo</span>
                <select id='cboTipo' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-md-2 col-lg-2'>
            <div class='input-group'>
                <span class='input-group-addon'>Estado</span>
                <select id='cboAuth' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-addon'>C.C.</span>
                <select id='cboCC' class='form-control select2' multiple></select>
            </div>
        </div>
        <div class='col-xs-4 col-md-4 col-lg-4'>
            <div class='input-group'>
                <span class='input-group-addon'>A.C.</span>
                <select id='cboAC' class='form-control select2' multiple></select>
            </div>
        </div>
        <div class='col-xs-1 col-md-1 col-lg-1'>
            <button id='btnBuscar' type='button' class='btn btn-default'><i class='fa fa-search'></i></button>
        </div>
    </fieldset>
</div>
<div id="divObras" class='col-xs-12 col-md-12 col-lg-12'>
    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'>Obras</legend>
        <div class='table-responsive'>
            <table id='tblObra' class='table table-fixed table-striped'>
                <thead class='bg-table-header'>
                </thead>
            </table>
        </div>
    </fieldset>
</div>
<div id='mdlFormObra' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class="fas fa-city"></i> Catálogo</h1>
            </div>
            <div class='modal-body'>
                @Html.Action("_FormObra", "Obra", new { Area = "Administrativo"})
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i>
                    regresar</button>
            </div>
        </div>
    </div>
</div>
<div id='mdlFormMotivoRehazo' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Motivo Rechazo</h1>
            </div>
            <div id='divMotivoRechazo' class='modal-body'>
            </div>
            <div class='col-md-2 col-lg-1 margin-top'>
                <button id='btnMotivoRechazoGuardar' type='button' class='btn btn-danger'><i class='fas fa-ban'></i> Rehazar</button>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/ControlInterno/Obra/Gestion.js"></script>