.docMain
{

    border: #DCDCDC solid 1px;
    overflow: hidden;
    z-index: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: top left;
    left: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

.grab
{
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbing
{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.docLeftPane
{
    overflow: auto;
    float: left;
    width: 210px;
    height: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    scrollbar-base-color: #eee;
    scrollbar-3dlight-color: #eee;
    scrollbar-shadow-color: #eee;
}

.docRightPane
{
    overflow: auto;
    text-align: center;
    height: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    scrollbar-base-color: #eee;
    scrollbar-3dlight-color: #eee;
    scrollbar-shadow-color: #eee;
}

.splitbarV
{
    float: left;
    width: 6px;
    height: 100%;
    line-height: 0px;
    font-size: 0px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.splitbuttonV
{
    margin-top: -41px;
    margin-left: -2px;
    top: 50%;
    position: relative;
    height: 63px;
    width: 8px;
    background-color:#ccc;
    border: dotted 1px #000;
}
.splitbuttonV.invert
{
    margin-left: 0px;
}

.splitbarV.working, .splitbuttonV.working
{
    -moz-opacity: .50;
    -ms-opacity: .50;
}
