@{
    ViewBag.Title = "ReporteCostos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<style>
    #tablaCostos_wrapper thead tr th {
        background: #81bd72 !important;
        color: #f5f5f5;
    }

    .select2-selection--single,
    .select2-selection__rendered {
        height: 34px !important;
    }

    .select2-selection__rendered {
        line-height: 35px !important;
    }

    #tablaCostos_wrapper {
        font-size: 12px;
    }
</style>

<div class="row text-center margin-top">
    <h2>Reporte de Costos</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class="col-md-3">
            <label>Obra:</label>
            <select id="selectCentroCosto" class="form-control select2"></select>
        </div>
        <div class="col-md-2">
            <label>Año:</label>
            <input id="inputAnio" class="form-control">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonBuscar" style="margin-top: 25px;"><i class="fas fa-search"></i> Buscar</button>
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-default pull-right" id="botonGenerarExcel" style="margin-top: 25px;"><i class="fas fa-file"></i> Generar Excel</button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm"></legend>
    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaCostos" class="table compact" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalDetalle">
    <div class="modal-dialog modal-lg" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Atención Médica</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Clave Empleado:</label>
                        <input id="inputClaveEmpleadoAgregar" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="botonGuardar"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Maquinaria/Reporte/ReporteCostos.js"></script>