.cortar{
  width:100px;
  height:20px;
  padding:20px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden; 
}
.cortar:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
}
.fieldset-custm {
    display: block;
}
.radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}
#modalReporte, #tblMovPolizas .modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}
#modalReporte, #tblMovPolizas .modal-content {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.tomato:read-only {
  background: tomato;
}
.scrollbox {
overflow-y: auto;
max-height: calc(100vh - 150px);
}
.notScrollbox {
  overflow: none;
  max-height: calc(100vh - 150px);
}