
@{
    ViewBag.Title = "DashBoardCaratulas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Caratulas/Caratula.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#cboCaratulas').select2();
    });    
    $(document).ready(function () {
        $('#cboProyecto').select2();
    });
</script>

<div class="col-sm-12">
    <div class="row">
        <center><h2>Reportes Caratulas</h2></center>
    </div>
    <br>
<fieldset class='fieldset-custm '>
    <legend class='legend-custm'>Filtros : </legend>
    <div class="row">
        <div class="col-lg-4" style="display: none;">
            <label class="text-color" for="cboCC">Caratulas : </label>
            <select id="cboCaratulas" class="form-control"></select>
        </div>
        <div class="col-lg-4">
            <label class="text-color" for="cboCC">Centro de costo: </label>
            <select id="cboProyecto" class="form-control"></select>
        </div>
        <div class="col-lg-4">
            <label class="text-color" for="cboCC">Costo por: </label>
            <select id="cboCostoPor" class="form-control">
                <option value="">--Seleccione--</option>
                <option value="1">Hora</option>
                <option value="2">Día</option>
            </select>
        </div>

        <div class="col-lg-4 pull-right">
            <button class="btn btn-success" id="btnBuscarConceptos"><i class="fas fa-search"></i>&nbsp;Buscar</button>
            <button class="btn btn-success" id="btnGenerarReporte"><i class="fas fa-search"></i>&nbsp;Generar Reporte</button>
        </div>
    </div>

</fieldset>
<div class="row">
    <br>    
</div>
    <fieldset class='fieldset-custm text-center'>
        <legend class='legend-custm'></legend>
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tblCaratula" class="tabla table-bordered compact hover table-responsive" style="width: 100% !important;">
                    <thead>
                        <tr>
                            <th colspan="8" class="text-center"></th>
                            <th colspan="2" class="text-center"></th>
                            <th colspan="2" class="text-center indirectos">Indirectos de Campo</th>
                            <th colspan="1" class="text-center"></th>
                            <th colspan="6" class="text-center"></th>
                        </tr>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center indirectos"></th>
                            <th class="text-center indirectos"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </fieldset>

    <br>
 <br>
       <br>
       <br>
</div>
       <br>
       <br>
       <br>
@Html.Partial("reportViewerView", false)
         
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
<script src="~/Scripts/js/Maquinaria/_Caratulas/DashboardCaratulas.js"></script>
