@{
    Layout = null;
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/Sistema Contable/Moneda/_capturaTipoCambio.css" rel="stylesheet" />
<div class='col-md-4 col-lg-4'>
    <div class='input-group'>
        <span class='input-group-addon'>Moneda</span>
        <select id='cboTcMoneda' class='form-control'></select>
    </div>
</div>
<div class='col-md-4 col-lg-4'>
    <div class='input-group'>
        <span class='input-group-addon'>Fecha</span>
        <input type='text' id='txtTcFecha' class='form-control' readonly>
    </div>
</div>
<div class='col-md-4 col-lg-4'>
    <div class='input-group'>
        <span class='input-group-addon'>Tipo cambio</span>
        <input type='text' id='txtTcTipoCambio' class='form-control text-right'>
    </div>
</div>
<div class="col-md-12 col-lg-12 text-center">
    <label id="txtTcInformacion"></label>
</div>
<div class="col-md-12 col-lg-12">
    <div class='table-responsive'>
        <table id='tblTcHistorial' class='table table-fixed'>
            <thead class='bg-table-header'>
            </thead>
        </table>
    </div>
</div>
<div class='col-md-3 col-lg-3'>
    <button id='btnTcLimpiar' type='button' class='btn btn-default'><i class='fa fa-brush'></i> Limpiar</button>
    <button id='btnTcGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
</div>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/SistemaContable/Moneda/_capturaTipoCambio.js"></script>