@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="row text-center margin-top">
    <h2>Este usuario no cuenta con los facultamientos para ingresar a esta vista del menú. <i class="fas fa-exclamation-triangle"></i></h2>
    <h4>Por favor contacte al Administrador en caso de requerir ingresar a esta vista.</h4>
</div>