@{
    ViewBag.Title = "AltaCifrasPrincipales";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<style>
    #rowDatos{
        overflow: hidden;
        transition: height 500ms;
        border: 1px solid #999 !important ;
        border-radius: 8px !important;
    }
    #fieldsetPrincipal {
        background-color: #F79F81 !important;        
    }
    #btnGuardar span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    #btnGuardar span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: -4px;
        left: 20px;
        transition: 0.5s;
    }
    #btnGuardar:hover span {
        padding-right: 17px;
    }
    #btnGuardar:hover span:after {
        opacity: 1;
        right: 0;
    }
    #btnGuardar:focus span {
        padding-right: 17px;
    }
    #btnGuardar:focus span:after {
        opacity: 1;
        right: 0;
    }
    #rowDatos .form-control:hover {
        font-size: 120%;
        /*font-weight:bold;*/
    }
    #rowDatos .form-control:focus {
        font-size: 120%;
        /*font-weight:bold;*/
    }
</style>

<script src="~/Scripts/js/Administrativo/Proyecciones/CapCifrasPrincipalesJS.js"></script>
<div class="container-fluid">
    <div class="row text-center">
        <h2>Cifras Principales.</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm" id="fieldsetPrincipal">
                <div class="col-lg-3 text-center">
                    <label>
                        # MESES DE INICIO:
                    </label>
                    <select class="form-control" style="text-align-last: center;" id="tbMesesInicio">
                        <option value="0">Enero</option>
                        <option value="1">Febrero</option>
                        <option value="2">Marzo</option>
                        <option value="3">Abril</option>
                        <option value="4">Mayo</option>
                        <option value="5">Junio</option>
                        <option value="6">Julio</option>
                        <option value="7">Agosto</option>
                        <option value="8">Septiembre</option>
                        <option value="9">Octubre</option>
                        <option value="10">Noviembre</option>
                        <option value="11">Diciembre</option>
                    </select>
                </div>
                <div class="col-lg-3 text-center">
                    <label>
                        EJERC. INICIAL:
                    </label>
                    <select class="form-control filtroGeneral" style="text-align-last: center;" id="cboPeriodo">
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>

                <div class="col-lg-3 text-center">
                    <label>
                        CONFIGURACIONES:
                    </label>
                    <select class="form-control filtroGeneral" style="text-align-last: center;" id="cboConfiguraciones">
                    </select>
                </div>

                <div class="col-lg-3 text-center">
                    <label>ESCENARIOS:</label>
                    <select class="form-control" style="text-align-last: center;" multiple="multiple" id="cboEscenario"></select>
                </div>
            </fieldset>
        </div>
    </div>
    <button id="btnCollapse" data-toggle="collapse" data-target="#rowDatos" style="visibility:hidden">Collapsible</button>
    <div class="collapse" id="rowDatos">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">VENTA PROYECTADA</legend>
                <div class="col-lg-4">
                    <label>ENERO A FECHA ACTUAL:</label>
                    <input class="form-control" id="tbAnioAnteriorVentaProyectada" />
                </div>
                <div class="col-lg-4">
                    <label>PROYECCION A DICIEMBRE: </label>
                    <input class="form-control" id="tbProyeccionMesVentaProyectada" />
                </div>
                <div class="col-lg-4">
                    <label>TOTAL PROYECTADO AÑO ACTUAL: </label>
                    <input class="form-control" id="tbProyectadoAnioVentaProyectada" />
                </div>
            </fieldset>
        </div>
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">VENTA REAL</legend>
                <div class="col-lg-4">
                    <label>ENERO A FECHA ACTUAL:</label>
                    <input class="form-control" id="tbAnioAnteriorVentaReal" />
                </div>
                <div class="col-lg-4">
                    <label>PROYECCION A DICIEMBRE: </label>
                    <input class="form-control" id="tbProyeccionesMesVentaReal" />
                </div>
                <div class="col-lg-4">
                    <label>TOTAL PROYECTADO AÑO ACTUAL: </label>
                    <input class="form-control" id="tbProyectadoAnioMesVentaReal" />
                </div>
            </fieldset>
        </div>
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">UTILIDAD PLANEADA</legend>
                <div class="col-lg-4">
                    <label>ENERO A FECHA ACTUAL:</label>
                    <input class="form-control" id="tbAnioAnteriorUtilidadPlaneada" />
                </div>
                <div class="col-lg-4">
                    <label>PROYECCION A DICIEMBRE: </label>
                    <input class="form-control" id="tbProyecionesMesUtilidadPlaneada" />
                </div>
                <div class="col-lg-4">
                    <label>TOTAL PROYECTADO AÑO ACTUAL: </label>
                    <input class="form-control" id="tbProyecionesAnioUtilidadPlaneada" />
                </div>
            </fieldset>
        </div>
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">UTILIDAD REAL</legend>
                <div class="col-lg-4">
                    <label>ENERO A FECHA ACTUAL:</label>
                    <input class="form-control" id="tbAnioAnteriorUtilidadReal" />
                </div>
                <div class="col-lg-4">
                    <label>PROYECCION A DICIEMBRE: </label>
                    <input class="form-control" id="tbProyecionesMesUtilidadReal" />
                </div>
                <div class="col-lg-4">
                    <label>TOTAL PROYECTADO AÑO ACTUAL: </label>
                    <input class="form-control" id="tbProyecionesAnioUtilidadReal" />
                </div>
            </fieldset>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button id="btnGuardar" class="btn btn-primary margin-top" style="visibility:hidden"><span class="glyphicon glyphicon-floppy-disk" ></span> Guardar</button>
            </div>
        </div>
    </div>
</div>