@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}*@

<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/js/Administrativo/Proyecciones/EstadoPosicionesFinancieras.js"></script>
<link href="~/Content/style/css/PantallaPrinciapl.css" rel="stylesheet" />
<style>
    td {
        padding: 0 !important;
    }

    label.noBold {
        font-weight: normal;
    }

    label.lblPadding1 {
        margin-left: 10px;
    }

    label.lblPadding2 {
        margin-left: 60px;
    }

    label.lblPadding3 {
        margin-left: 75px;
    }
    td.noBorders {
        border-left: none;
        border-right: none;
    }

    table td {
        border-left: 1px solid #000;
        border-right: none;
    }
</style>
<div class="containerModal">
    <div class="row">
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-addon fijo">MES BASE:</span>
                <input class="form-control" id="tbMesBase" />
            </div>
        </div>
        <div class="col-lg-10">
            <button class="btn btn-primary" type="button" id="btnGuardarEPF">
                <span class="glyphicon glyphicon-plus"></span> Guardar
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-5">
                <table class="table table-responsive" id="tblPosicionesFinacieras">
                    <thead class="bg-table-header">
                        <tr>
                            <th>ID</th>
                            <th>Grupo</th>
                            <th>CONCEPTO</th>
                            <th>INICIAL</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-lg-7">
                <table class="table table-responsive" id="tblSaldoAjustado">
                    <thead class="bg-table-header">
                        <tr>
                            <th>ID</th>
                            <th>Grupo</th>
                            <th> D</th>
                            <th> H</th>
                            <th> D</th>
                            <th> H</th>
                            <th> D</th>
                            <th> H</th>
                            <th>Saldo </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>
