
<script src="~/Scripts/js/Administrativo/Proyecciones/AdministracionJS.js"></script>
<div class="container-fluid">
    <div class="row form-group">
        <div class="col-lg-12">
            <button id="btnAdministracionGuardar" class="btn btn-primary pull-right">Guardar</button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <label>PERIODO BASE (REAL):</label>
                <input id="txtPeriodoReal" type="text" class="form-control calculo" />
            </div>
            <div class="col-lg-6">
                <label>No.DE MESES ABARCADOS:</label>
                <input id="txtMesesAbarcados" type="text" class="form-control calculo" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <table class="table table-responsive">
                    <thead class="bg-table-header">
                        <tr>
                            <th>
                                TIPO DE GASTO
                            </th>
                            <th colspan="3" class="text-center">
                                GASTOS DE ADMON.
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="colspanColor">
                                <label style="margin-bottom: 0;">GASTOS ACUMULADOS DEL PERIODO</label>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                MATERIALES
                            </td>
                            <td>
                                <input id="txtGAMAT" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGAMATP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGAMATT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MANO DE OBRA
                            </td>
                            <td>
                                <input id="txtGAMAOBR" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGAMAOBRP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGAMAOBRT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SERV. GENERALES
                            </td>
                            <td>
                                <input id="txtGASEGEN" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGASEGENP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGASEGENT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                COND. GENERALES
                            </td>
                            <td>
                                <input id="txtGACONDGEN" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGACONDGENP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGACONDGENT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SUBCONTRATOS
                            </td>
                            <td>
                                <input id="txtGASUBCONT" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGASUBCONTP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGASUBCONTT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                RENTA MAQ. Y EQUIPO
                            </td>
                            <td>
                                <input id="txtGARENTMAQ" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGARENTMAQP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGARENTMAQT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FLETES
                            </td>
                            <td>
                                <input id="txtGAFLETE" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGAFLETEP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGAFLETET" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr class="bgTotalTable">
                            <td class="text-center text-uppercase"><label>Total</label></td>
                            <td class="dt-body-right" id="tdGAD">0</td>
                            <td id="tdGAP">0%</td>
                            <td class="dt-body-right" id="tdGAT">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="table table-responsive">
                    <thead class="bg-table-header">
                        <tr>
                            <th colspan="3" class="text-center">
                                GASTOS DE MAQ. Y MTTO.
                            </th>
                        </tr>

                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td colspan="3" class="colspanColor"><label></label></td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMMAT" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMMATP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMMATT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMMAOBR" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMMAOBRP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMMAOBRT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMSEGEN" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMSEGENP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMSEGENT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMCONDGEN" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMCONDGENP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMCONDGENT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMSUBCONT" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMSUBCONTP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMSUBCONTT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMRENTMAQ" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMRENTMAQP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMRENTMAQT" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGMFLETE" value="0" class="form-control calculo dt-body-right" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control calculo" id="txtGMFLETEP" value="0">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <input id="txtGMFLETET" value="0" class="form-control dt-body-right" disabled="" />
                            </td>
                        </tr>
                        <tr class="bgTotalTable">
                            <td class="dt-body-right" id="tdGMD">0</td>
                            <td id="tdGMP">
                                0%
                            </td>
                            <td class="dt-body-right" id="tdGMT">
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1">
                <table class="table table-responsive">
                    <thead class="bg-table-header">
                        <tr>
                            <th>
                                TOTAL
                            </th>
                        </tr>

                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td class="colspanColor"><label></label></td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTMAT" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTMAOBR" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTSEGEN" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTCONDGEN" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTSUBCONT" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTRENTMAQ" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGTFLETE" value="0" class="form-control dt-body-right" disabled />
                            </td>
                        </tr>
                        <tr class="bgTotalTable">
                            <td id="tdGTD" class="dt-body-right">
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1">
                <table class="table">
                    <thead class="bg-table-header">
                        <tr>
                            <th>
                                % POND.
                            </th>
                        </tr>

                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td class="colspanColor"><label></label></td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPMAT" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPMAOBR" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPSEGEN" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPCONDGEN" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPSUBCONT" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPRENTMAQ" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="txtGPFLETE" value="0%" class="form-control" disabled />
                            </td>
                        </tr>
                        <tr class="bgTotalTable">
                            <td id="tdGPD">
                                0%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-5">
                <table class="table">
                    <thead class="bg-table-header">
                        <tr>
                            <th>
                                PROMEDIO MENSUAL REAL:
                            </th>
                            <th colspan="2" class="text-center">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                - GASTOS DE ADMON.
                            </td>
                            <td id="tdPMRGAD" class="dt-body-right">
                                0
                            </td>
                            <td id="tdPMRGAP">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                - GASTOS DE MAQ. Y MTTO.
                            </td>
                            <td id="tdPMRGMD" class="dt-body-right">
                                0
                            </td>
                            <td id="tdPMRGMP">
                                0
                            </td>
                        </tr>
                        <tr class="bgTotalTable">
                            <td>
                                TOTAL:
                            </td>
                            <td id="tdPMRTD" class="dt-body-right">
                                0
                            </td>
                            <td id="tdPMRTP">
                                0
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <input id="txtDeprec" type="text" value="0" class="form-control calculo dt-body-right" />
                    <span class="input-group-addon">DEPREC</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <label>VALORIZACION DE GASTOS DE ADMON. Y  GASTOS DE MAQ. Y MTTO.</label>
        <div class="col-lg-12" style="overflow-x:auto;">
            <table class="table">
                <thead class="bg-table-header">
                    <tr>
                        <th>CONCEPTO</th>
                        <th class="thMes1"></th>
                        <th class="thMes2"></th>
                        <th class="thMes3"></th>
                        <th class="thMes4"></th>
                        <th class="thMes5"></th>
                        <th class="thMes6"></th>
                        <th class="thMes7"></th>
                        <th class="thMes8"></th>
                        <th class="thMes9"></th>
                        <th class="thMes10"></th>
                        <th class="thMes11"></th>
                        <th class="thMes12"></th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SENSIBILIZACION DEL GASTO:</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo " id="txtSG_1" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_2" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_3" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_4" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_5" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_6" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_7" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_8" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_9" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_10" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_11" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo" id="txtSG_12" value="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtSG_T" value="0" disabled>
                                <span class="input-group-addon">%</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GASTO SENSIBILIZADO:</td>
                        <td id="tdSG_1" class=" dt-body-right">0</td>
                        <td id="tdSG_2" class=" dt-body-right">0</td>
                        <td id="tdSG_3" class=" dt-body-right">0</td>
                        <td id="tdSG_4" class=" dt-body-right">0</td>
                        <td id="tdSG_5" class=" dt-body-right">0</td>
                        <td id="tdSG_6" class=" dt-body-right">0</td>
                        <td id="tdSG_7" class=" dt-body-right">0</td>
                        <td id="tdSG_8" class=" dt-body-right">0</td>
                        <td id="tdSG_9" class=" dt-body-right">0</td>
                        <td id="tdSG_10" class=" dt-body-right">0</td>
                        <td id="tdSG_11" class=" dt-body-right">0</td>
                        <td id="tdSG_12" class=" dt-body-right">0</td>
                        <td id="tdSG_T" class=" dt-body-right">0</td>
                    </tr>
                    <tr>
                        <td colspan="14" class="colspanColor">AUM. (DISM.) EXTRAORDINARIOS</td>
                    </tr>
                    <tr>
                        <td>AGUINALDO</td>

                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_1" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_2" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_3" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_4" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_5" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_6" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_7" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_8" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_9" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_10" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_11" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD01_12" value="0" disabled="disabled">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control dt-body-right" id="txtAD01_T" value="0" disabled>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>      * AUMENTO (DISM.)   01</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_1" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_2" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_3" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_4" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_5" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_6" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_7" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_8" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_9" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_10" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_11" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD02_12" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control dt-body-right" id="txtAD02_T" value="0" disabled>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>   * AUMENTO (DISM.)   02</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_1" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_2" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_3" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_4" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_5" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_6" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_7" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_8" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_9" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_10" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_11" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo dt-body-right" id="txtAD03_12" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control dt-body-right" id="txtAD03_T" value="0" disabled />
                            </div>
                        </td>

                    </tr>
                    <tr class="bgTotalTable">
                        <td>TOTAL:</td>
                        <td id="tdADT1" class="dt-body-right">0</td>
                        <td id="tdADT2" class="dt-body-right">0</td>
                        <td id="tdADT3" class="dt-body-right">0</td>
                        <td id="tdADT4" class="dt-body-right">0</td>
                        <td id="tdADT5" class="dt-body-right">0</td>
                        <td id="tdADT6" class="dt-body-right">0</td>
                        <td id="tdADT7" class="dt-body-right">0</td>
                        <td id="tdADT8" class="dt-body-right">0</td>
                        <td id="tdADT9" class="dt-body-right">0</td>
                        <td id="tdADT10" class="dt-body-right">0</td>
                        <td id="tdADT11" class="dt-body-right">0</td>
                        <td id="tdADT12" class="dt-body-right">0</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
