
<script src="~/Scripts/js/Administrativo/Proyecciones/CobrosDivJS.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 form-group">
            <button id="btnCobrosDivGuardar" class="btn btn-primary" style="float:right;">Guardar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead class="bg-table-header">
                    <tr>
                        <th>CONCEPTO</th>
                        <th class="thMes1"></th>
                        <th class="thMes2"></th>
                        <th class="thMes3"></th>
                        <th class="thMes4"></th>
                        <th class="thMes5"></th>
                        <th class="thMes6"></th>
                        <th class="thMes7"></th>
                        <th class="thMes8"></th>
                        <th class="thMes9"></th>
                        <th class="thMes10"></th>
                        <th class="thMes11"></th>
                        <th class="thMes12"></th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="noBorderLeftaRight">
                        <td class="noBorderLeftaRight" colspan="14" ></td>
                    </tr>

                    <tr>
                        <td>1.- % DEL SALDO A AMORTIZAR</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes1" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes2" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes3" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes4" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes5" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes6" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes7" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes8" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes9" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes10" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes11" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn1_Mes12" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo  clsPorcentaje" id="txtLn1_MesT" value="0" disabled>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;"></td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes1">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes2">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes3">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes4">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes5">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes6">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes7">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes8">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes9">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes10">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes11">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_Mes12">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn2_MesT">0</td>
                    </tr>
                    <tr>
                        <td>2.- IMPORTE A AMORTIZAR</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes1">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes2">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes3">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes4">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes5">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes6">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes7">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes8">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes9">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes10">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes11">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_Mes12">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn3_MesT">0</td>
                    </tr>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight text-center">
                        <td colspan="1" class="OnlyBottomBorder">
                            <label class="text-nowrap textSubEncabezado">OTRAS CUENTAS POR COBRAR</label>
                        </td>
                        <td colspan="13" class="OnlyBottomBorder"></td>
                    </tr>
                    <tr class="noBorderLeftaRight">
                        <td colspan="14" class="noBorderLeftaRight"></td>
                    </tr>
                    <tr>
                        <td>1.- % DEL SALDO A AMORTIZAR</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes1" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes2" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes3" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes4" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes5" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes6" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes7" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes8" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes9" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes10" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes11" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_Mes12" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn4_MesT" value="0">
                            </div>
                        </td>
                    </tr>
                    <tr class="noBorderLeftaRight">
                        <td colspan="14" class="noBorderLeftaRight"> </td>
                    </tr>
                    <tr>
                        <td>2.- IMPORTE A AMORTIZAR</td>
                        <td> </td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes2">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes3">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes4">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes5">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes6">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes7">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes8">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes9">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes10">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes11">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_Mes12">0</td>
                        <td class="clsPesos dt-body-right" id="txtLn5_MesT">0</td>
                    </tr>
                    <tr class="noBorderLeftaRight">
                        <td colspan="14" class="noBorderLeftaRight"> </td>
                    </tr>
                    <tr>
                        <td>APORT. DE CAPITAL</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes1" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes2" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes3" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes4" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes5" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes6" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes7" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes8" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes9" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes10" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes11" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control calculo clsPorcentaje" id="txtLn6_Mes12" value="0">
                            </div>
                        </td>
                        <td class="clsPesos dt-body-right" id="txtLn6_MesT">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>