
<script src="~/Scripts/js/Administrativo/Proyecciones/PagosDivJS.js"></script>
<style type="text/css">
    .CustomDecimalEvent {
        font-size: 9px;
        padding: 0;
        text-align-last: center;
    }

    .setTamañoInput {
        display: block;
        width: 100%;
        height: 45px;
        /* padding: 6px 12px; */
        font-size: 20px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 0px solid #FFF5EE !important;
        /* border-radius: 4px; */
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        padding: 0px !important;
    }

    .tdClass {
        width: 400px !important;
    }

    .ClsTamaño {
        width: 400px !important;
    }
</style>
<div class="container-fluid divPagosDiversosPrincipal">

    <div class="row form-group">
        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 pull-right">
            <button class="btn btn-success form-control" id="btnUploadInfo">
                <span class="glyphicon glyphicon-plus"></span> Cargar Archivo
            </button>
        </div>
        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 pull-right">
            <button class="btn btn-primary form-control" id="btnPagosDivGuardar">
                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
            </button>

        </div>
    </div>
    <div class="row">
        <div style="overflow-x: auto;width: 100%;">
            <table class="table" style="width: 150%;max-width: 150%;">
                <thead class="bg-table-header">
                    <tr>
                        <td colspan="2" style="width:550px;">DESGLOSE VARIOS PAGOS:</td>
                        <td class="ClsTamaño">Total: </td>
                        <td class="thMes1 ClsTamaño"></td>
                        <td class="thMes2 ClsTamaño"></td>
                        <td class="thMes3 ClsTamaño"></td>
                        <td class="thMes4 ClsTamaño"></td>
                        <td class="thMes5 ClsTamaño"></td>
                        <td class="thMes6 ClsTamaño"></td>
                        <td class="thMes7 ClsTamaño"></td>
                        <td class="thMes8 ClsTamaño"></td>
                        <td class="thMes9 ClsTamaño"></td>
                        <td class="thMes10 ClsTamaño"></td>
                        <td class="thMes11 ClsTamaño"></td>
                        <td class="thMes12 ClsTamaño" style="border-right: 1px solid;">></td>
                    </tr>
                </thead>
                <tbody class="tbodyDesglose">
                    <tr class="rowDesglose">
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">RESERVA PARA PAGO DE EQUIPO (C +  B + A)</td>
                        <td class="ln26Mes1 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes2 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes3 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes4 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes5 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes6 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes7 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes8 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes9 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes10 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes11 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26Mes12 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln26MesT calculo  dt-body-right" style="font-size: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">RESERVA PARA PAGO DE EQUIPO (B + A)</td>
                        <td class="ln27Mes1 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes2 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes3 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes4 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes5 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes6 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes7 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes8 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes9 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes10 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes11 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27Mes12 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln27MesT calculo dt-body-right" style="font-size: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">RESERVA PARA PAGO DE EQUIPO (A)</td>
                        <td class="ln28Mes1 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes2 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes3 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes4 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes5 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes6 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes7 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes8 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes9 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes10 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes11 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28Mes12 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln28MesT calculo dt-body-right" style="font-size: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="ln29Mes1 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes2 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes3 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes4 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes5 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes6 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes7 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes8 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes9 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes10 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes11 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29Mes12 calculo dt-body-right" style="font-size: 20px;"></td>
                        <td class="ln29MesT calculo  dt-body-right" style="font-size: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 form-group" style=" overflow-x: auto; ">
            <table class="table">
                <thead class="bg-table-header">
                    <tr>
                        <th colspan="2">CONCEPTO</th>
                        <th class="thMes1"></th>
                        <th class="thMes2"></th>
                        <th class="thMes3"></th>
                        <th class="thMes4"></th>
                        <th class="thMes5"></th>
                        <th class="thMes6"></th>
                        <th class="thMes7"></th>
                        <th class="thMes8"></th>
                        <th class="thMes9"></th>
                        <th class="thMes10"></th>
                        <th class="thMes11"></th>
                        <th class="thMes12"></th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            PAGOS DIVERSOS
                        </td>
                        <td colspan="13"></td>
                    </tr>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight text-center">
                        <td colspan="2" class="OnlyBottomBorder">
                            <label class="text-nowrap textSubEncabezado">VARIOS</label>
                        </td>
                        <td colspan="13" class="OnlyBottomBorder"></td>
                    </tr>
                    <tr data-index="1">
                        <td colspan="2">
                            1.- PAGOS EXTRAORDINARIOS
                        </td>
                        <td class="ln1Mes1 calculo dt-body-right"></td>
                        <td class="ln1Mes2 calculo dt-body-right"></td>
                        <td class="ln1Mes3 calculo dt-body-right"></td>
                        <td class="ln1Mes4 calculo dt-body-right"></td>
                        <td class="ln1Mes5 calculo dt-body-right"></td>
                        <td class="ln1Mes6 calculo dt-body-right"></td>
                        <td class="ln1Mes7 calculo dt-body-right"></td>
                        <td class="ln1Mes8 calculo dt-body-right"></td>
                        <td class="ln1Mes9 calculo dt-body-right"></td>
                        <td class="ln1Mes10 calculo dt-body-right"></td>
                        <td class="ln1Mes11 calculo dt-body-right"></td>
                        <td class="ln1Mes12 calculo dt-body-right"></td>
                        <td class="ln1MesT calculo dt-body-right"></td>
                    </tr>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight text-center">
                        <td colspan="2" class="OnlyBottomBorder">
                            <label class="text-nowrap textSubEncabezado">ABONOS AL SALDO DE PROVEEDORES</label>
                        </td>
                        <td colspan="13" class="OnlyBottomBorder"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            1.- % DEL SALDO A AMORTIZAR
                        </td>
                        <td><input type="text" class="form-control ln2Mes1 calculo esPr" data-col="1" /></td>
                        <td><input type="text" class="form-control ln2Mes2 calculo esPr" data-col="2" /></td>
                        <td><input type="text" class="form-control ln2Mes3 calculo esPr" data-col="3" /></td>
                        <td><input type="text" class="form-control ln2Mes4 calculo esPr" data-col="4" /></td>
                        <td><input type="text" class="form-control ln2Mes5 calculo esPr" data-col="5" /></td>
                        <td><input type="text" class="form-control ln2Mes6 calculo esPr" data-col="6" /></td>
                        <td><input type="text" class="form-control ln2Mes7 calculo esPr" data-col="7" /></td>
                        <td><input type="text" class="form-control ln2Mes8 calculo esPr" data-col="8" /></td>
                        <td><input type="text" class="form-control ln2Mes9 calculo esPr" data-col="9" /></td>
                        <td><input type="text" class="form-control ln2Mes10 calculo esPr" data-col="10" /></td>
                        <td><input type="text" class="form-control ln2Mes11 calculo esPr" data-col="11" /></td>
                        <td><input type="text" class="form-control ln2Mes12 calculo esPr" data-col="12" /></td>
                        <td><input type="text" class="form-control ln2MesT calculo esPr" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">CTO. X APLICAR CXC</td>
                        <td class="ln3Mes1 calculo dt-body-right"></td>
                        <td class="ln3Mes2 calculo dt-body-right"></td>
                        <td class="ln3Mes3 calculo dt-body-right"></td>
                        <td class="ln3Mes4 calculo dt-body-right"></td>
                        <td class="ln3Mes5 calculo dt-body-right"></td>
                        <td class="ln3Mes6 calculo dt-body-right"></td>
                        <td class="ln3Mes7 calculo dt-body-right"></td>
                        <td class="ln3Mes8 calculo dt-body-right"></td>
                        <td class="ln3Mes9 calculo dt-body-right"></td>
                        <td class="ln3Mes10 calculo dt-body-right"></td>
                        <td class="ln3Mes11 calculo dt-body-right"></td>
                        <td class="ln3Mes12 calculo dt-body-right"></td>
                        <td class="ln3MesT calculo dt-body-right"></td>
                    </tr>
                    <tr>
                        <td colspan="2">2.- IMPORTE A AMORTIZAR</td>
                        <td class="ln4Mes1 calculo dt-body-right"></td>
                        <td class="ln4Mes2 calculo dt-body-right"></td>
                        <td class="ln4Mes3 calculo dt-body-right"></td>
                        <td class="ln4Mes4 calculo dt-body-right"></td>
                        <td class="ln4Mes5 calculo dt-body-right"></td>
                        <td class="ln4Mes6 calculo dt-body-right"></td>
                        <td class="ln4Mes7 calculo dt-body-right"></td>
                        <td class="ln4Mes8 calculo dt-body-right"></td>
                        <td class="ln4Mes9 calculo dt-body-right"></td>
                        <td class="ln4Mes10 calculo dt-body-right"></td>
                        <td class="ln4Mes11 calculo dt-body-right"></td>
                        <td class="ln4Mes12 calculo dt-body-right"></td>
                        <td class="ln4MesT calculo dt-body-right"></td>
                    </tr>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight text-center">
                        <td colspan="2" class="OnlyBottomBorder">
                            <label class="text-nowrap textSubEncabezado">COMPAÑIAS DEL GRUPO</label>
                        </td>
                        <td colspan="13" class="OnlyBottomBorder"></td>
                    </tr>
                    <tr>
                        <td colspan="2">1.- % DEL SALDO A AMORTIZAR</td>
                        <td><input type="text" class="form-control ln5Mes1 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes2 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes3 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes4 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes5 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes6 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes7 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes8 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes9 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes10 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes11 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5Mes12 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln5MesT calculo esPr" disabled /></td>

                    </tr>
                    <tr>
                        <td colspan="2">2.- IMPORTE A AMORTIZAR</td>
                        <td class="ln6Mes1 calculo dt-body-right"></td>
                        <td class="ln6Mes2 calculo dt-body-right"></td>
                        <td class="ln6Mes3 calculo dt-body-right"></td>
                        <td class="ln6Mes4 calculo dt-body-right"></td>
                        <td class="ln6Mes5 calculo dt-body-right"></td>
                        <td class="ln6Mes6 calculo dt-body-right"></td>
                        <td class="ln6Mes7 calculo dt-body-right"></td>
                        <td class="ln6Mes8 calculo dt-body-right"></td>
                        <td class="ln6Mes9 calculo dt-body-right"></td>
                        <td class="ln6Mes10 calculo dt-body-right"></td>
                        <td class="ln6Mes11 calculo dt-body-right"></td>
                        <td class="ln6Mes12 calculo dt-body-right"></td>
                        <td class="ln6MesT calculo dt-body-right"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-right: 1px solid;">
                            3.- CALCULO DE INTERESES :
                        </td>
                        @*<td colspan="13" class="OnlyBottomBorder"></td>*@
                    </tr>
                    <tr>
                        <td colspan="1">SALDO :</td>
                        <td style="border-right: 1px solid;" class="tdSaldo calculo  dt-body-right"></td>
                    </tr>
                    <tr>
                        <td colspan="1">PUNTOS ADICS. AL CPP:</td>
                        <td style="border-right: 1px solid;"><input type="text" class="form-control tdPuntosAdic calculo  dt-body-right " /></td>

                    </tr>
                    <tr>
                        <td colspan="2">TASA  ANUAL:</td>
                        <td class="ln7Mes1 calculo 2dec"></td>
                        <td class="ln7Mes2 calculo 2dec"></td>
                        <td class="ln7Mes3 calculo 2dec"></td>
                        <td class="ln7Mes4 calculo 2dec"></td>
                        <td class="ln7Mes5 calculo 2dec"></td>
                        <td class="ln7Mes6 calculo 2dec"></td>
                        <td class="ln7Mes7 calculo 2dec"></td>
                        <td class="ln7Mes8 calculo 2dec"></td>
                        <td class="ln7Mes9 calculo 2dec"></td>
                        <td class="ln7Mes10 calculo 2dec"></td>
                        <td class="ln7Mes11 calculo 2dec"></td>
                        <td class="ln7Mes12 calculo 2dec"></td>

                    </tr>
                    <tr>
                        <td colspan="1">PAGO CAPITAL MENSUAL:</td>
                        <td colspan="1" style="border-right: 1px solid;" class="tdPagoCapital calculo  dt-body-right">0</td>
                    </tr>
                    <tr>
                        <td colspan="2">SALDO POR AMORTIZAR :</td>
                        <td class="ln8Mes1 calculo dt-body-right"></td>
                        <td class="ln8Mes2 calculo dt-body-right"></td>
                        <td class="ln8Mes3 calculo dt-body-right"></td>
                        <td class="ln8Mes4 calculo dt-body-right"></td>
                        <td class="ln8Mes5 calculo dt-body-right"></td>
                        <td class="ln8Mes6 calculo dt-body-right"></td>
                        <td class="ln8Mes7 calculo dt-body-right"></td>
                        <td class="ln8Mes8 calculo dt-body-right"></td>
                        <td class="ln8Mes9 calculo dt-body-right"></td>
                        <td class="ln8Mes10 calculo dt-body-right"></td>
                        <td class="ln8Mes11 calculo dt-body-right"></td>
                        <td class="ln8Mes12 calculo dt-body-right"></td>
                        <td style="border-right: 1px solid;" class="ln8MesT calculo borderTop dt-body-right"></td>
                    </tr>
                    <tr>
                        <td colspan="2">AMORTIZACION DE CAPITAL:</td>
                        <td class="ln9Mes1 calculo dt-body-right"></td>
                        <td class="ln9Mes2 calculo dt-body-right"></td>
                        <td class="ln9Mes3 calculo dt-body-right"></td>
                        <td class="ln9Mes4 calculo dt-body-right"></td>
                        <td class="ln9Mes5 calculo dt-body-right"></td>
                        <td class="ln9Mes6 calculo dt-body-right"></td>
                        <td class="ln9Mes7 calculo dt-body-right"></td>
                        <td class="ln9Mes8 calculo dt-body-right"></td>
                        <td class="ln9Mes9 calculo dt-body-right"></td>
                        <td class="ln9Mes10 calculo dt-body-right"></td>
                        <td class="ln9Mes11 calculo dt-body-right"></td>
                        <td class="ln9Mes12 calculo dt-body-right"></td>
                        <td style="border-right: 1px solid;" class="ln9MesT calculo borderTop dt-body-right"></td>
                    </tr>
                    <tr>
                        <td colspan="2">AMORT. VENCIDAS DE CAPITAL:</td>
                        <td class="ln10Mes1 calculo dt-body-right"></td>
                        <td class="ln10Mes2 calculo dt-body-right"></td>
                        <td class="ln10Mes3 calculo dt-body-right"></td>
                        <td class="ln10Mes4 calculo dt-body-right"></td>
                        <td class="ln10Mes5 calculo dt-body-right"></td>
                        <td class="ln10Mes6 calculo dt-body-right"></td>
                        <td class="ln10Mes7 calculo dt-body-right"></td>
                        <td class="ln10Mes8 calculo dt-body-right"></td>
                        <td class="ln10Mes9 calculo dt-body-right"></td>
                        <td class="ln10Mes10 calculo dt-body-right"></td>
                        <td class="ln10Mes11 calculo dt-body-right"></td>
                        <td class="ln10Mes12 calculo dt-body-right"></td>
                        <td class="ln10MesT calculo  dt-body-right"></td>
                    </tr>
                    <tr>
                        <td colspan="2">INTERESES GENERADOS:</td>
                        <td class="ln11Mes1 calculo dt-body-right"></td>
                        <td class="ln11Mes2 calculo dt-body-right"></td>
                        <td class="ln11Mes3 calculo dt-body-right"></td>
                        <td class="ln11Mes4 calculo dt-body-right"></td>
                        <td class="ln11Mes5 calculo dt-body-right"></td>
                        <td class="ln11Mes6 calculo dt-body-right"></td>
                        <td class="ln11Mes7 calculo dt-body-right"></td>
                        <td class="ln11Mes8 calculo dt-body-right"></td>
                        <td class="ln11Mes9 calculo dt-body-right"></td>
                        <td class="ln11Mes10 calculo dt-body-right"></td>
                        <td class="ln11Mes11 calculo dt-body-right"></td>
                        <td class="ln11Mes12 calculo dt-body-right"></td>
                        <td class="ln11MesT calculo  dt-body-right"></td>
                    </tr>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight text-center">
                        <td colspan="2" class="OnlyBottomBorder">
                            <label class="text-nowrap textSubEncabezado"> ACREEDORES DIVERSOS</label>
                        </td>
                        <td colspan="13" class="OnlyBottomBorder"></td>
                    </tr>
                    <tr>
                        <td colspan="2">1.- % DEL SALDO A AMORTIZAR</td>
                        <td><input type="text" class="form-control ln12Mes1 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes2 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes3 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes4 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes5 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes6 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes7 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes8 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes9 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes10 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes11 calculo esPr" /></td>
                        <td><input type="text" class="form-control ln12Mes12 calculo esPr" /></td>
                        <td style="border-right: 1px solid;"><input type="text" class="form-control ln12MesT calculo esPr" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">2.- IMPORTE A AMORTIZAR</td>
                        <td class="ln13Mes1 calculo dt-body-right"></td>
                        <td class="ln13Mes2 calculo dt-body-right"></td>
                        <td class="ln13Mes3 calculo dt-body-right"></td>
                        <td class="ln13Mes4 calculo dt-body-right"></td>
                        <td class="ln13Mes5 calculo dt-body-right"></td>
                        <td class="ln13Mes6 calculo dt-body-right"></td>
                        <td class="ln13Mes7 calculo dt-body-right"></td>
                        <td class="ln13Mes8 calculo dt-body-right"></td>
                        <td class="ln13Mes9 calculo dt-body-right"></td>
                        <td class="ln13Mes10 calculo dt-body-right"></td>
                        <td class="ln13Mes11 calculo dt-body-right"></td>
                        <td class="ln13Mes12 calculo dt-body-right"></td>
                        <td class="ln13MesT calculo  dt-body-right"></td>
                    </tr>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight text-center">
                        <td colspan="2" class="OnlyBottomBorder">
                            <label class="text-nowrap textSubEncabezado"> GASTOS DIFERIDOS</label>
                        </td>
                        <td colspan="13" class="OnlyBottomBorder" style="border-right: 1px solid;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">1.-</td>
                        <td class="ln14Mes1 calculo dt-body-right"></td>
                        <td class="ln14Mes2 calculo dt-body-right"></td>
                        <td class="ln14Mes3 calculo dt-body-right"></td>
                        <td class="ln14Mes4 calculo dt-body-right"></td>
                        <td class="ln14Mes5 calculo dt-body-right"></td>
                        <td class="ln14Mes6 calculo dt-body-right"></td>
                        <td class="ln14Mes7 calculo dt-body-right"></td>
                        <td class="ln14Mes8 calculo dt-body-right"></td>
                        <td class="ln14Mes9 calculo dt-body-right"></td>
                        <td class="ln14Mes10 calculo dt-body-right"></td>
                        <td class="ln14Mes11 calculo dt-body-right"></td>
                        <td class="ln14Mes12 calculo dt-body-right"></td>
                        <td class="ln14MesT calculo  dt-body-right"></td>

                    </tr>
                    <tr>
                        <td colspan="15"></td>
                    </tr>
                    <tr bgcolor="#91E30A">
                        <td colspan="2">SALDO FLUJO:</td>
                        <td class="ln15Mes1 calculo dt-body-right"></td>
                        <td class="ln15Mes2 calculo dt-body-right"></td>
                        <td class="ln15Mes3 calculo dt-body-right"></td>
                        <td class="ln15Mes4 calculo dt-body-right"></td>
                        <td class="ln15Mes5 calculo dt-body-right"></td>
                        <td class="ln15Mes6 calculo dt-body-right"></td>
                        <td class="ln15Mes7 calculo dt-body-right"></td>
                        <td class="ln15Mes8 calculo dt-body-right"></td>
                        <td class="ln15Mes9 calculo dt-body-right"></td>
                        <td class="ln15Mes10 calculo dt-body-right"></td>
                        <td class="ln15Mes11 calculo dt-body-right"></td>
                        <td class="ln15Mes12 calculo dt-body-right"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>