@*@{
        ViewBag.Title = "PantallaPrincipal";
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }*@


<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/js/Administrativo/Proyecciones/PremisasJS.js"></script>
<script>
    function getParametros() {
        var objFiltro = {
            Escenario: cboEscenario.val(),
            Divisor: tbDivisor.val(),
            MesInicio: tbMesesInicio.val(),
            AnioInicio: cboPeriodo.val(),
            MaqArrend: cboMAqArrend.val()
        };
        return objFiltro;
    }
</script>
<style>
    label.noBold {
        font-weight: normal;
    }

    td.noBorders {
        border-left: none;
        border-right: none;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right">
                <button class="btn btn-primary" type="button" id="btnGuardarPremisas">
                    <span class="glyphicon glyphicon-plus"></span> Guardar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label id="lblEncabezadoPremisas"></label>
            <table class="table table-responsive" id="tblPremisas">
                <thead class="bg-table-header">
                    <tr>
                        <th style="border-right: none;">CONCEPTO</th>
                        <th class="noBorders">&nbsp;</th>
                        <th><label id="Mes1"></label></th>
                        <th><label id="Mes2"></label></th>
                        <th><label id="Mes3"></label></th>
                        <th><label id="Mes4"></label></th>
                        <th><label id="Mes5"></label></th>
                        <th><label id="Mes6"></label></th>
                        <th><label id="Mes7"></label></th>
                        <th><label id="Mes8"></label></th>
                        <th><label id="Mes9"></label></th>
                        <th><label id="Mes10"></label></th>
                        <th><label id="Mes11"></label></th>
                        <th><label id="Mes12"></label></th>
                        <th><label>TOTAL</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="SubEncabezadoNoBorder noBorderLeftaRight odd">
                        <td class="noBorders"><label class="text-nowrap textSubEncabezado"> DATOS GENERALES</label></td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-right: none;"> C.P.P ACTUAL :</td>
                        <td class="noBorders"><input type="text" class="form-control CCP dt-body-right" id="tbCCPActual" /></td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>SENSIBILIZACION C.C.P.</td>
                        <td style="border-left: none;"></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP1" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP2" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP3" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP4" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP5" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP6" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP7" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP8" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP9" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP10" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP11" /></td>
                        <td><input type="text" class="form-control CCP dt-body-right" id="tbCCP12" /></td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td> C. P. P. PROYECTADO:</td>
                        <td style="border-left: none;"></td>
                        <td class="dt-body-right"><label class="CCPProyectado1"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado2"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado3"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado4"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado5"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado6"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado7"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado8"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado9"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado12"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado10"></label></td>
                        <td class="dt-body-right"><label class="CCPProyectado11"></label></td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr class="noBorderLeftaRight">
                        <td class="noBorders"></td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-right: none;">LIBOR ACTUAL :</td>
                        <td class="noBorders"><input type="text" class="form-control Libor dt-body-right" id="tbLiborActual" /></td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>SENSIBILIZACION LIBOR</td>
                        <td style="border-left: none;"></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor1" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor2" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor3" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor4" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor5" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor6" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor7" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor8" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor9" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor10" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor11" /></td>
                        <td><input type="text" class="form-control Libor dt-body-right" id="tbLibor12" /></td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>LIBOR PROYECTADO :</td>
                        <td style="border-left: none;"></td>
                        <td class="dt-body-right"><label class="LiborProyectado1"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado2"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado3"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado4"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado5"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado6"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado7"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado8"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado9"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado10"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado11"></label></td>
                        <td class="dt-body-right"><label class="LiborProyectado12"></label></td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr class="noBorderLeftaRight">
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="noBorders">&nbsp;DOLAR T. C. ACTUAL:</td>
                        <td style="border-left: none;"><input type="text" class="form-control dolar dt-body-right" id="tbDolarActual" /></td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-right: none;">SENS. DOLAR (EN CENTAVOS):</td>
                        <td style="border-left: none;"></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar1" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar2" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar3" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar4" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar5" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar6" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar7" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar8" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar9" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar10" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar11" /></td>
                        <td><input type="text" class="form-control dolar dt-body-right" id="tbDolar12" /></td>
                        <td class="noBorderLeftaRight">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders"></td>
                        <td class="dt-body-right" style="border-right: none;"><label class="DolarProyectado1"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado2"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado3"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado4"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado5"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado6"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado7"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado8"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado9"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado10"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado11"></label></td>
                        <td class="dt-body-right"><label class="DolarProyectado12"></label></td>
                        <td class="noBorderLeftaRight">&nbsp;</td>
                    </tr>
                    <tr class="noBorders">
                        <td class="noBorders"></td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-right: none;">INFLACION  PROYECTADA:</td>
                        <td style="border-left: none;"></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion1" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion2" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion3" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion4" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion5" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion6" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion7" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion8" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion9" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion10" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion11" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccion12" /></td>
                        <td><input type="text" class="form-control Inflaccion" id="tbInflaccionTotal" disabled /></td>
                    </tr>
                    <tr>
                        <td style="border-right: none;">INFLACION ACUMULADA</td>
                        <td style="border-left: none;"></td>
                        <td><label class="InflaccionProyectado1"></label></td>
                        <td><label class="InflaccionProyectado2"></label></td>
                        <td><label class="InflaccionProyectado3"></label></td>
                        <td><label class="InflaccionProyectado4"></label></td>
                        <td><label class="InflaccionProyectado5"></label></td>
                        <td><label class="InflaccionProyectado6"></label></td>
                        <td><label class="InflaccionProyectado7"></label></td>
                        <td><label class="InflaccionProyectado8"></label></td>
                        <td><label class="InflaccionProyectado9"></label></td>
                        <td><label class="InflaccionProyectado10"></label></td>
                        <td><label class="InflaccionProyectado11"></label></td>
                        <td><label class="InflaccionProyectado12"></label></td>
                        <td class="noBorders">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6 text-center">
                <div class="col-lg-12">
                    PROYECCION EN: <input id="txtP1" class="form-control" value="1" />
                </div>
                <div class="col-lg-12">
                    <label>
                        1.-	PESOS CONSTANTES
                    </label>

                </div>
                <div class="col-lg-12">
                    <label>
                        2.-	PESOS A VALOR PRESENTE
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="col-lg-12">
                    I.S.R.  Y   P.T.U. <input id="txtP2" class="form-control" value="2" />
                </div>
                <div class="col-lg-12">
                    <label>
                        1.-	CALCULO MENSUAL EN ESTADO DE RESULTADOS
                    </label>

                </div>
                <div class="col-lg-12">
                    <label>
                        2.-	NO PRESENTAR CALCULO MENSUAL
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="col-lg-12">
                    Aguinaldo capturable <input id="txtAguinaldo" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>

