.ui-autocomplete {
        z-index: 9999;
    }
.muted{
    background-color: #EFF0F1;
}
.advice{
    background-color: #F77414;
}
.radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}