#tblMantenimientosProg {
    
}

#tblMantenimientosProg_wrapper thead > tr > th {
    background-color: #81bd72;
    color: #fff;
}

#tblMantenimientosProg_wrapper .ui-widget-header {
    background-color: #81bd72;
    color: #fff;
}

#tblMantenimientosProg_wrapper .ui-corner-tl {
    display: none;
}

#tblMantenimientosProg tbody > tr td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#modalEjecucionPM .modal-dialog {
    width: 80%;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .custom-file-upload {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;
}

.custom-file-upload .custom-file-upload-ok {
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;
}