
.modalg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.modal-dialogg {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.modal-headerg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
}

.modal-contentg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    box-shadow: none;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
    z-index: 99999 !important;
}

.modal-bodyg {
    position: absolute;
    top: 50px;
    bottom: 0;
    font-size: 15px;
    overflow: auto;
    margin-bottom: 60px;
    padding: 0 15px 0;
    width: 100%;
}

.modal-footerg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5;
}

.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    /*width: 90%;*/
    min-width: 80%;
    /*min-height: 100%*/
}

.note-editable.panel-body {
    overflow-y: scroll;
}


.jumbotron {
    background-color: #ffffff;
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    padding: 0px;
    /*margin-top:2em;*/
    overflow: hidden;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-size-adjust: 20%;
    background-color: #81bd72;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
}


.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


/*tabla*/
.points_table thead {
    width: 100%;
}

.points_table tbody {
    height: 562px;
    overflow-y: auto;
    width: 100%;
}

.points_table thead tr {
    width: 99%;
}

.points_table tr {
    width: 100%;
}

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th {
    display: inline-block;
}

.points_table thead {
    background: #d91f2d;
    color: #fff;
}

    .points_table tbody td, .points_table thead > tr > th {
        float: left;
        border-bottom-width: 0;
    }

.points_table > tbody > tr > td, .points_table > tbody > tr > th, .points_table > tfoot > tr > td, .points_table > tfoot > tr > th, .points_table > thead > tr > td, .points_table > thead > tr > th {
    padding: 8px;
    height: 50px;
    text-align: center;
    line-height: 32px;
}

.odd {
    background: #ffffff;
    color: #000;
}

.even {
    background: #efefef;
    color: #000;
}

.points_table_scrollbar {
    height: 612px;
    overflow-y: scroll;
}

    .points_table_scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
        border-radius: 10px;
        background-color: #444444;
    }

    .points_table_scrollbar::-webkit-scrollbar {
        width: 1%;
        min-width: 5px;
        background-color: #F5F5F5;
    }

    .points_table_scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #D62929;
        background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
    }




h3 {
    margin: 5px;
    padding: 5px;
}

.btn-custom {
    border: none;
}

#toolbar-admin {
    display: none;
}




/*tabs diseñp asignacion defs curso raguiklar 12/02/18*/

/*body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}*/
input#tab1,
input#tab2,
input#tab3 {
    display: none;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em -1px 0;
    border-bottom: 1px !important;
    padding: 0;
    white-space: nowrap;
}

label#lbltab1,
label#lbltab2,
label#lbltab3 {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
}

    label#lbltab1:before,
    label#lbltab2:before,
    label#lbltab3:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
    }

    label#lbltab1[for*='1']:before {
        content: '\f02d';
    }

    label#lbltab2[for*='2']:before {
        content: '\f067';
    }

    label#lbltab3[for*='3']:before {
        content: '\f234';
    }

    label#lbltab1:hover,
    label#lbltab2:hover,
    label#lbltab3:hover {
        color: #888;
        cursor: pointer;
    }

input#tab1:checked + label#lbltab1,
input#tab2:checked + label#lbltab2,
input#tab3:checked + label#lbltab3 {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}


/*.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}*/
.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}

    .custom-checkbox .custom-control-indicator:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #f1f1f1;
        border-radius: 21px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
        left: -2px;
        top: -4px;
        -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    }

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important;
}

    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
        background-color: #84c7c1;
        left: 15px;
    }

.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}



/*calis maquinaria*/

/*.ds-btn li{ list-style:none; float:left; padding:10px; }
/*.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}*/



/*body { font-family: 'Open Sans'; }*/

/*.container{ margin-top: 42px;}*/

.inactive {
    visibility: hidden;
}

.active {
    background-color: #F7F7F9;
}

.col-list .col-head {
    color: white;
    border-bottom: thick solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}
    /*.col-list .col-head span { color: white; font-size: 3em; padding: 5px; border: thick solid white; border-radius: 50%; margin-top: -45px; background-color: #BE1E2D; }*/
    .col-list .col-head h2 {
        font-size: 20PX;
    }

.col-list .t3 .col-head {
    background-color: #da6a1a;
}
/*cambio color sigoplan*/
.col-list .t3 li {
    border-bottom: 1px solid rgba(248, 113, 82, .4);
}

    .col-list .t1 li:last-child,
    .col-list .t2 li:last-child,
    .col-list .t3 li:last-child {
        border-bottom: 0;
    }

.col-list li p {
    cursor: pointer;
    font-size: 1.2em;
}

.col-list li:hover {
    background-color: #F7F7F9;
}

.option span {
    color: rgba(162, 213, 0, 1);
}


.rotar {
    transform: rotateZ(180deg);
}


.input-group-addon {
    min-width: 270px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}


/*reloj*/

#content {
    font-size: 1.2em; /* for the rest of the page to show at a normal size */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: auto;
}

.code {
    margin: 6px;
    padding: 9px;
    background-color: #fdf5ce;
    border: 1px solid #c77405;
}

fieldset {
    padding: 0.5em 2em;
}

hr {
    margin: 0.5em 0;
    clear: both;
}

a {
    cursor: pointer;
}

#requirements li {
    line-height: 1.6em;
}

.ui-timepicker-table td a {
    display: block;
    padding: 0em 0em 0em 0em;
    width: 2em !important;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}

#ui-id-1 {
    z-index: 456465;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .btn-social :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }

    .btn-social.btn-lg {
        padding-left: 61px;
    }

        .btn-social.btn-lg :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em;
        }

    .btn-social.btn-sm {
        padding-left: 38px;
    }

        .btn-social.btn-sm :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em;
        }

    .btn-social.btn-xs {
        padding-left: 30px;
    }

        .btn-social.btn-xs :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em;
        }

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding-left: 0;
    padding-right: 0;
}

    .btn-social-icon :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }

    .btn-social-icon.btn-lg {
        padding-left: 61px;
    }

        .btn-social-icon.btn-lg :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em;
        }

    .btn-social-icon.btn-sm {
        padding-left: 38px;
    }

        .btn-social-icon.btn-sm :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em;
        }

    .btn-social-icon.btn-xs {
        padding-left: 30px;
    }

        .btn-social-icon.btn-xs :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em;
        }

    .btn-social-icon :first-child {
        border: none;
        text-align: center;
        width: 100% !important;
    }

    .btn-social-icon.btn-lg {
        height: 45px;
        width: 45px;
        padding-left: 0;
        padding-right: 0;
    }

    .btn-social-icon.btn-sm {
        height: 30px;
        width: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .btn-social-icon.btn-xs {
        height: 22px;
        width: 22px;
        padding-left: 0;
        padding-right: 0;
    }

.btn-bitbucket {
    color: #F8F9F9;
    background-color: #E67E22;
    border-color: rgba(0,0,0,0.2);
}

    .btn-bitbucket:hover, .btn-bitbucket:focus, .btn-bitbucket:active, .btn-bitbucket.active, .open .dropdown-toggle.btn-bitbucket {
        color: #626567;
        background-color: #F5B041;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-bitbucket:active, .btn-bitbucket.active, .open .dropdown-toggle.btn-bitbucket {
        background-image: none;
    }

    .btn-bitbucket.disabled, .btn-bitbucket[disabled], fieldset[disabled] .btn-bitbucket,
    .btn-bitbucket.disabled:hover, .btn-bitbucket[disabled]:hover, fieldset[disabled] .btn-bitbucket:hover,
    .btn-bitbucket.disabled:focus, .btn-bitbucket[disabled]:focus, fieldset[disabled] .btn-bitbucket:focus,
    .btn-bitbucket.disabled:active, .btn-bitbucket[disabled]:active, fieldset[disabled] .btn-bitbucket:active,
    .btn-bitbucket.disabled.active, .btn-bitbucket[disabled].active, fieldset[disabled] .btn-bitbucket.active {
        background-color: #FAD7A0;
        border-color: rgba(0,0,0,0.2);
    }



.btn-dropbox {
    color: #fff;
    background-color: #1087dd;
    border-color: rgba(0,0,0,0.2);
}

    .btn-dropbox:hover, .btn-dropbox:focus, .btn-dropbox:active, .btn-dropbox.active, .open .dropdown-toggle.btn-dropbox {
        color: #fff;
        background-color: #0d70b7;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-dropbox:active, .btn-dropbox.active, .open .dropdown-toggle.btn-dropbox {
        background-image: none;
    }

    .btn-dropbox.disabled, .btn-dropbox[disabled], fieldset[disabled] .btn-dropbox, .btn-dropbox.disabled:hover, .btn-dropbox[disabled]:hover, fieldset[disabled] .btn-dropbox:hover, .btn-dropbox.disabled:focus, .btn-dropbox[disabled]:focus, fieldset[disabled] .btn-dropbox:focus, .btn-dropbox.disabled:active, .btn-dropbox[disabled]:active, fieldset[disabled] .btn-dropbox:active, .btn-dropbox.disabled.active, .btn-dropbox[disabled].active, fieldset[disabled] .btn-dropbox.active {
        background-color: #1087dd;
        border-color: rgba(0,0,0,0.2);
    }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

    .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
        color: #fff;
        background-color: #30487b;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
        background-image: none;
    }

    .btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
        background-color: #3b5998;
        border-color: rgba(0,0,0,0.2);
    }

.btn-flickr {
    color: #fff;
    background-color: #ff0084;
    border-color: rgba(0,0,0,0.2);
}

    .btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active, .open .dropdown-toggle.btn-flickr {
        color: #fff;
        background-color: #d6006f;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-flickr:active, .btn-flickr.active, .open .dropdown-toggle.btn-flickr {
        background-image: none;
    }

    .btn-flickr.disabled, .btn-flickr[disabled], fieldset[disabled] .btn-flickr, .btn-flickr.disabled:hover, .btn-flickr[disabled]:hover, fieldset[disabled] .btn-flickr:hover, .btn-flickr.disabled:focus, .btn-flickr[disabled]:focus, fieldset[disabled] .btn-flickr:focus, .btn-flickr.disabled:active, .btn-flickr[disabled]:active, fieldset[disabled] .btn-flickr:active, .btn-flickr.disabled.active, .btn-flickr[disabled].active, fieldset[disabled] .btn-flickr.active {
        background-color: #ff0084;
        border-color: rgba(0,0,0,0.2);
    }

.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

    .btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
        color: #fff;
        background-color: #303030;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
        background-image: none;
    }

    .btn-github.disabled, .btn-github[disabled], fieldset[disabled] .btn-github, .btn-github.disabled:hover, .btn-github[disabled]:hover, fieldset[disabled] .btn-github:hover, .btn-github.disabled:focus, .btn-github[disabled]:focus, fieldset[disabled] .btn-github:focus, .btn-github.disabled:active, .btn-github[disabled]:active, fieldset[disabled] .btn-github:active, .btn-github.disabled.active, .btn-github[disabled].active, fieldset[disabled] .btn-github.active {
        background-color: #444;
        border-color: rgba(0,0,0,0.2);
    }

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

    .btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
        color: #fff;
        background-color: #ca3523;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
        background-image: none;
    }

    .btn-google-plus.disabled, .btn-google-plus[disabled], fieldset[disabled] .btn-google-plus, .btn-google-plus.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active {
        background-color: #dd4b39;
        border-color: rgba(0,0,0,0.2);
    }

.btn-instagram {
    color: #fff;
    background-color: #517fa4;
    border-color: rgba(0,0,0,0.2);
}

    .btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
        color: #fff;
        background-color: #446a89;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
        background-image: none;
    }

    .btn-instagram.disabled, .btn-instagram[disabled], fieldset[disabled] .btn-instagram, .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled:active, .btn-instagram[disabled]:active, fieldset[disabled] .btn-instagram:active, .btn-instagram.disabled.active, .btn-instagram[disabled].active, fieldset[disabled] .btn-instagram.active {
        background-color: #517fa4;
        border-color: rgba(0,0,0,0.2);
    }

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}

    .btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
        color: #fff;
        background-color: #005f8d;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
        background-image: none;
    }

    .btn-linkedin.disabled, .btn-linkedin[disabled], fieldset[disabled] .btn-linkedin, .btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled:active, .btn-linkedin[disabled]:active, fieldset[disabled] .btn-linkedin:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin.active {
        background-color: #007bb6;
        border-color: rgba(0,0,0,0.2);
    }

.btn-pinterest {
    color: #fff;
    background-color: #cb2027;
    border-color: rgba(0,0,0,0.2);
}

    .btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active, .open .dropdown-toggle.btn-pinterest {
        color: #fff;
        background-color: #a81a20;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-pinterest:active, .btn-pinterest.active, .open .dropdown-toggle.btn-pinterest {
        background-image: none;
    }

    .btn-pinterest.disabled, .btn-pinterest[disabled], fieldset[disabled] .btn-pinterest, .btn-pinterest.disabled:hover, .btn-pinterest[disabled]:hover, fieldset[disabled] .btn-pinterest:hover, .btn-pinterest.disabled:focus, .btn-pinterest[disabled]:focus, fieldset[disabled] .btn-pinterest:focus, .btn-pinterest.disabled:active, .btn-pinterest[disabled]:active, fieldset[disabled] .btn-pinterest:active, .btn-pinterest.disabled.active, .btn-pinterest[disabled].active, fieldset[disabled] .btn-pinterest.active {
        background-color: #cb2027;
        border-color: rgba(0,0,0,0.2);
    }

.btn-tumblr {
    color: #fff;
    background-color: #2c4762;
    border-color: rgba(0,0,0,0.2);
}

    .btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr {
        color: #fff;
        background-color: #1f3346;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr {
        background-image: none;
    }

    .btn-tumblr.disabled, .btn-tumblr[disabled], fieldset[disabled] .btn-tumblr, .btn-tumblr.disabled:hover, .btn-tumblr[disabled]:hover, fieldset[disabled] .btn-tumblr:hover, .btn-tumblr.disabled:focus, .btn-tumblr[disabled]:focus, fieldset[disabled] .btn-tumblr:focus, .btn-tumblr.disabled:active, .btn-tumblr[disabled]:active, fieldset[disabled] .btn-tumblr:active, .btn-tumblr.disabled.active, .btn-tumblr[disabled].active, fieldset[disabled] .btn-tumblr.active {
        background-color: #2c4762;
        border-color: rgba(0,0,0,0.2);
    }

.btn-twitter {
    color: #fff;
    background-color: #2ba9e1;
    border-color: rgba(0,0,0,0.2);
}

    .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
        color: #fff;
        background-color: #1c92c7;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
        background-image: none;
    }

    .btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
        background-color: #2ba9e1;
        border-color: rgba(0,0,0,0.2);
    }

.btn-vk {
    color: #fff;
    background-color: #587ea3;
    border-color: rgba(0,0,0,0.2);
}

    .btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active, .open .dropdown-toggle.btn-vk {
        color: #fff;
        background-color: #4a6a89;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-vk:active, .btn-vk.active, .open .dropdown-toggle.btn-vk {
        background-image: none;
    }

    .btn-vk.disabled, .btn-vk[disabled], fieldset[disabled] .btn-vk, .btn-vk.disabled:hover, .btn-vk[disabled]:hover, fieldset[disabled] .btn-vk:hover, .btn-vk.disabled:focus, .btn-vk[disabled]:focus, fieldset[disabled] .btn-vk:focus, .btn-vk.disabled:active, .btn-vk[disabled]:active, fieldset[disabled] .btn-vk:active, .btn-vk.disabled.active, .btn-vk[disabled].active, fieldset[disabled] .btn-vk.active {
        background-color: #587ea3;
        border-color: rgba(0,0,0,0.2);
    }


/* 
 * Only for this example - not needed for the buttons
 * ----------------------------------------------------- */
.btn-social-icon {
    margin-bottom: 4px;
}

.social-class .social-hex {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 10px;
    opacity: .3;
    float: right;
}

.social-class li {
    margin-bottom: 4px;
}

    .social-class li:hover .social-hex {
        opacity: 1;
    }

    .social-class li:hover code {
        background-color: #e8e8ee;
    }

.social-class code {
    cursor: default;
}


.colorCode {
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    margin-left: 25px;
    background-color: #7c7c7c;
    border: 3px solid #ffffff;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


    #divTablaReporteSemanal table.theadFixed thead th{
        position:sticky;
        top:0;
        z-index: 10;
        background-color: #81bd72;
    }
    #divTablaReporteSemanal div.col-lg-4{
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tabla { overflow-y: auto; height: 350px; }
    .tabla th {
        font-size: 12px;
        position: sticky; top: 0;
        background-color: #81bd72 !important;
        /*text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;*/
        white-space: nowrap;
    }
    td { vertical-align: middle !important; }

.form-control {
    text-align: center;
}

#tblGridLubProx, #tblGridLubProx .form-control {
    font-size: 13px;
}

#tblGridLubProx td {
    padding-top: 0;
    padding-bottom: 0;
}

.bg-table-header {
    font-size:15px;
    background: rgb(68,133,51) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border: none !important;
}