@{
    ViewBag.Title = "Captura de Combustible";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2 class="text-center">Configuración diaria</h2>

<div class="row">
    <div class="col-lg-4">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Datos generales</legend>
            <div class="col-lg-8">
                <label>$/Litro:</label>
                <input type="number" min="0" class="form-control" id="txtPrecioXLitro"/>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-success margin-top" id="btnGuardarDiesel">
                    <span class="glyphicon glyphicon-plus"></span> Guardar
                </button>
            </div>
        </fieldset>
    </div>


</div>
