
@{
    ViewBag.Title = "Gestion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Facturacion/GestionJS.js"></script>
<div class="container-fluid">
    <h1 class="text-center">Gestion</h1>
    <fieldset class="fieldset-custm">
        <legend class="legend-custm">Búsqueda de pedídos</legend>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
            <label for="txtFecha">Fecha Inicio</label>
            <input type="text" class="form-control" id="dtBusqInicio" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
            <label for="txtFecha">Fecha Fin</label>
            <input type="text" class="form-control" id="dtBusqFin" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
            <label>Cliente</label>
            <input type="text" class="form-control" id="txtBusqCliente" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
            <button class="btn-primary btn-xs form-control margin-top" id="btnBuscar">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
            <button class="btn-primary btn-xs form-control margin-top" id="btnIrFactura">
                <span class="glyphicon glyphicon-plus"></span> Factura
            </button>
        </div>
    </fieldset>
    <fieldset class="margin-top">
        <table id="tblGestion" class="table table-condensed table-hover table-striped text-center">
            <thead class="bg-table-header">
                <tr>
                    <th data-column-id="Acciones" data-align="center" data-header-align="center" data-formatter="Accion">ACCIONES</th>
                    <th data-column-id="pedido" data-align="center" data-header-align="center" data-type="numeric">PEDIDO</th>
                    <th data-column-id="numcte" data-align="center" data-header-align="center" data-type="numeric">CLIENTE</th>
                    <th data-column-id="nombre" data-align="center" data-header-align="center">NOMBRE</th>
                    <th data-column-id="fecha" data-align="center" data-header-align="center" data-type="date">FECHA</th>
                    <th data-column-id="estatus" data-align="center" data-header-align="center" data-formatter="Estatus">ESTATUS</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>


