@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/bootstrap-switch.css" rel="stylesheet" />
<link href="~/Content/style/css/Facturación/FacturacionCSS.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/bootstrap-switch.min.js"></script>
<script src="~/Scripts/js/Facturacion/FacturacionJS.js"></script>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="text-center">Factura</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-lg-offset-10">
            <button class="btn-primary btn-xs form-control" id="btnGuardar">
                Guardar
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div hidden><input type="text" id="hdnId" /></div>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">General</legend>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Pedido</span>
                    <input type="text" class="form-control" id="txtPedido" readonly />
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Remisión</span>
                    <input type="text" class="form-control" id="txtRemision" readonly />
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Factura</span>
                    <input type="text" class="form-control" id="txtFactura" readonly />
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Fecha</span>
                    <input type="text" id="dpFecha" class="form-control" disabled>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-8">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Cia. Suc.</span>
                    <select class="form-control" id="selCiaSuc" disabled></select>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Surcusal</span>
                    <select class="form-control" id="selSucursalNum"></select>
                    <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="txtSucursalNomb" style="width: 250px;" disabled />
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">CC</span>
                    <select class="form-control" id="selCC"></select>
                    <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="txtCC" style="width: 250px;" disabled />
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Vendedor</span>
                    <select class="form-control" id="selVendedorNum"></select>
                    <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="txtVendedorNomb" style="width: 200px;" disabled />
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Elaboró</span>
                    <select class="form-control" id="selElaboroNUM"></select>
                    <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="txtElaboroNomb" style="width: 200px;" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Observaciones</span>
                    <input type="text" class="form-control" id="txtObservaciones" value=" " />
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Cliente</legend>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">No.</span>
                    <select class="form-control" id="selNumcte"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Nombre.</span>
                    <input type="text" class="form-control" id="txtClienteNombre" disabled />
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Nom Corto</span>
                    <input type="text" class="form-control" id="txtClienteNomCorto" disabled />
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">R.F.C.</span>
                    <input type="text" class="form-control" id="txtClienteRFC" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Teléfono.</span>
                    <input type="text" class="form-control telefono" id="txtClienteTelefono" maxlength="10" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Dirección.</span>
                    <input type="text" class="form-control" id="txtClienteDireccion" disabled />
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">C.P.</span>
                    <input type="text" class="form-control codigoPostal" id="txtClienteCp" maxlength="5" disabled />
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Ciudad</span>
                    <input type="text" class="form-control" id="txtClienteCiudad" disabled />
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Pedido</legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <fieldset class="">
                    @*<legend class="legend-custm text-center">Autorizado</legend>*@
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-6">
                        <fieldset class="legend-custm">
                            <label for="radCreCont" class="col-sm-4 col-md-4 control-label"></label>
                            <div class="radioBtn btn-group">
                                <a class="btn btn-primary  active" data-toggle="radCreCont" data-title="C">Crédito</a>
                                <a class="btn btn-primary  notActive" data-toggle="radCreCont" data-title="Co">Contado</a>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-6">
                        <fieldset class="legend-custm">
                            <label for="radTipo" class="col-sm-4 col-md-4 control-label"></label>
                            <div class="radioBtn btn-group">
                                <a class="btn btn-primary  active" data-toggle="radTipo" data-title="N">Nacional</a>
                                <a class="btn btn-primary  notActive" data-toggle="radTipo" data-title="E">Extranjero</a>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <fieldset class="">
                    @*<legend class="legend-custm text-center">Tipo pedido</legend>*@
                    <label for="radTPedido" class="col-sm-4 col-md-4 control-label"></label>
                    <div class="radioBtn btn-group">
                        <a class="btn btn-primary  active" data-toggle="radTPedido" data-title="M">Cap. Máxima</a>
                        <a class="btn btn-primary  notActive" data-toggle="radTPedido" data-title="E">Carg. Exacta</a>
                        <a class="btn btn-primary  notActive" data-toggle="radTPedido" data-title="P">Parcial</a>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Condiciones Pago</span>
                    <input type="number" class="form-control" id="txtPedidoCondPago" />
                    <span class="input-group-addon"><text id="spanPedidoCodPago">0 Días</text></span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Req./O.C.</span>
                    <input type="text" class="form-control" id="txtPedidoReq" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Zona</span>
                    <select class="form-control" id="txtAutoZona" ></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Cond. Ent.</span>
                    <select class="form-control" id="selCondEnt">
                        <option>--Seleccione--</option>
                        <option value="I">INMEDIATO</option>
                        <option selected value="E">EN BASE A PROGRAMA</option>
                        <option value="O">OTRO</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Tipo Flete</span>
                    <select class="form-control" id="selTipoFlete">
                        <option>--Seleccione--</option>
                        <option selected value="L">LAB</option>
                        <option value="E">ENVIAR</option>
                        <option value="P">POR COBRAR</option>
                    </select>
                </div>
            </div>


        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Remisión</legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Folio electronico</span>
                    <input type="text" class="form-control" id="txtRemisionEFolio" readonly />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Régimen Fiscal</span>
                    <select class="form-control" id="selRemisionRegimen"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Serie</span>
                    <select class="form-control" id="selFacturacionSerie">
                        <option value="A" selected>A</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Transporte</span>
                    <input type="text" class="form-control" id="txtTransporte" value="1" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Talón</span>
                    <input type="number" class="form-control" id="txtTalon" value="1" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Consignado</span>
                    <input type="text" class="form-control" id="txtConsignado" value="1" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <fieldset class="margin-top">
                    <span class="">Entregado</span>
                    <div class="radioBtn btn-group">
                        <a class="btn btn-primary  active" data-toggle="radEntregado" data-title="S">Sí</a>
                        <a class="btn btn-primary  notActive" data-toggle="radEntregado" data-title="N">No</a>
                    </div>
                </fieldset>
            </div>
        </fieldset>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Totales</legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Sub Total</span>
                    <input type="text" class="form-control dinero" id="txtDetSubTotal" value="$0.00" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Desc.</span>
                    <input type="text" class="form-control porcentage importe" id="txtDetDescPorcentage" value="0.00%" />
                    <span class="input-group-btn">
                        <input type="text" class="btn btn-default dinero" id="txtDetDescDinero" value="$0.00" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">I.V.A.</span>
                    <input type="text" class="form-control porcentage importe" id="txtDetIvaPorcentage" value="16.00%" disabled />
                    <span class="input-group-btn">
                        <input type="text" class="btn btn-default dinero" id="txtDetIvaDinero" value="$0.00" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" hidden>
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">I.V.A. por partida</span>
                    <input type="checkbox" id="chbIva" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Rentenciones</span>
                    <input type="text" class="form-control dinero" id="txtDetRentenciones" value="$0.00" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Total</span>
                    <input type="text" class="form-control dinero" id="txtDetTotal" value="$0.00" disabled />
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Moneda</span>
                    <select class="form-control" id="selAutoMoneda">
                        <option>--Seleccione--</option>
                        <option value="1">MX</option>
                        <option value="2">DLL</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">T.C.</span>
                    <input type="text" class="form-control dinero importe" id="txtAutotc" value="$1.00" disabled />
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Pagos</legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Cuenta</span>
                    <input type="text" class="form-control" id="txtRemisionCuenta" maxlength="4" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">T.M.</span>
                    <select class="form-control" id="selTm"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Método de pago</span>
                    <select class="form-control" id="selFacturacionPago"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Clave Sat</span>
                    <select class="form-control" id="selRemisionsAT" disabled></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Estatus</span>
                    <input type="text" class="form-control" id="txtEstatus" value="IMPRESA" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Tipo</span>
                    <select class="form-control" id="selRemisionTipoCuenta">
                        <option value="B">Bienes</option>
                        <option selected value="S">Servicios</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Factura</legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Formulario</span>
                    <input type="text" class="form-control" id="txtFacturaFormulario" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Ruta XML</span>
                    <input type="text" class="form-control" id="txtFacturacionXml" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">Ruta PDF</span>
                    <input type="text" class="form-control" id="txtFacturacionPDF" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">GSDB</span>
                    <input type="text" class="form-control" id="txtFacturacionGsdb" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group margin-top">
                    <span class="input-group-addon" id="basic-addon3">ASN</span>
                    <input type="text" class="form-control" id="txtFacturacionAsn" />
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container-fluid">
    <div class="container-fluid">
        <fieldset class="fieldset-custm" id="divDetalle">
            <legend class="legend-custm">Detalle</legend>
            <table id="tblDetalle" class="table table-condensed table-hover table-striped text-center margin-top">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="Partida" data-align="center" data-header-align="center">PARTIDA</th>
                        <th data-column-id="Insumo" data-align="center" data-header-align="center">INSUMO</th>
                        <th data-column-id="Descripcion" data-align="center" data-header-align="center">DESCRIPCIÓN</th>
                        <th data-column-id="Unidad" data-align="center" data-header-align="center">UNIDAD</th>
                        <th data-column-id="Cantidad" data-formatter="cantidad" data-align="center" data-header-align="center">CANTIDAD</th>
                        <th data-column-id="Precio" data-formatter="precio" data-align="center" data-header-align="center">PRECIO</th>
                        <th data-column-id="Descuento" data-formatter="descuento" data-align="center" data-header-align="center">%DESCUENTO</th>
                        <th data-column-id="DescuentoDinero" data-formatter="DescuentoDinero" data-align="center" data-header-align="center">$DESCUENTO</th>
                        <th data-column-id="Importe" data-formatter="Importe" data-align="center" data-header-align="center">IMPORTE</th>
                    </tr>
                </thead>
            </table>
            <table id="tblRentencion" class="table table-condensed table-hover table-striped text-center margin-top">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="Partida" data-align="center" data-header-align="center">PARTIDA</th>
                        <th data-column-id="Insumo" data-align="center" data-header-align="center">INSUMO</th>
                        <th data-column-id="Descripcion" data-align="center" data-header-align="center">DESCRIPCIÓN</th>
                        <th data-column-id="Unidad" data-align="center" data-header-align="center">UNIDAD</th>
                        <th data-column-id="Descuento" data-formatter="descuento" data-align="center" data-header-align="center">%PORCENTAGE</th>
                        <th data-column-id="DescuentoDinero" data-formatter="DescuentoDinero" data-align="center" data-header-align="center">RENTENCIÓN</th>
                        <th data-column-id="Importe" data-formatter="Importe" data-align="center" data-header-align="center">RESTANTE</th>
                        <th data-column-id="Rentencion" data-formatter="Rentencion" data-align="center" data-header-align="center">APLI RENT</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
        <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nuevo insumo</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table id="tblInsumo" class="table table-condensed table-hover table-striped text-center margin-top">
                                <thead class="bg-table-header">
                                    <tr>
                                        <th data-column-id="Accion" data-formatter="Accion" data-align="center" data-header-align="center">SELECCIONA</th>
                                        <th data-column-id="Insumo" data-align="center" data-header-align="center">INSUMO</th>
                                        <th data-column-id="Descripcion" data-align="center" data-header-align="center">DESCRIPCIÓN</th>
                                        <th data-column-id="Unidad" data-align="center" data-header-align="center">UNIDAD</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>