
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<div class="setup-content" id="step-1">
    <div class="row">
        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">
            Siguiente
        </button>
    </div>
</div>
<div class="setup-content" id="step-2">
    <div class="row">
        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">
            Siguiente
        </button>
    </div>
</div>



