#tblPresupuesto > tbody > tr > td
{
    padding: 0;
}
#tblPresupuesto > thead th
{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: black;
    color: white;
    font-size: small;
} 
.iffyTip {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis; 
}
.wd100 {
    width: 1050px;
}

.pintarGrupo{
    border: 2px solid green !important;
    background-color: rgb(253, 253, 214) !important;
    color: black !important;
}
.tituloTabla{
    border: 1px solid black !important;
    color: black !important;
    font-weight: bold;
    text-align: center;
}