.icono-menu {
  font-size: 20px;
  padding-right: 5px;
}
.boton-menu {
  color: #fff;
  background-color: #0180ff;
  border-color: #0180ff;
  font-weight: bold;
  text-align: left;
  white-space: normal;
}
.boton-porcentaje {
  color: black !important;
  font-weight: bold;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.ui-widget-header {
  background: #da6a1a;
  border: 0;
  color: #fff;
  font-weight: normal;
}
.ui-mrgRight {
  margin-right: 100px;
}
.errorBorderColorInput {
  border-color: red;
}
.errorFontColor {
  color: red;
}
.boton-estatus {
  color: #000;
  text-align: left;
  font-weight: bold;
  cursor: auto;
  white-space: normal;
}
.boton-pesimo {
  background-color: #fa0101;
}
.boton-malo {
  background-color: #fa8001;
}
.boton-regular {
  background-color: #faff01;
}
.boton-aceptable {
  background-color: #018001;
}
.boton-excediendo {
  background-color: #0180ff;
}

.color-pesimo {
  color: #fa0101;
}
.color-malo {
  color: #fa8001;
}
.color-regular {
  color: #faff01;
}
.color-aceptable {
  color: #018001;
}
.color-excediendo {
  color: #0180ff;
}

/* REGISTO BACKLOGS OBRA */
#tblBL_CatBackLogs tr.rowHoverRegistroObra:hover td:not(:nth-child(8)) {
  background-color: #eff5e5;
}

#tblBL_CatBackLogs tr.rowHover:hover td:not(:nth-child(10)) {
  background-color: #eff5e5;
}

#tblBL_CatBackLogs tr.rowHoverIndex:hover td:not(:nth-child(1)) {
  background-color: #eff5e5;
}
/* END: REGISTO BACKLOGS OBRA */

/* REGISTO BACKLOGS TMC */
#tblBL_CatBackLogsTMC tr.rowHover:hover td:not(:nth-child(11)) {
  background-color: #eff5e5;
}
/* END: REGISTO BACKLOGS TMC */

/* INDICADORES DE REHABILITACION TMC */
#tbl1 tr.rowHoverTbl1:hover td:not(:nth-child(7)) {
  background-color: #eff5e5;
}

#tbl2 tr.rowHoverTbl2:hover td:not(:nth-child(3)) {
  background-color: #eff5e5;
}
/* END: INDICADORES DE REHABILITACION TMC */

table {
  white-space: nowrap;
}
.text-color {
  color: #000;
}
.text-align-center {
  text-align: center;
}
.td-BLRegistrados {
  background-color: #7cb5ec;
}
.td-BLCerrados {
  background-color: #a5a5a5;
}
.td-BLAcumulados {
  background-color: #90ed7d;
}
.lblFechaInicioFinal {
  color: green;
}

#divFiltros {
  margin-left: 240px;
  margin-right: 18px;
}

#divTbl {
  margin-left: 240px;
  margin-right: 18px;
}

/*TABLAS*/
table.dataTable {
  width: 100% !important;
}
table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
  border: 0px solid #ffffff !important;
}
table.dataTable thead {
  font-size: 15px;
  background-color: #3556ae;
  color: white;
}

/*MODALES*/
.modal-xl {
  width: 80%;
}
.disenioModal .modal-header {
  color: white;
  background: linear-gradient(40deg, #45cafc, #303f9f);
  border: none;
}
.disenioModal .modal-header .titleHeader {
  font-size: x-large;
  font-weight: bold;
}
.disenioModal .modal-header .modal-title {
  font-weight: bold;
}
.disenioModal .modal-header .modal-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

#tabTbl2 {
  margin: 0;
  padding: 0;
}

#tblPorEquipo th,
#tblPorEquipoDet th {
  padding: 4px;
  text-align: center;
  border-left: 1px solid gray !important;
  font-size: 13px;
  font-weight: bolder;
}

#tblPorEquipo,
#tblPorEquipoDet {
  border: 1px solid #3556ae !important;
}

#tblPorEquipo td,
#tblPorEquipoDet td {
  font-size: 13px;
}

.padding2 {
  padding: 4px;
}

#divGraficaEquipoCostoHora,
#divGraficaEquipoCostoMes {
  text-align: center;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.inputFechas {
  width: 50% !important;
}

#modalDetallePorEquipo div.modal-header {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
  height: 36px;
}

#modalDetallePorEquipo div.modal-header {
  padding: 0;
}

#modalDetallePorEquipo button.close:hover,
#modalDetallePorEquipo button.close:focus {
  color: white !important;
  background-color: red !important;
  opacity: 0.7 !important;
}

#modalDetallePorEquipo button.close {
  color: white !important;
  opacity: 0.7 !important;
  font-size: 34px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 !important;
}
