/*#region WIZARD */
.wizard {
    margin: 20px auto;
    background: #fff;
}
.wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
        position: relative;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}
.wizard .nav-tabs > li {
    width: 10%;
}
.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}
.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs > li a:hover {
    background: transparent;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}
.wizard h3 {
    margin-top: 0;
}
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
li {
  position: relative;
  list-style: none;
  font-size: large;
  font-weight: bold;
}
li.str:before {
  content: "*";
  position: absolute;
  left: -15px;
  bottom: -3px;
}
/*#endregion */

/*#region ORDENES CAMBIO (Construccion Pesada)*/
	.table-wrapper {
		width: 100%;
        background: #fff;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-new i {
		margin-right: 4px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }    
	table.table td a.addOrdenCambio {
        color: #27C46B;
    }
    table.table td a.editOrdenCambio{
        color: #FFC107;
    }
    table.table td a.deleteOrdenCambio {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.addOrdenCambio i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .addOrdenCambio{
		display: none;
    }
    table thead{      
        background-color: #ff9800;
    }
/*#endregion */

/*#region RIESGOS (CONSTRUCCION PESADA)*/
    table.table td a.addRiesgos {
        color: #27C46B;
    }
    table.table td a.editRiesgos{
        color: #FFC107;
    }
    table.table td a.deleteRiesgos {
        color: #E34724;
    }
    table.table td a.addRiesgos i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }  
    table.table td a.addRiesgos{
		display: none;
    }
/*#endregion */

/*#region PROGRABA OBRA (CONSTRUCCION PESADA)*/
/* .custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .custom-file-upload {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;
} */
/* 
#divGaleriaSubArea:empty {
    position: relative;
    display: block;
    min-height: 200px;
    background-color: rgb(240,240,240);
    text-align: center;
}

    #divGaleriaSubArea:empty:before {
        content: 'SIN REFERENCIA';
        position: absolute;
        font-size: 25px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    } */
/*#endregion*/

@media( max-width : 600px ) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}