/*#region PRINCIPAL*/
body, h1, h2, h3, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #eaeaea;
}

.serif-font {
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.info-text {
  text-align: center;
  font-weight: 300;
  margin: 10px 0 30px;
}

h1, .h1 {
  font-size: 3.8em;
  line-height: 1.15em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

.h4 {
  font-size: 1.3em;
  line-height: 1.4em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}
/*#endregion*/

/*#region CHECK'S DIVISIONES*/
.choice:hover .icon,  .choice.active .icon {
    border-color: #ff9800;
    color: #ff9800;
}
.choice {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
.choice .icon {
  text-align: center;
  vertical-align: middle;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  color: #999999;
  margin: 0 auto 20px;
  border: 4px solid #CCCCCC;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.choice i {
  font-size: 40px;
  line-height: 111px;
}
.choice:hover .icon, .choice.active .icon {
  border-color: #2ca8ff;
}
.choice input[type="radio"],
.choice input[type="checkbox"] {
  position: absolute;
  left: -10000px;
  z-index: -1;
}
.no-hover:hover{
  color:gray;
  border-color: #999999;
}
/*#endregion*/

/*#region FORM-GROUP*/
.form-group {
  width: 100%;
  margin-bottom: 25px; 
}
.form-group .form-control {
  width: 100%;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding-left: 0;
} 
.form-group label.error {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  font-weight: normal;
  color: #F44336;
}
.form-group .form-line {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.form-group .form-line:after {
  content: '' !important;
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  height: 0 !important;
  bottom: -1px !important;
  -moz-transform: scaleX(0) !important;
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0) !important;
  transform: scaleX(0) !important;
  -moz-transition: 0.25s ease-in !important;
  -o-transition: 0.25s ease-in;
  -webkit-transition: 0.25s ease-in !important;
  transition: 0.25s ease-in !important;
  border-bottom: 2px solid #1f91f3 !important;
}
.form-group .form-line .form-label {
  font-weight: normal;
  color: #aaa;
  position: absolute;
  top: 10px;
  left: 0;
  cursor: text;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.form-group .form-line.error:after {
  border-bottom: 2px solid #F44336;
}
.form-group .form-line.success:after {
  border-bottom: 2px solid #4CAF50;
}
.form-group .form-line.warning:after {
    border-bottom: 2px solid #FFC107;
}
.form-group .form-line.focused:after {
  -moz-transform: scaleX(1) ;
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}
.form-group .form-line.focused .form-label {
  top: -10px;
  left: 0;
  font-size: 12px;
}
.form-group-sm .form-label {
  font-size: 12px;
}
.form-group-sm .form-line.focused .form-label {
  bottom: 20px;
  font-size: 10px;
}
.form-group-lg .form-label {
  font-size: 18px;
}
.form-group-lg .form-line.focused .form-label {
  bottom: 35px;
  font-size: 12px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
}
input{
   outline: none !important;
}
/*#endregion*/

/*#region CARD INFORMES*/
.card {
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; 
}
.card .header {
  color: #555;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}
.card .header .header-dropdown {
  position: absolute;
  top: 20px;
  right: 15px;
  list-style: none; 
}
.card .header .header-dropdown .dropdown-menu li {
  display: block !important; 
}
.card .header .header-dropdown li {
  display: inline-block; 
}
.card .header .header-dropdown i {
  font-size: 20px;
        color: #999;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
.card .header .header-dropdown i:hover {
          color: #000; }
.card .header h2 {
      margin: 0;
      font-size: 18px;
      font-weight: normal;
      background-color: white;
      color: #111; }
.card .header h2 small {
        display: block;
        font-size: 12px;
        margin-top: 5px;
        color: #999;
        line-height: 15px; }
.card .header h2 small a {
          font-weight: bold;
          color: #777; }
.card .header .col-xs-12 h2 {
      margin-top: 5px; }
.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px; }
.card .body .col-xs-1,
.card .body .col-sm-1,
.card .body .col-md-1,
.card .body .col-lg-1 {
      margin-bottom: 20px; }
.card .body .col-xs-2,
.card .body .col-sm-2,
.card .body .col-md-2,
.card .body .col-lg-2 {
      margin-bottom: 20px; }
.card .body .col-xs-3,
.card .body .col-sm-3,
.card .body .col-md-3,
.card .body .col-lg-3 {
      margin-bottom: 20px; }
.card .body .col-xs-4,
.card .body .col-sm-4,
.card .body .col-md-4,
.card .body .col-lg-4 {
      margin-bottom: 20px; }
.card .body .col-xs-5,
.card .body .col-sm-5,
.card .body .col-md-5,
.card .body .col-lg-5 {
      margin-bottom: 20px; }
.card .body .col-xs-6,
.card .body .col-sm-6,
.card .body .col-md-6,
.card .body .col-lg-6 {
      margin-bottom: 20px; }
.card .body .col-xs-7,
.card .body .col-sm-7,
.card .body .col-md-7,
.card .body .col-lg-7 {
      margin-bottom: 20px; }
.card .body .col-xs-8,
.card .body .col-sm-8,
.card .body .col-md-8,
.card .body .col-lg-8 {
      margin-bottom: 20px; }
.card .body .col-xs-9,
.card .body .col-sm-9,
.card .body .col-md-9,
.card .body .col-lg-9 {
      margin-bottom: 20px; }
.card .body .col-xs-10,
.card .body .col-sm-10,
.card .body .col-md-10,
.card .body .col-lg-10 {
      margin-bottom: 20px; }
.card .body .col-xs-11,
.card .body .col-sm-11,
.card .body .col-md-11,
.card .body .col-lg-11 {
      margin-bottom: 20px; }
.card .body .col-xs-12,
.card .body .col-sm-12,
.card .body .col-md-12,
.card .body .col-lg-12 {
      margin-bottom: 20px; }
/*#endregion*/

/*#region TABLE INFORMES */
.table tbody tr td, .table tbody tr th {
  padding: 10px;
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important; 
  border-left:1px solid #eee !important;;
  border-right: 1px solid #eee !important;;
}
.table tbody tr.primary td, .table tbody tr.primary th {
  background-color: #1f91f3;
  color: #fff; }

.table tbody tr.success td, .table tbody tr.success th {
  background-color: #2b982b;
  color: #fff; }

.table tbody tr.info td, .table tbody tr.info th {
  background-color: #00b0e4;
  color: #fff; }

.table tbody tr.warning td, .table tbody tr.warning th {
  background-color: #ff9600;
  color: #fff; }

.table tbody tr.danger td, .table tbody tr.danger th {
  background-color: #fb483a;
  color: #fff; }

.table thead tr th {
  padding: 10px;
  border-bottom: 1px solid #eee !important;
}
.table-bordered {
  border-top: 1px solid #eee !important; 
}
.table-bordered tbody tr td, .table-bordered tbody tr th {
  padding: 10px;
  border: 1px solid #eee !important;
}
.table-bordered thead tr th {
  padding: 10px;
  border: 1px solid #eee !important;
}
table tbody td a{
  text-decoration: none;
  color: black;
}
table tbody td a:hover{
  text-decoration: none;
  color: black;
}
.tableFixHead { 
  overflow-y: auto; 
  height: 190px;
}
/*#endregion TABLE INFORMES */

 /*#region Estilos track de scroll */
/* Tamaño del scroll */
.tableFixHead::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.tableFixHead::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.tableFixHead::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.tableFixHead::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.tableFixHead::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.tableFixHead::-webkit-scrollbar-track:hover, 
.tableFixHead::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
/*#endregion*/



