    #tblAvanceDetalle
    {
        margin-top: 42px;
    }
    #tblAvanceDetalle > tbody > tr > td,
    #tblConcentrado > tbody > tr > td,
    #tblVolumenAvance > tbody > tr > td,
    #tblVolumenPorcentaje > tbody > tr > td,
    #tblVolumenFacturado > tbody > tr > td,
    #tblVolumenXFacturar > tbody > tr > td,
    #tblImporteAvance > tbody > tr > td,
    #tblImportePorcentaje > tbody > tr > td,
    #tblImporteFacturado > tbody > tr > td,
    #tblImporteXFacturar > tbody > tr > td,
    #tblPresupuestoDiario > tbody > tr > td,
    #tblPresupuestoSemanal > tbody > tr > td,
    #tblFacturado > tbody > tr > td
    {
        padding: 0;
    }

    #tblAvanceDetalle > thead th,
    #tblVolumenAvance > thead th,
    #tblVolumenPorcentaje > thead th,
    #tblVolumenFacturado > thead th,
    #tblVolumenXFacturar > thead th,
    #tblImporteAvance > thead th,
    #tblImportePorcentaje > thead th,
    #tblImporteFacturado > thead th,
    #tblImporteXFacturar > thead th,
    #tblPresupuestoDiario > thead th,
    #tblPresupuestoSemanal > thead th,
    #tblFacturado > thead th
    {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: black;
        color: white;
        font-size: small;
    } 
  
    #tblConcentrado > thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: black;
        color: white;
        font-size: small;
    }

    .iffyTip {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis; 
    }
    .wd100 {
        width: 500px;
    }
    .toolConcentrado {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis; 
    }
    .dw50 {
        width: 630px;
    }
     .dwMax {
        width: 1200px;
    }
    .wdFacturado {
    width: 1000px;
    }
    .pintarGrupo{
        border: 2px solid green !important;
        background-color: rgb(253, 253, 214) !important;
        color: black !important;
    }
    .tituloTabla{
         border: 1px solid black !important;
         color: black !important;
         font-weight: bold;
         text-align: center;
    }
    .hiddenField{
        display: none;
    }

    .panel-heading  {
		background-color: white !important;
    }  
    .panel-title{
        color: black !important;
    }
	.panel-heading div {
		margin-top: -18px;
		font-size: 15px;
	}
	.panel-heading div span{
		margin-left:5px;
    }
    
    .lblEncabezado{
        display: block;
        font-size: 1.6em;
        text-align: center;
    }   
    #txtFechaSaldo{
        border: none;
        width: 400px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default{
        background-color: #d7dcdde1;
    }
    .ui-state-active, .ui-widget-content .ui-state-active{
        border: 2px solid #da6a1a;
        color: #da6a1a;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight{
        border: 3px solid #dad55e;
        color: #949130;
    }
    .ui-datepicker-calendar tbody tr:hover {
        background-color: #da6a1a;
    }

   @media (min-width: 992px) {
    .container-scroll {
        overflow-x: auto;
    }
    .container-scroll > .row {
        width: 133.33333333%; /* = 100% * 4/3 */
    }
}

