    td.details-control {
        cursor: pointer;
        text-align: center;
    }

    .iconSettings, td.details-control:before, tr.shown td.details-control:before {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 12px;
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    td.details-control:before {
        content: "\2b";
    }
    tr.details td.details-control:before {
        content:"\2212";
    }

    .tablaNivel2{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0;
        margin-left: 40px;
    }

    #tblSubcapitulosN2 > tbody > tr  > td{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;    
        border:  0px;   
    }

    #tblSubcapitulosN2 > tbody > tr.odd > td{
        background-color: #f8cbad;
    }
     #tblSubcapitulosN2 > tbody > tr.even > td{
        background-color: #f8cbad;
    }
 

    #tblNivel2 > tbody > tr  > td{
        padding-top: 0px;
        padding-bottom: 0px;
    }