<!-- Razor -->
@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/css/GestorCorporativo/Webix.css" rel="stylesheet" />
<link href="~/Content/style/css/GestorCorporativo/GestorCorporativo.css" rel="stylesheet" />

<!-- HTML -->
<div class="row text-center titulo">
    <h2>Gestor Corporativo <i class="fas fa-user-tie"></i></h2>
</div>

<div hidden id="noAcceso" class="row text-center">
    <h2 class="label label-danger">Sin acceso</h2>
    <p>Este usuario no cuenta con los permisos suficientes para utilizar el gestor corporativo.</p>
</div>

<div id="webix-area">
</div>

<div class="modal fade" id="modalAviso">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3 id="modalAvisoTitutlo"></h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <p id="modalAvisoCuerpo"><strong></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="botonModalAviso" class="btn btn-default"
                    data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCargaArchivo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3 id="tituloModalCargaArchivo">Subir archivo <i class="fas fa-file-upload"></i></h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-12 col-lg-12 text-center" id="divCargarArchivo">
                        <p><strong>Cargar archivo:</strong></p>
                        <input class="form-control" id="inputArchivo" type="file" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar</button>
                <button type="button" id="botonSubirArchivo" class="btn btn-primary disabled" data-dismiss="modal">
                    <i class="fas fa-plus"></i> Subir archivo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrearCarpeta">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Crear carpeta <i class="fas fa-folder-plus"></i></h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-6 col-lg-6 text-center">
                        <p><strong>Nombre de la carpeta:</strong></p>
                        <input id="inputNombreCarpeta" minlength="2" type="text" class="form-control"
                            placeholder="Ingresa el nombre aquí..." />
                    </div>
                    <div class="col-md-6 col-lg-6 text-center">
                        <p><strong>Vista previa:</strong></p>
                        <div class="flex-container">
                            <p id="textoPrevioCarpeta"><i class="fas fa-folder"></i></p>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar</button>
                <button type="button" id="botonCrearCarpeta" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Crear carpeta</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/Scripts/js/GestorCorporativo/WebixCore.js"></script>
<script src="~/Scripts/js/GestorCorporativo/GestorCorporativo.js"></script>