@{
ViewBag.Title = "DeterminacionResultado";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    #tablaDeterminacionResultado thead tr {
        color: white;
        background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    }

    #tablaDeterminacionResultado_wrapper .dataTables_scrollHead thead tr {
        color: white;
        background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    }
</style>

<div class="row text-center margin-top">
    <h2>Determinacion Resultado</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">

    </div>

    <div class="row mrgTop">
        <div class="col-xs-12 mrgTop">
            <table id="tablaDeterminacionResultado" class="table table-hover compact table-fixed table-bordered" width="100%">
                <thead>
                    <tr>
                        <th class="text-center" rowspan="3"></th>
                        <th class="text-center" colspan="5">INGRESOS</th>
                        <th class="text-center" colspan="6">COSTOS</th>
                        <th class="text-center" colspan="5">RESULTADOS DE EJERCICIOS ANTERIORES</th>
                        <th class="text-center" colspan="6"></th>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="3">CONTROL DE OBRA</th>
                        <th class="text-center" colspan="2">INGRESOS 2021</th>
                        <th class="text-center" colspan="4">CONTROL DE OBRA</th>
                        <th class="text-center" colspan="2">COSTOS 2021</th>
                        <th class="text-center" colspan="5"></th>
                        <th class="text-center" colspan="2">VARIACIÓN 2021</th>
                        <th class="text-center" colspan="4"></th>
                    </tr>
                    <tr>
                        <th class="text-center">Facturado</th>
                        <th class="text-center">Por Facturar</th>
                        <th class="text-center">Total Avance</th>
                        <th class="text-center">Contable</th>
                        <th class="text-center">Estimado 100%</th>
                        <th class="text-center">Facturado</th>
                        <th class="text-center">Gastos Cplan</th>
                        <th class="text-center">Horas NF Arrend</th>
                        <th class="text-center">Total Costos</th>
                        <th class="text-center">Contable</th>
                        <th class="text-center">Estimado</th>
                        <th class="text-center">Ingresos Acum</th>
                        <th class="text-center">ESTIM 2020</th>
                        <th class="text-center">Costos Acum</th>
                        <th class="text-center">CE 2020</th>
                        <th class="text-center">ACUM 2020</th>
                        <th class="text-center">INGRESOS</th>
                        <th class="text-center">COSTOS</th>
                        <th class="text-center">RES 2021</th>
                        <th class="text-center">ACUM ANTES GF</th>
                        <th class="text-center">GASTOS FINANCIEROS</th>
                        <th class="text-center">RESULTADO ACUMULADO</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</fieldset>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/DeterminacionResultado.js"></script>