@{
ViewBag.Title = "GuardarBalanza";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/EstadoFinancieroEstilo.css" rel="stylesheet" />

<div class="row text-center mrgTop">
    <h2>Guardar Balanza</h2>
</div>

<fieldset class="fieldset-custm mrgTop">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class="col-sm-2 mrgTop">
            <div class="input-group">
                <span class="input-group-addon">Mes</span>
                <input id="inputMes" class="form-control date-picker">
            </div>
        </div>
        <div class="col-sm-2 mrgTop">
            <button id="botonBuscar" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Buscar</button>
        </div>
        <div class="col-sm-2 mrgTop">
            <button id="botonEliminar" class="btn btn-danger" style="display:none;">Eliminar</button>
        </div>
        <div class="col-sm-6 mrgTop">
            <button id="botonGuardar" class="btn btn-success pull-right"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm mrgTop">
    <div class="row">
        <div class="col-sm-12 mrgTop">
            <table id="tablaBalanza" class="table table-hover table-fixed compact" width="100%">
                <tfoot>
                    <tr>
                        @* <th colspan="4" class="text-right">TOTAL:</th> *@
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>TOTAL</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</fieldset>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/GuardarBalanza.js"></script>