/* DISEÑO TABLA */
table.dataTable {
    width: 100% !important;
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    border: 1px solid #fff !important;
}

table.dataTable thead {
    font-size: 15px;
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: #fff; */
}

#tblRH_REC_Fases th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-size: 13px;
    font-weight: bolder;
}

#tblRH_REC_Fases {
    border: 1px solid #f5f5f5 !important;
}

#tblRH_REC_Fases td {
    font-size: 13px;
}

#tblRH_REC_Actividades th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-size: 13px;
    font-weight: bolder;
}

#tblRH_REC_Actividades {
    border: 1px solid #f5f5f5 !important;
}

#tblRH_REC_Actividades td {
    font-size: 13px;
}

#tblRH_REC_PuestosRelFases th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-size: 13px;
    font-weight: bolder;
}

#tblRH_REC_PuestosRelFases {
    border: 1px solid #f5f5f5 !important;
}

#tblRH_REC_PuestosRelFases td {
    font-size: 13px;
}

/* END: DISEÑO TABLA */

.modal-header {
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white; */
}

#btnFiltroLimpiar {
    margin-right: 15px;
}

/* @media (min-width: 992px) */
.modal-lg {
    width: 1250px !important;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#btnFiltroNuevaFase {
    margin-right: 15px;
}

#divBtnsActividades {
    margin-bottom: 8px;
}

.inputTextArea {
    width: 100% !important;
}

/* CC PARA MOSTRAR EL LISTADO DE UN SELECT2 EN UN SWEETALERT2 */
.select2-container--open {
    z-index: 99999999999999;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px 4px 4px 0px !important;
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}