/* DISEÑO TABLA */
table.dataTable {
    /* width: 100% !important; */
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    /* border: 1px solid #fff !important; */
}

table.dataTable thead {
    /* font-size: 15px; */
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: #fff; */
}

#tblRH_REC_GestionCandidatos th {
    /* padding: 4px;
    text-align:center;
    border-left: 1px solid gray !important;   
    font-size:13px;
    font-weight:bolder;  */
}

#tblRH_REC_GestionCandidatos {
    /* border: 1px solid #f5f5f5 !important; */
}

#tblRH_REC_GestionCandidatos td {
    /* font-size:13px; */
}

#tblRH_REC_Archivos th {
    /* padding: 4px;
    text-align:center;
    border-left: 1px solid gray !important;   
    font-size:13px;
    font-weight:bolder;  */
}

#tblRH_REC_Archivos {
    /* border: 1px solid #f5f5f5 !important; */
}

#tblRH_REC_Archivos td {
    /* font-size:13px; */
}

/* END: DISEÑO TABLA */

.modal-header {
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white; */
}

#btnFiltroLimpiar {
    margin-right: 15px;
}

.marginBottom {
    margin-bottom: 1%;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.inputTextArea {
    width: 100% !important;
}

/* MODAL CON SCROLL */
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

#btnFiltroNuevoCandidato {
    margin-right: 10px;
}