/* DISEÑO TABLA */
table.dataTable {
    width: 100% !important;
}
table.dataTable tbody tr td, table thead tr th, table.dataTable, .dataTables_scrollBody {
    border: 1px solid #fff !important;
}
table.dataTable thead {
    font-size: 15px;
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important; */
    /* background: #303f9f;
    color: #fff; */
}

/* DISEÑO TABLA */
#tblReporteSegCandidatos, th {
    padding: 4px;
    text-align:center;
    border-left: 1px solid gray !important;   
    font-size:13px;
    font-weight:bolder; 
}

#tblReporteSegCandidatos {
    border: 1px solid #f5f5f5 !important;
}

#tblReporteSegCandidatos, td {
    font-size:13px;
}

/* DISEÑO MODAL */
.modal-header {
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white; */
}

/* DISEÑO SELECT2 */
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

#btnFiltroBuscar{
    margin-right: 15px;
}