/* TABLAS PRINCIPALES */
table.dataTable thead {
    /* background: linear-gradient(40deg, #45cafc, #303f9f);
    color: #fff; */
}
table.dataTable tbody tr td {
    font-size: 12px;
}

/* SELECT2 */
.select2-container {
    /* width: 100% !important; */
}
.select2-container--default .select2-selection--single {
    border-radius: 0px 4px 4px 0px!important;
    height: 34px !important;
    border: 1px solid #ccc !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}

/* MODALES */
.modal .modal-header {
    padding: 5px 0px 5px 0px;
    text-align: center;
    border-bottom: none;
    /* color: #fff;
    background: linear-gradient(40deg, #45cafc, #303f9f); */
}
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#modalRequisicion .modal-dialog {
    width: 70%;;
}

/* INPUTS OBLIGATORIOS */
.puntoRojo {
    color: red;
}