/* DISEÑO TABLA */
table.dataTable {
    width: 100% !important;
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    border: 1px solid #fff !important;
}

table.dataTable thead {
    font-size: 15px;
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: #fff; */
}

#tblRH_REC_SegCandidatos th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-size: 13px;
    font-weight: bolder;
}

#tblRH_REC_SegCandidatos {
    border: 1px solid #f5f5f5 !important;
}

#tblRH_REC_SegCandidatos td {
    font-size: 13px;
}

#tblRH_REC_Actividades th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-size: 13px;
    font-weight: bolder;
}

#tblRH_REC_Actividades {
    border: 1px solid #f5f5f5 !important;
}

#tblRH_REC_Actividades td {
    font-size: 13px;
}

#tblRH_REC_Evidencias th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-size: 13px;
    font-weight: bolder;
}

#tblRH_REC_Evidencias {
    border: 1px solid #f5f5f5 !important;
}

#tblRH_REC_Evidencias td {
    font-size: 13px;
}

/* END: DISEÑO TABLA */

.modal-header,
#modalExamenMedico .panel-heading {
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white; */
}

#modalExamenMedico .panel-title {
    text-align: center;
}

.marginTop {
    margin-top: 5px;
}

.marginBottom {
    margin-bottom: 5px;
}

.modal-lg {
    width: 1250px !important;
}

/* BOTONES PARA VALIDAR ACTIVIDADES */
.notActive {
    background-color: #fff;
}

.borderColorValidar {
    border-color: green;
}

.borderColorRechazar {
    border-color: red;
}

.paddingValidar {
    /* padding-left: 20%;
    padding-right: 20%; */
}

/* END: BOTONES PARA VALIDAR ACTIVIDADES */

.inputTextArea {
    width: 100% !important;
}

.marginBottom {
    margin-bottom: 1%;
}

.radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive.btn-success {
    color: #398439;
}

.radioBtn .notActive.btn-danger {
    color: #d43f3a;
}

.radioBtn .notActive.btn-success:active {
    color: #fff;
}

.radioBtn .notActive.btn-danger:active {
    color: #fff;
}

#modalExamenMedico .select2-selection {
    height: 34px !important;
}

#modalExamenMedico .select2-selection__rendered {
    line-height: 34px !important;
}

#modalExamenMedico .select2-container {
    width: 100% !important;
}