<link href="~/Content/style/css/Principal/_mdlAceptaRechaza.css" rel="stylesheet" />
<div id='mdlAceptarRechazar' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center primary'>
                <h1 id="mdltxtTitulo" class='modal-title'><i class='fa fa-dollar'></i></h1>
            </div>
            <div class='modal-body'>
                <label id="mdltxtMensaje"></label>
            </div>
            <div class='modal-footer'>
                <button id="mdlbtnCancelar" type='button' class='btn btn-cancel' data-dismiss='modal'><i class='fa fa-arrow-left'></i> Cancelar</button>
                <button id='mdlbtnAceptar' type='button' class='btn btn-success'><i class='fa fa-check'></i> Aceptar</button>
            </div>
        </div>
    </div>
</div>