<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    
    @RenderSection("css", required: false)

    <meta name="description" content="Asp.net mvc document viewer free sample code in C# and vb.net. View office documents and pdf files online in asp.net" />
</head>
<body>
    @RenderBody()

    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>

    <!-- if you want to use older version of jQuery, see comments in HomeController.cs, Index action -->
    <!-- <script src="https://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>-->


    @RenderSection("scripts", required: false)

</body>
</html>
