@{
    Layout = "~/Views/Shared/ProveedorCuadroComparativoLayout.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/css/Enkontrol/ProveedorCuadroComparativo/ProveedorCuadroComparativo.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<!-- END: CSS -->

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 id="lblNombreProveedor">DASHBOARD</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">COTIZACIÓN <span id="lblCCNumRequisicion"></span></h4>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">Subtotal</span>
                                        <input id="txtSubtotal" class="form-control" disabled="disabled" />
                                        <span class="input-group-addon tipoCambio"><span class="tipoMoneda"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Descuento</span>
                                        <input id="txtDescuento" class="form-control input-number" placeholder="Ejemplo: 50" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Subtotal <label id="lblConDescuento">(Con descuento)</label></span>
                                        <input id="txtSubtotal_conDescuento" class="form-control" disabled="disabled" />
                                        <span class="input-group-addon tipoCambio"><span class="tipoMoneda"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">IVA</span>
                                        <input id="txtIVA" class="form-control input-number" placeholder="Ejemplo: 16" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Total</span>
                                        <input id="txtTotal" class="form-control" disabled="disabled" />
                                        <span class="input-group-addon tipoCambio"><span class="tipoMoneda"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">Fletes</span>
                                        <input id="txtFletes" class="form-control input-number" placeholder="Ejemplo: 100" />
                                        <span class="input-group-addon tipoCambio"><span class="tipoMoneda"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Gtos. Importación</span>
                                        <input id="txtGtosImportacion" class="form-control input-number" placeholder="Ejemplo: 20" />
                                        <span class="input-group-addon tipoCambio"><span class="tipoMoneda"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Gran total</span>
                                        <input id="txtGranTotal" class="form-control" disabled="disabled" />
                                        <span class="input-group-addon tipoCambio"><span class="tipoMoneda"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Tipo cambio</span>
                                        <input id="txtTipoCambio" class="form-control input-number" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Fecha entrega</span>
                                        <input id="txtFechaEntrega" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group marginTop">
                                        <span class="input-group-addon">Cargar archivo</span>
                                        <input id="txtArchivo" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 marginTop">
                            <h4>Comentario</h4>
                            <textarea id="txtComentario" cols="30" rows="5" class="form-control marginTop"></textarea>
                        </div>
                    </div>

                    <fieldset class='fieldset-custm'>
                        <legend class='legend-custm'>PARTIDAS</legend>
                        <div class='col-xs-12'>
                            <table id='tblPartidas' class='table table-hover table-bordered compact' width='100%'></table>
                        </div>
                    </fieldset>

                    <div class="pull-right">
                        <button class="button btn-success form-control" id="btnGuardar">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- SCRIPT -->
<script src="~/Scripts/js/Enkontrol/Compras/ProveedorCuadroComparativo/ProveedorCuadroComparativo.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<!-- END: SCRIPT -->