@{
    ViewBag.Title = "Relación pólizas activo - Colombia";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    var baseC = new SIGOPLAN.Controllers.BaseController();
}

<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/ActivoFijo/Colombia/RelacionPolizaColombia.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">@baseC.getEmpresaNombre()</h1>
            <h2 class="text-center">Relación de póliza-activo - Colombia</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <div class="input-group-addon">Tipo activo</div>
                                <select id="cboxTipoActivo" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="tblActivos" class="hover striple order-column compact nowrap" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalRelaciones" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">modalRelacionesPóliza</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tblPolizas" class="hover striple order-columna compact nowrap" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarRelacion" class="btn btn-success"><i class="far fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/datatables/fixedColumns.dataTables.js"></script>
<script src="~/Scripts/js/Maquinaria/Reporte/ActivoFijo/Colombia/RelacionPolizaColombia.js"></script>