@{
    Layout = null;
}
<link href="~/Content/style/css/Contabilidad/Sistema Contable/iTipoMovimiento/_RelacioniTm.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<h2 class="text-center">Conciliacion Tipos Movimentos</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class='fa fa-search'></i> Búsqueda</legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Principal</span>
            <select id='cboEmpresaPal' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Secundario</span>
            <select id='cboEmpresaSec' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <button id='btnBuscar' type='button' class='btn btn-default'><i class='fa fa-search'></i> Búscar</button>
        <button id='btnGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Tipos Movimientos</legend>
    <div class='table-responsive'>
        <table id='tblItm' class='table table-fixed table-striped'>
            <thead class='bg-table-header'></thead>
        </table>
    </div>
</fieldset>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/SistemaContable/iTipoMovimiento/_RelacioniTm.js"></script>