.uploadForm {
    margin-bottom: 10px;
}

table td {
    border-left: 1px solid #b0cee3;
    border-right: 1px solid #b0cee3;
}

.titulo {
    margin-top: 20px;
}

.tablaVersiones {
    margin: auto;
    width: 90%;
}

.webix_modal_box .webix_popup_title {
    color: #666;
    background: #fff;
    font-size: 30px;
    text-shadow: none;
}

.webix_column>div.webix_cell_select,
.webix_column>div.webix_column_select,
.webix_column>div.webix_row_select {
    background: #EB8825;
}

.webix_tree_item.webix_selected span {
    background: #EB8825;
}

#botonModalAviso {
    background-color: #EB8825;
}

#botonModalAviso:hover {
    color: white;
}

#modalAvisoCuerpo {
    font-size: 2rem;
}

#webix-area {
    width: auto;
    height: 780px;
    offset-position: auto !important;
    offset-path: none !important;
    offset-distance: 0 !important;
    offset-anchor: auto !important;
    offset-rotate: auto !important;
}