.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #EB8825 !important;
    border-color: #2e6da4;
}

.infoCheckbox {
    margin-top: 4rem;
    font-style: italic;
}

.info {
    margin-left: 30px;
    max-height: 400px;
    height: 400px;
}

#divarbol2 {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.cuadroInfo {
    max-height: 400px;
    /* overflow-y: auto; */
    height: 400px;
    margin: auto;
}

/*CUSTOM CHECKBOX*/

/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #EB8825;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* .my-folder-icon-class {
    background-position: 0 0;
    background-image: url("../../../../Content/img/ico/folderBase.png");
    image-rendering: auto;
} */

.fancytree-plain span.fancytree-selected span.fancytree-title {
    background-color: transparent;
    color: black;
}

.fancytree-plain span.fancytree-active span.fancytree-title {
    background-color: #EB8825;
    color: white;
}