@{
    ViewBag.Title = "BonoAdministrativo";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Plantilla Bono Cuadrado</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class='form-group'>
                <label>CC</label>
                <select id="cboCC" class="form-control selBuscar"></select>
            </div>
        </div>

        <div class='col-md-3 col-lg-3'>
            <div class='form-group'>
                <label>Inicio</label>
                <input type='text' id='mpInicio' class='form-control'>
            </div>
        </div>

        <div class='col-md-3 col-lg-3'>
            <div class='form-group'>
                <label>Fin</label>
                <input type='text' id='mpFin' class='form-control'>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group no-padding text-center">
                <label>Captura</label>
                <input type="text" id="txtFecha" class="form-control text-center" disabled>
            </div>
        </div>

        <div class='col-md-2 col-lg-1'>
            <button id='btnGuardar' type='button' class='btn btn-primary mt25'><i class='fa fa-save'></i> Guardar</button>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row">
        <div class="col-sm-12">
            <div class='table-responsive'>
                <table id='tblPuestos' class='table table-fixed' width="100%">
                    <thead class='bg-table-header'>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Bono/BonoCuadradoJS.js"></script>