@{
    ViewBag.Title = "BonoUnico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/RecursosHumanos/Bono/GestionIncidencias.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-12 no-gutter">
        <div class="seccion">
            <h2 class="text-center">Autorizaciones Incidencias</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 no-gutter">
        <div class="seccion">
            <h4 style="margin-top:0;font-weight:bold;width:500px;display:inline-block;"><i class='fas fa-calendar'></i>&nbsp;&nbsp;&nbsp;Incidencias por autorizar</h4>
            <button id='btnModalAutorizar' type='button' class='btn btn-success pull-right botonTitulo'><i class='fa fa-user'></i> Autorizar</button>
            <hr />
            <table id='tblData' class='display'></table>
        </div>
    </div>
</div>

@*<fieldset class="fieldset-custm col-lg-12">
    <legend class="legend-custm"><i class="fas fa-search"></i>  Acciones</legend>

    <div class='col-md-2 pull-right'>
        <button id='btnModalAutorizar' type='button' class='btn btn-primary btn-block'><i class='fa fa-save'></i> Autorizar</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm col-lg-12'>
    <legend class="legend-custm"><i class="fas fa-hand-holding-usd"></i>  Incidencias por autorizar</legend>
    <div class='table-responsive'>
        <table id='tblData' class='table table-fixed' width="100%">
            <thead class='bg-table-header'>
            </thead>
        </table>
    </div>
</fieldset>*@

<div class="modal fade" id="modalDetalle" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Detalle de Incidencias</h4>
            </div>
            <div class="modal-body ajustar-texto">
                <div class="row">
                    <div class="col-md-12">
                        <table id='tblAuth' class='display compact' style="width:100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAuth" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Autorizacion de Incidencias</h4>
            </div>
            <div class="modal-body ajustar-texto">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            ¡Si alguna de las incidencias tiene una evaluación de Bonos de Desempeño Mensual pendiente de autorizar y
                            se autoriza la incidencia el bono de desempeño mensual se aplicara hasta la siguiente
                            incidencia si la evaluación ya fue autorizada!
                        </p>
                        <br />
                        <p>
                            ¿Desea continuar con la autorización de las indicencias?
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class='fa fa-arrow-left'></i> Salir
                </button>
                <a id="btnAuth" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-ok"></span> Autorizar
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Bono/GestionIncidencias.js"></script>