<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabCatReserva">Reservas</a></li>
    <li><a data-toggle="tab" href="#tabCcDividiones">Divisiones</a></li>
    <li><a data-toggle="tab" href="#tabRelDivCta">Cuentas</a></li>
</ul>
<div class="tab-content">
    <div id="tabCatReserva" class="tab-pane fade in active">
        @Html.Partial("_divCatReservas")
    </div>
    <div id="tabCcDividiones" class="tab-pane fade in">
        @Html.Partial("_divCcDivisiones")
    </div>
    <div id="tabRelDivCta" class="tab-pane fade in">
        @Html.Partial("_RelCuentaDivision")
    </div>
</div>
