<link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/Propuesta/ResumeProveedor.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Búscar</legend>
    <div class='col-md-3 col-lg-2'>
        <div class='input-group'>
            <span class='input-group-addon'>Reporte</span>
            <select id='cboTipo' type='text' class='form-control'>
                <option value="1">Propuesta</option>
                <option value="2">Pendiente Autorizar</option>
                <option value="3">Autorizados</option>
                <option value="4">Pendiente Cheque</option>
                @*<option value="5">Cheque generado</option>*@
            </select>
        </div>
    </div>
    <div class='col-md-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button id="btnRptProvLimit" type='button' class='btn btn-default'> Proveedor</button>
            </span>
            <input id='txtRptProvMin' type='text' class='form-control' />
            <span class='input-group-btn' style='width:0px;'></span>
            <input id='txtRptProvMax' type='text' class='form-control' />
        </div>
    </div>
    <div class="col-md-2 cboRptProvCC">
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'> CC</button>
            </span>
            <select class="form-control" style="text-align-last: center;" id="cboRptProvCC" multiple></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha Mov</span>
            <input id='dpRptProvMin' type='text' class='form-control' />
            <span class='input-group-btn' style='width:0px;'></span>
            <input id='dpRptProvMax' type='text' class='form-control' />
        </div>
    </div>
    <div class='col-md-2'>
        <button type="button" class="btn btn-primary" id="btnRptProvBuscar"><i class='fa fa-search'></i> Búscar</button>
        <button type="button" class="btn btn-primary" id="btnRptProvReporte"><i class='fas fa-print'></i> Reporte</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Reporte</legend>
    <div class='table-responsive'>
        <table id='tblRptProv' class='table table-fixed table-responsive table-striped'>
            <thead class='bg-table-header'>
            </thead>
        </table>
    </div>
</fieldset>
@Html.Partial("reportViewerView", false)
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/_divReporteProgramacionPago.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
