<link href="~/Content/style/css/Contabilidad/Propuesta/_divCatReservas.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><label><input type='checkbox' id='chbCatResEstado' checked='checked' class="cgbCatReserva"> Reserva</label></legend>
    <div class="row">
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-addon'>Descripción</span>
                <input type='text' id='txtCatResDescripcion' class='form-control'>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-addon'>Saldo Global</span>
                <select id='selCatResTipo' class='form-control'></select>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group divColor'>
                <span class='input-group-addon'><i class="fas fa-palette"></i></span>
                <input id='txtCatResColor' type='color' class='form-control' pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"/>
                <span class='input-group-btn' style='width:0px;'></span>
                <input id='txtCatResHex' type='text' class='form-control' pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"/>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <button id='btnCatResGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
            <button id='btnCatResLimpiar' type='button' class='btn btn-default'><i class='fa fa-brush'></i> Limpiar</button>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'> <label><input type='checkbox' id='chbCatResSeleccionado' checked='checked' class="cgbCatReserva"> Seleccionado</label></legend>
    <div class="row">
        <div class='col-xs-4 col-md-4 col-lg-4'>
            <div class='input-group'>
                <span class='input-group-addon'>Calculo</span>
                <select id='selCatResSelTipoCalc' class='form-control'></select>
                <span class='input-group-addon' style='padding:0px;'></span>
                <input type='text' id='txtCatResSelProcentaje' class='form-control text-right catResPorcentaje'>
                <span class='input-group-addon' style='width:10px;'>%</span>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-btn'>
                    <button type='button' class='btn btn-default'>CC</button>
                </span>
                <select id='selCatResSelCc' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-xs-2 col-md-2 col-lg-2'>
            <div class='input-group'>
            <span class='input-group-btn'>
                    <button type='button' class='btn btn-default'>TP</button>
                </span>
                <select id='selCatResSelTp' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
            <span class='input-group-btn'>
                    <button type='button' class='btn btn-default'>TM</button>
                </span>
                <select id='selCatResSelTm' class='form-control' multiple></select>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><label><input type='checkbox' id='chbCatResAutomatico' checked='checked' class="cgbCatReserva"> Automático</label></legend>
    <div class="row">
        <div class='col-xs-4 col-md-4 col-lg-4'>
            <div class='input-group'>
                <span class='input-group-addon'>Calculo</span>
                <select id='selCatResAutTipoCalc' class='form-control'></select>
                <span class='input-group-addon' style='padding:0px;'></span>
                <input type='text' id='txtCatResAutProcentaje' class='form-control text-right catResPorcentaje'>
                <span class='input-group-addon' style='width:10px;'>%</span>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-btn'>
                    <button type='button' class='btn btn-default'>CC</button>
                </span>
                <select id='selCatResAutCc' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-xs-2 col-md-2 col-lg-2'>
            <div class='input-group'>
            <span class='input-group-btn'>
                    <button type='button' class='btn btn-default'>TP</button>
                </span>
                <select id='selCatResAutTp' class='form-control' multiple></select>
            </div>
        </div>
        <div class='col-xs-3 col-md-3 col-lg-3'>
            <div class='input-group'>
            <span class='input-group-btn'>
                    <button type='button' class='btn btn-default'>TM</button>
                </span>
                <select id='selCatResAutTm' class='form-control' multiple></select>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Resultado</legend>
    <div class='table-responsive'>
        <table id='tblCatReservas' class='table table-fixed table-responsive table-striped'>
            <thead class='bg-table-header'>
                <th>Descripción</th>
                <th>Seleccionado</th>
                <th>Automático</th>
                <th>Color</th>
                <th>Tipo saldo global</th>
                <th>Estado</th>
            </thead>
        </table>
    </div>
</fieldset>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/_divCatReservas.js"></script>