<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/Propuesta/_tblEstimacionesCaptura.css" rel="stylesheet" />
<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet' />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fas fa-search"></i> Búsqueda</legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input type='text' id='dpEstFecha' class='form-control' readonly>
        </div>      
    </div>
     <div class='col-md-3 col-lg-3'>      
        <button id="btnBuscarEstimaciones" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
        @if(!Core.DTO.vSesiones.sesionUsuarioDTO.esAuditor)
        {
            <button id="btnGuardarEstimacion" type="button" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
        }
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fas fa-prescription"></i> Estimaciones</legend>
    <button id='btnEstElimina' type='button' class='btn btn-danger'><i class='fa fa-minus'></i></button>
    <button id='btnAddRowEstimacion' type='button' class='btn btn-primary'><i class='fa fa-plus'></i></button>
    <div class='table-responsive col-md-12 col-lg-12'>
        <table id='tblEstimacion' class='table table-fixed'>
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>C.C.</th>
                    <th>Cliente</th>
                    <th>Factura</th>
                    <th>Fecha</th>
                    <th>Vencimiento</th>
                    <th>Observaciones</th>
                    <th>Estimacion</th>
                    <th>Anticipo</th>
                    <th>Vencido</th>
                    <th>Pronostico</th>
                    <th>Cobrado</th>
                    <th>Moneda</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/_tblEstimacionesCaptura.js"></script>
