<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fas fa-search"></i> Búsqueda</legend>
    <div class='col-md-4 col-lg-4'>
        <div class='input-group'>
            <span class='input-group-addon'>Tipo</span>
            <select id='selResTotalTipo' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-1'>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#mdlReserva' data-dismiss="modal"><i class="fas fa-prescription"></i> Captura</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fa fa-list"></i> Reservas</legend>
    <div class='table-responsive col-md-12 col-lg-12'>
        <table id='tblReservaTotal' class='table table-fixed'>
            <thead>
                <th>Centro Costos</th>
                <th>Total</th>
            </thead>
        </table>
    </div>
</fieldset>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/_tblReservasTotales.js"></script>