
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/Propuesta/Proveedores.css" rel="stylesheet" />
<h1 class="text-center">Analítico de Vencimiento a 6 Columnas</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm"><i class="fas fa-calendar-week"></i> Busqueda</legend>
    <div class='col-xs-3 col-md-3 col-lg-2'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input class="form-control text-center" type="text" id="inputFechaBusqueda">
        </div>
    </div>
    <div class='col-md-2'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button id="btnProvLimit" type='button' class='btn btn-default'> Proveedor</button>
            </span>
            <input id='txtProvMin' type='text' class='form-control' />
            <span class='input-group-btn' style='width:0px;'></span>
            <input id='txtProvMax' type='text' class='form-control' />
        </div>
    </div>
    <div class="col-md-2">
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'> CC</button>
            </span>
            <select id="selProvCC" class="form-control" style="text-align-last: center;" multiple="multiple"></select>
        </div>
    </div>
    <div class='col-xs-2 col-md-2 col-lg-2'>
        <div class='input-group'>
        <span class='input-group-btn'>
                <button type='button' class='btn btn-default'>TM</button>
            </span>
            <select id='selProvTm' class='form-control' multiple></select>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2">
        <button class="btn btn-primary" type="button" id="botonBuscar">
            <i class="fas fa-search"></i> Buscar
        </button>
        <button class="btn btn-default" type="button" id="botonProveedores">
            <i class="fas fa-truck-pickup"></i> Giro
        </button>
    </div>
    <div class='col-xs-2 col-md-2 col-lg-2'>
        <div class='input-group'>
        <span class='input-group-btn'>
            <button class="btn btn-primary" type="button" id="botonGuardar">
                <i class="fas fa-save"></i> Guardar
            </button>
        </span>
        <input class="form-control text-center" type="text" id="dpFechaPropuesta">
        </div>
    </div>
</fieldset>
<table id='tablaProveedores' class='table table-fixed'>
    <thead class="bg-table-header"></thead>
</table>
<div class="modal fade" id="modalProveedores">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Catálogo de Giro</h3>
                </div>
            </div>
            <div class="modal-body">
                @Html.Partial("../Reportes/_propPagoProvGrupo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fas fa-check-square"></i> Listo
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/Proveedores.js"></script>