
@{
    ViewBag.Title = "ConsultaConcentrado";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/Propuesta/Concentrado.css" rel="stylesheet" />
<h2 class="text-center">Consulta de Concentrado</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fas fa-search"></i> Consulta</legend>
    <div class='col-xs-4 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input id='dpMin' type='text' class='form-control'/>
            <span class='input-group-btn' style='width:0px;'></span>
            <input id='dpMax' type='text' class='form-control'/>
        </div>
    </div>
</fieldset>
    <fieldset class='fieldset-custm col-xs-12 col-md-12 col-lg-12'>
        <legend class='legend-custm'><i class="fas fa-table"></i> Concentrado</legend>
        <div class='table-responsive'>
            <table id='tblConcentrado' class='table table-fixed'>
                <thead>
                    <th width="5%">Fecha</th>
                    <th width="20%">Beneficiario</th>
                    <th>Concepto</th>
                    <th>Obra</th>
                    <th width="8%">No. Cheque</th>
                    <th width="7%">Cargo</th>
                    <th width="7%">Abono</th>
                </thead>
            </table>
        </div>
    </fieldset>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/ConsultaConcentrado.js"></script>