@{
ViewBag.Title = "Facturaciones";
Layout = "~/Views/Shared/LayoutPage.cshtml";
var empresa = new SIGOPLAN.Controllers.BaseController().getEmpresaNombre();
var hoy = DateTime.Now.ToLongDateString().ToUpper();
}
<link href="~/Content/style/css/Contabilidad/Propuesta/Facturaciones.css" rel="stylesheet" />

<label class="encabezado">@empresa</label>
<label class="encabezado">PERIFÉRICO PONIENTE 770 COL. PALO VERDE C.P. 83280</label>
<label class="encabezado">HERMOSILLO, SON</label>
<label class="encabezado">ESTIMACIONES AL <input type="text" id="inputFecha" value="@hoy"></label>
<label id="lblAuth"></label>
<button class="btn btn-primary btn-lg pull-right" type="button" id="botonExportar">
    <i class="fas fa-file-excel"></i> Exportar
</button>
<button class="btn btn-primary btn-lg pull-right" type="button" id="botonAuth">
    <i class="fas fa-user"></i> Autorizar
</button>
<table id='tablaFacturaciones' class='table' width="99%">
    <thead>
        <th class="text-center"></th>
        <th class="text-center">CUENTAS POR COBRAR</th>
        <th class="text-center">ESTIMACIONES</th>
        <th class="text-center">ANTICIPO</th>
        <th class="text-center">VENCIDO</th>
        <th class="text-center"></th>
        <th class="text-center">PRONÓSTICOS COBRANZA</th>
        <th class="text-center">COBRADO SEM ANTERIOR</th>
    </thead>
</table>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/Facturaciones.js"></script>