
@{
    ViewBag.Title = "EstimacionesCaptura";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2 style="text-align: center;">Captura de Estimaciones</h2>
@Html.Partial("_tblEstimacionesCaptura")


