
@{
    ViewBag.Title = "EstimacionProveedor";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/Propuesta/EstimacionProveedor.css" rel="stylesheet" />
<h2 class="text-center">Estimaciones para Proveedores</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Captura</legend>
    <div class='col-md-3 col-lg-2'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input type='text' id='dpEstFecha' class='form-control'>
        </div>
    </div>
    <div class='col-md-3 col-lg-4'>
        <div class='input-group'>
            <span class='input-group-addon'>Proveedor</span>
            <select id='selEstProv' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>cc</span>
            <select id='selEstCC' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Tipo</span>
            <select id='selEstTipo' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <div class='input-group'>
            <span class='input-group-addon'>Giro</span>
            <select id='selEstGiro' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <div class='input-group'>
            <span class='input-group-addon'>TM</span>
            <select id='selEstTm' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Total</span>
            <input type='text' id='txtEstTotal' class='form-control text-right'>
        </div>
    </div>
    <div class='col-md-6 col-lg-5'>
        <div class='input-group'>
            <span class='input-group-addon'>Comentarios</span>
            <input type='text' id='txtEstComentario' class='form-control'>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <button id='btnEstGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
        <button id='btnEstLimpiar' type='button' class='btn btn-default'><i class='fa fa-brush'></i> Limpiar</button>
        <button id="botonProveedores" class="btn btn-default" type="button"><i class="fas fa-truck-pickup"></i> Giro </button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Busqueda</legend>
    <div class="row">
        <div class='col-md-4 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-addon'>Fecha</span>
                <input id='dpEstMin' type='text' class='form-control'/>
                <span class='input-group-btn' style='width:0px;'></span>
                <input id='dpEstMax' type='text' class='form-control'/>
            </div>
        </div>
        <div class='col-md-2 col-lg-2'>
            <button id='btnEstBuscar' type='button' class='btn btn-primary'><i class='fa fa-search'></i> Búscar</button>
        </div>     
    </div>
    <div class='table-responsive'>
        <table id='tblEstProv' class='table table-fixed table-striped'>
            <thead class='bg-table-header'>
                <td>Fecha</td>
                <td>Proveedor</td>
                <td>Centro Costos</td>
                <td>Tipo</td> 
                <td>Giro</td> 
                <td>Tipo Movimiento</td> 
                <td>Total</td>
                <td>Comentarios</td>
            </thead>
        </table>
    </div>
</fieldset>
<div class="modal fade" id="modalProveedores">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Catálogo de Giro</h3>
                </div>
            </div>
            <div class="modal-body">
                @Html.Partial("../Reportes/_propPagoProvGrupo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fas fa-check-square"></i> Listo
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/EstimacionProveedor.js"></script>