@{
    ViewBag.Title = "Factura duplicada";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">@baseController.getEmpresaNombre()</h1>
            <h2 class="text-center">INDICADOR DE FACTURAS DUPLICADAS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3></h3></div>
                
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsibe">
                                <table id="tblDuplicados" class="display" style="width:100%;"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/FacturaDuplicada.js"></script>