@{
ViewBag.Title = "NominaQuincenalSemanal";
Layout = "~/Views/Shared/LayoutPage.cshtml";
var empresa = new SIGOPLAN.Controllers.BaseController().getEmpresaNombre();
}
<link href="~/Content/style/css/Contabilidad/Propuesta/NominaQuincenalSemanal.css" rel="stylesheet" />

<label class="encabezado">@empresa</label>
<label class="encabezado">PERIFÉRICO PONIENTE 770 COL. PALO VERDE C.P. 83280</label>
<label class="encabezado">HERMOSILLO, SON</label>
<label class="encabezado"><select class="text-center" id="comboNomina"></select></label>

<button class="btn btn-primary btn-lg pull-right" type="button" id="botonGuardar">
    <i class="fas fa-save"></i> Guardar
</button>

<table id='tablaNominas' class='table table-fixed table-responsive' width="99%">
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
</table>
<table id='tblNomOtros' class='table table-fixed table-responsive' width="99%">
    <thead class="hidden">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
</table>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/NominaQuincenalSemanal.js"></script>