
@{
    ViewBag.Title = "Pago";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var empresa = new SIGOPLAN.Controllers.BaseController().getEmpresaNombre();
    var obj = new SIGOPLAN.Areas.Administrativo.Controllers.Contabilidad.PropuestaController().generarBusqDTO();
    var hoy = DateTime.Now.ToLongDateString().ToUpper();    
}
<label class="lblEncabezado">@empresa</label>
<label class="lblEncabezado"> AL <input type="text" id="txtFechaPago" value="@hoy" class="text-center"/></label>
@Html.Partial("_propuestaPago")
