
@{
    ViewBag.Title = "EstimacionCobranza";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/Propuesta/EstimacionCobranza.css" rel="stylesheet" />
<h2 class="text-center  ">Pronóstico de Cobranza</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Búsqueda</legend>
    <div class='col-md-2 col-lg-2'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input type='text' id='dpFecha' class='form-control'>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <button id='btnBuscar' type='button' class='btn btn-primary'><i class='fa fa-search'></i> Búscar</button>
        <button id='btnGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Cobranza</legend>
    <button id='btnAddRen' type='button' class='btn btn-success'><i class='fa fa-plus'></i></button>
    <button id='btnResRen' type='button' class='btn btn-danger'><i class='fa fa-minus'></i></button>
    <div class='table-responsive'>
        <table id='tblEstCob' class='table table-fixed table-responsive'>
            <thead class='bg-table-header'>
                <th>Centro Costos</th>
                <th>Pronóstico</th>
                <th>Semana 1</th>
                <th>Semana 2</th>
                <th>Semana 3</th>
            </thead>
        </table>
    </div>
</fieldset>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/EstimacionCobranza.js"></script>
