
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Contabilidad/Propuesta/Proveedores.css" rel="stylesheet" />
<h1 class="text-center">Facturas Vencidas</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm"><i class="fas fa-calendar-week"></i> Busqueda</legend>
    <div class="row">
        <div class='col-md-3 col-lg-2'>
            <div class='input-group'>
                <span class='input-group-addon'>Fecha</span>
                <input class="form-control text-center" type="text" id="inputFechaBusqueda">
            </div>
        </div>
        <div class="col-md-2 col-lg-2">
            <button class="btn btn-primary" type="button" id="botonBuscar">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>
        <div class="col-md-6 col-lg-6">
            <button class="btn btn-primary pull-right" type="button" id="botonProveedores">
            <i class="fas fa-truck-pickup"></i> Proveedores
            </button>
        </div>
            <button class="btn btn-primary btn-lg" type="button" id="botonGuardar">
                <i class="fas fa-save"></i> Guardar
            </button>
    </div>
</fieldset>

<table id='tablaProveedores' class='table table-fixed table-responsive margin-top' width="99%">
    <thead class="bg-table-header">
        <th class="text-center">Propuesta</th>
        <th class="text-center">C.C.</th>
        <th class="text-center">Factura</th>
        <th class="text-center">Total</th>
    </thead>
</table>


<div class="modal fade" id="modalProveedores">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Catálogo de Proveedores</h3>
                </div>
            </div>
            <div class="modal-body">
                @Html.Partial("../Reportes/_propPagoProvGrupo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fas fa-check-square"></i> Listo
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Propuesta/Proveedores.js"></script>