
@{
    ViewBag.Title = "ReporteProgramacionPago";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script>
    var _gpEmpresa = @ViewBag.Empresa;
</script>
<h2 class="text-center">Reporte de facturas de propuesta</h2>
@Html.Partial("_divReporteProgramacionPago")
