
@{
    ViewBag.Title = "SaldoGlobales";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var empresa = new SIGOPLAN.Controllers.BaseController().getEmpresaNombre();
    var hoy = DateTime.Now.ToLongDateString().ToUpper();    
}
<label class="lblEncabezado">@empresa</label>
<label class="lblEncabezado">RESUMEN DE SALDO EN LIBROS DE BANCOS</label>
<label class="lblEncabezado">AL <input type="text" id="txtFechaSaldo" value="@hoy"></label>
@Html.Partial("_mdlSaldosGlobales")

 