@{
ViewBag.Title = "Vista de Documentos Modelos";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Maquinaria/Catalogo/VisorArchivosModelos.js"></script>
<div class="row">
    <h2 class="text-center">Vista de Documentos en modelos</h2>
</div>
<div class="row form-group">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-sm-4">
                <label>Marca de Equipo:</label>
                <select class="form-control" id="selectMarcaEquipo" title="Seleccione Marca"></select>
            </div>
            <div class="col-sm-4">
                <label>Grupo:</label>
                <input class="form-control" id="inputGrupo" type="text" />
            </div>
            <div class="col-sm-2">
                <label>Modelo:</label>
                <input class="form-control" id="inputModelo" type="text" />
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info margin-top pull-right" id="btnBuscarInfo">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </fieldset>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <table id="tblVistaDocumentosModelos" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="archivos" data-formatter="archivos" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Ver Archivos</th>
                        <th data-column-id="grupoDesc" data-align="center" data-header-align="center">Grupo</th>
                        <th data-column-id="descripcion" data-align="center" data-header-align="center">Modelo</th>
                        <th data-column-id="marca" data-align="center" data-header-align="center">Marca</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
    </div>
</div>

<div class="modal fade" id="modalVistaArchivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Visor de archivos por modelo</h3>
                </div>
            </div>
            <div class="modal-body text-center modal-content-tamaño">
                <div class="container-fluid">
                    <table id="tblListaArchivosView" class="table table-condensed table-hover table-striped text-center">
                        <thead class="bg-table-header">
                            <tr>

                                <th data-column-id="Nombre" data-align="center" data-header-align="center">Nombre</th>
                                <th data-column-id="FechaCreacion" data-align="center" data-header-align="center">Fecha Creación</th>
                                <th data-column-id="Descarga" data-formatter="descarga" data-align="center" data-header-align="center">Link</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>