@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script type='text/javascript'>
    document.oncontextmenu = function () { return false }
</script>

<div class="container-fluid">
    <div class="row text-center">
        <video src="~/Videos/Video1.mp4" style="width:80%;height:80%;" controls autoplay="autoplay">
            Tu navegador no implementa el elemento
            <code>video</code>.
        </video>
    </div>
</div>