@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- CSS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Administrativo/TI/General.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class='container-fluid'>
    <div class="row">
        <div class="col-sm-12 seccion">
            @Html.Partial("_MenuTI")
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12 text-center'>
            <h2>SOLUCIONES</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <!-- PANEL FILTROS -->
            <div id='panelFiltro' class='panel panel-default panel-principal'>
                <div class='panel-heading'>
                    <h4 class='text-center'>FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <button class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                                <button class="btn btn-primary" id="btnFiltroNuevo"><i class='fas fa-plus'></i>&nbsp;Nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->
            <!-- BODY -->
            <div id='panelGraficas' class='panel panel-default panel-principal'>
                <div class='panel-heading'></div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class="col-lg-12">
                            <table class="table" id="tblSoluciones"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BODY -->
        </div>
    </div>
</div>
<!-- END: CONTAINER -->

<!-- MODAL DETALLE TABULADOR -->
<div id='mdlCESolucion' class='modal fade' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h4 class='modal-title text-center'></h4>
            </div>
            <div class='modal-body'>
                <div class="row seccion">
                    
                </div>
            </div>
            <div class='modal-footer'>
                <button class="btn btn-success" id="btnCESolucion"><i class='fas fa-save'></i></button>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class='fas fa-undo-alt'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL DETALLE TABULADOR -->

<!-- JS -->
<script src="~/Scripts/js/Administrativo/TI/Soluciones.js"></script>
<script src="~/Scripts/js/Administrativo/TI/_MenuTI.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<!-- END: JS -->