#divAccion {
    position: fixed;
    right: 1em;
    top: 4em;
    z-index: 20;
}

#divAccion fieldset {
    background-color: #fff;
}

#divObras {
    padding-bottom: 3em;
}

#tblObra tbody tr td {
    font-size: .9em;
    padding: .3em;
}