@{
    ViewBag.Title = "Alerta Autrizacion";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/Nomina/Prenomina.css" rel="stylesheet" />
<link href="~/Content/style/select2/select2.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Rentabilidad/Externos/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/select.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Alertas Autorización Prenomina</h3>
    </div>
</div>

<div class="contenedor" id="divFiltros">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <label>Tipo:</label>
            <select id="cboTipoNomina" class="form-control">
                <option value="1">Nomina Semanal</option>
                <option value="4">Nomina Quincenal</option>
                <option value="10">Aguinaldo</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label>Fecha</label>
            <select id="comboNomina" class="form-control buscar"></select>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label>Centro Costos</label>
            <select id="comboCC" class="form-control buscar"></select>
        </div>
        @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <button id="botonBuscar" class="btn btn-primary margin-top"><i class="fa fa-search"></i>  Buscar</button>

            </div>*@
    </div>
</div>

<div class="contenedor mt10" id="divTablaPrenomina">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button id="botonCorreo" class="btn btn-warning margin-top pull-right" style="margin-right: 5px !important;"> <i class="fas fa-envelope"></i>    Enviar Notificación</button>
            <button id="botonCorreoDespacho" class="btn btn-warning margin-top pull-right" style="margin-right: 5px !important; display:none;"> <i class="fas fa-envelope"></i>    Enviar Correo Despacho</button>
            <button id="botonValidar" class="btn btn-warning margin-top pull-right" style="margin-right: 5px !important; display:none;"><i class="fa fa-check"></i>  Validar</button>
            <button id="botonReporte" class="btn btn-success margin-top pull-right" style="margin-right: 5px !important; display:none;"><i class="fas fa-file-excel"></i>  Descargar</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabla">
            <table id="tablaAutorizacion" class="tabla table-bordered compact hover" style="width: 100%;"></table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4 class="mb5 mt5">Autorizantes</h4>
    </div>
</div>

<div class="contenedor mt10" id="divTablaAutorizantes">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabla">
            <table id="tablaAutorizantes" class="tabla table-bordered compact hover" style="width: 100%;"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregarAutorizante" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Agregar Autorizante</h3>
                </div>
            </div>
            <div class="modal-body">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Formulario</legend>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding2">
                        <label>Nombre Autorizante:</label>
                        <select id="comboAutorizante" class="form-control"></select>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding2">
                        <label>Puesto:</label>
                        <input id="inputPuestoAutorizante" class="form-control" disabled />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <button id="botonGuardarAutorizante" class="btn btn-primary margin-top"><i class="fa fa-save"></i>  Guardar</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Administrativo/Contabilidad/Nomina/AlertaAutorizacion.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/select2/select2.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Rentabilidad/Externos/bootstrap-toggle.min.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.select.min.js"></script>
