@{
    ViewBag.Title = "LayoutIncidencias";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<style>
    #tablaIncidencias_wrapper thead tr {
        background: #000000 !important;
        color: white;
    }
</style>

<div class="row text-center margin-top">
    <h2>Layout Incidencias</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class="col-md-2">
            <label>Tipo:</label>
            <select id="cboTipoNomina" class="form-control">
                <option value="1">Nomina Semanal</option>
                <option value="4">Nomina Quincenal</option>
                <option value="10">Aguinaldo</option>
            </select>
        </div> 
        <div class="col-md-4">
            <div class="input-group">
                <label>Periodo</label>
                <select id="selectPeriodo" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-2">
            <label>Estatus</label>
            <select id="selectEstatus" class="form-control">
                <option estatus="A">AUTORIZADO</option>
                <option estatus="P">PENDIENTE</option>
            </select>
        </div>
        <div class="col-md-3" style="margin-top: 25px;">
            <button type="button" class="btn btn-primary" id="botonBuscar"><i class="fas fa-search"></i> Buscar</button>
            <button type="button" class="btn btn-info" id="botonExportarExcel"><i class="fas fa-file"></i> Layout</button>
            <button type="button" class="btn btn-info" id="botonExportarReporte"><i class="fas fa-file"></i> Reporte</button>
            <button type="button" class="btn btn-primary" id="botonCorreo"><i class="fas fa-envelope"></i> Enviar Correo</button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm"></legend>
    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaIncidencias" class="table bordered compact hover nowrap" style="width: 100%;"></table>
        </div>
    </div>
</fieldset>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Nomina/LayoutIncidencias.js"></script>