@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    ViewBag.Title = "Raya";

    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<link href="~/Content/style/Dropzone/basic.min.css" rel="stylesheet" />
<link href="~/Content/style/Dropzone/dropzone.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/Nomina/Raya.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">@baseController.getEmpresaNombre()</h1>
            <h2 class="text-center">CARGA DE RAYA</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="panelGeneral" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">Tipo</div>
                                <select id="cboTipoNomina" class="form-control">
                                    <option value="1">Nomina Semanal</option>
                                    <option value="4">Nomina Quincenal</option>
                                    <option value="10">Aguinaldo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">Período</div>
                                <select id="cboxPeriodoFiltro" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">Tipo Raya</div>
                                <select id="cboxTipoRayaFiltro" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">Clasificación CC</div>
                                <select id="cboxClasificacionCCFiltro" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="file" class="form-control" id="inputArchivoRaya" autocomplete="off" />
                            @*<div id="dzRaya" class="dropzone">
                                <div class="dz-message">
                                    <p>Arrastrar aquí archivo de base de datos</p>
                                    <p>Elige un archivo</p>
                                </div>
                            </div>*@
                        </div>
                        <div class="col-sm-4">
                            <button id="btnConsultarRaya" class="btn btn-success btn-block"><i class="fas fa-search"></i> Consultar raya</button>
                        </div>
                        <div class="col-sm-4">
                            <button id="btnCargarRaya" class="btn btn-primary btn-block"><i class="fas fa-file-upload"></i> Procesar raya</button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="tblRayaTotales" class="hover stripe order-column compact nowrap" style="width:100%">
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>TOTALES: </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="tblRaya" class="hover stripe order-column compact  nowrap" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/Dropzone/dropzone.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/datatables/fixedColumns.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Nomina/Raya.js"></script>