@{
    ViewBag.Title = "Gestión Plantilla Personal";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/default/easyui.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Administrativo/RecursosHumanos/PlantillaPersonal/Gestion.js"></script>
<script src="~/Scripts/Utilities/jquery.ui.datepicker-es.js"></script>

<div class="row">
    <h2 class="text-center">Captura Plantilla Personal</h2>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Datos:</legend>
            <div class="col-md-3">
                <label>Estatus:</label>
                <select class="form-control no-padding" id="cboEstatus">
                    <option value="1">Pendiente</option>
                    <option value="2">Autorizado</option>
                    <option value="3">Rechazado</option>
                    <option value="4">Cancelado</option>
                </select>
            </div>
        </fieldset>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="panel-title text-center" style="font-weight: bold;">
                        PLANTILLAS
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="tblData" class="display bg" width="100%">
                        <thead class="bg-table-header">
                            <tr>
                                <th>ID</th>
                                <th>CC</th>
                                <th>FECJA INICIO</th>
                                <th>FECHA FIN</th>
                                <th>FECHA REGISTRO</th>
                                <th>AUTORIZAR</th>
                                <th>REPORTE</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="modal fade" id="modalAprobadores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label>Seguimiento de Autorizacion</label></h3>
                </div>
            </div>
            <div class="modal-body container-fluid">
                <table id="tblAprobaciones" class="display bg" width="100%">
                    <thead class="bg-table-header">
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>TIPO</th>
                            <th>PUESTO</th>
                            <th>ESTATUS</th>
                            <th>REPORTE</th>
                        </tr>
                    </thead>
                </table>
                <div class="row text-center form-group">
                    <h5>Capturo: <span style="font-weight:bold;" id="capUser"></span></h5>
                    <h5><span id="motivoRechazo"></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("reportViewerView", false)