@{
    ViewBag.Title = "PendienteSurtirCompra";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/OrdenCompra/PendienteSurtir.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/OrdenCompra/Editar.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<style>
    #tblComprasPendientes {
        font-size: 12px;
    }
</style>

<h2 class="text-center">O.C. Autorizada sin Factura</h2>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros</legend>

    <div class="row">
        <div class="col-md-3 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon">Centro Costo</span>
                <select id="selectCCcompraPendiente" class="form-control select2"></select>
            </div>
        </div>

        <div class="col-md-3 col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Proveedor</span>
                <select id="selectProveedor" class="form-control select2"></select>
            </div>
        </div>

        <div class="col-md-3 col-lg-3" style="display: none;">
            <div class="input-group">
                <span class="input-group-addon">Estatus</span>
                <select id="comboEstatus" class="form-control"></select>
            </div>
        </div>

        <div class="col-md-3 col-lg-3" style="display: none;">
            <div class="input-group">
                <span class="input-group-addon">Comprador</span>
                <select id="selectFiltroCompradores" class="form-control select2"></select>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 ">
            <button id="botonBuscar" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
        </div>
    </div>

    <div class="row"  style="display: none;">
        <div class="col-md-3 col-lg-3">
            <div class="input-group mrgTop" style="display: none;">
                <span class="input-group-addon">Fecha Inicial</span>
                <input id='inputFechaInicial' class='form-control'>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 mrgTop" style="display: none;">
            <div class="input-group">
                <span class="input-group-addon">Fecha Final</span>
                <input id='inputFechaFinal' class='form-control'>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 mrgTop" style="display: none;">
            <div class="input-group">
                <span class="input-group-addon">Área-Cuenta</span>
                <select id="selectAreaCuenta" class="form-control select2"></select>
            </div>
        </div>

        
    </div>
</fieldset>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Compras</legend>

    <div class="col-md-12 col-lg-12">
        <table id="tblComprasPendientes" class="table compact table-bordered marginBottom5" width="100%"></table>
    </div>
</fieldset>

<div class="modal fade" id="mdlExistenciaDetalle" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="labelModal"> Salida por consumo </label></h3>
                </div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary btn-sm"><i class="fas fa-times-circle"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlDetalleOC" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Detalle O.C.</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <fieldset class='fieldset-custm noPadLeft noPadRight mrgBottom' style="border-radius: 0px !important;">
                    <legend class='legend-custm'></legend>
                    <input id='inputCompradorSesionNum' type='text' class='form-control' style="display: none;" />
                    <input id='inputCompradorSesionNom' type='text' class='form-control' style="display: none;" />

                    <div id="panelIzquierdo" class="col-md-7 col-lg-7 noPadLeft noPadRight">
                        <div class='col-md-12 col-lg-12 mrgTop mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Folio Origen:</span>
                                <input type='text' id='inputFolioOrigen' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>CC</span>
                                <select id='selectCC' class='form-control'></select>
                            </div>
                        </div>

                        <div class='col-md-12 col-lg-12 mrgBottom' style="display: none;">
                            <div class='input-group mrgBottom' style="width: 0px;">
                                <span class='input-group-addon'>Inicio</span>
                                <input type='text' id='dtpInicio' class='form-control'>
                            </div>
                            <div class='input-group' style="width: 0px;">
                                <span class='input-group-addon'>Fin</span>
                                <input type='text' id='dtpFin' class='form-control'>
                            </div>
                        </div>

                        <div class='col-md-4 col-lg-4 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Número:</span>
                                <input id='inputNumero' type='text' class='form-control' />
                            </div>
                        </div>
                        <div class='col-md-4 col-lg-4 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Número Requisición:</span>
                                <input id='inputNumeroReq' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-4 col-lg-4 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>B ó S:</span>
                                <select id='selectBoS' class='form-control' disabled>
                                    <option value="">--Seleccione--</option>
                                    <option value="B">Bienes</option>
                                    <option value="S">Servicios</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-4 col-lg-4 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Fecha:</span>
                                <input id='dtpFecha' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                                <div class='input-group'>
                                    <span class='input-group-addon'>Proveedor:</span>
                                    <input id='inputProvNum' type='text' class='form-control' disabled />
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                                <input id='inputProvNom' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                                <div class='input-group'>
                                    <span class='input-group-addon'>Comprador:</span>
                                    <input id='inputCompNum' type='text' class='form-control' disabled />
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                                <input id='inputCompNom' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                                <div class='input-group'>
                                    <span class='input-group-addon'>Solicitó:</span>
                                    <input id='inputSolNum' type='text' class='form-control' disabled />
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                                <input id='inputSolNom' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                                <div class='input-group'>
                                    <span class='input-group-addon'>Autorizó:</span>
                                    <input id='inputAutNum' type='text' class='form-control' disabled />
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                                <input id='inputAutNom' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Embarquese:</span>
                                <input id='inputEmb' type='text' class='form-control' />
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>L.A.B.</span>
                                <select id='selectLab' class='form-control'></select>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Concepto Factura:</span>
                                <input id='inputConFact' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-3 col-lg-3 mrgBottom'>
                            <div class='input-group'>
                                <label style="font-weight: bold; cursor: pointer;">
                                    <input style="margin-right: 5px; height: 15px; width: 15px; cursor: pointer;" id='checkAutoRecep' type='checkbox' />Auto Recepcionable
                                </label>
                            </div>
                        </div>
                        <div class='col-md-9 col-lg-9 mrgBottom'>
                            <div class="col-md-4 col-lg-4 noPadLeft noPadRight">
                                <div class='input-group'>
                                    <span class='input-group-addon'>Almacén:</span>
                                    <input id='inputAlmNum' type='text' class='form-control' />
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-8 noPadLeft noPadRight">
                                <input id='inputAlmNom' type='text' class='form-control' disabled />
                            </div>
                        </div>
                        <div class='col-md-3 col-lg-3 mrgBottom'>
                            <div class='input-group'></div>
                        </div>
                        <div class='col-md-9 col-lg-9 mrgBottom'>
                            <div class="col-md-4 col-lg-4 noPadLeft noPadRight">
                                <div class='input-group'>
                                    <span class='input-group-addon'>Empleado:</span>
                                    <input id='inputEmpNum' type='text' class='form-control' />
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-8 noPadLeft noPadRight">
                                <input id='inputEmpNom' type='text' class='form-control' disabled />
                            </div>
                        </div>
                    </div>
                    <div id="panelDerecho" class="col-md-5 col-lg-5 noPadLeft noPadRight">
                        <div class='col-md-12 col-lg-12 mrgTop mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Tipo O.C.:</span>
                                <select id='selectTipoOC' class='form-control'>
                                    <option value="">--Seleccione--</option>
                                    <option value="1">Normal</option>
                                    <option value="2">Urgente</option>
                                    <option value="3">Crítico</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Moneda:</span>
                                <select id='selectMoneda' class='form-control'>
                                    <option value="">--Seleccione--</option>
                                    <option value="1">MN</option>
                                    <option value="2">USD</option>
                                    <option value="3">Eur</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Tipo Cambio:</span>
                                <input type='text' id='inputTipoCambio' class='form-control'>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Sub Total:</span>
                                <input type='text' id='inputSubTotal' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-4 col-lg-4 mrgBottom noPadRight'>
                            <div class='input-group'>
                                <span class='input-group-addon'>I.V.A.</span>
                                <input type='text' id='inputIVAPorcentaje' class='form-control' style="text-align: right;">
                            </div>
                        </div>
                        <div class='col-md-8 col-lg-8 mrgBottom noPadLeft'>
                            <div class='input-group'>
                                <span class='input-group-addon' style="min-width: 20px;">=</span>
                                <input type='text' id='inputIVANumero' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Retención:</span>
                                <input type='text' id='inputRetencion' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Total:</span>
                                <input type='text' id='inputTotal' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Total Final:</span>
                                <input type='text' id='inputTotalFinal' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <div class='input-group'>
                                <span class='input-group-addon'>Folio Origen:</span>
                                <input type='text' id='inputFolioOrigen' class='form-control' disabled>
                            </div>
                        </div>
                        <div class='col-md-12 col-lg-12 mrgBottom'>
                            <button id="btnRetenciones" class="btn btn-default">Mostrar Retenciones</button>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="fieldTablaPartidas" class='fieldset-custm noPadLeft noPadRight' style="border-radius: 0px !important;">
                    <div class="container col-lg-12 mrgTop">
                        <table id="tblPartidas" style="width: 100%;"></table>
                    </div>
                </fieldset>

                <fieldset id="fieldDescripcionPartida" class="fieldset-custm noPadLeft noPadRight" style="border-radius: 0px !important; margin-bottom: 100px;">
                    <legend class="legend-custm">Descripción de la Partida</legend>
                    <div class="container col-lg-12">
                        <textarea id="textAreaDescPartida" class="form-control" rows="4" disabled style="border-radius: 0px;"></textarea>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlRetenciones" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Retenciones</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-lg-12">
                        <table id="tblRetenciones" class="mrgTop" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlDetalleEntradas" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Detalle Entradas</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <fieldset class='fieldset-custm noPadLeft noPadRight' style="border-radius: 0px !important;">
                    <div class="container col-lg-12 mrgTop">
                        <table id="tblEntradas" style="width: 100%;"></table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/OrdenCompra/OCSinFactura.js"></script>

@Html.Partial("reportViewerView", false)