@{
    ViewBag.Title = "ReporteUltimaCompraInsumo";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />

<style>
    #tablaProveedores_wrapper thead tr {
        color: white;
        background: linear-gradient(40deg, #45cafc, #303f9f);
    }

    .mrgTop {
        margin-top: 5px;
    }

    #tablaProveedores {
        font-size: 12px;
    }
</style>

<div class="row text-center margin-top">
    <h2>Reporte Última Compra Por Insumo</h2>
</div>

<fieldset class="fieldset-custm">
    <div class="row">
        <div class="col-md-6">
            <label>Insumos:</label>
            <button id="botonBuscar" class="btn btn-xs btn-primary" style="margin-top: 5px; margin-bottom: 5px;"><i class="fas fa-search"></i> Buscar</button>
        </div>
        <div class="col-md-12">
            <textarea id="textareaInsumos" class="form-control" rows="3" placeholder="Ingrese el listado de insumos aquí"></textarea>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm"></legend>
    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaProveedores" class="table wrap compact hover" style="width: 100%;"></table>
        </div>
    </div>
</fieldset>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/OrdenCompra/ReporteUltimaCompraInsumo.js"></script>