@{
    ViewBag.Title = "TRAZABILIDAD";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<h3 class="text-center">TRAZABILIDAD DE COMPRAS</h3>
<style type="text/css">
    .capturaPendiente {
        color: white;
        background-color: red;
    }

    table {
        white-space: nowrap !important;

    }

    .bg-table-header {
        background-color: #D7DBDD !important;
        color: black !important;

    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }
</style>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros</legend>
    <div class="col-lg-12">
        <div class="col-md-3">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">CC</span>
                <select class="form-control" id="cboCC"></select>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">Fecha Inicio</span>
                <input id="inputFechaInicio" class="form-control" />
            </div>
        </div>
        <div class='col-md-3'>
            <div class='input-group input-group-sm'>
                <span class='input-group-addon'>Fecha Fin</span>
                <input id="inputFechaFin" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">Tipo</span>
                <select class="form-control" id="cboAutorecepcionable">
                    <option value="0">AMBAS</option>
                    <option value="1">AUTORECEPCIONABLES</option>
                    <option value="2">NO AUTORECEPCIONABLES</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">ENTRADA</span>
                <select class="form-control" id="cboEntrada">
                    <option value="0">AMBAS</option>
                    <option value="1">CON EENTRADA</option>
                    <option value="2">SIN ENNTRADA</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">FACTURA</span>
                <select class="form-control" id="cboFactura">
                    <option value="0">AMBAS</option>
                    <option value="1">CON FACTURA</option>
                    <option value="2">SIN FACTURA</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">CONTRARECIBO</span>
                <select class="form-control" id="cboContrarecibo">
                    <option value="0">AMBAS</option>
                    <option value="1">CON CONTRARECIBO</option>
                    <option value="2">SIN CONTRARECIBO</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon">SISUN</span>
                <select class="form-control" id="cboSISUN">
                    <option value="0">AMBAS</option>
                    <option value="1">SI</option>
                    <option value="2">NO</option>
                </select>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='input-group input-group-sm'>
                <span class='input-group-addon'># Req</span>
                <input id="inputReq" class="form-control" />
            </div>
        </div>
        <div class='col-md-3'>
            <div class='input-group input-group-sm'>
                <span class='input-group-addon'># OC</span>
                <input id="inputOC" class="form-control" />
            </div>
        </div>
        <div class='col-md-3'>
            <div class='input-group input-group-sm'>
                <span class='input-group-addon'>Proveedor</span>
                <select id="selectProveedor" class="form-control select2"></select>
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-primary" id="btnBuscar">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm col-lg-12'>
    <legend class="legend-custm"><i class="fas fa-hand-holding-usd"></i> Datos </legend>
    <div class='table-responsive'>
        <table id='tblData' class='table compact' width="100%">
        </table>
        <br />
        <br />
    </div>
</fieldset>

<div class="modal fade" id="modalDetalle" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Desglose</h4>
            </div>
            <div class="modal-body ajustar-texto">
                <div class="row">
                    <div class="col-md-12">
                        <table id='tblDetalle' class='display compact' style="width:100%;display:block;">
                            <tfoot>
                                <tr>
                                    <th style="text-align: right;"></th>
                                    <th style="text-align: right;"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/Utilities/Highcharts/highcharts.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/OrdenCompra/Trazabilidad.js"></script>

@Html.Partial("reportViewerView", false)