
@{
    ViewBag.Title = "Asignacion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<style>
    .ui-autocomplete {
        z-index: 9999;
    }
</style>
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<h2 class="text-center">Asignacion de seguiminento</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Encuestas</legend>
    <div class='table-responsive'>
        <table id='tblEncAsignar' class='table table-fixed table-responsive table-striped'  style="border: 1px solid black;">
            <thead class='bg-table-header'></thead>
        </table>
    </div>
</fieldset>
<div id='mdlEncAsigUsuario' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header modal-bg text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Usuario</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class='col-md-12 col-lg-12 text-center'>
                        <h3 id="lblTitulo"></h3>
                    </div>
                    <div class='col-md-6 col-lg-6'>
                        <div class='input-group'>
                            <span class='input-group-addon'>Nombre empleado</span>
                            <input type='text' id='inpEncAsigUsuario' class='form-control'>
                        </div>
                    </div>
                    <div class='col-md-2 col-lg-1'>
                        <button id='btnEncAsigAddUsuario' type='button' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
                    </div>
                    <div class='col-md-12 col-lg-12'>
                        <div class='table-responsive'>
                            <table id='tblEncAsigUsuario' class='table table-fixed table-responsive table-striped'  style="border: 1px solid black;">
                                <thead class='bg-table-header'></thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> Regresar</button>
                <button id="btnEncAsigUsuario" type='button' class='btn btn-primary' data-dismiss='modal'><i class='fa fa-save'></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Encuestas/Asignacion.js"></script>