@{
    ViewBag.Title = "Bajas de personal";
    Layout = "~/Views/Shared/EncuestaLayout.cshtml";
}

<!-- CSS -->
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/datatables/fixedColumns.bootstrap.css" rel="stylesheet" />
<link href="~/Content/style/datatables/fixedHeader.bootstrap.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href='~/Content/style/css/RecursosHumanos/BajasPersonal/BajasPersonal.css' rel='stylesheet' />

<!-- CONTAINER FLUID -->
<div class="container-fluid">

    <!-- BAJAS -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3>ENTREVISTA DE SALIDA</h3></div>
                <div class="panel-heading text-center" id="txtSubtitulo"><h4></h4></div>
                <div class="panel-body">
                    <fieldset id="fieldEntrevista" class='fieldset-custm marginBottom' >
                        <legend class='legend-custm'>Entrevista</legend>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Jefe Inmediato Cve</span>
                                    <input type="text" id="txt_entrevista_gerenteClave" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Jefe Inmediato Nombre</span>
                                    <input type="text" id="txt_entrevista_gerenteNombre" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Fecha nacimiento</span>
                                    <input type="date" id="txt_entrevista_fechaNacimiento" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Estado civil</span>
                                    <select id="cbo_entrevista_estadoCivilID" class="form-control select2"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Escolaridad</span>
                                    <select id="cbo_entrevista_escolaridadID" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Fecha ingreso</span>
                                    <input type="text" id="txt_registro_fechaIngreso" readonly="true" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">1.- ¿CUAL ES TU PRINCIPAL MOTIVO PARA DEJAR CONSTRUPLAN?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p1"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">2.- ¿CUANTO TIEMPO LLEVA PENSANDO DEJAR CONSTRUPLAN?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p2"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">3.- CÓMO CALIFICAS A LA EMPRESA EN LOS SIGUIENTES ASPECTOS:</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Ambiente Trabajo</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_1"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Salario</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_2"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Horarios</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Oportunidad</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_4"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Capacitaciòn</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_5"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Carga Laboral</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_6"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Reconocimiento</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_7"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Instalaciones Campamento</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_8"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Instalaciones Comedor</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_9"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">Herramientas Trabajo</span>
                                    <select class="form-control select2" id="cbo_entrevista_p3_10"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">4.- ¿QUÉ ERA LO QUE MÁS TE GUSTABA DE TU TRABAJO?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p4"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">5.- ¿QUÉ ES LO QUE MENOS TE GUSTABA DE TU TRABAJO?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p5"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>6.- ¿ALGUNA PRESTACIÓN QUE TE HUBIERA GUSTADO TENER Y QUE TE HUBIERA MOTIVADO A CONTINUAR EN CONSTRUPLAN?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_p6" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>7.- ¿TIENES ALGUNA SUGERENCIA PARA MEJORAR LAS CONDICIONES LABORALES EN CONSTRUPLAN?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_p7" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">8.- ¿CÓMO CONSIDERAS AL GRUPO /  DEPARTAMENTO / ÁREA  CON EL QUE TRABAJASTE?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p8"></select>
                                </div>
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>¿Por qué?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_p8_porque" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">9.- ¿CÓMO FUE EL TRATO DE TU JEFE INMEDIATO?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p9"></select>
                                </div>
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>¿Por qué?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_p9_porque" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">10.- ¿CÓMO CONSIDERAS QUE FUE EL ENTRENAMIENTO O <br>CAPACITACIÓN QUE RECIBISTE PARA DESEMPEÑAR ADECUADAMENTE TUS FUNCIONES O PUESTO?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p10"></select>
                                </div>
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>¿Por qué?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_p10_porque" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">11.- ¿TÚ JEFE INMEDIATO ESTÁ ENTERADO DE TU RENUNCIA?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p11"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">¿TE DIO OPCIONES DE AYUDA PARA QUE NO RENUNCIARAS?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p11_1"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">12.- ¿COMO CONSIDERAS EL SERVICIO QUE RECIBISTE DEL PERSONAL DE CAPITAL HUMANO EN TU PROYECTO?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p12"></select>
                                </div>
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>¿Por qué?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_p12_porque" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">13.- ¿CÓMO TE ENTERASTE DE ESTE EMPLEO EN CONSTRUPLAN?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p13"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">14.- ¿DURANTE TU ESTANCIA EN CONSTRUPLAN, DETECTASTE ALGUN TEMA DE FRAUDE, ROBO O ACOSO?</span>
                                    <select class="form-control select2" id="cbo_entrevista_p14"></select>
                                </div>
                                <!-- <div class="input-group marginBottom">
                                    <span class="input-group-addon">FECHA APROXIMADA</span>
                                    <input type="date" class="form-control" id="txt_entrevista_fechaAproximada" placeholder="##/##/####" autocomplete="off">
                                </div>
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>¿Como fue?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_comoFue" cols="30" rows="6"></textarea>
                                </fieldset> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" id="divPreguntaEstancia" style="display:none;">
                                <div class="input-group marginBottom">
                                    <span class="input-group-addon">FECHA APROXIMADA</span>
                                    <input type="date" class="form-control" id="txt_entrevista_fechaAproximada" placeholder="##/##/####" autocomplete="off">
                                </div>
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm custom_field'>¿Como fue?</legend>
                                    <textarea class="inputTextArea" id="txt_entrevista_comoFue" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <fieldset class='fieldset-custm marginBottom'>
                                    <legend class='legend-custm'>Observaciones y/o comentario</legend>
                                    <textarea class="inputTextArea" id="txt_registro_observaciones" cols="30" rows="6"></textarea>
                                </fieldset>
                            </div>
                        </div> -->
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="pull-right">
                                <button class="btn btn-success" id="btnGuardarEntrevista">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: BAJAS -->
</div>
<!-- END: CONTAINER FLUID -->



<!-- JS -->
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>

<script src="~/Scripts/js/Administrativo/RecursosHumanos/BajasPersonal/BajasPersonalEntrevista.js"></script>