/* CSS CONDUCTAS */
#btnFiltroBuscar, #btnModalConducta {
    margin-top: 13%;
}

#btnModalGrupo {
    margin-top: 25px;
    margin-left: -27px;
}

#btnModalCompetencia {
    margin-top: 25px;
    margin-left: -27px;
}

#btnModalConducta {
    margin-right: 15px;
}

#btnNuevoGrupo {
    margin-right: 15px;
}

#btnCancelarCEGrupo, #btnGuardarGrupo, #btnFiltroBuscarCECompetencia, #btnNuevaCompetencia {
    margin-top: 25px;
}

#modalCompetencia .modal-lg  {
    width: 70% !important;
}
/* END: CSS CONDUCTAS */