/* CSS CUESTIONARIOS */
#btnFiltroNuevoCuestionario {
    margin-right: 15px;
}

#mdlListadoConductaRelCuestionario .modal-lg {
    width: 99% !important;
}

#btnFiltroConductaRelCuestionario_Buscar, #btnFiltroConductas_Guardar {
    margin-right: 15px;
    margin-top: 24px;
}

#btnFiltroConductaNoRelCuestionario_Buscar {
    margin-top: 24px;
}
/* END: CSS CUESTIONARIOS */