/* SELECT2 */
.select2-container {
    min-width: 100% !important;
    width: 100% !important;
    height: 34px !important;
}
.select2-container--default .select2-selection--single {
    height: 34px !important;
    border: 1px solid #ccc !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}
/* END: SELECT2 */

/* MODAL */
.modal-header {
    /* background: #343a40;
    color: white; */
    height: 40px;
    padding: 0px;
}
.modal-header h4 {
    margin-top: 7px;
    margin-bottom: 0px;
    padding: 0px;
}
.modal-lg {
    width: 50% !important;
}
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
    background-color: #f5f5f5;
}
.modal-footer {
    background-color: #f5f5f5;
}
/* END: MODAL */

/* FUNCIONALIDAD MENU */
#menuPrincipal {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}
#menuPrincipal div {
    float: left;
    width: 10%;
    text-align: center;
    transition: width 1s;
    opacity: 0.4;
    color: black;
}
#menuPrincipal div:hover {
    width: 15%;
    cursor: pointer;
    opacity: 1;
    color: white;
    box-shadow: 0px 0px 7px #000000;
}
#menuPrincipal div.opcionSeleccionada {
    box-shadow: 0px 0px 7px #000000;
    width: 15%;
    opacity: 1;
    color: white;
}
#menuPrincipal div h5 {
    font-weight: bold;
}
#menuPrincipal #menuPersonal {
    background-color: #0091d7; /**/
}
#menuPrincipal #menuConductas {
    background-color: #02b1b0; /**/
}
#menuPrincipal #menuCuestionarios {
    background-color: #5ab921; /**/
}
#menuPrincipal #menuPeriodos {
    background-color: #fbbf00; /**/
}
#menuPrincipal #menuCriterios {
    background-color: #f65923; /**/
}
#menuPrincipal #menuRelaciones {
    background-color: #ff4997; /**/
}
#menuPrincipal #menuEvaluaciones {
    background-color: #468faf;
}
#menuPrincipal #menuReporte360 {
    background-color: #ff3939;
}
#menuPrincipal #menuAvances {
    background-color: purple;
}

#menuPrincipal #menuPersonal, #menuConductas, #menuCuestionarios, #menuPeriodos, #menuCriterios, #menuRelaciones, #menuRelaciones, #menuEvaluaciones, #menuReporte360, #menuAvances {
    display: none;
}
/* END: FUNCIONALIDAD MENU */

/* GENERAL */
body {
    background-color: whitesmoke;
}

.seccion {
    padding: 15px 25px 15px 25px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 4px 4px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.no-gutter {
    padding: 0px 0px 0px 0px; /* BOOTSTRAP COLS - modifica los cols-xx-xx, sin padding para crear las áreas (secciones) */
}
/* END: GENERAL */

/* TABLA */
.table thead {
    background-color: #343a40;
    color: white;
    border-color: #454d55;
    font-size: 12px;
}

.table th {
    font-weight: 500;
}

.form-control[disabled] {
    background-color: #fff;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #fff;
}
/* END: TABLA */