<link href="~/Content/style/css/Genericos/_authPanel.css" rel="stylesheet" />
<div id='mdlPanelAuth' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'>Autorización</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                <div id="divAuthPanel">
                        <fieldset class='fieldset-custm text-center'>
                        <legend class='legend-custm'><i class="fa fa-home"></i> Reporte</legend>
                            <iframe id="report" align="middle" marginwidth="0" marginheight="0"  hspace="0" vspace="0" frameborder="0" scrolling="no" class="StyleIframe"></iframe>
                        </fieldset>
                        <fieldset class='fieldset-custm'>
                            <legend class='legend-custm'><i class="fa fa-user"></i> Autorizantes</legend>
                            <div id="divAutorizantes" class="flex-container text-center"></div>
                            <label id="lblAuthMessage"></label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning btnGenericAuthPanel' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Genericos/_authPanel.js"></script>