<link href="~/Content/style/css/FileManager/Webix.css" rel="stylesheet" />
<link href="~/Content/style/css/FileManager/FileManager.css" rel="stylesheet" />

<script src="~/Scripts/js/FileManager/FileManager/WebixCore.js"></script>
<script src="~/Scripts/js/FileManager/GuardadoParcial/GuardadoParcial.js"></script>

<style>
    .webix_popup {
        z-index: 1051 !important;
    }
</style>

<div hidden id="noAcceso" class="row text-center">
    <h2 class="label label-danger">Sin acceso</h2>
    <p>Este usuario no cuenta con los permisos suficientes para utilizar el gestor de archivos.</p>
</div>
<div id="webix-area">
</div>
<div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 footer">
    <div>
        <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar_Gestor">
            <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalCancelar" data-dismiss="modal">
            <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
        </button>
    </div>
</div>