<link href="~/Content/style/css/Principal/_mdlAceptaRechaza.css" rel="stylesheet"/>
<div id='mdlAceptarRechazar' class='modal fade' data-backdrop="false">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <div class="modal-titulo">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <label id="mdltxtTitulo" class='modal-title'></label>
                </div>
            </div>
            <div class='modal-body text-center'>
                <label id="mdltxtMensaje"></label>
            </div>
            <div class='modal-footer'>
                <button id="mdlbtnCancelar" type='button' class='btn btn-cancel' data-dismiss='modal'><i class='fa fa-arrow-left'></i> Cancelar</button>
                <button id='mdlbtnAceptar' type='button' class='btn btn-success' data-dismiss='modal'><i class='fa fa-check'></i> Aceptar</button>
            </div>
        </div>
    </div>
</div>