<div id="dialogAlertaMantenimiento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button id="btnCerrarDialogoAlerta" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="dialogAlertaTitle">Alerta</h4>
            </div>
            <div class="modal-body">
                <h5 id="dialogAlertaMessage" style="  white-space: pre-line;"></h5>
            </div>
            <div class="modal-footer bg-warning">
                
                <a id="btnAceptarAlerta" data-dismiss="modal" class="btn btn-primary btn-sm" data-loading-text="Procesando..."><span class="glyphicon glyphicon-ok"></span>Aceptar</a>
            </div>
        </div>
    </div>
</div>
<div style="float: left; width: 400px; height: 200px; margin: 0;display:none;">
    <p style="float: left;" id="lblDetallesAlerta"></p>
</div>