@{
    ViewBag.Title = "ErrorDescarga";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    var mensaje = (string)ViewBag.mensajeErrorDescarga;
}

<div class="row text-center margin-top">
    <h2>No se procesó el archivo <i class="fas fa-exclamation-triangle"></i></h2>
    <h4>@mensaje.</h4>
</div>
