@{
    var resolution = new SIGOPLAN.Controllers.BaseController();
}
@*<div id="reportViewerModal" title="Reporte" style="display:none;">
    <div class='myIframe' style="display:none; z-index:9999;">
        <iframe id="report" style="background-color:#676768" align="middle"></iframe>
    </div>
</div>*@

<script type="text/javascript">
        $(document).ready(function () {
            $("#btnCrvReporteEstandarCerrar").click(function (e) {
                e.preventDefault();
                $("body").css("overflow", "auto");
                $("#reportViewerModal").css("width", "0%");
                $("#reportViewerModal").css("height", "0%");
            });
        });
</script>

<div id="reportViewerModal" class='myIframe' style="z-index:9999; position:absolute;top:5px;left:0px;width:0%;height:0%;">
    <button id="btnCrvReporteEstandarCerrar" class="btn btn-primary btn-sm" style="position:absolute;top:-5px;right:1px;z-index:1;">Cerrar</button>
    <iframe id="report" style="background-color:#676768" align="middle"></iframe>
</div>
