<div id="dialogSesionTimeout" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogSesionTitle">La sesión esta apunto de expirar</h4>
            </div>
            <div class="modal-body">
                <h5 id="dialogSesionMessage"></h5>
                <h5>¿Desea continuar conectado?</h5>
            </div>
            <div class="modal-footer">
                <a id="btnContinuarSesion" data-dismiss="modal" class="btn btn-primary btn-sm" data-loading-text="Procesando..."><span class="glyphicon glyphicon-ok"></span> Continuar</a>
                <a id="btnLogOut" data-dismiss="modal" class="btn btn-primary btn-sm" data-loading-text="Procesando..."><span class="glyphicon glyphicon-remove"></span> Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
<div style="float: left; width: 400px; height: 200px; margin: 0;display:none;">
    <p style="float: left;" id="lblDetallesSession"></p>
</div>