@{
    ViewBag.Title = "Gestión de Actos y Condiciones Inseguras";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/ActoCondicion/ActoCondicion.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Administrativo/ActoYCondiciones.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center margin-top">
                <h2>Actos y Condiciones</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros</legend>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Centro Costo</label>
                        <select class="form-control select2" id="comboCC"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Fecha</label>
                        <div class='input-group'>
                            <input id="inputFechaInicio" class="form-control" />
                            <span class='input-group-addon'></span>
                            <input id="inputFechaFin" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Supervisor</label>
                        <select class="form-control select2" id="comboSupervisor"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Departamento</label>
                        <select class="form-control select2" id="comboDepartamento"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Estatus</label>
                        <select class="form-control select2" id="comboEstatus"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Clasificación</label>
                        <select class="form-control select2" id="comboFiltroClasificacion"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Subclasificación departamento</label>
                        <select class="form-control select2" id="comboFiltroSubclasificacionDepartamento"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary form-control" id="botonBuscar">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12">
            <fieldset class="fieldset-custm">
                <div class="row">
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-primary form-control" id="botonAgregar">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>

                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-success form-control" id="botonCargaZip">
                            <i class="fas fa-plus"></i> Cargar zip
                        </button>
                    </div>

                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-info form-control" id="botonDescargarReporteExcel">
                            <i class="fas fa-file-contract"></i> Descargar reporte
                        </button>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tablaRiesgos" class="table stripe compact nowrap" style="width:99%;"></table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal fade" id="modalActoCondicion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3><i class="fas fa-exclamation-trinagle"></i> Acto / Condición</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                        <div id="divRadioOpciones" class="btn-group btnGroup2">
                            <a class="btn btn-primary active" option=1>
                                <i class="fas fa-user-alt"></i> Acto
                            </a>
                            <a class="btn btn-primary" option=2>
                                <i class="fas fa-house-damage"></i> Condición
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom" id="divRadioTipoActo">
                        <div class="btn-group btnGroup2">
                            <a class="btn btn-primary active" option=1>
                                <i class="fas fa-user-times"></i> Inseguro
                            </a>
                            <a class="btn btn-primary" option=2>
                                <i class="fas fa-user-check"></i> Seguro
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                        <div id="divChkEsContratista">
                            <input type="checkbox" id="chkEsContratista" data-on="Contratista" data-off="Construplan" data-width="100%" />
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Campos comunes -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="comboCCSuceso" class="form-label">Centro de Costo</label>
                        <select id="comboCCSuceso" name="comboCCSuceso" class="form-control select2 validarSelect" style="width: 100%"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="comboDepartamentoSuceso" class="form-label">Departamento</label>
                        <select name="comboDepartamentoSuceso" id="comboDepartamentoSuceso" style="width: 100%" class="form-control select2 validarSelect"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="inputFechaSuceso" class="form-label">Fecha Acto/Condición</label>
                        <input autocomplete="off" id="inputFechaSuceso" name="inputFechaSuceso" class="form-control validar" />
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label for="inputClaveSupervisor" class="form-label">Clave Supervisor</label>
                        <input type="number" name="inputClaveSupervisor" id="inputClaveSupervisor" placeholder="# Empleado" class="form-control validar" />
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="inputNombreSupervisor" class="form-label">Supervisor</label>
                        <input id="inputNombreSupervisor" name="inputNombreSupervisor" class="form-control validar nombreEmpleado" />
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="inputFechaInforme" class="form-label">Fecha Informe</label>
                        <input id="inputFechaInforme" name="inputFechaInforme" class="form-control validar" disabled />
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label for="inputClaveEmpleadoInformo" class="form-label">Clave Empleado Informó</label>
                        <input type="number" name="inputClaveEmpleadoInformo" id="inputClaveEmpleadoInformo" placeholder="# Empleado" class="form-control validar" />
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="inputNombreEmpleadoInformo" class="form-label">Nombre Empleado Informó</label>
                        <input type="text" name="inputNombreEmpleadoInformo" id="inputNombreEmpleadoInformo" class="form-control validar nombreEmpleado" />
                    </div>

                    <!-- TODO -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="comboSubclasificacionDepartamento" class="form-label">Subclasificación departamento</label>
                        <select name="comboSubclasificacionDepartamento" id="comboSubclasificacionDepartamento" style="width: 100%" class="form-control select2"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group" id="divDescargarImagenEvidencia">
                            <div class="row">
                                <div class="col-xs-8">
                                    <label class="form-label">Evidencia:</label>
                                    <button id="botonDescargarEvidencia" class="btn btn-primary btn-block">
                                        <i class="fas fa-file-download"></i> Descargar
                                    </button>
                                </div>

                                <div class="col-xs-4">
                                    <label class="form-label">&nbsp;</label>
                                    <button id="botonVerImagenEvidencia" class="btn btn-primary btn-block">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <label for="inputDescripion" class="form-label">Descripción Acto/Condición</label>
                        <textarea id="inputDescripion" class="validar form-control" name="inputDescripion" rows="3"></textarea>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="comboClasificacion" class="form-label">Clasificación</label>
                        <select id="comboClasificacion" name="comboClasificacion" class="form-control select2 validarSelect" style="width: 100%"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label class="text-center">Procedimiento</label>
                        <select id="comboProcedimientoViolado" class="form-control select2 validarSelect" style="width: 100%"></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label class="text-center">Nivel de Prioridad</label>
                        <select id="comboNivelPrioridad" class="form-control validarCondicionSelect" style="width: 100%" disabled></select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label class="text-center">Clasificación General</label>
                        <select id="comboClasificacionGeneral" class="form-control validarCondicionSelect" style="width: 100%"></select>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div id="divActo">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <label for="inputClaveEmpleado" class="form-label">Clave Empleado</label>
                                    <div class="input-group">
                                        <input type="number" name="inputClaveEmpleado" id="inputClaveEmpleado" placeholder="# Empleado" class="form-control" />
                                        <span class="input-group-btn">
                                            <button id="botonVerHistorial" class="btn btn-primary" title="Ver historial de actos del empleado">
                                                <i class="fas fa-history"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <label for="inputNombreEmpleado" class="form-label">Nombre Empleado</label>
                                    <input type="text" name="inputNombreEmpleado" id="inputNombreEmpleado" class="form-control validarActo nombreEmpleado" />
                                </div>

                                <div class="col-md-5 col-sm-4 col-xs-12">
                                    <label for="inputPuestoEmpleado" class="form-label">Puesto Empleado:</label>
                                    <input id="inputPuestoEmpleado" name="inputPuestoEmpleado" class="form-control validarActo" disabled />
                                </div>

                                <div id="divFechaIngreso" class="col-md-3 col-sm-4 col-xs-8">
                                    <label for="inputFechaIngreso" class="form-label">Fecha Ingreso</label>
                                    <input autocomplete="off" id="inputFechaIngreso" name="inputFechaIngreso" class="form-control" disabled />
                                </div>

                                <div class="col-md-5 col-sm-4 col-xs-12" id="divContratista">
                                    <label for="comboContratista" class="form-label">Contratista:</label>
                                    <select type="text" name="comboContratista" id="comboContratista" class="form-control select2" style="width: 100%"></select>
                                </div>
                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="inputTipoInfraccion" class="form-label">Tipo infracción:</label>
                                    <div class="input-group">
                                        <input type="text" id="inputTipoInfraccion" name="inputTipoInfraccion" class="form-control validarActo" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" id="btnTipoInfraccion"><i class="fas fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <label for="comboAccion" class="form-label">Acción:</label>
                                    <select id="comboAccion" name="comboAccion" class="form-control validarActoSelect" style="width: 100%" disabled></select>
                                </div>

                                <div class="col-sm-12">
                                    <label for="inputTipoInfraccionDescripcion" class="form-label">Descripción de la infracción:</label>
                                    <textarea id="inputTipoInfraccionDescripcion" name="inputTipoInfraccionDescripcion" class="form-control" disabled></textarea>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="inputNivelInfraccion" class="form-label">Nivel de la infracción</label>
                                    <input type="text" id="inputNivelInfraccion" name="inputNivelInfraccion" class="form-control" disabled />
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="inputNumeroFalta" class="form-label">Número de falta</label>
                                    <input type="text" id="inputNumeroFalta" name="inputNumeroFalta" class="form-control" disabled />
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="inputNivelInfraccionAcumulada" class="form-label">Nivel acumulado</label>
                                    <input type="text" id="inputNivelInfraccionAcumulado" name="inputNivelInfraccionAcumulada" class="form-control" disabled />
                                </div>

                                <div class="col-sm-12" id="divContactoPersonal" style="display:none;">
                                    <br />
                                    <label class="form-label">Causado por</label>
                                    <br />
                                    <div class="row" id="causas">
                                    </div>
                                    <br />
                                    <label class="form-label">Acciones Correctivas</label>
                                    <br />
                                    <div class="row" id="acciones">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <br />
                                    <label for="inputCompromiso" class="form-label">Compromiso Personal</label>
                                    <textarea id="inputCompromiso" class="form-control" name="inputCompromiso" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div id="divCondicion">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Imagen Antes</label>
                                        <div id="divImagenAntes">
                                            <input type="file" name="inputImagenAntes" id="inputImagenAntes" accept="application/pdf, image/*" class="form-control" />
                                        </div>

                                        <div id="divDescargarImagenAntes">
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <button id="botonDescargarImagenAntes" class="btn btn-primary btn-block">
                                                        <i class="fas fa-file-download"></i> Descargar
                                                    </button>
                                                </div>

                                                <div class="col-xs-3">
                                                    <button id="botonVerImagenAntes" class="btn btn-primary btn-block">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Imagen Después</label>
                                        <div id="divImagenDespues">
                                            <input type="file" name="inputImagenDespues" id="inputImagenDespues" accept="application/pdf, image/*" class="form-control" />
                                        </div>

                                        <div id="divDescargarImagenDespues">
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <button id="botonDescargarImagenDespues" class="btn btn-primary btn-block">
                                                        <i class="fas fa-file-download"></i> Descargar
                                                    </button>
                                                </div>

                                                <div class="col-xs-3">
                                                    <button id="botonVerImagenDespues" class="btn btn-primary btn-block">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <div class="form-group">
                                                        <label for="inputFechaResolucion" class="form-label">Fecha Resolución</label>
                                                        <input type="text" id="inputFechaResolucion" name="inputFechaResolucion" class="form-control" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12" id="divAccionCorrectiva" style="display:none;">
                                    <label for="inputAccionCorrectiva" class="form-label">Acción correctiva</label>
                                    <textarea id="inputAccionCorrectiva" class="form-control" name="inputAccionCorrectiva" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row" id="divFirmas" style="display:none;">
                    <div class="col-xs-12">
                        <label>Firmas</label>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button class="btn btn-info btn-block" id="btnFirmaEmpleado">Empleado</button>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button class="btn btn-info btn-block" id="btnFirmaSupervisor">Supervisor</button>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button class="btn btn-info btn-block" id="btnFirmaSST">SST</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>
                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCargarActa" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Carga de acta</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="form-label">Acta</label>
                            <input type="file" name="inputActa" id="inputActa" accept="application/pdf, image/*" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="btnGuardarActa">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CREAR ACTO/CONDICION CON CARGA EXCEL -->
<div id='mdlCargarZip' class='modal fade' role='dialog'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Cargar zip</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class="col-xs-12">
                        <input type="file" id="inputArchivoZip" class="form-control" accept=".zip" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <button id="btnDescargarFormato" type="button" class="btn btn-info"><i class="fas fa-file-download"></i> Descargar formato</button>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'><i class="fas fa-undo"></i> Cerrar</button>
                <button id="btnGuardarZip" type='button' class='btn btn-success'><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR ACTO/CONDICION CON CARGA EXCEL -->

<div id="divFirmaFull">
    <input type="text" class="form-control" id="claveDelQueFirma" disabled />
    <input type="text" class="form-control" id="nombreDelQueFirma" disabled />
    <button class="btn btn-default" id="btnCancelarFirma">Cancelar</button>
    <button class="btn btn-success" id="btnGuardarFirma"><i class="far fa-save"></i> Guardar firma</button>
    <canvas id="canvasFirmaFull"></canvas>
</div>

@Html.Action("_visorGrid")

@Html.Partial("reportViewerView", false)

<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/style/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/style/jquery-ui.theme.min.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/SignaturePaD/signature_pad.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/ActoCondicion/ActoCondicion.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>