<div class="modal" id="modalPrint" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body p-2 m-2">
                <iframe id="printFrame" style="width:100%;height:300px" src=""></iframe>
            </div>

        </div>
        <!--/.Content-->

    </div>
</div>