@{
    ViewBag.Title = "Activos";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
    var idEmpresa = new SIGOPLAN.Controllers.Principal.HomeController();
}


<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/default/easyui.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<!-- <link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" /> -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<!-- <link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' /> -->


<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Activos.js"></script>
<script src="~/Scripts/Utilities/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<input class="hidden" id="idEmpresa" value="@idEmpresa.getEmpresaID()" />

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Reporte Activos</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Centro Costos:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Columnas Visibles: </label>
            <select class="form-control no-padding" multiple="multiple" id="cboColumnas">
                <option value="Todos">Todos</option>
                <option value="9">REQUISICION</option>
                <option value="10">@(idEmpresa.getEmpresaID() == 6 ? "DNI" : "NSS") </option>
                <option value="11">RESPONSABLE DE CC</option>
                <option value="12">SALARIO BASE</option>
                <option value="13">COMPLEMENTO</option>
                <option value="14">BONO ZONA</option>
                <option value="15">TOTAL MENSUAL</option>
                <option value="16">TOTAL NOMINAL</option>
                <option value="17">REG. PATRONAL</option>
                <option value="18">DOMICILIO</option>
                <option value="19">ESTADO NAC</option>
                <option value="20">CUIDAD NAC</option>
                <option value="21">FECHA NAC</option>
                <option value="22">EMAIL</option>
                <option value="23">TEL. CELULAR</option>
                <option value="24">TEL. CASA</option>
                <option value="25">CONTACTO EMERGENCIA</option>
                <option value="26">TELEFONO EMERGENCIA</option>
                <option value="27">SEXO</option>
                <option value="28">RFC</option>
                <option value="29">@(idEmpresa.getEmpresaID() == 6 ? "C.U.S.P.P" : "CURP")</option>
                <option value="30">ESTADO CIVIL</option>
                <option value="31">TIPO SANGRE</option>
                <option value="32">ALERGIAS</option>
                <option value="33">TIPO CASA</option>
                <option value="34">OCUPACION</option>
                <option value="35">NUM HIJOS</option>
                <option value="36">CONYUGE</option>
                <option value="37">TIPO CONTRATO</option>
                <option value="38">TALLA CAMISA</option>
                <option value="39">TALLA PANTALON</option>
                <option value="40">TALLA CALZADO</option>
                <option value="41">CIUDAD CONTACTO</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
            <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1" style="display:none;">
            <button type="button" class="btn btn-info margin-top" id="btnImprimir">
                <span class="glyphicon glyphicon-print"></span> Exportar
            </button>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
            <div id="divGridContainer" class="scroll divPadding">
                <table id="tblActivos" class="table table-condensed table-hover table-striped text-center">
                    <!-- <thead class="bg-table-header">
                <tr>
                    <th data-column-id="cC" data-align="center" data-header-align="center" data-sortable="false">CC</th>
                    <th data-column-id="empleadoID" data-align="center" data-header-align="center" data-sortable="false">Cve. Emp.</th>
                    <th data-column-id="empleado" data-align="center" data-header-align="center" data-sortable="false">Empleado</th>
                    <th data-column-id="puesto" data-align="center" data-header-align="center" data-sortable="false">Puesto</th>
                    <th data-column-id="tipo_nomina" data-align="center" data-header-align="center" data-sortable="false">Tipo Nomina</th>
                    <th data-column-id="nss" data-align="center" data-header-align="center" data-sortable="false">NSS</th>
                    <th data-column-id="fechaAltaRe" data-align="center" data-header-align="center" data-sortable="false">Fecha de Alta</th>
                </tr>
            </thead> -->

                </table>
            </div>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="myChart" height="200" width="590"></canvas>
        </div>
    </div>
</div>

<!-- MODAL ADD PUESTO -->
<div id='mdlHijxs' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>HIJXS</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <table id="tblHijxs" class="table table-hover table-sm table-bordered compact" style="width:100%;">
                    </table>
                </div>
            </div>
            <div class='modal-footer'>
                <!-- <button type='button' class='btn btn-success' id="btnAddPuesto"><i class="far fa-edit"></i>&nbsp;Añadir</button> -->
                <button type='button' class='btn btn-default' data-dismiss='modal'><i
                        class='fa fa-arrow-left'></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL ADD PUESTO -->

@Html.Partial("reportViewerView", false)

