
@{
    ViewBag.Title = "Altas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/default/easyui.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Altas.js"></script>
<script src="~/Scripts/Utilities/jquery.ui.datepicker-es.js"></script>

<div class="row">
    <h2 class="text-center">Reporte Altas</h2>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>Centro Costos:</label>
                <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-6 no-padding">
                    <label for="fechaIni">Fecha Inicio:</label>
                    <input type="text" id="fechaIni" class="form-control" />
                </div>
                <div class="col-lg-6 no-padding-right">
                    <label for="fechaFin">Fecha Fin:</label>
                    <input type="text" id="fechaFin" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnImprimir">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </button>
            </div>
        </fieldset>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <div id="divGridContainer" class="scroll divPadding">
                <table id="tblData" class="table table-condensed table-hover table-striped text-center">
                    <!-- <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="cCdes" data-align="center" data-header-align="center" data-sortable="false">CC</th>
                            <th data-column-id="empleadoID" data-align="center" data-header-align="center" data-sortable="false">Cve. Empleado</th>
                            <th data-column-id="empleado" data-align="center" data-header-align="center" data-sortable="false">Empleado</th>
                            <th data-column-id="puesto" data-align="center" data-header-align="center" data-sortable="false">Puesto</th>
                            <th data-column-id="tipo_nomina" data-align="center" data-header-align="center" data-sortable="false">Tipo Nomina</th>
                            <th data-column-id="nss" data-align="center" data-header-align="center" data-sortable="false">NSS</th>
                            <th data-column-id="jefeInmediato" data-align="center" data-header-align="center" data-sortable="false">Jefe Inmediato</th>
                            <th data-column-id="fechaAltaStr" data-align="center" data-header-align="center" data-sortable="false">Fecha Alta</th>
                            <th data-column-id="antiguedad" data-align="center" data-header-align="center" data-sortable="false">Antiguedad</th>
                            <th data-column-id="nombre_corto" data-align="center" data-header-align="center" data-sortable="false" >Registro Patronal</th>
                            <th data-column-id="salario_baje" data-align="center" data-header-align="center" data-sortable="false" data-visible="false">Salario Base</th>
                            <th data-column-id="complemento" data-align="center" data-header-align="center" data-sortable="false" data-visible="false">Complemento</th>
                            <th data-column-id="bono_zona" data-align="center" data-header-align="center" data-sortable="false" data-visible="false">Bono de Zona</th>
                        </tr>
                    </thead> -->

                </table>
            </div>

        </fieldset>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Grafica por CC</legend>
            <canvas id="myChart" height="200" width="590"></canvas>
        </fieldset>
    </div>
</div>


@Html.Partial("reportViewerView", false)

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
