@{
    ViewBag.Title = "Bajas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script>
    var _GSeleccionar = true;
</script>
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/LayoutBajas.js"></script>
<div class="row">
    <h2 class="text-center">Layout Bajas</h2>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label>Centro Costos:</label>
                <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label>Concepto:</label>
                <select class="form-control no-padding" multiple="multiple" id="cboConcepto"></select>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-6 no-padding">
                    <label for="fechaIni">Fecha Inicio:</label>
                    <input type="text" id="fechaIni" class="form-control" />
                </div>
                <div class="col-lg-6 no-padding-right">
                    <label for="fechaFin">Fecha Fin:</label>
                    <input type="text" id="fechaFin" class="form-control" />
                </div>
            </div>
            <div class="col-lg-1" style="text-align:center;">
                <label>Layout:</label><br />
                <input type="checkbox" id="chkTipo" style="transform: scale(2.5);" checked/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnImprimir">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </button>
            </div>
        </fieldset>
    </div>
</div>

<div class="row form-group">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <div>
                <div class="row">
                    <div class="col-lg-1 form-group pull-right" style="margin-right:75px;">
                        <button type="button" class="btn btn-info" id="btnSeleccionar">
                            <span class="glyphicon glyphicon-check"></span> Seleccionar Todos
                        </button>
                    </div>
                    <div class="col-lg-1 form-group pull-right">
                        <button type="button" class="btn btn-info" id="btnExportar">
                            <span class="glyphicon glyphicon-save-file"></span> Exportar
                        </button>
                    </div>

                </div>
                <div id="divGridContainer" class="scroll divPadding">
                    <table id="tblData" class="table table-condensed table-hover table-striped text-center">
                        <thead class="bg-table-header">
                            <tr>
                                <th data-column-id="cC" data-width="10%" data-align="center" data-header-align="center" data-sortable="false" data-searchable="false">CC</th>
                                <th data-column-id="empleadoID" data-width="10%" data-align="center" data-header-align="center" data-sortable="false" data-searchable="false">Cve. Empleado</th>
                                <th data-column-id="empleado" data-width="20%" data-align="center" data-header-align="center" data-sortable="false">Empleado</th>
                                <th data-column-id="concepto" data-width="20%" data-align="center" data-header-align="center" data-sortable="false" data-searchable="false">Concepto</th>
                                <th data-column-id="fechaAltaBaja" data-width="10%" data-align="center" data-header-align="center" data-sortable="false" data-searchable="false">Fecha Alta</th>
                                <th data-column-id="fechaBajaStr" data-width="10%" data-align="center" data-header-align="center" data-sortable="false" data-searchable="false">Fecha Baja</th>
                                <th data-column-id="recontratable" data-width="10%" data-align="center" data-header-align="center" data-sortable="false" data-searchable="false">Recontratable</th>
                                <th data-column-id="seleccion" data-width="10%" data-formatter="seleccion" data-align="center" data-sortable="false" data-searchable="false">Seleccione</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Grafica por CC</legend>
            <canvas id="myChart" height="200" width="590"></canvas>
        </fieldset>
    </div>
</div>
@Html.Partial("reportViewerView", false)






