
@{
    ViewBag.Title = "Cambios";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Cambios.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Reporte Cambios</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Centro Costos:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Empleado/s:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboEmpleado"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
            <label>Concepto:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboConcepto"></select>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-6 no-padding">
                <label for="fechaIni">Fecha Inicio:</label>
                <input type="text" id="fechaIni" class="form-control" />
            </div>
            <div class="col-lg-6 no-padding-right">
                <label for="fechaFin">Fecha Fin:</label>
                <input type="text" id="fechaFin" class="form-control" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
            <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
            <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnImprimir">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </button>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row" id="divFilstroBusqueda">
        <div class="col-sm-12" id="divGridContainer" class="scroll divPadding">
            <table id="tblData" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="cC" data-align="center" data-header-align="center" data-sortable="false">CC</th>
                        <th data-column-id="empleadoID" data-align="center" data-header-align="center" data-sortable="false">Cve. Empleado</th>
                        <th data-column-id="empleado" data-align="center" data-header-align="center" data-sortable="false">Empleado</th>
                        <th data-column-id="fechaCambioStr" data-align="center" data-header-align="center" data-sortable="false">Fecha Cambio</th>
                        <th data-column-id="cambios" data-align="center" data-header-align="center" data-sortable="false">Cambios</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="col-sm-12">
        <canvas id="myChart" height="200" width="590"></canvas>
    </div>
</div>

@Html.Partial("reportViewerView", false)






