@{
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}

@* <link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
    <link href="~/Content/style/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
    <link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
    <link href="~/Content/style/Sytle-Wizard.css" rel="stylesheet" />
    <link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
    <link href="~/Content/style/css/RecursosHumanos/Reclutamientos/AltaEmpleados.css" rel="stylesheet" />
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" /> *@
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/RecursosHumanos/Prestamos/Generales.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-12 text-center">
        <h3 class="mb5 mt5">CONFIGURACION</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-md-4">
            <label class="">Mensaje a mostrar:</label>
            <textarea class="form-control" id="inputDescripcionFinPeriodo" rows="3"></textarea>
        </div>
        <div class="col-md-3">
            <label class="">Fecha inicio:</label>
            <input type="text" class="form-control" id="FechaInicioPeriodo">
        </div>
        <div class="col-md-3">
            <label class="">Fecha fin:</label>
            <input type="text" class="form-control" id="FechaFinPeriodo">
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-success margin-top" id="btnGuardarConfiguracion"><i class="fas fa-save"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>

<div class="contendor mt10">
    <div class="row">
        <div class="col-lg-12">
            <table id="tblConfiguracionPrestamos" class="table table-condensed table-hover table-striped text-center"></table>
        </div>
    </div>
</div>

@* @Html.Partial("reportViewerView", false) *@

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
@* <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
    <script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script> *@
<script src="~/Scripts/Utilities/jquery.ui.datepicker-es.js"></script>
@* <script src="~/Scripts/sweetalert.min.js"></script> *@
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Prestamos.js"></script>
<script src='~/Scripts/select2.js'></script>