@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/css/RecursosHumanos/Prestamos/Generales.css" rel="stylesheet" />
<link href="~/Content/style/css/RecursosHumanos/Prestamos/DashboardPrestamos.css" rel="stylesheet" />
<link href='~/Content/style/Highcharts/highcharts.css' rel='stylesheet' />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h2>DASHBOARD</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- PANEL FILTROS -->
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTROS DE BÚSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="margin-top">
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="date" id="txtFiltro_FechaInicio" class="form-control">
                            </div>
                            <div class="col-lg-3">
                                <input type="date" id="txtFiltro_FechaFin" class="form-control">
                            </div>
                            <div class="col-lg-3">
                                <select id="cboFiltro_CC" class="select2 form-control" multiple="multiple"></select>
                            </div>
                            <div class="col-lg-3">
                                <button type='button' class='btn btn-default' id='btnFiltroBuscar' title="Buscar registros."><i class='fas fa-search'></i>&nbsp;Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->

            <!-- BODY CONTAINER -->
            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="graficaCantidadPrestamos"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="graficaCantindadTipoPrestamos"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BODY CONTAINER -->
        </div>
    </div>
</div>
<!-- END: CONTAINER -->

<!-- SCRIPTS -->
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/DashboardPrestamos.js"></script>
<script src='~/Scripts/Utilities/Highcharts/highcharts.js'></script>
<!-- END: SCRIPTS -->