@{
    ViewBag.Title = "Reportes dashboard";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/Reclutamientos/Solicitudes.css' rel='stylesheet' />
<link href='~/Content/style/css/Style-Reportes.css' rel='stylesheet' />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <!-- PUESTOS -->
    <br><br>
    <div class="panel-heading text-center">
        <h2>REPORTES DASHBOARD</h2>
    </div>
    
    <div class="row">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BUSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <!-- FILTROS -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="fechaIni">Fecha Inicio:</label>
                            <input type="date" id="fechaIni" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <label for="fechaFin">Fecha Fin:</label>
                            <input type="date" id="fechaFin" class="form-control" />
                        </div>
                        <div class="col-sm-5" style="margin-top: 25px;">
                            <div class="input-group">
                                <span class="input-group-addon">CC</span>
                                <select class="form-control" id="cboFiltroCC" multiple></select>
                            </div>
                        </div>
                        
                        <div class="pull-right">
                            <div class="col-sm-2" style="margin-top: 25px;">
                                <button type="button" class="btn btn-primary" id="btnFiltroBuscar">Buscar</button>
                                <!-- <button type="button" class="btn btn-success" id="btnFiltroNuevo">Nuevo</button> -->
                            </div>
                        </div>
                    </div>
                    <!-- END: FILTROS -->
                </div>
            </div>

            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">INDICADORES</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                    <div class="panel-body">
                                        <h5 class="text-muted fw-normal mt-0" title="Number of Customers">TOTAL ALTAS</h5>
                                        <h3 class="mt-3 mb-3"><span id="spanTotalAltas"></span></h3>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-sm-2">
                                <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                    <div class="panel-body">
                                        <h5 class="text-muted fw-normal mt-0" title="Number of Orders">TOTAL BAJAS</h5>
                                        <h3 class="mt-3 mb-3"><span id="spanTotalBajas"></span></h3>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-sm-2">
                                <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                    <div class="panel-body">
                                        <h5 class="text-muted fw-normal mt-0" title="Growth">TOTAL CAMBIOS</h5>
                                        <h3 class="mt-3 mb-3"><span id="spanTotalCambios"></span></h3>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-sm-2">
                                <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                    <div class="panel-body">
                                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">TOTAL ACTIVOS AL: <span id="spanFechaInicial"></span></h5>
                                        <h3 class="mt-3 mb-3"><span id="spanTotalActivosInicio"></span></h3>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-sm-2">
                                <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                    <div class="panel-body">
                                        <h5 class="text-muted fw-normal mt-0" title="Growth">TOTAL ACTIVOS AL: <span id="spanFechaFinal"></span></h5>
                                        <h3 class="mt-3 mb-3"><span id="spanTotalActivosFin"></span></h3>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-sm-2">
                                <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                    <div class="panel-body">
                                        <h5 class="text-muted fw-normal mt-0" title="Growth">ROTACION</h5>
                                        <h3 class="mt-3 mb-3"><span id="spanTotalRotacion"></span></h3>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div>
                    </div>
                </div>
            </div>

            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">ALTAS</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltas" class="panel panel-default panel-principal">
                                <div class="panel-heading">

                                </div>

                                <div class="panel-body">
                                    <div id="chartAltas"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="tblAltas" class="table table-hover compact" style="width:100%;">
                                            <tfoot>
                                                <tr>
                                                    <th colspan="1" style="text-align:right">Total:</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end div altas baja -->

            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">BAJAS</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">

                                </div>

                                <div class="panel-body">
                                    <div id="chartBajas"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="tblBajas" class="table table-hover compact" style="width:100%;">
                                            <tfoot>
                                                <tr>
                                                    <th colspan="1" style="text-align:right">Total:</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">

                                </div>

                                <div class="panel-body">
                                    <div id="chartMotivoBajas"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end div altas baja -->

            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">CAMBIOS</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div id="chartCambios"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="tblCambios" class="table table-hover compact" style="width:100%;">
                                            <tfoot>
                                                <tr>
                                                    <th colspan="1" style="text-align:right">Total:</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div id="chartTipoCambios"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelGraficasAltasBajas" class="panel panel-default panel-principal">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="tblTipoCambios" class="table table-hover compact" style="width:100%;">
                                            <tfoot>
                                                <tr>
                                                    <th colspan="1" style="text-align:right">Total:</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end div cambios -->
        </div>
    </div>
    <!-- END: SOLICITUDES -->
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODALES -->

<!-- END: MODALES -->

@Html.Partial("reportViewerView", false)

<!-- JS -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Dashboard.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>    
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>