@{
    ViewBag.Title = "Modificaciones";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Modificaciones.js"></script>
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<div class="row">
    <h2 class="text-center">
        Reporte Modificaciones a la Plantilla
    </h2>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label>Centro Costos:</label>
                <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label>Concepto:</label>
                <select class="form-control no-padding" multiple="multiple" id="cboConcepto">
                    <option value="A">Aditiva</option>
                    <option value="D">Deductiva</option>
                    <option value="J">Ajuste</option>
                </select>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-6 no-padding">
                    <label for="fechaIni">Fecha Inicio:</label>
                    <input type="text" id="fechaIni" class="form-control" />
                </div>
                <div class="col-lg-6 no-padding-right">
                    <label for="fechaFin">Fecha Fin:</label>
                    <input type="text" id="fechaFin" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnImprimir">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </button>
            </div>
        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <div id="divGridContainer" class="scroll divPadding">
                <table id="tblData" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="cC" data-align="center" data-header-align="center"
                                data-sortable="false">CC</th>
                            <th data-column-id="concepto" data-align="center" data-header-align="center"
                                data-sortable="false">Concepto</th>
                            <th data-column-id="puesto" data-align="center" data-header-align="center"
                                data-sortable="false">Puesto</th>
                            <th data-column-id="categoria" data-align="center" data-header-align="center"
                                data-sortable="false">Categoria</th>
                            <th data-column-id="cantidad" data-align="center" data-header-align="center"
                                data-sortable="false">Cantidad</th>
                            <th data-column-id="fechaStr" data-align="center" data-header-align="center"
                                data-sortable="false">Fecha</th>
                            <th data-column-id="solicitaID" data-align="center" data-header-align="center"
                                data-sortable="false">Cve. Solicita</th>
                            <th data-column-id="solicita" data-align="center" data-header-align="center"
                                data-sortable="false">Solicita</th>
                            <th data-column-id="observacion" data-align="center" data-header-align="center"
                                data-sortable="false">Observaciones</th>
                            <th data-column-id="autoriza" data-align="center" data-header-align="center"
                                data-sortable="false">Autoriza</th>
                        </tr>
                    </thead>

                </table>
            </div>

        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Grafica por CC</legend>
            <canvas id="myChart" height="200" width="590"></canvas>
        </fieldset>
    </div>
</div>
@Html.Partial("reportViewerView", false)






