@{
    ViewBag.Title = "Bajas";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}
<script>
    var _GSeleccionar = false;
</script>
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />

<script src="~/Scripts/js/Administrativo/RecursosHumanos/ReportesRH/Bajas.js"></script>
<script src="~/Scripts/Utilities/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Reporte Bajas</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Centro Costos:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Concepto:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboConcepto"></select>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-6 no-padding">
                <label for="fechaIni">Fecha Inicio:</label>
                <input type="text" id="fechaIni" class="form-control" />
            </div>
            <div class="col-lg-6 no-padding-right">
                <label for="fechaFin">Fecha Fin:</label>
                <input type="text" id="fechaFin" class="form-control" />
            </div>
        </div>
        <div class="col-lg-1" style="text-align:center;display:none;">
            <label>Layout:</label><br />
            <input type="checkbox" id="chkTipo" style="transform: scale(2.5);" />
        </div>
        <div class="col-md-3">
            <label>Estatus:</label>
            <select class="form-control no-padding" multiple="multiple" id="cboEstatus">
                <option value="Todos">Todos</option>
                <option value="1">AUTORIZADAS</option>
                <option value="2">PENDIENTES</option>
                <option value="3">LIBERADAS</option>
            </select>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-6 no-padding">
                <label for="fechaFiltroContaInicio">Fecha Liberacion Inicio:</label>
                <input type="text" id="fechaFiltroContaInicio" class="form-control" />
            </div>
            <div class="col-lg-6 no-padding-right">
                <label for="fechaFiltroContaInicio">Fecha Liberacion Fin:</label>
                <input type="text" id="fechaFiltroContaFin" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <label>Estatus:</label>
            <select class="form-control no-padding" id="cboTipoBajas">
                <option value="">--Seleccione--</option>
                <option value="0">REGULARES</option>
                <option value="1">ANTICIPADAS</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
            <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
            <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnImprimir" style="display:none;">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </button>
        </div>
    </div>
</div>

<div class="contenedor mt20" id="divFilstroBusqueda">
    <div class="row">
        <div class="col-sm-12">
            <div class="row" style="display:none;">
                <div class="col-lg-1 form-group pull-right" style="margin-right:75px;">
                    <button type="button" class="btn btn-info" id="btnSeleccionar">
                        <span class="glyphicon glyphicon-check"></span> Seleccionar Todos
                    </button>
                </div>
                <div class="col-lg-1 form-group pull-right">
                    <button type="button" class="btn btn-info" id="btnExportar">
                        <span class="glyphicon glyphicon-save-file"></span> Exportar
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="divGridContainer" class="scroll divPadding">
                <table id="tblBajas" class="table table-condensed table-hover table-striped text-center"></table>
            </div>
        </div>
    </div>
</div>

<div class="contenedor mt20">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="myChart" height="200" width="590"></canvas>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)
