@{
    Layout = null;
}

<link href="~/Content/style/FullCalendarV4/Core/main.css" rel="stylesheet" />

<style>
    .fc-other-month {
        color: #b6b6b6;
    }

    .fc-head {
        font-size:15px;
        font-weight: bold;
        color: white;
        background-color: #3556ae;
        border: none;
    }
    .fc th {
        border-style: none;
        height: 42px;
        vertical-align: middle;
    }

    #leyendaEventos ul {
        list-style: none;
        padding-left: 15px;
    }

    hr {
        border-top: 5px solid #51799b;
        border-radius: 3px 3px 0px 0px;
    }
</style>

<div class="row">
    <div class="col-sm-10 no-gutter">
        <div class="seccion">
            <hr />
            <div id="divCalendario"></div>
        </div>
    </div>
    <div class="col-sm-2 no-gutter">
        <div class="seccion">
            <hr />
            <div id="leyendaEventos">
                <label>Leyenda</label>
                <ul>
                    <li><i class="fas fa-square-full" style="color:#0561b0"></i> Proceso</li>
                    <li><i class="fas fa-square-full" style="color:#35b445"></i> Evaluación</li>
                    <li><i class="fas fa-square-full" style="color:#f1ce11"></i> Por terminar</li>
                    <li><i class="fas fa-square-full" style="color:#b63939"></i> Terminada</li>
                </ul>
            </div>
            <hr />
            <div id="divProximosEventos">
                <label>Próximos eventos</label>
                <ul id="listaProximosEventos"></ul>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment-with-locales.js"></script>

<script src="~/Scripts/Utilities/FullCalendarV4/Core/main.js"></script>
<script src="~/Scripts/Utilities/FullCalendarV4/Core/locales-all.js"></script>
<script src="~/Scripts/Utilities/FullCalendarV4/Daygrid/main.js"></script>
<script src="~/Scripts/Utilities/FullCalendarV4/Interaction/main.js"></script>
<script src="~/Scripts/Utilities/FullCalendarV4/Moment/main.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Desempeno/_Calendario.js"></script>