@{
    Layout = null;
}

<link href="~/Content/style/css/RecursosHumanos/Desempeno/_FormPesos.css" rel="stylesheet" />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />

<div class="row">
    <div class="col-sm-12">
        <label>Si desea cambiar el peso de las metas, ingrese el nuevo valor en la caja respectiva</label>
    </div>
    <div class="col-sm-12">
        <h3 id="lblMetaPesoTotal"></h3>
    </div>
    <div class="col-sm-12">
        <i>El peso de todas las metas debe sumar 100%</i>
    </div>
    <div class="col-sm-12">
        <br />
        <div class='table-responsive'>
            <table id='tblMetaPeso' class='table table-striped' width='100%'>
                <thead class='bg-table-header'>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Desempeno/_FormPesos.js"></script>