@{
    Layout = null;
}
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/RecursosHumanos/Desempeno/_FormEmpleadosMeta.css" rel="stylesheet" />
<div class="col-xs-12 col-md-12 col-lg-12">
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Empleados</legend>
    <div class='table-responsive'>
        <table id='tblEmpleadosMeta' class='table table-fixed table-striped'>
            <thead class='bg-table-header'>
            </thead>
        </table>
    </div>
</fieldset>
</div>
<div id='mdlFormMetaEvaluar' class='modal fade-in' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Evaluación</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class="text-center"><h2 id="lblMetaEvaluarEmplNombre"></h2></div>
                    @Html.Partial("_FormMetaEvaluar")
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>
<div id='mdlFormPeso' class='modal fade-in' role='dialog'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Editar Pesos</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    @Html.Partial("_FormPesos")
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Desempeno/_FormEmpleadosMeta.js"></script>