@{
    Layout = null;
}
<link href="~/Content/style/css/RecursosHumanos/Desempeno/_FormMeta.css" rel="stylesheet" />

<div class='col-sm-12'>
    <label>Nombre</label>
    <input type='text' id='txtMetaNombre' class='form-control'>
</div>
<div class='col-sm-12'>
    <label>Estrategía</label>
    <select id='cboMetaEstrategia' class='form-control'></select>
</div>
<div class='col-sm-12'>
    <label>Descripción</label>
    <Textarea id='txtMetaDescripcion' class='form-control'></Textarea>
</div>
<div class='col-sm-3'>
    <label for='txtMetaPeso'>Peso</label>
    <div class='input-group'>
        <input type='text' id='txtMetaPeso' class='form-control text-right'>
        <span class='input-group-addon'>%</span>
    </div>
</div>
<div id='divMetaSemaforo' class='col-sm-12 margin-top'></div>
<div class="col-sm-7"></div>
<div class='col-sm-5 margin-top text-right'>
    <button id='btnMetaLimpiar' type='button' class='btn btn-info'><i class='fa fa-brush'></i> Limpiar</button>
    <button id='btnMetaGuardar' type='button' class='btn btn-primary' data-idusuario=""><i class='fa fa-save'></i> Guardar</button>
</div>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Desempeno/_FormMeta.js"></script>