@{
    Layout = null;
    
    var Base = new SIGOPLAN.Controllers.BaseController();
    var usuarioSesion = (Core.DTO.RecursosHumanos.Desempeno.UsuarioDTO)Session["usuarioDesempeño"];
}

<div class="col-md-12 col-lg-12 col-xlg-12">
    <h2 class="text-center">Módulo de Evaluación de Desempeño</h2>
    <br />
    @*<h3 class="text-center">Bienvenido <span style="font-weight:bold;">@Base.getUsuario().nombre</span></h3>*@
    <h3 class="text-center">Bienvenido <span style="font-weight:bold;">@usuarioSesion.Nombre</span></h3>
</div>