@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!--CSS-->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Rentabilidad/Kubrix.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Rentabilidad/Externos/rowGroup.dataTables.min.css" rel="stylesheet" />

<!-- -->
<h2 class="text-center">Guardar Corte Construplan    <i class="fas fa-cut"></i></h2>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros</legend>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
            <label>Tipo de corte:</label>
            <select id="cboTipoCorte" class="form-control" name="cboTipoCorte">
                <option value="0" selected>Semanal</option>
                <option value="1">Mensual</option>
            </select>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9 text-left'>
            <button id="botonBuscar" type='button' class="btn btn-primary margin-top pull-left"><i class="fas fa-search"></i> Cargar Balanza</button>
            <button id='botonGuardarCorte' type='button' class='btn btn-success margin-top pull-left' style="margin-left:15px;"><i class='fa fa-save'></i>   Guardar Corte</button>
            <button id='botonEnviarArchivos1' type='button' class='btn btn-success margin-top pull-left' style="margin-left:15px;"><i class='fa fa-envelope'></i>   Correo Semanal</button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm">
    <legend class="legend-custm" id="lblLegend">Balanza</legend>
    <div>
        <table id="tablaBalanza" class="table compact">
            <thead class="bg-table-header"></thead>
        </table>
    </div>
</fieldset>

<div id="modalConfirmacionCorte" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-fix modal-md">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body ajustar-texto">
                <h5 id="pMessage"></h5>
                <div class="row">
                    <div id="icon" class="col-md-2">
                        <span class="glyphicon glyphicon glyphicon-floppy-save" style="font-size:40px;" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10">
                        <h3 id="mensajeModalCorte">  </h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" id="btnConfirmacionGuardar" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
                <a data-dismiss="modal" id="btnConfirmacionCancelar" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Rentabilidad/GuardarCorteKubrixConstruplanJS.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script src="https://nightly.datatables.net/rowgroup/js/dataTables.rowGroup.js?_=6e799325be6f763b41c5c21989f76ec9"></script>

