
@{
    ViewBag.Title = "Kubrix";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!--CSS-->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Rentabilidad/Kubrix.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Rentabilidad/Externos/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="~/Scripts/js/Principal/Home/vendor/select2/select2.min.css" rel="stylesheet" />

<!-- -->
<h2 class="text-center">Reporte Kubrix Arrendadora    <i class='fas fa-hand-holding-usd'></i></h2>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros</legend>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center no-padding">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" style="padding-left:0;">
                        <label>Tipo Ejercicio:</label>
                        <select id="cbConfiguracion" class="text-center form-control" name="cbConfiguracion">
                            <option value="1">Actual</option>
                            <option value="0">Acumulado</option>
                            <option value="2">Personalizado</option>
                        </select>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center no-padding-right">
                        <label style="display:block;">Corte:</label>
                        <input class="text-center form-control" type="text" id="inputDiaInicio" autocomplete="off" placeholder="Inicio" style="width:49%; display:inline-block;">
                        <input class="text-center form-control" type="text" id="inputDiaFinal" autocomplete="off" placeholder="Fin" style="width:100%; display:inline-block;">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                    <label>División:</label>
                    <select id="comboDivision" class="form-control" name="comboDivision"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                    <label>Responsable:</label>
                    <select id="comboResponsable" class="form-control" name="comboResponsable"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-center no-padding">
                        <label>Area Cuenta:</label><br />
                        <span id="spanComboAC" class="form-control" style="position:absolute;">TODOS</span>
                        <select id="comboAC" class="form-control" name="comboAC" multiple="multiple" style=""></select>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center no-padding">
                        <button id="botonCatalogoCC" class="btn btn-primary margin-top" style="display:inline-block;"><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center no-padding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                    <label>Grupo Máquina:</label>
                    <select id="comboGrupoK" class="form-control" name="comboGrupo"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                    <label>Modelo Máquina:</label>
                    <span id="spanComboModeloK" class="form-control" style="position:absolute;max-width:91%">TODOS</span>
                    <select id="comboModeloK" class="form-control" name="comboAC" multiple="multiple" style=""></select>
                </div>

                <div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center'>
                    <label>Económico:</label>
                    <select id="cboMaquina" class="form-control" name="cboMaquina"></select>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center'>
                    <label>Intervalo:</label>
                    <select id="cboTipoIntervalo" class="form-control">
                        <option value="0">Semanal</option>
                        <option value="1">Mensual</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                    <button id="botonBuscar" class="btn btn-primary pull-left margin-top"><i class="fas fa-search"></i> Buscar</button>
                </div>

            </div>
        </div>
    </div>
</fieldset>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
        <div id="divTablaKubrixDivision">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right:2px !important;">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm" id="lblLegendDivision">División</legend>
                    <table id="tablaKubrixDivision" class="table hover row-border order-column w3-large tablaKubrix">
                        <thead class="bg-table-header"></thead>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="divTablaKubrixAreaCuenta" hidden>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right:2px !important;">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm" id="lblLegendAreaCuenta">Area Cuenta</legend>
                    <table id="tablaKubrixAreaCuenta" class="table hover row-border order-column w3-large tablaKubrix">
                        <thead class="bg-table-header"></thead>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="divTablaKubrixDetalle" hidden>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-right:2px !important;">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm" id="lblLegendDetalle">Detalles</legend>
                    <table id="tablaKubrixDetalle" class="table hover row-border order-column w3-large tablaKubrix">
                        <thead class="bg-table-header"></thead>
                    </table>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center" style="padding-left:2px !important;">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm" id="lblLegendDetalle">Gráfica</legend>
                    <label id="lbGraficaKubrix"></label>
                    <div id="graficaKubrix"></div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="modal fade2 fade" id="modalAnalisis" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1430px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3 id="tituloModal" style="color:white"></h3>
                </div>
            </div>
            <div class="modal-body">
                @Html.Action("Analisis", "Rentabilidad")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetallesK" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Detalles <i class="fas fa-list"></i></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <i class="fas fa-folder-tree"></i>
                        <button id="botonTablaSubCuenta" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaSubSubCuenta" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaDivision" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaAreaCuenta" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaConciliacion" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaEconomico" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaPoliza" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        <button id="botonTablaDetalle" class="btn btn-sm btn-primary" disabled><strong></strong></button>
                        
                    </div>
                </div>

                <div class="row margin-top" id="divTablaSubCuenta">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaSubCuenta" class="table hover row-border order-column compact" style="width:100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaSubSubCuenta">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaSubSubCuenta" class="table hover row-border order-column compact" style="width:100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaDivision">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaDivision" class="table hover row-border order-column compact" style="width: 100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaAreaCuenta">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaAreaCuenta" class="table hover row-border order-column compact" style="width: 100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaConciliacion">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaConciliacion" class="table hover row-border order-column compact" style="width: 100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaEconomico">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaEconomico" class="table hover row-border order-column compact" style="width: 100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaPoliza">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaPoliza" class="table hover row-border order-column compact" style="width: 100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
                <div class="row margin-top" id="divTablaDetalles">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table id="tablaDetalles" class="table hover row-border order-column compact" style="width: 100%">
                            <thead class="bg-table-header">
                            </thead>
                            <tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalConfirmacionCorte" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-fix modal-md">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body ajustar-texto">
                <h5 id="pMessage">
                </h5>
                <div class="row">
                    <div id="icon" class="col-md-2">
                        <span class="glyphicon glyphicon glyphicon-floppy-save" style="font-size:40px;" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10">
                        <h3 id="mensajeModalCorte">  </h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" id="btnConfirmacionGuardar" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
                <a data-dismiss="modal" id="btnConfirmacionCancelar" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCatalogoCC" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Catálogo de Centros de Costo <i class="fas fa-list"></i></h3>
                </div>
            </div>
            <div class="modal-body">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm" id="lblLegend">Centros de Costo</legend>
                    <div class="tablaCC">
                        <table id="tablaCC" class="table hover row-border order-column w3-large">
                            <thead class="bg-table-header"></thead>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a id="btnGuardarCC" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-save"></span> Guardar Cambios</a>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Rentabilidad/KubrixJS.js"></script>
<script src="~/Scripts/js/Maquinaria/Rentabilidad/Externos/bootstrap-toggle.min.js"></script>
<script src="~/Scripts/js/Principal/Home/js/bootstrap-tooltip.js"></script>
<script src="~/Scripts/js/Maquinaria/Backlogs/highcharts/highcharts.js"></script>
<script src="~/Scripts/js/Principal/Home/vendor/select2/select2.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Rentabilidad/Externos/highcharts-regression.js"></script>
<script src="~/aspnet_client/system_web/4_8_4075/crystalreportviewers13/js/external/date.js"></script>