@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet' />
<link href="~/Content/style/select2/select2.css" rel="stylesheet" />

<!--INICIO DE ESTILOS-->
<style>
    /*TABLAS*/
    table.dataTable {
        width: 100% !important;
    }

        table.dataTable tbody tr td, table thead tr th, table.dataTable, .dataTables_scrollBody {
            border: 0px solid #ffffff !important;
        }

            table.dataTable thead {
                font-size: 15px;
                background-color: #3556ae;
                color: white;
            }

    /*MODALES*/
    .modal-xl {
        width: 80%;
    }

    .modal-header {
        color: white;
        background: linear-gradient(40deg, #45cafc, #303f9f);
        border: none;
    }

        .modal-header .titleHeader {
            font-size: x-large;
            font-weight: bold;
        }

        .modal-header .modal-title {
            font-weight: bold;
        }

        .modal-header .modal-subtitle {
            margin-top: 0px;
            margin-bottom: 0px;
        }

    /*SELECT2*/
    .select2-container {
        width: 100% !important;
    }
</style>
<!--FINAL DE ESTILOS-->

<div class="col-sm-12">
    <center>
        <h3>Divisiones</h3><br>
    </center>
        
                
                <fieldset class='fieldset-custm'>
                    <legend class="legend-custm">Filtros:</legend>
               
               <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">CC:</span>
                        <select id="cmbCC"  class="form-control"></select>

                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Division:</span>
                        <select id="cmbDivision" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="col-md-3 ">
                        <button type="button" class="btn btn-primary" id="btnBuscar">
                            <i class="fas fa-search">&nbsp</i>Buscar
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" id="btnLimpiar">
                            <i class="fas fa-sync">&nbsp</i>Limpiar
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button"  data-toggle="modal" data-target="#mdlNuevaDivision" class="btn btn-primary" id="btnNuevoDivision">
                            <i class="fas fa-plus">&nbsp</i>Nuevo
                        </button>
                    </div>
                </div>
                
                    
             
                 </fieldset>
        <!-- END: CONTROLES DE FILTRO -->
        <br>
   
        <!-- LISTADO divisiones -->
        <fieldset class='fieldset-custm'>
            <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="tblAF_DxP_Divisiones_Proyecto" class="hover stripe order-column"></table>
                </div>
            </div>
        </div>
        </fieldset>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="tblAF_DxP_Divisiones_Proyecto" class="hover stripe order-column"></table>
                </div>
            </div>
        </div>
        <!-- END: LISTADO divisiones -->

        <!-- MODAL PARA REGISTRAR HORAS HOMBRE -->
        <div id="mdlNuevaDivision" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h1 class="modal-title"><i class="fa fa-dollar"></i>Nueva division</h1>
                    </div>
                    <div class="modal-body">
                        <!-- SECCION DE CONTROLES -->
                        <div class="seccion">
                            <div class="row" id="ocultarEditar">
                                <div class="col-lg-12">
                                    <div class="col-sm-3 col-lg-5">
                                        <div class="input-group">
                                         <span class="input-group-addon">Centro de costo:</span>
                                         <select id="cboCC" class="form-control">                                             
                                         </select>
                                            

                                        </div>
                                    </div>
                                        <div class="col-sm-3 col-lg-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Division:</span>
                                                <select id="cboDivision" class="form-control">
                                                    
                                                </select>
                                                

                                             </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Tipo:</span>
                        <select id="cboAdministrador" class="form-control">  
                            <option value="--Seleccione--">--Seleccione--</option>
                            <option value="true">Admin</option>
                            <option value="false">Obras</option>                            
                        </select>
                    </div>
                </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Regresar</button>
                            <button type="button" id="btnGuadarEditarDivisiones" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

<!--SCRIPTS-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>
<script src="~/Scripts/Utilities/select2/select2.min.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Maquinaria/Contratos/Divisiones_ProyectosJS.js"></script>
