@{
    ViewBag.Title = "Reporte Adeudo Insituticion Financiera.";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@* Styles CSS *@
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/select2/select2.css" rel="stylesheet" />

<style>
    .groupTr {
        background-color: black !important;
        color: white;
    }

    tr.group.totalAño {
        text-align: right;
    }
</style>

@Html.Partial("reportViewerView", false)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Reporte de Adedudo por institución Financiera</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros:</legend>
                <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Institución</span>
                        <select id="comboInstituciones" class="form-control" multiple></select>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Moneda:</span>
                        <select id="comboTipoMoneda" class="form-control" multiple>
                            @switch ((int)ViewBag.EmpresaActual)
                            {
                                case 1:
                                    <option value="1">Moneda Nacional(MXN)</option>
                                    <option value="2">Dolares(USD DLL)</option>
                                    break;
                                case 2:
                                    <option value="1">Moneda Nacional(MXN)</option>
                                    <option value="2">Dolares(USD DLL)</option>
                                    break;
                                case 3:
                                    break;
                                case 6:
                                    <option value="1">Moneda Nacional(SOL)</option>
                                    <option value="2">Dolares(USD DLL)</option>
                                    break;
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Año</span>
                        <select id="comboAnios" class="form-control" multiple></select>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Tipo Cambio:</span>
                        <input class="form-control" id="inputTipoCambio" type="number" />
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Tipo Arrendamiento:</span>
                        <select id="comboTipoArrendamiento" class="form-control" >
                            <option value="1">Arrendamiento Puro</option>
                            <option value="2">Arrendamiento Financiado</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" id="btnBusqueda">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" id="btnPrintReporte">
                            <i class="far fa-file-pdf"></i> Imprimir
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Moneda Nacional</legend>

            <div class="col-sm-12 mrgTop">
                <table id="tblReporteAdedudo" class="hover stripe order-column compact" style="width:100%">
                    <thead style="background: #E67E22;">
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Totales Por Meses:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Dolar</legend>
            <div class="col-sm-12 mrgTop">
                <table id="tblAdeudoDlls" class="hover stripe order-column compact" style="width:100%">
                    <thead style="background: #E67E22;">
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Totales Por Meses:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </fieldset>
    </div>
</div>


@* Zona JS *@
<script src="~/Scripts/Utilities/select2/select2.min.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Contratos/ReporteDeAdeudo.js"></script>