@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- STYLE -->
<style> 
    /*TABLAS*/
    table.dataTable {
        width: 100% !important;
    }
    table.dataTable tbody tr td, table thead tr th, table.dataTable, .dataTables_scrollBody {
        border: 0px solid #ffffff !important;
    }
    table.dataTable thead {
        font-size: 15px;
        background-color: #3556ae;
        color: white;
    }

    /*MODALES*/
    .modal-xl {
        width: 80%;
    }
    .disenioModal .modal-header {
        color: white;
        background: linear-gradient(40deg, #45cafc, #303f9f);
        border: none;
    }
    .disenioModal .modal-header .titleHeader {
        font-size: x-large;
        font-weight: bold;
    }
    .disenioModal .modal-header .modal-title {
        font-weight: bold;
    }
    .disenioModal .modal-header .modal-subtitle {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    @* #cboProyecto ul {
        width: 100%;
    } *@
</style>

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />

<fieldset class='fieldset-custm'>
    <!-- TITULO MODULO -->
    <h2 class="title-1 text-center">Reporte saldo pendiente por proyecto</h2>

    <!-- FILTROS -->
    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'>Filtros</legend>
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon" id="lblDivision">División</span>
                    <select class="form-control" id="cboDivision" aria-describedby="lblDivision" multiple="multiple"></select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="lblProyecto">Proyecto</span>
                    <select class="form-control" id="cboProyecto" aria-describedby="lblProyecto" multiple="multiple"></select>
                </div>
            </div>
            <div class="col-lg-2">
                <button id="btnBuscar" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp;Buscar</button>
            </div>
        </div>
    </fieldset><br>

    <!-- TABLA REPORTE -->
    <fieldset class='fieldset-custm'><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="tblAF_DxP_Divisiones_Proyecto" class="hover stripe order-column"></table>
                </div>
            </div>
        </div>
    </fieldset>

</fieldset>

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Contratos/ReporteSaldoPendienteProyecto.js"></script>
<script src='~/Scripts/sweetalert2@10.js'></script>
<script src="~/Scripts/moment-with-locales.js"></script>

<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>