@{
    ViewBag.Title = "Ajuste por diferencia cambiaria a documentos por pagar";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    var baseC = new SIGOPLAN.Controllers.BaseController();
}

<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Administrativo/DocumentosPorPagar/RevaluacionDxP.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">@baseC.getEmpresaNombre()</h1>
            <h2 class="text-center">AJUSTE POR DIFERENCIA CAMBIARIA A DOCUMENTOS POR PAGAR</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">Fecha valuación</div>
                                <input type="text" class="form-control" id="txtFechaFiltro" autocomplete="off" />
                            </div>
                        </div>

                        <div class="col-sm-4 pull-right">
                            <button class="btn btn-info pull-right" id="btnGenerarPoliza" style="display:none;">Generar Póliza</button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="tblDiferencia" class="hover stripe order-columna compact nowrap" style="width:100%">
                                    <tfoot>
                                        <tr>
                                            <th colspan="4">TOTAL</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalPoliza" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Póliza Generada</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tblPolizas" class="hover striple order-columna compact nowrap" style="width:100%">
                                <tfoot>
                                    <tr>
                                        <th colspan="9">Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarPoliza" class="btn btn-success"><i class="far fa-save"></i> Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Contratos/RevaluacionDxP.js"></script>