/* PANEL */
.panel-principal > div.panel-heading {
    background: linear-gradient(40deg, #e88640, #e88640) !important;
    border-color: #e88640;
    color: white;
}
.panel-principal {
    border-color: #e88640;
}

.panel-grafica > div.panel-heading {
    background-color: #e88640;
}
.panel-grafica > div.panel-heading h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#panelFiltro .panel-heading h4, .panel-principal .panel-heading h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-form-top {
    margin-top: 25px;
}
/* END: PANEL */

#panelFiltro {
    display: none;
}