@{
    ViewBag.Title = "ReporteAuxiliarEnkontrol";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/select2/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/ReportesContabilidad/ReportesContabilidad.css" rel="stylesheet" />
<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 no-gutter">
        <div class="seccion">
            <h3 class="col-sm-12 text-center">REPORTE AUXILIAR CONTABILIDAD</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 no-gutter">
        <div class="seccion">
            <h4 style="margin-top:0;font-weight:bold;width:500px;display:inline-block;"><i class='fas fa-filter'></i>&nbsp;&nbsp;&nbsp;Filtros</h4>
            <button id='btnBuscar' type='button' class='btn btn-primary pull-right botonTitulo'><i class='fa fa-search'></i> Buscar</button>
            <hr style="margin-bottom:5px" />
            <div class="col-sm-3 elementoFiltro">                
                <div class="col-sm-12 no-gutter text-align-center">
                    <label>Fecha:</label>
                    <hr class="hrFiltro" />
                </div>
                <div class="col-sm-6 no-gutter" style="display:inline-flex;">
                    <b class="textoFiltro">De:&nbsp;&nbsp;</b><input type="text" class="form-control" id="inputFechaInicio" />
                </div>
                <div class="col-sm-6 no-gutter" style="display:inline-flex;">
                    <b class="textoFiltro">&nbsp;&nbsp;A:&nbsp;&nbsp;</b><input type="text" class="form-control" id="inputFechaFin" />
                </div>
            </div>
            <div class="col-sm-6 elementoFiltro">
                <div class="col-sm-12 no-gutter text-align-center">
                    <label>Cuenta:</label>
                    <hr class="hrFiltro" />
                </div>
                <div class="col-sm-6 no-gutter" style="display:inline-flex;">
                    <b class="textoFiltro">De:&nbsp;&nbsp;</b><select class="form-control" id="comboCtaInicio"></select>
                </div>
                <div class="col-sm-6 no-gutter" style="display:inline-flex;">
                    <b class="textoFiltro">&nbsp;&nbsp;A:&nbsp;&nbsp;</b><select class="form-control" id="comboCtaFin"></select>
                </div>
            </div>
            <div class="col-sm-3 elementoFiltro">
                <div class="col-sm-12 no-gutter text-align-center">
                    <label>Area Cuenta:</label>
                    <hr class="hrFiltro" />
                </div>
                <div class="col-sm-12 no-gutter" style="display:inline-flex;">
                    <select class="form-control" id="comboAC" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 no-gutter">
        <div class="seccion">
            <h4 style="margin-top:0;font-weight:bold;width:500px;display:inline-block;"><i class='glyphicon glyphicon-usd'></i>&nbsp;&nbsp;&nbsp;Auxiliar</h4>
            <input id='inputTabla' type='text' class='filtroTabla form-control pull-right'><b class="textoFiltro pull-right">FILTRAR:&nbsp;&nbsp;</b>
            <button id='botonExcel' class="btn btn-primary pull-right botonTitulo" style="margin-right:10px;"><i class='fa fa-file-excel'></i>&nbsp;&nbsp;&nbsp;Excel</button>            
            <hr />
            <table id='tblAuxiliar' class='display compact'>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="11" style="text-align:right">Total:</th>
                        <th></th>
                        <th></th>
                        <th colspan="3"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/Utilities/select2/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/ReportesContabilidad/ReporteAuxiliarEnkontrol.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/Utilities/jquery.ui.datepicker-es.js"></script>

<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>