
@{
    ViewBag.Title = "Des-autorización";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Inventario/DesAutorizacion.js"></script>
<div class="container-fluid">
    <div class="row text-center">
        <h2>Des-Autorización de Solicitudes de Equipo</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Solicitudes Pendientes:</legend>
                <table id="tblSolicitudesPendientes" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="Folio" data-width="25%">Folio</th>
                            <th data-column-id="CCName" data-width="25%">Centro Costos</th>
                            <th data-column-id="UsuarioSolicitud" data-width="25%">Usuario Solicita</th>
                            <th data-column-id="Fecha" data-width="25%">Fecha</th>
                            <th data-column-id="VerSolicitud" data-searchable="false" data-formatter="VerSolicitud" data-sortable="false" data-width="25px">Ver Solicitud</th>
                            <th data-column-id="Cancelacion" data-searchable="false" data-formatter="Cancelacion" data-sortable="false" data-width="25px">DesAutorizar</th>
                        </tr>
                    </thead>
                </table>
            </fieldset>
        </div>
    </div>
</div>
@Html.Partial("reportViewerView", false)


<div class="modal fade" id="modalEliminarRegistro" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Des-autorizar Solicitud</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 form-group text-center">
                        <label>Usted esta desautorizando una solicitud de equipo</label>
                        <label>¿Desea Continuar con la operación?</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 form-group">
                            <div>
                                <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnEliminarRegistro">
                                    <span class="glyphicon glyphicon-ok"></span> Aceptar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-lock"></span> Cancelar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>