@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/RecursosHumanos/Mural/workspace.css" rel="stylesheet" />
<link href="~/Content/style/css/RecursosHumanos/Mural/MuralMain2.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Mural/workspace.js"></script>

<div class="box dashboard-container no-select">
    <div class="dashboard-satismeter-container">
        <button class="satismeter-close">x</button>
        <div class="satismeter-poll-container"><div></div></div>
    </div>
    <aside class="dashboard-sidebar">
        <div class="workspace-actions-with-callout">
            <div class="workspaces-actions workspace-admin" data-qa="team-actions">
                <div class="ui-accessible-menu light-theme">
                    <button type="button" tabindex="0">
                        <div class="workspace-trigger">
                            <div class="ui-avatar-workspace">
                                <div class="ui-avatar-container" data-qa="avatar"><img alt="" src="https://app.mural.co/avatar/testroom0308"></div>
                                <div class="ui-info-workspace" data-qa="workspace-title">
                                    Mural
                                    <div class="ui-tooltip-ellipsis"><div class="ui-tooltip-ellipsis-content"></div></div>
                                </div>
                            </div>
                            <div class="workspace-actions-arrow"><div class="m-dropdown-down"></div></div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="dashboard-sidebar-scrollable-zone" style="position: relative; overflow: hidden; width: 100%; height: 743px;">
            <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -6px; margin-bottom: -6px;">
                <div>
                    <div class="dashboard-sidebar-favorites-button">
                        <div data-qa="all-murals">
                            <a data-qa="all-murals" class="sidebar-button selected" href="#">
                                <div class="icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="17px" height="18px" viewBox="0 0 17 14" class="all-murals-icon"><path fill="#CCCCCC" d="M5,14H0v-4h5V14z"></path><path fill="#CCCCCC" d="M11,14H6v-4h5V14z"></path><path fill="#CCCCCC" d="M17,14h-5v-4h5V14z"></path><path fill="#CCCCCC" d="M5,9H0V5h5V9z"></path><path fill="#CCCCCC" d="M11,9H6V5h5V9z"></path><path fill="#CCCCCC" d="M17,9h-5V5h5V9z"></path><path fill="#CCCCCC" d="M5,4H0V0h5V4z"></path><path fill="#CCCCCC" d="M11,4H6V0h5V4z"></path><path fill="#CCCCCC" d="M17,4h-5V0h5V4z"></path></svg>
                                </div>
                                <span>Murales</span>
                            </a>
                        </div>
                    </div>
                    @*<div class="dashboard-sidebar-favorites-button">
                            <div data-qa="favorites">
                                <a data-qa="favorites" class="sidebar-button" href="/t/testroom0308/favorites">
                                    <div class="icon">
                                        <svg width="18px" height="18px" class="favorite-murals-icon"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group"><rect id="Rectangle-5" stroke="#CCCCCC" x="0.5" y="0.5" width="17" height="17"></rect><polygon id="star" fill="#CCCCCC" points="9.00055202 2 6.83662794 6.30120365 2 6.99279098 5.49981599 10.3396764 4.67454393 15.0670278 9.00055202 12.835169 13.3265601 15.0670278 12.500368 10.3396764 16.001104 6.99279098 11.1644761 6.30120365"></polygon></g></g></svg>
                                    </div>
                                    <span>Favorite murals</span>
                                </a>
                            </div>
                        </div>*@
                    @*<div data-qa="templates" class="hidden">
                        <a data-qa="templates" class="sidebar-button" href="/t/testroom0308/templates">
                            <div class="icon">
                                <svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="templates-icon"><path fill="#CCCCCC" d="M0,0v18h18V0H0z M17,17H1V1h16V17z"></path><rect fill="#CCCCCC" x="3" y="3" width="3" height="12"></rect><rect fill="#CCCCCC" x="8" y="3" width="7" height="5"></rect><rect fill="#CCCCCC" x="8" y="10" width="7" height="5"></rect></svg>
                            </div>
                            <span>Plantillas</span>
                        </a>
                    </div>*@
                </div>
            </div>
        </div>
    </aside><div class="dashboard-main-content">
        <div>
            <div class="all-murals">
                <div class="dashboard-routes-room-murals">
                    <div aria-label="" class="dashboard-rooms-hero" role="" title="" style="opacity: 1; animation: unset;">
                        <div class="mural-sorting-filters">
                            <div class="dropdown-control room-actions">
                                <div class="dropdown-title"><h1 class="dropdown-text">Murales propios</h1></div>
                            </div>
                            <div class="dashboard-grid-mural-sorting"></div>
                        </div>
                    </div>
                    <div class="dashboard-thumb-murals-list clsListadoMurales">
                        <span></span>
                        <ul class="clsMuralPropio" aria-label="all-murals">
                            <li class="dashboard-grid-cell cell-create-mural-button">
                                <button>
                                    <div aria-label="" class="" data-qa="create-mural-button" role="" title="">
                                        <div id="btnOpenCreateMural" class="circle-box"><span class="m m-btn-plus-slim"></span></div>
                                        <span class="button-title">Crear nuevo mural</span>
                                    </div>
                                </button>
                            </li>
                            @*<li class="dashboard-grid-cell cell-thumb clsMural">
                                <div aria-label="" class="dashboard-thumb thumb thumb-0" role="" title="" style="opacity: 1; animation: unset;">
                                    <a aria-label="Untitled mural" href="/Administrativo/Mural/Index?id=1" title="Untitled mural">
                                        <div class="thumb-image-link">
                                            <img class="thumb-image" alt="Untitled mural" src="https://murally.blob.core.windows.net/thumbnails/testroom0308/murals/testroom0308.1619046681924-6080b119cf2f0c036d62ead9-df548839-17d4-4c15-9372-a45772cfec1a.png?v=677f16be-152d-4c60-9e03-5a256c105d8e">
                                        </div>
                                    </a>    
                                    <div class="thumb-actions">
                                        <div class="ui-accessible-menu light-theme openmenu">
                                            <button type="button" data-qa="thumb-dropdown" tabindex="0">
                                                <div class="ui-dropdown-box-trigger"><div class="ui-dropdown-trigger"></div></div>
                                            </button>
                                        </div>
                                        <div class="ui-callout menu bottom middle tip-size-mid tip-end color-neutral menuacciones hidden">
                                            <span class="tip-safezone"></span>
                                            <ul class="ui-menu with-icons">
                                                <li class="icon">
                                                    <button data-qa="item-button-Archive" data-id="" type="button" tabindex="-1">
                                                        <i class="icon m-icon-check"></i>
                                                        <span class="item-label">Accesos</span>
                                                    </button>
                                                </li>
                                                <li class="icon">
                                                    <button data-qa="item-button-Duplicate" data-id="" type="button" tabindex="-1">
                                                        <i class="icon m-contextual-duplicate"></i>
                                                        <span class="item-label">Duplicar</span>
                                                    </button>
                                                </li>
                                                <li class="icon">
                                                    <button data-qa="item-button-Delete" data-id="" type="button" tabindex="-1">
                                                        <i class="icon m-contextual-trash-filled"></i>
                                                        <span class="item-label">Eliminar</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dashboard-grid-mural-info">
                                        <center>
                                            <div class="item data">
                                                <h3 class="thumb-title">
                                                    <input type="text" class="form-control input_mural clsMuralNombre" value="Texto" />
                                                </h3>
                                                <p>Modificado hace 21 horas</p>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </li>*@

                        </ul>
                    </div>
                </div>
                <div class="dashboard-routes-room-murals">
                    <div aria-label="" class="dashboard-rooms-hero" role="" title="" style="opacity: 1; animation: unset;">
                        <div class="mural-sorting-filters">
                            <div class="dropdown-control room-actions">
                                <div class="dropdown-title"><h1 class="dropdown-text">Murales donde participas</h1></div>
                            </div>
                            <div class="dashboard-grid-mural-sorting"></div>
                        </div>
                    </div>
                    <div class="dashboard-thumb-murals-list">
                        <span></span>
                        <ul class="clsMuralOtro" aria-label="all-murals">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_crear_mural" style="display:none;">
    <div data-reactroot="" class="dashboard-modals-fix">
        <div class="modals-create-mural">
            <div>
                <div class="ui-modal pos-top">
                    <div class="ui-backdrop visible"></div>
                    <div class="ui-modal-box">
                        <div class="ui-modal-content non-standard">
                            <div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div tabindex="1" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div data-focus-lock-disabled="false">
                                    <div>
                                        <button id="btnCloseCreateMural" class="ui-modal-close"></button>
                                        <h1>Crear nuevo mural</h1>
                                        <div class="content">
                                            <fieldset class="fieldset-custm" style="width:100%;">
                                                <legend class="legend-custm">Datos del mural:</legend>
                                                <div class="col-md-12 form-group">
                                                    <label>Nombre:</label>
                                                    <input class="form-control" type="text" id="txtMuralName" />
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <label>Descripción:</label>
                                                    <textarea style="width:100%;" id="txtMuralrDesc"></textarea>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <footer>
                                            <button id="btnCrearMural" class="ui-button-spinner" data-qa="create-mural"><span class="ui-text">Crear mural</span></button>
                                        </footer>
                                    </div>
                                </div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_duplicar_mural" style="display:none;">
    <div data-reactroot="" class="dashboard-modals-fix">
        <div class="modals-create-mural">
            <div>
                <div class="ui-modal pos-top">
                    <div class="ui-backdrop visible"></div>
                    <div class="ui-modal-box">
                        <div class="ui-modal-content non-standard">
                            <div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div tabindex="1" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div data-focus-lock-disabled="false">
                                    <div>
                                        <button id="btnCloseDuplicarMural" class="ui-modal-close"></button>
                                        <h1>Crear nuevo mural</h1>
                                        <div class="content">
                                            <fieldset class="fieldset-custm" style="width:100%;">
                                                <legend class="legend-custm">Datos del mural:</legend>
                                                <div class="col-md-12 form-group">
                                                    <label>Nombre:</label>
                                                    <input class="form-control" type="text" id="txtMuralDuplicarName" />
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <label>Descripción:</label>
                                                    <textarea style="width:100%;" id="txtMuralDuplicarDesc"></textarea>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <footer>
                                            <button id="btnDuplicarMural" class="ui-button-spinner" data-qa="create-mural"><span class="ui-text">Crear mural</span></button>
                                        </footer>
                                    </div>
                                </div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_eliminar_mural" style="display:none;">
    <div data-reactroot="" class="dashboard-modals-fix">
        <div class="modals-create-mural">
            <div>
                <div class="ui-modal pos-top">
                    <div class="ui-backdrop visible"></div>
                    <div class="ui-modal-box">
                        <div class="ui-modal-content non-standard">
                            <div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div tabindex="1" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div data-focus-lock-disabled="false">
                                    <div>
                                        <button id="btnCloseEliminarMural" class="ui-modal-close"></button>
                                        <h1>Crear nuevo mural</h1>
                                        <div class="content">
                                            <fieldset class="fieldset-custm" style="width:100%;">
                                                <legend class="legend-custm">Datos del mural:</legend>
                                                <div class="col-md-12 form-group">
                                                    <label>Nombre:</label>
                                                    <input class="form-control" type="text" id="txtMuralEliminarName" readonly/>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <footer>
                                            <button id="btnEliminarMural" class="ui-button-spinner" data-qa="create-mural"><span class="ui-text">Eliminar mural</span></button>
                                        </footer>
                                    </div>
                                </div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_permisos_mural" style="display:none;">
    <div data-reactroot="" class="dashboard-modals-fix">
        <div class="modals-create-mural">
            <div>
                <div class="ui-modal pos-top">
                    <div class="ui-backdrop visible"></div>
                    <div class="ui-modal-box">
                        <div class="ui-modal-content non-standard">
                            <div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div tabindex="1" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                                <div data-focus-lock-disabled="false">
                                    <div>
                                        <button id="btnClosePermisosMural" class="ui-modal-close"></button>
                                        <h1>Accesos mural</h1>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <fieldset class="fieldset-custm" style="width:100%;">
                                                        <legend class="legend-custm">Nuevo permiso<span></span></legend>
                                                        <div class="col-md-6 form-group">
                                                            <label>Usuario:</label>
                                                            <input class="form-control" type="text" id="txtPermisoUsuario" />
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <label>Tipo:</label>
                                                            <select class="form-control" id="cboTipoPermiso">
                                                                <option value="1">Facilitador</option>
                                                                <option value="2">Solo lectura</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1 form-group">
                                                            <label></label>
                                                            <button id="btnGuardarPermiso" class="ui-button-spinner" data-qa="create-mural"><span class="ui-text">Agregar</span></button>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <fieldset class="fieldset-custm" style="width:100%;">
                                                        <legend class="legend-custm">Nuevo permiso<span></span></legend>
                                                        <div class="col-md-12">
                                                            <table id="tblDataUsuariosPermiso" class="display bg" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Usuario</th>
                                                                        <th>Permiso</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 0px; left: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

