@{
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/Sytle-Wizard.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Utilities/wizardjs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/Maquinaria/Movimientos/Solicitud.js")"></script>

<div class="row">
    <div class="text-center">
        <h2>Solicitudes de maquinaria</h2>
    </div>
</div>


<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-circle btn-default btn-primary">1</a>
                <p>Paso 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Paso 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Finalizar</p>
            </div>
        </div>
    </div>
    <div class="setup-content" id="step-1">
        <form id="frmSolicitud">


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group-custum">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">Generales :</legend>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                            <label>Folio Solicitud:</label>
                            <input class="form-control" type="text" id="txtFolio" placeholder="000001" disabled />
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                            <label>Centro de Costos:</label>
                            <input class="form-control" type="text" id="txtCC" />
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
                            <label>Fecha Elaboro:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-calendar" id="sizing-addon2"></span>
                                <input type="text" disabled class="form-control" aria-describedby="sizing-addon2" id="txtDateTime">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group-custum">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">
                            Datos Maquinaria:
                        </legend>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                            <label>Tipo Maquinaria:</label>
                            <select class="form-control" id="slTipoM">
                                <option value="0">Seleccione una opción:</option>
                                <option value="1">Equipo de Transporte</option>
                                <option value="2">Equipo Menor</option>
                                <option value="3">Equipo Mayor</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                            <label>Grupo Maquinaria:</label>
                            <select class="form-control" id="slGrupoM">
                                <option value="0">Seleccione una opción</option>
                                <option class="EquipoTransporte" value="1">PIPA DIESEL </option>
                                <option class="EquipoTransporte" value="2">PICK UP </option>
                                <option class="EquipoTransporte" value="3">TONELADA </option>
                                <option class="EquipoTransporte" value="4">CAJA SECA </option>
                                <option class="EquipoTransporte" value="10">PIPA DE AGUA </option>
                                <option class="EquipoMenor" value="6">MOTOBOMBA </option>
                                <option class="EquipoMenor" value="7">LAVADORA A PRESION </option>
                                <option class="EquipoMenor" value="8">ELEVADOR DE TIJERAS </option>
                                <option class="EquipoMenor" value="9">MONTACARGA </option>
                                <option class="EquipoMenor" value="11">OFICINA MOVIL</option>
                                <option class="MaquinariaMayor" value="25">	EXCAVADORA</option>
                                <option class="MaquinariaMayor" value="27">	GENERADOR</option>
                                <option class="MaquinariaMayor" value="41">	CAMION FUERA DE CARRETERA</option>
                                <option class="MaquinariaMayor" value="42">	TRITURADOR PRIMARIO</option>
                                <option class="MaquinariaMayor" value="45">	PERFORADORA ROTARIA</option>
                                <option class="MaquinariaMayor" value="46">	GRUA</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                            <label>Modelo:</label>
                            <select class="form-control" id="slModeloM">
                                <option value="0">Seleccione una opción</option>
                                <option>992K</option>
                                <option>777G</option>
                                <option>950H</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                            <label>Capacidad:</label>
                            <input id="txtCapacidad" class="form-control" value="0" type="number" min="0" />

                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-group-custum">
                            <label>Especificaciones a detalle:</label>
                            <input class="form-control" id="txtDescripcion" type="text" />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group-custum">
                            <label>Cantidad:</label>
                            <input class="form-control" type="number" id="txtCantidad" min="0" value="0" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <button class="btn btn-info btn-margin-top modal-margin-rigth pull-right nextBtn" type="button" disabled id="btnSiguiente1">Siguiente</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success btn-margin-top pull-right modal-margin-rigth" id="btnAddMaq">
                            <span class="glyphicon glyphicon-plus"></span> Agregar
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="setup-content" id="step-2">
        <div class="row">
            <div class="col-lg-12">
                <table id="tblListaMaquinas" class="table table-responsive table-striped">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="id" data-css-class="hidden" data-header-css-class="hidden">id</th>
                            <th data-column-id="Tipo" data-formatter="Tipo">Tipo Maquinaria</th>
                            <th data-column-id="Grupo" data-formatter="Grupo">Grupo Maquinaria</th>
                            <th data-column-id="Descripción" data-formatter="Descripción">Descripción</th>
                            <th data-column-id="añadir" data-formatter="añadir" data-sortable="false" data-header-css-class="igualar">añadir</th>
                            <th data-column-id="duplicar" data-formatter="duplicar" data-sortable="false" data-header-css-class="igualar">igualar</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
        <div class="row">
            <div>
                <button class="btn btn-info pull-right nextBtn" type="button" disabled id="btnSiguiente2">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="setup-content" id="step-3">
        <div class="row">

            <table id="tblMaquiSolicitud" class="table table-responsive table-striped">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="id" data-css-class="hidden" data-header-css-class="hidden">id</th>
                        <th data-column-id="tipo">Tipo Maquinaria</th>
                        <th data-column-id="grupo">Grupo Maquinaria</th>
                        <th data-column-id="desc">Descripción</th>
                        <th data-column-id="meses">Tiempo Meses</th>
                        <th data-column-id="horas">Tiempo Horas</th>
                        <th data-column-id="fecha">Fecha</th>
                        <th data-column-id="eliminar" data-formatter="eliminar" data-sortable="false">eliminar</th>
                        <th data-column-id="modificar" data-formatter="modificar" data-sortable="false">modificar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
        <div class="row">
            <button type="button" class="btn btn-primary pull-right" id="btnSolicita">
                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
            </button>
        </div>

    </div>
</div>




@* Area de modales *@



@* Datos Programa *@

<div class="modal fade" id="modalDatosPrograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Asignación datos programa.</h3>
                </div>
            </div>
            <div class="modal-body text-center">


                <div class="container text-fix">

                    <input class="hidden" id="idMaquina" value="0" />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">Datos programacion :</legend>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                                    <label>Utilización en Meses:</label>
                                    <input class="form-control" type="text" id="txtTiempoMeses" />
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                                    <label>Utilización en horas:</label>
                                    <input class="form-control" type="text" id="txtTiempoHoras" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group-custum">
                                    <label>Fecha obra:</label>
                                    <input class="form-control" type="date" id="txtFechaObra" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group-custum">
                                    <label>Prioridad:</label>
                                    <div>
                                        <div class="radio ">
                                            <input type="radio" id="radioPrioridad1" value="A" name="radioInline1">
                                            <label for="radioPrioridad1"> Urgente </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="radioPrioridad2" value="B" name="radioInline1">
                                            <label for="radioPrioridad2"> Programada </label>
                                        </div>
                                    </div>

                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar" data-dismiss="modal">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalGuardar" data-dismiss="modal">
                                <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>