
/*.modal-dialog {
    padding: 0 !important;
}*/

h2.text-center {
    margin-top: 12px;
}


label.eventoGrupo:hover, label.eventoTipo:hover {
    cursor: pointer;
}

/*ul.nav.navbar-nav {
    padding-left: 0px;
}*/

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#infoMaquina.table {
    margin-bottom: 0px;
}

#infoMaquina > tbody {
    border: 0px solid #999;
}

.labelFont {
    font-weight: 100;
}

td > div > label {
    margin-bottom: 0;
}

button.close > span {
    font-size: xx-large;
}

#lblDescripcionGrupo-Insumos {
    color: #0645ad;
    text-decoration: underline;
}

#lblDescripcionTipo-Insumos, #lblDescripcionTipo {
    color: #0645ad;
    cursor: default;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.verticalLine {
    border-right: 1px solid #BDBDBD;
}

/*.modal-dialog {
    margin-top: 10px !important;
    margin-bottom: 0;
}*/

#notaGrafica {
    font-style: italic;
    font-size: smaller;
    color: #aaa;
}

.eveOpenModal, .eveRefreshTable {
    cursor: pointer;
    color: blue;
}
/*.datagrid-header-inner {
    background-color:#81bd72 !important;
}*/
.clsTotal {
    font-weight: bold !important;
}

.datagrid-row-selected, .datagrid-row-over {
    background: transparent;
}

.form-group {
    margin-bottom: 10px;
}

/*.modal-content {
    position: absolute !important;
    right: -15% !important;
}*/


