.myIframe {
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*//<<--- THIS IS THE KEY border: solid black 1px;*/
}

    .myIframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: inherit;
    }

#divGridContainer {
    overflow: auto;
}

.containerReporteH {
    width: 1264px;
    margin-bottom: 0;
}

.containerReporteV {
    width: 968px;
    margin-bottom: 0;
}

.containerReporteHOficio {
    width: 1283px;
    margin-bottom: 0;
}
/*.divFrameH
{
    padding-bottom: 45%;
}*/

/*.divFrameV
{
    padding-bottom: 60%;
}*/

@media screen and (max-height: 1080px) and (max-width: 1920px) {
    .divFrameV {
        padding-bottom: 770px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1500px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1680px) {
    .divFrameV {
        padding-bottom: 740px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1500px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1400px) {
    .divFrameV {
        padding-bottom: 740px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1264px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 900px) {
    .divFrameV {
        padding-bottom: 580px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1264px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 768px) {
    .divFrameV {
        padding-bottom: 392px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1264px;
        margin-bottom: 0;
    }


}
