    #tablaNominaMensual_wrapper thead > tr > th {
        background-color: #81bd72;
        color: #fff;
    }

    #tablaNominaMensual tbody > tr td {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #fieldTablaCargosNomina .dataTables_wrapper .ui-corner-tl {
        display: none;
    }

    #fieldTablaCargosNomina .ui-widget-header {
        background-color: #81bd72;
        color: #fff;
    }