.modal-dialog{
        padding-top:0px;
        margin-top:1%;
}
.form-groupFix {
    margin-bottom: 9px;
}
.modal-body {
    position: relative;
    padding: 10px;
}
/*ul.nav.navbar-nav
{
    padding-left: 0px; 
}*/

input#txtnoEco {
    cursor: auto;
    color: red;
    text-align: -webkit-center;
    font-size: x-large;
    /* background-color: rgba(0, 0, 0, 0.14); */
}

#fieldComfirmacion .form-control[disabled]
{
    cursor: auto;
}

.confirm{
    margin-top: 35px;
    margin-bottom:35px;
}

.color-green
{
   color:green;
}

select#slGrupoM {
    padding: 0;
}

input#txtModalNoEconomico {
    text-align: center;
    color: red;
    font-size: x-large;
    font-weight: bold;
    cursor: auto;
    background-color: white;
    border: white;
}
button#btnNuevo_Maquina {
    margin-top: 45px;
}

.fixTamano{
    height: 157px;
}