@{
ViewBag.Title = "Aspectos ambientales";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Seguridad/MedioAmbiente/Estilo.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>ASPECTOS AMBIENTALES</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary pull-right" id="botonAgregar" title="Registrar nuevo aspecto ambiental."><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="tablaAspectosAmbientales" class="table table-hover table-bordered compact" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL CREAR/EDITAR ASPECTO AMBIENTAL -->
<div class="modal fade" id="modalAspectoAmbiental">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center"><h3><span id="lblTitleCEAspectoAmbiental"></span></h3></div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Concepto</span>
                            <input type="text" name="inputDescripcion" id="inputDescripcion" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Clasificación aspecto ambiental</span>
                            <select id="selectClasificacion" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 marginBottom">
                        <input type="checkbox" id="chkSolidoImpregnadoHidrocarburo" data-toggle="toggle" data-onstyle="success" data-offstyle="default" data-width="400"
                            data-on="Es solido impregnado con hidrocarburo" data-off="No es solido impregnado con hidrocarburo">
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Unidad</span>
                            <select id="selectUnidad" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 noPadLeft">
                            <div style="display: inline-block; margin-right: 10px;">
                                <input type="checkbox" id="checkboxPeligroso" data-toggle="toggle" data-on="Peligroso" data-off="Peligroso" data-onstyle="success" data-offstyle="default" data-width="150">
                            </div>
                        </div>
                        <div id="divFactorPeligro" class="col-sm-9 noPadRight" style="display: none;">
                            <div class="input-group">
                                <span class="input-group-addon">Factores peligro</span>
                                <select id="selectFactorPeligro" class="form-control" multiple></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-success" id="botonGuardar"><span id="titleBtnCEAspectoAmbiental"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR ASPECTO AMBIENTAL -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/js/Administrativo/Seguridad/MedioAmbiente/AspectosAmbientales.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>