@{
ViewBag.Title = "Gestor de Archivos";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@*
<link rel="stylesheet" type="text/css" href="https://cdn.webix.com/edge/webix.css">*@
<link href="~/Content/style/css/GestorArchivos/Webix.css" rel="stylesheet" />
<link href="~/Content/style/css/GestorArchivos/FileManager.css" rel="stylesheet" />

<script src="~/Scripts/js/GestorArchivos/GestorArchivos/ConsoleRunner.js"></script>
<script src="~/Scripts/js/GestorArchivos/GestorArchivos/CSSLiveReload.js"></script>
<script src="~/Scripts/js/GestorArchivos/GestorArchivos/EventRunner.js"></script>
<script src="~/Scripts/js/GestorArchivos/GestorArchivos/StopExecutionTimeOut.js"></script>
<script src="~/Scripts/js/GestorArchivos/GestorArchivos/WebixScripts.js"></script>

<script src="~/Scripts/js/GestorArchivos/GestorArchivos/UploadFile.js"></script>
<script src="~/Scripts/js/GestorArchivos/GestorArchivos/FileManagerWebix.js"></script>


<div class="row text-center titulo">
    <h2>Gestor de Archivos</h2>
</div>
<div hidden id="noAcceso" class="row text-center">
    <h2 class="label label-danger">Sin acceso</h2>
    <p>Este usuario no cuenta con los permisos suficientes para utilizar el gestor de archivos.</p>
</div>
<div id="webix-area">
</div>

<div hidden class="uploadForm">
    <input id="subirArchivo" type="file" multiple />
</div>
<div hidden class="uploadFolderForm">
    <input id="subirFolder" type="file" webkitdirectory mozdirectory />
</div>
<div hidden class="updateForm">
    <input id="actualizarArchivo" type="file" />
</div>

<div class="modal fade" id="modalAviso">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3 id="modalAvisoTitutlo"></h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <p id="modalAvisoCuerpo"><strong></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="botonModalAviso" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
