body {

}

table.dataTable {
    width:auto !important;
}

.dataTables_empty {
    display:none;
}

#tp_row_tablaPlazos_0 {
    font-size: 18px;
        background: rgb(68,133,51) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

#tp_row_tablaPlazos_1 {
    font-size: 15px;
    background-color: lightgray;
    font-weight: bold;
}

#tp_row_tablaPlazos_0 th, #tp_row_tablaPlazos_0 td, #tp_row_tablaPlazos_1 th, #tp_row_tablaPlazos_1 td {
    text-align: center !important;
}

#tablaPlazos td {
    text-align: right;
}

#tp_row_tablaPlazos_0 th:first-child{
  border-top-left-radius: 5px;
}

#tp_row_tablaPlazos_0 td:last-child{
  border-top-right-radius:5px;
}


#tp_row_tablaPlazos_2 td, #tp_row_tablaPlazos_7 td, #tp_row_tablaPlazos_13 td {
    text-align: center !important;
}

