.width30 {
    width: 30% !important;
}

.width70 {
    width: 70% !important;
}

.width10 {
    width: 10% !important;
}

.width90 {
    width: 90% !important;
}

.mrgTop {
    margin-top: 5px;
}

#tblActualizacion,
#tblInsumo,
#tblAlmacen {
    font-size: 12px;
}

#tablaInsumos input {
    height: 23px;
}

.noPadLeft {
    padding-left: 0;
}

.noPadRight {
    padding-right: 0;
}

th {
    font-size: 14px;
    text-align: center !important;
}

.marginTop5 {
    margin-top: 5px;
}

.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    height: 36px;
}

.modal-header {
    padding: 0;
}

.close {
    color:white !important;
    opacity: 0.7 !important;
    font-size: 34px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0 !important;
}

.close:hover, .close:focus {
    color:white !important;
    background-color: red !important;
    opacity: 0.7 !important;
}

td {
    text-align: center;
}

input.invalid {
  background-color: pink;
}

#tblActualizacion input[type="text"] {
    width: 70px;
}

th {
    padding-right: 4px !important;
}