.width30 {
    width: 30% !important;
}

.width70 {
    width: 70% !important;
}

.mrgTop {
    margin-top: 5px;
}

#tablaExistencias,
#tablaInsumos,
#tablaInsumos input {
    font-size: 12px;
}

#tablaInsumos input {
    height: 23px;
}