.mrgTop {
    margin-top: 5px;
}

.mrgBottom {
    margin-bottom: 5px;
}

.noPadLeft {
	padding-left: 0px;
}

.noPadRight {
	padding-right: 0px;
}

/* Estilo CheckBox */
label {
	display: inline;
}

.regular-checkbox,
.regular-checkboxdanger {
	display: none;
}

.regular-checkbox + label,
.regular-checkboxdanger + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 11px;
	border-radius: 3px;
	display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active,
.regular-checkboxdanger + label:active, .regular-checkboxdanger:checked * label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    /* color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; */

	color: #fff;
	background-color: #449d44;
    border-color: #398439;
	
    /* color: #99a1a7;
	background-color: #e9ecee;
    border: 1px solid #adb8c0; */
    
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkboxdanger:checked + label {
    /* color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; */

	color: #fff;
	background-color: #d9534f;
    border-color: #d43f3a;
	
    /* color: #99a1a7;
	background-color: #e9ecee;
    border: 1px solid #adb8c0; */
    
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
    /* color: #99a1a7; */
    color: #fff;
}

.regular-checkboxdanger:checked + label:after {
	content: '\2716';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
    /* color: #99a1a7; */
    color: #fff;
}

.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* Fin Estilo CheckBox */

tbody > tr.active > td,
tbody > tr.selected > td {
    background: #5093ce !important;
    color: #fff;
}

/* Tooltip JQuery con estilo copiado de Bootstrap Tooltip*/
.ui-tooltip, .arrow:after {
    background: black;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-tooltip {
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
    box-shadow: 0 0 3px black;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 55%;
    margin-left: -35px;
    bottom: -16px;
}

    .arrow.top {
        top: -16px;
        bottom: auto;
    }

    .arrow.left {
        left: 20%;
    }

    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }
/*Fin Estilo Tooltip JQuery*/

.input-group .width30 {
	width: 30%;
}

.input-group .width70 {
	width: 70%;
}

#tblPartidas,
#tblPartidas input,
#tblPartidas select {
    font-size: 10px;
}

#tblPartidas input,
#tblPartidas select {
    padding: 6px 3px;
    height: 25px;
}

#tablaPartidasSal,
#tablaPartidasEnt {
    font-size: 10px;
}

#modalEntradaInvFisico #tblPartidasEntrada,
#modalEntradaInvFisico #tblPartidasEntrada input,
#modalEntradaInvFisico #tblPartidasEntrada select {
    font-size: 10px;
}

#modalEntradaInvFisico #tblPartidasEntrada input,
#modalEntradaInvFisico #tblPartidasEntrada select {
    padding: 6px 3px;
    height: 25px;
}