.width30 {
    width: 30% !important;
}

.width70 {
    width: 70% !important;
}

.width10 {
    width: 10% !important;
}

.width90 {
    width: 90% !important;
}

.mrgTop {
    margin-top: 5px;
}

#tablaExistencias,
#tablaInsumos,
#tablaInsumos input {
    font-size: 12px;
}

#tablaInsumos input {
    height: 23px;
}

.noPadLeft {
    padding-left: 0;
}

.noPadRight {
    padding-right: 0;
}

p.cantidad {
    text-align: right;
    width: 50%;
    float: left !important;
    margin-bottom: 0;
}

p.unidad {
    text-align: left;
    width: 50%;
    float: right !important;
    margin-bottom: 0;
}