.bg-table-header {
    background-color: #337ab7 !important;
}

ul.nav.nav-tabs>li {
    width: 50%;
    text-align: center;
    font-size: 120%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    font-weight: bold;
    text-decoration: underline;
}

.dotAcotacion {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding-top: 15px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 0.01em;
}

.columna_bold {
    font-weight: bold;
    border-color: black;
}

#divChart3 {
    overflow-y: auto;
    height: 281px;
}

.mrgTop {
    margin-top: 15px;
}

.buttons-excel {
    float: right !important;
    margin-bottom: 5px;
}

.dt-buttons {
    display: inline;
}

.noPadLeft {
    padding-left: 0px;
}

.noPadRight {
    padding-right: 0px;
}

table tbody tr td {
    vertical-align: middle !important;
}

table tbody {
    font-size: 12px !important;
}

.spanContador {
    font-size: 16px;
    font-weight: bold;
}