p.desplegable, p.filtrado {
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

p.desplegable:hover, p.filtrado:hover {
    font-weight: bolder;
    cursor: pointer;
}

table#tablaRentabilidad{
    overflow-y: scroll;
}

p.noDesplegable{
    color: #424040;
    font-style: italic;
}

input.subrayado{
    text-decoration: underline;
}

input.subrayado:hover{
    cursor: pointer;
}

tfoot{
    font-weight:bold;
}

.dropdown-toggle, .btn-group {
    width: 100%;
}

.dataTables_scrollHead {
    overflow:inherit !important;
}

.ui-datepicker-calendar tbody tr:hover, .ui-datepicker-calendar tbody tr:hover td a {
    background-color: #B0C4DE;
}

.weekPicker {
    background-color: #fff !important;
}
.ui-datepicker-calendar > tbody > tr {
    border: 1px solid white;
}
.ui-datepicker-calendar > tbody > tr.week-hover {
    /*border: 1px solid #ffaf46;*/
    border: 1px solid #ffaf46;
}
.resultado {
    background-color: #599c49 !important;
    font-weight:bold;
    color:white;
}

.resultado:hover {
    background-color: #83be74 !important;
    font-weight:bold;
    color:white;
}

.resultado p{
    color:white;
}