.form-control {
    font-size:13px;
}

p.desplegable, p.filtrado {
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

p.totalizador, p.guardarLinea, p.cuentasPendientes {
    color: blue;
    text-decoration: underline;
}

p.desplegable:hover, p.filtrado:hover, p.totalizador:hover, p.guardarLinea:hover, p.cuentasPendientes:hover {
    font-weight: bold;
    cursor: pointer;
}

p.cuentasPendientes {
    padding-left: 5px;
    padding-right: 5px;
}

tfoot p {
    font-weight:normal;
    font-size: 15px;
}

table#tablaKubrixDivision, table#tablaKubrixAreaCuenta, table#tablaKubrixDetalle, table#tablaKubrixDetalleEco{
    overflow-y: scroll;
}

p.noDesplegable{
    color: #424040;
    font-style: italic;
}

input.subrayado{
    text-decoration: underline;
}

input.subrayado:hover{
    cursor: pointer;
}

tfoot{
    font-weight:bold;
}

.dropdown-toggle, .btn-group {
    width: 100%;
}

.dataTables_scrollHead {
    overflow:inherit !important;
}

#tablaKubrixDetalle_info, #tablaKubrixDetalle_filter, #tablaKubrixDetalleEco_info, #tablaKubrixDetalleEco_filter, #tablaAnalisis_filter, #tablaSctaDetalles_filter, #tablaKubrixAreaCuenta_info, #tablaKubrixAreaCuenta_filter, #tablaKubrixDivision_info, #tablaKubrixDivision_filter  {
    width:100%;
    position: sticky; 
    background-color: white;
    top: 0;
    background-color: transparent;
}

#tablaKubrixDivision_info, #tablaKubrixAreaCuenta_info, #tablaKubrixDetalle_info , #tablaKubrixDetalleEco_info  {
    width:70%;
}
#tablaKubrixDetalle_filter, #tablaKubrixDetalleEco_filter, #tablaAnalisis_filter, #tablaSctaDetalles_filter, #tablaKubrixAreaCuenta_filter, #tablaKubrixDivision_filter {
    width:30%;
}

td { 
    vertical-align: middle !important; 
}  
 
.footerSticky {
    position: sticky; 
    bottom: 0;
    background-color: white !important;
    border-bottom: 1px solid #111;
    overflow:visible;
}

tfoot.bg-table-header {
    background-color:white;
}

#tablaKubrixDivision_filter label, #tablaKubrixAreaCuenta_filter label, #tablaKubrixDetalle_filter label, #tablaKubrixDetalleEco_filter label, #tablaAnalisis_filter label, #tablaSctaDetalles_filter label {
    display: inline-flex;
}

.bg-table-header {
    font-size:15px;
    background: rgb(68,133,51) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border: none !important;
}

button.filtrado, button.separador  {
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    line-height: 1.42857;
    background-color: transparent !important;
}

button.filtrado:hover, button.separador:hover {
    color: #333 !important;
}


.blurry{
  filter: blur(3px);
}

.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    height: 36px;
}

.modal-header {
    padding: 0;
}

table th:first-child{
  border-top-left-radius: 5px;
}

table th:last-child{
  border-top-right-radius:5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius:5px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius:5px;
}

.close:hover, .close:focus {
    color:white !important;
    background-color: red !important;
    opacity: 0.7 !important;
}

.close {
    color:white !important;
    opacity: 0.7 !important;
    font-size: 34px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0 !important;
}

.legend-custm {
    text-align:center;
}

.resultado {
    
    border: solid 1px black !important;
    background: rgba(48, 63, 159, 0.2) !important;
    /*background: linear-gradient(90deg, rgba(68, 80, 156, 0.2) 50%, rgba(48, 63, 159, 0.2) 100%) !important;*/
}

.resultado td:first-child, .resultado td:last-child { border-radius: 4px 0px 0px 4px !important; }

.resultado td {
    font-weight:bold;
}

.resultado p {
    margin:0;
}

table {
    box-shadow: 0px 3px 8px #888888;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.chkGrafica {
    width:50%;
    padding-left:0;
    margin-bottom:5px;
}

.chkGrafica .toggle.btn {
    min-width: 100px;
}

tbody {
    font-size:15px;
}

#tituloSctaDetalles {
    font-size:16px;
    font-weight:bold;
}

.tabla { overflow-y: auto; height: 500px; }
.tabla th {
    font-size: 12px;
    position: sticky; top: 0;
    white-space: nowrap;
}
td { vertical-align: middle !important; }    

.select2-selection--single {
    min-height: 34px !important;
    border: 1px solid #ccc !important;
    color: #555 !important;
}

.toggle {
    margin-top: 24px;
    width: 90%
}

.modal-open .modal {
    overflow-x: visible;
    overflow-y: visible;
}

.divCbTipoReporte.toggle {
    margin-top:0;
}

#tablaKubrixDetalle th {
    padding-right: 0;
    padding-left: 0;
}

#lbGraficaKubrix {
    font-size: 18px;
}

.btn-primary:disabled {
    opacity: 1;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.select2-selection--multiple{
    min-height: 34px !important;
    border: 1px solid #ccc !important;
    color: #555 !important;
}

#tablaKubrixDetalle .tooltip-inner, #tablaAnalisis .tooltip-inner {
    width: 300px;
    max-width: 350px;
    font-size: 11px;
    text-align:left;
}

.dt-combobox {
    padding:0 !important;
    text-align:center;
}

.tablaCC { overflow-y: auto; height: 500px; }

.tablaKubrix thead tr th button, .tituloKubrixEc {
    white-space:pre-wrap;
}
.tablaKubrix tbody tr td:first-child, .tablaKubrix thead tr th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left:0;   
}

dataTables_scrollHead

.tablaKubrix tbody tr td:first-child {
    background-color: white;
}

.tablaKubrix thead tr th:first-child {
    /*background-color: rgba(252,176,69,0.5);*/
    background-color: #8a93db;
}

#tablaKubrixDivision, #tablaKubrixAreaCuenta, #tablaKubrixDetalleEco {
    display: block;
    overflow-x: visible;
    white-space: nowrap;
    
}

button.separador {
    white-space: nowrap !important;
    width: 120px;
    overflow: hidden;
}

.tituloKubrixEc, #tablaKubrixDetalleEco td {
    white-space: pre-wrap !important;
    overflow: hidden;
}

.dataTables_scrollHeadInner {
width: 100% !important;
}
.dataTables_scrollHeadInner table {
width: 100% !important;
}

.toggle.btn {
    min-width:110px !important;
    margin-top:0;
}

#divLblFiltrosDetalle, #divLblFiltrosAC, #divLblFiltrosDivision {
    font-size: 12px;
}

.select2-dropdown {
    z-index: 2060 !important;
}

.select2-container {
width:100% !important;
}

.tablaKubrix tbody > tr > td:first-child {
    background-color: white;
}

.tablaKubrix tbody > tr.resultado > td:first-child {
    background-color: lightgray;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 15px 0px 0px 0px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    box-shadow: 2px 4px 3px rgba(0,0,0,0.5); 
    text-align:center;
    line-height:0.01em;
    margin-top: 5px;
    margin-right: 5px;
}
.dotAcotacion {
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding-top: 15px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    box-shadow: 2px 4px 3px rgba(0,0,0,0.5); 
    text-align:center;
    line-height:0.01em;
}

input[type="file"] { display: none; }

.panel-filtros {
    border-color: #45cafc;
}

.panel-filtros > div.panel-heading {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border-color: #45cafc;
}

#filtrosBusqueda > div.panel-body {
    border-color: #45cafc !important;
}

.dataTables_scrollFootInner {
    padding-right:0 !important;
}

.lineaMulti {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 3px;
}