p.desplegable{
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

p.desplegable:hover{
    font-weight: bolder;
    cursor: pointer;
}

table#tablaRentabilidad{
    overflow-y: scroll;
}

p.noDesplegable{
    color: #424040;
    font-style: italic;
}

input.subrayado{
    text-decoration: underline;
}

input.subrayado:hover{
    cursor: pointer;
}

tfoot{
    font-weight:bold;
}

.dropdown-toggle, .btn-group {
    width: 100%;
}

.dataTables_scrollHead {
    overflow:inherit !important;
}

div.scrollDT {
    overflow:auto;
    overflow-y: auto; 
    height: 450px;
}

div.scrollDT th  {
    position: sticky; 
    background-color: #81bd72 !important;
    top: 30px;
}

#tablaRentabilidad_info, #tablaRentabilidad_filter  {
    width:100%;
    position: sticky; 
    background-color: white;
    top: 0;
}

#tablaRentabilidad_info  {
    width:70%;
}
#tablaRentabilidad_filter  {
    width:30%;
}

td { 
    vertical-align: middle !important; 
}  
 
.footerSticky {
    position: sticky; 
    bottom: 0;
    background-color: white !important;
    border-bottom: 1px solid #111;
    overflow:visible;
}

tfoot.bg-table-header {
    background-color:white;
}

#tablaRentabilidad_filter label {
    display: inline-flex;}

.bg-table-header {
    font-size: 14px;
}