@{
    ViewBag.Title = "Asignacion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="row text-center margin-top">
    <h2>Asignación</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Agrupación</legend>
    <div class="row">
        <div class="col-md-4 noPadRight">
            <select class="form-control select2" id="selectCentroCosto"></select>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonBuscar">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm">Actividades:</legend>
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" id="botonAgregar"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaActividades" class="table table-hover compact" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalAgregarActividad">
    <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Agregar Actividades</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Agrupación:</label>
                        <select class="form-control" id="selectCentroCostoAgregar" multiple></select>
                    </div>
                    <div class="col-sm-4">
                        <label for="selectAreaAgregar" class="form-label">Área:</label>
                        <select id="selectAreaAgregar" class="form-control" multiple></select>
                    </div>
                    <div class="col-sm-4">
                        <label>Clasificación:</label>
                        <select class="form-control" id="selectClasificacionAgregar" multiple></select>
                    </div>
                    <div class="col-sm-3">
                        <label>Fecha Inicio Evaluación:</label>
                        <input type="text" id="inputFechaInicioEvaluacion" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Actividades:</label>
                        <table id="tablaActividadesAgregar" class="table table-hover compact" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/SeguimientoCompromisos/Asignacion.js"></script>