@{
    ViewBag.Title = "TransferenciasBancarias";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Administrativo/TransferenciasBancarias/TransferenciasBancarias.css" rel="stylesheet" />

<div class="row text-center margin-top">
    <h2>Pagos Masivos a Proveedores</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-btn"><button type="button" class="btn btn-default"> Proveedor</button></span>
                <input id="inputProveedorInicial" type="text" class="form-control" value="1">
                <span class="input-group-btn" style="width:0px;"></span>
                <input id="inputProveedorFinal" type="text" class="form-control" value="9999">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Fecha Mov</span>
                <input id="inputFechaMovInicial" type="text" class="form-control">
                <span class="input-group-btn" style="width:0px;"></span>
                <input id="inputFechaMovFinal" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonBuscar"><i class="fas fa-search"></i> Buscar</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default pull-right" id="botonGenerar"><i class="fas fa-file"></i> Generar Archivos</button>
            <button type="button" class="btn btn-success pull-right" id="botonCheques" style="margin-right: 5px;"><i class="fas fa-save"></i> Generar Cheques</button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm"></legend>
    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaTransferencias" class="table wrap compact hover" style="width: 100%;"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalCheques">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Cheques</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Cuenta Bancaria:</label>
                        <select id="selectCuentaBancaria" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Cancelar</button>
                <button type="button" class="btn btn-success" id="botonGenerarCheques"><i class="fas fa-save"></i> Generar</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/TransferenciasBancarias/TransferenciasBancarias.js"></script>