/*Layaout botones offset modal*/

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: white;
    font-size: x-large;
    border-style: dashed;
    border-color: #fff;
    text-align: center;
    background-color: #2EA566;
}

    .upload-drop-zone.drop {
        color: #FFFFFF;
        border-color: #FFFFFF;
    }

.fieldsetUpdExcel {
    /*border: 1px solid #16CE00 !important;*/
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #1ac26b;
    padding-left: 10px !important;
}

.position {
    margin-top: 5%;
}


.titulo-principal {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.tamano {
    font-size: 50px;
}

.acomodo {
    margin: 0 !important;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    background: white !important;
}
