
@{
    ViewBag.Title = "Pre-asignaciones";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Movimientos/Style-Asignacion.css" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/Maquinaria/Movimientos/Pre_Asignacion.js")"></script>

<div class="row">
    <div class="text-center">
        <h2>Asignación de maquinaria</h2>
    </div>
</div>

<div class="row">
    <div class="container">
        <div id="divVisFolios" class="row">
            <table id="tblSolicitudes" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="folio" data-align="center" data-header-align="center">Folio Solicitud</th>
                        <th data-column-id="cc" data-align="center" data-header-align="center">Centro de Costos</th>
                        <th data-column-id="usuario" data-align="center" data-header-align="center">Solicita</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>00001</td>
                        <td>00000</td>
                        <td>admin</td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>00002</td>
                        <td>00001</td>
                        <td>admin</td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="divSolicitudes" class="row hidden">
            <div>
                <table id="tblListado" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="cc" data-align="center" data-header-align="center">Centro Costos</th>
                            <th data-column-id="tipoMaquina" data-align="center" data-header-align="center" data-header-css-class="cbg-header-name">Tipo Maquinaria</th>
                            <th data-column-id="grupoMaquina" data-align="center" data-header-align="center">Grupo Maquinaria</th>
                            <th data-column-id="ModeloMaquina" data-align="center" data-header-align="center">Modelo</th>
                            <th data-column-id="capacidad" data-align="center" data-header-align="center">Capacidad</th>
                            <th data-column-id="cantidad" data-align="center" data-header-align="center">Cantidad</th>
                            <th data-column-id="descripcion" data-align="center" data-header-align="center">Descripción</th>
                            <th data-column-id="meses" data-align="center" data-header-align="center">Meses</th>
                            <th data-column-id="horas" data-align="center" data-header-align="center">Horas</th>
                            <th data-column-id="fecha" data-align="center" data-header-align="center">Fecha en Obra</th>
                            <th data-column-id="prioridad" data-align="center" data-header-align="center">Prioridad</th>
                            <th data-column-id="asigna" data-formatter="asigna">Agregar</th>
                            @*<th data-column-id="ver" data-formatter="ver">Visualizar</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>Equipo de Transporte</td>
                            <td>PICK UP</td>
                            <td>2010</td>
                            <td>100T</td>
                            <td>10</td>
                            <td>Ejemplo</td>
                            <td>10</td>
                            <td>10</td>
                            <td>2016-12-31</td>
                            <td>A</td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Equipo de Transporte</td>
                            <td>PICK UP</td>
                            <td>2010</td>
                            <td>100T</td>
                            <td>10</td>
                            <td>Ejemplo</td>
                            <td>10</td>
                            <td>10</td>
                            <td>2016-12-31</td>
                            <td>A</td>
                            <td>
                              
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Equipo de Transporte</td>
                            <td>PICK UP</td>
                            <td>2010</td>
                            <td>100T</td>
                            <td>10</td>
                            <td>Ejemplo</td>
                            <td>10</td>
                            <td>10</td>
                            <td>2016-12-31</td>
                            <td>A</td>
                            <td>
                               
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pull-right">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default" id="btnRegresar">
                        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                    </button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary form-control" id="btnAutoriza">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>

@* Area de modales *@

@* inicio Modal de Listado de maquinaria solicitada. *@
<div class="modal fade" id="modalMaqSolicitada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Maquinaria Solicitada</h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <table id="tblListado" class="table table-condensed table-hover table-striped text-center">
                        <thead class="bg-table-header">
                            <tr>
                                <th data-column-id="cc" data-align="center" data-header-align="center">Centro Costos</th>
                                <th data-column-id="tipo" data-align="center" data-header-align="center">Tipo Maquinaria</th>
                                <th data-column-id="grupo" data-align="center" data-header-align="center">Grupo Maquinaria</th>
                                <th data-column-id="modelo" data-align="center" data-header-align="center">Modelo</th>
                                <th data-column-id="capacidad" data-align="center" data-header-align="center">Capacidad</th>
                                <th data-column-id="cantidad" data-align="center" data-header-align="center">Cantidad</th>
                                <th>Descripción</th>
                                <th>Meses</th>
                                <th>Horas</th>
                                <th>Fecha en Obra</th>
                                <th>Prioridad</th>
                                <th>Tipo Encierro</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal de Listado de maquinaria solicitada. *@

@* inicio Modal de asiganacion de maquinaria. *@
<div class="modal fade" id="modalAsignaMaquinaria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg no-padding-top" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3>Asignación de Maquinaria.</h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <div class="container text-fix">
                    <div class="row form-group">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                            <label>Centro de Costos</label>
                            <input id="txtCCModal" type="text" class="form-control" value="00000" />
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Tipo Maquinaria</label>
                            <input type="text" class="form-control" value="Transporte" />
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Grupo Maquinaria</label>
                            <input type="text" class="form-control" value="Camiones" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="container">
                                <table id="tblMaquinaria" class="table table-condensed table-hover table-striped text-center">
                                    <thead class="bg-table-header">
                                        <tr>
                                            <th data-column-id="noEco" data-align="center" data-header-align="center">no economico</th>
                                            <th data-column-id="des" data-align="center" data-header-align="center">Descripción Maquinaria</th>
                                            <th data-column-id="noSerie" data-align="center" data-header-align="center">no Serie</th>
                                            <th data-column-id="localizacion" data-align="center" data-header-align="center">Localización</th>
                                            <th data-column-id="Asignar" data-formatter="Asignar" data-align="center" data-header-align="center">Asignar</th>
                                        </tr>
                                    </thead>
                                   
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
                
            </div>

                
        </div>
    </div>
</div>
@* Fin Modal de Listado de maquinaria solicitada. *@