@{
    ViewBag.Title = "AltasRH";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href='~/Content/select2.css' rel='stylesheet' />
<link href='~/Content/style/css/RecursosHumanos/LayoutAltas/LayoutAltas.css' rel='stylesheet' />
<!-- END: CSS -->

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Layout Altas RH</h2>
    </div>
    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Lista Altas:</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 form-group">
                            <label id="lblCC">Centro Costos:</label>
                            @* <select class="form-control no-padding" id="cboCC" multiple="multiple" name="states[]"></select> *@
                            <span id="spanComboAC" class="form-control" style="position:absolute;max-width:97%;overflow-x:hidden;">TODOS</span>
                            <select id="comboAC" class="form-control" style="position:absolute;max-width:97%;overflow-x:hidden;" name="comboAC" multiple="multiple" style=""></select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="col-lg-6 no-padding">
                                <label for="fechaIni">Fecha Inicio:</label>
                                <input type="text" id="fechaIni" class="form-control" />
                            </div>
                            <div class="col-lg-6 no-padding-right">
                                <label for="fechaFin">Fecha Fin:</label>
                                <input type="text" id="fechaFin" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div>
                                <button type="button" class="btn btn-info margin-top pull-left modal-margin-rigth" id="btnBuscar">
                                    <span class="glyphicon glyphicon-search"></span> Buscar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info margin-top pull-left" id="btnExportar">
                                    <span class="glyphicon glyphicon-save-file"></span> Exportar
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-1 form-group">
                            <button type="button" class="btn btn-info margin-top " id="btnSeleccionar">
                                <span class="glyphicon glyphicon-check"></span> Seleccionar Todos
                            </button>
                        </div>
                    </div>
                </div>
                @*<table id="tblEmpleadosNomina" class="display bg" width="100%">
                    <thead class="bg-table-header">
                    <tr>
                    <th>Codigo Empleado</th>
                    <th>Fecha Alta</th>
                    <th>Fecha Baja</th>
                    <th>Fecha Reingreso</th>
                    <th>Tipo Contrato</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre</th>
                    <th>Estado Empleado</th>
                    <th>Centro Costos</th>
                    </tr>
                    </thead>
                    </table>*@
                <div class="row">
                    <div class="col-lg-12">
                        <div id="divGridContainer" class="scroll divPadding">
                            <table id="tblEmpleadosNomina" class="table table-condensed table-hover table-striped text-center" style="height:370px; max-height: 370px;">
                                <thead class="bg-table-header">
                                    <tr>
                                        <th data-column-id="EMP_TRAB" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Cve. Empleado</th>
                                        <th data-column-id="EMP_NOM" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Empleado</th>
                                        <th data-column-id="EMP_ALTA" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Fecha Alta</th>
                                        <th data-column-id="EMP_DP" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Departamento</th>
                                        <th data-column-id="EMP_NSS" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">NSS</th>
                                        @*<th data-column-id="EMP_SUELDO" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Sueldo Base</th>
                                            <th data-column-id="EMP_SUELDO1" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Complemento</th>*@
                                        <th data-column-id="seleccion" data-formatter="seleccion" data-align="center" data-sortable="false" data-width="0.2%">Seleccione</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>

                    </div>
                </div>

            </fieldset>
        </div>
    </div>

</div>

<!-- SCRIPTS -->
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Layout/AltasRHJs.js"></script>
<!-- END: SCRIPTS -->