            <!-- Menu for viewer -->
<ul id="navDefault" class="nav navbar-nav ml-auto">

    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Annotations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="annMode = true;OpenAnnotation();">Start</a></li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="ExportAnnotation();">Pdf Export</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="ExportXml();">Xml Export</a></li>
        </ul>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);" onclick="OpenUpload();">Upload File</a>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Navigation
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.GotoPage(1);">First</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.Next(false);">Previous</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.Next(true);">Next</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.GotoPage(parseInt(objctlDoc.TotalPages()));">Last</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Zoom
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.Zoom(true);">In</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.Zoom(false);">Out</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.Zoom(25);">25 %</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.Zoom(100);">100 %</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.FitType('width');">Fit Width</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.FitType('height');">Fit Height</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.FitType('');">Fit None</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Thumbnails
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.ThumbSize('small');">Small</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.ThumbSize('normal');">Normal</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.ThumbSize('large');">Large</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideThumbs(true);">Hide Thumbs</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideThumbs(false);">Show Thumbs</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideSplitter(true);">Splitter Off</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideSplitter(false);">Splitter On</a></li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" onclick="GoFS();">Full Screen</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="http://core.doconut.com" target="_blank">See MVC Demo</a>
    </li>
</ul>
<!-- Menu for viewer, ends -->
<!-- Menu For Annotation, hidden by default -->
<ul id="navAnnotation" style="display: none" class="nav navbar-nav ml-auto">
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Annotations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="CallSave();">Save</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="annMode = false; CloseAnnotation();">Close</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Page
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="CallNext(false);">Previous</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="CallNext(true);">Next</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Tools
            <span class="caret"></span>
        </a>
        <ul id="menuTools" class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" title="rectangle"><img src="/images/rectangle.png" />&nbsp;Rectangle</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="line"><img src="/images/line.png" />&nbsp;Line</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="arrow"><img src="/images/arrow.png" />&nbsp;Arrow</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="triangle"><img src="/images/triangle.png" />&nbsp;Triangle</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="circle"><img src="/images/circle.png" />&nbsp;Circle</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="ellipse"><img src="/images/ellipse.png" />&nbsp;Ellipse</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="stamp"><img src="/images/stamp.png" />&nbsp;Stamp</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="freehand"><img src="/images/freehand.png" />&nbsp;Freehand</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="note"><img src="/images/note.png" />&nbsp;Note</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" title="image"><img src="/images/image.png" />&nbsp;Image</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Actions
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="DeleteAnnotations();">Delete</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="ClearAnnotations();">Clear</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Custom
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddOrangeRect()">Orange Rect</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddGoogle();">Google Logo</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddStamp();">Stamp Normal</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" onclick="ImageStamp();">Stamp Image</a></li>
        </ul>
    </li>
</ul>
<!-- Menu For Annotation, ends -->
