
@{
    ViewBag.Title = "CapturaFacturado";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/ControlObra/CapturaFacturado.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/js/ControlObra/CapturaFacturado.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Captura Avance Facturado</h2>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset class="fieldset-custm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                                <legend class="legend-custm">Filtros:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                             <div class="col-md-6">
                                                <label>Capitulo:</label>
                                                <select class="form-control" id="SelectCapitulosFiltro"></select>
                                            </div>

                                            <div class="col-md-1">
                                                <label>Fecha: </label>
                                                <input class="form-control" id="dpFechaInicio" style="border-radius: 0px;"/>
                                            </div>

                                            <div class="col-md-1" style="padding-top: 25px;">
                                                <button id="btnGuardar" class="btn btn-success"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <fieldset class="fieldset-custm" style="margin-top: 5px; border-radius: 0px !important;">
                                <div class="row" style="height: 600px; overflow-y:scroll;">
                                    <div class="col-md-12">
                                        <br>
                                        <table id="tblPresupuesto" class="table">
                                        </table>
                                    </div>
                                 </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

