
@{
    ViewBag.Title = "InformeSemanal";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/ControlObra/InformeSemanal.css" rel="stylesheet" />
<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.2/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tui-image-editor@3.2.2/dist/tui-image-editor.css">
<link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css">
<link rel="stylesheet" href="~/Content/style/css/ControlObra/image_tui.min.css">
<link rel="stylesheet" href="~/Content/style/css/ControlObra/magnific-popup.css">

<div id="cabecera" class="row">
    <div class="col-sm-4 col-md-4">
        <div id="logoCP" style="margin-left: 10px;"></div>
    </div>

    <div class="col-sm-4 col-md-4 text-center">
        <h2 class="text-center" id="titulo"></h2>
        <h4 class="text-center" id="periodo"> </h2>
    </div>
    
    <div class="col-sm-4 col-md-4" id="divBotonesHeader" style="padding-right: 50px;">
    </div>
</div>


<div class="container-fluid" id="informeScreen">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="row">
                    <div class="col-sm-1 col-md-1"></div>

                    <div class="col-sm-10 col-md-10 text-center">
                        <div class="row" id="tabsHeader">
                            <div class="col-sm-12 col-md-12">
                                <div class="col-sm-2 col-md-2" style="padding-top: 60px;">
                                    <button type="button" class="btn btn-primary prev-step" id="btnBack"><</button>
                                </div>

                                <div class="col-sm-8 col-md-8">
                                    <div class="wizard-inner">
                                        <div class="connecting-line"></div>

                                            <ul class="nav nav-tabs" role="tablist" id="ulTabs">
                                            </ul>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-2" style="padding-top: 60px;" id="divTituloDerecha">
                                    <button type="button" class="btn btn-primary next-step" id="btnNext" >></button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-1 col-md-1"></div>
                </div>
            
                <div class="tab-content" id="tabDetalles">
                </div>
            </div>
        </section>
    </div>
</div>

<div id="modalDiapositiva" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Datos diapositiva</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tituloDiapositiva">Titulo:</label>
                    <input type="text" class="form-control" id="txtTituloDiapositiva">
                </div>
                <div class="form-group">
                    <label for="selectOrdenDiapositiva">Orden:</label>
                    <select id="selectOrdenDiapositiva" class="form-control"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuardarDiapositiva">Guardar</button>
            </div>
        </div>

    </div>
</div>


<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.2/js/froala_editor.pkgd.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.7/fabric.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tui-code-snippet@1.4.0/dist/tui-code-snippet.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tui-image-editor@3.2.2/dist/tui-image-editor.min.js"></script>
<script src="~/Scripts/js/ControlObra/InformeSemanal.js"></script>
<script src="~/Scripts/js/ControlObra/es.js"></script>
<script src="~/Scripts/js/ControlObra/image_tui.min.js"></script>
<script src="~/Scripts/js/ControlObra/jquery.magnific-popup.js"></script>
<script src="~/Scripts/moment.min.js"></script>

