
@{
    ViewBag.Title = "InformeSemanalGestor";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />


<h2 class="text-center">Plantillas informe</h2>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Plantillas</legend>

    <div class="table-responsive col-md-12 col-lg-12 ">
        <table id="tblPlantillas" class="table table-fixed table-bordered" width="100%"></table>
    </div>
</fieldset>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/ControlObra/InformeSemanalGestor.js"></script>