
@{
    ViewBag.Title = "InformeSemanalDetalle";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/ControlObra/InformeSemanalDetalle.css" rel="stylesheet" />

<script src="~/Scripts/js/ControlObra/InformeSemanalDetalle.js"></script>


<h2 class="text-center">Generador de informe semanal</h2>


<div class="container-fluid">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>

                    <div id="DivContruccionPesadaList">
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#AspectosSeguridad" data-toggle="tab" aria-controls="AspectosSeguridad" role="tab" title="Aspectos relevantes de seguridad">
                                    <span class="round-tab">
                                        <i class="fas fa-poo-storm"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#OrdenesCambio" data-toggle="tab" aria-controls="OrdenesCambio" role="tab" title="Ordenes de cambio">
                                    <span class="round-tab">
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#ProgramaObra" data-toggle="tab" aria-controls="ProgramaObra" role="tab" title="Programa de obra">
                                    <span class="round-tab">
                                        <i class="fas fa-chart-bar"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#ProduccionDiaria" data-toggle="tab" aria-controls="ProduccionDiaria" role="tab" title="Informe de producción diaria">
                                    <span class="round-tab">
                                       <i class="fas fa-chart-line"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#AccionesRetrasadas" data-toggle="tab" aria-controls="AccionesRetrasadas" role="tab" title="Plan de acción para principales actividades retrasadas">
                                    <span class="round-tab">
                                        <i class="fas fa-business-time"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#Riesgos" data-toggle="tab" aria-controls="Riesgos" role="tab" title="Riesgos">
                                    <span class="round-tab">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#MetasSemanales" data-toggle="tab" aria-controls="MetasSemanales" role="tab" title="Metas semanales">
                                    <span class="round-tab">
                                        <i class="fas fa-tasks"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#ReporteFotografico" data-toggle="tab" aria-controls="ReporteFotografico" role="tab" title="Reporte fotográfico">
                                    <span class="round-tab">
                                        <i class="fas fa-images"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#CPTerminado" data-toggle="tab" aria-controls="CPTerminado" role="tab" title="Generar archivo">
                                    <span class="round-tab">
                                        <i class="fas fa-file-powerpoint"></i>
                                    </span>
                                </a>
                            </li>               
                        </ul>
                    </div>                  
                </div>

                <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="AspectosSeguridad">
                            <h2 class="text-center">Aspectos relevantes de seguridad</h2>
                            <br>
                            <br>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Requerimientos para llenar</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Aspectos relevantes de seguridad</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <textarea name="aspecto" class="form-control" id="aspecto" placeholder="Aspecto de seguridad" width="90%" rows="2"></textarea>
                                                                </div>
                                                                <div class="col-md-2 text-center" style="padding-top: 5px;">
                                                                    <button type="button" class="btn btn-info btn-circle btn-sm" id="btnAddAspecto"><i class="glyphicon glyphicon-ok"></i></button>
                                                                    <button type="button" class="btn btn-danger btn-circle btn-sm" id="btnDeleteAspecto"><i class="glyphicon glyphicon-remove"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row" style="padding: 0;">
                                                    <div class="col-md-12" id="divAspectosList">
                                                        <ul id="ulAspectos" class="fa-ul">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="OrdenesCambio">
                            <h2 class="text-center">Ordenes de cambio</h2>
                            <br>
                            <br>

                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-1 col-sm-offset-11">
                                            <button type="button" class="btn btn-info add-new ordenes"><i class="fa fa-plus"></i> Agregar</button>
                                        </div>
                                    </div>
                                </div>
                                 <table class="table table-bordered" id="tblOrdenes">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;">Numero de adicional</th>
                                            <th style="width: 170px;">Fecha de solicitud</th>
                                            <th>Tipo de adicional</th>
                                            <th style="width: 170px;">Fecha compromiso de autorización</th>
                                            <th>Responsable de autorización</th>
                                            <th>Observaciones</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                     
                                    </tbody>
                                </table>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-primary next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="ProgramaObra">
                            <h2 class="text-center">Programa de obra</h2>
                            <br>
                            <br>

                            <form method='post' action='' enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="file" class="control-label">Seleccionar Archivo:</label>
                                    <input type='file' name='file' id='file' class='form-control' accept="application/pdf">
                                </div>  
                            </form>
                                                

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-default next-step">Saltar</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="ProduccionDiaria">
                            <h2 class="text-center">Informe producción diaria</h2>
                            <br>
                            <br>
                           
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-default next-step">Saltar</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="AccionesRetrasadas">
                            <h2 class="text-center">Plan de accion para principales actividades retrasadas</h2>
                            <br>
                            <br>
    
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-default next-step">Saltar</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="Riesgos">
                            <h2 class="text-center">Riesgos</h2>
                            <br>
                            <br>

                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-1 col-sm-offset-11">
                                            <button type="button" class="btn btn-info add-new riesgos"><i class="fa fa-plus"></i> Agregar</button>
                                        </div>
                                    </div>
                                </div>
                                 <table class="table table-bordered" id="tblRiesgos">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Descripción del riesgo</th>
                                            <th>Plan de acción</th>
                                            <th>Responsable</th>
                                            <th>Fecha de compromiso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                     
                                    </tbody>
                                </table>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-default next-step">Saltar</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="MetasSemanales">
                            <h2 class="text-center">Metas semanales</h2>
                            <br>
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semana Anterior</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <textarea name="txtMetaAnterior" class="form-control" id="txtMetaAnterior" rows="3"  width="90%"></textarea>
                                                            </div>
                                                            <div class="col-md-2 text-center" style="padding-top: 5px;">
                                                                <button type="button" class="btn btn-info btn-circle btn-sm" id="btnAddMetaAnterior"><i class="glyphicon glyphicon-ok"></i></button>
                                                                <button type="button" class="btn btn-danger btn-circle btn-sm" id="btnDeleteMetaAnterior"><i class="glyphicon glyphicon-remove"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            <div class="row" style="padding: 0;">
                                                <div class="col-md-12" id="divMetaAnteiorList">
                                                    <ul id="ulMetasAnterior">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semana Próxima</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <input type="text" name="txtMetaProxima" class="form-control" id="txtMetaProxima" placeholder="Meta" width="90%">
                                                            </div>
                                                            <div class="col-md-2 text-center" style="padding-top: 5px;">
                                                                <button type="button" class="btn btn-info btn-circle btn-sm" id="btnAddMetaProxima"><i class="glyphicon glyphicon-ok"></i></button>
                                                                <button type="button" class="btn btn-danger btn-circle btn-sm" id="btnDeleteMetaProxima"><i class="glyphicon glyphicon-remove"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="padding: 0;">
                                                <div class="col-md-12" id="divMetaProximaList">
                                                    <ul id="ulMetasProxima">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-default next-step">Saltar</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Guardar y continuar</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="ReporteFotografico">
                            <h2 class="text-center">Reporte fotográfico</h2>
                            <br>
                            <br>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                            </ul>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="CPTerminado">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>

                            <button id="btnreporte">DESCARGAR</button>
                        </div>

                        <div class="clearfix"></div>
                </div>
            </div>
        </section>
    </div>
</div>

