@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<center><h2>Matriz De Riesgo</h2></center>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/ControlObra/ControlObra2.css" rel="stylesheet" />
<link href="~/Content/style/css/Administrativo/Gestor.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/style/css/Subcontratistas/Estilo.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>


<style>


.dropdown-toggle, .btn-group {
    width: 100%;
}
.footerSticky {
    position: sticky; 
    bottom: 0;
    background-color: white !important;
    border-bottom: 1px solid #111;
    overflow:visible;
}


button.filtrado, button.separador  {
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    line-height: 1.42857;
    background-color: transparent !important;
}

button.filtrado:hover, button.separador:hover {
    color: #333 !important;
}


.blurry{
  filter: blur(3px);
}

table th:first-child{
  border-top-left-radius: 5px;
}

table th:last-child{
  border-top-right-radius:5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius:5px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius:5px;
}



table {
    box-shadow: 0px 3px 8px #888888;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.chkGrafica {
    width:50%;
    padding-left:0;
    margin-bottom:5px;
}

.chkGrafica .toggle.btn {
    min-width: 100px;
}



.toggle {
    margin-top: 24px;
    width: 90%
}



button.separador {
    white-space: nowrap !important;
    width: 120px;
    overflow: hidden;
}

.tituloKubrixEc, #tablaKubrixDetalleEco td {
    white-space: pre-wrap !important;
    overflow: hidden;
}

.dataTables_scrollHeadInner {
width: 100% !important;
}
.dataTables_scrollHeadInner table {
width: 100% !important;
}

.toggle.btn {
    min-width:110px !important;
    margin-top:0;
}
table.dataTable thead {
    font-size: 15px;
    background-color: #ed7d31;
    color: white;
}

</style>


<script>
    $(document).ready(function () {
        $('#cboProyecto').select2();
    });
    $(document).ready(function () {
        $('#cboCC').select2();
    });
    $(document).ready(function () {
        $('#cboContratos').select2();
    });
</script>

<div class="container-fluid">
    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'>Filtros : </legend>
        <div class='col-md-6 col-lg-6'>
            <div class='input-group'>
                <span class='input-group-addon'>Centros de costo</span>
                <select type='text' id='cboProyecto' class='form-control'></select>
            </div>
        </div>
        <div class='col-md-4 col-lg-2'>
        </div>
        <div class='col-md-2 col-lg-4'>
            <button type="button" class="btn btn-primary" id="btnNuevo">Generar Nueva Matriz</button>
            <button type="button" class="btn btn-primary" id="btnBuscar">Buscar</button>
        </div>
    </fieldset>

    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'>Resultados : </legend>
        
        <div class='table-responsive'>
            <table id='tblMatrizDeRiesgo' class='table table-hover table-fixed table-bordered compact dataTable no-footer'>
                <thead class='bg-table-header'>
                </thead>
            </table>
        </div>
    </fieldset>
</div>

@Html.Partial("reportViewerView", false)

<div id='mdlMatrizDeRiesgo' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-xl' style="width: 100%;
    padding: 0px;
    margin: 0px;">
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i><label id="textolblMtz" for=""></label>   </h1>
            </div>
            <div class='modal-body' style="height: 600px; overflow-y:scroll;">
                <div class="container-fluid" >
                    <div class="row">
                        <div class='row'>
                            @* <div class='col-md-12 col-lg-12'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Contrato</span>
                                    <select type='text' id='cboContratos' class='form-control'></select>
                                </div>
                            </div> *@
                        </div>
                        <br>
                        <div class='row'>
                            <div class='col-md-6 col-lg-6'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>centro de costo</span>
                                    <select type='text' id='cboCC' class='form-control'></select>
                                </div>
                            </div>

                            <div class='col-md-6 col-lg-6'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Elaboro</span>
                                    <input type='text' id='inpElaboro' class='form-control'></input>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class='row'>
                            <div class='col-md-4 col-lg-4'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>No Proyecto</span>
                                    <input type='text' id='inpNoProyecto' class='form-control'>
                                </div>
                            </div>
                            <div class='col-md-4 col-lg-4'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Fase de proyecto</span>
                                    <select type='text' id='inpFaseDeProyecto' class='form-control'>
                                        <option value="PLANEACION">PLANEACION</option>    
                                        <option value="CONSTRUCCION">CONSTRUCCION</option>    
                                        <option value="CIERRE">CIERRE</option>    
                                    </select>
                                </div>
                            </div>
                            <div class='col-md-4 col-lg-4'>
                                <div class='input-group'>
                                    <span class='input-group-addon'>Fecha</span>
                                    <input type='text' id='dtFecha' class='form-control'>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary btn-sm" id="btnTiposRespuestaRiesgo" ><i class="fa fas-save"></i> Tipos de Respuesta a Riesgo</button>
                                </div>
                                <div class="col-md-4">
                                   <button type="button" class="btn btn-primary btn-sm" id="btnImpactoSobreProyecto" ><i class="fa fas-save"></i> Impacto Sobre Los Objetivos del Proyecto </button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary btn-sm" id="btnGrafica" ><i class="fa fas-save"></i> Impacto x Probabilidad</button>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary btn-sm" id="btnGenerarDetalle" ><i class="fa fas-save"></i> Generar Detalle</button>
                                <button type="button" class="btn btn-warning btn-sm" id="btnReporte" ><i class="fa fas-save"></i> Reporte</button>
                                
                            </div>
                        </div>
                        <br>

                        <fieldset class='fieldset-custm'>
                            <legend class='legend-custm'>Filtro : </legend>
                            <div class="row">

                                <div class='col-md-3 col-lg-3'>
                                    <div class="input-group">
                                        <div class="input-group-addon">Filtrar Estatus</div>
                                        <select id="cboEstatus" class="form-control" multiple>
                                            <option value="Todos" selected>TODOS</option>
                                            <option value="0">Cerrado</option>
                                            <option value="1">Abierto</option>
                                            <option value="2">Proceso</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class='col-md-9 col-lg-9'></div>

                            </div>
                        </fieldset>
                        
                        <div id="contenedorTabla" class='table-responsive' style="display: none;">
                            <br>
                            <table id='tblMatrizDetallado' class='tabla table-bordered compact hover table-responsive'>
                                <thead>
                                    <tr style="background-color: black;border: 1px solid !important;">
                                        <th colspan="5" class="text-center Riesgo">Riesgo</th>
                                        <th colspan="4" class="text-center Identificacion">Identificacion</th>
                                        <th colspan="2" class="text-center Impacto">Impacto</th>
                                        <th colspan="6" class="text-center Ponderacion">Ponderacion</th>
                                        <th colspan="4" class="text-center Plan">Plan</th>
                                        <th colspan="1" class="text-center Estatus">Estatus</th>
                                    </tr>
                                     <tr>
                                        <th class="text-center Riesgo"></th>
                                        <th class="text-center Riesgo"></th>
                                        <th class="text-center Riesgo"></th>
                                        <th class="text-center Riesgo"></th>
                                        <th class="text-center Riesgo"></th>
                                        <th class="text-center Identificacion"></th>
                                        <th class="text-center Identificacion"></th>
                                        <th class="text-center Identificacion"></th>
                                        <th class="text-center Identificacion"></th>
                                        <th class="text-center Impacto"></th>
                                        <th class="text-center Impacto"></th>
                                        <th class="text-center Ponderacion"></th>
                                        <th class="text-center Ponderacion"></th>
                                        <th class="text-center Ponderacion"></th>
                                        <th class="text-center Ponderacion"></th>
                                        <th class="text-center Ponderacion"></th>
                                        <th class="text-center Ponderacion"></th>
                                        <th class="text-center Plan"></th>
                                        <th class="text-center Plan"></th>
                                        <th class="text-center Plan"></th>
                                        <th class="text-center Plan"></th>
                                        <th class="text-center Estatus"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br>
                       <div class="row" id='contenidoInformativo'>
                            <div class='col-md-6' style="">
                            <h4>Impacto sobre los objetivos del proyecto</h4>
                            <div class='table-responsive'>
                                <table id='td' class='table table-hover table-fixed table-bordered compact dataTable no-footer' style="border: 1px solid;text-align-last: center;">
                                    <tr>
                                        <th style="">Tiempo</th>
                                        <th style="">Costo</th>
                                        <th style="">Calidad</th>
                                        <th colspan="3" style="">Definir escala de la severidad</th>
                                    </tr>
                                    <tr>
                                        <th><input type='' id='inpTiempoBaja' class='form-control'></th>
                                        <th><input type='' id='inpCostoBaja' class='form-control'></th>
                                        <th><input type='' id='inpCalidadBaja' class='form-control'></th>
                                        <th><input type='' id='inpBaja' class='form-control'></th>
                                        <th>Baja</th>
                                        <th><input type='' id='inpBajaFin' class='form-control'></th>
                                    </tr>
                                    <tr>
                                        <th><input type='' id='inpTiempoMedia' class='form-control'></th>
                                        <th><input type='' id='inpCostoMedia' class='form-control'></th>
                                        <th><input type='' id='inpCalidadMedia' class='form-control'></th>
                                        <th><input type='' id='inpMedia' class='form-control'></th>
                                        <th>Media</th>
                                        <th><input type='' id='inpMediaFin' class='form-control'></th>
                                    </tr>
                                    <tr>
                                        <th><input type='' id='inpTiempoAlta' class='form-control'></th>
                                        <th><input type='' id='inpCostoAlta' class='form-control'></th>
                                        <th><input type='' id='inpCalidadAlta' class='form-control'></th>
                                        <th><input type='' id='inpAlta' class='form-control'></th>
                                        <th>Alta</th>
                                        <th><input type='' id='inpAltaFin' class='form-control'></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        @* <div class='col-md-6'>

                                <div class='col-md-6 col-lg-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>BAJA</span>
                                        
                                    </div>
                                </div>
                                <div class='col-md-1 col-lg-1' style="padding: 0px;width: 3px;">
                                    <h4>-</h4>
                                </div>
                                <div class='col-md-5 col-lg-5'>
                                    
                                </div>
                                <br>
                                <div class='col-md-6 col-lg-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>MEDIA</span>
                                        
                                    </div>
                                </div>
                                <div class='col-md-1 col-lg-1' style="padding: 0px;width: 3px;">
                                    <h4>-</h4>
                                </div>
                                <div class='col-md-5 col-lg-5'>
                                    
                                </div>
                                <br>  
                                <div class='col-md-6 col-lg-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>ALTA</span>
                                        
                                    </div>
                                </div>
                                <div class='col-md-1 col-lg-1' style="padding: 0px;width: 3px;">
                                    <h4>-</h4>
                                </div>
                                <div class='col-md-5 col-lg-5'>
                                
                                </div>
                        </div> *@
                        <div class='col-md-3' style="">
                            <h4>Definir escala de severidad</h4>
                                <div class='table-responsive'>
                                    <table id='tblEscalaDeSeveridad' class='table table-fixed table-responsive table-striped' style="border: 1px solid;">
                                        <tr>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">1</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">2</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">3</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">4</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">5</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">x</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">5</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">4</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">3</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">2</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">1</th>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-success' id="btnSave"><i class='fa fa-save'></i> Guardar</button>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> Regresar</button>
            </div>
        </div>
    </div>
</div>


<div style="z-index: 99999;" id='mdlAgregarDetalle' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-md' >
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Vizualizar</h1>
            </div>
            <div class='modal-body'>
                <div class="container-fluid">
                 
                        <div class="row" >

                            <div class="row" >
                                <div class="col-md-12" id="contenedorTablaTipos" style="display: none;">
                                    <table class="table table-hover table-fixed table-bordered compact dataTable no-footer">
                                        <thead>
                                            
                                            <tr style="background-color: black;color:white;">
                                                <th colspan="4" style="    text-align: center;">Tipos de respuesta a riesgos</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" style="    text-align: center;">AMENAZA</th>
                                                <th colspan="2" style="    text-align: center;">OPORTUNIDAD</th>
                                            </tr>
                                        </thead>
                                        <tbody id="conteniendoDeTabla">

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class='col-md-12' id="contenedoEscala" style="display:none;">
                            <h4>Impacto sobre los objetivos del proyecto</h4>
                            <div class='table-responsive'>
                                <table id='td' class='table table-hover table-fixed table-bordered compact dataTable no-footer' style="border: 1px solid;text-align-last: center;">
                                    <tr>
                                        <th style="">Tiempo</th>
                                        <th style="">Costo</th>
                                        <th style="">Calidad</th>
                                        <th colspan="3" style="">Definir escala de la severidad</th>
                                    </tr>
                                    <tr>
                                        <th><input type='' id='inpTiempoBaja2' class='form-control'></th>
                                        <th><input type='' id='inpCostoBaja2' class='form-control'></th>
                                        <th><input type='' id='inpCalidadBaja2' class='form-control'></th>
                                        <th><input type='' id='inpBaja2' class='form-control'></th>
                                        <th>Baja</th>
                                        <th><input type='' id='inpBajaFin2' class='form-control'></th>
                                    </tr>
                                    <tr>
                                        <th><input type='' id='inpTiempoMedia2' class='form-control'></th>
                                        <th><input type='' id='inpCostoMedia2' class='form-control'></th>
                                        <th><input type='' id='inpCalidadMedia2' class='form-control'></th>
                                        <th><input type='' id='inpMedia2' class='form-control'></th>
                                        <th>Media</th>
                                        <th><input type='' id='inpMediaFin2' class='form-control'></th>
                                    </tr>
                                    <tr>
                                        <th><input type='' id='inpTiempoAlta2' class='form-control'></th>
                                        <th><input type='' id='inpCostoAlta2' class='form-control'></th>
                                        <th><input type='' id='inpCalidadAlta2' class='form-control'></th>
                                        <th><input type='' id='inpAlta2' class='form-control'></th>
                                        <th>Alta</th>
                                        <th><input type='' id='inpAltaFin2' class='form-control'></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                      
                        <div class='col-md-12' id="contenedorEscalaSev" style="display:none;" >
                            <h4>Definir escala de severidad</h4>
                                <div class='table-responsive'>
                                    <table id='tblEscalaDeSeveridad2' class='table table-fixed table-responsive table-striped' style="border: 1px solid;">
                                        <tr>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">1</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">2</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">3</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">4</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">5</th>
                                            <th style="border-top: 0px solid #ddd;width: 5%;">x</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">5</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">4</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">3</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">2</th>
                                        </tr>
                                        <tr>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border: solid;"></th>
                                            <th style="border-top: 0px solid #ddd;">1</th>
                                        </tr>
                                    </table>
                                </div>
                        </div>

                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' id="btnRegresar"><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
<script src="~/Scripts/js/ControlObra/MatrizDeRiesgo/MatrizDeRiesgo.js"></script>
<script src="~/Scripts/select2.js"></script>
