
@{
    ViewBag.Title = "ReporteDiario";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/css/ControlObra/ActividadAvance.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/ControlObra/ReporteDiario.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Reporte Avance Diario</h2>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                            <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                                <legend class="legend-custm">Filtros:</legend>
                                <div class="input-group col-md-12">
                                    <div class="col-lg-6">
                                        <label>Capitulo:</label>
                                        <select class="form-control" id="SelectCapitulosFiltro"></select>
                                    </div>

                                    <div class="col-lg-2">
                                         <label>Fecha:</label>
                                        <input class="form-control" id="dpFechaInicio"/>
                                    </div>

                                    <div class="col-lg-2" style="padding-left: 0px;">
                                        <button type="button" class="btn btn-primary" id="btnBuscarActividades" style="margin-top: 24px; margin-right: 5px;">
                                            <span class="glyphicon glyphicon-search"></span> Buscar
                                        </button>  
                                        <button id="btnImprimir" class="btn btn-primary" style="margin-top: 24px; margin-right: 5px;" disabled><span class="glyphicon glyphicon-print"></span> Imprimir</button>                                     
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                            <fieldset class="fieldset-custm" style="margin-top: 5px; border-radius: 0px !important;">
                                <legend class="legend-custm"></legend>
                                <table id="tblActividades" class="table" style="width:100%">
                                    <thead class="bg-table-header">
                                            <tr>
                                                <th></th>   
                                                <th></th>
                                                <th>Actividad</th>
                                                <th>Unidad</th>
                                                <th>cantidad</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Fin</th> 
                                                <th>Acum Anterior</th> 
                                                <th>Acum Actual</th> 
                                                <th> % Avance Acum Actual</th>                                       
                                            </tr>
                                        </thead>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

