
@{
    ViewBag.Title = "UnidadesCatalogo";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/ControlObra/controlObra.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/ControlObra/UnidadesCatalogo.js"></script>
<script src="~/Scripts/moment.min.js"></script>


<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Catalogo de Unidades</h2>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                            <fieldset class="fieldset-custm" style="margin-top: 5px; border-radius: 0px !important;">
                                <legend class="legend-custm"></legend>
                                <button id="btnNuevaUnidad" class="btn btn-primary" style="margin-top: 24px; margin-right: 5px;">
                                    <span class="glyphicon glyphicon-plus"></span> Registrar Unidad
                                </button>
                                <table id="tblUnidades"></table>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>

     <div class="modal fade" id="mdlUnidad" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <h3><label id="lblTitulo"> Nueva Unidad </label></h3>
                    </div>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Unidad:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUnidad" class="form-control" placeholder="Unidad" />
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">                 
                    <a id="btnGuardarUnidad" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-save" style="font-size: medium;"></span> Guardar</a>
                    <a data-dismiss="modal" id="btnCancelActivity" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Cancelar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="dialogEliminarUnidad" title="Eliminar Avance" style="display: none;">
        <text id="txtEliminarUnidad">¿Está seguro que desea eliminar esta unidad?</text>
    </div>
</div>