@{
    ViewBag.Title = "Autorizaciones";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Inventario/AutorizaMovimientoInternoJS.js"></script>
<div class="container-fluid" id="divppal">
    <div class="row text-center">
        <h3>Validaciones Movimiento de Control Interno Maquinaria</h3>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Filtros Autorizaciones</legend>
            <div class="col-lg-4">
                <label>Estatus:</label>
                <select class="form-control" id="tbEstatus">
                    <option value="0">Pendientes</option>
                    <option value="1">Realizados</option>
                </select>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Listado de Información</legend>
            <table id="tblAutorizacionInterno" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="Folio" data-width="18%">Folio</th>
                        <th data-column-id="Economico" data-width="18%">Economico</th>
                        <th data-column-id="Fecha" data-width="18%">Fecha</th>
                        <th data-column-id="Envio" data-width="18%">Lugar Envio</th>
                        <th data-column-id="Destino" data-width="18%">Lugar Destino</th>
                        <th data-column-id="VerSolicitud" data-formatter="VerSolicitud" data-sortable="false" data-width="10%" data-searchable="false">Ver Solicitud</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
    </div>
</div>

<div id="divVista" class="container-fluid hide">
    <div class="row">
        <div class="col-lg-12">
            <div class="clsFrame text-center">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm"> <span class="glyphicon glyphicon-home cursorClick" id="BntRegresar"></span>Vista Previa:</legend>
                    <iframe id="report" align="middle" marginwidth="0"
                            marginheight="0"
                            hspace="0"
                            vspace="0"
                            frameborder="0"
                            scrolling="no" class="StyleIframe"></iframe>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ajustarDiv">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm"> Autorizadores:</legend>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ajustarDiv">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><label id="lblEnvia"></label></div>
                        <div id="btnEnvia" class="panel-body">Nombre y Firma del Responsable del Envío</div>
                        <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 ajustarDiv hide">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><label id="lblGuardian"></label></div>
                        <div id="btnGuardian" class="panel-body">Firma del Guardia</div>
                        <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ajustarDiv">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><label id="lblRecepcion"></label></div>
                        <div id="btnRecepcion" class="panel-body">Nombre y Firma del Responsable de recepcion</div>
                        <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ajustarDiv hide">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><label id="lblValida"></label></div>
                        <div id="btnValida" class="panel-body">Nombre y Firma De Enterado</div>
                        <div class="panel-footer panel-footer-Pendiente">Pendiente</div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

