@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/select2.css" rel="stylesheet" />

<style>
/* SELECT2 */
.select2-container {
    /* width: 100% !important; */
}
.select2-container--default .select2-selection--single {
    border-radius: 0px 4px 4px 0px!important;
    height: 34px !important;
    border: 1px solid #ccc !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}
</style>

<script src="~/Scripts/js/Maquinaria/Inventario/MovimientoInternoJS.js"></script>

<div class="container-fluid">
    <div class="row text-center">
        <h3>CONTROL DE MOVIMIENTOS INTERNOS DE MAQUINARIA Y EQUIPO</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Datos Generales</legend>
                <div class="col-lg-4">
                    <label>Area de Envío</label>
                    <select class="form-control" style="padding: 5px;" id="cboEnvio">
                        <option value="1">PATIO MAQUINARIA</option>
                        <option value="2">TALLER MAQUINARIA</option>
                        <option value="3">CONTRUCCION OVERHAUL</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label>Area Destino</label>
                    <select class="form-control" style="padding: 5px;" id="cboRecepcion">
                        <option value="2">TALLER MAQUINARIA</option>
                        <option value="1">PATIO MAQUINARIA</option>
                        <option value="3">CONTRUCCION OVERHAUL</option>
                    </select>
                </div>
              
                <div class="col-lg-2">
                    <label>Folio</label>
                    <input class="form-control" id="tbFolio" />
                </div>
                <div class="col-lg-2">
                    <label>Fecha</label>
                    <input class="form-control" id="tbFecha" />
                </div>
            </fieldset>
        </div>

        <div class="col-lg-12 form-group">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Datos Economico:</legend>
                <div class="col-lg-2">
                    <label>Economico:</label>
                    <select class="form-control" id="cboEconomicos"></select>
                </div>
                <div class="col-lg-3">
                    <label>Descripcion:</label>
                    <input class="form-control" id="tbDescripcion" />
                </div>
                <div class="col-lg-2">
                    <label>Marca:</label>
                    <input class="form-control" id="tbMarca" />
                </div>
                <div class="col-lg-2">
                    <label>Modelo:</label>
                    <input class="form-control" id="tbModelo" />
                </div>
                <div class="col-lg-3">
                    <label>Serie:</label>
                    <input class="form-control" id="tbSerie" />
                </div>
                <div class="col-lg-2">
                    <label>Horometro/Odometro</label>
                    <input class="form-control" id="tbHorometros" />
                </div>
                <div class="col-lg-2">
                    <label>Combustible</label>
                    <select class="form-control" id="tbCombustible">
                        <option value="Vacio">vacío</option>
                        <option value="1/4">1/4</option>
                        <option value="1/2">1/2</option>
                        <option value="3/4">3/4</option>
                        <option value="lleno">lleno</option>
                    </select>

                </div>
            </fieldset>
        </div>

        <div class="col-lg-12 form-group">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Descripciones:</legend>
                <div class="col-lg-5">
                    <label>Estatus</label>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="1">Disponible para envío a obra</label>
                        <label><input type="radio" name="optradio" value="2">Para reparación</label>
                        <label><input type="radio" name="optradio" value="3">Para stand by en patio</label>
                    </div>
                </div>
                <div class="col-lg-7">
                    <label>Descripción</label>
                    <input class="form-control" id="tbComentario" />
                </div>
            </fieldset>
        </div>

        <div class="col-lg-12 form-group hide">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Detalle adicionales:</legend>
                <div class="col-lg-3">
                    <label>Baterias:</label>
                    <input class="form-control" id="tbBaterias" />
                </div>
                <div class="col-lg-3">
                    <label>Marca:</label>
                    <input class="form-control" id="tbMarca2" />
                </div>
                <div class="col-lg-3">
                    <label>Serie:</label>
                    <input class="form-control" id="tbSerie2" />
                </div>
                <div class="col-lg-3">
                    <label>#Registro Construplan:</label>
                    <input class="form-control" id="tbRegistro" />
                </div>
            </fieldset>
        </div>

        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 pull-right">
            <button class="btn btn-success form-control" id="tbGuardarControl">
                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
            </button>
        </div>

    </div>
</div>

<script src="~/Scripts/select2.js"></script>