@{
    ViewBag.Title = "FichaMaquinaria";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}
<link href="~/Content/style/css/Catalogos/AnexosMaquinariaStyle.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Style-Generales.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Maquinaria/FichaTecnica.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Ficha Maquinaria</h3>
    </div>
</div>

<img class="img-info img-locate" src="@Url.Content("~/Content/img/logo/CAR-001.png")" id="img" style="display:none;">
<div id="contact-info" class="vcard">
    <!-- Microformats! -->
    <h2><label id="txtNoEconomico"></label></h2>
</div>

<h4>Documentos</h4>
<div class="contenedor">
    <div class="row">
        <div class='col-md-4 col-lg-4 form-group'>
            <label>No Economico:</label>
            <input type='text' id='txtFiltroNoEconomico' class='form-control'>
        </div>
    </div>
</div>

<h4>Filtro</h4>
<div class="contenedor">
    <div class="row">
        <div class="col-lg-2">
            <label>Factura</label>
            <div class="" id="divFactura"></div>
        </div>
        <div class="col-lg-2">
            <label>Pedimento</label>
            <div class="" id="divPedimento"></div>

        </div>
        <div class="col-lg-2">
            <label>Póliza de Seguro</label>
            <div class="" id="divpolizaSeguros"></div>

        </div>
        <div class="col-lg-2">
            <label>Tarjeta de Circulación</label>
            <div class="" id="divtarjetaCirculacion"></div>

        </div>
        <div class="col-lg-2">
            <label>Permiso especial de carga</label>
            <div class="" id="divPermisoEspecial"></div>

        </div>
        <div class="col-lg-2">
            <label>Certificado</label>
            <div class="" id="divCertificado"></div>
        </div>
    </div>
</div>

<h4>Ficha</h4>
<div class="contenedor">
    <div class="row">
        <div class="col-lg-4 form-group">
            <label>No. Economico:</label>
            <input type="text" id="NoEconomico" class="form-control" disabled>
        </div>

        <div class="col-lg-4 form-group">
            <label>Descripcion:</label>
            <input type="text" id="txtDescripcion" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Marca:</label>
            <input type="text" id="txtMarca" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Modelo:</label>
            <input type="text" id="txtModelo" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>No Serie:</label>
            <input type="text" id="txtNoSerie" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Año:</label>
            <input type="text" id="txtAnio" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Fecha Compra:</label>
            <input type="text" id="dateFechaCompra" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Propietario:</label>
            <input type="text" id="txtPropietario" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Ubicacion:</label>
            <input type="text" id="txtUbicacion" class="form-control" disabled>
        </div>

        <div class="col-lg-4 form-group">
            <label>Horometro inicial:</label>
            <input type="text" id="txtHorometroInicio" value="0" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Horometro Actual:</label>
            <input type="text" id="txtHorometroActual" value="0" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Ultimo Paro:</label>
            <input type="text" id="txtUltimoParo" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Descripción Paro:</label>
            <input type="text" id="txtDesParo" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Ultimo Mantenimiento:</label>
            <input type="text" id="txtUltMantenimiento" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Proximo Mantenimiento:</label>
            <input type="text" id="txtProxMantenimiento" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Costo Adquisicion:</label>
            <input type="text" id="txtCostAdquisicion" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Costo OVERHAUL activo fijo:</label>
            <input type="text" id="txtCostOverActivo" class="form-control" disabled>
        </div>
        <div class="col-lg-4 form-group">
            <label>Costo OVERHAUL Aplicado:</label>
            <input type="text" id="txtCostOverAplicado" class="form-control" disabled>
        </div>
        @*<div class="col-lg-4 form-group">
            <label>Costo Hora:</label>
            <input type="text" id="txtCostoHora" class="form-control" disabled>
        </div>*@
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnImprimir">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)
