
@{
    ViewBag.Title = "Marcas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<script src="~/Scripts/js/Maquinaria/Overhaul/MarcasJS.js"></script>

<h2 class="text-center">Catálogo de Marcas</h2>

<div class="row form-group">
    <div class="col-lg-10">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <label>Nombre de la marca:</label>
                <input class="form-control" id="txtFiltroDescripcionMarca" type="text" maxlength="100">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label>Estatus:</label>
                <select class="form-control" id="cboFiltroEstatusMarca">
                    <option value="1">ACTIVO</option>
                    <option value="0">INACTIVO</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <button type="button" class="btn btn-info margin-top" id="btnBuscarMarcas">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </fieldset>
    </div>
    <div class="col-lg-2 text-center">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Marca:</legend>
            <button type="button" class="btn btn-success margin-top" id="btnNuevaMarca">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </button>
        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Marcas:</legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="gridMarcas" class="table table-condensed table-hover table-striped text-center bootgrid-table" aria-busy="false">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="update" class="text-center" style="width:6%;" data-formatter="update">
                                <a href="javascript:void(0);" class="column-header-anchor ">
                                    <span class="text">Editar</span><span class="icon glyphicon "></span>
                                </a>
                            </th>
                            <th data-column-id="delete" class="text-center" style="width:6%;" data-formatter="delete">
                                <a href="javascript:void(0);" class="column-header-anchor ">
                                    <span class="text">Baja</span><span class="icon glyphicon "></span>
                                </a>
                            </th>
                            <th data-column-id="descripcion" class="text-center" style="">
                                <a href="javascript:void(0);" class="column-header-anchor ">
                                    <span class="text">Marca</span><span class="icon glyphicon "></span>
                                </a>
                            </th>
                            <th data-column-id="estatusTexto" class="text-center" style="" data-formatter="estatus">
                                <a href="javascript:void(0);" class="column-header-anchor ">
                                    <span class="text">Estatus</span><span class="icon glyphicon "></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </fieldset>
        <div class="modal fade" id="modalMarcas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-bg">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <div class="text-center">
                            <h3><label id="title-modal">Alta de marca</label></h3>
                        </div>
                    </div>
                    <div class="modal-body text-center modal-content-tamaño">
                        <div class="container-fluid">
                            <form id="frmMarca" novalidate="novalidate">
                                <div class="row">
                                    <fieldset class="fieldset-custm">
                                        <legend class="legend-custm">Datos Marca:</legend>

                                        <div class="col-xs-3 col-xs-3 col-md-3 col-lg-3 form-group">
                                            <label>Descripción:</label>
                                            <input class="form-control required" id="txtDescripcionMarca" type="text" aria-required="true">
                                        </div>
                                        <div class="col-xs-3 col-xs-3 col-md-3 col-lg-3 form-group">
                                            <label>Estatus:</label>
                                            <select class="form-control" id="cboEstatusMarca">
                                                <option value="1">ACTIVO</option>
                                                <option value="0">INACTIVO</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-xs-12 col-md-12 col-lg-6 form-group">
                                        <div>
                                            <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardarMarca">
                                                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                            </button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalCancelarMarca" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>