<div id="mdlImagen" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title" id="tituloModalImagen"><i class="fa fa-dollar"></i>Imagen Serie</h1>
            </div>
            <div class="modal-body">
                <!-- SECCION DE CONTROLES -->
                <div class="seccion">
                    <div class="row">
                        <div class="col-lg-12">

                            <img id="imgRemovidoExpand" src="" style="max-width: 500px;max-height: 500px;width: 120%;height: 120%;">

                        </div>
                    </div>

                </div>
                <!-- END: SECCION DE CONTROLES -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Regresar</button>
            </div>
        </div>
    </div>
</div>

