
@{
    ViewBag.Title = "Presupuesto";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Overhaul/PresupuestoOverhaul.css" rel="stylesheet" />
<link href="~/Scripts/js/Principal/Home/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/Scripts/js/Principal/Home/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/rowgroup/1.1.1/css/rowGroup.dataTables.min.css" rel="stylesheet" />

<h2 class="text-center">Presupuesto</h2>

<fieldset class="fieldset-custm">
    <legend class="legend-custm"></legend>
    <div id="avance" class="tab-pane">
        <div class="row form-group">
            <div class="col-lg-12">
                <fieldset class="fieldset-custm fielset-Filtros">
                    <legend class="legend-custm">Filtros</legend>
                    <div class="col-md-12 col-lg-12 bloqueSeparar">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <label>Año:</label>
                            <select class="form-control" id="cboAnioAvance"></select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <label>Modelo:</label>
                            <select class="form-control" id="cboModeloAvance"></select>
                        </div>              
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <label>Subconjunto:</label>
                            <select class="form-control" id="cboSubconjunto" style="width: 100%;"></select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <label>No. Componente</label>
                            <input id="txtComponenteAvance" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-lg-2">
                            <button type='button' class="btn btn-primary" id="btnBuscar"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                @*<fieldset class="fieldset-custm">
                    <legend class="legend-custm">Avance General de Presupuesto</legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <table id="tblAvanceGeneral" class="table table-hover table-striped text-center" aria-busy="false"></table>
                    </div>
                </fieldset>*@

                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Avance Presupuesto</legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <table id="tblAvance" class="table table-hover table-striped text-center" aria-busy="false"></table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</fieldset>





<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<script src="~/Scripts/js/Principal/Home/vendor/select2/select2.min.js"></script>

<script src="~/Scripts/js/Maquinaria/Overhaul/PresupuestosOverhaulJS.js"></script>
<script src="~/Scripts/js/Principal/Home/js/bootstrap-tooltip.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>