
@{
    ViewBag.Title = "ReportesTaller";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Overhaul/ReportesTallerJS.js"></script>

<style>
    .bootgrid-table th:active, .bootgrid-table td {
        white-space: normal;
    }

    .column-header-anchor {
        white-space: normal !important;
    }

    .tabla {
        overflow-y: auto;
        height: 500px;
    }

        .tabla th {
            position: sticky;
            top: 0;
            background-color: #81bd72 !important;
            text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
        }

    td {
        vertical-align: middle !important;
    }

    .tabla .infoBar {
        position: sticky;
        top: 0;
    }

    .ui-autocomplete {
        z-index: 2147483647;
    }

    .divider {
        width: 5px;
        height: auto;
        display: inline-block;
    }
</style>


<h2 class="text-center">Reportes Taller</h2>

<legend class="legend-custm">Tipo de reportes</legend>
<div class="container-fluid">
    <ul class="nav nav-tabs" id="ulNuevo">
        <li class="active"><a id="tabPrecision" data-toggle="tab" href="#precision">Precisión</a></li>
    </ul>
    <div class="tab-content">
        <div id="precision" class="tab-pane fade in active">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Filtros:</legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-3 col-xs-3 col-md-3 col-lg-3 form-group">
                            <label>Fecha inicial:</label>
                            <input class="form-control hasDatepicker" id="txtFechaInicio">
                        </div>
                        <div class="col-xs-3 col-xs-3 col-md-3 col-lg-3 form-group">
                            <label>Fecha final:</label>
                            <input class="form-control hasDatepicker" id="txtFechaFin">
                        </div>
                        <button type="button" class="btn btn-info margin-top pull-left" id="btnBuscarPrecision">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>
                        <button type="button" class="btn btn-warning margin-top pull-right" id="btnReportePrecision">
                            <span class="glyphicon glyphicon-file"></span> Reporte
                        </button>
                    </div>
                </fieldset>
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Reportes Remoción:</legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabla">
                        <table id="tblPrecision" class="table table-condensed table-hover table-striped text-center bootgrid-table" aria-busy="false">
                            <thead class="bg-table-header">
                                <tr>
                                    <th data-column-id="id" class="text-center" style="" data-formatter="id" data-identifier="true" data-visible="false"></th>
                                    <th data-column-id="noEconomico" class="text-center" style="" data-formatter="noEconomico">No. ECONÓMICO</th>
                                    <th data-column-id="tipo" class="text-center" style="" data-formatter="tipo">TIPO DE OVERHAUL</th>
                                    <th data-column-id="fechaP" class="text-center" style="" data-formatter="fechaP">FECHA PROGRAMADA</th>
                                    <th data-column-id="horometroP" class="text-center" style="" data-formatter="horometroP">HORÓMETRO PROGRAMADO</th>
                                    <th data-column-id="diasDG" class="text-center" style="" data-formatter="diasDG">DIAS DG</th>
                                    <th data-column-id="fechaE" class="text-center" style="" data-formatter="fechaE">FECHA EJECUTADO</th>
                                    <th data-column-id="horometroE class=" text-center" style="" data-formatter="horometroE">HORÓMETRO EJECUTADO</th>
                                    <th data-column-id="diasR" class="text-center" style="" data-formatter="diasR">DIAS REALES</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>