/* PANEL */

/* END: PANEL */

/* DISEÑO SELECT2 */
.select2-container {
    min-width: 100% !important;
    width: 100% !important;
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    /*border-radius: 0px 4px 4px 0px!important;*/
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}

/* END: DISEÑO SELECT2 */

/* DISEÑO TABLA */
table.dataTable {
    width: 100% !important;
}

table.dataTable thead {
    font-size: 12px;
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important; */
    background-color: #3143a2;
    color: white;
}

table.dataTable th {
    padding: 4px;
    text-align: center;
    /* border-left: 1px solid gray !important;    */
    font-weight: bolder;
}

/* END: DISEÑO TABLA */

/* MODAL */
.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: #45cafc;
    height: 40px;
    padding: 0px;
    text-align: center;
}


.modal-lg {
    width: 60% !important;
}

.modal-md {
    width: 30% !important;
}

.modal-sx {
    width: 50% !important;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-title {
    color: black;
}


.modal-body {
    position: relative;
}

.modal-footer {
    background-color: #f5f5f5;
}

/* END: MODAL */



#btnGuardar {
    margin-top: 5px;
}

.table {
    font-size: 12px;
}