<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="https://doconut.com" target="_blank">Doconut Angular</a>&nbsp;<div class="loader" style="display: none;"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sample Files
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="loadDocument('Sample.doc')">DOC</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="loadDocument('Sample.pdf')">PDF</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="loadDocument('Sample.ppt')">PPT</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Navigation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="GotoPage('First')">First</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="GotoPage('Prev')">Prev</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="GotoPage('Next')">Next</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="GotoPage('Last')">Last</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rotate
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="rotate(1);">90</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="rotate(2);">180</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="rotate(3);">270</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="rotate(0);">None</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Zoom
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="zoom(true)">In</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="zoom(false)">Out</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="zoom(25)">25 %</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="zoom(100)">100 %</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="fit('width');">Fit Width</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="fit('height');">Fit Height</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)" (click)="fit('');">Fit None</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thumbs
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="thumbSize('small')">Small</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="thumbSize('normal')">Normal</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="thumbSize('large')">Large</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="showHideThumbs(true)">Hide Thumbs</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="showHideThumbs(false)">Show Thumbs</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="showHideSplitter(true)">Splitter Off</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="javascript:void(0);" (click)="showHideSplitter(false)">Splitter On</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main Viewer -->
<div class="row">
  <div class="col-lg-12 text-center">
    <div id="divDocViewer">
      <div id="div_ctlDoc"></div>
    </div>
  </div>
</div>


