
	@media(min-width:480px){
		nav.main-menu{
		    position: fixed;
			top: 0;
			bottom: 0;
			height: 100%;
			left: 0;
			width: 60px;
			overflow: hidden;
			-webkit-transition: width .05s linear;
			transition: width .05s linear;
			-webkit-transform: translateZ(0) scale(1,1);
			background: #00bcd4;
			z-index: 11;
		}
		nav.main-menu>ul{margin:7px 0}
		nav.main-menu>ul.logout{position:absolute;left:0;bottom:0}
		nav.main-menu li{position:relative;display:block;width:250px}
		nav.main-menu li>a{
		    position: relative;
			display: table;
			border-collapse: collapse;
			border-spacing: 0;
			color: #fff;
			-webkit-transform: translateZ(0) scale(1,1);
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}
		nav.main-menu li ul{
		    position: absolute;
			display: inline-block;
			background: #00bcd4;
			top: 0;
			right: -210px;
			width: 0;
			overflow: hidden;
			-webkit-transition: width 0s .05s linear;
			transition: width 0s .05s linear;
		}
		nav.main-menu li li{
			display:table;
			border-collapse:collapse;
			border-spacing:0;
			width:210px
		}
		nav.main-menu li li>a{
			width: 210px;
			color: #FFFFFF;
			padding: .7em 0;
		}
		nav.main-menu li li .subnav-text{
			display:table-cell;vertical-align:middle;padding-left:20px;padding-right:40px
		}
		.no-touch nav.main-menu li li:hover a{
			color:#fff;background-color:#00acc1;
		}
		.no-touch nav.main-menu li:hover>a,nav.main-menu li.active>a{color:#fff;background-color:#00acc1;}
		.no-touch nav.main-menu li:hover ul,nav.main-menu li.active ul{width:210px}
		nav.main-menu .nav-icon,i.fa.fa-home.nav_icon,i.fa.fa-cogs,i.fa.fa-check-square-o.nav_icon,i.fa.fa-file-text-o.nav_icon,i.fa.fa-bar-chart.nav_icon,i.fa.fa-map-marker,i.fa.fa-exclamation-triangle,i.fa.fa-list-ul{
			position:relative;display:table-cell;
			width:60px;text-align:center;vertical-align:middle;font-size:18px;padding:.7em 0;
		}
		nav.main-menu .nav-icon.icon-home{font-size:20px}
		nav.main-menu .nav-text{position: relative;
			left: -1px;
			display: table-cell;
			vertical-align: middle;
			width: 190px;
			visibility: hidden;
			padding: .7em 0;
		}
		nav.main-menu .icon-angle-right,.icon-angle-down{display:table-cell;width:20px;vertical-align:middle;font-size:16px}
		.no-touch nav.main-menu:hover,nav.main-menu.expanded{width:250px;overflow:visible}
		.no-touch nav.main-menu:hover .nav-text,nav.main-menu.expanded .nav-text{visibility:visible}
		nav.main-menu .label-new{display:block;position:absolute;top:10px;right:5px}
	}
	@media(max-width:479px){
		nav.main-menu{
			position: relative;
			width: 100%;
			left: 0;
			right: 0;
			max-height: 0;
			overflow: hidden;
			-webkit-transition: max-height .2s linear;
			transition: max-height .2s linear;
			-webkit-transform: translateZ(0) scale(1,1);
			background: #00bcd4;
			z-index: 1010;
		}
		nav.main-menu>ul{margin:0}nav.main-menu>ul>li{    
			border-width: 0 0 1px;
		}
		.no-touch nav.main-menu>ul>li:hover>a,nav.main-menu>ul>li.active>a{
			color: #fff;
			background-color: #00acc1;
		}
		nav.main-menu li{display:block;width:100%}nav.main-menu li>a{
			position: relative;
			display: table;
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			color: #fff;
			-webkit-transform: translateZ(0) scale(1,1);
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}
		nav.main-menu li ul{
		    display: block;
			background: #00bcd4;
			width: 100%;
			max-height: 0;
			overflow: hidden;
			-webkit-transition: max-height .5s linear;
			transition: max-height .5s linear;
		}
		nav.main-menu li li{display:table;border-collapse:collapse;border-spacing:0;width:100%}
		nav.main-menu li li>a{    
			width: 100%;
			height: 40px;
			color: #fff;}
		nav.main-menu li li .subnav-text{display:table-cell;vertical-align:middle;padding-left:60px}
		.no-touch nav.main-menu li:hover ul,nav.main-menu li.active ul{max-height:1000px}
		nav.main-menu .nav-icon,i.fa.fa-home.nav_icon,i.fa.fa-cogs,i.fa.fa-check-square-o.nav_icon,i.fa.fa-file-text-o.nav_icon,i.fa.fa-bar-chart.nav_icon,i.fa.fa-map-marker,i.fa.fa-exclamation-triangle,i.fa.fa-list-ul{
			position:relative;display:table-cell;width:60px;
			height:40px;text-align:center;vertical-align:middle;font-size:18px
		}
		nav.main-menu .nav-icon.icon-home{font-size:20px}
		nav.main-menu .nav-text{position:relative;left:-1px;display:table-cell;vertical-align:middle}
		nav.main-menu .icon-angle-right{display:table-cell;width:20px;vertical-align:middle;font-size:16px}
		nav.main-menu.expanded{max-height:1500px;overflow:visible;-webkit-transition:max-height .3s linear;transition:max-height .3s linear}
		nav.main-menu .label-new{display:block;position:absolute;top:12px;right:11px}
	}
	nav.main-menu .label-new.label-warning{color:#555}
	nav.user-menu{
		position:relative;top:0;left:0;right:0;height:60px;border-bottom:1px solid #eee;
		background-color:#fff;-webkit-box-shadow:0 4px 10px -4px rgba(0,0,0,0.15);
		box-shadow:0 4px 10px -4px rgba(0,0,0,0.15)
	}


	.no-touch nav.user-menu>section>a:hover i,nav.user-menu>section>a.active i,nav.user-menu>section>a.unread i{color:#76b6ec}

	nav.user-menu .main-menu-access{position:relative;float:left;padding:15px 17px;color:#666;-webkit-transition:all .1s;transition:all .1s}
	nav.user-menu .main-menu-access i{font-size:21px;width:30px}
	nav.user-menu .main-menu-access.active{background: #00bcd4;}
	nav.user-menu .main-menu-access.active i{color:#fff}
/*-- //responsive --*/