

h3 {
    text-align: center;
}

/*TABLAS*/
table.dataTable {
    width: 100% !important;
}

    table.dataTable tbody tr td, table thead tr th, table.dataTable, .dataTables_scrollBody {
        border: 0px solid #ffffff !important;
    }

        table.dataTable thead {
            font-size: 15px;
            background-color: #3556ae;
            color: white;
        }

/*BOOTSTRAP BTN*/
.btn-primary {
    background-color: #7460ee;
    border-color: #7460ee;
}

    .btn-primary:hover {
        background-color: #624de2 !important;
        border-color: #624de2 !important;
    }

/*MODALES*/
.modal-xl {
    width: 80%;
}

.modal-header {
    color: white;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    border: none;
}

    .modal-header .titleHeader {
        font-size: x-large;
        font-weight: bold;
    }

    .modal-header .modal-title {
        font-weight: bold;
    }

    .modal-header .modal-subtitle {
        margin-top: 0px;
        margin-bottom: 0px;
    }

/*SELECT2*/
.select2-container {
    width: 100% !important;
}

/* BORDING */
.seccion {
    padding: 15px 25px 15px 25px;
    margin: 10px 5px;
    background-color: white;
    /*border: 1px solid #ececec;*/
    border-radius: 4px 4px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

#txtFechaInicio {
    background-color: #fff;
}
