<div id="modCapBal12" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">
                    <i class="fa fa-table"></i>
                    Captura
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-arrow-left" aria-hidden="true"></i> regresar</button>
            </div>
        </div>
    </div>
</div>
