@{
    ViewBag.Title = "Division";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<h1 class="text-center">Bal12</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Busqueda</legend>
    <div class="col-md-3 col-lg-3">
        <label>Centro costos</label>
        <select type="text" id="selBusqCC" class="form-control"></select>
    </div>
    <div class=" col-md-2 col-lg-2 margin-top">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modCapBal12"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divTblBal12">
        @Html.Partial("_tblBal12", "001")
    </div>
</fieldset>
@Html.Partial("_CapturaBal12")
<script src="~/Scripts/js/Kubrix/catalogo/Bal12.js"></script>