
@{
    ViewBag.Title = "CentroCostos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Kubrix/catalogo/CentroCostos.js"></script>
<h2 class="text-center">Catálogos de Centro de Costos</h2>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Parámetros</legend>
    <div class=" col-md-3 col-lg-3">
        <label>Centro costos</label>
        <select type="text" id="selBusqCC" class="form-control"></select>
    </div>
    <div class=" col-md-3 col-lg-3">
        <label>División</label>
        <select type="text" id="selBusqDiv" class="form-control"></select>
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    @Html.Partial("_tblCC")
</fieldset>
