@{
    ViewBag.Title = "ControlMaquinaria";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/Sytle-Wizard.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/wizardjs.js"></script>
<script src="~/Scripts/js/Maquinaria/Movimientos/Transito.js"></script>

<div class="row">
    <div class="text-center">
        <h2>Control de envío / recepción de maquinaria y equipo</h2>
    </div>
</div>

<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-circle btn-default btn-primary">1</a>
            <p>Paso 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Paso 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Paso 3</p>
        </div>
    </div>
</div>
<form id="frmTrafico">
    <div class="setup-content" id="step-1">
        <div class="row">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Generales:</legend>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Control de:</label>
                    <div>
                        <div class="radio radio-inline">
                            <input type="radio" id="radioTipoControl" value="0" name="radioTipoControl" checked>
                            <label for="radioTipoControl"> Envio </label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="radioTipoControl2" value="1" name="radioTipoControl">
                            <label for="radioTipoControl2"> Recepción </label>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2">
                    <label>No. Folio.</label>
                    <input type="text" class="form-control" id="txtFolio" disabled placeholder="000001" />
                </div>
                <div class="col-lg-2">
                    <label>No. ECO.</label>
                    <input type="text" class="form-control" id="txtNoEco" />
                </div>

                <div class="col-lg-3">
                    <label id="lblTipoEnvio">Lugar de envio</label>
                    <input type="text" class="form-control" id="txtLugarEnvRep" />
                </div>
                <div class="col-lg-2">
                    <label>Fecha</label>
                    <input type="date" class="form-control" id="txtDateTime" />
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Datos Maquinaria:</legend>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Tipo:</label>
                    <input id="txtClaseMaquina" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Grupo:</label>
                    <input id="txtClaseMaquina" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Marca:</label>
                    <input id="txtMarcaMaquina" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Modelo:</label>
                    <input id="txtModeloMaquina" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Serie:</label>
                    <input id="txtSerieMaquina" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Arreglo:</label>
                    <input id="txtClaseMaquina" class="form-control" />
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Datos Motor:</legend>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Tipo:</label>
                    <input id="txtClaseMotor" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Grupo:</label>
                    <input id="txtClaseMotor" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Marca:</label>
                    <input id="txtMarcaMotor" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Modelo:</label>
                    <input id="txtModeloMotor" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Serie:</label>
                    <input id="txtSerieMotor" class="form-control" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>Arreglo:</label>
                    <input id="txtClaseMotor" class="form-control" />
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary nextBtn btn-lg pull-right margin-top" type="button">Siguiente</button>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="setup-content" id="step-2">
        <div class="row">
            <div class="form-group">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Otros:</legend>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Tipo:</label>
                        <input id="txtClaseOtro" class="form-control" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Grupo:</label>
                        <input id="txtClaseOtro" class="form-control" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Marca:</label>
                        <input id="txtMarcaOtro" class="form-control" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Modelo:</label>
                        <input id="txtModeloOtro" class="form-control" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Serie:</label>
                        <input id="txtSerieOtro" class="form-control" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Arreglo:</label>
                        <input id="txtClaseOtro" class="form-control" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                        <label>Num Poliza:</label>
                        <input id="txtNumPoliza" class="form-control" required />
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm">Nota:</legend><textarea class="form-control" rows="6"></textarea>
                </fieldset>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
            </div>
        </div>

    </div>
    <div class="setup-content" id="step-3">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm fielset-Filtros">
                <legend class="legend-custm">Verificaciones:</legend>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 form-group-custum">
                    <label>Horometros:</label>
                    <input type="number" class="form-control" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 form-group-custum">
                    <label>Kilometraje:</label>
                    <input type="number" class="form-control" />
                </div>
                <div id="txtFechaEnvio" class="col-xs-2 col-sm-3 col-md-2 col-lg-3 form-group-custum">
                    <label>Fecha de emabarque:</label>
                    <input type="date" class="form-control" />
                </div>
                <div id="txtFechaRecepcion" class="col-xs-2 col-sm-2 col-md-2 col-lg-3 form-group-custum hidden">
                    <label>Fecha de recepción:</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 form-group-custum">
                    <label>Días traslado:</label>
                    <input type="number" class="form-control" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group-custum">
                    <label>Combustible tanque 1:</label>
                    <select class="form-control">
                        <option>Vacío</option>
                        <option>1/4</option>
                        <option>1/2</option>
                        <option>3/4</option>
                        <option>lleno</option>
                    </select>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group-custum">
                    <label>Combustible tanque 1:</label>
                    <select class="form-control">
                        <option>Vacío</option>
                        <option>1/4</option>
                        <option>1/2</option>
                        <option>3/4</option>
                        <option>lleno</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>Reporte de Falla:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>Copia de Factura:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>PED. ADUANAL:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>CONTROL DE CALIDAD:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>CATALOGO DE PARTES:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group-custum">
                    <label>MANUAL DE OPERACION:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>MANUAL DE MANTTO.:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>BITACORA:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group-custum">
                    <label>PLACAS:</label>
                    <select class="form-control">
                        <option>NO</option>
                        <option>SI</option>
                    </select>
                </div>
            </fieldset>

        </div>

        <div class="col-lg-10">
            <fieldset class="fieldset-custm fielset-Filtros">
                <legend class="legend-custm">Autorización:</legend>
                <div class="col-lg-4">
                    <div class="panel panel-default fix-Panel-row">
                        <div class="panel-heading">Transporte</div>
                        <div class="panel-body bg-success">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>
                                        Compañia
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <label>
                                        Resplonsable
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <label>
                                        Transporte
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default fix-Panel-row">
                        <div class="panel-heading">Responsable Envio</div>
                        <div class="panel-body bg-success">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>
                                        Nombre
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <label>
                                        Compañia
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <label>
                                        Firma
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default fix-Panel-row">
                        <div class="panel-heading">Responsable de recepción</div>
                        <div class="panel-body bg-success">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>
                                        Nombre
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <label>
                                        Compañia
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <label>
                                        Firma
                                    </label>
                                    <input class="form-control" type="text" />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnGuardar">
                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
            </button>
        </div>

    </div>
</form>