div.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons{
    z-index: 9000 !important;
}

.panelAutorizado {
    background-color: #dff0d8;
}


.panelPendiente {
    background-color: #fcf8e3;
}

.panel-body {
    height: 100px;
    width: 300px !important;
}

#legendHome:hover {
    cursor: pointer;
}

#legendHome {
    font-size: 2em;
}

#textAreaRechazo {
    height: 8em;
    width: 90%;
}

button.hidden{
    display: none !important;
}