/*#region ELEMENTOS HTML */
input[type="text"], label {
  width: 100%;
  display: block; 
}

label {
  margin-bottom: 4px;
  font-weight: 400; 
}

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
}

.inline-radio div {
  position: relative;
  flex: 1;
}

.inline-radio input {
  width: 100%;
  height: 60px;
  opacity: 0;
  cursor: pointer;
}

.inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b6b6b6;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
}

.inline-radio div:last-child label {
  border-right: 0;
}

.inline-radio input:checked + label {
  background: #f65300;
  font-weight: 500;
  color: #fff;
}

div#radioCursoGeneral  input {
  width: 100%;
  height: 25px !important;
  opacity: 0;
}
/*#endregion */

/*#region TABLE DATA*/
.content-table {
  border-collapse: collapse !important;
  margin: 25px 0 !important;
  font-size: 1.0em !important;
  min-width: 400px !important;
  /* border-radius: 5px 5px 0 0 !important; */
  overflow: hidden !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
}

.content-table thead tr {
  background-color: #F17F42;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  border-left: none;
  border-right: none;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #F17F42;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #F17F42;
}

.searchbar {
  width: 100%;
  max-width: 300px;
  display: inline-flex;
}

.searchbar--max-width {
  max-width: 100%;
}

.searchbar__input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid #F17F42;
  border-radius: 5px 0 0 5px;
  background: #F4FAF9;
  transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus {
  background: white;
  box-shadow: 0 0 2px #F17F42;
}

.searchbar__input::placeholder {
  color: black;
}

.searchbar__button {
  width: 40px;
  background: #F17F42;
  color: #ffffff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  user-select: none;
}

.searchbar__button:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

button.searchbar__button { cursor: default; }

/*#endregion*/

/*#region TABLA EXAMENES */
.table {
    width: 99% !important;
}

.table tbody tr td, .table tbody tr th {
  padding: 10px;
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important; 
  border-left:1px solid #eee !important;;
  border-right: 1px solid #eee !important;;
}

.table thead tr th {
  padding: 10px;
  border-bottom: 1px solid #eee !important;
}

.table-bordered {
  border-top: 1px solid #eee !important; 
}

.table-bordered tbody tr td, .table-bordered tbody tr th {
  padding: 10px;
  border: 1px solid #eee !important;
}

.table-bordered thead tr th {
  padding: 10px;
  border: 1px solid #eee !important;
}

table tbody td a{
  text-decoration: none;
  color: black;
}

table tbody td a:hover{
  text-decoration: none;
  color: black;
}

.tableFixHead { 
  overflow-y: auto; 
  height: 400px;
}
/*#endregion*/

/*#region Estilos track de scroll */
/* Tamaño del scroll */
div.dataTables_scrollBody::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
div.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

div.dataTables_scrollBody::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

div.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
div.dataTables_scrollBody::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

div.dataTables_scrollBody::-webkit-scrollbar-track:hover, 
div.dataTables_scrollBody::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
/*#endregion*/

/* input[type="file"].inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
 }

 label.file {
  font-size: 10px;
  font-weight: 200;
  color: #fff;
  background-color: #106BA0;
  display: inline-block;
  transition: all .5s; 
  cursor: pointer;
  padding: 8px 10px !important;
  text-transform: uppercase;
  width: fit-content;
  max-width: 200px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: -11px !important;
} */


div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons{
    z-index: 9000 !important;
}

div#divTodosPuestos:hover{
    color: #EB8825;
}

div#divTodosPuestos>label:hover{
    font-weight: bold;
}

.select2-selection {
  max-height: 142px;
  overflow: auto;
}