div.modal-dialog.modal-lg{
    width: 90% !important;
}

span#spanPorcentaje{
    font-weight: bolder;
    font-size: 150%;
}

div.blockUI{
    z-index: 1700 !important;
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons{
    z-index: 9000 !important;
}

div#ui-datepicker-div{
    z-index: 2000 !important;
}