ul.nav.nav-tabs>li {
    width: 50%;
    text-align: center;
    font-size: 120%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    font-weight: bold;
    text-decoration: underline;
}

table.ocultarThead thead {
    display: none;
}

table.ocultarThead td {
    font-weight: bold;
    text-align: center;
}

td.blue-background {
    background-color: #337ab7;
    color: white;
}

#tablaIndicadoresGlobales thead tr th,
#tablaPrioridades thead tr th {
    background-color: #337ab7 !important;
    color: white;
}

td.normal-background {
    background-color: white;
    color: #337ab7;
}

i.fas.fa-circle.infoHover {
    font-size: 2rem;
}

table thead th.dt-center {
    background-color: lightgray;
}

i.fas.fa-circle.infoHover.cProgramado {
    color: #d1a000;
}

i.fas.fa-circle.infoHover.cProximoVencer {
    color: cornflowerblue;
}

i.fas.fa-circle.infoHover.cCumplido {
    color: green;
}

i.fas.fa-circle.infoHover.cValidacion {
    color: purple;
}

i.fas.fa-circle.infoHover.cExpirado {
    color: red;
}

i.fas.fa-circle.infoHover.cNoAplica {
    color: gray;
}

#tablaPersonalActivo i.infoHover:hover {
    cursor: help;
    font-size: 3rem;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button.botonExcel {
    background-color: #008000;
    color: white;
}

button.botonExcel:hover {
    background-color: #006400;
    color: white;
}