.fc-other-month {
    color: #b6b6b6;
}
.fc-day-header{
    background-color:#000;
}
.fc-head {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #3556ae;
    border: none;
}

.fc th {
    border-style: none;
    height: 42px;
    vertical-align: middle;
}

#leyendaEventos ul {
    list-style: none;
    padding-left: 15px;
}

hr {
    border-top: 5px solid #51799b;
    border-radius: 3px 3px 0px 0px;
}

.mrgTop {
    margin-top: 5px;
}

.select2-selection--single,
.select2-selection__rendered {
    height: 34px !important;
}

.select2-selection__rendered {
    line-height: 35px !important;
}

.select2,
.select2-container {
    width: 100% !important;
}

/* .select2-container {
	z-index: 9999;
} */