#mdlAceptarRechazar{
    background-color: #aaaaaa5d;
}
#mdlAceptarRechazar .modal-dialog{
    position: absolute;
    float: left;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
#mdlAceptarRechazar .modal-header{
    padding: 0.2em;
}
#mdlAceptarRechazar .modal-titulo{
    background: #da6a1a;
    border: 0;
    color: #fff;
    padding: .8em;
    position: relative;
}
#mdlAceptarRechazar .modal-titulo .close{
    color: #575555;
    background-color: #EDEDED;
    opacity: 1;
    font-size: 140%;
    padding: .1em .2em;
}
#mdlAceptarRechazar .modal-titulo .close:hover{
    background-color: #dddada;
}
#mdltxtTitulo, #mdltxtMensaje{
    font-weight: normal;
    font-size: 110%;
}