.dropdown-menu {
    background-color: white;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #262626;
        text-decoration: none;
        background-color: #D3D5D6;
    }

img.tama {
    height: 50px;
    padding-right: 6px;
}

.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
    height: 57px;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
}

.dropdown user user-menu open {
    height: 57px;
}

.navbar-custom-menu > .navbar-nav {
    float: right;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
        z-index: 5;
        height: 90px;
        width: 90px;
        border: 3px solid;
        border-color: transparent;
        border-color: rgba(255, 255, 255, 0.2);
    }

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: white;
    padding: 10px;
}

li.user-header {
    background-color: white;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: white;
    padding: 10px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
    clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before, .navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
    content: " ";
    display: table;
}

@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li {
        position: static;
    }
}

.navbar-custom-menu > .navbar-nav > li {
    position: relative;
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li {
        float: left;
    }
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .main-header .navbar-custom-menu a, .main-header .navbar-right a {
        color: inherit;
        background: transparent;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #555;
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid black;
    background: black;
}

.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}


.breadcrumb {
    /*background-color: #f9893d !important;*/
    font-size: 20px;
    padding: 6px 15px;
    background: #e88640;
    background: -moz-linear-gradient(top, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%);
    background: -webkit-linear-gradient(top, #e88640 0%,#e27328 21%,#e26d1f 44%,#e88640 77%,#f9893d 100%);
    background: linear-gradient(to bottom, #e88640 0%,#e27328 21%,#e26d1f 44%,#e88640 77%,#f9893d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88640', endColorstr='#f9893d',GradientType=0 );
}

    .breadcrumb a {
        color: black !important;
    }

    .breadcrumb > .active {
        color: white !important;
        font-weight: bold;
    }

/*#page-content-wrapper {
    padding-top: 17px !important;
}*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}