@import url("/Content/style/font-awesome/css/font-awesome.css");
@font-face {
    font-family: 'PlusJakartaSans-VariableFont_wght';
    src: url('../../../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

.bgbody {
    background-color: #6E6E6E;
    /*padding-top: 56px;
    padding-bottom: 56px;*/
}

.fondo {
    background-image: url('../../../img/Fondos/LOGIN.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* #divisor {
    float: left;
    height: 38px;
    width: 100%;
    background-image: url(/Content/img/logo/divisor.png);
    background-repeat: no-repeat;
    background-position: 41%;
} */

.vertical-offset-100 {
    padding-top: 100px;
}

.login .user-row {
    text-align: center;
    font-size: 30px;
}

.login .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.login.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid orange;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.login label {
    display: block;
    width: 100%;
    color: #449d44;
    text-shadow: #4cae4c;
    text-align: center;
}

.login hr {
    margin: 5px;
}

.input {
    position: relative;
    margin-top: 15px;
}

    .input span {
        position: absolute;
        display: block;
        color: #EB8825;
        left: 10px;
        top: 8px;
        font-size: 20px;
    }

    .input input {
        width: 100%;
        padding: 10px 5px 10px 40px;
        display: block;
        border: 1px solid #EDEDED;
        border-radius: 4px;
        transition: 0.2s ease-out;
        color: #a1a1a1;
    }

        .input input:focus {
            padding: 10px 5px 10px 10px;
            outline: 0;
            border-color: #EB8825;
        }

.panel-body {
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 15px !important;
}

.submit {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto -15px auto;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #EB8825;
    color: #EB8825;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px #fff;
    transition: 0.2s ease-out;
}

    .submit:hover,
    .submit:focus {
        background: #EB8825;
        color: #fff;
        outline: 0;
    }

.navbar-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,666666+20,505050+38,28343b+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #666666 20%, #505050 38%, #28343b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #666666 20%, #505050 38%, #28343b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #666666 20%, #505050 38%, #28343b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#28343b', GradientType=1);
    /* IE6-9 */
}

.tamano-icono {
    height: 150px;
}

a.btn {
    font-size: 25px;
}

.btn {
    display: inline;
}

span.btndisabled {
    font-size: 30px;
}

.modal-dialog-ppal {
    position: absolute;
    top: 47% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin: auto 5%;
    width: 90%;
    /*height: 76%;*/
}

.modal-content-ppal {
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-body-ppal {
    /*position: absolute;*/
    left: 0;
    right: 0;
    /*overflow-y: auto;*/
}

.modal-footer-ppal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.fix-panel {
    padding: 15px;
    margin-top: 35px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #505050 !important;
    color: white;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-color {
    border: #6E6E6E;
}

.modal-content-tamaño {
    height: 90%;
}

.panel {
    height: 90%;
}

span.glyphicon.glyphicon-exclamation-sign.alert-danger-span {
    font-size: -webkit-xxx-large;
    color: #a94442;
}

span.glyphicon glyphicon-warning-sign .alert-warning-span {
    font-size: -webkit-xxx-large;
    color: #e7e92f;
}

.blackText{
    color: #000 !important;
}

.card-login {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.row-login {
    min-height: 10rem !important;
}

.body-footer-navbar {
    background-color: black !important;
    color: white !important;
}

.body-footer {
    width: 100%;
}

.bgbody .container-fluid {
    height: 100%;
}

.bgbody .container-fluid .row:first-child {
    height: 80%;
}

.modal-header {
    background-color: #f29d4b;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.modal-content-tamaño {
    padding-bottom: 0px !important;
}