/*BODY*/
@font-face {
    font-family: 'PlusJakartaSans-VariableFont_wght';
    src: url('../../../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: whitesmoke;
    background-color: whitesmoke;
    font-family: "PlusJakartaSans-VariableFont_wght";
}

#_bodysigoplan {
    margin-top: 41px;
}

/*DIVISORES*/
hr {
    border: 1px solid #ccc !important; 
    margin-top: 10px;
    margin-bottom: 10px;
}

/*SECCIONES*/
.seccion {
    padding: 15px 25px 10px 25px;
    margin-top: 15px;
    background-color: white;
    border-radius: 6px 6px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.seccion .headerSeccion {
    font-weight: bold;
}

/*GENERALES*/
.no-gutter {
    padding: 0px 0px 0px 0px;
}

/*MODAL*/
.modal-xxl {
    width: 95% !important;
    max-width: 95% !important;
}

.modal-header {
    background-color: #f29d4b;
    height: 40px;
}

.modal-title {
    width: 100%;
    text-align: center;
}

/*TABLAS*/
table {
    width: 100% !important;
    background-color: white; 
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.dataTables_scroll {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

thead {
    border-radius: 6px 6px 0px 0px !important;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

thead tr {
    background-color: #F29D4B !important;
    border-radius: 6px 6px 0px 0px !important;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

th {
    text-align: center;
    border-left: 1px solid #ccc !important; 
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}

thead tr th:first-child {
    border-radius: 6px 0px 0px 0px !important;
}

thead tr th:last-child {
    border-radius: 0px 6px 0px 0px !important;
}

.dataTables_scrollHead {
    border-radius: 6px 6px;
}

table td {
    border-left: 1px solid #ccc !important; 
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}

.dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_filter label {
    display: flex;
}

.dataTables_filter input {
    display: inline-block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*

.form-group {
    display:inline-block;
    margin: 5px;
}

.box-container {
    width: 14%;
    height: 100px;
    opacity: 0.4;
    transition: width 2s;
}

.box-container.clicked {
    width: 28%;
    opacity: 1;
}

.card {
    background: rgba(252, 176, 69, 0.5);
    background: linear-gradient(90deg, rgba(68, 80, 156, 0.2) 50%, rgba(48, 63, 159, 0.2) 100%);
}

.modal-xl {
    width: 80% !important;
    max-width: 80% !important;
}

.select2-container {
    width: 100% !important;
}

.txt-bold {
    font-weight: bold;
}

.vertical-align {
    display: flex;
    align-items: center;
}

ul.ui-autocomplete {
    z-index: 1051 !important;
}

select.form-control.totalAsist {
    padding:0;
}



.botonTitulo {
    margin-top: -10px;
}

.capturaPendiente {
    color: white;
    background-color: red;
}

#tblAuth {
    font-size: 11px;
}
*/

p#txtComentario {
    font-size: larger;
}

div#divMenuAcceso {
    padding: 20px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
}

.modal-dialog-ppal {
    position: absolute;
    top: 47% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin: auto 5%;
    width: 90%;
}

.modal-content-ppal {
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-body-ppal {
    left: 0;
    right: 0;
}

.modal-footer-ppal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.fix-panel {
    padding: 15px;
    margin-top: 35px;
}
.clsCerrarSistemas {
display:none;
}
.tamano-icono {
    height: 135px;
}

.modal-content-tamaño {
    height: 90%;
}

a.btnMenu {
    font-size: 25px;
}

span.btnMenudisabled {
    font-size: 25px;
}

.no-margin {
    margin: 0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 50px;
    }

    .fixed-brand {
        width: 120px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled-3 #sidebar-wrapper {
        width: 0px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
        color: #333333;
    }

    #page-content-wrapper {
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #_footersigoplan {
        min-height: 0;
        background: #505050;
        color: white !important;
        border-color: #505050;
        text-align: center !important;
    }
    
    #_footersigoplan div div {
        width: 100% !important;
    }
}