body {
    position: relative;
}

.table-responsive {
    overflow-x: hidden;
}

.tablaEncabezado {
    text-decoration-color: black;
}

.form-control[readonly] {
     background-color: #fff; 
}
#modalPrefactura input {
    width: 100% !important;
    border-radius: 0px !important;
    line-height: 1px !important;
}

#modalPrefactura td {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid black;
}

#modalPrefactura th {
    text-align: center;
    border: 1px solid black;
}

#modalPrefactura h1, #modalPrefactura h4, #modalPrefactura div {
    margin-top: 2px;
    margin-bottom: 2px;
}

.bg-table-header {
    background-color: #f0f0f0 !important;
    color: black;
}

.tituloSelect {
    min-width: 130px;
    text-align: left;
}

#divIndentificacion {
    border: 1px solid black;
}

.note-popover.popover.in.note-image-popover.bottom {
    position: absolute;
}

#tblImpuesto > tbody > tr > td {
    border: none;
    padding: 0px;
}

#tblImpuesto > tbody {
    border: none;
}

.top-buffer {
    margin-top: 20px;
}

.logo {
    margin-top: 2px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*Fun begins*/
.tab_container {
    /*width: 90%;
	margin: 0 auto;
	position: relative;
    padding-top: 5px;*/
}

input, section {
    clear: both;
    padding-top: 10px;
    display: none;
}

input.select2-search__field {
    padding-top: 0px;
    display: block;
}

.tabLabel {
    /*font-weight: 700;*/
    /*font-size: 8px;*/
    display: block;
    float: left;
    width: 33.3%;
    padding: .5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
    /*padding: 20px;*/
    background: #fff;
    border-bottom: 2px solid #f0f0f0;
}
.bootgrid-table th>.column-header-anchor>.text{
    color:black;
}
.tab_container .tab-content table {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content table {
    text-align: center;
}

.tab_container [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}

/*.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}*/

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

.radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

.ui-widget-header {
    background: #e8e5e2;
}

/*Media query*/
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact !important;
        /*print-color-adjust: exact;*/
    }
    #divTabla{
        width: 995px;
    }
        .table th {
            background-color: rgb(221,221,221) !important;
        }
        .table td p::content {
        -webkit-print-color-adjust: exact !important;
    }
        #tblImpuesto{
            text-align:end !important;
        }
        #tblImpuesto td:last-child{
            width: 27%;
        }
}

@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }

    label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label span {
        display: none;
    }

    label .fa {
        font-size: 16px;
    }

    .tab_container {
        width: 98%;
    }
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@page {
    size: landscape;
}

.ui-widget-overlay {
    z-index: auto;
}

* {
    -webkit-print-color-adjust: exact !important;
    /*print-color-adjust: exact;*/
}

@media print {
    
}
