<div id="annModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:100%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Properties</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-12 col-sm-12">

                        <div class="form-group">
                            <label id="lblannbackColor">Back color:</label>
                            <input type="text" class="form-control" id="annbackColor" />

                            <label>Border&nbsp;color:</label>
                            <input type="text" class="form-control" id="annborderColor" />

                            <label>Border&nbsp;width:</label>
                            <input type="text" class="form-control" id="annborderWidth" />

                            <label id="lblannshowBorder">Show&nbsp;Border</label>
                            <input type="text" class="form-control" id="annshowBorder" />

                            <label id="lblannOpacity">Opacity</label>
                            <input type="text" class="form-control" id="annOpacity" />

                            <label id="lblannRotate">Rotate</label>
                            <input type="text" class="form-control" id="annRotate" />

                            <label id="lblannCanRotate">Can Rotate</label>
                            <input type="text" class="form-control" id="annCanRotate" />
                        </div>

                    </div>
                    <div id="divCenter" class="col-lg-4 col-md-6 col-sm-12 col-sm-12">

                        <div class="form-group">
                            <label id="lblannTitle">Title</label>
                            <input type="text" class="form-control" id="annTitle" />

                            <label id="lblannshowTitle">Show Title</label>
                            <input type="text" class="form-control" id="annshowTitle" />

                            <label id="lblanntitleColor">Title color</label>
                            <input type="text" class="form-control" id="anntitleColor" />

                            <label id="lblanntitleFontSize">Title Font Size</label>
                            <input type="text" class="form-control" id="anntitleFontSize" />

                            <label id="lblannNote">Note/Url</label>
                            <input type="text" class="form-control" id="annNote" />

                            <label id="lblannshowNote">Show Note</label>
                            <input type="text" class="form-control" id="annshowNote" />

                            <label id="lblanntextAlign">Text align</label>
                            <input type="text" class="form-control" id="anntextAlign" />

                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-sm-12">

                        <div class="form-group">

                            <label id="lblannarrowDirection">Arrow Direction</label>
                            <input type="text" class="form-control" id="annarrowDirection" />

                            <label id="lblannlineVertical">Line Vertical</label>
                            <input type="text" class="form-control" id="annlineVertical" />

                            <label>Burn</label>
                            <input type="text" class="form-control" id="annBurn" />

                            <label>Locked</label>
                            <input type="text" class="form-control" id="annLocked" />

                            <label>z-Index</label>
                            <input type="text" class="form-control" id="annzindex" />

                            <label>Author</label>
                            <input type="text" class="form-control" id="annAuthor" />

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveAnnotationData();">Save</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
