<div id="divHeader" class="card-header d-flex flex-wrap">
    <div id="navDefault" class="col col-xs-12 col-md-9">
        <a title="Open Document" class="bi bi-folder2-open px-2 border-right" href="javascript:void(0);" onclick="OpenUpload();"></a>
        <div class="dropdown">
            <a title="Sample Documents" class="dropdown-toggle bi bi-file px-2 border-right" id="dropdownSample" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownSample">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.doc');">Word Doc</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.xls');">Excel Sheet</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.ppt');">Power Point</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.pdf');">Acrobat Pdf</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.eml');">Email Message</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.mpp');">Project File</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.vsd');">Visio Drawing</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.tif');">Tiff Document</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.dwg');">CAD Drawing</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.psd');">Photoshop</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.svg');">SVG Graphics</a></li>
            </ul>
        </div>
        <a title="Pan" class="bi bi-hand-index px-2" href="javascript:void(0);" onclick="objctlDoc.CopyMode(false);"></a>
        <a title="Copy Text" class="bi bi-file-earmark-font px-2 border-right" href="javascript:void(0);" onclick="objctlDoc.CopyMode(true);"></a>
        <a title="Search" class="bi bi-search px-2 border-right" href="javascript:void(0);" onclick="ShowSearch();"></a>
        <div class="dropdown">
            <a title="Annotations" class="dropdown-toggle bi bi-pencil-square px-2 border-right" id="dropdownAnnotation" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownSample">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="annMode = true;OpenAnnotation();">Start Annotating</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="ExportAnnotation();">Pdf Export</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="ExportXml();">Xml Export</a></li>
            </ul>
        </div>
        <a title="Zoom In" class="bi bi-zoom-in" href="javascript:void(0);" onclick="objctlDoc.Zoom(true);"></a>
        <a title="Zoom Out" class="bi bi-zoom-out px-2 border-right" href="javascript:void(0);" onclick="objctlDoc.Zoom(false);"></a>
        <a title="Fit Width" class="bi bi-distribute-horizontal" href="javascript:void(0);" onclick="objctlDoc.FitType('width');"></a>
        <a title="Fit Height" class="bi bi-distribute-vertical px-2 border-right" href="javascript:void(0);" onclick="objctlDoc.FitType('height')"></a>
        <div class="dropdown">
            <a title="Thumb Area" class="dropdown-toggle bi bi-layout-text-sidebar-reverse px-2 border-right" id="dropdownThumb" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownThumb">
                <li><a title="Small" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.ThumbSize('small');">Small Thumbs</a></li>
                <li><a title="Normal" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.ThumbSize('normal');">Normal Thumbs</a></li>
                <li><a title="Large" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.ThumbSize('large');">Large Thumbs</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a title="Hide Thumbs" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideThumbs(true);">Hide Thumbs</a></li>
                <li><a title="Show Thumbs" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideThumbs(false);">Show Thumbs</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a title="Hide Splitter" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideSplitter(true);">Hide Splitter</a></li>
                <li><a title="Show Splitter" class="dropdown-item" href="javascript:void(0)" onclick="objctlDoc.HideSplitter(false);">Show Splitter</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a title="Rotate" class="dropdown-toggle bi bi-arrow-repeat" id="dropdownRotate" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownRotate">
                <li><a title="Rotate 90" class="dropdown-item" href="javascript:void(0)" onclick="RotateDocument(1);">90</a></li>
                <li><a title="Rotate 180" class="dropdown-item" href="javascript:void(0)" onclick="RotateDocument(2);">180</a></li>
                <li><a title="Rotate 270" class="dropdown-item" href="javascript:void(0)" onclick="RotateDocument(3);">270</a></li>
                <li><a title="Rotate None" class="dropdown-item" href="javascript:void(0)" onclick="RotateDocument(0);">None</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a title="Flip" class="dropdown-toggle bi bi-textarea px-2 border-right" id="dropdownFlip" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownFlip">
                <li><a title="Flip X" class="dropdown-item" href="javascript:void(0)" onclick="FlipDocument('X');">X</a></li>
                <li><a title="Flip Y" class="dropdown-item" href="javascript:void(0)" onclick="FlipDocument('Y');">Y</a></li>
                <li><a title="Flip XY" class="dropdown-item" href="javascript:void(0)" onclick="FlipDocument('XY');">XY</a></li>
                <li><a title="Flip None" class="dropdown-item" href="javascript:void(0)" onclick="FlipDocument('');">None</a></li>
            </ul>
        </div>
        <a title="First" class="bi bi-arrow-left-square" href="javascript:void(0)" onclick="objctlDoc.GotoPage(1);"></a>
        <a title="Previous" class="bi bi-arrow-left-circle" href="javascript:void(0)" onclick="objctlDoc.Next(false);"></a>
        <a title="Next" class="bi bi-arrow-right-circle" href="javascript:void(0)" onclick="objctlDoc.Next(true);"></a>
        <a title="Last" class="bi bi-arrow-right-square px-2 border-right" href="javascript:void(0)" onclick="objctlDoc.GotoPage(parseInt(objctlDoc.TotalPages()));"></a>
        <a title="Print" class="bi bi-printer" href="javascript:void(0)" onclick="PrintDocument();"></a>
        <a title="Full Screen" class="bi bi-box-arrow-in-up-right px-2 border-right" href="javascript:void(0)" onclick="GoFS();"></a>
        <a title="Close Document" class="bi bi-file-x px-2 border-right" href="javascript:void(0)" onclick="CloseDocument();"></a>
        <div class="loader px-2"></div>
    </div>

    <div id="navAnnotation" style="display: none" class="col col-xs-12 col-md-9">
        <div class="dropdown">
            <a title="Save" class="dropdown-toggle bi bi-file-check px-2 border-right"  data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownSample">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="CallSave();">Save</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="annMode = false; CloseAnnotation();">Close</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a title="Navigation" class="dropdown-toggle bi bi-play-btn px-2 border-right"  data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownSample">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="CallNext(false);">Previous</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="CallNext(true);">Next</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a title="Actions" class="dropdown-toggle bi bi-trash px-2 border-right"  data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownSample">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="DeleteAnnotations();">Delete</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="ClearAnnotations();">Clear</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a title="Annotations" class="dropdown-toggle bi bi-pencil px-2 border-right" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul id="menuTools" class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:void(0)" title="rectangle"><img src="/images/rectangle.png" />&nbsp;Rectangle</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="line"><img src="/images/line.png" />&nbsp;Line</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="arrow"><img src="/images/arrow.png" />&nbsp;Arrow</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="triangle"><img src="/images/triangle.png" />&nbsp;Triangle</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="circle"><img src="/images/circle.png" />&nbsp;Circle</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="ellipse"><img src="/images/ellipse.png" />&nbsp;Ellipse</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="stamp"><img src="/images/stamp.png" />&nbsp;Stamp</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="freehand"><img src="/images/freehand.png" />&nbsp;Freehand</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="note"><img src="/images/note.png" />&nbsp;Note</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" title="image"><img src="/images/image.png" />&nbsp;Image</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a title="Custom Annotations" class="dropdown-toggle bi  bi-pencil-square px-2 border-right" id="dropdownSample" data-bs-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownSample">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddOrangeRect()">Orange Rect</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddGoogle();">Google Logo</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddStamp();">Stamp Normal</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="ImageStamp();">Stamp Image</a></li>
            </ul>
        </div>

    </div>

    <div class="col-md-3">
        <input type="text" id="txtSearch" style="display:none;width:90%" class="form-control">
    </div>
</div>