<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Document</h4>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">


                <div id="dropZoneForm" class="dropzone">
                    <div class="dz-message">
                        Click or drop your document here
                    </div>
                    <div>
                        <div class="fallback">
                            <input name="file" id="file" type="file" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>