body {
    background-color: #f5f5f5;
}

.panel-principal>div.panel-heading {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border-color: #45cafc;
    color: white;
}

.panel-principal {
    border-color: #337ab7;
}

.panel-grafica>div.panel-heading {
    background-color: #3143a2;
}

.panel-grafica>div.panel-heading h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body .panel-heading h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#panelFiltro .panel-heading h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-form-top {
    margin-top: 25px;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

table.dataTable {
    width: 100% !important;
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    border: 0.5px solid white !important;
}

table.dataTable th {
    padding: 4px;
    text-align: center;
    border-left: 1px solid gray !important;
    font-weight: bolder;
}

table.dataTable {
    border: 2px solid #f5f5f5 !important;
}

table.dataTable tr {
    font-size: 12px;
}

table.dataTable thead {
    font-size: 12px;
    background-color: #3143a2 !important;
    color: white;
}

table tbody td {
    border-right: 0px !important;
}

.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
    height: 40px;
    padding: 0px;
}

.modal-header h4 {
    margin-top: 7px;
    margin-bottom: 0px;
    padding: 0px;
}

.modal-lg {
    width: 95% !important;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
    background-color: #f5f5f5;
}

.modal-footer {
    background-color: #f5f5f5;
}