/* DISEÑO TABLA */
table.dataTable {
width: 100% !important;
}
table.dataTable tbody tr td, table thead tr th, table.dataTable, .dataTables_scrollBody {
/* border: 0.5px solid white !important; */
}
table.dataTable th {
padding: 4px;
text-align: center;
/* border-left: 1px solid gray !important; */
font-weight: bolder;
}
table.dataTable {
/* border: 2px solid #f5f5f5 !important; */
}
/* END: DISEÑO TABLA */

/* MODAL */
.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}
/* END: MODAL */

/* DISEÑO SELECT2 */
.select2-selection__rendered {
line-height: 31px !important;
}
.select2-container .select2-selection--single {
height: 35px !important;
}
.select2-selection__arrow {
height: 34px !important;
}
/* END: DISEÑO SELECT2 */

/* DISEÑO VARIO */
.marginRight {
margin-right: 15px;
}

.inputTextArea {
width: 100% !important;
}

.marginBottom {
margin-bottom: 1%;
}

.modal-lg {
    width: 1250px !important;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
/* END: DISEÑO VARIO */

/* DISEÑO TABLA */
table.dataTable thead {
    font-size: 12px;
    background-color: #3143a2 !important;
    color: white;
}
tabla tbody td {
border-right: 0px !important;
}
table.dataTable tr {
font-size: 12px;
}
/* END: DISEÑO TABLA */

.marginRight {
margin-right: 15px;
}

/* DISEÑO SELECT2 */
.select2-selection__rendered {
line-height: 31px !important;
}
.select2-container .select2-selection--single {
height: 35px !important;
}
.select2-selection__arrow {
height: 34px !important;
}
/* END: DISEÑO SELECT2 */

.modal-lg {
width: 1250px !important;
}

.colorAgrupacion {
background-color: red;
}

.modal-body {
max-height: calc(100vh - 212px);
overflow-y: auto;
}

/* #tblCapturas thead th {
padding: 4px !important;
} */

#tblCapturas a {
cursor: pointer;
}

.inputTextArea {
width: 100% !important;
}

.marginBottom {
margin-bottom: 1%;
}

/* MODAL */
.modal-header {
background: linear-gradient(40deg, #45cafc, #303f9f) !important;
color: white;
height: 40px;
padding: 0px;
}
.modal-header h4 {
margin-top: 7px;
margin-bottom: 0px;
padding: 0px;
}

.modal-lg {
width: 95% !important;
}

.modal-body {
max-height: calc(100vh - 212px);
overflow-y: auto;
background-color: #f5f5f5;
}

.modal-footer {
background-color: #f5f5f5;
}

/* END: MODAL */

/*PANEL*/
.panel-principal>div.panel-heading {
background: linear-gradient(40deg, #45cafc, #303f9f) !important;
border-color: #45cafc;
color: white;
}

.panel-principal {
border-color: #337ab7;
}

.panel-grafica>div.panel-heading {
background-color: #3143a2;
}

.panel-grafica>div.panel-heading h5 {
margin-top: 0px;
margin-bottom: 0px;
}

.modal-body .panel-heading h4 {
margin-top: 0px;
margin-bottom: 0px;
}

/*PANEL*/

/*PANEL FILTRO*/
#panelFiltro .panel-heading h4 {
margin-top: 0px;
margin-bottom: 0px;
}

.margin-form-top {
margin-top: 25px;
}

/*PANEL FILTRO FIN*/

body {
background-color: #f5f5f5;
}