.titulo {
    font-weight: 800;
    font-style: italic;
    font-size: 1.5rem;
}

.concepto {
    width: 40%;
}

.aplica {
    width: 15%;

}

.aplicaFac {
    margin: 10px;
}

#mdlCaptura tbody>tr>td:nth-child(1) {
    font-weight: 800;
    font-size: 1.2rem;
}

.modal-lg {
    width: 90%;
}

.spanTipo {
    margin: 5px;
}

.extraMargen {
    margin: 10px auto;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hiddenCombo {
    visibility: collapse;
}

input[type='checkbox'] {
    /* -webkit-appearance:none; */
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 10px;
    border: 2px solid #555;
}

input[type='checkbox']:checked {
    background: #EB8825;
}

#tituloCC {
    font-weight: bold;
    margin: 10px;
}

.aplicaFacultamiento:hover {
    cursor: pointer;
}

.aplicaTabla:hover {
    cursor: pointer;
    background-color: #81BD32;
}