.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-item {
    flex: 0 0 auto;
    margin: 10px;
}

.btnPanel {
    margin: 10px;
}

.btn.xs {
    padding: 0;
}

.panel-body {
    height: 100px;
    width: 300px !important;
}

.panelAutorizado {
    background-color: #dff0d8;
}


.panelPendiente {
    background-color: #fcf8e3;
}

#legendHome:hover {
    cursor: pointer;
}

#legendHome {
    font-size: 2em;
}

.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog {
    margin: auto;
}

#textAreaRechazo {
    height: 8em;
    width: 90%;
}