.extraMargen {
    margin: 10px auto;
}

.btnEliminar {
    width: 4%;
    margin-right: 1%;
    padding: 6px 2px;
}

.inputPersona {
    width: 94%;
    display: inline;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.disabled {
    /*This makes it not clickable*/
    pointer-events: none;
    /*This grays it out to look disabled*/
    opacity: 0.6;
}

.modal-lg {
    width: 90%;
}

.hiddenRadio {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}