@{
    ViewBag.Title = "BonoUnico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />

<h2 class="text-center">Captura StandBy</h2>

<fieldset class="fieldset-custm col-lg-8">
    <legend class="legend-custm"><i class="fas fa-search"></i>  Búsqueda</legend>
    <div class="col-md-5">
        <div class='input-group'>
            <span class='input-group-addon'>CC</span>
            <select id="cboCC" class="form-control selBuscar"></select>
        </div>
    </div>
    <div class='col-md-2'>
        <button id='btnCargar' type='button' class='btn btn-primary'><i class='fa fa-load'></i> Cargar</button>
    </div>
</fieldset>

<fieldset class="fieldset-custm col-lg-4">
    <legend class="legend-custm">Acción</legend>
    <div class="col-md-9">
        <div class="input-group no-padding text-center">
            <span class='input-group-addon'>Captura</span>
            <input type="text" id="txtFecha" class="form-control text-center" disabled>
        </div>
    </div>
    <div class='col-md-3'>
        <button id='btnGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
    </div>
</fieldset>

<fieldset class='fieldset-custm col-lg-12'>
    <legend class="legend-custm"><i class="fas fa-hand-holding-usd"></i>  Equipos</legend>
    <div class='table-responsive'>
        <table id='tblData' class='table table-fixed' width="100%">
            <thead class='bg-table-header'>
            </thead>
        </table>
    </div>
</fieldset>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Inventario/StandByCaptura.js"></script>