@{
    ViewBag.Title = "BonoUnico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />

<h2 class="text-center">Historico StandBy</h2>

<div class="row">
    <div class="col-md-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm"><i class="fas fa-search"></i>  Búsqueda</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class='input-group'>
                        <span class='input-group-addon'>Tipo</span>
                        <select id="cboTipo" class="form-control">
                            <option value="1">Historico</option>
                            <option value="2">Depreciación StandBy</option>
                            <option value="3">Depreciación por Ubicación (1010,1015,1018)</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group'>
                        <span class='input-group-addon'>Estatus</span>
                        <select id="cboEstatus" class="form-control">
                            <option value="0">Todo</option>
                            <option value="1">Pendiente</option>
                            <option value="2">Autorizado</option>
                            <option value="3">Rechazado</option>
                            <option value="4">Liberado</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group'>
                        <span class='input-group-addon'>CC</span>
                        <select id="cboAC" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group'>
                        <span class='input-group-addon'>Equipos</span>
                        <select id="cboCC" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class='input-group'>
                        <span class='input-group-addon'>Fecha Inicio</span>
                        <input type="text" id="fechaIni" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group'>
                        <span class='input-group-addon'>Fecha Fin</span>
                        <input type="text" id="fechaFin" class="form-control" />
                    </div>
                </div>
                <div class='col-md-1'>
                    <button id='btnCargar' type='button' class='btn btn-primary'><i class='fa fa-load'></i> Cargar</button>
                </div>
            </div>

        </fieldset>


        <fieldset class='fieldset-custm col-lg-12'>
            <legend class="legend-custm"><i class="fas fa-hand-holding-usd"></i>  Equipos</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class='table-responsive'>
                        <table id='tblData' class='table table-fixed' width="100%"></table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<script src="~/Scripts/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Inventario/StandByHistorico.js"></script>