@{
    ViewBag.Title = "BonoUnico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/MonthPicker.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />

<h2 class="text-center">Validación StandBy</h2>

<fieldset class="fieldset-custm col-lg-8">
    <legend class="legend-custm"><i class="fas fa-search"></i> Búsqueda</legend>
    <div class="col-md-5">
        <div class='input-group'>
            <span class='input-group-addon'>Tipo</span>
            <select id="cboTipo" class="form-control">
                <option value="1">PENDIENTE</option>
                <option value="2">AUTORIZADOS</option>
            </select>
        </div>
    </div>
    <div class='col-md-2'>
        <button id='btnCargar' type='button' class='btn btn-primary'><i class='fa fa-load'></i> Cargar</button>
    </div>
</fieldset>

<fieldset class="fieldset-custm col-lg-4">
    <legend class="legend-custm">Acción</legend>
    <div class="col-md-8 hidden">
        <div class="input-group no-padding text-center">
            <span class='input-group-addon'>Captura</span>
            <input type="text" id="txtFecha" class="form-control text-center" disabled>
        </div>
    </div>
    <div class='col-md-12'>
        <button id='btnVoBo' type='button' class='btn btn-primary' title="Indicar visto bueno."><i class='fa fa-check'></i>&nbsp;VoBo</button>
        <button id='btnAutorizar' type='button' class='btn btn-primary'><i class='fa fa-check'></i> Autorizar</button>
        <button id='btnRechazar' type='button' class='btn btn-primary'><i class='fa fa-trash'></i> Rechazar</button>
        <button id='btnLiberar' type='button' class='btn btn-primary'><i class='fa fa-check'></i> Liberar</button>
    </div>
</fieldset>

<fieldset class='fieldset-custm col-lg-12'>
    <legend class="legend-custm"><i class="fas fa-hand-holding-usd"></i> Equipos</legend>
    <div class='table-responsive'>
        <table id='tblData' class='table table-fixed' width="100%">
            <thead class='bg-table-header'>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="3" class="text-center">Maquina</th>
                    <th colspan="2" class="text-center">Overhaul</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Equipo</th>
                    <th>Modelo</th>
                    <th>Obra</th>
                    <th>Fecha Solicitud</th>
                    <th>Justificación</th>>
                    <th>MOI Equipo</th>
                    <th>Falta Dep Equipo</th>
                    <th>Dep Mensual Equipo</th>
                    <th>Falta Dep OH</th>
                    <th>Dep Mensual OH</th>
                    <th>Observación</th>
                    <th>Seleccionar</th>
                    <th>Tabulador</th>
                </tr>
            </thead>
        </table>
        <br />
        <br />
        <br />
    </div>
</fieldset>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/MonthPicker.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Inventario/StandByValidar.js"></script>