    .Activo {
         cursor:pointer;
    width: 30px;
    height: 30px;
    position: relative;
    /*-webkit-animation-name: Activo; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-duration: 4s;*/ /* Safari 4.0 - 8.0 */
    /*-webkit-animation-iteration-count: infinite;*/ /* Safari 4.0 - 8.0 */
    /*animation-name: Activo;
    animation-iteration-count: infinite;*/
	border-radius: 60px;
      background-color: #196F3D;
}

   .Pendiente {
       cursor:pointer;
    width: 30px;
    height: 30px;
    position: relative;
   /* -webkit-animation-name: Pendiente; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite; 
    animation-name: Pendiente;
    animation-iteration-count: infinite;*/
	border-radius: 60px;
    background-color: #F1C40F;
}
   .NoAplica
   {
           width: 30px;
    height: 30px;
    position: relative;
	border-radius: 60px;
    background-color:gray;

   
   }

@-webkit-keyframes Activo {
     0%   {background-color:green;
            border: 1px solid black;

     }
    25%   {background-color:white;
            border: 1px solid black;
    }
    50%   {background-color:green;
           border: 1px solid black;
    }
    75%   {background-color:white;
         border: 1px solid black;
    }
   100%   {background-color:green;
            border: 1px solid black;
   }
}

@-webkit-keyframes Pendiente {
     0%   {background-color:yellow;
            border: 1px solid black;

     }
    25%   {background-color:white;
            border: 1px solid black;
    }
    50%   {background-color:yellow;
           border: 1px solid black;
    }
    75%   {background-color:white;
         border: 1px solid black;
    }
   100%   {background-color:yellow;
            border: 1px solid black;
   }
}



