
.clear {
    clear: both;
}

#pic {
}

h3 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
}

    h3 span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: italic;
        font-family: Georgia, Serif;
        font-size: 16px;
        color: #999;
        font-weight: normal;
    }


ul {
    margin: 0 0 32px 17px;
}

#objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

dd {
    width: 600px;
    float: right;
}

    dd.clear {
        float: none;
        margin: 0;
        height: 15px;
    }


input.form-control {
    font-family: Tahoma, Verdana, Arial;
    /* font-size: 11px; */
    /*color: #707070;*/
    /*background-color: #fcf8e3 !important;*/
    border-width: 0;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
    /*opacity: 1;*/
}



/*Se queda */

.img-info {
    height: 110px;
    float: right;
    margin: -30px 0 0 0;
}

h2 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
    margin-bottom: 35px;
}