.radioBtn .notActive {
	color: #3276b1;
	background-color: #fff;
}

.radioBtn .notActive.btn-success {
	color: #398439;
}

.radioBtn .notActive.btn-danger {
	color: #d43f3a;
}

.radioBtn .notActive.btn-success:active {
	color: #fff;
}

.radioBtn .notActive.btn-danger:active {
	color: #fff;
}

#tblAuth input[type="checkbox"] {
	box-shadow: none;
	-webkit--webkit-box-shadow: none;
}

.noPadLeft {
	padding-left: 0px;
}

.noPadRight {
	padding-right: 0px;
}

/* Estilo CheckBox */
label {
	display: inline;
}

.regular-checkbox,
.regular-checkboxdanger {
	display: none;
}

.regular-checkbox+label,
.regular-checkboxdanger+label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	height: 22px;
	width: 22px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.regular-checkbox+label:active,
.regular-checkbox:checked+label:active,
.regular-checkboxdanger+label:active,
.regular-checkboxdanger:checked * label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked+label {
	/* color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; */

	color: #fff;
	background-color: #449d44;
	border-color: #398439;

	/* color: #99a1a7;
	background-color: #e9ecee;
    border: 1px solid #adb8c0; */

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.regular-checkboxdanger:checked+label {
	/* color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; */

	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;

	/* color: #99a1a7;
	background-color: #e9ecee;
    border: 1px solid #adb8c0; */

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.regular-checkbox:checked+label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 4px;
	/* color: #99a1a7; */
	color: #fff;
}

.regular-checkboxdanger:checked+label:after {
	content: '\2716';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
	/* color: #99a1a7; */
	color: #fff;
}

.big-checkbox+label {
	padding: 18px;
}

.big-checkbox:checked+label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* Fin Estilo CheckBox */

.centradoVertical {
	vertical-align: middle !important;
}

.marginTop5 {
	margin-top: 5px;
}

.campoInvalido,
.campoInvalido:focus {
	border-color: rgba(253, 0, 0, 0.4);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 0, 0, 0.4);
	background-color: rgb(255, 227, 224);
}

#tblInsumos .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #8c8c8c;
}

.requiContieneCancelado {
	background-color: rgb(245, 255, 109) !important;
}