#tblExistenciaDetalle > thead th,
#tblUbicacion > thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: black;
    color: white;
    z-index: 10;
} 

#tblSalidaDetalle,
#tblSalidaDetalle input,
#tblSalidaDetalle select {
    font-size: 10px;
}

#tblSalidaDetalle tbody tr td:nth-child(2),
#tblSalidaDetalle tbody tr td:nth-child(3),
#tblSalidaDetalle tbody tr td:nth-child(4),
#tblSalidaDetalle tbody tr td:nth-child(5),
#tblSalidaDetalle tbody tr td:nth-child(6),
#tblSalidaDetalle tbody tr td:nth-child(7) {
    font-size: 12px;
}

#tblSalidaDetalle input,
#tblSalidaDetalle select {
    height: 29px;
}

.select2-selection {
  height: 34px !important;
}

.select2-selection__rendered {
  line-height: 34px  !important;
}

.renglonConsumidoCompleto {
  background-color: #ffffff !important;
}

#tblSalidas {
  font-size: 11px;
}