tbody > tr.active > td {
    background: #fff !important;
    color: rgb(0, 0, 0);
}

#tblInsumos > tbody > .renglonQuitar > td {
  background-color: rgb(255, 227, 224) !important;
}

#tblInsumos > tbody > tr > td > input,
#tblSurtido > tbody > tr > td > input {
  height: 22px;
}

#tblSurtido {
  font-size: 11px;
}

#tblSurtido > thead > tr > th {
  color: white;
  background-color: black;
  border-color: black;
  padding: 4px 4px 4px 4px;
}

tbody > tr.active > td,
tbody > tr.selected > td {
    background: #5093ce !important;
    /* color: #fff; */
}