@{
ViewBag.Title = "AgendaActividades";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Evaluacion/EvaluacionEstilo.css" rel="stylesheet" />
<link href="~/Content/style/dhtmlxgantt.css" rel="stylesheet" />

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Agenda de Actividades</h2>
</div>

<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtros:</legend>
    <div class="row">
        <div class='col-md-2'>
            <label for="inputMes">Mes:</label>
            <input name="inputMes" id="inputMes" class="form-control date-picker">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="botonResultados" style="margin-top: 20px;">
                <i class="fas fa-search"></i> Resultados
            </button>
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-custm margin-top">
    <legend class="legend-custm">Actividades:</legend>
    <div class="row form-group">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm"></legend>
                <div class="row" style='padding-left:10px;padding-right:10px;'>
                    <div id="graficaGantt" style='height:45vh;width:100%'></div>
                </div>
            </fieldset>
        </div>
    </div>
</fieldset>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/Utilities/dhtmlxgantt/dhtmlxgantt.js"></script>
<script src="~/Scripts/Utilities/dhtmlxgantt/locale_es.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Evaluacion/AgendaActividades.js"></script>