@{
ViewBag.Title = "Empleados";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/Evaluacion/EvaluacionEstilo.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<style>
    .select2-container {
        width: 100% !important;
        display: block;
    }
</style>

<!-- HTML -->
<div class="row text-center margin-top">
    <h2>Empleados</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right" id="botonAgregar"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaEmpleados" class="table table-hover table-fixed table-bordered" width="100%"></table>
        </div>
    </div>
</fieldset>

<!-- Modal crear / editar -->
<div class="modal fade" id="modalEmpleado">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Empleado</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        @* <input type="checkbox" id="chkEsContratista" style="margin-top:9px;" /> <span id="lblContratistas">Contratista</span> //TODO *@
                        <input type="checkbox" id="chkEsContratista" data-toggle="toggle" data-on="Contratista" data-off="Construplan">
                        <style>
                            input, #chkEsContratista {
                                width: 0%;
                                text-align: center;
                            }
                            input, label, #chkEsContratista {
                                width: 125px;
                                display: block;
                            }
                        </style>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="inputClaveEmpleado" class="form-label">Clave Empleado:</label>
                        <input type="number" name="inputClaveEmpleado" id="inputClaveEmpleado" class="form-control" />
                    </div>

                    <div class="col-sm-3">
                        <label for="inputNombre" class="form-label">Nombre:</label>
                        <input type="text" name="inputNombre" id="inputNombre" class="form-control" disabled>
                    </div>

                    <div class="col-sm-3">
                        <label for="inputApellidoPaterno" class="form-label">Apellido Paterno:</label>
                        <input type="text" name="inputApellidoPaterno" id="inputApellidoPaterno" class="form-control" disabled>
                    </div>

                    <div class="col-sm-3">
                        <label for="inputApellidoMaterno" class="form-label">Apellido Materno:</label>
                        <input type="text" name="inputApellidoMaterno" id="inputApellidoMaterno" class="form-control" disabled>
                    </div>

                    <div class="col-sm-5">
                        <label for="selectPuesto" class="form-label">Puesto:</label>
                        <select id="selectPuesto" class="form-control"></select>
                    </div>

                    <div class="col-sm-4" style="margin-top: 25px; margin-bottom: 4px;">
                        <input type="checkbox" id="checkBoxEvaluador" class="regular-checkbox" />
                        <label for="checkBoxEvaluador"></label>
                        <label style="font-size: 14px;">&nbsp;Evaluador</label>
                    </div>

                    <div class="col-sm-4">
                        <label for="selectRol" class="form-label">Rol:</label>
                        <select id="selectRol" class="form-control"></select>
                    </div>

                    <div class="col-sm-4">
                        <label for="inputFechaInicioRol" class="form-label">Fecha Inicio Rol:</label>
                        <input type="text" name="inputFechaInicioRol" id="inputFechaInicioRol" class="form-control" />
                    </div>

                    <div class="col-sm-12">
                        <label for="selectCentroCosto" class="form-label">Centro de Costo:</label>
                        <select id="selectCentroCosto" class="form-control select2"></select>
                    </div>

                    <div class="col-sm-12 mrgTop">
                        <label for="tablaEvaluadores" class="form-label">Evaluadores:</label>
                        <table id="tablaEvaluadores" class="table table-hover table-fixed table-bordered compact" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/Evaluacion/Empleados.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>