@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<script>
    $(function () {
        var path = "/Reportes/Vista.aspx?idReporte=2&area=72&fechaInicio=01-01-2016&fechaFin=12-31-2016";
        $("#report").attr("src", path);

        document.getElementById('report').onload = function () {
           
        };
        e.preventDefault();
        //$("#click").on('click', function (e) {

        //});
    });
</script>

<div class="container">
    <center>
        <div class='myIframe'>
            <iframe id="report" align="middle"  ></iframe>
        </div>
    </center>
</div>

