/* DISEÑO SELECT2 */
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
/* END: DISEÑO SELECT2 */

.marginRight {
    margin-right: 15px;
}

.inputTextArea {
    width: 100% !important;
}

.marginBottom {
    margin-bottom: 1%;
}

.marginTop {
    margin-top: 1%;
}

/* Estilo CheckBox */
label {
	display: inline;
}

.regular-checkbox,
.regular-checkboxdanger {
	display: none;
}

.regular-checkbox + label,
.regular-checkboxdanger + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 11px;
	/*border-radius: 20px;*/
	display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  margin-bottom: 0px;
  vertical-align: middle;
}

td .regular-checkbox + label {
	border-radius: 2px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active,
.regular-checkboxdanger + label:active, .regular-checkboxdanger:checked * label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	color: #fff;
	background-color: #449d44;
  border-color: #398439;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkboxdanger:checked + label {
	color: #fff;
	background-color: #d9534f;
  border-color: #d43f3a;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
  color: #fff;
}

.regular-checkboxdanger:checked + label:after {
	content: '\2716';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
  color: #fff;
}

.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* Fin Estilo CheckBox */

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
	
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
	
@media only screen and (max-width: 600px) {
	.btn-flotante {
	font-size: 14px;
	padding: 12px 20px;
	bottom: 20px;
	right: 20px;
	}
}