/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
    height: 550px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    /*margin: 0px 5px;*/
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    /* border-radius: 3px 3px 0px 0px; */
    background: #060606;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: all linear 0.15s;
}

    .tab-links a:hover {
        background: rgba(106, 101, 101, 0.71);
        text-decoration: none;
    }

li.active a, li.active a:hover {
    background: #ed862b;
    color: #f5f5f5;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px 1px #333;
    background: #fff;
    height: 515px;
}

.tab {
    display: none;
}

    .tab.active {
        display: block;
    }

#sizing-addon2.glyphicon {
    position: static !important;
}

/*#btnAddMaq {
    padding: 8px 12px;
}*/

ul.ulHorizonal li {
    display: inline;
}

.form-group-custum {
    margin-bottom: 6px;
}

.modal-dialog {
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 60px;
}

ul.tab-links {
    margin-bottom: 1px;
    padding: 0;
    background: black;
    border: 1px solid;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.57);
    margin-top: 5px;
}

.text-fix {
    text-align: -webkit-auto;
}

.btn-margin-top {
    margin-top: 10px;
}


div#tab1 {
    margin-top: 15px;
}

div#divVisFolios {
    margin-top: 15px;
}