<style>
    .glyphicon { margin-right:5px;}
    .rating .glyphicon {font-size: 22px;}
    .rating-num { margin-top:0px;font-size: 54px; }
    .progress { margin-bottom: 5px;}
    .progress-bar { text-align: left; }
    .rating-desc .col-md-3 {padding-right: 0px;}
    .progress-bar-default{
        background-color: gainsboro;
    }
    .sr-only { 
        color: black;
        margin-left: 5px;
        overflow: visible;
        clip: auto; }
    #tarjeta{
        position:absolute;
        top:50%;
        left:50%;
        padding:50px;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
</style>
<script src="~/Scripts/js/Encuestas/_tarjetaEstrella.js"></script>
<div class="modal fade" id="mdlInfoEstrella">
            <div id="tarjeta" class="well well-sm">
                <div class="row">
                    <!-- <div class="col-xs-12 col-md-6 text-center">
                        <h1 class="rating-num">
                            4.0</h1>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>1,050,008 total
                        </div>
                    </div> -->
                    <div class="col-xs-12 col-md-12">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                Estupendo <span style="color: #fece40;"><i class="fa-star fa"></i></span> 5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
                                        <span class="sr-only">90%~100%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Aceptable <span style="color: #fece40;"><i class="fa-star fa"></i></span> 4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 89%">
                                        <span class="sr-only">80~89%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 11%"></div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Regular <span style="color: #fece40;"><i class="fa-star fa"></i></span> 3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 79%">
                                        <span class="sr-only">60~79%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 21%"></div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Malo <span style="color: #fece40;"><i class="fa-star fa"></i></span> 2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 59%">
                                        <span class="sr-only">26~59%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 41%"></div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Pésimo <span style="color: #fece40;"><i class="fa-star fa"></i></span> 1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 25%">
                                        <span class="sr-only">0%~25%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 75%"></div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>
                    @*<div class="col-xs-12 col-md-12">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                Estupendo <span style="color: #fece40;"><i class="fa-star fa"></i></span> 5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
                                        <span class="sr-only">81%~100%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Aceptable <span style="color: #fece40;"><i class="fa-star fa"></i></span> 4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 80%">
                                        <span class="sr-only">61~80%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 20%"></div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Regular <span style="color: #fece40;"><i class="fa-star fa"></i></span> 3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 60%">
                                        <span class="sr-only">41~60%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 40%"></div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Malo <span style="color: #fece40;"><i class="fa-star fa"></i></span> 2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 40%">
                                        <span class="sr-only">21~40%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 60%"></div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                Pésimo <span style="color: #fece40;"><i class="fa-star fa"></i></span> 1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
                                        <span class="sr-only">0%~20%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-default" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>*@
                </div>
            </div>
</div>
