
    /*table.dataTable tbody tr td,
    table thead tr th,
    table.dataTable,
    .dataTables_scrollBody {
        border: 0px solid #000 !important;
    }*/

    table.dataTable thead {
        /*font-size: 15px;*/
        background-color: #fff;
        color: black;
    }

    /*MODALES*/
    .modal-xl {
        width: 80%;
    }
    .form-control-width-small {
        width: 57.6px !important;
    }

    .form-control-width-extra-small {
        width: 38.4px !important;
    }

    .form-group-inline {
        display: inline-block;
    }       

    .Fields {
        background-color: #ffff00;
    }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

.tabla { 
    overflow-y: auto; 
    overflow: auto;
    font-size: 13px;
}

.tabla thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
    background-color: rgb(44, 105, 204);
    color:white;
    text-align:center !important;
    border-left:0 !important;
}

.tabla thead td { 
    border-left:0 !important;
}

th {
    text-align: center !important;
}

.btn {
    /* margin-top: 25px; */
}

input[type="file"] {
     margin-top: 30px;
}

.indirectos {
    background-color: #5cb85c !important;
}

.cargaMonto {
    text-align: right !important;
}

.nuevoModelo {
    text-align: right !important;
}

/* .select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
} */

.marginRight {
    margin-right: 15px;
}