<tr>
    <td>
        <select class="form-control grupo"></select>
    </td>
    <td>
        <select class="form-control modelo"></select>
    </td>
    <td>
        <select class="form-control unidad"></select>
    </td>
    <td>
        <input class="form-control text-right costo" value="$0.00"/>
    </td>
    <td>
        <input data-tipo='1'  class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='2' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='3'  class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='4' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='5' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='6' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='7' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='8' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='9' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='10' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='11' class="form-control text-right setPrecio" value="$0.00" />
    </td>
    <td>
        <input data-tipo='12' class="form-control text-right setPrecio" value="$0.00" />
    </td>


</tr>

