@{
    ViewBag.Title = "Captura";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Caratula.css" rel="stylesheet" />
<h1 class="text-center">Caratula</h1>


<fieldset class="fieldset-custm">
    <legend class="legend-custm">Captura</legend>
    <div class="row">
        <div class="col-md-5 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon">Centro Costo</span>
                <select id="selCapCC" class="form-control"></select>
            </div>
        </div>
        <div class='col-md-3 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-addon'>Vencimiento</span>
                <input type='text' id='dtVencimiento' class='form-control'>
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class='radioBtn btn-group'>
                <a class='btn btn-primary active' data-toggle='radMoneda' data-title='1'>Pesos</a>
                <a class='btn btn-primary notActive' data-toggle='radMoneda' data-title='2'>Dólares</a>
            </div>
            <button type="button" id="btnGuardar" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabPrecio">Precios</a></li>
        <li><a data-toggle="tab" href="#tabIncluye">Incluye</a></li>
        <li><a data-toggle="tab" href="#tabNoIncluye">No Incluye</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabPrecio" class="tab-pane fade in active">
            <div class="col-md-12 col-lg-12">
                <button type="button" id="btnAddRow" class="btn btn-success"><i class="fa fa-plus"></i></button>
                <button type="button" id="btnDelRow" class="btn btn-danger"><i class="fa fa-minus"></i></button>
            </div>
            <table id="tblPrecio" class="table">
                <thead class="bg-table-header">
                    <tr>
                        <th>Grupo</th>
                        <th>Modelo</th>
                        <th>Unidad</th>
                        <th>Costo</th>
                        <th>Cargo Fijo</th>
                        <th>Overhaul</th>
                        <th>Mtto Correctivo</th>
                        <th>Combustible</th>
                        <th>Aceites</th>
                        <th>Filtros</th>
                        <th>Ansul</th>
                        <th>Llantas</th>
                        <th>Carrileria</th>
                        <th>Herramientas Desgaste</th>
                        <th>Cargo Operador</th>
                        <th>Personal Mtto</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tabIncluye" class="tab-pane fade">
            <div class="table-responsive">
                <table id="tblIncluye" class="table table-fixed table-responsive tblConsideracion">
                    <thead class="bg-table-header">
                        <tr>
                            <th>Estatus</th>
                            <th>Número</th>
                            <th>Incluye</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="tabNoIncluye" class="tab-pane fade">
            <div class="table-responsive">
                <table id="tblNoIncluye" class="table table-fixed table-responsive tblConsideracion">
                    <thead class="bg-table-header">
                        <tr>
                            <th>Estatus</th>
                            <th>Número</th>
                            <th>No Incluye</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</fieldset>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Captura/Conciliacion/CapturaCaratula.js"></script>