@{
    ViewBag.Title = "Captura";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Reporte/RepAnalisisUtilizacion.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<h1 class="text-center">Conciliacion de Horometros.</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Caratula</legend>
    <div class="col-md-5 col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">AC</span>
            <select id="selBusqCC" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-5 col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">Fecha Conciliacion:</span>
            <select id="selSemanas" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-1 col-lg-1">
        <button type="button" id="btnCargar" class="btn btn-primary"><i class="fa fa-search"></i> Cargar</button>
    </div>
    <div class="col-md-2 col-lg-2">
        <div class='radioBtn btn-group hidden'>
            <a class='btn btn-primary active' data-toggle='radMoneda' data-title='1'>MX</a>
            <a class='btn btn-primary notActive' data-toggle='radMoneda' data-title='2'>USD</a>
        </div>
        <button type="button" id="btnGuardar" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Conciliación:</legend>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-responsive" id="tblConciliacionHorometros" width="100%">
            <thead class="bg-table-header text-center">
                <tr>
                    <th style="border-right: 1px solid;" class="text-center">Económico</th>
                    <th style="border-right: 1px solid;" class="text-center">Descripción</th>
                    <th style="border-right: 1px solid;" class="text-center">Modelo</th>
                    <th style="border-right: 1px solid;" class="text-center">HI</th>
                    <th style="border-right: 1px solid;" class="text-center">HF</th>
                    <th style="border-right: 1px solid;" class="text-center">HE</th>
                    <th style="border-right: 1px solid;" class="text-center">Unidad</th>
                    <th style="border-right: 1px solid;" class="text-center">Costo/Hora</th>
                    <th style="border-right: 1px solid;" class="text-center">Total (Costo/Hora)</th>
                    <th style="border-left: 1px solid;" class="text-center">Cargo</th>
                    <th style="border-left: 1px solid;" class="text-center">Comentarios</th>
                </tr>

            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="text-align:right">Total:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

</fieldset>
@Html.Partial("reportViewerView", false)
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Captura/Conciliacion/CapturaConciliacion.js"></script>