@{
ViewBag.Title = "Autorización de Facultamientos";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Facultamientos/AutorizacionFA.css" rel="stylesheet" />
<h1 class="text-center">Autorización de Facultamientos</h1>
<fieldset id="fieldsetPaquetes" class="fieldset-custm">
    <legend class="legend-custm">
        <i class="fa fa-table"></i> Paquetes de Facultamientos
    </legend>
    <table id="tablaPaquetes" class="table table-fixed table-hover table-responsive table-striped">
        <thead class="bg-table-header">
            <tr>
                <th>C.C.</th>
                <th>Obra</th>
                <th>Fecha</th>
                <th>Agrupador</th>
                <th></th>
            </tr>
        </thead>
    </table>
</fieldset>
<fieldset id="fieldsetReporte" hidden class="fieldset-custm text-center">
    <legend id="legendHome" class="legend-custm">
        <i class="fa fa-home"></i> Reporte
    </legend>
    <iframe id="report" align="middle" height="200" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0"
        scrolling="no" class="StyleIframe"></iframe>
</fieldset>
<fieldset id="fieldsetAutorizacion" hidden class="fieldset-custm">
    <legend class="legend-custm"><i class="fa fa-user"></i> Autorizantes</legend>
</fieldset>

<div class="modal fade centered-modal" id="modalAutorizar">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Está seguro que desea autorizar el Paquete de
                    Facultamientos?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalAutorizar-btn-Autorizar">
                    <i class='fa fa-check'></i> Autorizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class='fa fa-arrow-left'></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
 
<div class="modal fade centered-modal text-center" id="modalRechazar">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Está seguro que desea rechazar el Paquete de
                    Facultamientos?</h4>
            </div>
            <div class="modal-body">
                <p id="modalAvisoCuerpo"><strong>Por favor justifique el rechazo:</strong></p>
                <textarea id="textAreaRechazo" required placeholder="Describa su rechazo en un mínimo de 20 caracteres"
                    minlength="20" maxlength="450"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modalAutorizar-btn-Rechazar">
                    <i class='fa fa-ban'></i> Rechazar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class='fa fa-arrow-left'></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Facultamiento/AutorizacionFA.js"></script>