@{
    ViewBag.Title = "Gestion";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<style>
    .blockOverlay {
        height: 200% !important;
    }

    .ui-autocomplete {
        z-index: 9999;
    }
</style>
<h1 class="text-center">Facultamiento</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Cuadros</legend>
    <div class="row">
        <div class="col-md-2 col-lg-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlCaptura"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
    </div>
    <table id="tblCuadro" class="table table-fixed table-responsive table-striped">
        <thead class="bg-table-header">
            <tr>
                <th>C.C.</th>
                <th>Obra</th>
                <th>Fecha</th>
                <th>Estátus</th>             
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</fieldset>

<div id="mdlCaptura" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:100%;">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">
                    <i class="fa fa-table"></i>
                    Captura
                </h4>
            </div>
            <div class="modal-body">
                <div class="row container-fluid">
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">Fecha</span>
                            <input type="text" id="dtFecha" class="form-control" />
                        </div>
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">C.C.</span>
                            <select id="selCC" class="form-control"></select>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Obra</span>
                            <input type="text" id="txtObra" class="form-control" />
                        </div>
                    </div>
                    <fieldset class="fieldset-custm col-md-12 col-lg-12">
                        <legend id="lblLegend" class="legend-custm">Refacciones</legend>
                        <div class="row">
                            <div class="col-md-2 col-lg-2">
                                <button type="button" id="addRefacMonto" class="btn btn-success"><i class="fa fa-plus"></i> Monto</button>
                                <button type="button" id="remRefacMonto" class="btn btn-danger"><i class="fa fa-minus"></i> Monto</button>
                            </div>
                        </div>
                        <table id="tblRefacMonto" class="table table-fixed table-responsive table-striped tblMonto">
                            <thead class="bg-table-header">
                                <tr>
                                    <th>Mínimo</th>
                                    <th>Máximo</th>
                                    <th>Autoriza</th>
                                    <th>VoBo1</th>
                                    <th>VoBo2</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                    <fieldset id="fsMateriales" class="fieldset-custm col-md-12 col-lg-12">
                        <legend class="legend-custm">Materiales</legend>
                        <div class="row">
                            <div class="col-md-2 col-lg-2">
                                <button type="button" id="addMatMonto" class="btn btn-success"><i class="fa fa-plus"></i> Monto</button>
                                <button type="button" id="remMatMonto" class="btn btn-danger"><i class="fa fa-minus"></i> Monto</button>
                            </div>
                        </div>
                        <table id="tblMatMonto" class="table table-fixed table-responsive table-striped tblMonto">
                            <thead class="bg-table-header">
                                <tr>
                                    <th>Mínimo</th>
                                    <th>Máximo</th>
                                    <th>Autoriza</th>
                                    <th>VoBo1</th>
                                    <th>VoBo2</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                    <fieldset class='fieldset-custm'>
                        <div class='table-responsive'>
                            <table id='tblPuesto' class='table table-fixed table-responsive' width="100%">
                                <thead class='bg-table-header'>
                                    <tr>
                                        <th>Puesto</th>
                                        <th>Vobo</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset-custm col-md-12 col-lg-12">
                        <legend class="legend-custm">Autorizantes</legend>
                        <table id="tblAuth" class="table table-fixed table-responsive table-striped tblMonto">
                            <thead class="bg-table-header">
                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Autorizó</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-arrow-left"></i> regresar</button>
                <button type="button" id="btnGuardar" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" id="btnPrint" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Facultamiento/Gestion.js"></script>
