@{
    ViewBag.Title = "Historico";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<h1 class="text-center">Histórico</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm"><i class="fa fa-history"></i> Cuadros</legend>
    <div class=" row">
        <div class="col-lg-4">
            <div class="input-group col-md-12 col-lg-12">
                <span class="input-group-addon">C.C.</span>
                <select id="selCC" class="form-control" multiple></select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-6 no-padding">
                <div class="input-group">
                    <span class="input-group-addon">Fecha Inicio:</span>
                    <input id="txtFechaI" type="text" class="form-control" placeholder="Proyecto" />
                </div>
            </div>
            <div class="col-lg-6 no-padding-right">
                <div class="input-group">
                    <span class="input-group-addon">Fecha Fin:</span>
                    <input id="txtFechaF" type="text" class="form-control" placeholder="Proyecto" />
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="tblCuadro" class="table table-fixed table-responsive table-striped">
            <thead class="bg-table-header">
                <tr>
                    <th>C.C.</th>
                    <th>Obra</th>
                    <th>Fecha</th>
                    <th>Registro</th>
                    <th>Estatus</th>
                    <th>Reporte</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<div id="mdlAutorizacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    <i class="fa fa-user"></i>
                    Autorización
                </h3>
            </div>
            <div class="modal-body">
                <div class="row container-fluid">
                    <div class="text-center">
                        <h4 id="lblCC"></h4><h4 id="lblEstatus"></h4>
                    </div>
                    <table id="tblAutorizador" class="table table-fixed table-responsive table-striped" width="100%">
                        <thead class="bg-table-header">
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-arrow-left"></i> regresar</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("reportViewerView", false)
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Facultamiento/Historico.js"></script>