#selDivision{
    display: inline-block;
    width: 60px;
}
#txtDivision{
    display: inline-block;
    width: 250px;
}
.col-md-4, .col-lg-4, .col-md-6, .col-lg-6, .col-md-8, .col-lg-8{
    margin: 0;
    padding: 0;
}
.fieldset-custm{
    padding-top: 5px;
}
.radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}