/*.select2-container {
    max-width: 247px !important;
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px 4px 4px 0px!important;
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}*/

/*tablas*/
#tblNomina thead tr th:last-child, #tblResumenNomina thead tr th:last-child {
    min-width: 160px !important;
}
#tblNomina tbody tr td, #tblResumenNomina tbody tr td {
    font-size: smaller;
}
.dtHeader {
    background-color: #000000;

    font-size: 12px;
    color: white;
}
/*tablas fin*/

/*modalFechaPoliza*/
#modalFechaPoliza .modal-sm, #modalEmpleadosSinRegistrarCuenta .modal-sm {
    width: 485px !important;
}
#modalFechaPoliza .modal-header, #modalEmpleadosSinRegistrarCuenta .modal-header {
    padding: 5px 0px 5px 0px;
    text-align: center;
    border-bottom: none;
    color: #fff;
    background-color: black;
}
/*modalFechaPoliza fin*/