/*#tablaPrenomina, #tablaAutorizantes {
    font-size:13px;
}*/
th, td { white-space: nowrap; }

#tablaPrenomina_wrapper {
    z-index: 999;
    background-color:white;
}

.first-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px;
}

.second-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    left: 100px;
}

#tablaPrenomina th, #tablaAutorizantes th, #tablaGestion th {
    padding: 4px;
}

#tablaPrenomina td.dataTables_empty:nth-child(1) {
    background-color:transparent !important;
}

#tablaPrenomina th:nth-child(1) {
    min-width: 100px;
    max-width: 100px;
    left: 0px;
    z-index: 999;
}

#tablaPrenomina th:nth-child(2) {
    min-width: 400px;
    max-width: 400px;
    left: 100px;
    z-index: 999;
}

#tablaPrenomina th:nth-child(1), #tablaPrenomina th:nth-child(2), #tablaPrenomina th:nth-child(3) { 
    background-color: #264653 !important;
}

#tablaPrenomina td:nth-child(1), #tablaPrenomina td:nth-child(2), #tablaPrenomina td:nth-child(3) { 
    background-color: #b1cfdb !important;
}

#tablaPrenomina th:nth-child(4) { 
    background-color: #2a9d8f !important;
}

#tablaPrenomina td:nth-child(4) { 
    background-color: #d3f3ef !important;
}

#tablaPrenomina th:nth-child(5), #tablaPrenomina th:nth-child(6), #tablaPrenomina th:nth-child(7), #tablaPrenomina th:nth-child(8), #tablaPrenomina th:nth-child(9), #tablaPrenomina th:nth-child(10), #tablaPrenomina th:nth-child(11), #tablaPrenomina th:nth-child(12), #tablaPrenomina th:nth-child(13), 
#tablaPrenomina th:nth-child(14), #tablaPrenomina th:nth-child(15), #tablaPrenomina th:nth-child(16), #tablaPrenomina th:nth-child(17), #tablaPrenomina th:nth-child(18), #tablaPrenomina th:nth-child(19), #tablaPrenomina th:nth-child(20), #tablaPrenomina th:nth-child(21), #tablaPrenomina th:nth-child(22), 
#tablaPrenomina th:nth-child(23), #tablaPrenomina th:nth-child(24)
{ 
    background-color: #e9c46a !important;
}

#tablaPrenomina td:nth-child(5), #tablaPrenomina td:nth-child(6), #tablaPrenomina td:nth-child(7), #tablaPrenomina td:nth-child(8), #tablaPrenomina td:nth-child(9), #tablaPrenomina td:nth-child(10), #tablaPrenomina td:nth-child(11), #tablaPrenomina td:nth-child(12), #tablaPrenomina td:nth-child(13), 
#tablaPrenomina td:nth-child(14), #tablaPrenomina td:nth-child(15), #tablaPrenomina td:nth-child(16), #tablaPrenomina td:nth-child(17), #tablaPrenomina td:nth-child(18), #tablaPrenomina td:nth-child(19), #tablaPrenomina td:nth-child(20), #tablaPrenomina td:nth-child(21), #tablaPrenomina td:nth-child(22), 
#tablaPrenomina td:nth-child(23), #tablaPrenomina td:nth-child(24)
{ 
    background-color: #f8edd1 !important;
}

#tablaPrenomina th:nth-child(25), #tablaPrenomina th:nth-child(26), #tablaPrenomina th:nth-child(27), #tablaPrenomina th:nth-child(28) , #tablaPrenomina th:nth-child(29) , #tablaPrenomina th:nth-child(30) , #tablaPrenomina th:nth-child(31) , #tablaPrenomina th:nth-child(32) 
{ 
    background-color: #f4a261 !important;
}

#tablaPrenomina td:nth-child(25), #tablaPrenomina td:nth-child(26), #tablaPrenomina td:nth-child(27), #tablaPrenomina td:nth-child(28) , #tablaPrenomina td:nth-child(29) , #tablaPrenomina td:nth-child(30) , #tablaPrenomina td:nth-child(31) , #tablaPrenomina td:nth-child(32) 
{ 
    background-color: #f9cca9 !important
}

#tablaPrenomina th:nth-child(33), #tablaPrenomina th:nth-child(34) { 
    background-color: #e76f51 !important;
}

#tablaPrenomina td:nth-child(33), #tablaPrenomina td:nth-child(34) { 
    background-color: #f8d3ca !important;
}

.dropzone
{
    /*height: auto;*/
    margin-bottom: 0px;
    margin-top: 0px;
    min-height:initial;
    padding: 20px 10px 10px 20px;
}

.dropzone p 
{
    font-size:14px;
    margin-bottom:0;
}

.dropzone i 
{
    font-size:40px;
    margin-bottom: 10px;
}

.tabla { 
    overflow-y: auto; 
    max-height: 500px; 
    overflow: auto;
    
}

.tabla thead th { 
    position: sticky; 
    top: 0;     
    z-index: 1; 
    background-color: rgb(44, 105, 204) !important;
    color:white;
    text-align:center !important;
    border-left:0 !important;
}

.tabla thead td { 
    border-left:0 !important;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

/*#comboNomina, #comboEmpresa, input {
    height: 28px !important;
}*/

.padding2 {
    padding: 2px;
}

th {
    text-align: center !important;
}

#uploadFiles {
    margin: 5px;
    height: 320px;
    margin-top: 13px;
}

.autoriza {
    width:500px;
}

.fieldsetUpdExcel {
    height: inherit;
}

#dZUpload {
    height: -webkit-fill-available;
}

.acomodo {
    margin-top: 50px !important;
}

.select2-selection, .select2-selection--single, .select2-selection__rendered {
  height: 34px !important; 
}

.captura {
    width: 80px;
}

.dias, .diaFestivo  {
    width: 50px !important;
}

.hrExtra, .diaHrExtra {
    width: 40px !important;
}

.aplica {
    background-color: #B4C6E7;
}

.select2-container {
    width: 100% !important;
}

.validada {
    color: green !important;
}

.no-validada {
    color: red !important;
}