/* table */
#tblReporteAnualNomina thead tr th {
    min-width: 160px !important;
}

#tblReporteAnualNomina thead tr th:first-child {
    min-width: 80px !important;
}


.DTFC_Cloned tbody tr td:last-child {
    border-right: 2px solid black;
}

.dtHeader {
    background-color: #000000;

    font-size: 12px;
    color: white;
}

.tdBorde {
    border-top: 2px solid black !important;
}