/*tablas*//* table */

#tblReporteAnualNomina thead tr th {
    min-width: 160px !important;
}

#tblReporteAnualNomina thead tr th:nth-child(1) {
    min-width: 10px !important;
}
#tblReporteAnualNomina thead tr th:nth-child(2) {
    min-width: 7px !important;
}
#tblReporteAnualNomina thead tr th:nth-child(3) {
    min-width: 7px !important;
}

.DTFC_Cloned tbody tr td:last-child {
    border-right: 2px solid black;
}

.dtHeader {
    background-color: #000000;

    font-size: 12px;
    color: white;
}

.tdBorde {
    border-bottom: 2px solid black !important;
}

/*tablas fin*/