<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>Doconut Viewer - Slideshow</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Slideshow-->
    <link href="/css/slick.css" rel="stylesheet" />
    <link href="/css/slick-theme.css" rel="stylesheet" />

    <!-- Drop zone css (for upload)-->
    <link href="/scripts/dropzone/basic.css" rel="stylesheet" />
    <link href="/scripts/dropzone/dropzone.css" rel="stylesheet" />

    <style>

        #divSlideshow {
            background-color: white;
        }

        #doconutppt {
            margin: 20px auto;
        }

        .row {
            margin: 0px;
        }

        .loader {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .slider {
            width: 80%; /* change the size of slideshow here */         
        }

        .slick-slide {
            margin: 0px 20px;
        }

            .slick-slide img {
                width: 100%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="https://doconut.com" target="_blank">Slideshow</a>&nbsp;<div class="loader"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            Sample Files
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.pptx');">Sample.pptx</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)" onclick="OpenDocument('Sample.ppt');">Sample.ppt</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);" onclick="OpenUpload();">Upload File</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="javascript:void(0);" onclick="PrevSlide();"><< Prev</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="javascript:void(0);" onclick="NextSlide();">Next >></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="javascript:void(0);" onclick="PauseSlideshow();">Pause</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="PlaySlideshow();">Play</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="GoFS();">Full Screen</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://kenwheeler.github.io/slick/" target="_blank">visit Slick</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Content -->

    <div class="row">
        <div id="divSlideshow" class="col-lg-12 text-center">
            <section id="doconutppt" class="doconutppt slider"></section>
        </div>
    </div>

    <!--Modal: Upload-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Slide</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">


                    <div id="dropZoneForm" class="dropzone">
                        <div class="dz-message">
                            Click or drop your presentation here
                        </div>
                        <div>
                            <div class="fallback">
                                <input name="file" id="file" type="file" />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--Modal: Upload-->
   

    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <!-- Slideshow-->
    <script src="/scripts/slick.min.js"></script>

    <!-- Drop Zone JS (For upload) -->
    <script type="text/javascript" src="/scripts/dropzone/dropzone.js"></script>

    <script>
        Dropzone.autoDiscover = false;

        var slideShow = null;
        var loader = $(".loader");
        var isMobile = false;
        var divSlideshow = $("#divSlideshow");
        var baseUrl = "/DocImage.axd";

        loader.hide();

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            isMobile = true;
        }

        function OpenDocument(fileName) {

            loader.show();

            $.ajax({
                type: "POST",
                cache: false,
                contentType: "JSON",
                async: true,
                url: "/Home/OpenDocument?fileName=" + fileName,
                success: function (data) {
                    BuildSlideshow(data.token, data.pages);
                },
                error: function (err) {
                    alert("Unable to open document. Error: " + err.responseText);
                    loader.hide();
                }
            });
        }

        function BuildSlideshow(token, pages) {

            if (null != slideShow) {
                slideShow.slick('unslick');
            }

            var doconutppt = $("#doconutppt");
            doconutppt.empty();

            for (var icount = 1; icount <= pages; icount++) {
                var slideHtml = '<div><img data-lazy="' + baseUrl + '?page=' + icount + '&token=' + token + '" /></div>';
                doconutppt.append(slideHtml);
            }

            slideShow = doconutppt.slick({
                dots: !isMobile, 
                infinite: true,
                fade: true,
                cssEase: 'linear',  //linear, ease, ease-in, ease-out
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000
            });

            loader.hide();
        }

        function PrevSlide() {
            slideShow.slick('slickPrev');
        }

        function NextSlide() {
            slideShow.slick('slickNext');
        }

        function PauseSlideshow() {
            slideShow.slick('slickPause');
        }

        function PlaySlideshow() {
            slideShow.slick('slickPlay');
        }

        function GoFS() {

            if (
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            ) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            } else {
                var element = divSlideshow.get(0);

                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.mozRequestFullScreen) {
                    element.mozRequestFullScreen();
                } else if (element.webkitRequestFullscreen) {
                    element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (element.msRequestFullscreen) {
                    element.msRequestFullscreen();
                }
            }
        }

        function OpenUpload() {
            $('#myModal').modal('show');
        }

        $(document).ready(function () {

            // optional call to open default slideshow
            OpenDocument('Sample.ppt');

            $("#dropZoneForm").dropzone({
                url: "/Home/UploadFile",
                maxFiles: 1,
                paramName: "file",
                uploadMultiple: false,
                maxFilesize: 20,
                acceptedFiles:
                    ".ppt,.pptx,.pps,.ods",
                addRemoveLinks: false,
                init: function () {
                    var th = this;
                    this.on("success",
                        function (file, response) {
                            OpenDocument(response);
                            $('#myModal').modal('hide');
                        }),
                        this.on("error",
                            function (file, errorMessage, c) {
                                alert("Error uploading document [[" +
                                    file.name +
                                    "]]. Technical team has been notified.");
                            }),
                        this.on("queuecomplete",
                            function () {
                                setTimeout(function () {
                                    th.removeAllFiles();
                                },
                                    3000);
                            });
                }
            });

        });

    </script>


</body>
</html>