<table id="tblObras" class="table table-condensed table-hover text-center">
    <thead class="bg-table-header">
        <tr>
            <th></th>
            <th>OBRAS</th>
            <th>RESULTADO</th>
            <th>SEMANA</th>
            <th></th>
        </tr>
    </thead>
</table>
