
@{
    ViewBag.Title = "Division";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Kubrix/Division.css" rel="stylesheet"/>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Kubrix/Division.js"></script>
<h2 class="text-center">Análisis por División</h2>
<div class="row col-md-6 col-lg-6">
<fieldset class="fieldset-custm col-md-6 col-lg-6">
    <div class="input-group">
        <select type="text" id="selDivision" class="form-control"></select>
        <input type="text" id="txtDivision" class="form-control" readonly/>
    </div>
</fieldset>
<fieldset class="fieldset-custm text-center col-md-6 col-lg-6">
    <div class="radioBtn btn-group">
        <a class="btn btn-primary  active" data-toggle="radTipoDiv" data-title="true">Solo obras activas</a>
        <a class="btn btn-primary  notActive" data-toggle="radTipoDiv" data-title="false">Ejercicio Actual</a>
    </div>
</fieldset>
<fieldset id="fsTblObras" class="fieldset-custm col-md-12 col-lg-12">
    
</fieldset>
</div>
<div class="row col-md-6 col-lg-6">
<div class="col-md-8 col-lg-8">
<fieldset class="fieldset-custm">
    <div class="input-group br">
        <span class="input-group-btn">
            <a href="#" class="btn btn-primary clear-search">
              PARTICIPACIÓN POR DIVISION
          </a>
        </span>
        <span class="input-group-addon">RESULTADO</span>
        <span class="input-group-addon">#</span>
    </div>
    <table id="tblResultado" class="table table-condensed table-hover text-center">
        <tbody>
            <tr>
                <td>OBRAS CON RESULTADO POSITIVO</td>
                <td style="width: 122px;">0</td>
                <td style="width: 50px;">0</td>
            </tr>
            <tr>
                <td>OBRAS CON RESULTADO NEGATIVO</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>RESULTADO NETO</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</fieldset>
<fieldset class="fieldset-custm">
    <div class="col-md-6 col-lg-6">
        <table id="tblCxP" class="table table-condensed">
            <tbody>
                <tr>
                    <td>CONTRATADO</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>X EJERCER (50%)</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>X FACTURAR</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>CXP</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table id="tblCxC" class="table table-condensed">
            <tbody>
                <tr>
                    <td>RETENCION</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>ANTICIPO</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>ALMACEN</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>CXC</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
</div>
<div class="col-md-4 col-lg-4">
    <fieldset class="fieldset-custm">
    <span class="input-group-addon">RESULTADO POR GIRO DEL CLIENTE</span>
    <table id="tblGiroCliente" class="table table-condensed">
        <tbody>
            <tr>
                <td></td>
                <td>INDUSTRIAL</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>MINERIA</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>GAS</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>INF URBANA</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>INF HIDRAULICA</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>CARRETERAS</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>AUTOMOTRIZ</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PETROQUIMICA</td>
                <td></td>
            </tr>
        </tbody>
        <tr>
            <td>0</td>
            <td>TOTAL</td>
            <td>0</td>
        </tr>
    </table>
</fieldset>
</div>




</div>


