@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Enkontrol/Alamcen/Valuacion/Dashboard.css" rel="stylesheet" />
<h2 class="text-center">Dashboard Inventarios</h2>
<button id='btnExportar' type='button' class='btn btn-success'><i class='fa fa-table'></i> Exportar</button>
<fieldset class='fieldset-custm col-md-9 col-lg-9'>
    <legend class='legend-custm' id="lblFecha">Valuación</legend>
    <div id="dvGrafico">
        <h3 id="lblTotal" class="text-center"></h3>
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <div class="chartAreaWrapperCompania">
                        <canvas id="chCompania"></canvas>
                    </div>
                </div>        
            </div>
        <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <div class="chartAreaWrapper3">
                        <canvas id="chAlmacen"></canvas>
                    </div>
                </div>        
            </div>
        <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <div class="chartAreaWrapper2">
                        <canvas id="chGrupo"></canvas>
                    </div>
                </div>        
            </div>
    </div>
</fieldset>
<div class="col-md-3 col-lg-3">
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Grúpos
        <label class="chBox">
            <input type="checkbox" id="chkGrupo" class="btn btn-primary"/>
            <span class="y">Todos</span>
            <span class="n">Ninguno</span>
        </label>
    </legend>
    <div id="divGrupo"></div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Compañía 
        <label class="chBox">
            <input type="checkbox" id="chkCompania" class="btn btn-primary"/>
            <span class="y">Todas</span>
            <span class="n">Ninguna</span>
        </label>
    </legend>
    <div id="divCompania">
        <label class="chBox">
            <input type="checkbox" value="2" class="btn btn-primary"/>
                <span class="y">Arrendadora</span>
                <span class="n">Arrendadora</span>
        </label>
        <label class="chBox">
            <input type="checkbox" value="1"/>
                <span class="y">Construplan</span>
                <span class="n">Construplan</span>
        </label>
    </div>
</fieldset>
</div>
<fieldset class='fieldset-custm col-md-12 col-lg-12'>
    <legend class='legend-custm'>Álmacenes
        <label class="chBox">
            <input type="checkbox" id="chkAlmacen" class="btn btn-primary"/>
            <span class="y">Todos</span>
            <span class="n">Ninguno</span>
        </label>
    </legend>
    <div id="divAlmacen"></div>
</fieldset>
<script src="~/Scripts/js/Enkontrol/Almacen/Valuacion/dashboard.js"></script>