@{
ViewBag.Title = "Salidas";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Enkontrol/Alamcen/Valuacion/Salidas.css" rel="stylesheet" />
<h2 class="text-center">Efectividad de Salidas Diarias</h2>
<h4 id="lblFecha" style="display: none;"></h4>
<label for="datePickerFecha">Fecha:</label>
<input id="datePickerFecha" class="form-control" style="width: 20%; margin-bottom: 5px;">
<button id='btnExportar' type='button' class='btn btn-success'><i class='fa fa-table'></i> Exportar</button>
<fieldset class='fieldset-custm col-md-10 col-lg-10'>
    <legend class='legend-custm'>Mes</legend>
    <div class="chartWrapper">
        <div class="chartAreaWrapper">
            <div class="chartAreaWrapper2">
                <canvas id="chPeriodo"></canvas>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm col-md-2 col-lg-2'>
    <legend class='legend-custm'>Periodo
        <label class="chBox">
            <input type="checkbox" id="chkPeriodo" class="btn btn-primary" />
            <span class="y">Todos</span>
            <span class="n">Ninguno</span>
        </label>
    </legend>
    <div id="divPeriodo"></div>
</fieldset>
<fieldset class='fieldset-custm col-md-10 col-lg-10'>
    <legend class='legend-custm'>Almacén</legend>
    <div class="chartWrapper">
        <div class="chartAreaWrapper">
            <div class="chartAreaWrapper2">
                <canvas id="chAlmacen"></canvas>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm col-md-2 col-lg-2'>
    <legend class='legend-custm'>Proyecto
        <label class="chBox">
            <input type="checkbox" id="chkAlmacen" class="btn btn-primary" />
            <span class="y">Todos</span>
            <span class="n">Ninguno</span>
        </label>
    </legend>
    <div id="divAlmacen"></div>
</fieldset>
<p>Este indicador mide la disciplina que tiene un proyecto para la ejecución de las salidas diariamente. El objetivo de inicio estará fijado en un 90% para el cumplimiento de este indicador.</p>
<script src="~/Scripts/js/Enkontrol/Almacen/Valuacion/Salidas.js"></script>