@{
    ViewBag.Title = "ContestarEncuesta";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/starrr.css")">
<script src="@Url.Content("~/Scripts/starrr.js")" type="text/javascript"></script>
<script src="~/Scripts/js/Encuestas/ResponderSubContratista.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">Fecha evaluación:</span>
                    <input id="tbFechaEvaluacion" class="form-control" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">Nombre del Subcontratista:</span>
                    <input id="tbNombreSubContratista" class="form-control" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">No. de Contrato:</span>
                    <input id="tbNoContrato" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">Servicio Contratado:</span>
                    <input id="tbServicioContratado" class="form-control"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">Nombre del Proyecto:</span>
                    <input id="tbNombreProyecto" class="form-control" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">Evaluador:</span>
                    <input id="tbEvaluador" class="form-control" disabled />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row form-group hide">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Datos Generales de Encuesta:</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Titulo:</span>
                        <input id="txtTitulo" class="form-control" placeholder="Titulo" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Descripción:</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea id="txtDescripcion" class="form-control" placeholder="Descripción" disabled></textarea>
                </div>
            </div>
            <div class="row asunto" style="display:none;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Asunto de encuesta:</span>
                    </div>
                </div>
            </div>
            <div class="row asunto" style="display:none;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea id="txtAsunto" class="form-control" placeholder="Asunto" disabled></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm"><i class="fa fa-info-circle fa-lg text-primary btn" data-toggle='modal' data-target='#mdlInfoEstrella'></i>Encuesta:</legend>
            <div class="Preguntas"></div>
        </fieldset>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Agregar Comentario:</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">Comentario:</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea id="txtComentario" class="form-control" placeholder="Comentario"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button id="btnEnviar" class="btn btn-default pull-right">Enviar</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
@Html.Partial("_tarjetaEstrella")