.optionGroup_Selectable {
    font-weight: bold !important;
}

.normalOption {
    margin-left: 10px !important;
}

#tblDirDetalle.table.dataTable thead th {
    text-align: center !important;
}

[data-title] {
    outline: red dotted 1px;
    /*optional styling*/
    font-size: 30px;
    /*optional styling*/
    position: relative;
    cursor: help;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}

[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
}

/*** custom checkboxes ***/

input[type=checkbox] {
    position: relative;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type=checkbox][disabled] {
    opacity: 0.5;
}

input[type=checkbox][disabled]:hover {
    cursor: no-drop;
}

/* to hide the checkbox itself */

label>input[type=checkbox]:before {
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    letter-spacing: 10px;
    color: #d80e0e;
}

/* space between checkbox and label */

label>input[type=checkbox]:checked:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    letter-spacing: 2px;
    color: #209409;
}

label>input[type=checkbox]:before {
    content: "\f410";
    font-size: 1.7rem;
}

label>input[type=checkbox]:checked:before {
    content: "\f14a";
    font-size: 1.7rem;
}

label>#chbAcCc[type=checkbox]:before {
    color: #33aed3;
}

label>#chbAcCc[type=checkbox]:checked:before {
    color: #a8a621;
}

label>#chbAcCc[type=checkbox]:before {
    content: "\f664";
}

label>#chbAcCc[type=checkbox]:checked:before {
    content: "\f7d2";
}

#divTblDirecto {
    max-width: 99vw;
}

#chartDirecto {
    max-height: 93vh;
    max-width: 97vw;
    margin: 0 auto;
    top: 50%;
    margin-bottom: 0.4em;
}

#tblDirecto {
    max-width: 97vw;
}

#divTblDirecto fieldset {
    display: -webkit-inline-box;
    padding-left: 0;
}

#tblDirecto th, #tblDirecto td, #tblDirecto input {
    font-size: 0.9em;
    margin: .0em;
    padding: .0em;
    vertical-align: middle;
}

#tblDirecto input {
    height: 1.9em;
}

#tblDirecto thead th {
    text-align: center;
    background-color: #faf8f8;
    position: -webkit-sticky;
}

#tblDirecto tr thead {
    border: 1.9px solid #000000;
}

#tblDirecto thead th:first-child {
    left: 0;
    z-index: 1;
}

#tblDirecto tbody tr td:first-child {
    border: 1.9px solid #000000;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #faf8f8;
}

#tblDirecto tbody tr td:first-child {
    vertical-align: middle;
    background-color: #faf8f8;
}

#tblDirecto tbody td:not(:first-child) {
    border: 1.9px solid #000000;
    vertical-align: middle;
    max-width: 3.3em;
    text-align: right;
}

#tblDirecto tbody tr:nth-last-child(2) {
    border-top: .16em solid #000000;
}

#tblDirecto thead th {
    border: 1.9px solid #000000;
}

#tblDirecto tbody tr.InputEncabezado td input, #tblDirecto tbody tr.InputEncabezado td, #tblDirecto tbody tr.Encabezado td, #tblDirecto tbody tr.Suma td {
    font-weight: bold;
    background-color: #abc9e9;
}

#tblDirecto tbody tr:not(:nth-last-child(2)):not(:last-child) td:not(:nth-child(1)):hover {
    background-color: #eaf8cf;
    cursor: pointer;
}

#divProyCierre {
    max-height: 90vh;
    max-width: 99vw;
    padding-bottom: 3em;
}

#tblProyCierre {
    border-collapse: collapse;
    margin: 0;
}

#tblProyCierre th, #tblProyCierre td, #tblProyCierre input {
    font-size: 0.9em;
    margin: .0em;
    padding: .0em;
    vertical-align: middle;
}

#tblProyCierre input {
    height: 1.9em;
}

#tblProyCierre thead th {
    text-align: center;
    background-color: #faf8f8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#tblProyCierre tr thead {
    border: 1.9px solid #000000;
}

#tblProyCierre thead th:first-child {
    left: 0;
    z-index: 1;
}

#tblProyCierre tbody tr td:first-child {
    border: 1.9px solid #000000;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #faf8f8;
}

#tblProyCierre tbody tr td:first-child {
    vertical-align: middle;
    background-color: #faf8f8;
}

#tblProyCierre tbody td:not(:first-child) {
    border: 1.9px solid #000000;
    vertical-align: middle;
    min-width: 5em;
    text-align: right;
}

#tblProyCierre thead th {
    border: 1.9px solid #000000;
}

#tblProyCierre tbody tr.InputEncabezado td input, #tblProyCierre tbody tr.InputEncabezado td, #tblProyCierre tbody tr.Encabezado td, #tblProyCierre tbody tr.Suma td {
    font-weight: bold;
    background-color: #abc9e9;
}

#tblProyCierre tbody tr:not(:first-child):not(:last-child) td:not(:nth-child(1)):hover {
    background-color: #eaf8cf;
    cursor: pointer;
}

#mdlDirDetale .modal-dialog, #mdlDirDetale .modal-content {
    min-height: calc(80% - 150px);
    overflow: none;
    margin: 0 auto;
}

.detClick:hover {
    background-color: #eaf8cf;
    cursor: pointer;
}

.danger {
    color: #ff0000;
}

#selDirCC option.ccObraCerrada {
    color: black;
    background-color: #D7DBDD;
}

#selDirCC option {
    background-color: white;
}

#selDirCC option.ccVisto {
    background-color: #eaf8cf;
}

#selDirCC.ccVisto {
    background: #eaf8cf;
}

.input-group span+input {
    padding: .1em;
}

.viewPpal, .detalleInfo {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}