@model SIGOPLAN.Areas.Administrativo.Models.ViewModels.RecursosHumanos.FormatoCambiosViewModel
@{
    ViewBag.Title = "CapturaFormato";
    Layout = "~/Views/Shared/LayoutPage.cshtml";    
    var Base = new SIGOPLAN.Controllers.BaseController();
}
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
    <h2 class="text-center">Seguimiento de Cambios</h2>
    <fieldset class="fieldset-custm">
        <legend class="legend-custm">Filtros búsqueda:</legend>
                <div class='col-md-3 col-lg-3'>
                    <label>CC:</label>
                    <select id='txtCCFiltro' class='form-control'></select>
                </div>
                <div class="col-lg-2">
                    <label>Numero de Empleado:</label>
                    <input type="number" id="NumEmpleado" class="form-control no-padding" />
                </div>
                <div class="col-lg-2">
                    <label>Estado:</label>
                    <select id="chgEstado" class="form-control no-padding">
                        <option value="Pendiente">Pendientes</option>
                        <option value="Aprobado">Aprobado</option>
                        <option value="Rechazado">Rechazado</option>
                        <option value="Cancelado">Cancelado</option>
                        <option value="Todos">Todos</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label>Tipo:</label>
                    <select id="cboTipo" class="form-control no-padding">
                        <option value="">--Seleccionar--</option>
                        <option value="SEMANAL">Semana</option>
                        <option value="QUINCENAL">Quincena</option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <label> #</label>
                    <input type="text" id="txtNumero" class="form-control no-padding" disabled/>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-info margin-top" id="btnAplicarFiltros">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
    </fieldset>
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Resultados Búsqueda:</legend>
                    <table id="tblCambio" class="table table-condensed table-hover table-striped text-center">
                        <thead class="bg-table-header">
                            <th>Operación</th>
                            <th>Empleado</th>
                            <th>Nombre</th>
                            <th>Centro Costos</th>
                            <th>Puesto</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Autorizantes</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </thead>
                    </table>
            </fieldset>
    <label id="usrLog" hidden>@ViewBag.Permiso</label>
    <label id="verModal" hidden>@ViewBag.VerModal</label>
    <label id="verFormato" hidden>@ViewBag.VerFormato</label>
    @Html.Partial("_authPanel")
<div class="modal fade" id="modalAprobadores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label>Seguimiento de Autorizacion</label></h3>
                </div>
            </div>
            <div class="modal-body container-fluid">
                  
                <div id="tableAprobaciones">

                </div>

                <div class="row text-center form-group">
                    <h5>Capturo: <span style="font-weight:bold;" id="capUser"></span></h5>
                    <h5><span id="motivoRechazo"></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEliminar" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="titleModalDesfase">Eliminar formato</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>¿Seguro que desea eliminar el formato seleccionado?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnEliminar" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Continuar</a>
                <a data-dismiss="modal" id="btnCancelActivity" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Cerrar</a>
            </div>
        </div>
    </div>
</div>

<div style="z-index:9000;" class="modal fade" id="modalRechazo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">

                    <h3> Rechazo de Solicitud</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 form-group">
                        <label>Comentario:</label>
                        <textarea class="form-control" rows="3" id="txtAreaNota"></textarea>
                    </div>
                    <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
                        <button type="button" class="btn btn-primary pull-right" id="btnRechazoSave">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAutorizantes" role="dialog" style="z-index: 2051;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <div class="text-center">
                    <h3>AUTORIZANTES</h3>
                </div>
            </div>
            <div class="modal-body">
                <table id="tblAutorizantes" class="table display compact" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>

<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/FormatoCambio/CatFormatoCambioJS.js"></script>
