@{
ViewBag.Title = "CapHorasHombre";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row text-center">
        <h2>Registro de horas-hombre trabajadas</h2>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros:</legend>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>CC:</label>
                        <select class="form-control" id="cboCC"></select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Departamento:</label>
                        <select class="form-control" id="selectDepartamento">
                            <option value="">--Seleccione--</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <label>Fecha:</label>
                        <input type="text" id="txtFecha" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <label>Turno:</label>
                        <select class="form-control" id="cboTurno">
                            <option value="1">Turno 1</option>
                            <option value="2">Turno 2</option>
                            <option value="3">Turno 3</option>
                            <option value="4">Turno 4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Puesto:</label>
                        <select class="form-control" id="cboPuesto"></select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <label>Codigo de empleado:</label>
                        <input type="text" id="tbNumEmpleado" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label>Nombre del empleado:</label>
                        <input type="text" id="tbNombreEmpleado" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <button type="button" class="btn btn-success margin-top" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                        <button type="button" class="btn btn-primary pull-right margin-top" id="btnGuardar"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Captura:</legend>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-responsive" id="tblCapturaHorasHombre">
                        <thead class="bg-table-header text-center">
                            <tr>
                                <th rowspan="2" style="border-right: 1px solid;" class="text-center">Nombre</th>
                                <th colspan="2" style="border-right: 1px solid;" class="text-center">Trabajos en instalaciones</th>
                                <th colspan="2" style="border-right: 1px solid;" class="text-center">Limpieza</th>
                                <th colspan="2" style="border-right: 1px solid;" class="text-center">Cursos y Capacitaciones</th>
                                <th colspan="2" style="border-right: 1px solid;" class="text-center">Tiempo de descanso</th>
                                <th colspan="2" style="border-right: 1px solid;" class="text-center">Consulta de información</th>
                                <th colspan="2" style="border-right: 1px solid;" class="text-center">Monitoreo diario</th>
                                <th rowspan="2" style="border-left: 1px solid;" class="text-center">Total por empleado</th>
                            </tr>
                            <tr class="text-center">
                                <th class="text-center">Tiempo</th>
                                <th style="border-right: 1px solid;" class="text-center">Descripcion</th>
                                <th class="text-center">Tiempo</th>
                                <th style="border-right: 1px solid;" class="text-center">Descripcion</th>
                                <th class="text-center">Tiempo</th>
                                <th style="border-right: 1px solid;" class="text-center">Descripcion</th>
                                <th class="text-center"> Tiempo</th>
                                <th style="border-right: 1px solid;" class="text-center">Descripcion</th>
                                <th class="text-center">Tiempo</th>
                                <th style="border-right: 1px solid;" class="text-center">Descripcion</th>
                                <th class="text-center">Tiempo</th>
                                <th class="text-center">Descripcion</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/js/Maquinaria/Captura/OT/CapHorasHombre.js"></script>