<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/FlujoEfectivoArrendadora/_catConcepto.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>
        <label><input type='checkbox' id='chbDirActivo' checked='checked'> </label> Concepto
    </legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Grupo</span>
            <select id='selDirPadre' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-4 col-lg-4'>
        <div class='input-group'>
            <span class='input-group-addon'>Descripcion</span>
            <input type='text' id='txtDirDesc' class='form-control'>
            <span class='input-group-addon' style="width:0px;"></span>
            <select id='selDirCpto' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'>TM</button>
            </span>
            <select id='selDirTm' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <button id='btnDirGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
        <button id='btnDirLimpiar' type='button' class='btn btn-default'><i class='fa fa-brush'></i> Limpiar</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Conceptos</legend>
    <div class='table-responsive'>
        <table id='tblDirConcepto' class='table table-condensed'>
            <thead class='bg-table-header'>
                <th></th>
                <th>Concepto</th>
                <th>Tipo Movimiento</th>
                <th>Estado</th>
            </thead>
        </table>
    </div>
</fieldset>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/FlujoEfectivoArrendadora/_catConceptosDirecto.js"></script>