@{
var empresa = new SIGOPLAN.Controllers.BaseController().getEmpresaID();
}
<link href="~/Content/style/Datepicker/semana highlight.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/FlujoEfectivoArrendadora/_movPoliza.css" rel="stylesheet" />
@Html.Partial("_btnMpCorte")
<div id="divGuardarPoliza" class='col-md-2 col-lg-2'>
    <button id='btnMpGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
</div>
<fieldset id="divMpBuscar" class='fieldset-custm'>
    <legend class='legend-custm'><i class="fa fa-search"></i> Búsqueda</legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha</span>
            <input type="text" id='mpMpFecha' class='form-control periodo' readonly>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'>@(empresa == 2 ? "AC" : "CC")</button>
            </span>
            <select id='selMpCc' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'>TM</button>
            </span>
            <select id='selTMpTm' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button id='btnMpBuscar' type='button' class='btn btn-default'><i class='fa fa-search'></i> Búscar</button>
            </span>
            <select id='selMpTipoBusqueda' class='form-control'></select>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default' data-toggle='modal' data-target="#mdlConcepto"><i class="fas fa-network-wired"></i></button>
            </span>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><i class="fa fa-table"></i> Movimiento Pólizas</legend>
    @Html.Partial("_tblMpMovPol")
</fieldset>
<div id='mdlConcepto' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg   '>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Conceptos</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    @Html.Partial("_catConceptos")
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Administrativo/Contabilidad/FlujoEfectivoArrendadora/_movPoliza.js"></script>