@{
ViewBag.Title = "Reporte";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet' />
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/FlujoEfectivoArrendadora/Reporte.css" rel="stylesheet" />
<h2 class="text-center">Flujo de Efectivo Directo</h2>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Buscar</legend>
    <div class='col-xs-4 col-md-4 col-lg-4'>
        <div class='input-group'>
            <span class='input-group-addon'>Periodo</span>
            <input type="text" id='mpInicial' class='form-control periodo'>
            <span class='input-group-addon' style='padding:0px;'></span>
            <input type='text' id='mpFinal' class='form-control periodo'>
            <span class='input-group-addon' style='width:10px;'><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>CC</span>
            <select id='selCC' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <button id='btnBuscar' type='button' class='btn btn-primary'><i class='fa fa-search'></i> Búscar</button>
        <button id='btnExpor' type='button' class='btn btn-success btnExcel' disabled><i class='fa fa-table'></i> Reporte</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Auxiliar Contable</legend>
    <div id="flsTblAuxCont" class='table-responsive'>
        <table id='tblAuxCont' class='table table-fixed'>
            <thead>
                <th>DESCRIPCIÓN</th>
                <th>ACUMULADO</th>
                <th></th>
                <th></th>
                <th>MES</th>
                <th></th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
            </thead>
        </table>
    </div>
</fieldset>
<div id='mdlMovPoliza' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fas-dollar'></i>Polizas</h1>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    @Html.Partial("_tblMpMovPol")
                </div>
            </div>
            <div class='modal-footer'>
                <div class="col-md-1 col-lg-1">
                    <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
                </div>
                <div class='col-md-push-8 col-lg-push-8 col-md-3 col-lg-3'>
                    <div class='input-group'>
                        <span class='input-group-addon'>Total</span>
                        <input type='text' id='txtMovPolizaTotal' class='form-control text-right' disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/FlujoEfectivoArrendadora/FlujoEfectivo.js"></script>