@{
    ViewBag.Title = "CapturaFiniquito";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />

<script src="~/Scripts/js/Administrativo/RecursosHumanos/Finiquito/CapturaFiniquitoJS.js"></script>

<div class="container-fluid">

    <div class="row">
        <h1 class="text-center">Captura Finiquito</h1>
        <h2 class="text-center" id="hFolio"></h2>
    </div>

    <div id="divInfoUsuario" class="row" style="margin-bottom: 10px;">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Datos generales</legend>

                <div class="col-lg-3" style="padding-left: 0px;">
                    <label>Número de Empleado:</label>
                    <input type="number" class="form-control col-lg-3" id="txtIgNumeroEmpleado">
                </div>
                <div class="col-lg-3">
                    <label>Nombre de Empleado:</label>
                    <input type="text" class="form-control col-lg-3" id="lblIgNombre">
                </div>
                <div class="col-lg-2">
                    <label>Fecha Ingreso:</label>
                    <input type="text" class="form-control col-lg-3" id="lblIgIngreso" readonly />
                </div>
                <div class="col-lg-2" style="padding-right: 0px;">
                    <label>Fecha Egreso:</label>
                    <input type="text" class="form-control col-lg-3" id="inputFechaEgreso" />
                </div>
                <div class="col-lg-2" style="padding-right: 0px;">
                    <label>Años:</label>
                    <input type="text" class="form-control col-lg-3" id="lblIgTiempo" readonly />
                </div>
                <div class="col-lg-4" style="padding-left: 0px;">
                    <label>Sueldo Mensual:</label>
                    <input type="text" class="form-control col-lg-3" id="lblIgSueldoMensual" readonly />
                </div>
                <div class="col-lg-4">
                    <label>Puesto:</label>
                    <input type="text" class="form-control col-lg-3" id="lblIgPuesto" readonly />
                </div>
                <div class="col-lg-4" style="padding-right: 0px;">
                    <label>Centro de Costos:</label>
                    <input type="text" class="form-control col-lg-3" id="lblIgCentro" readonly />
                </div>

                @*<div class="col-md-6">
                        <table class=" table table-condensed table-hover table-striped text-center">
                            <tbody>
                                <tr>
                                    <td class="col-lg-3">Numero de Empleado:</td>
                                    <td>
                                        <div class="col-lg-3">
                                            <input type="number" class="form-control col-lg-3" id="txtIgNumeroEmpleado">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-3">Nombre Empleado:</td>
                                    <td>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control col-lg-3" id="lblIgNombre">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-3">Fecha de Ingreso:</td>
                                    <td><label class="col-lg-12" id="lblIgIngreso"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-lg-3">Fecha de Egreso:</td>
                                    <td><label class="col-lg-12" id="lblIgEgreso"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-lg-3">Puesto:</td>
                                    <td><label class="col-lg-12" id="lblIgPuesto"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-lg-3">Centro de Costo:</td>
                                    <td><label class="col-lg-12" id="lblIgCentro"></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class=" table table-condensed table-hover table-striped text-center">
                            <thead class="bg-table-header">
                                <tr>
                                    <th></th>
                                    <th class="text-center"><label id="lblTblIgNomina">Nomina</label></th>
                                    <th class="text-center"><label>Mensual</label></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Sueldo base:</td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgSueldoNomina"></label></td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgSueldoMensual"></label></td>
                                </tr>
                                <tr>
                                    <td>Complemento:</td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgComplementoNomina"></label></td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgComplementoMensual"></label></td>
                                </tr>
                                <tr>
                                    <td>Bono:</td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgBonoNomina"></label></td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgBonoMensual"></label></td>
                                </tr>
                                <tr>
                                    <td>Total nómina:</td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgTotalNomina"></label></td>
                                    <td class="text-center"><label class="col-lg-12" id="lblIgTotalMensual"></label></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>*@
            </fieldset>
        </div>
    </div>

    <div id="divDetalleFiniquito" class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm"></legend>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" padding-left: 0px; padding-right: 0px;">
                    <div id="divTabla" class="table-responsive" style="border: hidden; overflow: hidden; -webkit-print-color-adjust: exact !important; margin-top: 10px;">
                        <table id="tblData" class="table  text-center">
                            <thead class="bg-table-header">
                                <tr>
                                    @*<th data-column-id="Eliminar" data-formatter="Eliminar" data-header-align="center" class="text-center col-lg-1"></th>*@
                                    <th data-column-id="Concepto" data-formatter="Concepto" data-header-align="center" class="text-center col-lg-4">Concepto</th>
                                    <th data-column-id="Detalle" data-formatter="Detalle" data-header-align="center" class="text-center col-lg-5">@*Detalle*@</th>
                                    <th data-column-id="Resultado" data-formatter="Resultado" data-header-align="center" class="text-center col-lg-2">Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                        <td>
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control col-lg-3" id="" value="AGUINALDO" style="border: none; box-shadow: none; background-color: white;" readonly />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-lg-12 text-right">
                                                <input type="text" class="form-control text-center inputTablaFiniquito" id="" readonly /> x
                                                <input type="text" class="form-control text-center inputTablaFiniquito" id="" readonly /> =
                                                <input type="text" class="form-control text-center inputTablaFiniquito" id="" readonly /> x
                                                <input type="text" class="form-control text-right inputTablaFiniquito" id="" readonly /> =
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control text-right inputTablaFiniquito" id="" readonly />
                                            </div>
                                        </td>
                                    </tr>*@
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="border: none;">
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control col-lg-3" id="" value="" style="border: none; box-shadow: none; background-color: white;" readonly />
                                        </div>
                                    </td>
                                    <td class="text-right" style="border: none; font-weight: bold;">
                                        <label style="margin-top: 5px;">TOTAL =</label>
                                    </td>
                                    <td style="border: none;">
                                        <div class="col-lg-12">
                                            <input type="text" id="inputTotalFiniquito" class="form-control text-right" value="$0.00" style="border: none; border-top: 1px solid black; border-radius: 0px; border-bottom: double; box-shadow: none; background-color: white; font-weight: bold;" readonly />
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="" id="botonera1">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 0px;">
                                <button class="btn-success btn-xs form-control" id="btnAddRenglon">
                                    <span class="glyphicon glyphicon-plus"></span> Agregar Concepto
                                </button>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <button class="btn-danger btn-xs form-control" id="btnMinusRenglon">
                                    <span class="glyphicon glyphicon-minus"></span> Quitar Concepto
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="divAutorizaciones" class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Autorizaciones</legend>
                <div class="col-md-12 text-left" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-md-4" style="padding-left: 0px;">
                        <label for="comboFormulo">FORMULO</label>
                        <input id="comboFormulo" class="form-control" type="text" readonly />
                        <input id="comboFormuloPuesto" class="form-control text-center" type="text" readonly style="border: none; box-shadow: none; background-color: white;" />
                    </div>
                    <div class="col-md-4">
                        <label>Vo.Bo.</label>
                        <input id="comboVobo" class="form-control" type="text" />
                        @*<select id="comboVobo" class="form-control"></select>*@
                        <input id="comboVoboPuesto" class="form-control text-center" type="text" readonly style="border: none; box-shadow: none; background-color: white;" />
                    </div>
                    <div class="col-md-4" style="padding-right: 0px;">
                        <label>AUTORIZO</label>
                        <input id="comboAutorizo" class="form-control" type="text" />
                        <input id="comboAutorizoPuesto" class="form-control text-center" type="text" readonly style="border: none; box-shadow: none; background-color: white;" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="divAcciones" class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Acciones</legend>
                <div class="col-md-12 text-right" style="padding-left: 0px; padding-right: 0px;">
                    <button class="btn btn-default" id="btnGuardarFiniquito">Guardar</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)