@{
    ViewBag.Title = "ConceptosFiniquito";
    Layout = "~/Views/Shared/LayoutPageext.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Finiquito/ConceptosFiniquitoJS.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Conceptos Finiquito</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-lg-3">
            <label> Concepto</label>
            <input type="text" id="txtConcepto" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label> Detalle</label>
            <input type="text" id="txtDetalle" class="form-control" />
        </div>
        <div class="col-lg-2">
            <label> Operador</label>
            <select id="txtOperador" class="form-control"></select>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success margin-top" id="btnNuevoConcepto">
                <span class="glyphicon glyphicon-plus"></span> Guardar
            </button>
        </div>  
    </div>
</div>

<div class="contenedor mt20">
    <div class="row">
        <div class="col-sm-12">
            <table id="tblDataFiniquitosConceptos" style="width: 100%;">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="dialogEditarConcepto" title="Editar Concepto" style="display: none;">
    <fieldset id="fieldEditConcepto" style="border:none;">
        <div class="col-lg-12" style="margin-bottom: 5px;">
            <div class="col-lg-12">
                <label> Concepto</label>
                <input type="text" id="txtEditConcepto" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label> Detalle</label>
                <input type="text" id="txtEditDetalle" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label> Operador</label>
                <select type="text" id="txtEditOperador" class="form-control"></select>
            </div>
        </div>
    </fieldset>
</div>

<div id="dialogEliminarConcepto" title="Eliminar Concepto" style="display: none;">
    <fieldset id="fieldEditConcepto" style="border:none;">
        <div class="col-lg-12" style="margin-bottom: 5px;">
            <div class="col-lg-12">
                <label> Concepto</label>
                <input type="text" id="txtElimConcepto" class="form-control" style="box-shadow: none; background-color: white !important; border-radius: 0px;" readonly />
            </div>
            <div class="col-lg-12">
                <label> Detalle</label>
                <input type="text" id="txtElimDetalle" class="form-control" style="box-shadow: none; background-color: white !important; border-radius: 0px;" readonly />
            </div>
            <div class="col-lg-12">
                <label> Operador</label>
                <select type="text" id="txtElimOperador" class="form-control" style="box-shadow: none; background-color: white !important; border-radius: 0px;" disabled></select>
            </div>
        </div>
    </fieldset>
</div>