@{
    ViewBag.Title = "Tipo Maquinaria";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<script src="~/Scripts/js/Maquinaria/Catalogo/TipoMaquinaria.js"></script>

<div class="row">
    <h2 class="text-center">Catálogo Tipo de Maquinaria</h2>
</div>
<div class="row form-group">
    <div class="col-lg-10">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm">Filtros:</legend>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <label>Descripción:</label>
                <input class="form-control" id="txtDescripcion" type="text" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label>Estatus:</label>
                <select class="form-control" id="cboEstatusMaquinaria">
                    <option value="1">ACTIVO</option>
                    <option value="0">INACTIVO</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <button type="button" class="btn btn-info margin-top" id="btnBuscar_TipoMaquinaria">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </fieldset>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Tipo Maquinaria:</legend>
            <button type="button" class="btn btn-success margin-top" id="btnNuevo_TipoMaquinaria">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </button>
        </fieldset>
    </div>

</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados Búsqueda:</legend>
            <table id="grid_TipoMaquinaria" class="table table-condensed table-hover table-striped text-center">
                <thead class="bg-table-header">
                    <tr>
                        <th data-column-id="update" data-formatter="update" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Modificar</th>
                        <th data-column-id="delete" data-formatter="delete" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Deshabilitar</th>
                        @* <th data-column-id="id" data-align="center" data-header-align="center" data-sortable="false">Id</th>*@
                        <th data-column-id="descripcion" data-align="center" data-header-align="center">Descripción</th>
                        <th data-column-id="estatus" data-align="center" data-header-align="center">Estatus</th>
                    </tr>
                </thead>

            </table>

        </fieldset>
    </div>
</div>


<div class="modal fade" id="modalAltaTipoMaquinaria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="title-modal"></label></h3>
                </div>
            </div>
            <div class="modal-body text-center modal-content-tamaño">
                <div class="container-fluid">


                    <form id="frmTipoMaquinaria">
                        <div class="row">
                            <fieldset class="fieldset-custm">
                                <legend class="legend-custm">Datos tipo de Maquinaria:</legend>
                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 form-group text-left">
                                    <label>Descripción:</label>
                                    <input class="form-control" type="text" id="txtModaldescripcion" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 form-group text-left">
                                    <label>Estatus:</label>
                                    <select class="form-control" id="cboModalEstatusMaquinaria">
                                        <option value="1">ACTIVO</option>
                                        <option value="0">INACTIVO</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <button type="button" class="btn btn-primary margin-top modal-margin-rigth pull-right" id="btnModalGuardar_TipoMaquinaria">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default margin-top modal-margin-rigth pull-right" id="btnModalCancelar_TipoMaquinaria" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

