/*MODAL*/
.modal-lg {
        width: 95% !important;
    }

/*Titulo*/
.titulo h4, h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Datepicker*/
.month_year_datepicker .ui-datepicker-calendar {
    display: none;
}

/*Tabla balance*/
/*#tblBalance tbody tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}*/

#tblBalance thead tr,
#tablaBanco thead tr,
#tablaBanco_wrapper thead tr,
#tablaCuenta thead tr,
#tablaObra thead tr,
#tablaObra_wrapper thead tr,
#tablaParteRelacionada thead tr,
#tablaAlmacen thead tr,
#tablaInversion thead tr,
#tablaDocumento thead tr,
#tablaDocumentoPuras thead tr {
    color: white;
    background: linear-gradient(to bottom, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%) !important;
}

#tablaBanco thead tr:nth-child(2) th,
#tablaBanco_wrapper thead tr:nth-child(2) th,
#tablaCuenta thead tr:nth-child(2) th,
#tablaObra thead tr:nth-child(2) th,
#tablaParteRelacionada thead tr:nth-child(2) th,
#tablaAlmacen thead tr:nth-child(2) th,
#tablaInversion thead tr:nth-child(2) th,
#tablaDocumento thead tr:nth-child(2) th,
#tablaDocumentoPuras thead tr:nth-child(2) th {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: none;
    border-bottom: none;
}

#tablaBanco thead tr:nth-child(1) th,
#tablaBanco_wrapper thead tr:nth-child(1) th,
#tablaCuenta thead tr:nth-child(1) th,
#tablaObra thead tr:nth-child(1) th,
#tablaParteRelacionada thead tr:nth-child(1) th,
#tablaAlmacen thead tr:nth-child(1) th,
#tablaInversion thead tr:nth-child(1) th,
#tablaDocumento thead tr:nth-child(1) th,
#tablaDocumentoPuras thead tr:nth-child(1) th {
    border-bottom: none;
}

table p {
    margin: 0 0 0px !important;
}