thead, tbody {
    display: block;
}

tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

#infoMaquina tbody {
    height: 220px;
}

#tblResumenObra tbody {
    height: 300px;
}

.acomulado {
    background: #ffff00;
}

.actual {
    background: #ffae00;
}

.textoLimite label {
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
    text-overflow: ellipsis;
}

.fieldset-custm {
    display: block;
}

.col-lg-3 {
    width: 20%;
}
