#tablaBalanza thead tr,
#tablaEstadoResultados thead tr,
#tablaIngreso thead tr,
#tablaCosto thead tr,
#tablaGasto thead tr {
    color: white;
    /*background: linear-gradient(40deg, #45cafc, #303f9f) !important;*/
    background: linear-gradient(to bottom, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%) !important;
}

#tablaBalanza_wrapper .dataTables_scrollHead thead tr,
#tablaEstadoResultados_wrapper .dataTables_scrollHead thead tr {
    color: white;
    /*background: linear-gradient(40deg, #45cafc, #303f9f) !important;*/
    background: linear-gradient(to bottom, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%)!important;
}

.mrgTop {
    margin-top: 5px;
}

.month_year_datepicker .ui-datepicker-calendar {
    display: none;
}

#tablaBalanza_wrapper,
#tablaIngreso_wrapper,
#tablaCosto_wrapper,
#tablaGasto_wrapper,
#tablaEstadoResultados_wrapper {
    font-size: 12px;
    vertical-align: middle !important;
}

#tablaIngreso_wrapper thead tr:nth-child(1) th,
#tablaCosto_wrapper thead tr:nth-child(1) th,
#tablaGasto_wrapper thead tr:nth-child(1) th,
#tablaEstadoResultados_wrapper thead tr:nth-child(1) th {
    border-bottom: none;
    padding-right: 4px;
}

#tablaEstadoResultados_wrapper thead tr:nth-child(2) th {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: none;
}

#tablaBalanza_wrapper thead tr th ,
#tablaIngreso_wrapper thead tr th ,
#tablaCosto_wrapper thead tr th ,
#tablaGasto_wrapper thead tr th ,
#tablaEstadoResultados_wrapper thead tr th {
    vertical-align: middle;
}