table {
    width: 100%;
}

thead, tbody, tr, td, th {
    display: block;
}

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    thead th {
        height: 30px;
        /*text-align: left;*/
    }

tbody {
    height: 300px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


    tbody td, thead th {
        width: 20%;
        float: left;
    }
    table td {
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
}
.bg-table-header {
     border: 0px; 
}
