th, td {
    white-space: nowrap;
    /*background-color: white;*/
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

/*th {
    background-color: yellow;
}*/

th:first-child {
    /*background-color: white;*/
    border: 1px solid;
}

table td {
    border-left: none;
    border-right: none;
}

.ui-datepicker-calendar, .ui-datepicker-month, .ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

.amarillo {
    background-color: yellow;
}

.crema {
    background-color: #F9F57A;
}

.aqua {
    background-color: #42CAC1;
}

.verde {
    background-color: #9FD175;
}

.dorado {
    background-color: #F0C637;
}

.borde4 {
    border: 1px solid black !important;
}
