.mrgTop {
    margin-top: 5px;
}

.mrgBottom {
    margin-bottom: 5px;
}

.noPadLeft {
    padding-left: 0px;
}

.noPadRight {
    padding-right: 0px;
}

.inputMayor70 {
    width: 70%;
    display: table-cell;
    text-align: right;
}

.inputWidth25 {
    width: 25%;
    display: table-cell;
}

.inputWidth70 {
    width: 70%;
    display: table-cell;
}

.inputWidth60 {
    width: 60%;
    display: table-cell;
}

.inputFecha70 {
    width: 70%;
    display: table-cell;
    text-align: center;
}

.inputMenor25 {
    width: 25%;
    display: table-cell;
    text-align: right;
}

.requisicionSeleccionada,
.partidaSeleccionada {
    background: #3276b1 !important;
    color: #fff;
}

/* Tooltip JQuery con estilo copiado de Bootstrap Tooltip*/
.ui-tooltip,
.arrow:after {
    background: black;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-tooltip {
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
    box-shadow: 0 0 3px black;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 55%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/*Fin Estilo Tooltip JQuery*/

#tblRequisiciones tbody td,
#tblPartidas tbody td {
    border: 1px solid black;
}

#tblRequisiciones td,
#tblRequisiciones th {
    font-size: 12px !important;
}

#tblRequisiciones td {
    cursor: pointer;
}

#tblPartidas,
.dataTables_scroll #tblPartidas {
    font-size: 11px;
}

#tblPartidas input,
#tblPartidasEditar input {
    font-size: 11px;
    height: 22px;
}

#tblPartidas tbody .input-group .input-group-addon {
    font-size: 11px;
    padding: 3px 6px;
}

#divPanelDerecho input {
    font-size: 11px;
}