.mrgTop {
    margin-top: 5px;
}

.mrgBottom {
    margin-bottom: 5px;
}

.noPadLeft {
    padding-left: 0px;
}

.noPadRight {
    padding-right: 0px;
}

.input-group-addon,
#panelIzquierdo select,
#panelIzquierdo input,
#panelDerecho select,
#panelDerecho input {
    border-radius: 0px;
}

#fieldTablaPartidas .ui-widget-header {
    background-color: #007bff;
    color: #fff;
}

#tblPartidas_wrapper,
#tblPartidasEditar_wrapper,
#tblPagos_wrapper,
#tblRetenciones_wrapper {
    border: 1px solid black;
}

#tblPartidas_wrapper thead>tr>th,
#tblPartidasEditar_wrapper thead>tr>th,
#tblPagos_wrapper thead>tr>th,
#tblRetenciones_wrapper thead>tr>th {
    background-color: #007bff;
    color: #fff;
}

#fieldTablaPartidas .dataTables_wrapper .ui-corner-tl,
#mdlPagos .dataTables_wrapper .ui-corner-tl,
#mdlRetenciones .dataTables_wrapper .ui-corner-tl {
    display: none;
}

#tblPartidas_wrapper .ui-widget-header,
#tblPartidasEditar_wrapper .ui-widget-header,
#tblPagos_wrapper .ui-widget-header,
#tblRetenciones_wrapper .ui-widget-header {
    background-color: #007bff;
    color: #fff;
}

#tblPartidas_wrapper .ui-corner-tl,
#tblPartidasEditar_wrapper .ui-corner-tl,
#tblPagos_wrapper .ui-corner-tl,
#tblRetenciones_wrapper .ui-corner-tl {
    display: none;
}

#tblPartidas tbody>tr td,
#tblPartidasEditar tbody>tr td,
#tblPagos tbody>tr td,
#tblRetenciones tbody>tr td {
    cursor: pointer;
}

#tblPartidas,
#tblPartidas thead th,
#tblPartidasEditar,
#tblPartidasEditar thead th,
#tblPagos,
#tblPagos thead th,
#tblRetenciones,
#tblRetenciones thead th {
    text-align: center;
}

.input-group-addon {
    min-width: 110px;
}

tbody>tr.active>td {
    background: #5093ce !important;
    color: #fff;
}

#tblPartidas,
#tblPartidas thead th,
#tblPartidas input,
#tblPartidas select {
    font-size: 11px;
}

#tblPartidas input,
#tblPartidas select,
#tblPartidasEditar input,
#tblPartidasEditar select {
    height: 25px;
}