tbody>tr.active>td {
	background: #3276b1 !important;
	color: #fff;
}

tbody>tr.partidaBloqueada>td {
	background-color: #eee !important;
	color: #000 !important;
}

.scrollbox {
	overflow-y: auto;
	max-height: calc(100vh - 150px);
}

.flotante {
	position: absolute;
	top: 70px;
}

#btnGuardar {
	right: 10px;
}

.noPadLeft {
	padding-left: 0px;
}

.noPadRight {
	padding-right: 0px;
}

.marginTop5 {
	margin-top: 5px;
}

.marginBottom5 {
	margin-bottom: 5px;
}

.radioBtn .active {
	color: #fff;
	background-color: #3276b1;
}

.radioBtn .notActive {
	color: #3276b1;
	background-color: #fff;
}

.campoInvalido,
.campoInvalido:focus {
	border-color: rgba(253, 0, 0, 0.4);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 0, 0, 0.4);
	background-color: rgb(255, 227, 224);
}

/* Estilo CheckBox */
label {
	display: inline;
}

.regular-checkbox,
.regular-checkboxdanger {
	display: none;
}

.regular-checkbox+label,
.regular-checkboxdanger+label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 11px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	height: 25px;
	width: 25px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.regular-checkbox+label:active,
.regular-checkbox:checked+label:active,
.regular-checkboxdanger+label:active,
.regular-checkboxdanger:checked * label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked+label {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.regular-checkboxdanger:checked+label {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.regular-checkbox:checked+label:after {
	content: '\2714';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #fff;
}

.regular-checkboxdanger:checked+label:after {
	content: '\2716';
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #fff;
}

.big-checkbox+label {
	padding: 18px;
}

.big-checkbox:checked+label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* Fin Estilo CheckBox */

th {
	font-size: 12px;
}

#tblPartidas td,
#tblPartidas td>input,
#tblPartidas td>select,
#tblPartidasEditar td,
#tblPartidasEditar td>input,
#tblPartidasEditar td>select {
	font-size: 11px;
}

#tblPartidasCuadro,
#tblPartidasCuadro input,
#tblPartidasCuadro label {
	font-size: 11px;
}

#tblPartidasCuadro tbody label {
	min-width: 0px;
}

#selectMoneda {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

#tblPartidas tbody .renglonInsumoBloqueado td,
#tblPartidasEditar tbody .renglonInsumoBloqueado td {
	background-color: #F78181 !important;
	color: #fff;
}

#tblCatalogoRetenciones {
	font-size: 11px;
}