.mrgTop {
    margin-top: 5px;
}

.mrgBottom {
    margin-bottom: 5px;
}

/* Tooltip JQuery con estilo copiado de Bootstrap Tooltip*/
.ui-tooltip, .arrow:after {
    background: black;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-tooltip {
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
    box-shadow: 0 0 3px black;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 55%;
    margin-left: -35px;
    bottom: -16px;
}

    .arrow.top {
        top: -16px;
        bottom: auto;
    }

    .arrow.left {
        left: 20%;
    }

    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }
/*Fin Estilo Tooltip JQuery*/

/* DISEÑO SELECT2 */
.select2-container {
    min-width: 100% !important;
    width: 100% !important;
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    /*border-radius: 0px 4px 4px 0px!important;*/
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}
/* END: DISEÑO SELECT2 */