
@{
    ViewBag.Title = "Avance";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<h1 class="text-center">Avance</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Archivo</legend>
    <div class="col-md-1 col-lg-1">
        <button id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#mdlArchivos"><i class="fa fa-history"></i> Histórico</button>
    </div>
    <div class="col-md-2 col-lg-2">
        <div class="input-group">
            <span class="input-group-addon">Mes</span>
            <input type="text" id="mpBusqMes" class="form-control"/>
        </div>        
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divtblAvance">
        @*@Html.Partial("_tblMaq")*@
    </div>
</fieldset>
<div class="modal fade" id="mdlArchivos" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Lista de Archivos</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_tblArchivos")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-5 col-lg-5">
                    <input type="file" id="fupAdjunto2" multiple>
                </div>
                <div class="col-md-3 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Mes</span>
                        <input type="text" id="mpMdlMes" class="form-control" />
                    </div>
                </div>
                <button type="button" id="btnSubirF" class="btn btn-primary"><i class="fa fa-upload"></i> Subir</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

