
@{
    ViewBag.Title = "CapturaMaq";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/Kubrix/BaseDatos/CapturaMaq.js"></script>

<div class="container-fluid">

    <div class="row">
        <h2 class="text-center">Captura Maquinaria Kubrix</h2>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros:</legend>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-lg-3" style="padding-left: 0px;">
                            <div class="col-lg-3">
                                <label> CC</label>
                                <input type="text" id="txtCCFiltro" class="form-control" />
                            </div>
                            <div class="col-lg-9">
                                <label> Nombre</label>
                                <input type="text" id="txtNombreCC" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="col-lg-6">
                                <label for="fechaIni">Fecha Inicio:</label>
                                <input type="text" id="fechaIni" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label for="fechaFin">Fecha Fin:</label>
                                <input type="text" id="fechaFin" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-info margin-top" id="btnAplicarFiltros">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divMaqKubrix">
            <fieldset id="fieldTablaMaqKubrix" style="border: 1px solid black;">
                <div class="container-fluid">
                    <div class="row" id="rowTabla">
                        <div class="widget">
                            <div class="widget-header"></div>
                            <div class="widget-content">
                                @*<table id="tblDataMaqKubrix" style="width: 100%;">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>*@
                                <div class="table-responsive">
                                    <table id="tblDataMaqKubrix" class="table table-condensed table-hover text-center" style="margin-bottom: 0px;">
                                        <thead class="bg-table-header">
                                            <tr>
                                                <th>Sem</th>
                                                <th>CC Obra</th>
                                                <th>Fecha</th>
                                                <th>Económico</th>
                                                <th>Turno</th>
                                                <th>Horometro inicial</th>
                                                <th>Horometro final</th>
                                                <th>PARO POR CLIMA</th>
                                                <th>HRS. MTTO</th>
                                                <th>Hrs Trab.</th>
                                                <th>Hrs. Prog.</th>
                                                <th>Hrs. Efectivas</th>
                                                <th>Eficiencia</th>
                                                <th>CONSUMO</th>
                                                <th>GRUPO EQUIPO</th>
                                                <th>REND. TEORICO</th>
                                                <th>REND. REAL</th>
                                                <th>% REND.</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="divAcciones" class="row" style="margin-bottom: 10px;">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Acciones</legend>
                <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                    <button class="btn btn-default" id="btnCapturarMaq">Capturar</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>