@{
    ViewBag.Title = "Vencimiento";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<h1 class="text-center">Centro Costos x Proveedor</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divtblCxp">
        @Html.Partial("_tblCxp")
    </div>
</fieldset>
