
@{
    ViewBag.Title = "CXPDetalle";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    Session["cc"] = "001";
}
<h1 class="text-center">Centro Costos x Proveedor Detalle</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Obra</legend>
    <div class="col-md-3 col-lg-3">
        <label>Centro costos</label>
        <select id="selCC" type="text" class="form-control"></select>
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divtblCxp">
        @Html.Partial("_tblCxpDet")
    </div>
</fieldset>