
@{
    ViewBag.Title = "Maq";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    Session["fechaInicio"] = DateTime.Now;
    Session["fechaFin"] = DateTime.Now.AddDays(-7);
}
<h1 class="text-center">Maquinaria</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divtblMaq">
        @Html.Partial("_tblMaq")
    </div>
</fieldset>