
@{
    ViewBag.Title = "Saldos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var anio = DateTime.Now.Year;
    Session["anio"] = DateTime.Now.Year;
    Session["cc"] = "001";
}
<h1 class="text-center">Saldos</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Búsqueda</legend>
    <div class="col-md-2 col-lg-2">
        <label>Año</label>
        <select id="selAnio" type="text" class="form-control"></select>
    </div>
    <div class="col-md-3 col-lg-3">
        <label>Centro costos</label>
        <select id="selCC" type="text" class="form-control"></select>
    </div>    
    <div class=" col-md-2 col-lg-2 margin-top">
        <button id="btnBuscar" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divTblSaldos">
        @Html.Partial("_tblSaldos")
    </div>
</fieldset>
<script src="~/Scripts/js/Kubrix/BaseDatos/Saldos.js"></script>