
@{
    ViewBag.Title = "Vencimiento";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<h1 class="text-center">Vencimientos</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Resultado</legend>
    <div id="divTblVencimiento">
        @Html.Partial("_tblVencimiento")
    </div>
</fieldset>
<script src="~/Scripts/js/Kubrix/BaseDatos/Vencimiento.js"></script>