
@{
    ViewBag.Title = "ErrorDescarga";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="row text-center margin-top">
    <h2>Ocurrió un error al descargar su archivo <i class="fas fa-exclamation-triangle"></i></h2>
     <h4>Por favor contacte al departamento de Tecnologías de la Información si el problema persiste.</h4>
</div>