#calendar {
  width: 95%;
  font-family: "Open Sans", sans-serif !important;
  margin: 0 auto;
}

#header {
  width: 95%;
  margin: 0 auto;
}

.fc-event-title,
.fc-title,
.mayus {
  text-transform: capitalize;
  word-wrap: break-word;
}

.fc-content span {
  display: block;
  line-height: 1.5;
}

.fc-content .fc-time {
  font-size: 1em;
}

.fc-content .fc-cell-description {
  text-align: center;
}

.fc-event:hover .fc-content .fc-time {
  color: #000000;
}

.fc-event:hover .fc-content .fc-title {
  color: #000000;
  font-weight: bold;
}

.fc-time-area .fc-rows td>div {
  background-color: #e7f4f2;
  min-height: 60px;
}

.fc-time-area .fc-rows td>div .fc-event-container {
  min-height: 60px;
}

.fc-event[href],
.fc-event.fc-draggable {
  cursor: move;
}

.fc-time-area.fc-widget-header .fc-cell-content {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.fc-time-area.fc-widget-header .fc-cell-text {
  padding-left: 0;
  padding-right: 0;
  background-color: #888888;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.65;
}

.fc-time-area .fc-scroller-canvas {
  background: #e7f4f2;
}

.fc-time-area .fc-scroller-canvas .fc-widget-content {
  border-bottom-color: white;
}

.fc-toolbar h2 {
  display: inline-block;
}

.fc-resource-area .fc-widget-content>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

td.fc-day.fc-past {
  background-color: #dadada;
}

.fc-agendaWeek-view>table {
  min-width: 100%;
  width: 2000px;
  word-wrap: break-word;
}

.fc-agendaDay-view>table {
  min-width: 100%;
  word-wrap: break-word;
}

@media (min-width: 1170px) {
  div.fc-view.fc-agendaWeek-view.fc-agenda-view table {
    max-width: 100%;
  }
}

@media (max-width: 1170px) {
  div.fc-view-container {
    overflow-x: scroll;
  }

  div.fc-view.fc-agendaWeek-view.fc-agenda-view table {
    min-width: 1170px;
  }
}

.tooltipevent {
  width: 140px;
  height: ´auto´;
  background: #e7f4f2;
  position: absolute;
  z-index: 10001;
  text-align: center;
  word-wrap: break-word;
  border-radius: 7px;
}

td.fc-today {
  background: #daa26244 !important;
  border: none !important;
}

.col-form-label {
  text-align: right;
}

.popover-title {
  text-align: center;
  font-weight: bold;
  white-space: pre-line;
}

p {
  font-size: small;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}