.mrgTop {
    margin-top: 5px;
}

.sorting,
.sorting_asc,
.sorting_desc {
    background: none !important;
}

#tablaControlPresupuestal_wrapper .dataTables_scrollHead thead th {
    padding: 4px 11px 4px 10px !important;
}

#tablaControlPresupuestal_wrapper .dataTables_scrollHead thead th,
#tablaControlPresupuestal_wrapper .dataTables_scrollBody tbody td,
#tablaDetalleAgrupado thead th,
#tablaDetalleAgrupado tbody td,
#tablaDetalleMovimientos thead th,
#tablaDetalleMovimientos tbody td {
    font-size: 12px !important;
}

#tablaControlPresupuestal_wrapper .dataTables_scrollHead thead tr,
#tablaDetalleAgrupado thead tr,
#tablaDetalleMovimientos thead tr {
    color: white;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

#tblDetalleA_wrapper .dataTables_scrollHead thead tr
{
    color: white;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.select2-selection {
    height: 34px !important;
}

.select2-selection__rendered {
    margin-top: 2px;
}

.select2-selection__arrow {
    margin-top: 3px;
}

.buttons-excel {
    float: right !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dt-buttons {
    display: inline;
    width: 100%;
}

#tablaEmpresaDivision_wrapper thead tr th,
#tablaEmpresaDivision_wrapper tbody tr td,
#tablaProyecto_wrapper thead tr th,
#tablaProyecto_wrapper  tbody tr td,
#tablaModelo_wrapper thead tr th,
#tablaModelo_wrapper  tbody tr td,
#tablaConcepto_wrapper thead tr th,
#tablaConcepto_wrapper  tbody tr td {
    font-size: 12px;
}
