#modalActoCondicion .modal-body {
        max-height: calc(100vh - 262px);
        overflow-y: auto;
}

/*BOOTSTRAP*/
.margin-bottom {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .checkboxMovil {
        margin-left: 20px !important;
    }
    .checkboxMovil input {
        margin-top: -4px !important;
        margin-left: -40px !important;
    }

    #btnCancelarFirma {
        left: 35% !important;
    }
    #btnGuardarFirma {
        left: 61% !important;
    }
    #claveDelQueFirma {
        width: 17% !important;
    }
    #nombreDelQueFirma {
        left: 5% !important;
        top: 10% !important;
        width: 90% !important;
    }
}
@media (min-width: 768px) and (max-width: 1359px) {
    #btnCancelarFirma {
        left: 64% !important;
    }
    #btnGuardarFirma {
        left: 78% !important;
    }
}

@media (max-height: 375px) {
    #btnCancelarFirma, #btnGuardarFirma {
        top: 87% !important;
    }
}
/***************/

/***TABLA***/
#botonAgregar, #botonCargaZip, #botonDescargarReporteExcel {
    margin-top: 10px;
}

.actoCondicionVencido {
    background-color: #b51a1a !important;
    color: white;
}
/***********/

/*AGREGAR/MODIFICAR ACTO / CONDICION*/
.btnGroup2 {
    width: 100%;
}
.btnGroup2 a {
    width: 50%;
}

#checkboxExterno {
    box-shadow: none;
    margin-top: 0px;
    width: 34px;
}
/************************************/

/*SELECT2 para que tenga un estilo similar a los form-control*/
.select2-container {
    min-width: 100% !important;
    width: 100% !important;
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    /*border-radius: 0px 4px 4px 0px!important;*/
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}
/*************************************************************/

/*FIRMAS*/
#canvasFirma {
    border: 1px solid black;
}
/********/

/*CANVAS FULL*/
#divFirmaFull {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1051; /*1 arriba de los modales de bootstrap*/
}

#btnGuardarFirma {
    position: absolute;
    left: 88%;
    top: 92%;
    z-index: 1051;
}
#btnCancelarFirma {
    position: absolute;
    left: 80%;
    top: 92%;
    z-index: 1051;
}
#claveDelQueFirma {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 5%;
}
#nombreDelQueFirma {
    position: absolute;
    left: 12%;
    top: 5%;
    width: 50%;
}
/*************/

/*autoComplete*/
.ui-autocomplete {
    z-index: 9999 !important;
}
/*autoCompleta fin*/