@{
    ViewBag.Title = "Reporte Capturas Combustible";
    Layout = "~/Views/Shared/LayoutPageExt.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Captura/Diarias/CapturaCombustibleMensualJS.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h3 class="mb5 mt5">Reporte Captura Mensual Combustibles</h3>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-3">
            <label> CC</label>
            <select class="form-control" id="txtCCFiltro"></select>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-6 no-padding">
                <label for="fechaIni">Fecha Inicio:</label>
                <input type="text" id="fechaIni" class="form-control" />
            </div>
            <div class="col-lg-6 no-padding-right">
                <label for="fechaFin">Fecha Fin:</label>
                <input type="text" id="fechaFin" class="form-control" />
            </div>
        </div>
        <div class="col-lg-4 form-group">
            <div class="col-lg-6">
                <button type="button" class="btn btn-info margin-top pull-right" id="btnAplicarFiltros">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-info margin-top pull-left" id="btnReporte">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    Imprimir
                </button>
            </div>
        </div>
    </div>
</div>

<div class="contenedor mt10">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
            <div id="divGridContainer" class="scroll divPadding">
                <table id="grid_CapturaCombustible" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-column-id="Economico" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Economico</th>
                            <th data-column-id="Descripcion" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Descripcion</th>
                            <th data-column-id="Serie" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Serie</th>
                            <th data-column-id="D1" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">1</th>
                            <th data-column-id="D2" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">2</th>
                            <th data-column-id="D3" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">3</th>
                            <th data-column-id="D4" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">4</th>
                            <th data-column-id="D5" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">5</th>
                            <th data-column-id="D6" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">6</th>
                            <th data-column-id="D7" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">7</th>
                            <th data-column-id="D8" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">8</th>
                            <th data-column-id="D9" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">9</th>
                            <th data-column-id="D10" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">10</th>
                            <th data-column-id="D11" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">11</th>
                            <th data-column-id="D12" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">12</th>
                            <th data-column-id="D13" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">13</th>
                            <th data-column-id="D14" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">14</th>
                            <th data-column-id="D15" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">15</th>
                            <th data-column-id="D16" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">16</th>
                            <th data-column-id="D17" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">17</th>
                            <th data-column-id="D18" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">18</th>
                            <th data-column-id="D19" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">19</th>
                            <th data-column-id="D20" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">20</th>
                            <th data-column-id="D21" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">21</th>
                            <th data-column-id="D22" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">22</th>
                            <th data-column-id="D23" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">23</th>
                            <th data-column-id="D24" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">24</th>
                            <th data-column-id="D25" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">25</th>
                            <th data-column-id="D26" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">26</th>
                            <th data-column-id="D27" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">27</th>
                            <th data-column-id="D28" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">28</th>
                            <th data-column-id="D29" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">29</th>
                            <th data-column-id="D30" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">30</th>
                            <th data-column-id="D31" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">31</th>
                            <th data-column-id="Total" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Total</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>


@Html.Partial("reportViewerView", false)