@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/Utilities/Utilities.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/Incidencias/IncidenciasJS.js"></script>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Maquinaria/Reporte/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Captura/Style-CapturaReportes.css" rel="stylesheet" />

<!-- -->
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>

<div class="container-fluid">

    <div class="row">
        <h2 class="text-center">Reporte Incidencias</h2>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros búsqueda:</legend>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div>
                            <div class="col-xs-3">
                                <label> Centro de Costos</label>
                                <select id="selCC" class="form-control no-padding" multiple="multiple"></select>
                            </div>
                            <div class="col-xs-3">
                                <label> Incidencias</label>
                                <select id="selInci" class="form-control no-padding" multiple="multiple"></select>
                            </div>
                            <div class="col-xs-3">
                                <label>Empleado:</label>
                                <select id="selEmpleados" class="form-control no-padding"></select>
                                <input type="text" id="txtClaveEmp" class="hidden" />
                            </div>

                            <div class="col-xs-1">
                                <label>Fecha Inicio:</label>
                                <input type="text" id="dtInicio" class="form-control no-padding" />
                                <select id="selAnio" class="form-control no-padding hidden" disabled></select>
                            </div>

                            <div class="col-xs-1">
                                <label>Fecha Fin:</label>
                                <input type="text" id="dtFin" class="form-control no-padding" />
                                <select id="selPeriodo" class="form-control no-padding hidden" disabled></select>
                            </div>

                            <div class="hidden">
                                <label>Dia:</label>
                                <select id="selDia" class="hidden" disabled></select>
                            </div>

                            <div class="hidden">
                                <label>Fecha:</label>
                                <input id="selFecha" class="form-control" />
                            </div>

                            <div class="col-xs-12 col-md-6 col-lg-2 col-lg-3 form-group">
                                <div class="col-lg-6">
                                    <button class="btn btn-info margin-top" id="btnAplicarFiltros">
                                        <span class="glyphicon glyphicon-search"></span> Buscar
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-info margin-top" style="display:none;" id="btnReport">
                                        <span class="glyphicon glyphicon-print"></span> Imprimir
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Reporte de Incidencias:</legend>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="scroll divPadding" id="divGlobal">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Grafica por Incidencia</legend>
                <canvas id="myChart" height="200" width="590"></canvas>
            </fieldset>
        </div>
    </div>

    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <h3><label id="title-modal">Detalles</label></h3>
                    </div>
                </div>
                <div class="modal-body container-fluid">
                    <div id="tablaDetalles" class="scroll divPadding">

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="tblDetalles" class="table table-hover table-sm table-bordered compact" style="width:100%;"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnImprimirDet" class="btn btn-primary">Imprimir</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("reportViewerView", false)


</div>