body {
    background-color: #fafafa !important;
}

.contenedor {
    background-color: white !important;
    border-radius: 4px;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    padding: 15px 10px 10px 10px;
}

/*#region Margin*/
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mt30 {
    margin-top: 30px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mr5 {
    margin-right: 5px;
}
.my5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mb0 {
    margin-bottom: 0px;
}
/*#endregion*/

.btn {
    border-radius: .5rem !important;
    font-weight: bold !important;
}
.btn-primary {
    background-color: #2563eb !important;
}

/*#region Select2*/
.select2-container {
    width: 100% !important;
}
.select2-selection--multiple {
    border: solid #cccccc 1px !important;
}
.select2-selection--single {
    border: solid #cccccc 1px !important;
    height: 34px !important;
}
.select2-selection__choice {
    line-height: 18px !important;
}
/*#endregion*/

.btn-red {
    color: #ff0000;
    border: 1px solid black;
}
.btn-blue {
    color: #2563eb;
    border: 1px solid black;
}
.btn-gray {
    color: #808080;
    border: 1px solid black;
}

table thead {
    background-color: #007bff !important;
    color: white;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0px solid #ddd !important;
}

.modal-bg {
    background-color: #007bff !important;
    color: white;
}

/*Revisar por ejemplo en reporte de aceites y lubricantes*/
.responsiveDT {
    padding-right: 10px;
    border: 1px solid #3F4;
    display: inline-block;
}