.RenderBody {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

span#btnHome {
    cursor: pointer;
}

button.btn-primary.btn-xs.form-control {
    height: 40px;
}

button.btn-success.btn-xs.form-control {
    height: 40px;
}

.col-lg-1.form-group {
    padding: 1px;
}

.btn-primary-menu:hover {
    color: black;
    background-color: white !important;
    border-color: #204d74;
}

.btn-primary[disabled] {
    color: black;
    background-color: white !important;
}

td.colspanColor {
    background-color: #F4A460;
}

tr.bgTotalTable {
    background: darkorange;
}

tbody > tr {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

thead.bg-table-header {
    background-color: #F79F81 !important;
}

tbody > tr > td {
    border-top: 1px solid #000 !important;
    border: 1px solid #000;
}

.table > thead > tr > th {
    border-bottom: 1px solid #000;
}

.bg-table-header {
    background-color: #A93516 !important;
}

/**#F5FBEF #F8FBEF*/

table.dataTable tbody tr {
    background-color: #FFF5EE !important;
}

tbody {
    border: none;
    background-color: #FFF5EE !important;
}

.noBorderLeftaRight {
    border-left: none !important;
    border-right: none !important;
}

.SubEncabezadoNoBorder {
    background: #F4A460;
}

.OnlyBottomBorder {
    border: none !important;
    border-bottom: 1px solid #000;
}

.textSubEncabezado {
}

table td:last-child {
    border-right: 1px solid;
}

.noborderRight {
    border-right: none !important;
}

.borderTop {
    border-top: 1px solid #000 !important;
}

.TableInicio > tbody > tr > td {
    width: 75px;
    height: 25px;
    padding: 5px;
}

tr.group.SubEncabezadoNoBorder.noBorderLeftaRight {
    background-color: #F4A460 !important;
}

.titleSubheader {
    background-color: #F4A460;
}

th {
    text-align: center;
}

.dt-body-right {
    text-align: right;
}

.dt-body-center {
    text-align: center;
}

#tblResultadoMensual, #tblFlujoEfectivo, #tblVentasMensuales, #tblUtilidadBruta, #tblGastosAdmo, #tblVentaAcumulada, #tblResultadoACumulado, #tblMargenResultadoAcumulado {
    /*margin: 15px;*/
    padding-bottom: 15px;
}

.setBlank {
}

input.form-control {
    background-color: #fdfd96;
}
.selectCaptura {
    background-color: #fdfd96;
}
#tblVentasMensuales > tbody > tr.even > td {
    border: none !important;
    border-bottom: 1px solid #000;
}

.table-fixed{
    top: 2;
}
