.myIframe {
    padding-top: 10px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*//<<--- THIS IS THE KEY border: solid black 1px;*/
}

    .myIframe iframe {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: inherit;
    }


.containerReporteV {
    width: 970px;
    margin-bottom: 0;
}

.containerReporteHOficio {
    width: 1300px;
    margin-bottom: 0;
}


/*.divFrameH
{
    padding-bottom: 45%;
}*/

/*.divFrameV
{
    padding-bottom: 60%;
}*/

@media screen and (max-height: 1080px) and (max-width: 1920px) {
    .divFrameV {
        padding-bottom: 770px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1500px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1680px) {
    .divFrameV {
        padding-bottom: 740px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1500px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1400px) {
    .divFrameV {
        padding-bottom: 740px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1264px;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 768px) {
    .divFrameV {
        padding-bottom: 392px;
        overflow: auto;
        overflow-x: hidden;
    }

    .containerReporteH {
        width: 1264px;
        margin-bottom: 0;
    }
}


/*Estilos Correguidos*/
@media screen and (max-height: 1080px) and (max-width: 1920px) {
    .StyleIframe {
        height: 650px;
        width: 1229px;
    }
    .modalIframeVertical {
        width: 922px !important;
        height: 749px !important;
    }
        .modalIframeHorizontal {
        width: 1200px!important;
        height: 449px !important;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1680px) {
    .StyleIframe {
        height: 670px;
        width: 1229px;
    }
    .modalIframeVertical {
        width: 922px !important;
        height: 749px !important;
    }
        .modalIframeHorizontal {
        width: 1200px!important;
        height: 449px !important;
    }
}

@media screen and (max-height: 1050px) and (max-width: 1400px) {

    .StyleIframe {
        height: 670px;
        width: 1229px;
    }
     .modalIframeVertical {
        width: 922px !important;
        height: 749px !important;
    }
         .modalIframeHorizontal {
        width: 1200px!important;
        height: 449px !important;
    }
}

@media screen and (max-height: 900px) {

    .StyleIframe {
        height: 530px;
        width: 1229px;
    }
     .modalIframeVertical {
        width: 922px !important;
        height: 749px !important;
    }
         .modalIframeHorizontal {
        width: 1200px!important;
        height: 449px !important;
    }
}

@media screen and (max-height: 768px) {
    .StyleIframe {
        height: 400px;
        width: 1229px;
    }

    .modalIframeVertical {
        width: 922px !important;
        height: 449px !important;
    }
    .modalIframeHorizontal {
        width: 1200px!important;
        height: 449px !important;
    }
}

 .cursorClick {
        cursor: pointer;
    }

 .colorAutoriza {
    background: #298A08;
    color: white;
}

.colorRechaza {
    background: #B40404;
    color: white;
}

.noPadding {
    padding: 0;
}
