table.dataTable thead th, table.dataTable thead td {
    vertical-align: middle !important;
    text-align: center;
}

.bg-green {
    background-color: green;
    cursor: pointer!important;
}

.CLSCodigo {
    cursor: pointer!important;
}

[data-codigo~="0"] {
    background-color: white;
}
[data-codigo~="1"] {
    background-color: green;
}
[data-codigo~="2"] {
    background-color: yellow;
}
[data-codigo~="3"] {
    background-color: red;
}