.optionGroup_Selectable {
    font-weight: bold !important;
}

.normalOption_Selectable {
    text-indent: 10px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    padding-top: 20px;
    padding-bottom: 25px;
}

.ui-widget-overlay.custom-overlay {
    background-color: #566573;
    background-image: none;
    opacity: 0.9;
    z-index: 1001;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
    min-height: 0;
    background: #505050;
    color: white;
    border-color: #505050;
}

.cumtomFotter {
    height: 35px;
    padding-top: 9px;
    background-color: black !important;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.scrolldiv {
    overflow: scroll;
}

.fieldset-custm {
    border: 1px solid #999 !important;
    border-radius: 8px !important;
}

.fieldset-custm {
    min-width: 0;
    padding: 0px;
    margin: 0;
    border: 0;
    /*padding-bottom: 15px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    /* margin-bottom: 0px; */
}

.legend-custm {
    /*display: block;*/
    padding: 0;
    /* margin-bottom: 20px; */
    /* font-size: 21px; */
    line-height: inherit;
    /*color: #333;*/
    border: 0;
    width: auto !important;
    /* border-bottom: 1px solid #e5e5e5; */
}

.navbar-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e88640+0,e27328+21,e26d1f+44,e88640+77,f9893d+100 */
    background: #e88640;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e88640 0%, #e27328 21%, #e26d1f 44%, #e88640 77%, #f9893d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e88640', endColorstr='#f9893d', GradientType=0);
    /* IE6-9 */
}

/*.fix-logo.fixed-brand.navbar-header {
    padding-top: 50px;
}*/

.modal-bg {
    color: #fff;
    background-color: #11EEAB;
}

.modal-bg.primary {
    border-color: #11EEAB;
}

.has-error {
    background-color: red;
}

.btn-default {
    color: white;
    background-color: #6b6b6b;
    border-color: #ccc;
}

textarea {
    resize: none;
}

ul.nav.navbar-nav {
    font-size: 14px;
    padding-left: 25px;
}

.checkbox.radio-inline {
    vertical-align: baseline;
    margin: 0;
}

.margin-top {
    margin-top: 24px;
}

.modal-margin-rigth {
    margin-right: 10px !important;
}

/*Titulo de Modales*/

.modal-header.modal-bg {
    padding: 0px;
    border-bottom: none;
}

div.text-center h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.legend-custm {
    margin-bottom: 0;
    background: white;
}

/*thead {
    background: #87cefa;
    color: black;
}*/

.table {
    text-align: -webkit-auto;
}

.margin-top-hr {
    margin-top: 15% !important;
}

/*table {
    border: none;
    border-collapse: collapse;
}



        table td:first-child {
            border-left: none;
        }

        table td:last-child {
            border-right: none;
        }*/

.table {
    text-align: -webkit-auto;
}

.margin-top-hr {
    margin-top: 15% !important;
}

table {
    border: none;
    border-collapse: collapse;
  
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    /*background-color:#EBF8F9 !important;*/
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

.fix-Panel-row {
    margin-bottom: 0px !important;
}

.stepwizard-row.setup-panel {
    font-size: 13px;
}

.fielset-Filtros {
    min-width: 0;
    padding: 0px;
    margin: 0;
    border: 0;
    /* padding-bottom: 15px; */
    padding-left: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    /* margin-bottom: 0px; */
}

.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

/*Modificacion de grids*/

/*hover removed*/

/*.bootgrid-table th:active, .bootgrid-table th:hover {
    color: #81bd72 !important;
}*/

/*.bg-table-header {
    border: 1px solid black;
    font-size: smaller;
    border-color: #000;
}

.bg-table-header-representante {
    border: 1px solid black;
    font-size: smaller;
    border-color: #000;
}*/

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.nextBtn[disabled] {
    pointer-events: initial;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #11EEAB;
}

tbody {
    border: 1px solid #999;
    border-color: #000;
}

.table-hover>tbody>tr:hover>td {
    /*cursor: pointer;*/
    background-color: #11E8EE;
}

.igualar {
    width: 80px;
}

.bootgrid-table td.no-results {
    background: #fff;
    text-align: center;
    height: 200px;
    padding-top: 90px;
}

.bootgrid-table {
    table-layout: auto !important;
}

div#dialogalertaGeneral {
    margin-left: 20%;
    margin-right: 20%;
}

.bg-green {
    color: green;
}

.bg-red {
    color: red;
}

label#txtFolio {
    color: red;
}

.panel-footer-Autoriza {
    background-color: #dff0d8 !important;
}

.panel-footer-Pendiente {
    background-color: #fcf8e3 !important;
}

.panel-footer-Rechazo {
    background-color: #FF8A8A !important;
}

.last {
    height: 35px;
}

.modal-dialog.modal-dialog-fix.modal-md {
    width: 35%;
    height: auto;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

span.glyphicon.glyphicon-warning-sign.alert-warning-span {
    font-size: 58px;
    color: red;
}

div#icon {
    margin-top: 30px;
}

.bootgrid-footer,
.bootgrid-header {
    margin: 5px 0 !important;
}

/*div#ui-datepicker-div {
    width:  15.5% !important;
}*/

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

/*.dropdown-menu>li>a {
    font-weight: bold;
}*/

.modal-content-ppal {
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}

nav#menuNuevo {
    min-height: 0px;
}

ul.nav.navbar-nav {
    margin-right: 10px;
}

.modal-large {
    width: 1120px;
}

.errorClass {
    background-color: #F78181;
    color: white;
}

a.sizeBtn {
    font-size: 22px !important;
    display: inline;
    padding: 0px 0px !important;
}

.setFocus {
    color: #262626;
    text-decoration: none;
    background-color: #D3D5D6;
}

.ui-widget-header {
    background: #F29D4B;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.modal-bg {
    color: #fff;
    background-color: #F29D4B;
}

.modal-bg.primary {
    border-color: #F29D4B;
}

.modal-title {
    font-size:22px;
    font-weight:bold;
    margin-top:5px;
}

.ui-widget-content {
    font-size: medium;
}

div#dialogalertaGeneral {
    margin: 0;
    margin-top: 0px;
    padding: 30px;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    color: black;
}

.fix-tableGridRH {
    max-height: 250px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.inputTablaFiniquito {
    display: inline-block;
    /*border: none;*/
    box-shadow: none;
    background-color: white !important;
    width: 20%;
    border-radius: 0px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

#fieldTablaFiniquito .ui-widget-header,
#fieldTablaFiniquito2 .ui-widget-header,
#fieldTablaFiniquito3 .ui-widget-header,
#fieldTablaEncuesta .ui-widget-header {
    background-color: #81bd72;
    color: #fff;
}

#tblDataFiniquitos_wrapper thead>tr>th,
#tblDataFiniquitosAut_wrapper thead>tr>th,
#tblDataFiniquitosRech_wrapper thead>tr>th,
#tblDataFiniquitosConceptos_wrapper thead>tr>th,
#tblDataEncuestas_wrapper thead>tr>th {
    background-color: #81bd72;
    color: #fff;
}

#fieldTablaFiniquito .dataTables_wrapper .ui-corner-tl,
#fieldTablaFiniquito2 .dataTables_wrapper .ui-corner-tl,
#fieldTablaFiniquito3 .dataTables_wrapper .ui-corner-tl,
#fieldTablaEncuesta .dataTables_wrapper .ui-corner-tl {
    display: none;
}

/*.ui-widget-header {
    background-color: #81bd72;
    color: #fff;
}*/

#tblDataDetalleFin tbody input {
    border: none;
    box-shadow: none;
}

#tblDataAut thead th,
#tblDataUsuariosNoti thead th {
    background-color: #81bd72;
    color: #fff;
}

#tblDataFiniquitosConceptos tbody>tr td,
#tblDataEncuestas tbody>tr td,
#tblDataUsuariosNoti tbody>tr td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#txtElimOperador {
    -webkit-appearance: none;
}

#btnAgregarUsuario,
#btnCancelarUsuario,
#btnAgregarUsuarioPapel,
#btnCancelarUsuarioPapel {
    margin-top: 5px;
    width: 100%;
}

#dialogTelefonica .modal-dialog,
#dialogPapel .modal-dialog {
    width: 50%;
}

#dialogNotificacionUsuarios .modal-dialog {
    width: 90%;
}

#dialogTelefonica .input-group-addon,
#dialogPapel .input-group-addon {
    background-color: #81bd72;
    color: #fff;
    font-weight: bold;
}

#dialogTelefonica input:disabled,
#dialogTelefonica textarea:disabled,
#dialogPapel input:disabled,
#dialogPapel textarea:disabled {
    border-radius: 0px !important;
}

#tblPlanMaestro .mes {
    border-color: black;
}

#multiSelectAct+div ul {
    max-width: 500px;
}

/*#multiSelectAct + div ul li:hover {
    max-width: 500px;
}*/

/*#dialogNotificacionUsuarios #lblIgNombre {
    z-index: 1001;
}*/

#divAlertaMantenimiento:hover {
    cursor: pointer;
}

#divAlertaMantenimiento span.label-danger:hover {
    background-color: #b94743;
}

.SubSystemsS {
    white-space: nowrap;
}

.ui-autocomplete {
    z-index: 2147483647 !important;
}

.menu-border{
    border: 1px dotted gray;
    border-radius: 5px;
    margin-right:3px;
}