.heartbeat {
    position: absolute;
    display: none;
    margin: 5px;
    color: red;
    right: 0;
    top: 0;
    z-index:99999999999;
}
.ui-dialog { z-index: 99999 !important ;}
div#ui-datepicker-div {
    z-index: 110000 !important;
}
