<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Enkontrol/Compras/OrdenCompra/Generar.css" rel="stylesheet" />
<h2 class="text-center">Generacion de Orden de Compra</h2>

<fieldset class='fieldset-custm'>
    <legend class='legend-custm'></legend>
    <div class='col-md-4 col-lg-4 marginTop5 noPadLeft'>
        <div class='input-group'>
            <span class='input-group-addon'>CC</span>
            <!-- <select id='selCC' class='form-control' multiple></select> -->
            <select id='selectCC' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 marginTop5 noPadLeft'>
        <div class='input-group'>
            <span class='input-group-addon'>N. Requisicion</span>
            <input type='text' id='txtRequisicion' class='form-control'>
        </div>
    </div>
    <div class='col-md-5 col-lg-5 noPadLeft marginTop5 noPadRight'>
        <button id="btnGuardar" type="button" class="btn btn-success pull-right"><i class="fa fa-save"></i>Generar</button>
    </div>
    <div class='col-md-6 col-lg-6 marginTop5 noPadLeft'>
        <div class='input-group'>
            <span class='input-group-addon'>Comprador</span>
            <input id='txtCompEmp' type='text' class='form-control' disabled style="width: 30%;" />
            <input id='txtCompNom' type='text' class='form-control' disabled style="width: 70%;" />
        </div>
    </div>
    <div class='col-md-3 col-lg-3 marginTop5 noPadLeft'>
        <div class='input-group'>
            <span class='input-group-addon'>Folio Origen</span>
            <input type='text' id='txtFolioOrigen' class='form-control' disabled>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 marginTop5 noPadLeft noPadRight'>
        <div class='input-group'>
            <span class='input-group-addon'>Fecha O.C.</span>
            <input type='text' id='dtFechaCompra' class='form-control' disabled>
        </div>
    </div>

    <div class='col-md-3 col-lg-3 noPadLeft' style="display: none;">
        <div class='input-group'>
            <span class='input-group-addon'>Inicio</span>
            <input type='text' id='dtInicio' class='form-control'>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 noPadLeft' style="display: none;">
        <div class='input-group'>
            <span class='input-group-addon'>Req. Inicio</span>
            <input type='text' id='txtReqIni' class='form-control'>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 noPadLeft noPadRight' style="display: none;">
        <div class='input-group'>
            <span class='input-group-addon'>L.A.B.</span>
            <select id='selLab' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 marginTop5 noPadLeft' style="display: none;">
        <div class='input-group'>
            <span class='input-group-addon'>Fin</span>
            <input type='text' id='dtFin' class='form-control'>
        </div>
    </div>
    <div class='col-md-3 col-lg-3 marginTop5 noPadLeft' style="display: none;">
        <div class='input-group'>
            <span class='input-group-addon'>Req. Fin</span>
            <input type='text' id='txtReqFin' class='form-control'>
        </div>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Requisicion</legend>
    <div class='table-responsive'>
        <table id='tblReq' class='table table-fixed'>
            <thead class='advice'>
                <tr>
                    <th>Requisicion</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>L.A.B.</th>
                    <th>Solicito</th>
                    <th>Autorizo</th>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Partidas</legend>
    <div class="col-md-12 col-lg-12 noPadRight pull-right">
        <div class='col-md-3 col-lg-3 noPadLeft noPadRight pull-right'>
            <div class='input-group'>
                <span class='input-group-addon'>Moneda</span>
                <select id="selMoneda" class='form-control moneda'></select>
                <span class='input-group-btn' style='width:0px;'></span>
                <input id='txtTc' type='text' class='form-control text-right tc' disabled />
            </div>
        </div>
    </div>
    <table id='tblPartidas' class='table table-fixed'>
        <thead class='advice'>
            <tr>
                <th>No.</th>
                <th>Insumo</th>
                <th>Descripcion</th>
                <th>Area-Cuenta</th>
                <th>Unidad</th>
                <th>Requerido</th>
                <th>Solicitado</th>
                <th>Surtido</th>
                <th>A Comprar</th>
                <th>Precio</th>
                <th>Importe</th>
                <th>Cancelado</th>
            </tr>
        </thead>
    </table>
    <label>Descripcion de la partida</label>
    <textarea id="txtDescPartidaCompra" class="form-control"></textarea>
</fieldset>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Enkontrol/Compras/Requisicion/GenerarCompra.js"></script>

