<div id='mdlUsEnkontrol' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h2 class='modal-title'><i class='fa fa-archive'></i>Usuario Enkontrol</h2>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class="col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Nombre</span>
                            <input type="text" id="txtNombre" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">Clave Empleado</span>
                            <input type="text" id="txtCve" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">Usuario</span>
                            <input type="text" id="txtNoEnkontrol" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                @if(!Core.DTO.vSesiones.sesionUsuarioDTO.esAuditor)
                {
                    <button id='btnUsuarioGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
                }
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> regresar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Enkontrol/_mdlUsuarioEnkontrol.js"></script>