<link href="~/Content/style/css/Enkontrol/Compras/OrdenCompra/Editar.css" rel="stylesheet" />

<fieldset class='fieldset-custm noPadLeft noPadRight mrgBottom' style="border-radius: 0px !important;">
    <legend class='legend-custm'></legend>
    <input id='inputCompradorSesionNum' type='text' class='form-control' style="display: none;" />
    <input id='inputCompradorSesionNom' type='text' class='form-control' style="display: none;" />

    <div id="panelIzquierdo" class="col-md-7 col-lg-7 noPadLeft noPadRight">
        <div class='col-md-12 col-lg-12 mrgTop mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Folio Origen:</span>
                <input type='text' id='inputFolioOrigen' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>CC</span>
                <select id='selectCC' class='form-control'></select>
            </div>
        </div>

        <div class='col-md-12 col-lg-12 mrgBottom' style="display: none;">
            <div class='input-group mrgBottom' style="width: 0px;">
                <span class='input-group-addon'>Inicio</span>
                <input type='text' id='dtpInicio' class='form-control'>
            </div>
            <div class='input-group' style="width: 0px;">
                <span class='input-group-addon'>Fin</span>
                <input type='text' id='dtpFin' class='form-control'>
            </div>
        </div>

        <div class='col-md-4 col-lg-4 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Número:</span>
                <input id='inputNumero' type='text' class='form-control' />
            </div>
        </div>
        <div class='col-md-4 col-lg-4 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Número Requisición:</span>
                <input id='inputNumeroReq' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-4 col-lg-4 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>B ó S:</span>
                <select id='selectBoS' class='form-control' disabled>
                    <option value="">--Seleccione--</option>
                    <option value="B">Bienes</option>
                    <option value="S">Servicios</option>
                </select>
            </div>
        </div>
        <div class='col-md-4 col-lg-4 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Fecha:</span>
                <input id='dtpFecha' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Proveedor:</span>
                    <input id='inputProvNum' type='text' class='form-control' disabled />
                </div>
            </div>
            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                <input id='inputProvNom' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom elementoPeru'>
            <div class="col-md-12 col-lg-12 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Cta. Corriente:</span>
                    <select id="selectCuentaCorriente" class="form-control">
                        <option value="">--Seleccione--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom elementoPeru'>
            <div class="col-md-12 col-lg-12 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Forma Pago:</span>
                    <select id="selectFormaPago" class="form-control">
                        <option value="">--Seleccione--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Comprador:</span>
                    <input id='inputCompNum' type='text' class='form-control' disabled />
                </div>
            </div>
            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                <input id='inputCompNom' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Solicitó:</span>
                    <input id='inputSolNum' type='text' class='form-control' disabled />
                </div>
            </div>
            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                <input id='inputSolNom' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Autorizó:</span>
                    <input id='inputAutNum' type='text' class='form-control' disabled />
                </div>
            </div>
            <div class="col-md-9 col-lg-9 noPadLeft noPadRight">
                <input id='inputAutNom' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Embarquese:</span>
                <input id='inputEmb' type='text' class='form-control' />
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>L.A.B.</span>
                <select id='selectLab' class='form-control'></select>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Concepto Factura:</span>
                <input id='inputConFact' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-3 col-lg-3 mrgBottom'>
            <div class='input-group'>
                <label style="font-weight: bold; cursor: pointer;">
                    <input style="margin-right: 5px; height: 15px; width: 15px; cursor: pointer;" id='checkAutoRecep' type='checkbox' />Auto Recepcionable
                </label>
            </div>
        </div>
        <div class='col-md-9 col-lg-9 mrgBottom'>
            <div class="col-md-4 col-lg-4 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Almacén:</span>
                    <input id='inputAlmNum' type='text' class='form-control' />
                </div>
            </div>
            <div class="col-md-8 col-lg-8 noPadLeft noPadRight">
                <input id='inputAlmNom' type='text' class='form-control' disabled />
            </div>
        </div>
        <div class='col-md-3 col-lg-3 mrgBottom'>
            <div class='input-group'></div>
        </div>
        <div class='col-md-9 col-lg-9 mrgBottom'>
            <div class="col-md-4 col-lg-4 noPadLeft noPadRight">
                <div class='input-group'>
                    <span class='input-group-addon'>Empleado:</span>
                    <input id='inputEmpNum' type='text' class='form-control' />
                </div>
            </div>
            <div class="col-md-8 col-lg-8 noPadLeft noPadRight">
                <input id='inputEmpNom' type='text' class='form-control' disabled />
            </div>
        </div>
    </div>
    <div id="panelDerecho" class="col-md-5 col-lg-5 noPadLeft noPadRight">
        <div class='col-md-12 col-lg-12 mrgTop mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Tipo O.C.:</span>
                <select id='selectTipoOC' class='form-control'></select>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Moneda:</span>
                <select id='selectMoneda' class='form-control'>
                    <option value="">--Seleccione--</option>
                    <option value="1">MN</option>
                    <option value="2">USD</option>
                    <option value="3">EUR</option>
                    <option value="4">SOL</option>
                </select>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom elementoPeru'>
            <div class='input-group'>
                <span class='input-group-addon'>T. Cambio:</span>
                <select id='selectTipoCompraVenta' class='form-control'>
                    <option value="1">COM</option>
                    <option value="4">VTA</option>
                </select>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Tipo Cambio:</span>
                <input type='text' id='inputTipoCambio' class='form-control'>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Sub Total:</span>
                <input type='text' id='inputSubTotal' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-4 col-lg-4 mrgBottom noPadRight'>
            <div class='input-group'>
                <span class='input-group-addon spanIVA'>I.V.A.</span>
                <input type='text' id='inputIVAPorcentaje' class='form-control' style="text-align: right;">
            </div>
        </div>
        <div class='col-md-8 col-lg-8 mrgBottom noPadLeft'>
            <div class='input-group'>
                <span class='input-group-addon' style="min-width: 20px;">=</span>
                <input type='text' id='inputIVANumero' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Retención:</span>
                <input type='text' id='inputRetencion' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Total:</span>
                <input type='text' id='inputTotal' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <div class='input-group'>
                <span class='input-group-addon'>Total Final:</span>
                <input type='text' id='inputTotalFinal' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom elementoNoPeru'>
            <div class='input-group'>
                <span class='input-group-addon'>Folio Origen:</span>
                <input type='text' id='inputFolioOrigen' class='form-control' disabled>
            </div>
        </div>
        <div class='col-md-12 col-lg-12 mrgBottom'>
            <button id="btnCondPago" class="btn btn-default" style="display: none;">Condiciones de Pago</button>
            <button id="btnRetenciones" class="btn btn-default">Mostrar Retenciones</button>
            <button id="btnGuardarCambios" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        </div>
    </div>
</fieldset>

<fieldset id="fieldTablaPartidas" class='fieldset-custm noPadLeft noPadRight' style="border-radius: 0px !important;">
    <div class="container col-lg-12 mrgTop">
        <table id="tblPartidas" style="width: 100%;"></table>
    </div>
</fieldset>

<fieldset id="fieldDescripcionPartida" class="fieldset-custm noPadLeft noPadRight" style="border-radius: 0px !important; margin-bottom: 100px;">
    <legend class="legend-custm">Descripción de la Partida</legend>
    <div class="container col-lg-12">
        <textarea id="textAreaDescPartida" class="form-control" rows="4" disabled style="border-radius: 0px;"></textarea>
    </div>
</fieldset>

<div class="modal fade" id="mdlPagos" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Pagos</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-lg-12">
                        <table id="tblPagos" class="mrgTop" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlRetenciones" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label> Retenciones</label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-lg-12">
                        <table id="tblRetenciones" class="mrgTop" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnGuardarRetenciones" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Enkontrol/Compras/OrdenCompra/_mdlEditar.js"></script>