
<div id='mdlTC' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h2 class='modal-title'><i class='fa fa-dollar'></i>Tipo Cambio</h2>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class='col-md-4 col-lg-4'>
                        <div class='input-group'>
                            <span class='input-group-addon'>Moneda</span>
                            <input type='text' id='lblMoneda' class='form-control' disabled>
                        </div>
                    </div>
                    <div class='col-md-4 col-lg-4'>
                        <div class='input-group'>
                            <span class='input-group-addon'>Tipo de Cambio</span>
                            <input type='text' id='txtTipoCambio' class='form-control'>
                        </div>
                    </div>
                    <div class='col-md-4 col-lg-4'>
                        <div class='input-group'>
                            <span class='input-group-addon'>Fecha</span>
                            <input type='text' id='dtHoy' class='form-control' disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                @if(!Core.DTO.vSesiones.sesionUsuarioDTO.esAuditor)
                {
                    <button id='btnGuardarTC' type='button' class='btn btn-primary'><i class='fa fa-icono'></i> Aceptar</button>
                }
                <button type='button' class='btn btn-warning' data-dismiss='modal'><i class='fa fa-arrow-left'></i> Salir</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Enkontrol/Principal/Moneda/_mdlGuardar.js"></script>