<fieldset class="fieldset-custm">
    <legend class="legend-custm"><i class="fa fa-edit"></i>Captura</legend>


    <div class="col-md-6 col-lg-6 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Centro Costo</span>
            <select id="selCCDetReq" class="form-control valAddInsumo"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Número Req.</span>
            <input type="text" id="txtNum" class="form-control valAddInsumo" />
            <input type="text" id="inputTipoRequisicionPERU" class="form-control" style="display:none;" />
        </div>
    </div>
    <div class="col-md-3 col-lg-3 noPadLeft noPadRight">
        <div class="input-group">
            <span class="input-group-addon">Folio Origen</span>
            <input type="text" id="txtFolioOrigen" class="form-control" readonly />
        </div>
    </div>

    <div class="col-md-3 col-lg-3 marginTop5 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Fecha</span>
            <input type="text" id="dtFecha" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-3 col-lg-3 marginTop5 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">L.A.B.</span>
            <select id="selLab" class="form-control valAddInsumo"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 marginTop5 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Tipo</span>
            <select id="selTipoReq" class="form-control valAddInsumo"></select>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 marginTop5 noPadLeft noPadRight">
        <button id="spanEstatus" type="button" class="btn btn-default flotante hidden" disabled style="margin-bottom: 5px;"></button>
        <button id="spanActivos" type="button" class="btn btn-default flotante hidden" disabled style="margin-bottom: 5px;">Activos
            Fijos</button>
    </div>
    <div class="col-md-4 col-lg-4 marginTop5 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Estatus Autorización</span>
            <input type="text" id="txtEstatus" class="form-control valAddInsumo" readonly />
        </div>
    </div>

    <div class="col-md-2 col-lg-2 marginTop5 noPadLeft noPadRight" style="display: none;">
        <div class="input-group">
            <span class="input-group-addon">TMC</span>
            <div class="radioBtn btn-group">
                <a class="btn btn-primary active" data-toggle="radTmc" data-title="false"><i class="fa fa-times"></i></a>
                <a class="btn btn-primary notActive" data-toggle="radTmc" data-title="true"><i class="fa fa-check"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-lg-9 marginTop5 noPadLeft noPadRight">
        <div class="input-group">
            <span class="input-group-addon">Comentarios</span>
            <input type="text" id="txtComentarios" class="form-control" />
        </div>
    </div>

    <div class="col-md-3 col-lg-3 marginTop5 noPadRight">
        <div class="input-group">
            <span class="input-group-addon">Modificación</span>
            <input type="text" id="txtModificacion" class="form-control" readonly />
        </div>
    </div>

    <div class="col-md-6 col-lg-6 marginTop5 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Solicitó</span>
            <input type="text" id="txtSolicito" class="form-control valAddInsumo" readonly />
            <!-- <span id="spnAyudaUsuario" class="input-group-addon btn btn-primary" style="width: 5%;" data-toggle="tooltip" title="Nó es mi nombre.">
                <i class='fa fa-question'></i>
            </span> -->
        </div>
    </div>
    <div class="col-md-6 col-lg-6 marginTop5 noPadLeft noPadRight">
        <div class="input-group">
            <span class="input-group-addon">Autorizó</span>
            <select id="selAutorizo" class="form-control valAddInsumo"></select>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 marginTop5 noPadLeft">
        <div class="input-group">
            <span class="input-group-addon">Empleado Autorización</span>
            <input type="text" id="txtEmpNum" class="form-control" readonly />
            <span class="input-group-addon" id="txtEmpNom" style="width: 65%;"></span>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 marginTop5 noPadLeft noPadRight">
        <div class="input-group">
            <span class="input-group-addon">Usuario Modifica</span>
            <input type="text" id="txtUsuNum" class="form-control" readonly />
            <span class="input-group-addon" id="txtUsuNom" style="width: 70%;"></span>
        </div>
    </div>
</fieldset>
<fieldset class="fieldset-custm">
    <legend class="legend-custm"><i class="fa fa-table"></i>Insumos</legend>
    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="table-responsive">
            @*<button id="botonCalcularExistencias" class="btn btn-xs btn-primary pull-right" style="margin-bottom: 5px;">Calcular Existencias</button>*@
            <table id="tblInsumos" class="table table-fixed table-bordered marginBottom5" width="100%">
                <thead class="advice">
                    <tr>
                        <th width="50px">Partida</th>
                        <th width="90px">Clave</th>
                        <th>Producto/Servicio</th>
                        <th width="150px">Area</th>
                        <th width="150px">Detalle</th>
                        <th width="100px">Existencia</th>
                        <th width="90px">Unidad</th>
                        <th width="100px">Cantidad</th>
                        <th width="50px">Estatus</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    @*<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="col-md-3 pull-right" style="padding-left: 0px; padding-right: 0px;">
            <div class="input-group">
                <span class="input-group-addon">Monto Total</span>
                <input id="inputPrecioTotal" class="form-control text-center" disabled>
            </div>
        </div>
    </div>*@
    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <label>Descripción de la partida</label>
        <textarea id="txtDescPartida" class="form-control" disabled></textarea>
    </div>
</fieldset>

<script src="~/Scripts/js/Enkontrol/Compras/Requisicion/Captura_5.js"></script>

@Html.Partial("_mdlUsuarioEnkontrol")