table.dataTable{
    border-collapse: collapse !important;
}
thead{
    background-color: #333333;
    color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    background-color: #d7dcdde1;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    border: 2px solid #da6a1a;
    color: #da6a1a;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border: 3px solid #dad55e;
    color: #949130;
}
.ui-datepicker-calendar tbody tr:hover {
    background-color: #da6a1a;
}
.lblEncabezado{
    display: block;
    font-size: 1.6em;
    text-align: center;
}
#txtFechaSaldo{
    border: none;
    width: 400px;
}
#tblSaldosCondensados{
    border: none;
}
#tblSaldosCondensados>tbody>tr:nth-of-type(1){
    text-transform: uppercase;
}
.Saldo{
    border: .15em solid #383737 !important;
}
.Saldo>td:nth-of-type(3){
    text-align: right;
}
.SaldoTotal{
    font-weight: 600;
}
.SaldoTotal>td:nth-of-type(3){
    text-align: right;
    border-bottom: .15em solid #383737;
}
.Total{
    font-weight: 600;
}
.Total>td:nth-of-type(1){
    background-color: #000000 !important;
    color: #ffffff;
}
.Total>td:nth-of-type(2){
    background-color: #000000 !important;
    color: #ffffff;
}
.Total>td:nth-of-type(4){
    text-align: right;
    border-bottom: .15em solid #383737;
}
.GranTotal{
    font-weight: 600;
}
.GranTotal>td:nth-of-type(1){
    background-color: #000000 !important;
    color: #ffffff;
}
.GranTotal>td:nth-of-type(2){
    background-color: #000000 !important;
    color: #ffffff;
}
.GranTotal>td:nth-of-type(5){
    text-align: right;
    border-top: .15em solid #383737;
}
.Descripcion{
    font-weight: 600;
}