@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
#divTblContenedor{
    max-height: 77vh;
    max-width: 99vw;
}
#txtFechaPago {
    width: 500px;
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    background-color: #d7dcdde1;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    border: 2px solid #da6a1a;
    color: #da6a1a;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border: 3px solid #dad55e;
    color: #949130;
}
.ui-datepicker-calendar tbody tr:hover {
    background-color: #da6a1a;
}
.lblEncabezado {
    display: block;
    font-size: 1.6em;
    text-align: center;
}

td.Input {
    padding: 0.09em !important;
}

td input{
    border: 0px solid #000;
    margin: 0;
    background: transparent;
}

td input[type="text"] {
    width: 100%
}

td, th {
    padding: 0.5em;
}

#tblPropuestaPago {
    border-collapse: collapse;
}

#tblPropuestaPago thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#tblPropuestaPago thead th:first-child {
    left: 0;
    z-index: 1;
}

#tblPropuestaPago thead tr th {
    background-color: #000000;
    color: #ffffff;
    line-height: 0.9;
    padding: 0px 8px;
    text-align: center;
    vertical-align: middle;
}

#tblPropuestaPago thead tr th:first-child {
    background-color: #ffffff;
    color: #000000;
}

#tblPropuestaPago tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

#tblPropuestaPago tbody tr th:first-child {
    border: hidden;
    line-height: 0.9;
    min-width: 300px;
    vertical-align: middle;
    background-color: #faf8f8;
}

#tblPropuestaPago tbody td {
    overflow: auto !important;
    border-color: #bebebe;
}

#tblPropuestaPago tbody tr th.Encabezado:first-child, th.InputEncabezado:first-child, th.SaldoEncabezado:first-child {
    background-color: #000000 !important;
    color: #ffffff;
}

#tblPropuestaPago thead tr th:last-child{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    right: 0;
    z-index: 1;
}

#tblPropuestaPago tbody td:last-child{
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    background-color: #faf8f8;
    border: none;
}
#tblPropuestaPago tfoot th{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #faf8f8;
    border: none;
    z-index: 1;
}
#tblPropuestaPago tfoot th:last-child{
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    background-color: #faf8f8;
    border: none;
}

#tblPropuestaPago tfoot th:first-child{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #faf8f8;
    border: none;
    z-index: 2;
}

.Suma {
    border-top: 1px solid #000 !important;
    border-bottom: 2px solid #000 !important;
}
/*** custom checkboxes ***/
input[type=checkbox] {
    position: relative;
}
input[type=checkbox]:hover {
    cursor: pointer;
}
/* to hide the checkbox itself */
 label>input[type=checkbox]:before {
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content:"\f146";
    letter-spacing: 10px;
}
/* space between checkbox and label */
 label>input[type=checkbox]:checked:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content:"\f0fe";
    letter-spacing: 5px;
} 
/* input */
  td input[type='text'].Input :hover {
        border: 2px solid #ff0000 !important;
        background-color: #ffffe0 !important;
        color: black !important;
   }
   td.Input  :hover {
       border: 2px solid #ff0000 !important;
       background-color: #ffffe0 !important;
       color: black !important;
   }
   .pintarGrupo{
        border: 1px solid #008000 !important;
        background-color: #fdfdd6 !important;
        color: black !important;
   }