.fullmodal .modal-dialog {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;    
}  
.fullmodal .modal-dialog .modal-body {
    max-height: calc(100vh - 19vh);
    overflow-y: auto;
}
.fullmodal .modal-dialog .modal-content {
    height: auto;
    min-height: 90%;
} 
.sonDolares{
    color: #ff0000;
}
.table thead, #tblResProlateo thead{
    background-color: #333333;
    color: white;
}
.table tbody tr.esSaldoConciliado{
    background-color:#FFFF00;
    color:#FF0000;
}
.table tbody tr.esCadenaProductiva{
    background-color:#FFC000;
}
.table tbody tr.esCheque{
    background-color:#afcc6f;
}
.table tbody tr.esInteresesFactoraje{
    background-color:#f0c131;
}
.table tbody tr.esesPolizasDiario{
    background-color:#D8E4BC;
}
.table tbody tr.esEstadoCuenta{
    background-color:#93b5f5;
}
.table tbody tr.esMovimientoCliente{
    background-color:#b5dd59;
}