.ui-state-default, .ui-widget-content .ui-state-default{
    background-color: #d7dcdde1;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    border: 2px solid #da6a1a;
    color: #da6a1a;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border: 3px solid #dad55e;
    color: #949130;
}
.ui-datepicker-calendar tbody tr:hover {
    background-color: #da6a1a;
}