.encabezado {
    display: block;
    font-size: 1.6em;
    text-align: center;
}

#comboNomina {
    border: none;
    width: auto;
}

#comboNomina:hover {
    cursor: pointer;
    /* color: #da6a1a; */
    background-color: lightgray;
    font-style: italic;
}

select {
    width: auto;
    text-align-last: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

table th, .encabezadoTabla {
    background-color: lightgray;
    border: 1px black solid;
    font-weight: bolder;
}

table .obraIndividual {
    background-color: lightgray;
    border: 2px black dotted !important;
}

table tr.totalCuadro {
    background-color: lightgray;
    border: 2px black solid !important;
}

table tr.totalCuenta {
    border: 2px black solid !important;
}

table tr.RAVELIO {
    background-color: #ffb6c1;
}

table tr.CONSTRUPLAN {
    background-color: #20b2aa;
}

table tr.ARRENDADORA {
    background-color: #add8e6;
}

table tr.SONMONT {
    background-color: #87aedb;
}

table tr.REGFORTE {
    background-color: #cbffb6;
}

table tr.TRONSET {
    background-color: #ffe5b6;
}

table tr.totalCuenta>td {
    padding-top: 20px;
}

.totalCuadro, .totalCuenta {
    font-weight: bolder;
}

td>input[type="number"] {
    width: 80%;
}

table tr.totalGeneral {
    background-color: #da6a1a;
    border: 5px black solid !important;
    font-weight: bolder;
    font-style: italic;
}

table tr.vacio>td {
    /* border-left: 0px solid #000 !important;
    border-right: 0px solid #000 !important; */
    border: none;
}

#botonGuardar {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

table tr.encabezadoOtros {
    background-color: lightgray;
}

table tr>td.conceptoNomina {
    background-color: #da6a1a;
    font-weight: bolder;
    font-style: italic;
}

#tablaNominas, #tblNomOtros {
    margin-bottom: 50px;
}

#tablaNominas thead th {
    background-color: white;
    border: none;
}

#tablaNominas tbody .encabezadoEmpresa {
    border: 2px black solid !important;
    font-weight: bolder;
}

#tablaNominas tbody .encabezadoEmpresa td {
    border: none;
}