#botonGuardar {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#tablaPolizas>tbody>tr.CONSTRUPLAN:not([role=row]) {
    background-color: #20b2aa;
}

#tablaPolizas>tbody>tr.ARRENDADORA:not([role=row]) {
    background-color: #add8e6;
}

#tablaPolizas>tbody>tr.RAVELIO:not([role=row]) {
    background-color: #ffb6c1;
}

#tablaPolizas>tbody>tr.SONMONT:not([role=row]) {
    background-color: #87aedb;
}

#tablaPolizas>tbody>tr.REGFORTE:not([role=row]) {
    background-color: #cbffb6;
}

#tablaPolizas>tbody>tr.TROSET:not([role=row]) {
    background-color: #ffe5b6;
}

#tablaPolizas>tbody>tr:not([role=row]) {
    color: black;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

#tablaPolizas {
    margin-bottom: 50px;
}