th {
    font-size: 12px;
}

td {
    font-size: 11px;
}

.modal-lg{
    width: 1100px !important;
}

.dpFechaPropuesta > .ui-state-default, .ui-widget-content .ui-state-default{
    background-color: #d7dcdde1;
}
.dpFechaPropuesta > .ui-state-active, .ui-widget-content .ui-state-active{
    border: 2px solid #da6a1a;
    color: #da6a1a;
}
.dpFechaPropuesta > .ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border: 3px solid #dad55e;
    color: #949130;
}
.dpFechaPropuesta > .ui-datepicker-calendar tbody tr:hover {
    background-color: #da6a1a;
}


#tablaProveedores tr.encabezado{
background-color: lightgray;
font-weight: bolder;
background-color: #ddd122;
}

#tablaProveedores{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}