#tblProgramacionPagos{
    width: 100% !important;
}
th {
    font-size: 12px;
}

td {
    font-size: 11px;
}

.fondoTotal {
    background-color: #494444 !important;
    font-weight:bold !important;
    color: white !important;
}

input[type="text"].monto{
    /*height:25px !important;*/
}
.activo_fijo {
    background-color: #5DADE2 !important;
}
/*.peru {
    background-color: #50C878 !important;
}*/
.etiquetaRenglon {
    display: inline-block !important;
    width: 20px;
    border: 1px solid black;
    border-radius: 2px;
    margin-right: 5px;
    height: 16px;
    vertical-align: top;
    margin-top: 2px;
}