@{
    ViewBag.Title = "HistorialEmpleado";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/css/Seguridad/SaludOcupacional/SaludOcupacional.css" rel="stylesheet" />

<div class="row text-center">
    <h2>Historial Empleado</h2>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"><a></a></h4>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <label for="inputClaveEmpleado" class="form-label">Clave Empleado:</label>
                                <input type="number" name="inputClaveEmpleado" id="inputClaveEmpleado" placeholder="# Empleado" class="form-control">
                            </div>
                            <div class="col-sm-3 text-center">
                                <label for="inputNombreEmpleado" class="form-label">Nombre Empleado:</label>
                                <input type="text" name="inputNombreEmpleado" id="inputNombreEmpleado" disabled class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" id="botonBuscar" style="margin-top: 20px;"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                            <div class="col-sm-5">
                                <button id="botonCertificado" class="btn btn-default pull-right" style="margin-top: 20px;"><i class="fa fa-file"></i>&nbsp;Certificado</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <table id="tablaHistorial" class="table table-hover margin-top"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCertificado">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Certificado</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Clave Empleado:</label>
                        <input id="inputClaveEmpleadoCertificado" class="form-control">
                    </div>
                    <div class="col-sm-7">
                        <label>Nombre Empleado:</label>
                        <input type="text" id="inputNombreEmpleadoCertificado" disabled class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Edad:</label>
                        <input id="inputEdad" class="form-control" disabled>
                    </div>
                    <div class="col-sm-3">
                        <label>TA:</label>
                        <input id="inputTA" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>FC:</label>
                        <input id="inputFC" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>FR:</label>
                        <input id="inputFR" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>SPO:</label>
                        <input id="inputSPO" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Temperatura:</label>
                        <input id="inputTemperatura" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Talla:</label>
                        <input id="inputTalla" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Peso:</label>
                        <input id="inputPeso" class="form-control">
                    </div>
                    <div class="col-sm-12">
                        <label>Impresión Diagnóstica:</label>
                        <input id="inputImpresionDiagnostica" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGenerarCertificado">
                    <i class="fas fa-file"></i> Generar
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/js/Administrativo/Seguridad/SaludOcupacional/HistorialEmpleado.js"></script>