@{
ViewBag.Title = "Medicos";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CSS -->
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/Seguridad/SaludOcupacional/Medicos.css" rel="stylesheet" />

<!-- CONTAINER FLUID -->
<div class="container-fluid">
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h2>MEDICOS</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary marginBottom marginRight" id="btnCEMedicosModal" title="Nuevo medico."><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="tblS_SaludOcupacionalMedicos" class="table table-hover table-bordered compact" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTAINER FLUID -->

<!-- MODAL CREAR/EDITAR MEDICO -->
<div class="modal fade" id="mdlCEMedicos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center"><h3><span id="lblTitleCEMedico"></span></h3></div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Nombre</span>
                            <input type="text" id="txtNombre" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Cedula Prof.</span>
                            <input type="text" id="txtCedulaProfesional" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Puesto</span>
                            <input type="text" id="txtPuesto" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Empresa</span>
                            <input type="text" id="txtEmpresa" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group marginBottom">
                            <span class="input-group-addon">Usuario SIGOPLAN</span>
                            <select id="cboUsuarioSIGOPLAN" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-success" id="btnCEMedicos"><span id="titleBtnCEMedico"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL CREAR/EDITAR MEDICO -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/js/Administrativo/Seguridad/SaludOcupacional/Medicos.js"></script>