@{
    ViewBag.Title = "Autorizadores por AC";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />

<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Asignacion de Autorizantes por AC</legend>
                <table id="tblData" class="display" cellspacing="0" width="100%">
                    <thead class="bg-table-header">

                    </thead>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/js/Maquinaria/Inventario/AsignacionAutorizantesAC.js"></script>