@{
    ViewBag.Title = "CapturaPlan";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/MAZDA/PlanActividadesCaptura.js"></script>

<style>
    #tblPlanMes thead th {
        border-bottom: 2px solid black;
        padding: 0px;
    }

    #tblPlanMes thead th {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #tblPlanMes thead .diaDomingoLetra,
    #tblPlanMes thead .diaDomingoNumero,
    #tblPlanMes tbody .diaDomingoCheck {
        background-color: #b0b0b0;
    }

    #tblPlanMes tbody td {
        border-bottom: 1px solid black;
    }

        #tblPlanMes tbody td[checked="checked"] {
            /*background-color: #cfffc2;*/
            /*background-color: #ff9950;*/
            /*background-color: #ffdfc8;*/
            background-color: #337ab7;
            color: #fff;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            font-size: 22px;
        }

    #tblPlanMes tbody .txtEquipoArea,
    #tblPlanMes tbody .selectEquipo {
        height: 25px;
        padding: 3px 6px;
        border-radius: 0px;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <h2 id="txtEncabezado" class="text-center">Captura Plan Maestro</h2>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divPlanAct">
            <fieldset id="fieldPlanAct" class="fieldset-custm" style="border-radius: 0px !important;">
                <div class="container-fluid">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                        <fieldset id="fieldBusquedaCuadrilla" class="fieldset-custm">
                            <legend class="legend-custm">Capturar</legend>
                            <div class="input-group col-md-12">
                                <div class="col-lg-4" style="padding-left: 0px;">
                                    <label>Cuadrilla:</label>
                                    <select class="form-control" id="selectCuadrilla" type="text"></select>
                                </div>
                                <div class="col-lg-4" style="padding-left: 0px;">
                                    <label>Area:</label>
                                    <select class="form-control" id="selectArea" type="text"></select>
                                </div>
                                <div class="col-lg-2" style="padding-left: 0px;">
                                    <label>Periodo:</label>
                                    <select class="form-control" id="selectPeriodo" type="text"></select>
                                </div>
                                <div class="col-lg-2" style="padding-left: 0px;">
                                    <label>Mes:</label>
                                    <select class="form-control" id="selectMes" type="text"></select>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <fieldset class="fieldset-custm" style="margin-top: 5px;">
                                <legend class="legend-custm"></legend>

                                <table id="tblPlanMes" class="table  text-center" style="margin-top: 5px; margin-bottom: 0px;">
                                    <thead class="bg-table-header"></thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>

                                <button id="btnAgregarEquipoArea" type="button" class="btn btn-sm btn-primary" style="margin-top: 5px; display: none;"><span class="glyphicon glyphicon-plus"></span> Agregar Equipo/Area</button>
                                <button id="btnGuardarPlanMes" type="button" class="btn btn-sm btn-success pull-right" style="margin-top: 5px; display: none;"><span class="glyphicon glyphicon-floppy-save"></span> Guardar Plan</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>