
@{
    ViewBag.Title = "UsuariosCatalago";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/style/datatables/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.rowReorder.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/MAZDA/UsuariosCatalogo.js"></script>

<style>
    #tblCuadrilla_wrapper thead > tr > th,
    #tblArea_wrapper thead > tr > th,
    #tblActividad_wrapper thead > tr > th,
    #tblEquipo_wrapper thead > tr > th,
    #tblUsuario_wrapper thead > tr > th {
        background-color: #81bd72;
        color: #fff;
    }

    #tblCuadrilla_wrapper .ui-widget-header,
    #tblArea_wrapper .ui-widget-header,
    #tblActividad_wrapper .ui-widget-header,
    #tblEquipo_wrapper .ui-widget-header,
    #tblUsuario_wrapper .ui-widget-header {
        background-color: #81bd72;
        color: #fff;
    }

    #tblCuadrilla_wrapper .ui-corner-tl,
    #tblArea_wrapper .ui-corner-tl,
    #tblActividad_wrapper .ui-corner-tl,
    #tblEquipo_wrapper .ui-corner-tl,
    #tblUsuario_wrapper .ui-corner-tl {
        display: none;
    }

    #tblCuadrilla tbody > tr td,
    #tblArea tbody > tr td,
    #tblActividad tbody > tr td,
    #tblEquipo tbody > tr td,
    #tblUsuario tbody > tr td {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #dialogNuevaCuadrilla .input-group-addon,
    #dialogEditarCuadrilla .input-group-addon,
    #dialogNuevaArea .input-group-addon,
    #dialogEditarArea .input-group-addon,
    #dialogNuevaActividad .input-group-addon,
    #dialogEditarActividad .input-group-addon,
    #dialogNuevoEquipo .input-group-addon,
    #dialogEditarEquipo .input-group-addon,
    #dialogNuevoUsuario .input-group-addon,
    #dialogEditarUsuario .input-group-addon {
        background-color: #81bd72;
        color: #fff;
        font-weight: bold;
    }

    .ui-widget-header {
        background: #81bd72;
        border: 0;
        color: #fff;
        font-weight: bold;
    }

    #tblPlanMaestro tbody tr td {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
    }

    #tblPlanMaestro tbody tr .cuadrillaText,
    #tblPlanMaestro tbody tr .periodoText,
    #tblPlanMaestro tbody tr .areaText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <h2 class="text-center">Catálogo Personal</h2>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divPlanAct">
            <fieldset id="fieldPlanAct" class="fieldset-custm">
                <div class="container-fluid">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tabTitle1" data-toggle="tab" href="#tabUsuario">Personal</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabUsuario">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                                <fieldset id="fieldBusquedaUsuario" class="fieldset-custm" style="border-radius: 0px !important;">
                                    <legend class="legend-custm">Filtros:</legend>
                                    <div class="input-group col-md-12">
                                        <div class="col-lg-4" style="padding-right: 0px;">
                                            <label>Nombre:</label>
                                            <input class="form-control" id="txtUsuarioNombre" type="text">
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Cuadrilla:</label>
                                            <select class="form-control" id="txtUsuarioCuadrilla" type="text"></select>
                                        </div>
                                        <div class="col-lg-4" id="containerbtnBuscarUsuario" style="padding-left: 0px;">
                                            <button type="button" class="btn btn-primary" id="btnBuscar_Usuario" style="margin-top: 24px; margin-right: 5px;">
                                                <span class="glyphicon glyphicon-search"></span> Buscar
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                    <fieldset class="fieldset-custm" style="margin-top: 5px; border-radius: 0px !important;">
                                        <legend class="legend-custm"></legend>
                                        <button id="btnNuevoUsuario" class="btn btn-primary" style="margin-top: 5px; margin-bottom: 5px;"><span class="glyphicon glyphicon-plus"></span> Nuevo</button>
                                        <table id="tblUsuario"></table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="modal fade" id="dialogNuevoUsuario" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <h3><label> Nuevo</label></h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Nombre:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioNuevoNombre" class="form-control" placeholder="Nombre" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Apellido Paterno:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioApeP" class="form-control" placeholder="Apellido Paterno" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Apellido Materno:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioApeM" class="form-control" placeholder="Apellido Materno" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Correo:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioCorreo" class="form-control" placeholder="Correo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Usuario:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioUsu" class="form-control" placeholder="Usuario" />
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Contraseña:</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input id="txtUsuarioContrasena" class="form-control" placeholder="Contraseña" type="password" />
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Cuadrilla:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="selectUsuarioCuadrilla" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnGuardarUsuario" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-save" style="font-size: medium;"></span> Guardar</a>
                    <a data-dismiss="modal" id="btnCancelActivity" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Cancelar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialogEditarUsuario" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header modal-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <h3><label> Editar</label></h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Nombre:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioEditNombre" class="form-control" placeholder="Nombre" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Apellido Paterno:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioEditApeP" class="form-control" placeholder="Apellido Paterno" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Apellido Materno:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioEditApeM" class="form-control" placeholder="Apellido Materno" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Correo:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioEditCorreo" class="form-control" placeholder="Correo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Usuario:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="txtUsuarioEditUsu" class="form-control" placeholder="Usuario" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">Cuadrilla:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="selectUsuarioEditCuadrilla" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnEditarUsuario" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-save" style="font-size: medium;"></span> Guardar</a>
                    <a data-dismiss="modal" id="btnCancelActivity" class="btn btn-primary btn-sm"><span class="glyphicon"></span>Cancelar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="dialogBajaUsuario" title="Eliminar" style="display: none;">
        <text id="txtElimUsuario">¿Está seguro que desea eliminar este usuario?</text>
    </div>
</div>