@{
ViewBag.Title = "AltasSubCuentas";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Alta Sub-Cuentas</h2>
    </div>

    <!-- <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset id="fieldsetFiltros" class="fieldset-custm">
                <legend class="legend-custm">
                    Filtros:
                    <button id="btnQuitarFiltros" class="btn btn-xs btn-danger pull-right mrgTop" style="margin-left: 5px;">
                        <i class="fa fa-times"></i>
                    </button>
                </legend>

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">

                    </div>
                </div>
            </fieldset>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 mrgTop">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="mrgTop" style="border: 1px solid black;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="widget">
                                    <div class="widget-header"></div>
                                    <div class="widget-content">
                                        <table id="tblCuentas" class="table-bordered hover" style="width: 100%;"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSubCuentas" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label></label></h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-lg-12">
                        <table id="tblSubCuentas" class="mrgTop table-bordered" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="guardarSubCuentas" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Reporte/ActivoFijoAltaSubCuentas.js"></script>