@{
    ViewBag.Title = "Depreciación cuentas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

    var JS_VERSION = 1;
}

<input type="hidden" value="@JS_VERSION" id="JS_VERSION" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" id="panelDepreciacionCuentas">
                <div class="panel-heading text-center">
                    <h2>Depreciación general por cuentas</h2>
                </div>

                <div class="panel-body">
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="btnModificarDepCuentas" data-cuentas="0">Modificar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Maquinaria/Reporte/ActivoFijoDepCuentas.js"></script>