@{
    ViewBag.Title = "Activo Fijo - Detalles";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3>DETALLES DE LA CUENTA -NÚMERO DE CUENTA Y DESCRIPCIÓN-</h3></div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Fecha</span>
                                <input type="text" class="form-control" id="txtFiltroFecha" />
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div typeof="button" class="btn btn-success" id="btnFiltro">Buscar</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tblAFDetalles" class="display" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Reporte/ActivoFijoDetalles.js"></script>