@{
    ViewBag.Title = "Depreciación cuentas";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" id="panelInsumos">
                <div class="panel-heading text-center">
                    <h2>Depreciación insumos</h2>
                </div>

                <div class="panel-body">
                    <table id="tblDepInsumos" class="hover stripe order-column compact" style="width: 100%"></table>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="btnActualizarInsumos">Actualizar</button>
                            <button type="button" class="btn btn-success" id="btnMdlNuevoInsumo" >Agregar</button>
                            <button type="button" class="btn btn-default" id="btnCargaAutomatica">Agregar automáticamente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="mdlNuevoInsumo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar insumo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Insumo:</label>
                        <input type="text" class="form-control" id="txtNuevoInsumo" />
                    </div>
                    <div class="col-sm-3">
                        <label>Descripción:</label>
                        <input type="text" class="form-control" id="txtNuevoDescripcion" />
                    </div>
                    <div class="col-sm-3">
                        <label>Porcentaje:</label>
                        <input type="text" class="form-control" id="txtNuevoPorcentaje" placeholder="%" />
                    </div>
                    <div class="col-sm-3">
                        <label>Meses:</label>
                        <input type="text" class="form-control" id="txtNuevoMeses" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarInsumo">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Reporte/ActivoFijoInsumos.js"></script>