@{
    ViewBag.Title = "Reporte Detalle de Muestras";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/SOS/Style-ReporteDetalle.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/SOS/ReporteDetalleMuestras.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h2 class="text-center">Pantalla de Resultados S.O.S</h2>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <form>
            <fieldset class="fieldset-custm fielset-Filtros">
                <legend class="legend-custm">Filtros:</legend>
                <div class="col-lg-12">
                    <div class="col-lg-4 form-group">
                        <label>Lugar:</label>
                        <select class="form-control" id="cboFiltroLugar" multiple=""></select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>No Economico:</label>
                        <select class="form-control" id="cboFiltroMaquinaria" title="Seleccione:"></select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Modelo:</label>
                        <select class="form-control" id="cboFiltroModelo" title="Seleccione:"></select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-4 form-group">
                        <label>Punto de Muestreo:</label>
                        <select class="form-control" id="cboComponente" title="Seleccione:"></select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Elemento:</label>
                        <select class="form-control" id="cboFiltroElemento" title="Seleccione:"></select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <div class="col-lg-6 no-padding">
                            <label for="fechaIni">Fecha Inicio:</label>
                            <input type="text" id="fechaIni" class="form-control" />
                        </div>
                        <div class="col-lg-6 no-padding-right">
                            <label for="fechaFin">Fecha Fin:</label>
                            <input type="text" id="fechaFin" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-4 form-group">
                        <label>Tipo Información:</label>
                        <select class="form-control" id="cboTipoInformacion" title="Seleccione:">
                            <option value="1">Cantidad Muestras</option>
                            <option value="2">Horas de Equipo</option>
                            <option value="3">Horas de Aceite</option>
                        </select>
                    </div>
                    <div class="col-lg-8 form-group">
                        <button type="button" class="btn btn-info pull-right margin-top" id="btnAplicarFiltros">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <fieldset class="fieldset-custm fielset-Filtros">
            <legend class="legend-custm text-center"><label id="tituloLegend"></label></legend>
            <div class="col-lg-12">
                <button type="button" class="btn btn-info pull-right margin-top" id="btnVerDesglose">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i> Desglose Grafica
                </button>
            </div>

            <div class="col-lg-12">
                <canvas id="grafica"></canvas>
            </div>
        </fieldset>
    </div>
</div>

<div class="modal fade" id="modalDesglose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h3><label id="titleModal"></label></h3>
                </div>
            </div>
            <div class="modal-body container-fluid">
                <div class="row text-center form-group">
                    <h3><label id="tituloModalMaquina"></label></h3>
                </div>

                <div id="tableMuestras">
                </div>

            </div>
        </div>
    </div>
</div>

