.box-container {
    width: 14%;
    height: 100px;
    opacity: 0.4;
    transition: width 2s;
}

.box-container.clicked {
    width: 28%;
    opacity: 1;
}

.box-metas {
    opacity: 0.4;
    transition: width 2s;
    background: rgba(252, 176, 69, 0.5);
    background: linear-gradient(90deg, rgba(68, 80, 156, 0.2) 50%, rgba(48, 63, 159, 0.2) 100%);
}

.card {
    background: rgba(252, 176, 69, 0.5);
    background: linear-gradient(90deg, rgba(68, 80, 156, 0.2) 50%, rgba(48, 63, 159, 0.2) 100%);
}

.box-metas.clicked {
    opacity: 1;
    border: 1px solid #ccc;
}

.container-fluid {
    padding: 0;
}

.page-wrapper {
    margin-left: 0;
}

.row.RenderBody {
    /*background-color: whitesmoke;*/
}

@media screen and (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transform: translate(0, 0);
    }
}

table {
    width: 100% !important;
}

table tbody tr td {
    border: 0px solid white;
}

.bg-table-header {
    font-size: 15px;
    background: rgb(68, 133, 51) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    border: none;
}

.bg-table-header-modal {
    font-size: 15px;
    background-color: #3356ae;
    color: white;
    border: none;
}

table thead tr th {
    border-bottom: 0px solid white !important;
}

table.dataTable {
    border-bottom: 0px solid white !important;
}

.dataTables_scrollBody {
    border-bottom: 0px solid white !important;
}

#modalAgregarProceso .modal-header, #mdlFormMeta .modal-header, #modalEvaluacionesPorProceso .modal-header, #modalAltaEmpleado .modal-header, #mdlFormPeso .modal-header, #mdlFormMetas .modal-header, #modalEvaluacion .modal-header {
    font-size: 15px;
    font-weight: bold;
    /* color: white;
    background: #448533;
    background: linear-gradient(40deg, #45cafc, #303f9f); */
    border: none;
}

.modal-xl {
    width: 80% !important;
    max-width: 80% !important;
}