<button id="btnSyncPago" class="btn btn-primary"><i class="fa fa-retweet"></i>Sincronizar Pagos</button>
<label id="lblFecha"></label>
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/_btnSyncPagos.js"></script>