<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Correos de proveedres</legend>
    <div class="row">
        <div class='col-md-2 col-lg-2'>
            <div class='input-group'>
                <span class='input-group-addon'>Moneda</span>
                <select id='selCorreoMoneda' class='form-control'></select>
            </div>
        </div>
        <div class='col-md-2 col-lg-2'>
            <button type="button" class="btn btn-success" id="btnCorreoNuevo"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-danger" id="btnCorreoElimina"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-primary" id="btnCorreoGuardar"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
    <div class='table-responsive'>
        <table id='tblCorreo' class='table'>
            <thead class='bg-table-header'>
                <tr>
                    <th>Proveedor</th>
                    <th>Correo</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/_correoProv.js"></script>