
<link href="~/Content/style/css/Contabilidad/_mdlInteresesNafin.css" rel="stylesheet" />
<div id='mdlInteresesNafin' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header text-center'>
                <h1 class='modal-title'><i class='fa fa-dollar'></i>Intereses Nafin</h1>
            </div>
            <div class='modal-body'>
                <div class='table-responsive'>
                    <table id='tblIntNafin' class='table table-fixed table-responsive table-striped'>
                        <thead class='bg-table-header'>
                            <th>Banco</th>
                            <th>Factoraje</th>
                            <th>Moneda</th>
                            <th>Total Cadena</th>
                            <th>Total Banco</th>
                            <th>Interes</th>
                        </thead>
                    </table>
                </div>
            </div>
            <div class='modal-footer'>
                <div class='col-md-4 col-lg-4'>
                    <div class='input-group'>
                        <span class='input-group-addon'>Tipo Cambio</span>
                        <input type='text' id='txtDolar' class='form-control text-right' disabled>
                    </div>
                </div>
                @if(!Core.DTO.vSesiones.sesionUsuarioDTO.esAuditor)
                {
                    <button id="btnGuardarIntNafin" type="button" class="btn btn-success"><i class="fas fa-file-excel"></i> Excel</button>
                }
            </div>
        </div>
    </div>
</div>