<fieldset class='fieldset-custm'>
    <legend class='legend-custm'><label>Folio Nafin</label></legend>
    <div class="row">
        <div class='col-md-2 col-lg-3'>
            <div class='input-group'>
                <span class='input-group-addon'>Moneda</span>
                <select id='selNafinMoneda' class='form-control'></select>
            </div>
        </div>
        <div class='col-md-2 col-lg-3'>
            <button type="button" class="btn btn-success" id="btnNafinNuevo"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-danger" id="btnNafinElimina"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-primary" id="btnNafinGuardar"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
    <div class='table-responsive'>
        <table id='tblNafin' class='table'>
            <thead class='bg-table-header'>
                <tr>
                    <th>Proveedor</th>
                    <th>Nafin</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/_numeroNafin.js"></script>