@{
    ViewBag.Title = "CadenaObra";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Contabilidad/CadenaObra.css" rel="stylesheet" />
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/CadenaObraJS.js"></script>
<div class="container-fluid">
    <h2 class="text-center" style=" margin-top: 0;margin-bottom: 0;">
        Cadenas por Obras
    </h2>
    <fieldset class="fieldset-custm col-md-12 col-lg-12">
        <legend class="legend-custm">Búsqueda</legend>
        <div class="col-lg-2">
            <label>Fecha de vencimiento</label>
            <input type="text" class="form-control" id="dpFecha">
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary margin-top" id="btnCargar">
                <span class="glyphicon glyphicon-list-alt"></span> Cargar
            </button>
        </div>
        <div class="col-lg-1 margin-top" id="divBtnExcel" hidden>
            <button type='button' class='btn btn-success' id="btnExcel"><span class='glyphicon glyphicon-th'> Excel</span></button>
        </div>
    </fieldset>
    <div class="" id="ListaResumenSemanal">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">RELACION DE RESERVAS PARA CADENAS</legend>
            <div class="col-lg-3 text-left form-group  margin-top">
                <div class="panel panel-primary">
                    <div class="panel-heading ">Acomulado</div>
                    <div class="panel-body" id="divDatosMaquina" hidden>
                        <table class="table" id="infoMaquina">
                            <thead>
                                <tr>
                                    <th data-formatter="obra"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 margin-top table-responsive">
                <table id="tblResumenObra" class="table table-condensed table-hover text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th data-sortable="false" data-column-id="fechaVencimientoS" data-formatter="vencimiento">Relación por fecha de vencimiento</th>
                            <th data-sortable="false" data-column-id="concepto" data-formatter="tipo"></th>
                            <th data-sortable="false" data-column-id="proveedor" data-formatter="concepto"></th>
                            <th data-sortable="false" data-column-id="fechaS" data-formatter="cc"></th>
                            <th data-sortable="false" data-column-id="numNafin" data-formatter="reserva" data-width="10%"></th>
                            <th data-sortable="false" data-column-id="saldoFactura" data-formatter="pago"></th>
                            <th data-sortable="false" data-column-id="banco" data-formatter="acomulado"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
    </div>
</div>