
@{
    ViewBag.Title = "Linea";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<div class="container-fluid">
    <h1 class="text-center">Línea de Intermediarios</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Capura</legend>
            <div class="col-lg-2">
                <label>Banco</label>
                <select id="selBanco" class="form-control">
                    <option value="">No Seleccionado</option>
                    <option value="BANAMEX">BANAMEX</option>
                    <option value="BANORTE">BANORTE</option>
                    <option value="SCOTIABANK">SCOTIABANK</option>
                    <option value="MONEX">MONEX</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Factoraje</label>
                <select id="selFactoraje" class="form-control">
                    <option value="">Sin asignar</option>
                    <option value="N">Normal</option>
                    <option value="V">Vencido</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Moneda</label>
                <select id="selMoneda" class="form-control">
                    <option value="0">Sin asignar</option>
                    <option value="1">Pesos MX</option>
                    <option value="2">Dólares DLL</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Línea</label>
                <input id="txtLinea" class="form-control" />
            </div>
            <div class="col-lg-2">
                <label>Fecha cortejo</label>
                <input id="dpFecha" class="form-control" />
            </div>
            <div class="col-lg-2">
                <button type='button' class='btn btn-primary margin-top' id="btnGuardar"><span class='glyphicon glyphicon-save'> Guardar</span></button>
            </div>
        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Resultados</legend>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="tblLinea" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th>Banco</th>
                            <th>Factoraje</th>
                            <th>Moneda</th>
                            <th>Línea</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/Linea.js"></script>

