@{
    ViewBag.Title = "NumeroNafin";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<h2 class="text-center">
    Catálogo de Proveedores
</h2>
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#tabNafin">Nafin</a></li>
    <!-- <li><a data-toggle="tab" href="#tabCorreo">Correo</a></li> -->
    <li class="active"><a data-toggle="tab" href="#tabPropGrupo">Catálogo Giro</a></li>
</ul>
<div class="tab-content">
    <div id="tabNafin" class="tab-pane fade in">
        @Html.Partial("_numeroNafin")
    </div>
    <!-- <div id="tabCorreo" class="tab-pane fade in">
        @Html.Partial("_correoProv")
    </div> -->
    <div id="tabPropGrupo" class="tab-pane fade in active">
        @Html.Partial("_propPagoProvGrupo")
    </div>
</div>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>