@{
    ViewBag.Title = "TotalSemanal";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Contabilidad/TotalSemanal.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/Reportes/TotalSemanalJS.js"></script>
<div class="container-fluid">
    <h2 class="text-center" style=" margin-top: 0;margin-bottom: 0;">
        Acomulados de Pagos por Factoraje
    </h2>
</div>
<fieldset class="fieldset-custm col-lg-12">
    <legend class="legend-custm">Búsqueda</legend>
    <div class="col-md-1 col-lg-1">
        <label>Año</label>
        <select class="form-control" id="dpAnio"></select>
    </div>
    <div class="col-md-2 col-lg-2">
        <label>Tipo</label>
        <select class="form-control" id="cboTipo">
            <option value="0" selected>Todos</option>
            <option value="1">Civil</option>
            <option value="2">Industrial</option>
        </select>
    </div>
    <div class="col-md-1 col-lg-1">
        <button type="button" class="btn btn-primary margin-top" id="btnCargar">
            <span class="glyphicon glyphicon-list-alt"></span> Cargar
        </button>
    </div>
    <div class="col-md-1 col-lg-1 margin-top" id="divBtnExcel" hidden>
        <button type='button' class='btn btn-success' id="btnExcel"><span class='glyphicon glyphicon-th'> Excel</span></button>
    </div>
</fieldset>
<div id="ListaTotalSemanal">
    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Total de acomulados:</legend>
                <table id="tblResumenSemanal" class="table table-condensed table-hover text-center"></table>
            </fieldset>
        </div>
    </div>
</div>
<div id="mdlFactura" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="text-center">Lista de facturas</h2>
            </div>
            <div class="modal-body scrollbox">
                <div class="row">
                    <div class="col-lg-2"><h3 class="mdlInfo"></h3></div>
                    <div class="col-lg-2"><h3 class="mdlInfo"></h3></div>
                    <div class="col-lg-2"><h3 class="mdlInfo"></h3></div>
                    <div class="col-lg-2"><h3 class="mdlInfo"></h3></div>
                    <div class="col-lg-2"><h3 class="mdlInfo"></h3></div>
                    <div class="col-lg-2"><h3 class="mdlInfo"></h3></div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="tblFactura" class="table table-condensed table-hover table-striped text-center" width="100%">
                                <thead class="bg-table-header">
                                    <tr>
                                        <th>Factura</th>
                                        <th>Proveedor</th>
                                        <th></th>
                                        <th>Centro Costos</th>
                                        <th>Saldo MN</th>
                                        <th>Emision</th>
                                        <th>Vencimiento</th>
                                        <th>Banco</th>
                                        <th>Factoraje</th>
                                        <th>Moneda</th>
                                        <th>Cambio</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info margin-top pull-right" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Regresar
                </button>
            </div>
        </div>
    </div>
</div>