
@{
    ViewBag.Title = "CursoExamen";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<script src="~/Scripts/js/Cursos/CursoExamen.js"></script>
<link href="~/Content/style/css/Cursos/Cursos.css" rel="stylesheet" />
<link href="~/Content/style/Sytle-Wizard.css" rel="stylesheet" />
<div id="divInfoCambio" class="row">
    <div class="col-lg-12" id="Html_padre">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Seccion de Cursos:</legend>
            <div class="col-lg-12">
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="jumbotron">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-4" style="margin-bottom:4px;">
                                        <div class="input-group">
                                            <row>
                                                <h3 class="blue">Seleccionar Curso:</h3>
                                                <select class="form-control no-padding pull-left col-lg-1" id="cboCurso"></select>
                                                <b style="color:black; margin-left:5px;" id="folio"></b>
                                            </row>
                                        </div>
       
                                    </div>

                                    <div class="col-lg-6 pull-left" style="margin-TOP:40px; text-align:center">
                                        <label class="col-sm-3" style="font-size:25px;">Descripcion</label>
                                        <textarea class="form-control description" id="description" style="margin-top:5px; margin-bottom:4px;"></textarea>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="fa-pull-right" data-toggle="buttons" style="margin-top:5px;">
                                            <label class="btn btn-lg btn-danger">
                                                <input type="radio" name="options" id="option2" autocomplete="off">
                                                <i class="fa fa-pencil-square-o"></i> Aplicar Examen
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div id="divInfoCambio" class="row">
    <div class="col-lg-12" id="Html_padre">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Apendice:</legend>
            <div class="col-lg-12">
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class=" table table-condensed table-hover table-striped text-center table-responsive " style="border:1px solid black; width:100%; margin-top:4px;" border="1" id="tablaCurso">
                                        <thead class="bg-table-header table-responsive" style="text-align:center">
                                            <tr>
                                                <th rowspan="2" class="col-lg-2">#Modulo</th>
                                                <th rowspan="2" class="col-lg-2">NombreModulo</th>
                                                <th rowspan="2" class="col-lg-2">#Paginas</th>
                                                <th rowspan="2" class="col-lg-1">Detalle</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblPlantilla"></tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div id="divInfoCambio" class="row">
    <div class="col-lg-12" id="Html_padre">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Seccion de Modulos:</legend>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-lg-12">
                            <div class="container-fluid">
                            </div>
                            <div class="container">
                                    <div class="col-lg-12">
                                                <div class="active item" data-slide-number="0">
                                                    <div class="col-sm-4 col-md-4 col-lg-4"></div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                                                        <div class="post">
                                                            <div class="post-img-content">
                                                                @*<img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive" />*@
                                                                 <div style="width:350px; height:200px; background-color:#d86f05;"></div>
                                                                <span class="post-title">
                                                                    <b id="nombreModulo"></b><br />
                                                                </span>
                                                            </div>
                                                            <div class="content">
                                                                <div>
                                                                   <b id="author"></b> |
                                                                    <b id="fechaCurso"></b>
                                                                </div>
                                                                <b id="moduloDescripcion">
                                                             
                                                                </b>
                                                                <div>
                                                                    <a  class="btn btn-warning btn-sm" id="btnIngresar">Ingresar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>      
                                        </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>


 <!-- Modal pantalla Completa -->
<div class="modal fullscreen-modal fade" id="modalCurso" tabindex="2" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-fix " role="document">
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloD"></h4>
            </div>
            <div class="modal-body ajustar-texto">
                <div class="row form-group">
                    <div class="col-lg-12">
                        <fieldset class="fieldset-custm">
                            <legend class="legend-custm">Contenido Pagina:</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @*Creaicon Paso a Paso 22/1/18 raguilar *@
                                        <div class="stepwizard">
                                            <div class="stepwizard-row setup-panel" id="step">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-12" id="contenidopag" style="text-align:center">

                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="btnBorrar">Borrar</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-default" id="btnAtras">Atras</button>
                <button type="button" class="btn btn-default"  id="btnsiguiente">Siguiente</button>
                @*<button type="button" class="btn btn-primary" id="btnAceptarD">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>



