<style>
#divMpCorte {
    position: fixed;
     top: 6em;
     right: 1em;
 }
</style>

<div id="divMpCorte" class="col-md-3 col-lg-3">
    <div class='input-group'>
        <span class='input-group-btn'>
            <button id='btnMpCorte' type='button' class='btn btn-primary'><i class="fa fa-calendar"></i> Corte</button>
        </span>
        <input type="text" id='dpMpCorte' class='form-control periodo' readonly>
    </div>
</div>
