<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Contabilidad/FlujoEfectivo/_catConcepto.css" rel="stylesheet" />
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>
        <label><input type='checkbox' id='chbCatActivo' checked='checked'> </label> Concepto
    </legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Grupo</span>
            <select id='selCatPadre' class='form-control'></select>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Descripcion</span>
            <input type='text' id='txtCarDesc' class='form-control'>
        </div>
    </div>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-btn'>
                <button type='button' class='btn btn-default'>TM</button>
            </span>
            <select id='selcatTm' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-md-2 col-lg-2'>
        <button id='btnCatGuardar' type='button' class='btn btn-primary'><i class='fa fa-save'></i> Guardar</button>
        <button id='btnCatLimpiar' type='button' class='btn btn-default'><i class='fa fa-brush'></i> Limpiar</button>
    </div>
</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Conceptos</legend>
    <div class='table-responsive'>
        <table id='tblCatConcepto' class='table table-condensed'>
            <thead class='bg-table-header'>
            <th></th>
            <th>Concepto</th>
            <th>Tipo Movimiento</th>
            <th>Estado</th>
            </thead>
        </table>
    </div>
</fieldset>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>
<script src="~/Scripts/js/Administrativo/Contabilidad/FlujoEfectivo/_catConceptos.js"></script>