<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link rel='stylesheet' href="~/Content/style/css/Contabilidad/FlujoEfectivo/_tblMpMovPol.css" />
<div class='table-responsive'>
        <table id='tblMpMovPol' class='table table-fixed table-responsive table-striped' width="100%">
            <thead class='bg-table-header'>
                <th>Folio</th>
                <th>Cuenta</th>
                <th>O.C.</th>
                <th>C.C.</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Tipo Movimiento</th>
                <th>Directo</th>
                <th>Proyectado</th>
            </thead>
        </table>
    </div>
    <b>*Nota: El folio está conformado por el año, mes, tipo, número y línea de la póliza.</b>
<script src='~/Scripts/Utilities/datatables/datatables.min.js'></script>    
<script src="~/Scripts/js/Administrativo/Contabilidad/FlujoEfectivo/_tblMpMovPol.js"></script>