@{
    ViewBag.Title = "esumen";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var empresaNombre = new SIGOPLAN.Controllers.BaseController().getEmpresaNombre();
}
<link href="~/Content/style/css/Contabilidad/FlujoEfectivo/Resumen.css" rel="stylesheet" />
<h2>@empresaNombre</h2>
<h3>PRONISTICO</h3>
<div class='table-responsive table-fixed'>
    <table id='tblPronostico' class='table'>
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>
<script src="~/Scripts/js/Administrativo/Contabilidad/FlujoEfectivo/Resumen.js"></script>
