@{
ViewBag.Title = "SubContratistas";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/style/css/Subcontratistas/Estilo.css" rel="stylesheet" />

<div class="row text-center margin-top">
    <h2>Subcontratistas</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right" id="botonAgregar"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaSubcontratistas" class="table table-hover compact table-fixed table-bordered" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalSubcontratista">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>Subcontratista</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputNumeroProveedor" class="form-label">Número Prov:</label>
                        <input id="inputNumeroProveedor" class="form-control">
                    </div>
                    <div class="col-sm-10">
                        <label for="inputNombre" class="form-label">Nombre:</label>
                        <input id="inputNombre" class="form-control">
                    </div>
                    <div class="col-sm-8">
                        <label for="inputDireccion" class="form-label">Dirección:</label>
                        <input id="inputDireccion" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputNombreCorto" class="form-label">Nombre Corto:</label>
                        <input id="inputNombreCorto" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputCodigoPostal" class="form-label">Código Postal:</label>
                        <input id="inputCodigoPostal" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputCorreo" class="form-label">Correo:</label>
                        <input id="inputCorreo" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputRFC" class="form-label">RFC:</label>
                        <input id="inputRFC" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <div style="display: block; margin-top: 15px;">
                            <input id="radioMoral" type="radio" name="personaFisicaMoral" value="0">
                            <label for="radioMoral" class="form-label">Persona Moral</label>
                        </div>
                        <div style="display: block;">
                            <input id="radioFisica" type="radio" name="personaFisicaMoral" value="1">
                            <label for="radioFisica" class="form-label">Persona Física</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fas fa-undo"></i> Cancelar
                </button>

                <button type="button" class="btn btn-primary" id="botonGuardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/SubContratistas/SubContratistas.js"></script>