
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style/dhtmlxgantt.css")">
<script src="~/Scripts/js/Maquinaria/Reporte/RepGanttMaquinaria.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Utilities/dhtmlxgantt/dhtmlxgantt.js")"></script>
<script src="~/Scripts/Utilities/xportGantt.js"></script>
<script src="~/Scripts/Utilities/html2canvas.js"></script>

<style type="text/css">
    .par {
        background: #acacac !important;
        color: black !important;
    }
    .impar {
        background: #989898 !important;
        color: black !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Diagrama de Gantt Maquinaria</h2>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm fielset-Filtros">
                <legend class="legend-custm">Filtros:</legend>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                    <label>Centro Costos:</label>
                    <select class="form-control no-padding" multiple="multiple" id="cboCC"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <label>Tipo de Equipo:</label>
                    <select class="form-control" id="cboFiltroTipo" title="Seleccione:"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <label>Grupo de Equipo:</label>
                    <select class="form-control" id="cboFiltroGrupo" multiple="multiple" title="Seleccione:"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label>Escala:</label>
                    <select id="cboEscala" class="form-control">
                        <option value="1">Semanas</option>
                        <option value="2">Meses</option>
                        <option value="3">Años</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <button type="button" class="btn btn-info margin-top" id="btnBuscar">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <button type="button" class="btn btn-info margin-top" id="btnImprimir" style="display:none;">
                        <span class="glyphicon glyphicon-print"></span> Imprimir
                    </button>
                </div>

                

            </fieldset>
        </div>
    </div>
    
    <div class="row form-group">
        <div class="col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">GANTT:</legend>
                <div class="row" style='padding-left:10px;padding-right:10px;'>
                    <div id="gantt_here" style='height:500px;width:100%'>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

