@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    var baseController = new SIGOPLAN.Controllers.BaseController();
}

<!-- OCULTO -->
<input id="inputEmpresaActual" class="hide" value=@baseController.getEmpresaID()>
<!-- END: OCULTO -->

<!-- CSS -->
<link href="~/Content/style/css/BackLogs/OBRA/ProgramaInspeccionBackLogs.css" rel="stylesheet" />
<link href="~/Content/style/css/Backlogs/Backlogs.css" rel="stylesheet" />
<link href="~/Content/style/css/BackLogs/OBRA/General.css" rel="stylesheet" />
<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- TITULO MODULO -->
<fieldset class='fieldset-custm seccion'>
    <h2 class="title-1 text-center">PROGRAMA DE INSPECCIÓN</h2>
</fieldset>
<!-- END: TITULO MODULO -->

<!-- BODY -->
<fieldset class="fieldset-custm seccion">
    <!-- LISTADO DE PROYECTOS -->
    <fieldset class='fieldset-custm'>
        <legend class='legend-custm'><span class="badge">Filtros</span></legend>
        <div class="row">
            <div class='col-lg-5'>
                <label for='cboFiltroAreaCuenta'>Área cuenta</label>
                <div class='input-group'>
                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                    <select id="cboFiltroAreaCuenta" class="form-control"></select>
                </div>
            </div>
            <div class='col-lg-2'>
                <label for='cboFiltroAnio'>Año</label>
                <div class='input-group'>
                    <span class='input-group-addon'><i class='fas fa-plus'></i></span>
                    <select id='cboFiltroAnio' class='form-control'>
                        <option value="">--Seleccione--</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <!-- END: LISTADO DE PROYECTOS -->

    <!-- MENU Y LISTADO DE ESTATUS -->
    <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top:15px;">
        <div class=" row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
                <fieldset class="fieldset-custm">
                    <!-- MENU -->
                    <legend class="legend-custm"><span class="badge">Menú</span></legend>
                    <button class="btn btn-block btn-social btn-primary-menu boton-menu" id="btnMenu_InicioObra">
                        <i class="fas fa-chart-line icono-menu"></i>&nbsp;Inicio
                    </button>
                    <button class="btn btn-block btn-social btn-primary-menu boton-menu" id="btnMenu_ProgramaInspeccion">
                        <i class="fa fa-clipboard-check icono-menu"></i>&nbsp;Programa de Inspección
                    </button>
                    <button class="btn btn-block btn-social btn-primary-menu boton-menu" id="btnMenu_RegistroBackLogs">
                        <i class="fas fa-tools icono-menu"></i>&nbsp;Registro de BackLogs
                    </button>
                    <button class="btn btn-block btn-social btn-primary-menu boton-menu" id="btnMenu_InformeRehabilitacion">
                        <i class="fas fa-file-contract icono-menu"></i>&nbsp;Informe de Rehabilitación
                    </button>
                    <button class="btn btn-block btn-social btn-primary-menu boton-menu" id="btnMenu_ReporteIndicadores">
                        <i class="glyphicon glyphicon-th-list icono-menu"></i>&nbsp;Reportes e Indicadores
                    </button>
                </fieldset>
                <fieldset class="fieldset-custm">
                    <!-- ESTATUS -->
                    <legend class="legend-custm"><span class="badge">Estatus</span></legend>
                    <button class="btn btn-block boton-estatus boton-estatus-20">Elaboración de Inspección (20%)</button>
                    <button class="btn btn-block boton-estatus boton-estatus-40">Elaboración de Requisición (40%)</button>
                    <button class="btn btn-block boton-estatus boton-estatus-50">Elaboración de OC (50%)</button>
                    <button class="btn btn-block boton-estatus boton-estatus-60">Suministro de Refacciones (60%)</button>
                    <button class="btn btn-block boton-estatus boton-estatus-80">Programación de BackLogs (80%)</button>
                    <button class="btn btn-block boton-estatus boton-estatus-90">Proceso de Instalación (90%)</button>
                    <button class="btn btn-block boton-estatus boton-estatus-100">Backlogs Instalado (100%)</button>
                    <!-- END: ESTATUS -->
                </fieldset>
            </div>
        </div>
    </div>
    <!-- END: MENU Y LISTADO DE ESTATUS -->

    <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top:15px;">
        <!-- FILTROS -->
        <fieldset class="fieldset-custm">
            <legend class="legend-custm"><span class="badge">Filtros</span></legend>
            <div class="row">
                <div class="col-lg-4">
                    <label for="cboFiltroPeriodo">Periodo: <span id="lblFechaInicio"></span> <span id="lblAl">&nbsp;al&nbsp;</span> <span id="lblFechaFinal"></span></label>
                    <select id="cboFiltroPeriodo" class="form-control"></select>
                </div>

                <div class="col-lg-2">
                    <label for="cboFiltroTipoEquipo">Tipo equipo:</label>
                    <select id="cboFiltroTipoEquipo" class="form-control"></select>
                </div>

                <div class="col-lg-3">
                    <label for="cboFiltroGrupo">Grupo:</label>
                    <select id="cboFiltroGrupo" class="form-control" multiple="multiple"></select>
                </div>

                <div class="col-lg-3">
                    <label for="cboFiltroNoEconomico">No. Economico: </label>
                    <select id="cboFiltroNoEconomico" class="form-control" multiple="multiple"></select>
                </div>
            </div><br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button id="btnFiltroBuscar" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                        <button id="btnFiltroGuardar" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                        <button id="btnFiltroExportar" class="btn boton-menu"><i class="fas fa-table"></i>&nbsp;Exportar</button>
                        <button id="btnFiltroMaquinasEnPrograma" class="btn boton-menu"><i class="fas fa-table"></i>&nbsp;Inspecciones capturadas</button>
                    </div>
                </div>
            </div>
        </fieldset><br>
        <!-- FILTROS -->

        <!-- TABLA INSPECCIONES -->
        <fieldset class='fieldset-custm'>
            <legend class='legend-custm'><span class="badge">Programación</span></legend>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="tblBL_Inspecciones" class="hover stripe order-column"></table>
                </div>
            </div>
        </fieldset>
        <!-- END: TABLA INSPECCIONES -->
    </div>
    <!-- END: FILTROS -->
</fieldset>

<!-- MODAL ACTUALIZAR INSPECCIÓN -->
<div class="modal fade-in disenioModal" id="mdlActualizarInspeccion">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Actualizar inspección</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Prioridad: </label>
                        <input id="txtActualizarPrioridad" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label>No. Económico: </label>
                        <input id="txtActualizarNoEconomico" class="form-control" />
                    </div>
                    <div class="col-lg-6">
                        <label>Descripción: </label>
                        <input id="txtActualizarDescripcion" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Horas restantes: </label>
                        <input id="txtActualizarHorasRestantes" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label>Periodo de inspección: </label>
                        <input id="txtActualizarPeriodoInspeccion" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label>Insp. realizada: </label>
                        <input id="txtActualizarInspRealizada" type="date" class="form-control" />
                    </div>
                    <div class="col-lg-2">
                        <label>Cant. BackLogs: </label>
                        <input id="txtActualizarCantBackLogs" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnActualizarInspeccion" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;Actualizar</button>
                <button class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Regresar</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL ACTUALIZAR INSPECCIÓN -->

<!-- SCRIPTS -->
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/js/Maquinaria/BackLogs/BackLogsProgramaInspeccion.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>

<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.colVis.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.flash.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.foundation.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.html5.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.jqueryui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.print.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/buttons.semanticui.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Utilities/datatables/btnExtension/jszip.min.js"></script>
@* <script src="~/Scripts/Utilities/datatables/btnExtension/pdfmake.min.js"></script> *@
<script src="~/Scripts/Utilities/datatables/btnExtension/vfs_fonts.js"></script>