
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
            <label>Componente:</label>
            <select class="form-control" id="cboComponentes_Lubricantes"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
            <label>Lubricantes:</label>
            <select class="form-control" id="cboLubricantes_Lubricantes"></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
            <label>Periodo:</label>
            <input class="form-control" id="tbPeriodo" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
            <label>Cantidad Litros:</label>
            <input class="form-control" id="tbLitros" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
            <button type="button" class="btn btn-success margin-top" id="btnAdd_Lubricantes">
                <span class="glyphicon glyphicon-plus"></span> Agregar
            </button>
        </div>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Datos Filtro:</legend>
            <div class="row">
                <table id="tblComponentes_Lubricantes" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th>Componentes</th>
                            <th>Lubricante</th>
                            <th>Vida Lubricante</th>
                            <th>Cantidad Litros</th>
                            <th>Quitar</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
    </div>
</div>
