
<div class="container-fluid">
    <div class="row">

        <fieldset class="fieldset-custm">
            <legend class="legend-custm">:</legend>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
                <label>Componente:</label>
                <select class="form-control" id="cboGroupComponente_Filtros"></select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
                <label>Filtros:</label>
                <select class="form-control" id="cboFiltro_Filtros"></select>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
                <label>Filtros:</label>
                <input class="form-control" id="tbFiltrosAuto" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
                <label>Cantidad:</label>
                <input class="form-control" id="tbCantidadComponentes" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
                <button type="button" class="btn btn-success margin-top" id="btnAddFiltro">
                    <span class="glyphicon glyphicon-plus"></span> Agregar
                </button>
            </div>
        </fieldset>
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Datos Filtro:</legend>
            <div class="row">
                <table id="tblComponentes_Filtros" class="table table-condensed table-hover table-striped text-center">
                    <thead class="bg-table-header">
                        <tr>
                            <th>Componentes</th>
                            <th>Descripción</th>
                            <th>Insumo</th>
                            <th>Codigo</th>
                            <th>Cantidad</th>
                            <th>Quitar</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
    </div>
</div>