@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/Sytle-Wizard.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/wizardjs.js"></script>
<script src="~/Scripts/js/Principal/Administracion/UsuariosJS.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h2 style="margin-top: 0;">
                Administración de Usuarios
            </h2>
        </div>
    </div>
    <div class="row" id="divListaUsuarios">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                <fieldset class="fieldset-custm">
                    <legend class="legend-custm"><label id="lblTitulotblUsuarios">Listado de Usuarios:</label></legend>
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <a id="btnNuevo" class="btn btn-success" href="/Administrador/Usuarios/PerfilUsuario">Nuevo</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="tblUsuarios" class="table table-condensed table-hover table-striped text-center">
                                <thead class="bg-table-header">
                                    <tr>
                                        <th data-column-id="id" data-width="25px">Clave</th>
                                        <th data-column-id="Nombre" data-width="25%">Nombre</th>
                                        <th data-column-id="Correo" data-width="25%">Correo</th>
                                        <th data-column-id="Usuario" data-width="25%">Usuario</th>
                                        <th data-column-id="Estatus" data-width="30px">Estatus</th>
                                        <th data-column-id="Departamento" data-width="30px">Departamento</th>
                                        <th data-column-id="verPerfil" data-formatter="verPerfil" data-sortable="false" data-width="25px">Perfil</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    
                </fieldset>
            </div>
        </div>
    </div>
    
</div>

