@{
ViewBag.Title = "CatLubricantes";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    .select2-container {
        width: 100% !important;
        display: block;
    }
</style>

<div class="row text-center margin-top">
    <h2>Catálogo Lubricantes</h2>
</div>

<fieldset class="fieldset-custm margin-top">
    <div class="row mrgTop">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" id="botonAgregar" style="margin-top: 5px;"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mrgTop">
            <table id="tablaLubricantes" class="table table-hover table-fixed" width="100%"></table>
        </div>
    </div>
</fieldset>

<div class="modal fade" id="modalLubricante">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h3>Lubricante</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="inputDescripcion" class="form-label">Descripción:</label>
                        <input name="inputDescripcion" id="inputDescripcion" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label for="selectModelo" class="form-label">Modelo:</label>
                        <select id="selectModelo" class="form-control select2"></select>
                    </div>
                    <div class="col-sm-6">
                        <label for="selectSubconjunto" class="form-label">Subconjunto:</label>
                        <select id="selectSubconjunto" class="form-control select2"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="botonGuardar"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Captura/Diarias/CatLubricantes.js"></script>