label.encabezado {
    display: block;
    font-size: 1.6em;
    text-align: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    background-color: #d7dcdde1;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    border: 2px solid #da6a1a;
    color: #da6a1a;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    border: 3px solid #dad55e;
    color: #949130;
}

.ui-datepicker-calendar tbody tr:hover {
    background-color: #da6a1a;
}

#inputFecha {
    /* border: none; */
    width: 500px;
}

#divTablaFacturaciones {
    max-height: 77vh;
    max-width: 99vw;
}

#tablaFacturaciones thead th {
    position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#tablaFacturaciones thead tr th {
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

#tablaFacturaciones thead tr th:nth-child(1) {
    border-right: 1px white solid;
}

#tablaFacturaciones>tbody>tr.encabezado {
    background-color: lightgray;
    border: 2px black solid;
    font-weight: bolder;
    text-align: center;
}

#tablaFacturaciones>tbody>tr td:nth-child(1) {
    text-align: center;
}

#tablaFacturaciones>tbody>tr td:nth-child(3),
#tablaFacturaciones>tbody>tr td:nth-child(4),
#tablaFacturaciones>tbody>tr td:nth-child(5),
#tablaFacturaciones>tbody>tr td:nth-child(7),
#tablaFacturaciones>tbody>tr td:nth-child(8) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr td:nth-child(6) {
    color: lightgray;
    background-color: lightgray;
}

#tablaFacturaciones>tbody>tr.suma {
    background-color: lightgray;
    font-weight: bolder;
}

#tablaFacturaciones>tbody>tr.subtotalDivision {
    border: 2px black solid;
    font-weight: bolder;
}

#tablaFacturaciones>tbody>tr.subtotalDivision td:nth-child(2) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr.normalCC {
    border: 1.5px black solid;
    background-color: rgb(230, 230, 230);
    font-weight: bolder;
    text-align: center;
}

#tablaFacturaciones>tbody>tr.normalCC td:nth-child(3) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr.normalCliente {
    border: 1.5px black solid;
    font-weight: bolder;
    text-align: center;
}

#tablaFacturaciones>tbody>tr.normalCliente td:nth-child(3) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr.subtotalCC {
    border: 1px black solid;
    font-weight: bolder;
    text-align: left;
}

#tablaFacturaciones>tbody>tr.subtotalCC td:nth-child(2) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr.subtotalCliente {
    border: 1px black solid;
    font-weight: bolder;
    text-align: left;
}

#tablaFacturaciones>tbody>tr.subtotalCliente td:nth-child(2) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr.subtotal {
    border: 1px black solid;
    font-weight: bolder;
    text-align: left;
}

#tablaFacturaciones>tbody>tr.subtotal td:nth-child(2) {
    text-align: right;
}

#tablaFacturaciones>tbody>tr.encabezado {
    border: 2px black solid;
    font-weight: bolder;
}

#tablaFacturaciones>tbody>tr.encabezado td:nth-child(3),
#tablaFacturaciones>tbody>tr.encabezado td:nth-child(4),
#tablaFacturaciones>tbody>tr.encabezado td:nth-child(5),
#tablaFacturaciones>tbody>tr.encabezado td:nth-child(7),
#tablaFacturaciones>tbody>tr.encabezado td:nth-child(8) {
    color: black;
}

#tablaFacturaciones>tbody>tr.encabezado td:nth-child(2) {
    text-align: center;
}

#botonExportar {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #1D6F42;
}

#botonExportar:hover {
    background-color: #1D6F00;
}

#botonAuth,
#btnCancelar {
    position: fixed;
    bottom: 50px;
    right: 180px;
}

#botonAuth.esAutorizada {
    background-color: #c90e0e;
}

#botonAuth.esAutorizada:hover {
    background-color: #da1b1b;
}

#botonAuth.esCancelada {
    background-color: #0e61c0;
}

#botonAuth.esCancelada:hover {
    background-color: #1b74da;
}

#tablaFacturaciones {
    margin-bottom: 50px;
}