/* DISEÑO TABLA */
table.dataTable {
    /* width: 100% !important; */
}

table.dataTable tbody tr td,
table thead tr th,
table.dataTable,
.dataTables_scrollBody {
    /* border: 0.5px solid white !important; */
}

table.dataTable thead {
    /* font-size: 15px; */
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

#tblRH_REC_Solicitudes th {
    /* padding: 4px;
    text-align:center;
    border-left: 1px solid gray !important;   
    font-size:13px;
    font-weight:bolder;  */
}

#tblRH_REC_Solicitudes {
    /* border: 1px solid #f5f5f5 !important; */
}

#tblRH_REC_Solicitudes td {
    /* font-size:13px; */
}

/* END: DISEÑO TABLA */

.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#btnFiltroLimpiar {
    margin-right: 15px;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.inputRangoEdad {
    width: 50% !important;
}

.inputTextArea {
    width: 100% !important;
}

/* .toggle {
    width: 20% !important;
} */

.modal-lg {
    width: 1300px !important;
}

.marginBottom {
    margin-bottom: 1%;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.checkAplica {
    height: 20px;
    width: 20px
}

.grupoEmpleado {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

.swal2-container {
    z-index: 2060;
}

table#tablaCXCFacturas.dataTable tbody tr.Highlight>.sorting_1 {
    background-color: rgb(247, 194, 49);
}

table#tablaCXCFacturas.dataTable tbody tr.Highlight {
    background-color: rgb(247, 194, 49);
}

.modal-md {
    width: 1300px !important;
}