/* DISEÑO TABLA */

table.dataTable td {
    border-left: 0px solid #000 !important;
    border-right: 1px solid #000 !important;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    font-weight: bold !important;
    font-size: 16px;
    background-color: #dbdbdb !important;
}

table.dataTable tr.dtrg-group td {
    text-align: left !important;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td,
table.dataTable tr.dtrg-group.dtrg-level-2 td,
table.dataTable tr.dtrg-group.dtrg-level-3 td,
table.dataTable tr.dtrg-group.dtrg-level-4 td,
table.dataTable tr.dtrg-group.dtrg-level-5 td {
    font-weight: bold !important;
    background-color: #e4e4e4 !important;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: .9em;
}

table.dataTable thead {
    /* font-size: 15px; */
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

/* END: DISEÑO TABLA */

.modal-header {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#btnFiltroLimpiar {
    margin-right: 15px;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.inputRangoEdad {
    width: 50% !important;
}

.inputTextArea {
    width: 100% !important;
}

/* .toggle {
    width: 20% !important;
} */

.modal-lg {
    width: 1250px !important;
}

.marginBottom {
    margin-bottom: 1%;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.checkAplica {
    height: 20px;
    width: 20px
}

.grupoEmpleado {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: white;
}

.swal2-container {
    z-index: 2060;
}

table#tablaCXCFacturas.dataTable tbody tr.Highlight>.sorting_1 {
    background-color: rgb(247, 194, 49);
}

table#tablaCXCFacturas.dataTable tbody tr.Highlight {
    background-color: rgb(247, 194, 49);
}

tr.odd td:first-child,
tr.even td:first-child {
    padding-left: 4em;
}

.tdBorde {
    border-top: 2px solid black !important;
}