.numerico {
    text-align-last: right;
}

input.numerico.inputClave {
    text-align-last: center;
}

div.modal-dialog.modal-lg {
    width: 90%;
}

#tablaEquipos tbody tr td .col-md-2,
#tablaEquipos tbody tr td .col-md-10 {
    margin: 0;
    padding: 0;
}

.spanSizeRadio {
    font-size: smaller;
    font-style: italic;
    font: -webkit-mini-control;
}


#modalDetalles .modal {
    display: block !important;
}

#modalDetalles .modal-dialog {
    overflow-y: initial !important;
}

[id^=ui-id] {
    z-index: 8000 !important;
}

@media (min-width: 1200px) {
    #modalDetalles .modal-body {
        font-size: 12px;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    input[type="radio"], input[type="checkbox"] {
        font-size: 10;
        padding: 0px;
    }

    div.modal-dialog.modal-lg {
        width: 99% !important;
    }

    div.col-lg-1 {
        padding: 8px !important;
        font-size: 11px !important;
    }
}

@media screen and (min-device-width: 1680px) and (max-device-width: 1980px) and (-webkit-min-device-pixel-ratio: 1) {
    #modalDetalles .modal-body {
        height: 750px;
        overflow-y: auto;
    }
}

button.btnCollapse,
button.btnCollapse:hover,
button.btnCollapse:focus,
button.btnCollapse:active:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


    button.btnCollapse.collapsed {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

        button.btnCollapse.collapsed > i::before {
            content: "\f067";
        }

    button.btnCollapse > i::before {
        content: "\f068";
    }


button.btnEditInsumo,
button.btnEditInsumo:hover,
button.btnEditInsumo:focus,
button.btnEditInsumo:active:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btnEditInsumo > i::before {
    content: "\f044";
}

button.btnAceptarInsumo,
button.btnAceptarInsumo:hover,
button.btnAceptarInsumo:focus,
button.btnAceptarInsumo:active:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btnAceptarInsumo > i::before {
    content: "\f0c7";
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 96%;
}

.ui-dialog {
    z-index: 2147483647 !important;
}

