button.pull-right{
       padding: 1px 12px !important;
}
button>i.fa-minus-circle{
    margin-top: 3px;
    color: red;
}

[id^=ui-id]{
    z-index: 8000 !important;
}

div.blockUI.blockOverlay{
    z-index: 9000 !important;
}

/* div.panel-heading{
    background-color: #EB8825 !important;
}

div.panel-primary{
    border-color: #EB8825 !important;
} */