div.titulo>h2{
    margin-top: 20px;
}

#tablaCapturas tr {
    text-align: right !important;
} 

#tablaCapturas tfoot > th { 
    white-space: nowrap; 
}

.dataTables_scrollFootInner {
    padding:0 !important;
}
