@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/Content/style/css/Maquinaria/Reporte/RepAnalisisUtilizacion.css" rel="stylesheet" />
<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.min.css" rel="stylesheet" />
<h1 class="text-center">Presupuesto Horas Máquina.</h1>
<fieldset class="fieldset-custm">
    <legend class="legend-custm">Filtro</legend>
    <div class='col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Area-Cuenta</span>
            <select id='selAC' class='form-control'></select>
        </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Tipo</span>
            <select id='selTipo' class='form-control'></select>
        </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Grupo</span>
            <select id='selGrupo' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Modelo</span>
            <select id='selModelo' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 '>
        <div class='input-group'>
            <span class='input-group-addon'>Economico</span>
            <select id='selCC' class='form-control' multiple></select>
        </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
        <div class=" row">
            <div class="col-lg-6">
                <div class='input-group'>
                    <span class='input-group-addon'>Inicio</span>
                    <input type='text' id='dtIni' class='form-control fecha'>
                </div>
            </div>
            <div class="col-lg-6">
                <div class='input-group'>
                    <span class='input-group-addon'>Fin</span>
                    <input type='text' id='dtFin' class='form-control fecha'>
                </div>
            </div>
        </div>

    </div>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
        <div class='input-group'>
            <span class='input-group-addon'>Ritmo</span>
            <input id='inpMinRitmo' type='text' class='form-control' value="0">
            <span class='input-group-btn' style='width:0px;'></span>
            <input id='inpMaxRitmo' type='text' class='form-control' value="200" />
        </div>
    </div>


    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class='radioBtn btn-group'>
                    <a class='btn btn-primary active' data-toggle='radMoneda' data-title='0'>Todos</a>
                    <a class='btn btn-primary notActive' data-toggle='radMoneda' data-title='1'>MX</a>
                    <a class='btn btn-primary notActive' data-toggle='radMoneda' data-title='2'>USD</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <button id='btnBuscar' type='button' class='btn btn-primary'><i class='fa fa-search'></i> Buscar</button>
                <button id='btnReporte' type='button' class='btn btn-primary'><i class='fa fa-print'></i> Reporte</button>
                <button id='btnExport' type='button' class='btn btn-success'><i class='fa fa-table'></i> Exportar</button>
            </div>
        </div>

    </div>


</fieldset>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Análisis</legend>
    <div class='table-responsive'>
        <table id='tblAnalisis' class='table table-fixed table-responsive table-striped'>
            <thead class='bg-table-header'>
                <tr>
                    <th>Economico</th>
                    <th>Grupo</th>
                    <th>Modelo</th>
                    <th>HI</th>
                    <th>HF</th>
                    <th>HT</th>
                    <th>Prom. H. Semanal</th>
                    <th>Total Renta USD</th>
                    <th>Total Renta MX</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7"></td>
                    <td id="totalUSD" class="text-right"></td>
                    <td id="totalMX" class="text-right"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</fieldset>
<script src="~/Scripts/js/Maquinaria/Reporte/RepAnalisisUtilizacion.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
@Html.Partial("reportViewerView", false)