@{
    ViewBag.Title = "Ficha técnica y asignación inventario";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/Maquinaria/Style-Generales.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Ficha Técnica</h1>
    </div>
    <div class="row">

       
        <div class="row container-fluid">
            <img class="img-info" src="@Url.Content("~/Content/img/logo/CAR-001.png")" id="img">
            <h2><label>No Economico: </label><label id="tbnoEconomico"></label></h2>
        </div>
        <div id="objective">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Ficha :</legend>
                <div class="row">
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Descripcion:</label>
                        <input type="text" name="" value="CARGADOR FRONTAL S/NEUMATICOS" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Marca:</label>
                        <input type="text" name="" value="Caterpillar" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Modelo:</label>
                        <input type="text" name="" value="950H" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>No Serie:</label>
                        <input type="text" name="" value="CAT0950HCK5K00314" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Año:</label>
                        <input type="text" name="" value="2006" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Fecha Compra:</label>
                        <input type="date" name="" value="01-01-2006" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Propietario:</label>
                        <input type="text" name="" value="CONSTRUPLAN" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Ubicacion:</label>
                        <input type="text" name="" value="PATIO DE MAQUINARIA HERMOSILLO" class="form-control" disabled>
                    </div>

                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Horometro inicial:</label>
                        <input type="text" name="" value="0" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Horometro Actual:</label>
                        <input type="text" name="" value="12559" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Ultimo Paro:</label>
                        <input type="text" name="" value="01-09-2016" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Descripción Paro:</label>
                        <input type="text" name="" value="mantenimiento" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Ultimo Mantenimiento:</label>
                        <input type="text" name="" value="01-09-2016" class="form-control" disabled>
                    </div>
                    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
                        <label>Proximo Mantenimiento:</label>
                        <input type="text" name="" value="01-10-2016" class="form-control" disabled>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>






