/*Header*/
.header-titulo h3 {
    margin-top: 0px;
}

/*Tabla evaluaciones*/
#tablaEvaluaciones, #tablaSeguimientoFirmas {
    width: 100% !important;
}
#tablaEvaluaciones_wrapper table thead, #tablaSeguimientoFirmas_wrapper table thead {
    background-color: #3556ae !important;
    color: white !important;
}

/*Select2*/
.select2-container {
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px 4px 4px 0px!important;
    height: 34px !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555 !important;
}

/*Modal*/
.modal-header {
    padding: 0px;
    border-bottom: none;
    color: #fff;
    background-color: #3556ae;
}

#modalSeguimientoFirmas .modal-dialog {
    width: 1000px !important;
}

/*Seccion firma digital*/
#seccionParaFirmar {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1051; /*1 arriba de los modales de bootstrap*/
}

#inputNombreFirmante {
    position: absolute;
    left: 12%;
    top: 5%;
    width: 50%;
}

#botonCancelarFirma {
    position: absolute;
    left: 80%;
    top: 92%;
    z-index: 1051;
}

#botonGuardarFirma {
    position: absolute;
    left: 88%;
    top: 92%;
    z-index: 1051;
}