@{
    ViewBag.Title = "ReporteTiemposSolicitud";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<script src="~/Scripts/js/Maquinaria/Inventario/ReporteTiemposSolicitudJS.js"></script>

<div class="container-fluid">

    <div class="row form-group">
        <div class="text-center">
            <h3>Reporte para solicitudes de equipo</h3>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <label>AC:</label>
            <select class="form-control" id="cboListaCC" multiple></select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding-right">
                <label for="tbFechaIncio">Fecha Inicio:</label>
                <input type="text" id="tbFechaIncio" class="form-control" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding-right">
                <label for="tbFechaFin">Fecha Fin:</label>
                <input type="text" id="tbFechaFin" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <button type="button" class="btn btn-primary margin-top pull-right" id="btnImprimirReporte">
                <span class="glyphicon glyphicon-print"></span> Ver Reporte
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table id="tblSolcitudesAprobadas" class="display" cellspacing="0" width="100%">
                <thead class="bg-table-header">
                    <tr>
                        <th>Folio Solicitud</th>
                        <th>Administrador Maquinaria</th>
                        <th>Gerente Obra</th>
                        <th>Director Areá</th>
                        <th>Director Division</th>
                        <th>Director General</th>
                        <th>Asigno Director Maquinaria y Equipo</th>
                        <th>Tiempo para la asignacion de equipo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@Html.Partial("reportViewerView", false)
