@{
    ViewBag.Title = "ReporteVacantes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script src="~/Scripts/js/Maquinaria/Inventario/RptVacantesAsignadosObraJS.js"></script>

<link href="~/Content/style/datatables/datatables.css" rel="stylesheet" />
<script src="~/Scripts/Utilities/datatables/datatables.js"></script>
<style>
    tr.group {
        background-color: beige !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Reporte de Vacantes y Asignados en Obra</h2>
        </div>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Filtro Centro Costos</legend>
            <div class="col-xs-3 col-xs-3 col-md-5 col-lg-5">
                <label>AC:</label>
                <select class="form-control" id="cboListaCC"></select>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="fieldset-custm">
            <legend class="legend-custm">Detalle por Solicitudes</legend>
            <div class="col-lg-12">
                <table id="tblVistaSolicitudes" class="display" cellspacing="0">
                    <thead class="bg-table-header">
                        <tr>
                            <th>Centro Costos</th>
                            <th>Folio</th>
                            <th>Total de Equipos</th>
                            <th>Total Ocupadas</th>
                            <th>Total de Vacantes</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

            </div>
        </fieldset>
    </div>
</div>

<div id="modalDetalleSolicitud" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-ppal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center modal-bg">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center">Detalle Solicitud</h3>
            </div>
            <div class="modal-body">
                <div id="divSolDetalle">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">Detalle por descripción</legend>
                        <table id="tblVistaSolicitudesDet" class="display" cellspacing="0" width="100%">
                            <thead class="bg-table-header">
                                <tr>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th>Modelo</th>
                                    <th>Total</th>
                                    <th>Vacantes</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </div>
                <div id="divSolGrupo" class="hide">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm"> <span class="glyphicon glyphicon-home cursorClick" id="BntRegresar"> </span> Datalle por Economico</legend>
                        <table id="tblVistaSolicitudesGrupo" class="display" cellspacing="0" width="100%">
                            <thead class="bg-table-header">
                                <tr>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th>Economico</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>