body, html {
    margin: 0;
}

#divDocViewer {
    width: 100%;
    border-radius: 6px;
    background-color: whitesmoke;
    border: 1px grey;
}


.row {
    margin-right: 0;
    margin-left: 0
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@@keyframes spin {
     0% {
         transform: rotate(0);
     }

     100% {
         transform: rotate(360deg);
     }
 }

.divAnn {
    background-color: #dcdcdc;
    border: dashed 2px orange;
    margin: 20px;
    cursor: default;
    border-radius: 4px;
}

.selectedAnn {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: solid 1px Yellow;
}

#divAnn .ui-resizable-sw {
    background-color: Orange;
}

#divAnn .ui-resizable-ne {
    background-color: Orange;
}

#divAnn .ui-resizable-nw {
    background-color: Orange;
}

#divAnn .ui-resizable-se {
    bottom: -5px;
    height: 9px;
    right: -5px;
    width: 9px;
    background-color: Orange;
}

#divAnn .ui-icon {
    background-image: none;
}

.ui-state-disabled {
    opacity: 1;
    filter: alpha(opacity = 100);
}