#tblTabPuestos,
#tblTabEmpleadosActivos {
    font-size: 11px !important;
    width: 100% !important;
}

.thTextCenter {
    text-align: center !important;
}

.thActual {
    background-color: #74b934ad;
}

.thAnterior {
    background-color: #4d4d4dc7;
}