@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- CCS -->
<link href='~/Content/style/datatables/datatables.min.css' rel='stylesheet' />
<link href='~/Content/select2.css' rel='stylesheet' />
<link href="~/Content/style/css/RecursosHumanos/ActoCondicionCH/General.css" rel="stylesheet" />
<link href="~/Content/style/css/RecursosHumanos/ActoCondicionCH/Matriz.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- CONTAINER -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <h2>MATRIZ</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- PANEL FILTROS -->
            <div id="panelFiltro" class="panel panel-default panel-principal">
                <div class="panel-heading">
                    <h4 class="text-center">FILTRO DE BÚSQUEDA</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" id="btnFiltroBuscar"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PANEL FILTROS -->

            <!-- BODY -->
            <div id="panelGraficas" class="panel panel-default panel-principal">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id='tblMatriz' class='table table-hover table-bordered compact table-striped' width='100%'></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BODY -->
        </div>
    </div>
</div>
<!-- END: CONTAINER -->

<!-- SCRIPTS -->
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src='~/Scripts/select2.js'></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Administrativo/RecursosHumanos/ActoCondicionCH/Matriz.js"></script>
<!-- END: SCRIPTS -->