<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet' />
<link href="~/Content/style/css/Maquinaria/Reporte/CuadroComparativo/_formCCEquipo.css" rel="stylesheet" />
<h3 id="lblObra"></h3>
<h2 id="lblEquipo"></h2>
<h2 id="fechaElaboracion"></h2>
<div id="divAdquisicion" class="text-center"></div>
<fieldset class='fieldset-custm'>
    <legend class='legend-custm'>Detalles</legend>
    <div class='table-responsive'>
        <table id='tblDetalles' class='table table-fixed table-striped'>
            <thead class='bg-table-header'></thead>
            <tbody></tbody>
        </table>
    </div>
</fieldset>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>
<script src="~/Scripts/js/Maquinaria/Reporte/CuadroComparativo/_formCCEquipo.js"></script>