th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
#tblBonIncidencias{
    border-collapse: collapse;
}

th {
    font-size: 12px;
}

.fondoTotal {
    background-color: #494444 !important;
    font-weight:bold !important;
    color: white !important;
}

input[type="text"].monto{
    height:25px !important;
}
