/*th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
#tblBonIncidencias{
    border-collapse: collapse;
}

th {
    font-size: 12px;
}

.fondoTotal {
    background-color: #494444 !important;
    font-weight:bold !important;
    color: white !important;
}

input[type="text"].monto{
    height:25px !important;
}*/

th {
    font-size: 12px;
    text-align: center;
}

thead tr {
    background-color: #F29D4B !important;
}

.form-group {
    display: inline-block;
    margin: 5px;
}

.box-container {
    width: 14%;
    height: 100px;
    opacity: 0.4;
    transition: width 2s;
}

.box-container.clicked {
    width: 28%;
    opacity: 1;
}

.box-metas {
    opacity: 0.4;
    transition: width 2s;
    background: rgba(252, 176, 69, 0.5);
    background: linear-gradient(90deg, rgba(68, 80, 156, 0.2) 50%, rgba(48, 63, 159, 0.2) 100%);
}

.card {
    background: rgba(252, 176, 69, 0.5);
    background: linear-gradient(90deg, rgba(68, 80, 156, 0.2) 50%, rgba(48, 63, 159, 0.2) 100%);
}

.box-metas.clicked {
    opacity: 1;
    border: 1px solid #ccc;
}

.container-fluid {
    padding: 0;
}

.page-wrapper {
    margin-left: 0;
}

.row.RenderBody {
    /*background-color: whitesmoke;*/
}

@media screen and (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transform: translate(0, 0);
    }
}

table {
    width: 100% !important;
}

/*table tbody tr td {
    border: 0px solid white;
}*/



/*table thead tr th {
    border-bottom: 0px solid white !important;
}

table.dataTable {
    border-bottom: 0px solid white !important;
}

.dataTables_scrollBody {
    border-bottom: 0px solid white !important;
}*/

#modalAgregarProceso .modal-header,
#mdlFormMeta .modal-header,
#modalEvaluacionesPorProceso .modal-header,
#modalAltaEmpleado .modal-header,
#mdlFormPeso .modal-header,
#mdlFormMetas .modal-header,
#modalEvaluacion .modal-header {
    font-size: 15px;
    font-weight: bold;
    /* color: white;
    background: #448533;
    background: linear-gradient(40deg, #45cafc, #303f9f); */
    /*border: none;*/
}

.modal-xl {
    width: 80% !important;
    max-width: 80% !important;
}

/*BOOTSTRAP COLS - modifica los cols-xx-xx, sin padding para crear las áreas (secciones)*/
.no-gutter {
    padding: 0px 0px 0px 0px;
}

/*SELECT2*/
.select2-container {
    width: 100% !important;
}

/*GENERALES*/
.txt-bold {
    font-weight: bold;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.seccion {
    padding: 15px 25px 15px 25px;
    margin: 10px 5px;

    background-color: white;

    /*border: 1px solid #ececec;*/
    border-radius: 4px 4px;

    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

body {
    background-color: whitesmoke;
}

ul.ui-autocomplete {
    z-index: 1051 !important;
}

.totalAsist,
.inputPeru,
._horasTrabajadas {
    font-size: 9px !important;
    width: 48px !important;
    white-space: nowrap;
    display: inline-block;
}

.bonoDP,
.bonoDM,
.bonoPE,
.totalAsistTotal,
.totalHrsExtraTotal,
._diaExtra_Concepto {
    font-size: 9px !important;
    width: 66px !important;
    white-space: nowrap;
    display: inline-block;
}

table.dataTable {
    font-size: 9px !important;
}

.capturaPendiente {
    color: white;
    background-color: red;
}

._empleado {
    white-space: nowrap;
    font-size: 11px;
}

select.form-control.totalAsist {
    padding: 0;
}

._primaDominical {
    padding-bottom: 10px !important;
}

.botonTitulo {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}