@{
ViewBag.Title = "ReporteCapturaHorometros";
Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/css/Style-Reportes.css" rel="stylesheet" />
<script src="~/Scripts/js/Maquinaria/Captura/Diarias/ReporteCapturaHorometroJS.js"></script>
<div class="container-fluid">
    <div class="row text-center">
        <h2> Reporte de Captura de Horometros.</h2>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <fieldset class="fieldset-custm">
                <legend class="legend-custm">Filtros búsqueda:</legend>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div>
                            <div class="col-xs-12 col-md-12 col-lg-3">
                                <label> CC</label>
                                <select class="form-control" id="txtCCFiltro"></select>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-2">
                                <label>NO Economicos:</label>
                                <select id="cboEconomicos" class=" form-control"></select>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-2">
                                <label>Turno:</label>
                                <select id="cboTurno" class=" form-control">
                                    <option value="0">Todos</option>
                                    <option value="1">Turno 1</option>
                                    <option value="2">Turno 2 </option>
                                    <option value="3">Turno 3 </option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>Descripción Grupo</label>
                                <select id="cboGruposEquipo" class=" form-control"></select>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-2">
                                <label>Descripción Modelo:</label>
                                <select id="cboModeloEquipos" class=" form-control"></select>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-3">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <label for="hInicial">H Inicial:</label>
                                    <input type="text" id="hInicial" value="0" class="form-control" />
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <label for="HFinal">H Final:</label>
                                    <input type="text" id="HFinal" value="99999999" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-3">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <label for="fechaIni">Fecha Inicio:</label>
                                    <input type="text" id="fechaIni" class="form-control" />
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <label for="fechaFin">Fecha Fin:</label>
                                    <input type="text" id="fechaFin" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-2">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <label for="estatus">Estatus Activo:</label>
                                    <input type="checkbox" id="chkEstatus" class="form-control" checked />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-2 col-lg-2 form-group">
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-info margin-top" id="btnAplicarFiltros">
                                        <span class="glyphicon glyphicon-search"></span> Buscar
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-info margin-top" id="btnReporte">
                                        <span class="glyphicon glyphicon-print"></span> Imprimir
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divFilstroBusqueda">
            <ul class="nav nav-tabs">
                <li class="active"><a id="tabTitle1" data-toggle="tab" href="#ListaResguardos">Lista de horometros de equipos</a></li>
                <li><a id="tabTitle2" data-toggle="tab" href="#nuevoResguardo">Equipos por grupo de horometro </a></li>
            </ul>
            <div class="tab-content">
                <div id="ListaResguardos" class="tab-pane fade in active">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">Resultados Búsqueda:</legend>
                        <div class="row form-group">
                            <div class="col-lg-2 pull-right">
                                <label>Filtro Centro Costos:</label>
                                <select id="cboCentroCostos" class=" form-control"></select>
                            </div>
                            <div class="col-lg-2 pull-right">
                                <label>Total de horas trabajadas:</label>
                                <input type="text" id="tbTotalHoras" class="form-control" disabled style="margin-right: 30px;" />
                            </div>
                        </div>
                        <table id="gridResultado" class="table table-condensed table-hover table-striped text-center">
                            <thead class="bg-table-header">
                                <tr>
                                    <th data-column-id="Fecha" data-align="center" data-header-align="center">Fecha</th>
                                    <th data-column-id="Economico" data-formatter="economico" data-align="center" data-header-align="center" data-sortable="false">Economico</th>
                                    <th data-column-id="HorometroDesc" data-formatter="horometro" data-align="center" data-header-align="center" data-sortable="false">Ultimo Horometro</th>
                                    <th data-column-id="horasTrabajadas" data-formatter="editNumber" data-align="center" data-header-align="center" data-sortable="false" data-width="6%">Horas Trabajadas</th>
                                    <th data-column-id="HorometroAcumuladoDesc" data-formatter="horometroActual" data-align="center" data-header-align="center" data-sortable="false">Horometro Actual</th>
                                    <th data-column-id="Desfase" data-align="center" data-header-align="center" data-sortable="false">Horas Desafase</th>
                                    <th data-column-id="HorometroAcumuladoDesc" data-formatter="resultado" data-align="center" data-header-align="center" data-sortable="false">Horometro Acumulado</th>
                                    <th data-column-id="Turno" data-formatter="turno" data-align="center" data-header-align="center" data-sortable="false">Turno</th>
                                    <th data-column-id="CC" data-formatter="turno" data-align="center" data-header-align="center" data-sortable="false">Centro Costos</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </div>
                <div id="nuevoResguardo" class="tab-pane fade in">
                    <fieldset class="fieldset-custm">
                        <legend class="legend-custm">Resultados Búsqueda :</legend>
                        <table id="tlbHorometrosMayores" class="table table-condensed table-hover table-striped text-center">
                            <thead class="bg-table-header">
                                <tr>
                                    <th data-column-id="Fecha" data-align="center" data-header-align="center">Fecha</th>
                                    <th data-column-id="Economico" data-formatter="economico" data-align="center" data-header-align="center" data-sortable="false">Economico</th>
                                    <th data-column-id="HorometroActual" data-formatter="horometroActual" data-align="center" data-header-align="center" data-sortable="false">Horometro Actual</th>
                                    <th data-column-id="Desfase" data-align="center" data-header-align="center" data-sortable="false">Horas Desafase</th>
                                    <th data-column-id="HorometroAcumulado" data-formatter="resultado" data-align="center" data-header-align="center" data-sortable="false">Horometro Acumulado</th>
                                    <th data-column-id="Turno" data-formatter="turno" data-align="center" data-header-align="center" data-sortable="false">Turno</th>
                                    <th data-column-id="CC" data-formatter="turno" data-align="center" data-header-align="center" data-sortable="false">Centro Costos</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </div>
            </div>

        </div>
    </div>
</div>


@Html.Partial("reportViewerView", false)