@{
    ViewBag.Title = "ReporteHorometro";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<link href="~/Content/style/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style/datatables/dataTables.jqueryui.css" rel="stylesheet" />

<script src="~/Scripts/Utilities/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/Utilities/datatables/dataTables.jqueryui.js"></script>
<script src="~/Scripts/Utilities/datatables/datatables.min.js"></script>
<script src="~/Scripts/js/Maquinaria/Captura/Diarias/ReporteHorometro.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="fieldset-custm">
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                    <fieldset class="fieldset-custm" style="border-radius: 0px !important;">
                        <legend class="legend-custm">Filtros:</legend>
                        <div class="input-group col-md-12">
                            <div class="col-lg-5">
                                <label>AC:</label>
                                <select class="form-control" id="multiCC" multiple="multiple"></select>
                            </div>

                            <div class="col-lg-2" style="padding-left: 0px;">
                                <label>Fecha:</label>

                                <div class="row">
                                    <div class="col-lg-5">
                                        <input class="form-control" id="dpFechaInicio" style="border-radius: 0px; border-left: 0px;" />
                                    </div>

                                    <div class="col-lg-1">
                                        <b> A </b>
                                    </div>

                                    <div class="col-lg-5">
                                        <input class="form-control" id="dpFechaFin" style="border-radius: 0px; border-left: 0px;" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2" style="padding-left: 0px;">
                                <button type="button" class="btn btn-primary" id="btnBuscar" style="margin-top: 24px; margin-right: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Buscar
                                </button>
                                <button id="btnImprimir" class="btn btn-primary" style="margin-top: 24px; margin-right: 5px;" disabled><span class="glyphicon glyphicon-print"></span> Exportar</button>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                        <fieldset class="fieldset-custm" style="margin-top: 5px; border-radius: 0px !important;">
                            <legend class="legend-custm"></legend>
                            <table id="tblHorometros"></table>
                        </fieldset>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
